.hn__body {
  .hn__sidebar {

    &--card {
      border: 1px solid #C7C7C7;
      box-sizing: border-box;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
      border-radius: 5px;
      background-color: #fff;
    }

    &--contact {
      &-bottom {
        display: flex;
        justify-content: space-between;
        padding: 10px 35px;
        text-align: center;
        position: relative;

        p {
          margin-bottom: 0;
        }

        &:after {
          content: '';
          width: 1px;
          background-color: #DADADA;
          height: 90%;
          position: absolute;
          left: 50%;
          transform: translate(-50%, -50%);
          top: 50%;
        }
      }
    }

    &--img {
      position: relative;

      img {
        width: 100%;
      }

      &:before {
        content: '';
        background: #1C354E;
        border-radius: 5px 5px 0 0;
        height: 6px;
        position: absolute;
        width: 100%;
        bottom: 100%;
      }
    }

    &--logo {
      background-color: #fff;
      height: 86px;
      width: 86px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      position: absolute;
      transform: translate(-50%, 50%);
      left: 50%;
      bottom: 100%;
      z-index: -1;

      img {
        width: unset;
      }
    }

    &--personal {
      padding: 30px 0;
      text-align: center;
      position: relative;
      z-index: 0;
      border-bottom: 1px solid #DADADA;
    }

    &--job {
      @include setTextStyleColor(14px, 17px, 600, #A97C28);
      margin-bottom: 11px;
    }

    &--name {
      @include setTextStyleColor(18px, 22px, 600, #3C3C3C);
      margin-bottom: 5px;
    }

    &--gmail {
      @include setTextStyleColor(16px, 19px, 500, #636363);
    }

    &--text {
      @include setTextStyleColor(16px, 19px, 500, #373E4C);
    }

    &--star {
      @include setTextStyleColor(20px, 150%, 500, #EBA23D);
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        padding-left: 4px;
      }
    }

    &--achievements {
      margin-top: 16px;
      padding: 20px 37px;

      &-title {
        @include setTextStyleColor(16px, 19px, bold, #5C5C5C);
        margin-bottom: 18px;
      }

      &-list {
        display: flex;
        justify-content: center;
        margin-bottom: 16px;
      }

      &-item {
        width: 60px;
      }
    }

    &--info {
      &-item {
        border-bottom: 1px solid #D6D6D6;
        margin-bottom: 14px;

        &:last-child {
          border-bottom: none;
        }
      }

      &-title {
        @include setTextStyleColor(14px, 17px, 500, #787878);
        margin-bottom: 6px;
      }

      &-text {
        @include setTextStyleColor(16px, 19px, 600, #4A4A4A);
        margin-bottom: 15px;
      }
    }

    &--donate {
      border: 1px solid #BFBFBF;
      box-sizing: border-box;
      border-radius: 30px;
      background-color: transparent;
      padding: 15px 25px;
      width: 100%;
      margin-top: 8px;
    }
  }

  &--main {
    display: flex;
    flex-direction: column;
    height: 100%;

    &-nav {
      border-bottom: none;

      .nav-link {
        background: #E4E4E4;
        border-radius: 30px;
        padding: 16px 45px;
        transition: all 0.2s;
        margin-right: 16px;
        @include setTextStyleColor(16px, 19px, 600, #2F2F2F);

        svg {
          margin-right: 15px;
        }

        &:hover, &.active {
          background: linear-gradient(180deg, #6399B5 0%, #327295 100%);
          color: #fff;

          svg {
            path, rect {
              fill: #fff;
            }
          }
        }
      }
    }

    &-content {
      margin-top: 28px;
      height: 100%;

      .tab-pane {
        background: #FFFFFF;
        border: 0.5px solid #BEBEBE;
        box-shadow: 0 1px 2px rgba(100, 100, 100, 0.1);
        border-radius: 4px;
        height: 100%;
      }

      .introduce {
        padding: 32px;

        &-title, &-text {
          margin-bottom: 30px;
        }
      }

      .achievements {
        background-color: transparent !important;
        border: none !important;
        box-shadow: none !important;

        &__item {
          background-color: #fff;
        }

        &-title {
          margin-bottom: 3px;
        }

        &-text {
          line-height: 23px;
        }
      }

      .honors {
        position: relative;
        padding: 70px 36px 0;

        &__item {
          justify-content: space-between;
          padding: 35px 28px;
          background: #FAF5EE;
          box-shadow: 0 20px 60px rgba(241, 244, 248, 0.5);
          border-radius: 4px;
        }

        &-avt {
          width: 70px;
        }

        &:before {
          content: '';
          position: absolute;
          background-color: #F18D52;
          box-shadow: 0 1px 2px rgba(100, 100, 100, 0.1);
          border-radius: 4px 4px 0 0;
          top: 0;
          width: 100%;
          height: 4px;
          left: 0;
        }

        &:after {
          content: '';
          background-image: url("../../../../images/oval.svg");
          position: absolute;
          left: 50%;
          transform: translate(-50%, -30%);
          top: 0;
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          width: 65px;
          height: 65px;
        }

        &-title {
          margin-bottom: 11px;
        }

        &-des {
          @include setTextStyleColor(16px, 150%, 600, #7E7E7E);
        }

        &-donate {
          @include setTextStyleColor(40px, 150%, 500, #EBA23D);
          display: flex;
          align-items: center;
          margin-left: 40px;

          img {
            width: 26px;
            margin-left: 12px;
          }
        }
      }

      &_title {
        @include setTextStyleColor(18px, 22px, bold, #303030);
      }

      &_item {
        padding: 25px 30px 30px;
        display: flex;
        align-items: center;
        margin-bottom: 16px;
      }

      &_info {
        padding-left: 37px;
      }

      &_text {
        @include setTextStyleColor(16px, 32px, normal, #555555);
      }

      &_time {
        @include setTextStyleColor(14px, 150%, 500, #767676);
        margin-bottom: 11px;
      }

      &_pagination {
        display: flex;
        justify-content: center;
        padding-top: 25px;

        .page-link {
          @include setTextStyleColor(16px, 22px, 600, #1C4355);
          background-color: transparent;
          border: none;
          padding: 0;
          height: 36px;
          width: 36px;
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 0 5px;

          &.active, &:hover {
            color: #fff;
            background-color: #5891AD;
            border-radius: 50%;

            path {
              fill: #fff;
            }
          }

          &:focus {
            outline: none;
            box-shadow: none;
          }
        }
      }
    }
  }
}

#donate_star_modal {
  .modal {
    &-header {
      border-bottom: 1px solid #C4C4C4;
      padding: 0 0 18px;
    }

    &-dialog {
      max-width: 523px;
    }

    &-body {
      padding: 0;
    }

    &-content {
      position: relative;
      border-radius: 8px;
      padding: 25px 44px 36px 30px;

      &:after {
        content: '';
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        height: 8px;
        background: #F18D52;
        border-radius: 8px 8px 0 0;
      }
    }

    &-title {
      @include setTextStyleColor(24px, 150%, 600, #424242);
    }

    &-body {
      &_title {
        @include setTextStyleColor(16px, 19px, 600, #4A4A4A);
        margin: 20px 0 12px;
      }

      &_star-list {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
      }

      &_star-item {
        border: 1px solid #BFBFBF;
        box-sizing: border-box;
        border-radius: 30px;
        width: 101px;
        height: 44px;
        display: flex;
        justify-content: center;
        align-items: center;
        @include setTextStyleColor(16px, 19px, bold, #F3A056);
        background-color: #fff;

        img {
          margin-left: 4px;
        }
      }

      &_input {
        height: 36px;
        @include setTextStyleColor(16px, 19px, 500, #8B8B8B);
      }

      &_input, &_messages {
        width: 100%;
        padding: 0 16px;
        background-color: #F1F1F1;
        border: none;
      }

      &_messages {
        height: 178px;
        padding-top: 8px;
      }
    }

    &-footer {
      border-top: none;
      margin: auto;
      padding: 0;

      &_donate {
        border: 1px solid #BFBFBF;
        box-sizing: border-box;
        border-radius: 30px;
        width: 235px;
        height: 56px;
        display: flex;
        justify-content: center;
        align-items: center;
        @include setTextStyleColor(16px, 18px, 500, #373E4C);
      }
    }
  }
}