/*=============== Search CV ===============*/

/*=============== End Search CV ===============*/

/*=============== Post Job ===============*/

/*=============== End Post Job ===============*/

/*=============== Company Information ===============*/

/*=============== End Company Information ===============*/

/*=============== Buy Points ===============*/

/*=============== End Buy Points ===============*/

/*=============== DASHBOARD ===============*/

/*=============== End DASHBOARD ===============*/

/*=============== @include ===============*/

/*=============== End @include ===============*/

/*=============== @extend ===============*/

#list-candidate .status,
#list-candidate .application-date,
#list-candidate .vacancies .basic-info__job,
#list-candidate .name-candidate .text-default,
#list-candidate .name-candidate .job-title {
  overflow: hidden;
  display: -webkit-box;
  word-break: break-word;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

/*=============== End @extend ===============*/

p,
h1,
h2,
h3,
h4,
h5,
label {
  margin-bottom: 0;
}

button {
  border: none;
  background-color: transparent;
}

.sort path {
  fill: #555555;
}

.date-ranger {
  margin-left: 6px;
}

.date-ranger .calender {
  background: #F9F9F9;
  border-radius: 4px;
  padding: 5px 19px 4px 15px;
  cursor: pointer;
  width: 215px;
  font-size: 14px;
  line-height: 30px;
  font-weight: 500;
  color: #164256;
  border: none;
}

.date-ranger .calender:hover {
  background-color: #E7E7E7;
}

.date-ranger .calender:focus {
  box-shadow: none;
}

.date-ranger .calender::-moz-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-size: 14px;
  line-height: 30px;
  font-weight: 500;
  color: #164256;
  opacity: 1;
  /* Firefox */
}

.date-ranger .calender:-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-size: 14px;
  line-height: 30px;
  font-weight: 500;
  color: #164256;
  opacity: 1;
  /* Firefox */
}

.date-ranger .calender::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-size: 14px;
  line-height: 30px;
  font-weight: 500;
  color: #164256;
  opacity: 1;
  /* Firefox */
}

.date-ranger .calender:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  font-size: 14px;
  line-height: 30px;
  font-weight: 500;
  color: #164256;
}

.date-ranger .calender::-ms-input-placeholder {
  /* Microsoft Edge */
  font-size: 14px;
  line-height: 30px;
  font-weight: 500;
  color: #164256;
}

.date-ranger svg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 4%;
  cursor: pointer;
  width: 11px;
}

.input-hidden {
  position: absolute;
  opacity: 0;
  visibility: hidden;
}

.action__content--download {
  background: #EFEFEF;
  border-radius: 4px;
  width: 152px;
  height: 33px;
}

.content {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  -webkit-animation: coming-up-short 0.3s both;
          animation: coming-up-short 0.3s both;
}

.content__title {
  padding: 15px 20px 17px 20px;
  border-bottom: 1px solid #EBEBEB;
}

.content__title h4 {
  font-size: 18px;
  line-height: 21px;
  font-weight: 600;
  color: #06202D;
}

.content__title .total-list {
  font-size: 18px;
  line-height: 21px;
  font-weight: 600;
  color: #06202D;
  padding-left: 5px;
  overflow: hidden;
  display: -webkit-box;
  word-break: break-word;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.content__title--action {
  padding: 12px 20px 16px 20px;
  justify-content: flex-end;
}

.content__title--action .search__label {
  margin-right: 6px;
}

.content__list--title {
  background-color: #FAFAFA;
  border-bottom: 1px solid #EBEBEB;
  border-top: 1px solid #EBEBEB;
  min-height: 68px;
}

.content__list--title .checkbox-remove:after {
  content: "";
  position: absolute;
  height: 3px;
  width: 13px;
  background-color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content__list--title .checkbox-all:before {
  content: "";
  position: absolute;
  width: 3px;
  height: 8px;
  background-color: #fff;
  top: 49%;
  left: 49%;
  transform: rotate(-45deg) translateX(-50%) translateY(-50%);
}

.content__list--title .checkbox-all:after {
  content: "";
  position: absolute;
  width: 3px;
  height: 12px;
  background-color: #fff;
  top: 49%;
  left: 40%;
  transform: rotate(45deg) translateX(-50%) translateY(-50%);
}

.content__list--title .list-title {
  min-height: 33px;
}

.edit__status--label {
  min-width: 130px;
}

.candidate-select2-dropdown {
  border: none;
  -webkit-animation: show-height 0.2s both;
          animation: show-height 0.2s both;
}

.select2-container--default.select2-container--open .select2-selection--single {
  background-color: #164256;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent #fff transparent;
  border-width: 0 6px 7px 6px;
  top: 46%;
  left: unset;
  margin: 0;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__rendered,
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__placeholder {
  color: #fff;
}

.daterangepicker {
  -webkit-animation: show-date 0.3s both;
          animation: show-date 0.3s both;
  z-index: 1;
}

.daterangepicker .ranges li.active {
  background-color: #164256;
}

.daterangepicker td.active {
  background-color: #164256;
}

.daterangepicker td.active:hover {
  background-color: #164256;
}

.daterangepicker .drp-buttons .applyBtn {
  background-color: #E8583C;
  border: none;
}

.daterangepicker .drp-buttons .applyBtn:focus,
.daterangepicker .drp-buttons .applyBtn:active {
  box-shadow: none !important;
  border: none;
  background-color: transparent;
}

.daterangepicker .drp-buttons .applyBtn:hover {
  background-color: #E8583C;
}

.header-shadow {
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.08);
}

.height__list--body {
  counter-reset: rowNumber;
}

.height__list--body .numerical-order:first-child {
  counter-increment: rowNumber;
}

.height__list--body .numerical-order:first-child:before {
  content: counter(rowNumber);
  font-size: 16px;
  line-height: 22px;
  font-weight: bold;
  color: #555555;
}

/*===============================LIST JOB==========================*/

#list-candidate {
  overflow: hidden;
  margin-top: 43px;
}

#list-candidate .export-btn {
  font-size: 14px;
  line-height: 30px;
  font-weight: 500;
  color: #164256;
  background-color: #F9F9F9;
  margin-left: 6px;
  padding: 0 14px;
  height: 39px;
  border-radius: 4px;
}

#list-candidate .export-btn svg {
  margin-right: 8px;
}

#list-candidate .export-btn:hover {
  background-color: #E7E7E7;
}

#list-candidate .export-btn:active {
  transform: scale(0.95);
}

#list-candidate .search__form .search__label {
  width: 283px;
}

#list-candidate .search__form .search__label .search__input {
  background: #F9F9F9;
  border-radius: 4px;
  border: none;
  padding: 4px 12px;
  height: 40px;
  width: 100%;
  font-size: 14px;
  line-height: 30px;
  font-weight: 500;
  color: #164256;
}

#list-candidate .search__form .search__label .search__input::-moz-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-size: 14px;
  line-height: 30px;
  font-weight: 500;
  color: #164256;
  opacity: 1;
  /* Firefox */
}

#list-candidate .search__form .search__label .search__input:-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-size: 14px;
  line-height: 30px;
  font-weight: 500;
  color: #164256;
  opacity: 1;
  /* Firefox */
}

#list-candidate .search__form .search__label .search__input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-size: 14px;
  line-height: 30px;
  font-weight: 500;
  color: #164256;
  opacity: 1;
  /* Firefox */
}

#list-candidate .search__form .search__label .search__input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  font-size: 14px;
  line-height: 30px;
  font-weight: 500;
  color: #164256;
}

#list-candidate .search__form .search__label .search__input:focus::-moz-placeholder {
  color: transparent;
}

#list-candidate .search__form .search__label .search__input:focus:-ms-input-placeholder {
  color: transparent;
}

#list-candidate .search__form .search__label .search__input:focus::placeholder {
  color: transparent;
}

#list-candidate .content__title--action-right .user-upload__label {
  margin-right: 6px;
}

#list-candidate .content__title--action-right .search__label {
  width: 270px;
}

#list-candidate .select2-container .select2-search--inline .select2-search__field {
  height: 100%;
  margin: 0 0 0 12px;
}

#list-candidate .select2-container .select2-search--inline .select2-search__field::-moz-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-size: 14px;
  line-height: 30px;
  font-weight: 500;
  color: #164256;
  opacity: 1;
  /* Firefox */
}

#list-candidate .select2-container .select2-search--inline .select2-search__field:-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-size: 14px;
  line-height: 30px;
  font-weight: 500;
  color: #164256;
  opacity: 1;
  /* Firefox */
}

#list-candidate .select2-container .select2-search--inline .select2-search__field::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-size: 14px;
  line-height: 30px;
  font-weight: 500;
  color: #164256;
  opacity: 1;
  /* Firefox */
}

#list-candidate .select2-container .select2-search--inline .select2-search__field:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  font-size: 14px;
  line-height: 30px;
  font-weight: 500;
  color: #164256;
}

#list-candidate .select2-container .select2-search--inline .select2-search__field:focus::-moz-placeholder {
  color: transparent;
}

#list-candidate .select2-container .select2-search--inline .select2-search__field:focus:-ms-input-placeholder {
  color: transparent;
}

#list-candidate .select2-container .select2-search--inline .select2-search__field:focus::placeholder {
  color: transparent;
}

#list-candidate .content__list--title {
  background-color: #FAFAFA;
  min-height: 48px;
}

#list-candidate .content__list--title .application-date {
  cursor: pointer;
}

#list-candidate .content__list--title .candidate-select2-selection {
  height: 33px;
}

#list-candidate .content__list--title .candidate-select2-selection .select2-selection__rendered {
  line-height: 34px;
}

#list-candidate .content__list--title .select2-container--default .candidate-select2-selection .select2-selection__arrow b {
  top: 38%;
}

#list-candidate .numerical-order {
  min-width: 100px;
}

#list-candidate .name-candidate {
  width: 334px;
  padding-right: 40px;
}

#list-candidate .name-candidate .name-avt {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 44px;
  width: 44px;
  margin-right: 15px;
  min-width: 44px;
  border-radius: 50%;
}

#list-candidate .name-candidate .text-default {
  margin-bottom: 0;
}

#list-candidate .vacancies {
  width: 370px;
  padding-right: 100px;
}

#list-candidate .application-date {
  width: 202px;
  padding-right: 30px;
}

#list-candidate .status {
  width: 193px;
}

#list-candidate .list__title--item .text-list-title {
  display: flex;
  align-items: center;
}

#list-candidate .list__title--item .text-list-title .arrow-sort {
  height: 15px;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  margin-left: 5px;
}

#list-candidate .candidate__list--body {
  max-height: 859px;
  overflow: auto;
  width: 100%;
  min-height: 444px;
}

#list-candidate .candidate__list--body .lazy-loading {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
  color: #454545;
  height: 86px;
}

#list-candidate .candidate__list--body::-webkit-scrollbar {
  padding-right: 0;
  width: 5px;
  background-color: transparent;
  border-radius: 5px;
}

#list-candidate .candidate__list--body::-webkit-scrollbar-thumb {
  background-color: #C4C4C4;
  border-radius: 5px;
}

#list-candidate .candidate__list--body::-webkit-scrollbar-thumb:hover {
  background-color: #C4C4C4;
}

#list-candidate .candidate__list--body .list__content--item {
  height: 86px;
  position: relative;
}

#list-candidate .candidate__list--body .list__content--item:after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 1px;
  width: 97%;
  background-color: #F0F0F0;
  left: 50%;
  transform: translateX(-50%);
}

#list-candidate .candidate__list--body .list__content--item .status span {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  border-radius: 30px;
  padding: 1px 11px;
}

@-moz-document url-prefix()  {
  #list-candidate .candidate__list--body.scroller {
    scrollbar-color: #C4C4C4 transparent;
    scrollbar-width: thin;
  }
}

#list-candidate .name-candidate {
  display: inline-block;
}

#list-candidate .name-candidate .job-title {
  font-size: 14px;
  line-height: 22px;
  font-weight: normal;
  color: #848484;
}

#list-candidate .name-candidate .text-default {
  color: #454545;
  -webkit-line-clamp: 2;
}

#list-candidate .vacancies .basic-info__job {
  -webkit-line-clamp: 2;
}

#list-candidate .application-date .basic-info__job {
  margin-left: 12px;
}

#list-candidate .status {
  display: flex;
  justify-content: center;
  margin-right: 55px;
}

#list-candidate .action {
  margin-left: 13px;
}

#list-candidate .dropdown {
  background: #F4F4F4;
  border-radius: 4px;
}

#list-candidate .list-action .list-action--button {
  width: 111px;
  height: 35px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #1C4355;
  padding: 0;
}

#list-candidate .list-action .list-action--button svg {
  margin-left: 6px;
}

#list-candidate .list-action .list-action--button:focus {
  box-shadow: none;
}

#list-candidate .list-action .button-active {
  background-color: #1C4355;
  color: #fff;
}

#list-candidate .list-action .button-active svg path {
  fill: #fff;
}

#list-candidate .list-action .dropdown-menu {
  -webkit-animation: show-date 0.2s both;
          animation: show-date 0.2s both;
  left: unset !important;
  right: 0 !important;
  top: 34px !important;
  box-shadow: 0 3px 5px rgba(9, 30, 66, 0.2), 0 0 1px rgba(9, 30, 66, 0.31);
  border-radius: 3px;
  border: none;
}

#list-candidate .list-action .dropdown-menu .dropdown-item {
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
  color: #172B4D;
  padding: 6px 16px;
}

#list-candidate .list-action .dropdown-menu .dropdown-item:hover {
  background-color: #D93E21;
  color: #fff;
}

#list-candidate .background-shadow {
  background: #FFFFFF;
  box-shadow: 0px -3px 4px rgba(0, 0, 0, 0.08);
  height: 50px;
}

#list-candidate .list__action--item {
  margin-right: 40px;
}

.select2-container--default .select2-selection--single {
  background: #F9F9F9;
  border-radius: 4px;
  border: none;
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
  color: #164256;
  box-shadow: none;
  height: 40px;
  padding-bottom: 0;
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: #164256;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  font-size: 14px;
  line-height: 40px;
  font-weight: 500;
  color: #164256;
  padding: 0 30px 0 15px;
}

.select2-container--default .select2-selection--single:focus {
  outline: none;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 33px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  border-color: #164256 transparent transparent transparent;
  border-width: 7px 6px 0 6px;
  top: 46%;
  margin: 0;
  left: unset;
}

.select2-container--default .select2-results {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.select2-container--default .select2-results .select2-results__options::-webkit-scrollbar {
  padding-right: 0;
  width: 5px;
  background-color: transparent;
  border-radius: 5px;
}

.select2-container--default .select2-results .select2-results__options::-webkit-scrollbar-thumb {
  background-color: #C4C4C4;
  border-radius: 5px;
}

.select2-container--default .select2-results .select2-results__options::-webkit-scrollbar-thumb:hover {
  background-color: #C4C4C4;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: #D93E21;
}

.select2-results__option {
  overflow: hidden;
  height: 33px;
  font-size: 14px;
  line-height: 23px;
  font-weight: 500;
  color: #164256;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
  border: none;
}

/*===============================MODAL==========================*/

#edit_status_candidate_modal .modal-dialog {
  max-width: 543px;
}

#edit_status_candidate_modal .modal-dialog .modal-header {
  font-size: 18px;
  line-height: 21px;
  font-weight: 500;
  color: #555555;
  padding: 22px 38px;
}

#edit_status_candidate_modal .modal-dialog .modal-body {
  padding: 42px 42px 52px;
}

#edit_status_candidate_modal .modal-dialog .modal-body .text-default {
  margin-bottom: 10px;
}

#edit_status_candidate_modal .modal-dialog .modal-footer {
  background: #F3F3F3;
  border-radius: 0 0 4px 4px;
}

#edit_status_candidate_modal .modal-dialog .modal-footer .btn-cancel {
  background: #D9D9D9;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.043);
  border-radius: 4px;
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
  color: #4D4D4D;
}

#edit_status_candidate_modal .modal-dialog .modal-footer .btn-save {
  background: linear-gradient(90.19deg, #D63A1C 0.17%, #EA5B40 99.87%);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.043);
  border-radius: 4px;
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
  color: #fff;
}

#edit_status_candidate_modal .modal-dialog .modal-footer .btn-cancel,
#edit_status_candidate_modal .modal-dialog .modal-footer .btn-save {
  width: 170px;
  height: 39px;
}

#candidate_note_modal .modal-dialog {
  max-width: 536px;
}

#candidate_note_modal .modal-dialog .modal-header {
  padding: 22px 38px;
}

#candidate_note_modal .modal-dialog .modal-header h5 {
  font-size: 18px;
  line-height: 21px;
  font-weight: 500;
  color: #555555;
}

#candidate_note_modal .modal-dialog .modal-body {
  padding: 44px 40px;
}

#candidate_note_modal .modal-dialog .modal-body--label {
  width: 100%;
}

#candidate_note_modal .modal-dialog .modal-body--note {
  background: #F8F8F8;
  border: 1px solid #CECCCC;
  box-sizing: border-box;
  border-radius: 2px;
  font-size: 16px;
  line-height: 19px;
  font-weight: normal;
  color: #353535;
  width: 100%;
  min-height: 169px;
  padding: 12px 17px;
}

#candidate_note_modal .modal-dialog .modal-body--note::-moz-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-size: 16px;
  line-height: 19px;
  font-weight: normal;
  color: #999999;
  opacity: 1;
  /* Firefox */
}

#candidate_note_modal .modal-dialog .modal-body--note:-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-size: 16px;
  line-height: 19px;
  font-weight: normal;
  color: #999999;
  opacity: 1;
  /* Firefox */
}

#candidate_note_modal .modal-dialog .modal-body--note::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-size: 16px;
  line-height: 19px;
  font-weight: normal;
  color: #999999;
  opacity: 1;
  /* Firefox */
}

#candidate_note_modal .modal-dialog .modal-body--note:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  font-size: 16px;
  line-height: 19px;
  font-weight: normal;
  color: #999999;
}

#candidate_note_modal .modal-dialog .modal-body--note:focus::-moz-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: transparent;
}

#candidate_note_modal .modal-dialog .modal-body--note:focus:-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: transparent;
}

#candidate_note_modal .modal-dialog .modal-body--note:focus::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: transparent;
}

#candidate_note_modal .modal-dialog .modal-body--note:focus:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: transparent;
}

#candidate_note_modal .modal-dialog .modal-body--note:focus::-ms-input-placeholder {
  /* Microsoft Edge */
  color: transparent;
}

#candidate_note_modal .modal-dialog .modal-footer {
  background: #F3F3F3;
  border-radius: 0 0 4px 4px;
  border-top: none;
}

#candidate_note_modal .modal-dialog .modal-footer .btn-cancel,
#candidate_note_modal .modal-dialog .modal-footer .btn-save {
  width: 170px;
  height: 39px;
  padding: 0;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.043);
  border-radius: 4px;
}

#candidate_note_modal .modal-dialog .modal-footer .btn-cancel {
  background: #D9D9D9;
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
  color: #4D4D4D;
}

#candidate_note_modal .modal-dialog .modal-footer .btn-save {
  background: linear-gradient(90.19deg, #D63A1C 0.17%, #EA5B40 99.87%);
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
  color: #fff;
}

@media screen and (max-width: 1499.98px) {
  #list-candidate .content__title--action-right .search__label {
    width: 260px;
  }

  #list-candidate .numerical-order {
    min-width: 75px;
  }

  #list-candidate .name-candidate {
    width: 260px;
    padding-right: 20px;
  }

  #list-candidate .vacancies {
    width: 310px;
    padding-right: 30px;
  }

  #list-candidate .application-date {
    width: 140px;
    padding-right: 0;
  }

  #list-candidate .status {
    width: 160px;
    margin-right: 18px;
  }
}

@media screen and (max-width: 1199.98px) {
  #list-candidate .list-action .list-action--button {
    width: 75px;
    font-size: 12px;
    line-height: 14px;
    font-weight: 500;
  }

  #list-candidate .list-action .list-action--button svg {
    margin-left: 2px;
    margin-bottom: 1px;
    width: 7px;
  }

  #list-candidate .list-action .dropdown-menu .dropdown-item {
    font-size: 12px;
    line-height: 20px;
    font-weight: normal;
  }

  #list-candidate .candidate__list--body .list__content--item .status span {
    font-size: 11px;
    padding: 0 7px;
    display: inline-flex;
  }

  #list-candidate .search__form .search__label {
    width: 210px;
  }

  #list-candidate .search__form .search__label .search__input {
    font-size: 12px;
    line-height: 30px;
    font-weight: 500;
  }

  #list-candidate .search__form .search__label .search__input::-moz-placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-size: 12px;
    line-height: 30px;
    font-weight: 500;
    color: #164256;
    opacity: 1;
    /* Firefox */
  }

  #list-candidate .search__form .search__label .search__input:-ms-input-placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-size: 12px;
    line-height: 30px;
    font-weight: 500;
    color: #164256;
    opacity: 1;
    /* Firefox */
  }

  #list-candidate .search__form .search__label .search__input::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-size: 12px;
    line-height: 30px;
    font-weight: 500;
    color: #164256;
    opacity: 1;
    /* Firefox */
  }

  #list-candidate .search__form .search__label .search__input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    font-size: 12px;
    line-height: 30px;
    font-weight: 500;
    color: #164256;
  }

  #list-candidate .search__form .search__label .search__input::-ms-input-placeholder {
    /* Microsoft Edge */
    font-size: 12px;
    line-height: 30px;
    font-weight: 500;
    color: #164256;
  }

  #list-candidate .content__title--action-right .search__label {
    width: 200px;
  }

  #list-candidate .export-btn {
    padding: 0 10px;
    font-size: 12px;
    line-height: 30px;
    font-weight: 500;
  }

  #list-candidate .calender {
    padding: 6px 10px 4px;
    width: 175px;
  }

  #list-candidate .numerical-order {
    min-width: 50px;
  }

  #list-candidate .name-candidate {
    width: 210px;
    padding-right: 20px;
  }

  #list-candidate .name-candidate .job-title {
    font-size: 12px;
    line-height: 18px;
    font-weight: normal;
  }

  #list-candidate .name-candidate .name-avt {
    height: 37px;
    width: 37px;
    min-width: 37px;
  }

  #list-candidate .vacancies {
    width: 275px;
    padding-right: 30px;
  }

  #list-candidate .application-date {
    width: 130px;
  }

  #list-candidate .status {
    width: 140px;
  }

  #list-candidate .action {
    margin-left: 0;
  }

  #list-candidate .list-action .list-action--button {
    height: 30px;
  }

  .date-ranger .calender {
    font-size: 12px;
    line-height: 30px;
    font-weight: 500;
  }

  .date-ranger .calender::-moz-placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-size: 12px;
    line-height: 30px;
    font-weight: 500;
    opacity: 1;
    /* Firefox */
  }

  .date-ranger .calender:-ms-input-placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-size: 12px;
    line-height: 30px;
    font-weight: 500;
    opacity: 1;
    /* Firefox */
  }

  .date-ranger .calender::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-size: 12px;
    line-height: 30px;
    font-weight: 500;
    opacity: 1;
    /* Firefox */
  }

  .date-ranger .calender:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    font-size: 12px;
    line-height: 30px;
    font-weight: 500;
  }

  .date-ranger .calender::-ms-input-placeholder {
    /* Microsoft Edge */
    font-size: 12px;
    line-height: 30px;
    font-weight: 500;
  }

  .date-ranger svg {
    width: 10px;
  }

  .select2-container--default .select2-selection--single .select2-selection__rendered {
    font-size: 12px;
    line-height: 40px;
    font-weight: 500;
  }

  .select2-container--default .select2-selection--single .select2-selection__placeholder {
    font-size: 12px;
    line-height: 40px;
    font-weight: 500;
  }

  .select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-width: 6px 5px 0 5px;
  }

  .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-width: 0 5px 6px 5px;
  }

  .select2-results__option {
    font-size: 12px;
    line-height: 23px;
    font-weight: 500;
  }
}

@media screen and (min-width: 992px) {
  .w-lg-unset {
    width: unset !important;
  }
}

@media screen and (max-width: 991.98px) {
  .pagination {
    justify-content: center;
    align-items: center;
    margin: 30px 0;
  }

  .pagination .page-item {
    margin: 0 4px;
    padding: 0;
  }

  .pagination .page-item .page-link {
    padding: 0;
    width: 66px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .pagination .page-item .active:focus {
    border: 1px solid #1C4355;
  }

  .pagination .page-item .page-item--lable span {
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
    color: #1C4355;
    margin-left: 11px;
    margin-right: 4px;
  }

  .pagination .page-item .page-item--lable .go-to__input {
    width: 50px;
    text-align: center;
    border: 1px solid #D9D9D9;
    border-radius: 2px;
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
    color: #1C4355;
    height: 32px;
  }

  .pagination .page {
    border: 1px solid #D9D9D9;
    height: 32px;
    width: 66px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
    color: #1C4355;
  }

  .pagination .prev,
  .pagination .next {
    height: 32px;
    width: 32px;
    border: 1px solid #D9D9D9;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .pagination .prev:active,
  .pagination .next:active {
    border: 1px solid #1C4355;
  }

  .pagination .disabled svg path {
    fill: #D9D9D9;
  }

  .pagination .page-link {
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
    color: #1C4355;
  }

  .pagination .page-link:focus {
    box-shadow: none;
  }

  .pagination .page-link:hover {
    background-color: transparent;
  }

  #list-candidate .content .content__title--action {
    flex-direction: column;
  }

  #list-candidate .list-action .list-action--button {
    font-size: 12px;
    line-height: 14px;
    font-weight: 500;
  }

  #list-candidate .content__title--action {
    width: 100%;
  }

  #list-candidate .content__title--action .search__form {
    width: 100%;
  }

  #list-candidate .content__title--action .search__form .search__label {
    margin-right: 0;
    width: 100%;
  }

  #list-candidate .content__title--action .search__form .search__label .search-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 3%;
  }

  #list-candidate .content__title--action-right {
    flex-direction: column;
  }

  #list-candidate .content__title--action-right .search__label {
    width: 100%;
    margin-right: 0;
  }

  #list-candidate .candidate__list--body {
    max-height: unset;
  }

  #list-candidate .candidate__list--body .list__content--item {
    border: 0.5px solid #BBBBBB;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    margin: 17px 15px;
    height: unset;
    position: relative;
  }

  #list-candidate .candidate__list--body .list__content--item .status span {
    padding: 2px 8px;
    font-size: 11px;
    line-height: 14px;
    font-weight: normal;
  }

  #list-candidate .candidate__list--body .lazy-loading {
    height: 0;
  }

  #list-candidate .name-candidate {
    width: 100%;
    background: #F4F4F4;
    border-radius: 4px 4px 0 0;
    padding: 15px 130px 15px 15px;
  }

  #list-candidate .name-candidate .text-default {
    font-size: 14px;
    line-height: 22px;
    font-weight: 500;
    color: #4A4A4A;
  }

  #list-candidate .name-candidate .job-title {
    font-size: 12px;
    line-height: 22px;
    font-weight: normal;
    color: #454545;
  }

  #list-candidate .vacancies {
    width: 100%;
    padding-right: 15px;
    display: flex;
    margin-bottom: 10px;
  }

  #list-candidate .application-date {
    width: 100%;
    display: flex;
  }

  #list-candidate .application-date .basic-info__job {
    margin-left: 0;
  }

  #list-candidate .status {
    position: absolute;
    right: 15px;
    top: 14px;
    width: unset;
    margin-right: 0;
  }

  #list-candidate .basic-info {
    width: 100%;
    flex-direction: column;
    padding: 16px 15px;
  }

  #list-candidate .basic-info .basic-info--content .basic-info__title {
    font-size: 12px;
    line-height: 14px;
    font-weight: 500;
    color: #555555;
    min-width: 100px;
    display: inline-block;
  }

  #list-candidate .basic-info .basic-info--content .basic-info__job {
    font-size: 12px;
    line-height: 14px;
    font-weight: normal;
    color: #454545;
  }

  #list-candidate .list-action {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #E8E8E8;
    padding: 13px 0;
  }

  #list-candidate .list-action .action-item {
    justify-content: center;
    background-color: #F4F4F4;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin: 0 3px;
  }

  #list-candidate .list-action .action-edit--status svg {
    width: 9px;
  }

  #list-candidate .list-action .action-delete svg {
    width: 13px;
  }

  #list-candidate .list-action .action-download svg {
    width: 18px;
  }

  #edit_status_candidate_modal .modal-dialog .modal-header h5 {
    font-size: 16px;
    line-height: 19px;
    font-weight: 500;
    color: #555555;
  }

  #edit_status_candidate_modal .modal-dialog .modal-footer .btn-cancel,
  #edit_status_candidate_modal .modal-dialog .modal-footer .btn-save {
    width: 155px;
  }

  #edit_status_candidate_modal .modal-dialog .modal-footer .btn-cancel {
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    color: #4D4D4D;
  }

  #edit_status_candidate_modal .modal-dialog .modal-footer .btn-save {
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    color: #fff;
  }

  #candidate_note_modal .modal-dialog .modal-header h5 {
    font-size: 16px;
    line-height: 19px;
    font-weight: 500;
    color: #555555;
  }

  #candidate_note_modal .modal-dialog .modal-body {
    padding: 20px;
  }

  #candidate_note_modal .modal-dialog .modal-body--note {
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
    color: #353535;
    min-height: 169px;
    padding: 12px 17px;
  }

  #candidate_note_modal .modal-dialog .modal-body--note::-moz-placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
    color: #999999;
    opacity: 1;
    /* Firefox */
  }

  #candidate_note_modal .modal-dialog .modal-body--note:-ms-input-placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
    color: #999999;
    opacity: 1;
    /* Firefox */
  }

  #candidate_note_modal .modal-dialog .modal-body--note::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
    color: #999999;
    opacity: 1;
    /* Firefox */
  }

  #candidate_note_modal .modal-dialog .modal-body--note:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
    color: #999999;
  }

  #candidate_note_modal .modal-dialog .modal-body--note::-ms-input-placeholder {
    /* Microsoft Edge */
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
    color: #999999;
  }

  #candidate_note_modal .modal-dialog .modal-footer .btn-cancel {
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    color: #4D4D4D;
    width: 40%;
  }

  #candidate_note_modal .modal-dialog .modal-footer .btn-save {
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    color: #fff;
    width: 50%;
  }
}

@media screen and (max-width: 767.98px) {
  .edit__status--label {
    width: 100%;
    min-width: unset;
    width: 140px;
  }

  #list-candidate .search__form .search__label .search__input {
    font-size: 12px;
    line-height: 30px;
    font-weight: 500;
    color: #164256;
  }

  #list-candidate .search__form .search__label .search__input::-moz-placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-size: 12px;
    line-height: 30px;
    font-weight: 500;
    color: #164256;
  }

  #list-candidate .search__form .search__label .search__input:-ms-input-placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-size: 12px;
    line-height: 30px;
    font-weight: 500;
    color: #164256;
  }

  #list-candidate .search__form .search__label .search__input::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-size: 12px;
    line-height: 30px;
    font-weight: 500;
    color: #164256;
  }

  #list-candidate .search__form .search__label .search__input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    font-size: 12px;
    line-height: 30px;
    font-weight: 500;
    color: #164256;
  }

  #list-candidate .search__form .search__label .search__input::-ms-input-placeholder {
    /* Microsoft Edge */
    font-size: 12px;
    line-height: 30px;
    font-weight: 500;
    color: #164256;
  }

  .select2-results__option--selectable {
    font-size: 12px;
    line-height: 23px;
    font-weight: 500;
  }

  .date-ranger svg {
    width: 10px;
  }

  .date-ranger .calender {
    width: 100%;
    padding: 5px 10px 4px 5px;
    font-size: 12px;
    line-height: 30px;
    font-weight: 500;
    color: #164256;
  }

  .date-ranger .calender::-moz-placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-size: 12px;
    line-height: 30px;
    font-weight: 500;
    color: #164256;
  }

  .date-ranger .calender:-ms-input-placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-size: 12px;
    line-height: 30px;
    font-weight: 500;
    color: #164256;
  }

  .date-ranger .calender::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-size: 12px;
    line-height: 30px;
    font-weight: 500;
    color: #164256;
  }

  .date-ranger .calender:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    font-size: 12px;
    line-height: 30px;
    font-weight: 500;
    color: #164256;
  }

  .date-ranger .calender::-ms-input-placeholder {
    /* Microsoft Edge */
    font-size: 12px;
    line-height: 30px;
    font-weight: 500;
    color: #164256;
  }

  .select2-container--default .candidate-select2-selection .select2-selection__rendered {
    font-size: 12px;
    line-height: 40px;
    font-weight: 500;
    color: #164256;
    padding-right: 15px;
  }

  .select2-container--default .candidate-select2-selection .select2-selection__arrow {
    height: 33px;
    right: -3px;
  }

  .select2-container--default .candidate-select2-selection .select2-selection__arrow b {
    border-width: 6px 5px 0 5px;
    top: 48%;
    margin-top: 0;
  }
}

