@charset "UTF-8";

/*=============== Search CV ===============*/

/*=============== End Search CV ===============*/

/*=============== Post Job ===============*/

/*=============== End Post Job ===============*/

/*=============== Company Information ===============*/

/*=============== End Company Information ===============*/

/*=============== Buy Points ===============*/

/*=============== End Buy Points ===============*/

/*=============== DASHBOARD ===============*/

/*=============== End DASHBOARD ===============*/

/*=============== @include ===============*/

/*=============== End @include ===============*/

/*=============== @extend ===============*/

.sc-detail__ava,
.sc-cv__item .item-image {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.sc-detail__moreinfo,
.sc-detail__job,
.sc-cv__item .item-moreinfo,
.sc-cv__item .item-job {
  overflow: hidden;
  display: -webkit-box;
  word-break: break-word;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

/*=============== End @extend ===============*/

.select2-container--default .searchcv-select2-dropdown,
.sc-search__dropdown .dropdown-menu {
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.select2-container--default .filtercv-select2-dropdown {
  margin: 0;
  padding: 0;
  border: none;
  border-top-left-radius: 3px !important;
  border-top-right-radius: 3px !important;
  overflow: hidden;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: #fff;
  box-shadow: 0 3px 5px rgba(9, 30, 66, 0.2), 0 0 1px rgba(9, 30, 66, 0.31);
}

.sc-cv__item .item-bookmark {
  padding: 0;
  border: none;
  background-color: transparent;
  display: flex;
}

.sc-cv__item .item-bookmark .fill {
  display: none;
}

.sc-cv__item .bookmarked.item-bookmark .empty {
  display: none;
}

.sc-cv__item .bookmarked.item-bookmark .fill {
  display: initial;
}

html,
body {
  overflow-y: auto;
}

.emp-box {
  margin-top: 43px;
  background-color: #fff;
  border: 0.5px solid #B8B8B8;
}

.sc-header {
  border-bottom: 1px solid #EBEBEB;
}

.sc-header__right {
  margin: 12px 0 8px 0;
}

.sc-title {
  padding: 0 5px;
  display: flex;
  align-items: center;
  width: 100%;
}

.sc-title__image {
  margin-right: 13px;
  position: relative;
  top: -1px;
}

.sc-title__text {
  font-size: 18px;
  line-height: 21px;
  font-weight: 500;
  color: #06202D;
}

.sc-search__label {
  margin-bottom: 0;
  padding-right: 11px;
}

.sc-search__input,
.sc-search__submit {
  width: 100%;
  height: 48px;
  padding: 0 12px;
  border: 1px solid #D9D9D9;
  border-radius: 0;
  white-space: nowrap;
  box-shadow: none;
  background-color: #fff;
  font-size: 14px;
  line-height: 22px;
  font-weight: normal;
  color: #06202D;
}

.sc-search__input::-moz-placeholder, .sc-search__submit::-moz-placeholder {
  color: #666666;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

.sc-search__input:-ms-input-placeholder, .sc-search__submit:-ms-input-placeholder {
  color: #666666;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}

.sc-search__input::placeholder,
.sc-search__submit::placeholder {
  color: #666666;
  transition: all 0.2s;
}

.sc-search__input:focus::-moz-placeholder, .sc-search__submit:focus::-moz-placeholder {
  color: #fff;
}

.sc-search__input:focus:-ms-input-placeholder, .sc-search__submit:focus:-ms-input-placeholder {
  color: #fff;
}

.sc-search__input:focus::placeholder,
.sc-search__submit:focus::placeholder {
  color: #fff;
}

.sc-search__submit {
  position: relative;
  width: 220px;
  border: none;
  background-color: transparent;
  background-image: linear-gradient(90.19deg, #D63A1C 0.17%, #EA5B40 99.87%);
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  color: #fff;
  overflow: hidden;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sc-search__submit:before {
  content: "\F002";
  font-family: "Font Awesome 5 Free", Roboto, Arial, Helvetica, sans-serif;
  font-weight: 900;
  position: relative;
  right: 100%;
  transition: all 0.3s;
  font-size: 0;
  padding-right: 0;
}

.sc-search__submit:hover {
  width: 250px;
}

.sc-search__submit:hover:before {
  right: 0;
  font-size: 18px;
  padding-right: 10px;
}

.sc-search__submit:active {
  transition: 0.1s;
  transform: scale(0.95);
}

.sc-search__gray-input {
  height: 34px;
  border: none;
  background-color: #F6F6F6;
  border-radius: 4px;
  transition: 0.2s;
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  color: #06202D;
  padding: 0 35px 0 12px;
}

.sc-search__gray-input:hover {
  background-color: #E7E7E7;
}

.sc-search__gray-input i {
  margin-left: 5px;
  font-size: 16px;
}

.sc-search__gray-input:before {
  position: absolute;
  right: 12px;
  content: "\F0D7";
  font-family: "Font Awesome 5 Free", "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 16px;
  transition: all 0.1s;
}

.sc-search__dropdown .sc-search__input {
  transition: all 0.2s;
  padding: 0 10px;
  text-align: center;
}

.sc-search__dropdown .sc-search__input i {
  font-size: 12px;
  margin-left: 10px;
}

.sc-search__dropdown .dropdown-menu {
  width: 211px;
  padding: 23px 20px;
}

.sc-search__dropdown.show .sc-search__gray-input {
  background-color: #06202D;
  color: #fff;
}

.sc-search__dropdown.show .sc-search__gray-input:before {
  transform: rotateX(180deg);
}

.sc-search__time {
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  color: #6D6D6D;
}

.sc-search__time-input {
  position: relative;
  width: 72px;
  height: 32px;
  border: 1px solid #D9D9D9;
  border-radius: 2px;
  padding: 0 5px;
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  color: #06202D;
  transition: all 0.2s;
}

.sc-search__time-input:focus {
  transform: scale(1.05);
}

.sc-search__time-submit,
.sc-search__time-reset {
  position: relative;
  height: 32px;
  padding: 0 12px;
  background-color: #D93E21;
  border-radius: 4px;
  border: none;
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  color: #fff;
  transition: all 0.1s;
}

.sc-search__time-submit:focus,
.sc-search__time-reset:focus {
  transform: scale(0.95);
}

.sc-search__time-reset {
  background-color: #E9E8E8;
  color: #06202D;
}

.sc-body__left {
  border-right: 1px solid #C4C4C4;
  position: relative;
  overflow: auto;
}

.sc-filter {
  padding: 8px 10px 5px 25px;
}

.sc-filter__left {
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  color: #464545;
  white-space: nowrap;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
}

.sc-filter__left-count {
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
  margin-left: 4px;
}

.sc-cv__list {
  overflow-y: auto;
}

.sc-cv__item {
  padding: 20px 20px 15px 35px;
  border-top: 1px solid #E7E7E7;
  transition: all 0.3s;
  cursor: pointer;
}

.sc-cv__item .item-left {
  padding-right: 35px;
  padding-top: 8px;
}

.sc-cv__item .item-right {
  flex: 1;
}

.sc-cv__item .item-image {
  width: 73px;
  min-width: 73px;
  max-width: 73px;
  height: 73px;
}

.sc-cv__item .item-name {
  word-break: break-word;
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
  color: #464545;
  margin-bottom: 5px;
}

.sc-cv__item .item-job {
  font-size: 16px;
  line-height: 19px;
  font-weight: normal;
  color: #464545;
  margin-bottom: 9px;
}

.sc-cv__item .item-moreinfo {
  font-size: 16px;
  line-height: 19px;
  font-weight: normal;
  color: #838383;
  margin-bottom: 5px;
}

.sc-cv__item .item-exyear {
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
  color: #464545;
  margin-left: 3px;
}

.sc-cv__item .item-location {
  font-size: 16px;
  line-height: 19px;
  font-weight: normal;
  color: #464545;
  margin-left: 3px;
}

.sc-cv__item .item-bookmark {
  position: absolute;
  top: -1px;
  left: 15px;
}

.sc-cv__item:hover {
  background-color: #F9F9F9;
}

.sc-detail {
  overflow: hidden;
  -webkit-animation: coming-up-short 0.3s both;
          animation: coming-up-short 0.3s both;
}

.sc-detail__info {
  padding: 20px 32px 20px 5px;
  border-bottom: 1px solid #C4C4C4;
}

.sc-detail__ava {
  width: 93px;
  min-width: 93px;
  height: 93px;
  border-radius: 50%;
  margin-right: 40px;
  margin-left: 40px;
}

.sc-detail__name {
  word-break: break-word;
  font-size: 18px;
  line-height: 21px;
  font-weight: 500;
  color: #06202D;
  margin-bottom: 5px;
}

.sc-detail__job {
  font-size: 16px;
  line-height: 19px;
  font-weight: normal;
  color: #464545;
  margin-bottom: 12px;
}

.sc-detail__moreinfo {
  font-size: 16px;
  line-height: 19px;
  font-weight: normal;
  color: #838383;
  margin-bottom: 5px;
}

.sc-detail__exyear {
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
  color: #464545;
  margin-left: 3px;
}

.sc-detail__location {
  font-size: 16px;
  line-height: 19px;
  font-weight: normal;
  color: #464545;
  margin-left: 3px;
}

.sc-detail__option {
  padding-right: 50px;
}

.sc-detail__option--short,
.sc-detail__option--long {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  background-color: #F9F9F9;
  border: none;
  border-radius: 4px;
  padding: 0;
  font-size: 16px;
  line-height: 19px;
  font-weight: normal;
  color: #06202D;
  margin: 7px 5px;
  transition: all 0.1s;
}

.sc-detail__option--short img,
.sc-detail__option--long img {
  margin-right: 8px;
}

.sc-detail__option--short:hover,
.sc-detail__option--long:hover {
  background-color: #E7E7E7;
}

.sc-detail__option--short:active,
.sc-detail__option--long:active {
  transform: scale(0.95);
}

.sc-detail__option--short {
  width: 123px;
}

.sc-detail__option--long {
  width: 150px;
}

.sc-detail__view {
  padding-top: 44px;
}

.sc-detail__viewhideinfo,
.sc-detail__opennewtab {
  font-size: 16px;
  line-height: 19px;
  font-weight: normal;
  color: #fff;
  height: 36px;
  border: none;
  border-radius: 4px;
  background-color: #1A3466;
  padding: 0 15px;
  transition: all 0.1s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sc-detail__viewhideinfo img,
.sc-detail__opennewtab img {
  margin-right: 8px;
  top: -1px;
}

.sc-detail__viewhideinfo:active,
.sc-detail__opennewtab:active {
  transform: scale(0.95);
}

.sc-detail__viewhideinfo.viewed,
.sc-detail__opennewtab.viewed {
  background-color: #2E9356;
}

.sc-detail__lastupdate {
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  color: #838383;
  padding-right: 10px;
}

.sc-detail__lastupdate .lastupdate-date {
  color: #464545;
  margin-left: 3px;
}

.sc-detail__opennewtab {
  font-size: 16px;
  line-height: 19px;
  font-weight: normal;
  color: #06202D;
  background-color: #F9F9F9;
  cursor: pointer;
}

.sc-detail__opennewtab:hover {
  color: #06202D;
  background-color: #E7E7E7;
}

.sc-detail__iframe {
  width: 100%;
  height: 100vh;
}

.th-pagination {
  border-top: 1px solid #E7E7E7;
}

.th-pagination__element {
  height: 32px;
  margin: 0 4px;
  border-radius: 2px;
  border: 1px solid #D9D9D9;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  color: #06202D;
}

.th-pagination__button {
  width: 32px;
}

.th-pagination__button:hover {
  border: 1px solid #06202D;
}

.th-pagination__button:active {
  transition: 0.1s;
  transform: scale(0.95);
}

.th-pagination__button:disabled {
  color: #D9D9D9;
  cursor: not-allowed;
}

.th-pagination__button:disabled:hover {
  border: 1px solid #D9D9D9;
}

.th-pagination__input {
  width: 70px;
  text-align: center;
}

.th-pagination__input:focus {
  border-color: #06202D;
}

.th-pagination__text {
  border: none;
}

.sc-cvopen {
  background: #F7FDF0;
  border: 1px solid #D0EBBB;
  border-radius: 2px;
  padding: 15px 40px;
}

.sc-cvopen__title {
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
  color: #464545;
  display: flex;
  align-items: center;
  margin-bottom: 19px;
}

.sc-cvopen__title i {
  color: #52C41A;
  font-size: 20px;
  margin-right: 10px;
}

.sc-cvopen__item {
  font-size: 16px;
  line-height: 19px;
  font-weight: normal;
  color: #464545;
  display: flex;
  align-items: center;
  margin-bottom: 7px;
  padding-left: 32px;
}

.sc-cvopen__item i {
  width: 20px;
  margin-right: 3px;
  font-size: 14px;
}

.sc-cvopen__bold {
  font-weight: 500;
}

.view-detail-cv__padding {
  padding: 0 100px;
}

.sc-unlock .modal-content {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 0 0 4px 4px;
  border: none;
}

.sc-unlock .modal-header {
  padding-top: 22px;
  padding-bottom: 21px;
  padding-left: 35px;
}

.sc-unlock .modal-header__close {
  display: flex;
  opacity: 1;
  padding-right: 30px;
}

.sc-unlock .modal-text {
  font-size: 16px;
  line-height: 19px;
  font-weight: normal;
  color: #464545;
  padding-bottom: 6px;
}

.sc-unlock .modal-title {
  font-size: 18px;
  line-height: 21px;
  font-weight: 500;
  color: #464545;
}

.sc-unlock .modal-button {
  width: 170px;
  height: 39px;
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
  color: #fff;
  border-radius: 4px;
  border: none;
  background-image: linear-gradient(90.19deg, #D63A1C 0.17%, #EA5B40 99.87%);
  position: relative;
  transition: all 0.1s;
}

.sc-unlock .modal-button:active {
  transform: scale(0.95);
}

.sc-unlock .modal-button:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

.sc-unlock .modal-not_enough {
  font-size: 16px;
  line-height: 19px;
  font-weight: normal;
  color: #FD1616;
}

.sc-unlock .modal-not_enough--link {
  color: #06202D;
  text-decoration: underline;
}

.select2-container--default .select2-selection:focus {
  outline: none;
}

.select2-container--default .searchcv-select2-selection {
  height: 48px;
  border: 1px solid #D9D9D9;
  border-radius: 0;
  transition: 0.2s;
}

.select2-container--default .searchcv-select2-selection .select2-selection__rendered {
  font-size: 14px;
  line-height: 46px;
  padding-left: 12px;
  padding-right: 35px;
  color: #06202D;
}

.select2-container--default .searchcv-select2-selection .select2-selection__placeholder {
  color: #06202D;
}

.select2-container--default .searchcv-select2-selection .select2-selection__arrow {
  height: 24px;
  right: 8px;
}

.select2-container--default .searchcv-select2-selection .select2-selection__arrow b {
  border: none;
  padding: 0;
}

.select2-container--default .searchcv-select2-selection .select2-selection__arrow b:before {
  content: "\F078";
  font-family: "Font Awesome 5 Free", "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 12px;
}

.select2-container--default .searchcv-select2-selection .select2-selection__clear {
  position: absolute;
  height: 45px;
  right: 8px;
  margin-right: 0;
  padding: 0 6px;
  background-color: #fff;
  z-index: 2;
  transition: 0.2s;
}

.select2-container--default .searchcv-select2-dropdown {
  -webkit-animation: show-height-50 0.2s ease-out both;
          animation: show-height-50 0.2s ease-out both;
}

.select2-container--default .searchcv-select2-dropdown .select2-results__option {
  font-size: 14px;
  padding-left: 12px;
  color: #06202D;
  transition: all 0.1s;
}

.select2-container--default .searchcv-select2-dropdown .select2-results__option--disabled {
  color: #838383;
}

.select2-container--default .searchcv-select2-dropdown .select2-results__option--highlighted {
  background-color: #06202D;
  color: #fff;
}

.select2-container--default .filtercv-select2-selection {
  height: 34px;
  border: none;
  background-color: #F6F6F6;
  border-radius: 4px;
  transition: 0.2s;
}

.select2-container--default .filtercv-select2-selection .select2-selection__rendered {
  font-size: 14px;
  line-height: 34px;
  padding-left: 12px;
  padding-right: 35px;
  color: #06202D;
  transition: 0.2s;
}

.select2-container--default .filtercv-select2-selection .select2-selection__placeholder {
  color: #06202D;
  transition: 0.2s;
}

.select2-container--default .filtercv-select2-selection .select2-selection__arrow {
  height: 12px;
  right: 8px;
  color: #06202D;
  transition: 0.2s;
}

.select2-container--default .filtercv-select2-selection .select2-selection__arrow b {
  border: none;
  padding: 0;
}

.select2-container--default .filtercv-select2-selection .select2-selection__arrow b:before {
  position: absolute;
  content: "\F0D7";
  font-family: "Font Awesome 5 Free", "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 16px;
  transition: all 0.1s;
}

.select2-container--default .filtercv-select2-selection .select2-selection__clear {
  position: absolute;
  height: 34px;
  right: 8px;
  margin-right: 0;
  padding: 0 6px;
  background-color: #F6F6F6;
  z-index: 2;
  transition: 0.2s;
}

.select2-container--default .filtercv-select2-selection .select2-selection__clear span {
  transition: all 0.2s;
}

.select2-container--default .filtercv-select2-selection:hover {
  background-color: #E7E7E7;
}

.select2-container--default .filtercv-select2-selection:hover .select2-selection__clear {
  background-color: #E7E7E7;
}

.select2-container--default .filtercv-select2-dropdown {
  -webkit-animation: show-height-50 0.2s both;
          animation: show-height-50 0.2s both;
}

.select2-container--default .filtercv-select2-dropdown .select2-results__option {
  font-size: 14px;
  padding-left: 12px;
  color: #06202D;
  transition: all 0.1s;
}

.select2-container--default .filtercv-select2-dropdown .select2-results__option--disabled {
  color: #838383;
}

.select2-container--default .filtercv-select2-dropdown .select2-results__option--highlighted {
  background-color: #D93E21;
  color: #fff;
}

.select2-container--default .diadiem {
  width: 110px !important;
}

.select2-container--default .ngonngu {
  width: 120px !important;
}

.select2-container--default .trinhdo {
  width: 210px !important;
}

.select2-container--default .phanloai {
  width: 130px !important;
}

.select2-container--default .sapxep {
  width: 210px !important;
}

.select2-container--default .loaicv {
  width: 150px !important;
}

.select2-container--default.select2-container--open .searchcv-select2-selection {
  background-color: #E9E8E8;
}

.select2-container--default.select2-container--open .searchcv-select2-selection .select2-selection__clear {
  background-color: #E9E8E8;
}

.select2-container--default.select2-container--open .filtercv-select2-selection {
  background-color: #06202D;
  border-radius: 4px !important;
}

.select2-container--default.select2-container--open .filtercv-select2-selection .select2-selection__rendered {
  color: #fff;
}

.select2-container--default.select2-container--open .filtercv-select2-selection .select2-selection__arrow {
  color: #fff;
}

.select2-container--default.select2-container--open .filtercv-select2-selection .select2-selection__arrow b:before {
  transform: rotateX(180deg);
}

.select2-container--default.select2-container--open .filtercv-select2-selection .select2-selection__placeholder {
  color: #fff;
}

.select2-container--default.select2-container--open .filtercv-select2-selection .select2-selection__clear {
  background-color: #06202D;
}

.select2-container--default.select2-container--open .filtercv-select2-selection .select2-selection__clear span {
  color: #fff;
}

@media screen and (min-width: 768px) {
  .w-md-auto {
    width: auto !important;
  }
}

@media screen and (max-width: 1499.98px) {
  .sc-search__submit {
    width: 150px;
    font-size: 16px;
    line-height: 19px;
    font-weight: 500;
  }

  .sc-search__submit:hover {
    width: 170px;
  }

  .sc-search__submit:hover:before {
    font-size: 16px;
  }

  .sc-filter {
    padding-left: 10px;
  }

  .sc-cv__list {
    overflow-y: auto;
  }

  .sc-cv__item {
    padding: 15px 10px 8px 20px;
  }

  .sc-cv__item .item-left {
    padding-right: 20px;
    padding-top: 8px;
  }

  .sc-cv__item .item-job {
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
    margin-bottom: 8px;
  }

  .sc-cv__item .item-moreinfo {
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
    margin-bottom: 4px;
  }

  .sc-cv__item .item-exyear {
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    margin-left: 0;
  }

  .sc-cv__item .item-location {
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
    margin-left: 0;
  }

  .sc-cv__item .item-bookmark {
    left: 10px;
  }

  .sc-detail__ava {
    margin-right: 30px;
    margin-left: 30px;
  }

  .sc-detail__moreinfo {
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
  }

  .sc-detail__exyear {
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
  }

  .sc-detail__location {
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
  }

  .sc-detail__option {
    padding-right: 0;
  }

  .sc-detail__option--short,
  .sc-detail__option--long {
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
    margin: 4px 5px;
  }

  .sc-detail__option--short img,
  .sc-detail__option--long img {
    position: relative;
    transform: scale(0.8);
    margin-right: 4px;
  }

  .sc-detail__option--short {
    width: 110px;
  }

  .sc-detail__option--long {
    width: 130px;
  }

  .sc-detail__view {
    padding-top: 25px;
  }

  .sc-detail__viewhideinfo,
  .sc-detail__opennewtab {
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
    height: 32px;
  }

  .sc-detail__viewhideinfo img,
  .sc-detail__opennewtab img {
    position: relative;
    transform: scale(0.8);
    margin-right: 4px;
  }

  .sc-detail__opennewtab {
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
  }

  .sc-detail__lastupdate {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .sc-detail__lastupdate .lastupdate-date {
    color: #464545;
    margin-right: 2px;
  }

  .sc-cvopen {
    padding: 15px 30px;
  }

  .sc-cvopen__title {
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    margin-bottom: 15px;
  }

  .sc-cvopen__title i {
    font-size: 18px;
    margin-right: 8px;
  }

  .sc-cvopen__item {
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
    margin-bottom: 5px;
    padding-left: 29px;
  }

  .sc-cvopen__item i {
    width: 18px;
  }
}

@media screen and (max-width: 1199.98px) {
  .sc-search__submit {
    width: 120px;
    font-size: 16px;
    line-height: 19px;
    font-weight: 500;
  }

  .sc-search__submit:hover {
    width: 130px;
  }

  .sc-search__submit:hover:before {
    font-size: 16px;
  }

  .sc-search__dropdown .sc-search__input {
    line-height: 16px;
    white-space: normal;
    word-break: break-word;
    width: 100px;
  }

  .sc-search__dropdown .sc-search__input i {
    margin-left: 1px;
  }

  .sc-cv__list {
    overflow-y: auto;
  }

  .sc-detail__info {
    padding: 15px 10px 15px 5px;
  }

  .sc-detail__ava {
    width: 80px;
    min-width: 80px;
    height: 80px;
    margin-right: 15px;
    margin-left: 15px;
  }

  .sc-detail__name {
    font-size: 16px;
    line-height: 19px;
    font-weight: 500;
    margin-bottom: 3px;
  }

  .sc-detail__job {
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
    margin-bottom: 10px;
  }

  .sc-detail__moreinfo {
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
  }

  .sc-detail__option--short {
    width: 90px;
  }

  .sc-detail__option--long {
    width: 120px;
  }

  .sc-detail__view {
    padding-top: 15px;
  }

  .sc-detail__viewhideinfo img,
  .sc-detail__opennewtab img {
    margin-right: 3px;
  }

  .sc-detail__opennewtab {
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
  }

  .sc-detail__lastupdate {
    flex-direction: row;
    margin-top: 7px;
    text-align: right;
    padding-right: 0;
  }
}

@media screen and (max-width: 991.98px) {
  .mobile-hidden {
    display: none !important;
  }

  .emp-box {
    margin-top: 25px;
  }

  .sc-header__right {
    min-height: 48px;
  }

  .sc-search__label {
    padding-right: 15px;
  }

  .sc-search__input {
    width: 100%;
    height: 48px;
    border: none;
    box-shadow: none;
    background: #F6F6F6;
    border-radius: 4px;
    font-size: 14px;
    line-height: 22px;
    font-weight: normal;
    color: #06202D;
  }

  .sc-search__input:focus::-moz-placeholder {
    color: #F6F6F6;
  }

  .sc-search__input:focus:-ms-input-placeholder {
    color: #F6F6F6;
  }

  .sc-search__input:focus::placeholder {
    color: #F6F6F6;
  }

  .sc-search__icon {
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
    color: #6D6D6D;
  }

  .sc-search .search-mobile__hidden {
    display: none;
  }

  .sc-search.mobile-show {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    min-height: 100%;
    z-index: 10;
    background-color: #fff;
    overflow: auto;
    -webkit-animation: zoom-in-fast 0.3s both;
            animation: zoom-in-fast 0.3s both;
  }

  .sc-search.mobile-show .search-mobile__hidden {
    display: unset;
  }

  .sc-search.mobile-show .search-mobile__close {
    width: 40px;
    height: 40px;
    padding: 0;
    font-size: 18px;
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
  }

  .sc-search.mobile-show .search-mobile__row {
    margin-bottom: 15px;
  }

  .sc-search.mobile-show .sc-search__form {
    padding-top: 70px;
    padding-bottom: 70px;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .sc-search.mobile-show .sc-search__submit {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 95vw;
    transition: 0.2s;
  }

  .sc-body {
    height: auto;
  }

  .sc-body__left {
    border-right: none;
  }

  .sc-cv {
    min-height: 100vh;
  }

  .sc-backlist {
    border-bottom: 1px solid #E7E7E7;
  }

  .sc-backlist__button {
    background: none;
    border: none;
    color: #838383;
    height: 55px;
    width: 100%;
    padding: 0;
    display: flex;
    align-items: center;
  }

  .sc-backlist__button i {
    width: 55px;
    text-align: center;
  }

  .sc-backlist__searchtext {
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
    color: #838383;
    padding-top: 2px;
  }

  .select2-container--default .searchcv-select2-selection {
    height: 48px;
    border-radius: 4px;
    transition: 0.2s;
    border: none;
    background: #F6F6F6;
  }

  .view-detail-cv__padding {
    padding: 0 10px;
  }

  .module-mobile__hidden {
    display: none !important;
  }
}

@media screen and (max-width: 767.98px) {
  .px-mobile-0 {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }

  .m-mobile-0 {
    margin: 0 !important;
  }

  .sc-header__right {
    padding-left: 15px;
  }

  .sc-search__input {
    width: 100%;
    height: 48px;
    border: none;
    box-shadow: none;
    background: #F6F6F6;
    border-radius: 4px;
    font-size: 14px;
    line-height: 22px;
    font-weight: normal;
    color: #06202D;
  }

  .sc-search__input:focus::-moz-placeholder {
    color: #F6F6F6;
  }

  .sc-search__input:focus:-ms-input-placeholder {
    color: #F6F6F6;
  }

  .sc-search__input:focus::placeholder {
    color: #F6F6F6;
  }

  .sc-search__icon {
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
    color: #6D6D6D;
  }

  .sc-search .search-mobile__hidden {
    display: none;
  }

  .sc-search.mobile-show {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    min-height: 100%;
    z-index: 10;
    background-color: #fff;
    transition: all 0.3s;
    overflow: auto;
  }

  .sc-search.mobile-show .sc-search__form {
    padding-top: 70px;
    padding-bottom: 70px;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .sc-search.mobile-show .sc-search__label {
    margin-bottom: 10px;
  }

  .sc-search.mobile-show .sc-search__submit {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 95vw;
    transition: 0.2s;
  }

  .sc-detail__viewhideinfo,
  .sc-detail__opennewtab {
    flex: 1;
  }

  .select2-container--default .searchcv-select2-selection {
    width: calc(100vw - 30px);
  }

  .select2-container--default .diadiem {
    width: calc(100vw - 30px) !important;
  }
}

@media screen and (max-width: 575.98px) {
  .emp-box {
    border-left: none;
    border-right: none;
  }
}

