@charset "UTF-8";

/*=============== Search CV ===============*/

/*=============== End Search CV ===============*/

/*=============== Post Job ===============*/

/*=============== End Post Job ===============*/

/*=============== Company Information ===============*/

/*=============== End Company Information ===============*/

/*=============== Buy Points ===============*/

/*=============== End Buy Points ===============*/

/*=============== DASHBOARD ===============*/

/*=============== End DASHBOARD ===============*/

/*=============== @include ===============*/

/*=============== End @include ===============*/

/*=============== @extend ===============*/

.bp-logo__main {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

/*=============== End @extend ===============*/

.select2-container--default .bp-service-select2-dropdown {
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.emp-box {
  margin-top: 43px;
  background-color: #fff;
  border: 0.5px solid #B8B8B8;
}

.bp-header {
  height: 80px;
  border-bottom: 1px solid #EBEBEB;
}

.bp-title {
  padding: 0 5px;
}

.bp-title__image {
  margin-right: 13px;
  position: relative;
  top: -1px;
}

.bp-title__text {
  font-size: 18px;
  line-height: 21px;
  font-weight: 500;
  color: #06202D;
}

.bp-body {
  padding-left: 200px;
  padding-right: 200px;
}

.bp-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 83px;
  padding-bottom: 70px;
}

.bp-logo__inner {
  position: relative;
  width: 83px;
  height: 83px;
  z-index: 1;
}

.bp-logo__main {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-animation: flipInY 1s 0.5s both;
          animation: flipInY 1s 0.5s both;
}

.bp-logo__icon {
  position: absolute;
  right: 4px;
  bottom: 0;
  -webkit-animation: bounceIn 0.8s 2.5s both;
          animation: bounceIn 0.8s 2.5s both;
}

.bp-logo__circle1,
.bp-logo__circle2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.bp-logo__circle1 {
  -webkit-animation: zoomIn 0.5s 0.7s both;
          animation: zoomIn 0.5s 0.7s both;
}

.bp-logo__circle2 {
  -webkit-animation: zoomIn 0.5s 0.9s both;
          animation: zoomIn 0.5s 0.9s both;
}

.bp-logo__star1 {
  position: absolute;
  top: 37%;
  left: 50%;
  width: 190px;
  transform: translate(-50%, -50%);
  z-index: -1;
  -webkit-animation: zoomIn 0.5s 1.5s both;
          animation: zoomIn 0.5s 1.5s both;
}

.bp-logo__star2 {
  position: absolute;
  top: 37%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  -webkit-animation: zoomIn 0.5s 1.2s both;
          animation: zoomIn 0.5s 1.2s both;
}

.bp-step {
  display: flex;
  padding-bottom: 30px;
}

.bp-step__item {
  flex: 5;
  display: flex;
  position: relative;
}

.bp-step__item:last-child {
  flex: 4;
}

.bp-step__item.success .bp-step__icon {
  border: 1px solid #06202D;
  transition-delay: 0.5s;
}

.bp-step__item.success .bp-step__icon:before {
  top: -100%;
}

.bp-step__item.success .bp-step__icon:after {
  top: 150%;
}

.bp-step__left {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bp-step__right {
  padding-left: 10px;
}

.bp-step__top {
  height: 32px;
  display: flex;
  align-items: center;
}

.bp-step__icon {
  position: relative;
  width: 32px;
  min-width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: all 0.3s;
  border: 1px solid transparent;
}

.bp-step__icon:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #D67F1E;
  z-index: 2;
  transition: all 0.5s;
  transition-delay: 0.1s;
}

.bp-step__icon:after {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-size: 16px;
  line-height: 19px;
  font-weight: normal;
  color: #fff;
  z-index: 3;
  transition: all 0.5s;
}

.bp-step__title {
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
  color: #464545;
  white-space: nowrap;
}

.bp-step__description {
  font-size: 14px;
  line-height: 22px;
  font-weight: normal;
  color: #838383;
  padding-right: 50px;
  padding-top: 3px;
  text-align: justify;
  position: relative;
}

.bp-step__line--horizontal {
  flex: 1;
  height: 2px;
  padding: 0 20px;
}

.bp-step__line--vertical {
  flex: 1;
  width: 2px;
  padding: 10px 0;
}

.bp-step__line--horizontal > div,
.bp-step__line--vertical > div {
  content: "";
  height: 100%;
  width: 100%;
  background-color: #06202D;
}

.bp-step__item--1 {
  -webkit-animation: coming-left-short 0.5s 0.5s both;
          animation: coming-left-short 0.5s 0.5s both;
}

.bp-step__item--1 .bp-step__icon:after {
  content: "1";
}

.bp-step__item--1 .bp-step__description {
  -webkit-animation: coming-down-short 0.3s 0.9s both;
          animation: coming-down-short 0.3s 0.9s both;
}

.bp-step__item--2 {
  -webkit-animation: coming-left-short 0.5s 0.7s both;
          animation: coming-left-short 0.5s 0.7s both;
}

.bp-step__item--2 .bp-step__icon:after {
  content: "2";
}

.bp-step__item--2 .bp-step__description {
  -webkit-animation: coming-down-short 0.3s 1.1s both;
          animation: coming-down-short 0.3s 1.1s both;
}

.bp-step__item--3 {
  -webkit-animation: coming-left-short 0.5s 0.9s both;
          animation: coming-left-short 0.5s 0.9s both;
}

.bp-step__item--3 .bp-step__icon:after {
  content: "3";
}

.bp-step__item--3 .bp-step__description {
  -webkit-animation: coming-down-short 0.3s 1.3s both;
          animation: coming-down-short 0.3s 1.3s both;
}

.bp-form {
  position: relative;
  -webkit-animation: coming-down-short 0.5s 1.5s both;
          animation: coming-down-short 0.5s 1.5s both;
}

.bp-form__label {
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 19px;
  font-weight: normal;
  color: #464545;
}

.bp-form__label--inline {
  white-space: nowrap;
  padding-right: 15px;
  font-size: 14px;
}

.bp-form__input {
  width: 100%;
  height: 48px;
  border: 1px solid #D9D9D9;
  border-radius: 2px;
  padding: 0 12px;
  transition: all 0.2s;
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  color: #464545;
}

.bp-form__input::-moz-placeholder {
  color: #BEBEBE;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

.bp-form__input:-ms-input-placeholder {
  color: #BEBEBE;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}

.bp-form__input::placeholder {
  color: #BEBEBE;
  transition: all 0.2s;
}

.bp-form__input:focus {
  border: 1px solid #1C4355;
}

.bp-form__input:focus::-moz-placeholder {
  color: #fff;
}

.bp-form__input:focus:-ms-input-placeholder {
  color: #fff;
}

.bp-form__input:focus::placeholder {
  color: #fff;
}

.bp-form__input:disabled {
  background-color: #EEEEEE;
  cursor: not-allowed;
}

.bp-form__submit {
  font-size: 18px;
  line-height: 23px;
  font-weight: normal;
  color: #fff;
  width: 100%;
  height: 48px;
  border: none;
  border-radius: 8px;
  transition: all 0.1s;
  position: relative;
  background-color: #D67F1E;
}

.bp-form__submit:active {
  transform: scale(0.95);
}

.bp-help {
  background-color: #F7FDF0;
  border: 1px solid #72BA1E;
  border-radius: 4px;
  padding: 30px;
  margin-top: 29px;
  position: relative;
  -webkit-animation: coming-down-short 0.5s 1.2s both;
          animation: coming-down-short 0.5s 1.2s both;
}

.bp-help__title {
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
  color: #525252;
  margin: 0;
  padding-bottom: 12px;
}

.bp-help__text {
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
  color: #525252;
  margin: 0;
}

.bp-help__link {
  color: #5B5B5B;
  text-decoration: underline;
}

.bp-help i {
  font-size: 20px;
  color: #525252;
  margin-right: 8px;
  width: 30px;
  text-align: center;
  position: relative;
  top: 2px;
}

.bp_form_select2:focus + .select2-container--default .bp_form_select2-selection {
  border: 1px solid #06202D;
}

.select2-container--default .select2-selection:focus {
  outline: none;
}

.select2-container--default .bp-service-select2-selection {
  height: 48px;
  border: 1px solid #D9D9D9;
  border-radius: 2px;
  transition: 0.2s;
}

.select2-container--default .bp-service-select2-selection .select2-selection__rendered {
  font-size: 14px;
  line-height: 46px;
  padding-left: 12px;
  color: #06202D;
}

.select2-container--default .bp-service-select2-selection .select2-selection__placeholder {
  color: #BEBEBE;
}

.select2-container--default .bp-service-select2-selection .select2-selection__arrow {
  height: 24px;
  right: 8px;
}

.select2-container--default .bp-service-select2-selection .select2-selection__arrow b {
  border: none;
  padding: 0;
}

.select2-container--default .bp-service-select2-selection .select2-selection__arrow b:before {
  content: "\F0D7";
  font-family: "Font Awesome 5 Free", "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 12px;
}

.select2-container--default .bp-service-select2-dropdown {
  -webkit-animation: show-height-50-50 0.15s ease-out both;
          animation: show-height-50-50 0.15s ease-out both;
}

.select2-container--default .bp-service-select2-dropdown .select2-results__option {
  font-size: 14px;
  padding-left: 12px;
  color: #06202D;
  transition: all 0.1s;
}

.select2-container--default .bp-service-select2-dropdown .select2-results__option--disabled {
  color: #838383;
}

.select2-container--default .bp-service-select2-dropdown .select2-results__option--highlighted {
  background-color: #06202D;
  color: #fff;
}

.select2-container--default.select2-container--open .bp_form_select2-selection {
  background-color: #E9E8E8;
}

.select2-container--default.select2-container--focus .bp_form_select2-selection,
.select2-container--default.select2-container--focus .bp_form_select2-multiple-selection {
  border: 1px solid #1C4355;
}

.select2-container--default.select2-container--disabled .bp_form_select2-selection {
  cursor: not-allowed;
}

.select2-container--default.select2-container--disabled.select2-container--focus .bp_form_select2-selection {
  border: 1px solid #D9D9D9;
}

.select2-container--default .dichvu {
  width: 250px !important;
}

.error-text {
  font-size: 12px;
  line-height: 14px;
  font-weight: normal;
  color: #FD1616;
  min-height: 14px;
  margin-bottom: 8px;
}

.invalid-input {
  border: 1px solid #FD1616 !important;
}

.form-error .select2-selection,
.form-error .bootstrap-tagsinput,
.form-error .tox-tinymce {
  border: 1px solid #FD1616 !important;
}

@media screen and (min-width: 992.98px) {
  .pr-md-60 {
    padding-right: 60px !important;
  }
}

@media screen and (max-width: 1499.98px) {
  .bp-body {
    padding-left: 70px;
    padding-right: 70px;
  }
}

@media screen and (max-width: 1199.98px) {
  .bp-body {
    padding-left: 25px;
    padding-right: 25px;
  }
}

@media screen and (max-width: 991.98px) {
  .bp-header {
    height: 80px;
    border-bottom: none;
  }

  .bp-step {
    flex-direction: column;
  }

  .bp-step__item {
    flex: 1;
  }

  .bp-step__item:last-child {
    flex: 1;
  }

  .bp-step__item:last-child .bp-step__description {
    padding-right: 10px;
  }

  .bp-step__right {
    padding-bottom: 20px;
  }

  .bp-step__description {
    padding-right: 10px;
  }

  .bp-help {
    -webkit-animation-delay: 1.5s;
            animation-delay: 1.5s;
  }

  .bp-form {
    -webkit-animation-delay: 1.2s;
            animation-delay: 1.2s;
  }
}

@media screen and (max-width: 767.98px) {
  .px-mobile-0 {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }

  .emp-box {
    margin-top: 25px;
  }

  .bp-title {
    height: 70px;
  }

  .bp-title__image {
    transform: scale(0.85);
    margin-right: 8px;
  }

  .bp-title__text {
    font-size: 16px;
    line-height: 19px;
    font-weight: 500;
  }

  .bp-logo {
    padding-top: 30px;
    padding-bottom: 30px;
    position: relative;
    transform: scale(0.8);
  }

  .bp-step {
    padding-bottom: 15px;
  }

  .bp-step__title {
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
  }

  .bp-step__description {
    padding-top: 0;
  }

  .bp-form__label {
    margin-bottom: 3px;
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
  }

  .bp-form__input {
    height: 40px;
    font-size: 12px;
    line-height: 14px;
    font-weight: normal;
  }

  .bp-form__submit {
    font-size: 14px;
    line-height: 26px;
    font-weight: normal;
    height: 40px;
  }

  .bp-help {
    border-radius: 0;
    padding: 24px 20px;
  }

  .bp-help__title {
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    margin: 0;
    padding-bottom: 8px;
  }

  .bp-help__text {
    font-size: 14px;
    line-height: 22px;
    font-weight: normal;
  }

  .bp-help i {
    font-size: 16px;
    margin-right: 5px;
    width: 20px;
  }

  .select2-container--default .bp-service-select2-selection {
    height: 40px;
  }

  .select2-container--default .bp-service-select2-selection .select2-selection__rendered {
    font-size: 12px;
    line-height: 38px;
  }

  .select2-container--default .bp-service-select2-selection .select2-selection__arrow {
    height: 16px;
  }

  .select2-container--default .bp-service-select2-dropdown .select2-results__option {
    font-size: 12px;
  }
}

