/*=============== Search CV ===============*/

/*=============== End Search CV ===============*/

/*=============== Post Job ===============*/

/*=============== End Post Job ===============*/

/*=============== Company Information ===============*/

/*=============== End Company Information ===============*/

/*=============== Buy Points ===============*/

/*=============== End Buy Points ===============*/

/*=============== DASHBOARD ===============*/

/*=============== End DASHBOARD ===============*/

/*=============== @include ===============*/

/*=============== End @include ===============*/

/*=============== @extend ===============*/

/*=============== End @extend ===============*/

@font-face {
  font-family: Lato;
  src: url(/fonts/Lato-400.ttf?6d4e78225df0cfd5fe1bf3e8547fefe4) format("truetype");
  font-weight: 400 normal;
  font-style: normal;
}

@font-face {
  font-family: Lato;
  src: url(/fonts/Lato-700.ttf?5b1b8b856d7a8cb1cb0bae6d0573f2e9) format("truetype");
  font-weight: 600 700;
  font-style: normal;
}

html,
body {
  font-family: "Lato", "Roboto", Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  padding-top: 0;
}

.auth-navbar {
  position: absolute;
  height: 105px;
  display: flex;
  align-items: center;
}

.auth-navbar .navbar-body {
  -webkit-animation: fadeIn 0.5s both;
          animation: fadeIn 0.5s both;
  flex-wrap: nowrap;
}

.auth-navbar .navbar-brand {
  margin-right: 9px;
  display: flex;
}

.auth-navbar .navbar-brand img {
  height: 32px;
}

.auth-navbar .navbar-brand__description {
  font-size: 14px;
  line-height: 12px;
  font-weight: 500;
  color: #1F4353;
  border-left: 1px solid #1C4355;
  padding-left: 7px;
  display: flex;
  position: relative;
  top: 6px;
}

.auth-navbar .navbar-brand__description span {
  position: relative;
}

.auth-navbar.scroll {
  position: fixed;
  background-color: #fff;
  height: 80px;
  -webkit-animation: fadeIn 0.4s both;
          animation: fadeIn 0.4s both;
  box-shadow: 0 0 8px #00000022;
}

.auth-navbar.scroll .navbar-body {
  position: relative;
  -webkit-animation: fadeInDown 0.4s both;
          animation: fadeInDown 0.4s both;
}

.auth-body {
  min-height: 100vh;
  width: 100%;
  padding-top: 200px;
  background: #fff;
  z-index: 1;
}

.auth-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 45px;
}

.auth-title {
  font-size: 36px;
  line-height: 1.5;
  font-weight: 400;
  color: #1D293F;
  padding-bottom: 30px;
}

.auth-title__bold {
  font-weight: 600;
}

.auth-title__spacing-n1 {
  letter-spacing: -1px;
}

.auth-title__icon {
  margin-left: 5px;
  position: relative;
  top: -2px;
}

.auth-description {
  font-size: 20px;
  line-height: 1.5;
  font-weight: 400;
  color: #1D293F;
  padding-bottom: 35px;
}

.auth-form {
  width: 100%;
  max-width: 485px;
  padding-bottom: 50px;
}

.auth-form__label {
  margin-bottom: 0;
  width: 100%;
  position: relative;
}

.auth-form__input {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  color: #3E3E3E;
  width: 100%;
  height: 60px;
  background: #F1F1F1;
  border-radius: 6px;
  border: 1px solid #F1F1F1;
  padding-left: 65px;
  padding-right: 50px;
  transition: all 0.2s;
}

.auth-form__input::-moz-placeholder {
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

.auth-form__input:-ms-input-placeholder {
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}

.auth-form__input::placeholder {
  transition: all 0.2s;
}

.auth-form__input:focus::-moz-placeholder {
  opacity: 0;
}

.auth-form__input:focus:-ms-input-placeholder {
  opacity: 0;
}

.auth-form__input:focus::placeholder {
  opacity: 0;
}

.auth-form__icon {
  display: block;
  position: absolute;
  top: 50%;
  left: 20px;
  width: 25px;
  text-align: center;
  transform: translateY(-50%);
  cursor: text;
}

.auth-form__showpass {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 26px;
  padding: 0;
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  cursor: text;
  border: none;
  transition: all 0.2s;
}

.auth-form__showpass:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  opacity: 0;
  transform: translate(-50%, -50%) scale(1);
  transition: all 0.2s;
  background-color: #838383;
}

.auth-form__showpass:hover:before {
  opacity: 0.2;
  transform: translate(-50%, -50%) scale(1.2);
}

.auth-form__showpass:active {
  transform: translateY(-50%) scale(0.95);
}

.auth-form__showpass[data-show="1"] {
  color: #E74243;
}

.auth-form__link {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  color: #1C4355;
  transition: all 0.2s;
  position: relative;
  text-decoration: underline;
}

.auth-form__link:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  opacity: 0;
  transform: translate(-50%, -50%) scale(1);
  transition: all 0.2s;
  background-color: #838383;
}

.auth-form__link:hover {
  color: #1C4355;
  text-decoration: underline;
}

.auth-form__link:hover:before {
  opacity: 0.2;
  transform: translate(-50%, -50%) scale(1.2);
}

.auth-form__button {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background: #fff;
  border: 1px solid #E74243;
  border-radius: 5px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  color: #E74243;
  transition: all 0.1s;
}

.auth-form__button:hover {
  color: #E74243;
}

.auth-form__button:active {
  transform: scale(0.97);
}

.auth-form__button--submit {
  background: #E74243;
  color: #fff;
}

.auth-form__button--submit:hover {
  color: #fff;
}

.auth-form__or {
  margin: 24px 0 16px 0;
  display: flex;
  justify-content: center;
  position: relative;
}

.auth-form__or--text {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #1D293F;
  display: block;
  padding: 0 35px;
  position: relative;
  background: #fff;
}

.auth-form__or:before {
  content: "";
  position: absolute;
  top: 60%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  height: 1px;
  background: #DDDDDD;
  z-index: -1;
}

.auth-form__line {
  width: 100%;
  height: 1px;
  margin-bottom: 24px;
  background: #DDDDDD;
}

.auth-form__checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 0;
}

.auth-form__checkbox--icon {
  width: 20px;
  height: 20px;
  border-radius: 2px;
  background: #DFDFDF;
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth-form__checkbox--icon i {
  transform: scale(0);
  transition: all 0.2s;
}

.auth-form__checkbox--text {
  display: block;
  padding-left: 12px;
}

input[type=checkbox]:checked + .auth-form__checkbox--icon i {
  transform: scale(1);
  -webkit-animation: bounceIn 0.8s both;
          animation: bounceIn 0.8s both;
}

.auth-image__login {
  position: relative;
  left: -50px;
}

.auth-image__register {
  position: relative;
  width: 335px;
  height: 332px;
  left: -20px;
}

.auth-image__register img {
  width: 100%;
  height: 100%;
}

.auth-image__register-success {
  margin-top: 40px;
}

.auth-image__send-mail-success {
  width: 191px;
  height: 187px;
}

.auth-background {
  position: absolute;
  z-index: -1;
}

.auth-background--1 {
  top: 0;
  left: 0;
}

.auth-background--2 {
  bottom: 92px;
  right: 55px;
  width: 290px;
  height: 306px;
}

.auth-background--2 img {
  width: 100%;
  height: 100%;
}

.auth-link {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  color: #1C4355;
  transition: all 0.2s;
  position: relative;
  text-decoration: underline;
}

.auth-link:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  opacity: 0;
  transform: translate(-50%, -50%) scale(1);
  transition: all 0.2s;
  background-color: #838383;
}

.auth-link:hover {
  color: #1C4355;
  text-decoration: underline;
}

.auth-link:hover:before {
  opacity: 0.2;
  transform: translate(-50%, -50%) scale(1.2);
}

.auth-link__big {
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
  padding-left: 0;
  margin-top: 18px;
  letter-spacing: -1px;
}

.auth-link__big:before {
  width: 115%;
  height: 140%;
}

.auth-link__big i {
  font-size: 15px;
  padding-right: 7px;
}

.mt-25 {
  margin-top: 25px;
}

.error-text {
  font-size: 12px;
  line-height: 14px;
  font-weight: normal;
  color: #FD1616;
  min-height: 14px;
  margin-bottom: 8px;
  margin-top: 2px;
}

.error-input {
  border: 1px solid #FD1616 !important;
}

@media screen and (max-width: 1199.98px) {
  .auth-image__login {
    left: 30px;
  }
}

@media screen and (max-width: 1199.98px) {
  .auth-image__login {
    left: 30px;
  }

  .auth-form {
    max-width: 100%;
  }
}

@media screen and (max-width: 991.98px) {
  .auth-background--2 {
    display: none;
  }
}

@media screen and (max-width: 767.98px) {
  .px-mobile-0 {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }

  .auth-navbar {
    height: 70px;
  }

  .auth-navbar .navbar-brand {
    margin-right: 5px;
  }

  .auth-navbar .navbar-brand img {
    height: 25px;
  }

  .auth-navbar .navbar-brand__description {
    font-size: 12px;
    line-height: 10px;
    font-weight: 500;
    padding-left: 5px;
    top: 5px;
  }

  .auth-body {
    padding-top: 120px;
  }

  .auth-title {
    font-size: 24px;
    line-height: 1.5;
    font-weight: 400;
    padding-bottom: 20px;
  }

  .auth-description {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    padding-bottom: 30px;
  }

  .auth-form {
    width: 100%;
  }

  .auth-form__label {
    margin-bottom: 0;
    width: 100%;
    position: relative;
  }

  .auth-form__input {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    height: 52px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .auth-form__icon {
    top: 47%;
    left: 14px;
  }

  .auth-form__button {
    height: 52px;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
  }

  .auth-form__or--text {
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
  }

  .auth-form__line {
    margin-bottom: 19px;
  }

  .auth-link__big {
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
  }

  .auth-link__big i {
    font-size: 12px;
    padding-right: 4px;
  }

  .error-text {
    font-size: 10px;
    line-height: 12px;
    font-weight: normal;
    min-height: 12px;
    margin-bottom: 5px;
  }
}

