@charset "UTF-8";

/*=============== Search CV ===============*/

/*=============== End Search CV ===============*/

/*=============== Post Job ===============*/

/*=============== End Post Job ===============*/

/*=============== Company Information ===============*/

/*=============== End Company Information ===============*/

/*=============== Buy Points ===============*/

/*=============== End Buy Points ===============*/

/*=============== DASHBOARD ===============*/

/*=============== End DASHBOARD ===============*/

/*=============== @include ===============*/

/*=============== End @include ===============*/

/*=============== @extend ===============*/

.ci-card__basic:before,
.company-images__background,
.ci-form__company-logo .company-image-background {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.company-images__title {
  overflow: hidden;
  display: -webkit-box;
  word-break: break-word;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

/*=============== End @extend ===============*/

.select2-container--default .ci_form_select2-multiple-dropdown,
.select2-container--default .ci_form_select2-dropdown {
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.select2-container--default .filtercv-select2-dropdown {
  margin: 0;
  padding: 0;
  border: none;
  border-top-left-radius: 3px !important;
  border-top-right-radius: 3px !important;
  overflow: hidden;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: #fff;
  box-shadow: 0 3px 5px rgba(9, 30, 66, 0.2), 0 0 1px rgba(9, 30, 66, 0.31);
}

html,
body {
  overflow-y: auto;
}

.emp-box {
  margin-top: 43px;
  background-color: #fff;
  border: 0.5px solid #B8B8B8;
}

.ci-header {
  height: 80px;
  border-bottom: 1px solid #EBEBEB;
}

.ci-title {
  padding: 0 5px;
}

.ci-title__image {
  margin-right: 13px;
  position: relative;
  top: -1px;
}

.ci-title__text {
  font-size: 18px;
  line-height: 21px;
  font-weight: 500;
  color: #06202D;
}

.ci-body {
  position: relative;
}

.line-border-right {
  padding-top: 30px;
}

.line-border-right:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 1px;
  z-index: -1;
  background-color: #DDDCDC;
}

.ci-nav {
  position: -webkit-sticky;
  position: sticky;
  padding-left: 0;
  margin-bottom: 0;
}

.ci-nav__item {
  list-style-type: none;
  height: 43px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 52px;
  cursor: pointer;
  transition: all 0.3s;
  position: relative;
  z-index: 1;
  font-size: 16px;
  line-height: 19px;
  font-weight: normal;
  color: #838383;
}

.ci-nav__item:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  transition: all 0.4s ease-in-out;
  background-color: #F5F5F5;
}

.ci-nav__item--success {
  position: relative;
  top: -1px;
  right: -35px;
  opacity: 0;
  transition: all 0.5s;
}

.ci-nav__item:hover:before,
.ci-nav__item.active:before,
.ci-nav__item--success:before {
  width: 100%;
}

.ci-nav__item.active,
.ci-nav__item.successfully {
  color: #06202D;
  font-weight: 500;
}

.ci-nav__item.successfully .ci-nav__item--success {
  right: 15px;
  opacity: 1;
}

.ci-nav__border {
  content: "";
  position: absolute;
  z-index: 3;
  top: 0;
  right: 0;
  width: 3px;
  height: 43px;
  background-color: #E74243;
  transition: all 0.3s;
}

.ci-nav:hover .ci-nav__item:before {
  width: 0;
}

.ci-nav:hover .ci-nav__item:hover:before {
  width: 100%;
}

.form-title {
  padding-left: 22px;
  font-size: 18px;
  line-height: 22px;
}

.ci-form {
  padding: 25px 60px 20px 72px;
}

.ci-form__left {
  padding-right: 35px;
  border-right: 1px solid #DDDCDC;
}

.ci-form__right {
  padding-left: 35px;
  padding-right: 40px;
}

.ci-form__item {
  margin-bottom: 0;
}

.ci-form__label {
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 19px;
  font-weight: normal;
  color: #464545;
}

.ci-form__label--inline {
  white-space: nowrap;
  padding-right: 15px;
  font-size: 14px;
}

.ci-form__input {
  width: 100%;
  height: 48px;
  border: 1px solid #D9D9D9;
  border-radius: 2px;
  padding: 0 12px;
  transition: all 0.2s;
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  color: #464545;
}

.ci-form__input::-moz-placeholder {
  color: #BEBEBE;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

.ci-form__input:-ms-input-placeholder {
  color: #BEBEBE;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}

.ci-form__input::placeholder {
  color: #BEBEBE;
  transition: all 0.2s;
}

.ci-form__input:focus {
  border: 1px solid #1C4355;
}

.ci-form__input:focus::-moz-placeholder {
  color: #fff;
}

.ci-form__input:focus:-ms-input-placeholder {
  color: #fff;
}

.ci-form__input:focus::placeholder {
  color: #fff;
}

.ci-form__input:disabled {
  background-color: #EEEEEE;
  cursor: not-allowed;
}

.ci-form__textarea {
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.ci-form__cancel,
.ci-form__submit {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  height: 48px;
  padding: 0 50px;
  border: none;
  border-radius: 4px;
  transition: all 0.1s;
  position: relative;
}

.ci-form__cancel:active,
.ci-form__submit:active {
  transform: scale(0.95);
}

.ci-form__cancel {
  color: #616161;
  background-color: #EFEFEF;
}

.ci-form__submit {
  color: #fff;
  background-color: #D93E21;
}

.ci-form__toggle--title {
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  color: #838383;
}

.ci-form__toggle--icon {
  display: flex;
  position: relative;
  width: 42px;
  min-width: 42px;
  height: 24px;
  border-radius: 24px;
  border: 2px solid #fff;
  background-color: #6B778C;
  transition: all 0.3s;
  cursor: pointer;
  box-shadow: 0 0 0 2px transparent;
}

.ci-form__toggle--icon:hover {
  box-shadow: 0 0 0 2px #4C9AFF;
}

.ci-form__toggle--icon:before,
.ci-form__toggle--icon:after {
  font-family: "Font Awesome 5 Free", "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 10px;
  color: #fff;
  z-index: 1;
  top: 50%;
}

.ci-form__toggle--icon:before {
  content: "\F00C";
  position: absolute;
  left: 28%;
  transform: translate(-50%, -50%);
}

.ci-form__toggle--icon:after {
  content: "\F00D";
  position: absolute;
  right: 28%;
  transform: translate(50%, -50%);
}

.ci-form__toggle--icon > span {
  position: absolute;
  display: flex;
  top: 2px;
  left: 2px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #fff;
  transition: all 0.3s;
}

.ci-form__toggle--input[type=checkbox] {
  opacity: 0;
  width: 0;
}

.ci-form__toggle--input[type=checkbox]:focus + .ci-form__toggle--icon {
  box-shadow: 0 0 0 2px #4C9AFF;
}

.ci-form__toggle--input[type=checkbox]:checked + .ci-form__toggle--icon {
  background-color: #00875A;
}

.ci-form__toggle--input[type=checkbox]:checked + .ci-form__toggle--icon > span {
  left: 20px;
}

.ci-form__toggle--input[type=checkbox]:disabled + .ci-form__toggle--icon {
  background-color: #F4F5F7;
  cursor: unset;
  box-shadow: 0 0 0 2px transparent !important;
}

.ci-form__toggle--input[type=checkbox]:disabled + .ci-form__toggle--icon:before,
.ci-form__toggle--input[type=checkbox]:disabled + .ci-form__toggle--icon:after {
  color: #A5ADBA;
}

.ci-form__toggle--input[type=checkbox]:disabled + .ci-form__toggle--icon > span {
  left: 2px !important;
  background-color: #A5ADBA !important;
}

.ci-form__line {
  width: 100%;
  height: 1px;
  background-color: #E2E2E2;
}

.ci-form__company-logo {
  padding: 15px 0;
}

.ci-form__company-logo .company-image-background {
  width: 92px !important;
  min-width: 92px !important;
  height: 92px !important;
  min-height: 92px !important;
  border-radius: 50%;
  margin-right: 35px;
  position: relative;
  transition: all 0.3s;
  z-index: 1;
  overflow: hidden;
}

.ci-form__company-logo .company-image-background:hover {
  transform: scale(2);
  z-index: 1;
}

.ci-form__company-logo .company-logo-tip {
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  color: #616161;
}

.ci-form__company-images {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 5px;
  position: relative;
}

.ci-form__company-images .loadingio {
  display: none;
  position: absolute;
  top: 54%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ci-form__company-images.disabled .input-image-button:hover {
  background-color: #F4F5F7;
  cursor: default;
}

.ci-form__company-images.disabled svg,
.ci-form__company-images.disabled span {
  opacity: 0;
}

.ci-form__company-images.disabled .loadingio {
  display: block;
}

.ci-form__save-info--title {
  font-size: 16px;
  line-height: 19px;
  font-weight: normal;
  color: #464545;
  padding-bottom: 6px;
}

.ci-form__save-info--description {
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  color: #838383;
}

.ci-form__save-info--link {
  color: #06202D;
  text-decoration: underline;
}

.ci-form__save-info--link:hover {
  text-decoration: underline;
}

.ci-form__range,
.ci-form__export {
  height: 34px;
  display: flex;
  padding: 0 35px 0 13px;
  align-items: center;
  background-color: #F6F6F6;
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  color: #464545;
  border: none;
  border-radius: 2px;
  position: relative;
  transition: all 0.2s;
}

.ci-form__range:hover,
.ci-form__export:hover {
  background-color: #E7E7E7;
}

.ci-form__range-arrow,
.ci-form__export-arrow {
  font-size: 16px;
  position: absolute;
  right: 13px;
  top: 50%;
  transform: translateY(-50%);
  color: #464545;
}

.ci-form__range .fa-file-export,
.ci-form__export .fa-file-export {
  margin-right: 8px;
}

.ci-form__export {
  padding: 0 15px;
}

.ci-form__export:hover {
  background-color: #06202D;
  color: #fff;
}

.ci-form__export:active {
  transform: scale(0.95);
  transition: 0.1s;
}

.company-images__item {
  border: 1px solid #E9E9E9;
  border-radius: 2px;
  padding: 5px;
}

.company-images__background {
  width: 48px;
  min-width: 48px;
  height: 48px;
  transition: all 0.3s;
}

.company-images__background:hover {
  position: relative;
  transform: scale(2);
  z-index: 1;
}

.company-images__title {
  -webkit-line-clamp: 3;
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  color: #464545;
  margin-bottom: 0;
  padding: 0 5px;
}

.company-images__remove {
  border: none;
  padding: 0;
  background-color: transparent;
  color: #838383;
  transition: all 0.2s;
  font-size: 14px;
}

.company-images__remove:hover {
  color: #FD1616;
}

.input-image-button {
  font-size: 16px;
  line-height: 19px;
  font-weight: normal;
  color: #1C4355;
  height: 32px;
  padding: 0 30px;
  border-radius: 4px;
  background-color: #F4F5F7;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
}

.input-image-button svg {
  margin-right: 11px;
}

.input-image-button:hover {
  background-color: #1C4355;
  color: #F4F5F7;
}

.input-image-button:hover svg path {
  fill: #F4F5F7;
}

.input-image-button:active {
  transform: scale(0.95);
  transition: 0.1s;
}

.list-item .ci-list-remove {
  position: absolute;
  top: -5px;
  right: 4px;
  width: auto;
  height: auto;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
}

.list-item .ci-list-remove__button {
  position: relative;
  height: auto;
  width: auto;
  top: 0;
  border: none;
  padding: 0;
  box-shadow: 0 0 0 2px #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #838383;
  background-color: #fff;
  font-size: 18px;
  transition: all 0.2s;
}

.list-item .ci-list-remove__button:hover {
  box-shadow: 0 0 0 5px #838383;
  background-color: #838383;
  color: #fff;
}

.list-item .ci-list-remove__button:disabled {
  visibility: hidden;
  opacity: 0;
  top: 30px;
}

.bootstrap-tagsinput {
  width: 100%;
  min-height: 48px;
  border: 1px solid #D9D9D9;
  border-radius: 2px;
  padding: 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  box-shadow: none;
  transition: all 0.2s;
}

.bootstrap-tagsinput.tagsinput-focus {
  border: 1px solid #1C4355;
}

.bootstrap-tagsinput .badge.ci-form__tags {
  display: flex;
  align-items: center;
  height: 40px;
  margin: 2px 4px;
  padding: 0 9px;
  background-color: #EEEEEE;
  border-radius: 2px;
  white-space: nowrap;
  border: 1px solid #E9E9E9;
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  color: #06202D;
}

.bootstrap-tagsinput .badge.ci-form__tags [data-role=remove] {
  margin-left: 8px;
  cursor: pointer;
}

.bootstrap-tagsinput .badge.ci-form__tags [data-role=remove]:after {
  content: "\D7";
  padding: 0 4px;
  color: #464545;
  background-color: transparent;
  border-radius: 50%;
  font-size: 18px;
}

.bootstrap-tagsinput .badge.ci-form__tags [data-role=remove] :hover:after {
  background-color: transparent;
}

.bootstrap-tagsinput input {
  font-size: 14px !important;
  line-height: 16px;
  font-weight: normal;
  color: #464545;
  height: 40px;
  padding: 0 12px;
}

.bootstrap-tagsinput input::-moz-placeholder {
  color: #BEBEBE;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

.bootstrap-tagsinput input:-ms-input-placeholder {
  color: #BEBEBE;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}

.bootstrap-tagsinput input::placeholder {
  color: #BEBEBE;
  transition: all 0.2s;
}

.bootstrap-tagsinput input:focus::-moz-placeholder {
  color: #fff;
}

.bootstrap-tagsinput input:focus:-ms-input-placeholder {
  color: #fff;
}

.bootstrap-tagsinput input:focus::placeholder {
  color: #fff;
}

.trade-history .th-table .trow {
  align-items: center;
  margin: 0;
}

.trade-history .th-table .trow .tcol {
  font-size: 16px;
  line-height: 19px;
  font-weight: normal;
  color: #464545;
}

.trade-history .th-table .thead {
  background: #FAFAFA;
  border-top: 0.5px solid #EBEBEB;
  border-bottom: 0.5px solid #EBEBEB;
}

.trade-history .th-table .thead .trow {
  height: 48px;
}

.trade-history .th-table .thead .trow .tcol {
  font-weight: 500;
}

.trade-history .th-table .tbody .trow {
  border-bottom: 0.5px solid #EBEBEB;
  padding-top: 10px;
  padding-bottom: 10px;
  min-height: 80px;
}

.trade-history .point-less {
  color: #FF5454;
}

.trade-history .point-add {
  color: #46A01B;
}

.trade-history .th-pagination__element {
  height: 32px;
  margin: 0 4px;
  border-radius: 2px;
  border: 1px solid #D9D9D9;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  color: #06202D;
}

.trade-history .th-pagination__button {
  width: 32px;
}

.trade-history .th-pagination__button:hover {
  border: 1px solid #06202D;
}

.trade-history .th-pagination__button:active {
  transition: 0.1s;
  transform: scale(0.95);
}

.trade-history .th-pagination__button:disabled {
  color: #D9D9D9;
  cursor: not-allowed;
}

.trade-history .th-pagination__button:disabled:hover {
  border: 1px solid #D9D9D9;
}

.trade-history .th-pagination__input {
  width: 70px;
  text-align: center;
}

.trade-history .th-pagination__input:focus {
  border-color: #06202D;
}

.trade-history .th-pagination__text {
  border: none;
}

.ci-card {
  position: relative;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 16px 17px;
  overflow: hidden;
  z-index: 10;
}

.ci-card__title {
  font-size: 20px;
  line-height: 22px;
  font-weight: normal;
  color: #fff;
  margin-bottom: 1px;
}

.ci-card__type,
.ci-card__point {
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  color: #fff;
  margin-bottom: 0;
}

.ci-card__type {
  margin-bottom: 12px;
}

.ci-card__yellow {
  color: #FFBC65;
}

.ci-card__gray {
  color: #A1A1A1;
}

.ci-card__premium:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(90deg, #8D5307 0%, #B47626 100%);
  z-index: -2;
}

.ci-card__premium .ci-card__image {
  position: absolute;
  bottom: 0;
  right: 2px;
}

.ci-card__basic:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 120%;
  height: 120%;
  transform: translate(-50%, -50%);
  background-image: url(/images/image-ci-cardbackground.png?5192872efb4343d2154daccac3f22a97);
  z-index: -2;
}

.ci-card__basic .ci-card__upgrade {
  font-size: 12px;
  line-height: 14px;
  font-weight: normal;
  color: #464545;
  position: absolute;
  bottom: 14px;
  right: 12px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #FFBC65;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  border: none;
  padding: 0 5px;
}

.ci-info__item {
  font-size: 16px;
  line-height: 19px;
  font-weight: normal;
  color: #464545;
  padding: 7px 0;
}

.ci-info__item i {
  width: 25px;
  text-align: center;
  margin-right: 7px;
  position: relative;
  transform: translateY(-1px);
}

.ci-activity__item {
  font-size: 16px;
  line-height: 19px;
  font-weight: normal;
  color: #464545;
  margin: 7px 0 20px 0;
}

.ci-activity__item .value {
  margin-top: 7px;
  color: #838383;
}

.ci-activity__item:last-child {
  margin-bottom: 0;
}

.line-gray {
  border-bottom: 1px solid #C4C4C4;
  border-left: 1px solid #C4C4C4;
}

.button-nude {
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  color: #06202D;
  border: 1px solid transparent;
  background-color: transparent;
  padding: 5px 10px;
  border-radius: 3px;
  transition: all 0.2s;
  opacity: 1;
  position: relative;
}

.button-nude:hover {
  border: 1px solid #06202D;
  background-color: #06202D;
  color: #fff;
}

.button-nude:active {
  transform: scale(0.95);
  border: 1px solid #06202D;
  transition: 0.1s;
}

.button-nude:disabled {
  padding-top: 0;
  padding-bottom: 0;
  height: 0;
  opacity: 0;
}

.ci_form_select2:focus + .select2-container--default .ci_form_select2-selection {
  border: 1px solid #06202D;
}

.select2-container--default .select2-selection:focus {
  outline: none;
}

.select2-container--default .ci_form_select2-selection {
  height: 48px;
  border: 1px solid #D9D9D9;
  border-radius: 2px;
  transition: 0.2s;
}

.select2-container--default .ci_form_select2-selection .select2-selection__rendered {
  font-size: 14px;
  line-height: 46px;
  padding-left: 12px;
  color: #06202D;
}

.select2-container--default .ci_form_select2-selection .select2-selection__placeholder {
  color: #BEBEBE;
}

.select2-container--default .ci_form_select2-selection .select2-selection__clear {
  height: 45px;
  margin-right: 35px;
}

.select2-container--default .ci_form_select2-selection .select2-selection__arrow {
  height: 24px;
  right: 8px;
}

.select2-container--default .ci_form_select2-selection .select2-selection__arrow b {
  border: none;
  padding: 0;
}

.select2-container--default .ci_form_select2-selection .select2-selection__arrow b:before {
  content: "\F0D7";
  font-family: "Font Awesome 5 Free", "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 12px;
}

.select2-container--default .ci_form_select2-dropdown {
  -webkit-animation: show-height-50-50 0.15s ease-out both;
          animation: show-height-50-50 0.15s ease-out both;
}

.select2-container--default .ci_form_select2-dropdown .select2-results__option {
  font-size: 14px;
  padding-left: 12px;
  color: #06202D;
  transition: all 0.1s;
}

.select2-container--default .ci_form_select2-dropdown .select2-results__option--disabled {
  color: #838383;
}

.select2-container--default .ci_form_select2-dropdown .select2-results__option--highlighted {
  background-color: #06202D;
  color: #fff;
}

.select2-container--default .ci_form_select2-dropdown .select2-search__field {
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  color: #464545;
  padding-left: 6px;
  padding-right: 6px;
}

.select2-container--default .ci_form_select2-multiple-selection {
  min-height: 48px;
  border: 1px solid #D9D9D9 !important;
  border-radius: 2px;
  padding-right: 3px;
  padding-bottom: 3px;
  transition: 0.2s;
}

.select2-container--default .ci_form_select2-multiple-selection .select2-selection__rendered {
  font-size: 14px;
  line-height: 38px;
  color: #06202D;
}

.select2-container--default .ci_form_select2-multiple-selection .select2-selection__placeholder {
  color: #BEBEBE;
}

.select2-container--default .ci_form_select2-multiple-selection .select2-selection__clear {
  height: 45px;
  margin-right: 35px;
}

.select2-container--default .ci_form_select2-multiple-selection .select2-selection__arrow {
  height: 24px;
  right: 8px;
}

.select2-container--default .ci_form_select2-multiple-selection .select2-selection__arrow b {
  border: none;
  padding: 0;
}

.select2-container--default .ci_form_select2-multiple-selection .select2-selection__arrow b:before {
  content: "\F0D7";
  font-family: "Font Awesome 5 Free", "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 12px;
}

.select2-container--default .ci_form_select2-multiple-selection .select2-selection__choice {
  margin-left: 3px;
  margin-right: 3px;
  margin-top: 3px;
  background-color: #EEEEEE;
  border: 1px solid #E9E9E9;
}

.select2-container--default .ci_form_select2-multiple-selection .select2-selection__choice__remove {
  border-right: none;
  float: right;
  padding-right: 10px;
  padding-left: 6px;
}

.select2-container--default .ci_form_select2-multiple-selection .select2-selection__choice__display {
  padding-left: 10px;
}

.select2-container--default .ci_form_select2-multiple-selection .select2-search__field {
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  color: #464545;
  margin-top: 3px;
  margin-left: 12px;
  height: 40px;
}

.select2-container--default .ci_form_select2-multiple-selection .select2-search__field::-moz-placeholder {
  color: #BEBEBE;
}

.select2-container--default .ci_form_select2-multiple-selection .select2-search__field:-ms-input-placeholder {
  color: #BEBEBE;
}

.select2-container--default .ci_form_select2-multiple-selection .select2-search__field::placeholder {
  color: #BEBEBE;
}

.select2-container--default .ci_form_select2-multiple-dropdown {
  -webkit-animation: show-height-50-50 0.15s ease-out both;
          animation: show-height-50-50 0.15s ease-out both;
}

.select2-container--default .ci_form_select2-multiple-dropdown .select2-results__option {
  font-size: 14px;
  padding-left: 12px;
  color: #06202D;
  transition: all 0.1s;
}

.select2-container--default .ci_form_select2-multiple-dropdown .select2-results__option--disabled {
  color: #838383;
}

.select2-container--default .ci_form_select2-multiple-dropdown .select2-results__option--highlighted {
  background-color: #06202D;
  color: #fff;
}

.select2-container--default .filtercv-select2-selection {
  height: 34px;
  border: none;
  background-color: #F6F6F6;
  border-radius: 4px;
  transition: 0.2s;
}

.select2-container--default .filtercv-select2-selection .select2-selection__rendered {
  font-size: 14px;
  line-height: 34px;
  padding-left: 12px;
  padding-right: 55px;
  color: #06202D;
  transition: 0.2s;
}

.select2-container--default .filtercv-select2-selection .select2-selection__arrow {
  height: 12px;
  right: 8px;
  color: #06202D;
  transition: 0.2s;
}

.select2-container--default .filtercv-select2-selection .select2-selection__arrow b {
  border: none;
  padding: 0;
}

.select2-container--default .filtercv-select2-selection .select2-selection__arrow b:before {
  content: "\F0D7";
  font-family: "Font Awesome 5 Free", "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 16px;
}

.select2-container--default .filtercv-select2-selection .select2-selection__clear {
  height: 35px;
  position: absolute;
  margin-right: 33px;
  right: 0;
}

.select2-container--default .filtercv-select2-selection:hover {
  background-color: #E7E7E7;
}

.select2-container--default .filtercv-select2-dropdown {
  -webkit-animation: show-height-50 0.2s both;
          animation: show-height-50 0.2s both;
}

.select2-container--default .filtercv-select2-dropdown .select2-results__option {
  font-size: 14px;
  padding-left: 12px;
  color: #06202D;
  transition: all 0.1s;
}

.select2-container--default .filtercv-select2-dropdown .select2-results__option--disabled {
  color: #838383;
}

.select2-container--default .filtercv-select2-dropdown .select2-results__option--highlighted {
  background-color: #D93E21;
  color: #fff;
}

.select2-container--default.select2-container--open .ci_form_select2-selection {
  background-color: #E9E8E8;
}

.select2-container--default.select2-container--focus .ci_form_select2-selection,
.select2-container--default.select2-container--focus .ci_form_select2-multiple-selection {
  border: 1px solid #1C4355;
}

.select2-container--default.select2-container--disabled .ci_form_select2-selection {
  cursor: not-allowed;
}

.select2-container--default.select2-container--disabled.select2-container--focus .ci_form_select2-selection {
  border: 1px solid #D9D9D9;
}

.select2-container--default .dichvu {
  width: 250px !important;
}

.daterangepicker {
  -webkit-animation: coming-down-short 0.15s both;
          animation: coming-down-short 0.15s both;
  border-radius: 2px;
  border: none;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.daterangepicker .ranges ul li {
  color: #464545;
}

.daterangepicker .ranges ul li:last-child {
  visibility: hidden;
}

.daterangepicker .ranges ul li.active {
  color: #464545;
  background-color: #f1f1f1;
}

.daterangepicker .drp-buttons .applyBtn {
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  color: #fff;
  background-color: #FD1616;
  border: none;
  box-shadow: none;
  padding: 0 16px;
  height: 32px;
}

.daterangepicker .drp-calendar .calendar-table .table-condensed tr td.active {
  background-color: #134D6A;
}

.daterangepicker select.monthselect,
.daterangepicker select.yearselect,
.daterangepicker select.hourselect,
.daterangepicker select.minuteselect {
  cursor: pointer;
  background: #eee;
  border: 1px solid #eee;
}

.zindex-1 {
  z-index: 1;
}

.mx-n12 {
  margin-right: -12px;
  margin-left: -12px;
}

.px-12 {
  padding-right: 12px;
  padding-left: 12px;
}

.pt-20 {
  padding-top: 20px;
}

.mb-100 {
  margin-bottom: 100px;
}

.error-text {
  font-size: 12px;
  line-height: 14px;
  font-weight: normal;
  color: #FD1616;
  min-height: 14px;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 3px;
}

.required-form:after {
  content: "*";
  color: #FD1616;
}

.error-input {
  border: 1px solid #FD1616 !important;
}

.error-form .select2-selection,
.error-form .bootstrap-tagsinput,
.error-form .tox-tinymce {
  border: 1px solid #FD1616 !important;
}

.no-min-height {
  min-height: 0 !important;
}

.tox-tinymce {
  border: 1px solid #D9D9D9 !important;
  border-radius: 2px !important;
}

@-webkit-keyframes ldio-nah0zr0jos {
  0% {
    transform: translate(9px, 43px) scale(0);
  }

  25% {
    transform: translate(9px, 43px) scale(0);
  }

  50% {
    transform: translate(9px, 43px) scale(1);
  }

  75% {
    transform: translate(43px, 43px) scale(1);
  }

  100% {
    transform: translate(77px, 43px) scale(1);
  }
}

@keyframes ldio-nah0zr0jos {
  0% {
    transform: translate(9px, 43px) scale(0);
  }

  25% {
    transform: translate(9px, 43px) scale(0);
  }

  50% {
    transform: translate(9px, 43px) scale(1);
  }

  75% {
    transform: translate(43px, 43px) scale(1);
  }

  100% {
    transform: translate(77px, 43px) scale(1);
  }
}

@-webkit-keyframes ldio-nah0zr0jos-r {
  0% {
    transform: translate(77px, 43px) scale(1);
  }

  100% {
    transform: translate(77px, 43px) scale(0);
  }
}

@keyframes ldio-nah0zr0jos-r {
  0% {
    transform: translate(77px, 43px) scale(1);
  }

  100% {
    transform: translate(77px, 43px) scale(0);
  }
}

@-webkit-keyframes ldio-nah0zr0jos-c {
  0% {
    background: #1c4355;
  }

  25% {
    background: #1c4355;
  }

  50% {
    background: #1c4355;
  }

  75% {
    background: #1c4355;
  }

  100% {
    background: #1c4355;
  }
}

@keyframes ldio-nah0zr0jos-c {
  0% {
    background: #1c4355;
  }

  25% {
    background: #1c4355;
  }

  50% {
    background: #1c4355;
  }

  75% {
    background: #1c4355;
  }

  100% {
    background: #1c4355;
  }
}

.ldio-nah0zr0jos div {
  position: absolute;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  transform: translate(43px, 43px) scale(1);
  background: #1c4355;
  -webkit-animation: ldio-nah0zr0jos 1.7857142857s infinite cubic-bezier(0, 0.5, 0.5, 1);
          animation: ldio-nah0zr0jos 1.7857142857s infinite cubic-bezier(0, 0.5, 0.5, 1);
}

.ldio-nah0zr0jos div:nth-child(1) {
  background: #1c4355;
  transform: translate(77px, 43px) scale(1);
  -webkit-animation: ldio-nah0zr0jos-r 0.4464285714s infinite cubic-bezier(0, 0.5, 0.5, 1), ldio-nah0zr0jos-c 1.7857142857s infinite step-start;
          animation: ldio-nah0zr0jos-r 0.4464285714s infinite cubic-bezier(0, 0.5, 0.5, 1), ldio-nah0zr0jos-c 1.7857142857s infinite step-start;
}

.ldio-nah0zr0jos div:nth-child(2) {
  -webkit-animation-delay: -0.4464285714s;
          animation-delay: -0.4464285714s;
  background: #1c4355;
}

.ldio-nah0zr0jos div:nth-child(3) {
  -webkit-animation-delay: -0.8928571429s;
          animation-delay: -0.8928571429s;
  background: #1c4355;
}

.ldio-nah0zr0jos div:nth-child(4) {
  -webkit-animation-delay: -1.3392857143s;
          animation-delay: -1.3392857143s;
  background: #1c4355;
}

.ldio-nah0zr0jos div:nth-child(5) {
  -webkit-animation-delay: -1.7857142857s;
          animation-delay: -1.7857142857s;
  background: #1c4355;
}

.loadingio-spinner-ellipsis-1iw6fqic5l {
  width: 54px;
  height: 54px;
  display: inline-block;
  overflow: hidden;
  background: rgba(255, 255, 255, 0);
}

.ldio-nah0zr0jos {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(0.54);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transform-origin: 0 0;
  /* see note above */
}

.ldio-nah0zr0jos div {
  box-sizing: content-box;
}

@media screen and (min-width: 1500px) {
  .pr-xxl-5 {
    padding-right: 3rem !important;
  }
}

@media screen and (max-width: 1499.98px) {
  .ci-nav__item {
    padding-left: 18px;
  }

  .ci-form {
    padding: 20px 25px;
  }

  .line-border-right {
    padding-top: 24px;
  }

  .ci-activity__item {
    margin-bottom: 10px;
  }

  .ci-activity__item:last-child {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 1199.98px) {
  .ci-nav__item {
    padding-left: 30px;
  }

  .form-title {
    padding-left: 17px;
    font-size: 18px;
    line-height: 22px;
  }
}

@media screen and (max-width: 991.98px) {
  .ci-header {
    border-bottom: none;
  }

  .line-border-right {
    padding-top: 10px;
  }

  .line-border-right:before {
    display: none;
  }

  .ci-nav {
    justify-content: space-around;
    padding: 0 10px;
    border-bottom: 1px solid #E7E7E7;
  }

  .ci-nav:before {
    display: none;
  }

  .ci-nav__item {
    position: relative;
    padding: 0 10px 14px 10px;
    max-width: 190px;
    text-align: center;
    height: auto;
  }

  .ci-nav__item:before {
    display: none;
  }

  .ci-nav__item:after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 50%;
    transform: translateX(-50%);
    height: 3px;
    width: 0;
    background-color: #06202D;
    transition: all 0.3s;
    opacity: 0;
  }

  .ci-nav__item--success {
    position: absolute;
    top: 0;
    right: unset;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: all 0.5s;
  }

  .ci-nav__item.active {
    color: #06202D;
    font-weight: normal;
  }

  .ci-nav__item.active:after {
    width: 100%;
    opacity: 1;
  }

  .ci-nav:before {
    content: "";
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    width: 3px;
    height: 100%;
    background-color: #D8D7D7;
  }

  .ci-nav__border {
    display: none;
  }

  .ci-nav:hover .ci-nav__item:before {
    width: 0;
  }

  .ci-nav:hover .ci-nav__item:hover:before {
    width: 100%;
  }
}

@media screen and (max-width: 767.98px) {
  .px-mobile-0 {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }

  .emp-box {
    margin-top: 25px;
  }

  .ci-header {
    height: 70px;
  }

  .ci-title {
    padding: 0 3px;
  }

  .ci-title__image {
    transform: scale(0.85);
    margin-right: 8px;
  }

  .ci-title__text {
    font-size: 16px;
    line-height: 19px;
  }

  .ci-nav__item {
    padding: 0 5px 12px 5px;
    max-width: 80px;
    font-size: 14px;
    line-height: 16px;
  }

  .ci-nav__item.active:after {
    width: 100%;
    opacity: 1;
  }

  .ci-nav__item.active {
    color: #06202D;
  }

  .ci-nav:before {
    content: "";
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    width: 3px;
    height: 100%;
    background-color: #D8D7D7;
  }

  .ci-nav__border {
    display: none;
  }

  .ci-nav:hover .ci-nav__item:before {
    width: 0;
  }

  .ci-nav:hover .ci-nav__item:hover:before {
    width: 100%;
  }

  .form-title {
    padding-left: 14px;
    font-size: 16px;
    line-height: 19px;
    padding-top: 0;
  }

  .ci-form {
    padding: 20px;
  }

  .ci-form__label {
    margin-bottom: 5px;
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
  }

  .ci-form__label--inline {
    display: none;
  }

  .ci-form__input,
  .ci-form__submit,
  .ci-form__cancel {
    height: 40px;
    font-size: 12px;
    line-height: 14px;
    font-weight: normal;
  }

  .ci-form__textarea {
    height: auto;
  }

  .ci-form__submit,
  .ci-form__cancel {
    padding: 0 15px;
  }

  .ci-form__toggle--title {
    font-size: 12px;
    line-height: 14px;
    font-weight: normal;
  }

  .ci-form__toggle--icon {
    transform: scale(0.8);
  }

  .ci-form__company-logo .company-image-background {
    width: 64px !important;
    min-width: 64px !important;
    height: 64px !important;
    min-height: 64px !important;
    margin-right: 30px;
  }

  .ci-form__company-logo .company-logo-tip {
    font-size: 12px;
    line-height: 14px;
    font-weight: normal;
    color: #838383;
  }

  .ci-card {
    padding: 10px 17px;
  }

  .ci-card__title {
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    margin-bottom: 1px;
  }

  .ci-card__type {
    font-size: 12px;
    line-height: 14px;
    font-weight: 500;
    margin-bottom: 8px;
  }

  .ci-card__point {
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
  }

  .ci-card__premium .ci-card__image {
    width: 46px;
    bottom: 4px;
    right: 0;
  }

  .ci-card__basic .ci-card__upgrade {
    font-size: 10px;
    line-height: 12px;
    font-weight: normal;
    bottom: 10px;
    right: 10px;
    height: 20px;
  }

  .ci-info__item {
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
    padding: 6px 0;
  }

  .ci-info__item i {
    width: 20px;
    margin-right: 5px;
  }

  .trade-history .th-table .trow {
    position: relative;
  }

  .trade-history .th-table .thead {
    background: #FAFAFA;
    border-top: 0.5px solid #EBEBEB;
    border-bottom: 0.5px solid #EBEBEB;
  }

  .trade-history .th-table .thead .trow {
    height: 48px;
  }

  .trade-history .th-table .thead .trow .tcol {
    font-weight: 500;
  }

  .trade-history .th-table .tbody .trow {
    border: 1px solid #EBEBEB;
    border-radius: 4px;
    min-height: auto;
    padding: 0;
    overflow: hidden;
  }

  .trade-history .point-less,
  .trade-history .point-add {
    font-size: 12px;
    line-height: 14px;
    font-weight: normal;
  }

  .trade-history .th-pagination__element {
    height: 30px;
    font-size: 12px;
    line-height: 14px;
    font-weight: normal;
  }

  .trade-history .th-pagination__input {
    width: 50px;
  }

  .trade-history__name {
    height: 44px;
    display: flex;
    align-items: center;
    padding-left: 15px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    border-bottom: 1px solid #EBEBEB;
    background-color: #FAFAFA;
  }

  .trade-history__time {
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 15px;
    font-size: 12px;
    line-height: 14px;
    font-weight: normal;
  }

  .trade-history__bold {
    font-weight: 500;
  }

  .trade-history__absolute {
    width: auto;
    position: absolute;
    top: 0;
    right: 15px;
    height: 44px;
    display: flex;
    align-items: center;
  }

  .error-text {
    font-size: 10px;
    line-height: 12px;
    font-weight: normal;
    min-height: 12px;
    padding-top: 2px;
  }

  .button-nude {
    font-size: 12px;
    line-height: 14px;
    font-weight: normal;
    padding: 5px;
  }

  .company-images__background {
    width: 40px;
    min-width: 40px;
    height: 40px;
  }

  .company-images__title {
    font-size: 12px;
    line-height: 14px;
    font-weight: normal;
  }

  .input-image-button {
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
    height: 30px;
    padding: 0 24px;
  }

  .input-image-button:hover {
    background-color: #1C4355;
    color: #F4F5F7;
  }

  .input-image-button:hover svg path {
    fill: #F4F5F7;
  }

  .select2-container--default .ci_form_select2-selection {
    height: 40px;
  }

  .select2-container--default .ci_form_select2-selection .select2-selection__rendered {
    font-size: 12px;
    line-height: 38px;
  }

  .select2-container--default .ci_form_select2-selection .select2-selection__placeholder {
    color: #BEBEBE;
  }

  .select2-container--default .ci_form_select2-selection .select2-selection__clear {
    height: 37px;
  }

  .select2-container--default .ci_form_select2-selection .select2-selection__arrow {
    height: 16px;
  }

  .select2-container--default .ci_form_select2-dropdown .select2-results__option {
    font-size: 12px;
  }

  .select2-container--default .ci_form_select2-dropdown .select2-search__field {
    font-size: 12px;
    line-height: 20px;
    font-weight: normal;
    color: #464545;
    padding-left: 7px;
    padding-right: 7px;
  }

  .select2-container--default .ci_form_select2-multiple-selection {
    min-height: 40px;
  }

  .select2-container--default .ci_form_select2-multiple-selection .select2-selection__rendered {
    font-size: 12px;
    line-height: 30px;
  }

  .select2-container--default .ci_form_select2-multiple-selection .select2-selection__clear {
    height: 35px;
    margin-right: 27px;
  }

  .select2-container--default .ci_form_select2-multiple-selection .select2-selection__arrow {
    height: 16px;
  }

  .select2-container--default .ci_form_select2-multiple-selection .select2-search__field {
    font-size: 12px;
    line-height: 14px;
    font-weight: normal;
    height: 32px;
  }

  .select2-container--default .ci_form_select2-multiple-dropdown .select2-results__option {
    font-size: 12px;
  }
}

