@charset "UTF-8";

/*=============== Search CV ===============*/

/*=============== End Search CV ===============*/

/*=============== Post Job ===============*/

/*=============== End Post Job ===============*/

/*=============== Company Information ===============*/

/*=============== End Company Information ===============*/

/*=============== Buy Points ===============*/

/*=============== End Buy Points ===============*/

/*=============== DASHBOARD ===============*/

/*=============== End DASHBOARD ===============*/

/*=============== @include ===============*/

/*=============== End @include ===============*/

/*=============== @extend ===============*/

#list-job .job__list--body .list__content--item .date-upload,
#list-job .job__list--body .list__content--item .date-expired,
#list-job .job__list--body .list__content--item .view,
#list-job .job__list--body .list__content--item .recruitment,
#list-job .job__list--body .list__content--item .status {
  overflow: hidden;
  display: -webkit-box;
  word-break: break-word;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

/*=============== End @extend ===============*/

p,
h1,
h2,
h3,
h4,
h5,
label {
  margin-bottom: 0;
}

button {
  border: none;
  background-color: transparent;
}

.sort path {
  fill: #555555;
}

.pagination {
  justify-content: center;
  align-items: center;
  margin: 30px 0;
}

.pagination .page-item {
  margin: 0 4px;
  padding: 0;
}

.pagination .page-item .page-link {
  padding: 0;
  width: 66px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination .page-item .active:focus {
  border: 1px solid #1C4355;
}

.pagination .page-item .page-item--lable span {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #1C4355;
  margin-left: 11px;
  margin-right: 4px;
}

.pagination .page-item .page-item--lable .go-to__input {
  width: 50px;
  text-align: center;
  border: 1px solid #D9D9D9;
  border-radius: 2px;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #1C4355;
  height: 32px;
}

.pagination .page {
  border: 1px solid #D9D9D9;
  height: 32px;
  width: 66px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #1C4355;
}

.pagination .prev,
.pagination .next {
  height: 32px;
  width: 32px;
  border: 1px solid #D9D9D9;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.pagination .prev:active,
.pagination .next:active {
  border: 1px solid #1C4355;
}

.pagination .disabled svg path {
  fill: #D9D9D9;
}

.pagination .page-link {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #1C4355;
}

.pagination .page-link:focus {
  box-shadow: none;
}

.pagination .page-link:hover {
  background-color: transparent;
}

.date-ranger .calender {
  background: #F9F9F9;
  border-radius: 2px;
  padding: 5px 19px 4px 15px;
  cursor: pointer;
  width: 215px;
  font-size: 14px;
  line-height: 30px;
  font-weight: 500;
  color: #164256;
  border: none;
}

.date-ranger .calender:focus {
  box-shadow: none;
}

.date-ranger .calender:hover {
  background-color: #E7E7E7;
}

.date-ranger .calender::-moz-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-size: 14px;
  line-height: 30px;
  font-weight: 500;
  color: #164256;
  opacity: 1;
  /* Firefox */
}

.date-ranger .calender:-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-size: 14px;
  line-height: 30px;
  font-weight: 500;
  color: #164256;
  opacity: 1;
  /* Firefox */
}

.date-ranger .calender::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-size: 14px;
  line-height: 30px;
  font-weight: 500;
  color: #164256;
  opacity: 1;
  /* Firefox */
}

.date-ranger .calender:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  font-size: 14px;
  line-height: 30px;
  font-weight: 500;
  color: #164256;
}

.date-ranger .calender::-ms-input-placeholder {
  /* Microsoft Edge */
  font-size: 14px;
  line-height: 30px;
  font-weight: 500;
  color: #164256;
}

.date-ranger svg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 4%;
  cursor: pointer;
  width: 11px;
}

.checkbox-label {
  height: 100%;
}

.checkbox-label .list--checkbox {
  border: 2px solid #949494;
  border-radius: 2px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.checkbox-label .list--checkbox i {
  font-size: 14px;
  color: #fff;
}

.checkbox-label input:checked ~ .list--checkbox {
  background-color: #06202D;
  border: none;
}

.premium-commitments,
.premium,
.amazing-commitments,
.amazing,
.hot-commitments,
.hot,
.basic-commitments,
.basic {
  display: flex;
}

.premium-commitments span,
.premium span,
.amazing-commitments span,
.amazing span,
.hot-commitments span,
.hot span,
.basic-commitments span,
.basic span {
  margin-right: 3px;
}

.premium-commitments {
  font-size: 12px;
  line-height: 14px;
  font-weight: 500;
  color: #996e15;
}

.premium-commitments:before {
  content: "\F005";
  font-family: "Font Awesome 5 Free", serif;
  font-size: 10px;
  line-height: 12px;
  font-weight: 900;
  margin-right: 5px;
}

.premium-commitments svg {
  margin-right: 5px;
}

.premium {
  font-size: 12px;
  line-height: 14px;
  font-weight: 500;
  color: #996e15;
}

.amazing-commitments {
  font-size: 12px;
  line-height: 14px;
  font-weight: 500;
  color: #352ab5;
}

.amazing-commitments:before {
  content: "\F005";
  font-family: "Font Awesome 5 Free", serif;
  font-size: 10px;
  line-height: 12px;
  font-weight: 900;
  margin-right: 5px;
}

.amazing-commitments svg {
  margin-right: 5px;
}

.amazing {
  font-size: 12px;
  line-height: 14px;
  font-weight: 500;
  color: #352ab5;
}

.hot-commitments {
  font-size: 12px;
  line-height: 14px;
  font-weight: 500;
  color: #e74243;
}

.hot-commitments:before {
  content: "\F005";
  font-family: "Font Awesome 5 Free", serif;
  font-size: 10px;
  line-height: 12px;
  font-weight: 900;
  margin-right: 5px;
}

.hot-commitments svg {
  margin-right: 5px;
}

.hot {
  font-size: 12px;
  line-height: 14px;
  font-weight: 500;
  color: #e74243;
}

.basic-commitments {
  font-size: 12px;
  line-height: 14px;
  font-weight: 500;
  color: #626262;
}

.basic-commitments:before {
  content: "\F005";
  font-family: "Font Awesome 5 Free", serif;
  font-size: 10px;
  line-height: 12px;
  font-weight: 900;
  margin-right: 5px;
}

.basic-commitments svg {
  margin-right: 5px;
}

.basic {
  font-size: 12px;
  line-height: 14px;
  font-weight: 500;
  color: #626262;
}

.input-hidden {
  position: absolute;
  opacity: 0;
  visibility: hidden;
}

.action__content--download {
  background-color: transparent;
}

.content__list--action .action__content--amount {
  font-size: 16px;
  line-height: 19px;
  font-weight: normal;
  color: #555555;
}

.content__list--action .action__content {
  margin: 0 3px;
  font-size: 14px;
  line-height: 19px;
  font-weight: 600;
  color: #595959;
}

.content__list--action .action__content--status {
  padding: 7px 10px;
}

.content__list--action .action__content--status svg {
  margin-left: 5px;
}

.content__list--action .action__content--delete {
  background: #134D6A;
  border-radius: 4px;
  padding: 5px 10px;
  color: #fff;
}

.content__list--action .action__content--delete:active {
  transform: scale(0.95);
}

.content__list--action .action__content--delete svg {
  margin: 0 11px 2px 3px;
}

.content {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  -webkit-animation: coming-up-short 0.3s both;
          animation: coming-up-short 0.3s both;
}

.content .content__title {
  padding: 16px 26px 16px 20px;
  border-bottom: 1px solid #EBEBEB;
}

.content .content__title h4 {
  font-size: 18px;
  line-height: 21px;
  font-weight: 600;
  color: #06202D;
}

.content .content__title .total-list {
  font-size: 18px;
  line-height: 21px;
  font-weight: 600;
  color: #06202D;
  padding-left: 5px;
  overflow: hidden;
  display: -webkit-box;
  word-break: break-word;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.content .content__title--action {
  padding: 12px 26px 16px 40px;
}

.content .content__title--action .edit__label {
  margin-right: 6px;
}

.content .content__list--title {
  background-color: #FAFAFA;
  border-bottom: 1px solid #EBEBEB;
  border-top: 1px solid #EBEBEB;
  min-height: 68px;
}

.content .content__list--title .checkbox-remove:after {
  content: "";
  position: absolute;
  height: 3px;
  width: 13px;
  background-color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content .content__list--title .checkbox-all:before {
  content: "";
  position: absolute;
  width: 3px;
  height: 8px;
  background-color: #fff;
  top: 44%;
  left: 43%;
  transform: rotate(-45deg) translateX(-50%) translateY(-50%);
}

.content .content__list--title .checkbox-all:after {
  content: "";
  position: absolute;
  width: 3px;
  height: 12px;
  background-color: #fff;
  top: 44%;
  left: 38%;
  transform: rotate(45deg) translateX(-50%) translateY(-50%);
}

.content .content__list--title .list-title {
  min-height: 33px;
}

.select2-container--default .job_management-select2-selection {
  height: 39px;
  border-radius: 4px;
  background: #F9F9F9;
  border: none;
}

.select2-container--default .job_management-select2-selection:hover {
  background-color: #E7E7E7;
}

.select2-container--default .job_management-select2-selection .select2-selection__rendered {
  padding-left: 15px;
  font-size: 14px;
  line-height: 40px;
  font-weight: 500;
  color: #164256;
  padding-right: 33px;
}

.select2-container--default .job_management-select2-selection .select2-selection__arrow {
  height: 33px;
  right: 7px;
}

.select2-container--default .job_management-select2-selection .select2-selection__arrow b {
  border-color: #164256 transparent transparent transparent;
  border-width: 7px 6px 0 6px;
  top: 48%;
}

.select2-container--default .job_management-select2-selection:focus {
  outline: none;
}

.select2-container--default .select2-results > .select2-results__options::-webkit-scrollbar {
  padding-right: 0;
  width: 5px;
  background-color: transparent;
  border-radius: 5px;
}

.select2-container--default .select2-results > .select2-results__options::-webkit-scrollbar-thumb {
  background-color: #C4C4C4;
  border-radius: 5px;
}

.select2-container--default .select2-results > .select2-results__options::-webkit-scrollbar-thumb:hover {
  background-color: #C4C4C4;
}

@-moz-document url-prefix()  {
  .select2-container--default .select2-results__options {
    scrollbar-color: #C4C4C4 transparent;
    scrollbar-width: thin;
  }
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
  color: #164256;
}

.select2-container--default .job_management-select2-dropdown {
  border: none;
  border-radius: 0;
  background-color: #FFFFFF;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  -webkit-animation: show-height 0.2s both;
          animation: show-height 0.2s both;
}

.select2-container--default .job_management-select2-dropdown .select2-results__option {
  padding: 6px 14px;
}

.select2-container--default .job_management-select2-dropdown .select2-results__option--highlighted {
  background-color: #D93E21;
}

.select2-container--default .job_status-select2-dropdown {
  width: 140px !important;
}

.select2-results__option {
  overflow: hidden;
  height: 33px;
  font-size: 14px;
  line-height: 23px;
  font-weight: 500;
  color: #164256;
}

.select2-container--default.select2-container--open .select2-selection--single {
  background-color: #164256;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent #fff transparent;
  border-width: 0 6px 7px 6px;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__rendered,
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__placeholder {
  color: #fff;
}

.daterangepicker {
  -webkit-animation: show-date 0.3s both;
          animation: show-date 0.3s both;
}

.daterangepicker .ranges li.active {
  background-color: #164256;
}

.daterangepicker td.active {
  background-color: #164256;
}

.daterangepicker td.active:hover {
  background-color: #164256;
}

.daterangepicker .drp-buttons .applyBtn {
  background-color: #E8583C;
  border: none;
}

.daterangepicker .drp-buttons .applyBtn:focus,
.daterangepicker .drp-buttons .applyBtn:active {
  outline: none;
  box-shadow: none !important;
}

.daterangepicker .drp-buttons .applyBtn:hover {
  background-color: #E8583C;
}

.daterangepicker .drp-buttons .cancelBtn:focus {
  box-shadow: none;
}

.daterangepicker .drp-buttons .cancelBtn:hover {
  background-color: #838383;
  color: #fff;
}

.daterangepicker.single {
  -webkit-animation: show-date-modal 0.3s both;
          animation: show-date-modal 0.3s both;
}

.header-shadow {
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.08);
}

/*===============================JOB SERVICE==========================*/

.job-card {
  margin-top: 43px;
  margin-bottom: 28px;
}

.job-card__item {
  background-color: #fff;
  padding: 25px 70px 30px 35px;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  min-height: 117px;
}

.job-card__item .job-line {
  width: 1px;
  height: 60px;
  background-color: #C4C4C4;
}

.job-card__item .name-service {
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
  color: #4A4A4A;
}

.job-card__item .count {
  margin-top: 3px;
  font-size: 28px;
  line-height: 28px;
  font-weight: 300;
}

.job-card--title {
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
  color: #4A4A4A;
  height: 100%;
  width: 20%;
}

.job-card--content {
  width: 75%;
}

.job-card--content_fix .job-card--content-item {
  display: none;
}

.job-card--content_fix .job-card--content-item:nth-child(1),
.job-card--content_fix .job-card--content-item:nth-child(2),
.job-card--content_fix .job-card--content-item:nth-child(3),
.job-card--content_fix .job-card--content-item:nth-child(4) {
  display: flex;
}

.job-card .job-service__item {
  margin-right: 10px;
}

.job-card .job-service__item .job-line {
  margin: 0 30px;
}

.job-card .job-service__item .show-details {
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  color: #06202D;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  margin-top: 7px;
}

.job-card .job-service__item .show-details svg {
  margin-bottom: 3px;
  margin-left: 3px;
}

.job-card .job-service__item .count {
  color: #6C6201;
}

.job-card .job-status__item {
  margin-left: 10px;
}

.job-card .job-status__item .job-line {
  margin: 0 43px;
}

.job-card .job-status__item .job-card--title {
  width: 13%;
}

.job-card .job-status__item .count {
  color: #1C4355;
}

/*===============================UPLOAD JOB==========================*/

.upload-job__btn {
  background: linear-gradient(90.19deg, #D63A1C 0.17%, #EA5B40 99.87%);
  box-shadow: 5px 5px 10px #f5b5b5;
  border-radius: 4px;
  padding: 11px 24px;
  font-size: 16px;
  line-height: 19px;
  font-weight: normal;
  color: #fff;
  position: relative;
  transition: all 0.3s;
  overflow: hidden;
}

.upload-job__btn svg {
  margin-right: 10px;
}

.upload-job__btn span {
  z-index: 20;
}

.upload-job__btn:after {
  background: #fff;
  content: "";
  height: 155px;
  left: -75px;
  opacity: 0.2;
  position: absolute;
  top: -50px;
  transform: rotate(35deg);
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  width: 50px;
}

.upload-job__btn:active {
  transform: scale(0.95);
}

.upload-job__btn:hover:after {
  left: 120%;
  transition: all 1000ms cubic-bezier(0.19, 1, 0.22, 1);
}

/*===============================LIST JOB==========================*/

#list-job {
  overflow: hidden;
}

#list-job .export-btn {
  font-size: 14px;
  line-height: 30px;
  font-weight: 500;
  color: #164256;
  background-color: #F9F9F9;
  margin-left: 6px;
  padding: 0 14px;
  height: 39px;
  border-radius: 2px;
  transition: all 0.1s;
}

#list-job .export-btn:hover {
  background-color: #E7E7E7;
}

#list-job .export-btn:active {
  transform: scale(0.95);
}

#list-job .export-btn svg {
  margin-right: 8px;
}

#list-job .search__form {
  width: 306px;
}

#list-job .search__form .search__label {
  margin-right: 6px;
  position: relative;
}

#list-job .search__form .search__label .search__input {
  background: #F9F9F9;
  border-radius: 4px;
  border: none;
  padding: 4px 15px;
  font-size: 14px;
  line-height: 30px;
  font-weight: normal;
  color: #164256;
  position: relative;
}

#list-job .search__form .search__label .search__input::-moz-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-size: 14px;
  line-height: 30px;
  font-weight: 500;
  color: #164256;
  opacity: 1;
  /* Firefox */
}

#list-job .search__form .search__label .search__input:-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-size: 14px;
  line-height: 30px;
  font-weight: 500;
  color: #164256;
  opacity: 1;
  /* Firefox */
}

#list-job .search__form .search__label .search__input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-size: 14px;
  line-height: 30px;
  font-weight: 500;
  color: #164256;
  opacity: 1;
  /* Firefox */
}

#list-job .search__form .search__label .search__input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  font-size: 14px;
  line-height: 30px;
  font-weight: 500;
  color: #164256;
}

#list-job .search__form .search__label .search__input:focus::-moz-placeholder {
  color: transparent;
}

#list-job .search__form .search__label .search__input:focus:-ms-input-placeholder {
  color: transparent;
}

#list-job .search__form .search__label .search__input:focus::placeholder {
  color: transparent;
}

#list-job .search__form .search__label .search-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 3%;
}

#list-job .checkbox-label {
  min-width: 90px;
}

#list-job .content__list--title {
  background-color: #FAFAFA;
  min-height: 48px;
}

#list-job .content__list--title .job_management-select2-selection {
  height: 33px;
}

#list-job .content__list--title .job_management-select2-selection .select2-selection__rendered {
  line-height: 34px;
}

#list-job .content__list--title .select2-container--default .job_management-select2-selection .select2-selection__arrow b {
  top: 38%;
}

#list-job .content__list--title .text-list-title {
  display: block;
  align-items: center;
}

#list-job .content__list--title .text-list-title .arrow-sort {
  height: 15px;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  margin-left: 5px;
}

#list-job .job__list--body {
  max-height: 859px;
  min-height: 444px;
  overflow: auto;
  width: 100%;
}

#list-job .job__list--body::-webkit-scrollbar {
  padding-right: 0;
  width: 5px;
  background-color: transparent;
  border-radius: 5px;
}

#list-job .job__list--body::-webkit-scrollbar-thumb {
  background-color: #C4C4C4;
  border-radius: 5px;
}

#list-job .job__list--body::-webkit-scrollbar-thumb:hover {
  background-color: #C4C4C4;
}

#list-job .job__list--body .list__content--item {
  height: 86px;
  position: relative;
}

#list-job .job__list--body .list__content--item:after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 1px;
  width: 97%;
  background-color: #F0F0F0;
  left: 50%;
  transform: translateX(-50%);
}

#list-job .job__list--body .list__content--item .job-title {
  display: inline-block;
}

#list-job .job__list--body .list__content--item .job-title .text-default span:hover {
  text-decoration: underline;
  color: #4A4A4A;
  cursor: pointer;
}

#list-job .job__list--body .list__content--item .job-title .text-default:hover {
  color: #454545;
  cursor: context-menu;
}

#list-job .job__list--body .list__content--item .recruitment .text-list-default span:hover {
  text-decoration: underline;
  color: #454545;
  cursor: pointer;
}

#list-job .job__list--body .list__content--item .recruitment .text-list-default:hover {
  color: #454545;
  cursor: context-menu;
}

#list-job .job__list--body .list__content--item .status span {
  font-size: 14px;
  line-height: 22px;
  font-weight: normal;
  border-radius: 30px;
  padding: 1px 11px;
}

#list-job .job__list--body .list__content--item .basic-info {
  flex-direction: unset;
}

#list-job .job__list--body .list__content--item .basic-info .basic-info--left,
#list-job .job__list--body .list__content--item .basic-info .basic-info--right {
  display: flex;
}

#list-job .job__list--body .list__content--item .date-upload,
#list-job .job__list--body .list__content--item .date-expired,
#list-job .job__list--body .list__content--item .view,
#list-job .job__list--body .list__content--item .recruitment,
#list-job .job__list--body .list__content--item .status {
  display: flex;
  justify-content: center;
}

#list-job .job__list--body .list__content--item .date-upload,
#list-job .job__list--body .list__content--item .date-expired,
#list-job .job__list--body .list__content--item .view,
#list-job .job__list--body .list__content--item .recruitment {
  padding-right: 5px;
}

#list-job .job__list--body .list__content--item .dropdown {
  background: #F4F4F4;
  border-radius: 4px;
}

#list-job .job__list--body .list__content--item .list-action .list-action--button {
  width: 111px;
  height: 35px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #1C4355;
  padding: 0;
}

#list-job .job__list--body .list__content--item .list-action .list-action--button svg {
  margin-left: 6px;
}

#list-job .job__list--body .list__content--item .list-action .list-action--button:focus {
  box-shadow: none;
}

#list-job .job__list--body .list__content--item .list-action .button-active {
  background-color: #1C4355;
  color: #fff;
}

#list-job .job__list--body .list__content--item .list-action .button-active svg path {
  fill: #fff;
}

#list-job .job__list--body .list__content--item .list-action .dropdown-menu {
  -webkit-animation: show-date 0.2s both;
          animation: show-date 0.2s both;
  left: unset !important;
  right: 0 !important;
  top: 34px !important;
  box-shadow: 0 3px 5px rgba(9, 30, 66, 0.2), 0 0 1px rgba(9, 30, 66, 0.31);
  border-radius: 3px;
  border: none;
}

#list-job .job__list--body .list__content--item .list-action .dropdown-menu .dropdown-item {
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
  color: #172B4D;
  padding: 6px 16px;
}

#list-job .job__list--body .list__content--item .list-action .dropdown-menu .dropdown-item:hover {
  background-color: #D93E21;
  color: #fff;
}

#list-job .job__list--body .lazy-loading {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
  color: #454545;
  height: 86px;
}

@-moz-document url-prefix()  {
  #list-job .job__list--body.scroller {
    scrollbar-color: #C4C4C4 transparent;
    scrollbar-width: thin;
  }
}

#list-job .job-title {
  min-width: 404px;
  width: 404px;
  padding-right: 25px;
}

#list-job .date-upload,
#list-job .date-expired,
#list-job .view,
#list-job .recruitment {
  width: 135px;
}

#list-job .date-expired {
  margin-right: 10px;
}

#list-job .date-upload {
  margin-right: 25px;
}

#list-job .status {
  width: 163px;
  justify-content: center;
  display: flex;
  margin-right: 30px;
}

#list-job .text-list-title.date-upload,
#list-job .text-list-title.date-expired,
#list-job .text-list-title.view,
#list-job .text-list-title.recruitment {
  cursor: pointer;
  justify-content: center;
}

#list-job .action {
  justify-content: center;
  display: flex;
  width: 105px;
}

#list-job .text-list-title.view,
#list-job .text-list-title.recruitment {
  padding-right: 0;
}

#list-job .view,
#list-job .recruitment {
  padding-right: 20px;
}

#list-job .background-shadow {
  background: #FFFFFF;
  box-shadow: 0px -3px 4px rgba(0, 0, 0, 0.08);
  height: 50px;
}

#list-job .list__action--item {
  margin-right: 40px;
}

/*===============================MODAL==========================*/

#service_detail_modal .modal-dialog {
  max-width: 795px;
}

#service_detail_modal .modal-dialog .modal-header {
  padding: 22px 27px;
}

#service_detail_modal .modal-dialog .modal-header h5 {
  font-size: 18px;
  line-height: 21px;
  font-weight: 500;
  color: #555555;
}

#service_detail_modal .modal-dialog .modal-body {
  padding: 0 16px 10px 16px;
}

#service_detail_modal .modal-dialog .modal-body--content {
  display: flex;
  position: relative;
}

#service_detail_modal .modal-dialog .modal-body--item {
  min-width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 55px;
}

#service_detail_modal .modal-dialog .modal-body--item:first-child {
  min-width: 130px;
  align-items: flex-start;
  padding-left: 30px;
  padding-right: 25px;
}

#service_detail_modal .modal-dialog .modal-body--item:nth-child(2),
#service_detail_modal .modal-dialog .modal-body--item:nth-child(4) {
  background: rgba(245, 245, 245, 0.5);
}

#service_detail_modal .modal-dialog .modal-body--item .count {
  font-size: 32px;
  line-height: 28px;
  font-weight: 300;
  color: #262626;
  min-height: 75px;
}

#service_detail_modal .modal-dialog .modal-body--item .text-default--modal:first-child {
  padding-right: 10px;
}

#service_detail_modal .modal-dialog .modal-body .job-name--modal {
  font-size: 14px;
  line-height: 15px;
  font-weight: 500;
  color: #fff;
  border-radius: 30px;
  width: 126px;
  height: 27px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 48px;
}

#service_detail_modal .modal-dialog .modal-body .job-name--modal svg {
  margin-right: 4px;
}

#service_detail_modal .modal-dialog .modal-body .name-service--modal {
  display: block;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #303030;
  padding-top: 6px;
  min-height: 75px;
  position: relative;
}

#service_detail_modal .modal-dialog .modal-body .name-service--modal:after {
  content: "";
  position: absolute;
  height: 1px;
  width: 730px;
  background: #E3E1E1;
  border-radius: 0 0 4px 4px;
  left: -10px;
  bottom: 19px;
}

#service_detail_modal .modal-dialog .modal-body .name-service--modal:first-child:after {
  display: none;
}

#service_detail_modal .modal-dialog .modal-body .name-service--modal:nth-child(2) {
  width: 88%;
  padding-top: 2px;
}

#service_detail_modal .modal-dialog .modal-body .name-service--modal:last-child {
  width: 92%;
  padding-top: 2px;
}

#service_detail_modal .modal-dialog .modal-body .name-service--modal:last-child:after {
  display: none;
}

#service_detail_modal .modal-dialog .modal-body .text-default--modal {
  display: inline-block;
}

#service_detail_modal .modal-dialog .modal-body .amazing-job--modal {
  background: linear-gradient(90deg, #4884F3 -6.36%, #5727C4 110.91%);
  position: relative;
  overflow: hidden;
}

#service_detail_modal .modal-dialog .modal-body .amazing-job--modal:before {
  content: "";
  position: absolute;
  width: 8px;
  height: 40px;
  top: 50%;
  left: -10%;
  transform: translate(-50%, -50%) rotate(35deg);
  background-color: #fff;
  opacity: 0.5;
  box-shadow: 0 0 10px #fff;
  -webkit-animation: glass-normal 1.5s both infinite ease-in-out;
          animation: glass-normal 1.5s both infinite ease-in-out;
  z-index: 3;
}

#service_detail_modal .modal-dialog .modal-body .premium-job--modal {
  background: linear-gradient(90deg, #D4BF57 -6.36%, #BF861E 110.91%);
}

#service_detail_modal .modal-dialog .modal-body .hot-job--modal {
  background: linear-gradient(90deg, #F85A5B 0%, #DA2B2C 100%);
}

#service_detail_modal .modal-dialog .modal-body .basic-job--modal {
  background: #A5A5A5;
}

#service_detail_modal .modal-dialog .modal-footer {
  border-top: none;
}

#service_detail_modal .modal-dialog .modal-footer .research-service {
  text-decoration: underline;
  color: #06202D;
  margin-right: 15px;
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  color: #06202D;
}

#service_detail_modal .modal-dialog .modal-footer .research-service svg {
  margin-left: 3px;
}

#service_detail_modal .modal-dialog .modal-footer .btn-cancel {
  background: #B9B9B9;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.043);
  border-radius: 4px;
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
  color: #fff;
}

#service_detail_modal .modal-dialog .modal-footer .btn-save {
  background: #D67F1E;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.043);
  border-radius: 4px;
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
  color: #fff;
}

#service_detail_modal .modal-dialog .modal-footer .btn-cancel,
#service_detail_modal .modal-dialog .modal-footer .btn-save {
  width: 170px;
  height: 39px;
  transition: all 0.2s;
  padding: 0;
}

#service_detail_modal .modal-dialog .modal-footer .btn-cancel:active,
#service_detail_modal .modal-dialog .modal-footer .btn-save:active {
  transform: scale(0.9);
}

#select_service_modal .modal-dialog {
  max-width: 795px;
}

#select_service_modal .modal-dialog .modal-header {
  padding: 22px 38px;
}

#select_service_modal .modal-dialog .modal-header h5 {
  font-size: 18px;
  line-height: 21px;
  font-weight: 500;
  color: #555555;
}

#select_service_modal .modal-dialog .modal-body {
  display: flex;
  justify-content: center;
}

#select_service_modal .modal-dialog .modal-body--list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
}

#select_service_modal .modal-dialog .modal-body--item {
  width: 100%;
  background: #F9F9F9;
  border-radius: 4px;
  margin: 7px 0;
  padding: 20px 22px 20px 30px;
  cursor: pointer;
  border: 2px solid transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  position: relative;
  align-items: flex-end;
}

#select_service_modal .modal-dialog .modal-body--item-label {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  cursor: pointer;
}

#select_service_modal .modal-dialog .modal-body--item .text-default {
  color: #535353;
}

#select_service_modal .modal-dialog .modal-body--item .text-default span {
  font-weight: 500;
  margin-right: 3px;
}

#select_service_modal .modal-dialog .modal-body--item .check-icon {
  position: absolute;
  top: 9px;
  right: 11px;
  transition: all 0.2s;
  opacity: 0;
}

#select_service_modal .modal-dialog .modal-body--item-active {
  border: 2px solid #1F7E07;
}

#select_service_modal .modal-dialog .modal-body--item-active .check-icon {
  opacity: 1;
  -webkit-animation: bounceIn 0.8s both;
          animation: bounceIn 0.8s both;
}

#select_service_modal .modal-dialog .modal-body .job-disabled {
  background: #E7E7E7;
  cursor: no-drop;
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
}

#select_service_modal .modal-dialog .modal-body .job-disabled .modal-body--item-label {
  cursor: no-drop;
}

#select_service_modal .modal-dialog .modal-body .job-disabled .job-text {
  color: #C4C4C4;
}

#select_service_modal .modal-dialog .modal-body .job-disabled .text-default {
  color: #CACACA;
}

#select_service_modal .modal-dialog .modal-body .job-disabled .remain {
  width: 100%;
}

#select_service_modal .modal-dialog .modal-body .job-disabled .remain span {
  color: #C7C7C7;
}

#select_service_modal .modal-dialog .modal-body .remain {
  align-items: flex-end;
  width: 100%;
}

#select_service_modal .modal-dialog .modal-body .remain .text-default {
  font-weight: normal;
  color: #535353;
  margin-bottom: 0;
}

#select_service_modal .modal-dialog .modal-body .text-default {
  display: flex;
  align-items: flex-end;
  margin-top: 3px;
  margin-bottom: 0;
}

#select_service_modal .modal-dialog .modal-body .count {
  font-size: 24px;
  line-height: 28px;
  font-weight: normal;
  color: #535353;
  margin-left: 6px;
}

#select_service_modal .modal-dialog .modal-body .amazing-job--modal {
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
  color: #352AB5;
}

#select_service_modal .modal-dialog .modal-body .premium-job--modal {
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
  color: #996E15;
}

#select_service_modal .modal-dialog .modal-body .hot-job--modal {
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
  color: #E74243;
}

#select_service_modal .modal-dialog .modal-body .basic-job--modal {
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
  color: #626262;
}

#select_service_modal .modal-dialog .modal-body--overlay {
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#select_service_modal .modal-dialog .modal-body--overlay_sub {
  font-size: 18px;
  line-height: 21px;
  font-weight: 500;
  color: #fff;
}

#select_service_modal .modal-dialog .modal-body--overlay_button {
  background: #D67F1E;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  width: 205px;
  height: 54px;
  margin-top: 23px;
  transition: all 0.2s;
}

#select_service_modal .modal-dialog .modal-body--overlay_button span {
  overflow: hidden;
  font-size: 18px;
  line-height: 21px;
  font-weight: 500;
  color: #fff;
}

#select_service_modal .modal-dialog .modal-body--overlay_button:hover {
  transform: scale(1.1);
}

#select_service_modal .modal-dialog .modal-body .job-disabled {
  background-color: #E7E7E7;
}

#select_service_modal .modal-dialog .modal-body .job-disabled .job-text,
#select_service_modal .modal-dialog .modal-body .job-disabled .text-default,
#select_service_modal .modal-dialog .modal-body .job-disabled .count,
#select_service_modal .modal-dialog .modal-body .job-disabled .remain span {
  color: #9a9a9a;
}

#select_service_modal .modal-dialog .modal-footer .research-service {
  text-decoration: underline;
  color: #06202D;
  margin-right: 15px;
}

#select_service_modal .modal-dialog .modal-footer .research-service svg {
  margin-left: 3px;
}

#select_service_modal .modal-dialog .modal-footer .timed-posting {
  background: #F9F9F9;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.043);
  font-size: 14px;
  line-height: 50px;
  font-weight: 500;
  color: #616161;
  margin-right: 8px;
  border-radius: 4px;
  position: relative;
}

#select_service_modal .modal-dialog .modal-footer .timed-posting svg {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  left: 27px;
}

#select_service_modal .modal-dialog .modal-footer .pj-form__settime {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding-left: 35px;
  padding-right: 0;
}

#select_service_modal .modal-dialog .modal-footer .pj-form__settime input {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding-left: 78px;
  color: #464545;
  font-weight: 500;
  margin-top: 1px;
}

#select_service_modal .modal-dialog .modal-footer .pj-form__settime input.disabled {
  visibility: hidden;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
  right: -20px;
  position: absolute;
  top: 0;
}

#select_service_modal .modal-dialog .modal-footer .pj-form__settime input.disabled + .pj-form__settime-text {
  display: unset;
}

#select_service_modal .modal-dialog .modal-footer .pj-form__settime-text {
  display: none;
  margin-left: 48px;
  margin-right: 17px;
}

#select_service_modal .modal-dialog .modal-footer .pj-form__settime-text-show {
  display: unset;
}

#select_service_modal .modal-dialog .modal-footer .btn-save {
  background: #D93E21;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.043);
  border-radius: 4px;
  font-size: 14px;
  line-height: 19px;
  font-weight: 500;
  color: #fff;
}

#select_service_modal .modal-dialog .modal-footer .timed-posting,
#select_service_modal .modal-dialog .modal-footer .btn-save {
  width: 189px;
  height: 48px;
  padding: 0;
  margin-bottom: 0;
  transition: all 0.2s;
}

#select_service_modal .modal-dialog .modal-footer .timed-posting:active,
#select_service_modal .modal-dialog .modal-footer .btn-save:active {
  transform: scale(0.9);
}

#select_service_modal .modal-dialog .modal-footer .button-disabled {
  background: #C8C8C8;
  color: #AFAEAE;
  cursor: no-drop;
}

#select_service_modal .modal-dialog .modal-footer .button-disabled .pj-form__settime-text {
  color: #AFAEAE;
}

#select_service_modal .modal-dialog .modal-footer .button-disabled .btn:disabled {
  opacity: 1;
}

#select_service_modal .modal-dialog .modal-footer .button-disabled svg path,
#select_service_modal .modal-dialog .modal-footer .button-disabled svg rect {
  fill: #AFAEAE;
}

#time_countdown-inactive_modal .modal-dialog,
#time_countdown-approved_modal .modal-dialog {
  max-width: 536px;
}

#time_countdown-inactive_modal .modal-dialog .modal-header,
#time_countdown-approved_modal .modal-dialog .modal-header {
  padding: 22px 38px;
}

#time_countdown-inactive_modal .modal-dialog .modal-header h5,
#time_countdown-approved_modal .modal-dialog .modal-header h5 {
  font-size: 18px;
  line-height: 21px;
  font-weight: 500;
  color: #555555;
}

#time_countdown-inactive_modal .modal-dialog .modal-body,
#time_countdown-approved_modal .modal-dialog .modal-body {
  padding: 40px 0 60px;
}

#time_countdown-inactive_modal .modal-dialog .modal-body--content,
#time_countdown-approved_modal .modal-dialog .modal-body--content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#time_countdown-inactive_modal .modal-dialog .modal-body--content-sub,
#time_countdown-approved_modal .modal-dialog .modal-body--content-sub {
  font-size: 16px;
  line-height: 19px;
  font-weight: normal;
  color: #555555;
}

#time_countdown-inactive_modal .modal-dialog .modal-body--content-time,
#time_countdown-approved_modal .modal-dialog .modal-body--content-time {
  font-size: 24px;
  line-height: 28px;
  font-weight: normal;
  color: #285F15;
  margin-top: 10px;
}

#time_countdown-inactive_modal .modal-dialog .modal-body--content-subdes,
#time_countdown-approved_modal .modal-dialog .modal-body--content-subdes {
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
  color: #555555;
}

#time_countdown-inactive_modal .modal-dialog .modal-footer,
#time_countdown-approved_modal .modal-dialog .modal-footer {
  background: #F3F3F3;
  border-radius: 0 0 4px 4px;
  border-top: none !important;
}

#time_countdown-inactive_modal .modal-dialog .modal-footer .btn-save,
#time_countdown-approved_modal .modal-dialog .modal-footer .btn-save {
  background: linear-gradient(90.19deg, #D63A1C 0.17%, #EA5B40 99.87%);
  border-radius: 4px;
  font-size: 14px;
  line-height: 19px;
  font-weight: 500;
  color: #fff;
  width: 170px;
}

#time_countdown-inactive_modal .modal-dialog .modal-footer .change-service,
#time_countdown-approved_modal .modal-dialog .modal-footer .change-service {
  background: #D9D9D9;
  border-radius: 4px;
  font-size: 14px;
  line-height: 19px;
  font-weight: 500;
  color: #4D4D4D;
  width: 204px;
}

#time_countdown-inactive_modal .modal-dialog .modal-footer .btn-save,
#time_countdown-inactive_modal .modal-dialog .modal-footer .change-service,
#time_countdown-approved_modal .modal-dialog .modal-footer .btn-save,
#time_countdown-approved_modal .modal-dialog .modal-footer .change-service {
  transition: all 0.2s;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.043);
  height: 39px;
  padding: 0;
}

#time_countdown-inactive_modal .modal-dialog .modal-footer .btn-save:active,
#time_countdown-inactive_modal .modal-dialog .modal-footer .change-service:active,
#time_countdown-approved_modal .modal-dialog .modal-footer .btn-save:active,
#time_countdown-approved_modal .modal-dialog .modal-footer .change-service:active {
  transform: scale(0.9);
}

/*==============================Max-width: 1500px==============================*/

@media screen and (max-width: 1499.98px) {
  .job-card__item {
    padding: 25px 20px 30px 20px;
  }

  .job-card--content {
    width: 72%;
  }

  .job-card .job-service__item .job-line {
    margin: 0 20px;
  }

  .job-card .job-status__item .job-line {
    margin: 0 35px;
  }

  .job-card .job-status__item .job-card--title {
    width: 15%;
  }

  .content .content__title {
    padding: 23px 15px;
  }

  .content .content__title--action {
    padding: 12px 30px 16px 30px;
  }

  #list-job .checkbox-label {
    min-width: 50px;
  }

  #list-job .content__list .content__list--title .list-action {
    width: 70px;
  }

  #list-job .job-title {
    min-width: 330px;
    width: 330px;
  }

  #list-job .date-upload,
  #list-job .date-expired {
    margin-right: 0;
  }

  #list-job .date-upload,
  #list-job .recruitment {
    width: 115px;
  }

  #list-job .view {
    width: 100px;
  }

  #list-job .date-expired {
    width: 130px;
  }

  #list-job .status {
    width: 145px;
    margin-right: 0;
  }

  #list-job .job__list--body .list__content--item .list-action .action-item {
    width: 25px;
    height: 25px;
  }

  #list-job .job__list--body .list__content--item .date-upload,
  #list-job .job__list--body .list__content--item .date-expired,
  #list-job .job__list--body .list__content--item .status {
    padding-right: 0;
  }

  #list-job .search__form {
    width: 310px;
  }
}

/*==============================Max-width: 1199.98px============================*/

@media screen and (max-width: 1199.98px) {
  .premium-commitment,
  .premium,
  .amazing-commitment,
  .amazing,
  .hot-commitment,
  .hot,
  .basic-commitment,
  .basic {
    font-size: 11px;
    line-height: 12px;
    font-weight: 500;
  }

  .premium-commitment:before,
  .premium:before,
  .amazing-commitment:before,
  .amazing:before,
  .hot-commitment:before,
  .hot:before,
  .basic-commitment:before,
  .basic:before {
    font-size: 9px;
  }

  .job-card--title {
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    color: #4A4A4A;
  }

  .job-card__item {
    padding: 25px 10px 30px 15px;
  }

  .job-card__item .name-service {
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
    color: #4A4A4A;
  }

  .job-card__item .count {
    font-size: 24px;
    line-height: 24px;
    font-weight: 300;
  }

  .job-card .job-service__item .job-line {
    margin: 0 15px;
  }

  .job-card .job-service__item .show-details {
    font-size: 12px;
    line-height: 14px;
    font-weight: normal;
    color: #06202D;
  }

  .job-card .job-service__item .show-details svg {
    width: 11px;
  }

  .job-card .job-status__item .job-line {
    margin: 0 15px;
  }

  .upload-job__btn {
    padding: 10px 14px;
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
  }

  .upload-job__btn svg {
    width: 12px;
    height: 12px;
  }

  #list-job .content .content__title--action {
    padding: 12px 20px 16px 20px;
  }

  #list-job .export-btn {
    font-size: 12px;
    line-height: 30px;
    font-weight: 500;
  }

  #list-job .export-btn svg {
    margin-right: 4px;
  }

  #list-job .checkbox-label {
    min-width: 40px;
  }

  #list-job .job-title {
    min-width: 250px;
    width: 250px;
  }

  #list-job .export-btn {
    padding: 0 6px;
  }

  #list-job .date-upload,
  #list-job .date-expired,
  #list-job .view,
  #list-job .recruitment {
    width: 115px;
  }

  #list-job .status {
    width: 134px;
  }

  #list-job .action {
    width: unset;
  }

  #list-job .view,
  #list-job .recruitment {
    width: 90px;
  }

  #list-job .job__list--body .list__content--item .list-action .action-item {
    width: 30px;
    height: 30px;
  }

  #list-job .job__list--body .list__content--item .list-action .list-action--button {
    font-size: 12px;
    line-height: 14px;
    font-weight: 500;
    width: unset;
    padding: 0 5px;
    height: 30px;
  }

  #list-job .job__list--body .list__content--item .list-action .list-action--button svg {
    width: 7px;
    margin-bottom: 2px;
    margin-left: 3px;
  }

  #list-job .job__list--body .list__content--item .list-action .dropdown-menu .dropdown-item {
    font-size: 12px;
    line-height: 20px;
    font-weight: normal;
  }

  #list-job .job__list--body .list__content--item .date-upload,
  #list-job .job__list--body .list__content--item .date-expired,
  #list-job .job__list--body .list__content--item .status {
    padding-right: 0;
  }

  #list-job .job__list--body .list__content--item .status span {
    font-size: 11px;
    line-height: 17px;
    font-weight: normal;
  }

  #list-job .search__form {
    width: 200px;
  }

  #list-job .search__form .search__label .search__input {
    font-size: 12px;
    line-height: 30px;
    font-weight: normal;
    color: #164256;
  }

  #list-job .search__form .search__label .search__input::-moz-placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-size: 12px;
    line-height: 30px;
    font-weight: 600;
    color: #164256;
    opacity: 1;
    /* Firefox */
  }

  #list-job .search__form .search__label .search__input:-ms-input-placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-size: 12px;
    line-height: 30px;
    font-weight: 600;
    color: #164256;
    opacity: 1;
    /* Firefox */
  }

  #list-job .search__form .search__label .search__input::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-size: 12px;
    line-height: 30px;
    font-weight: 600;
    color: #164256;
    opacity: 1;
    /* Firefox */
  }

  #list-job .search__form .search__label .search__input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    font-size: 12px;
    line-height: 30px;
    font-weight: 600;
    color: #164256;
  }

  #list-job .search__form .search__label .search__input:focus::-moz-placeholder {
    color: transparent;
  }

  #list-job .search__form .search__label .search__input:focus:-ms-input-placeholder {
    color: transparent;
  }

  #list-job .search__form .search__label .search__input:focus::placeholder {
    color: transparent;
  }

  #list-job .search__form .search__label .search-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 3%;
  }

  .select2-container--default .job_management-select2-selection .select2-selection__rendered {
    font-size: 12px;
    line-height: 40px;
    font-weight: 600;
  }

  .select2-container--default .job_management-select2-selection .select2-selection__arrow b {
    border-width: 6px 5px 0 5px;
    top: 54%;
  }

  .select2-container--default .job_management-select2-dropdown .select2-results__option {
    font-size: 12px;
  }

  .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-width: 0 5px 6px 5px;
  }

  .date-ranger .calender {
    font-size: 12px;
    line-height: 30px;
    font-weight: 600;
  }

  .date-ranger .calender::-moz-placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-size: 12px;
    line-height: 30px;
    font-weight: 600;
    opacity: 1;
    /* Firefox */
  }

  .date-ranger .calender:-ms-input-placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-size: 12px;
    line-height: 30px;
    font-weight: 600;
    opacity: 1;
    /* Firefox */
  }

  .date-ranger .calender::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-size: 12px;
    line-height: 30px;
    font-weight: 600;
    opacity: 1;
    /* Firefox */
  }

  .date-ranger .calender:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    font-size: 12px;
    line-height: 30px;
    font-weight: 600;
  }

  .date-ranger .calender::-ms-input-placeholder {
    /* Microsoft Edge */
    font-size: 12px;
    line-height: 30px;
    font-weight: 600;
  }

  .date-ranger svg {
    width: 10px;
  }
}

/*==============================Max-width: 991.98px=============================*/

@media screen and (max-width: 991.98px) {
  .job-card--title {
    flex-direction: unset;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    width: unset;
  }

  .job-card__item {
    padding: 10px 15px 15px 15px;
    min-height: unset;
  }

  .job-card__item .show-details {
    text-align: right;
    margin-top: 0;
  }

  .job-card .job-status__item {
    margin-left: 0;
  }

  .job-card .job-status__item .job-card--title {
    width: unset;
  }

  .job-card .job-service__item {
    margin-right: 0;
  }

  .job-card .job-service__item .show-details {
    margin-top: 0;
  }

  .job-card--content {
    width: 90%;
    margin-left: auto;
  }

  .job-card--content-item:last-child {
    margin-right: 0;
  }

  .premium-job {
    font-size: 11px;
    line-height: 13px;
    font-weight: normal;
    color: #6C6201;
  }

  .hot-job {
    font-size: 11px;
    line-height: 13px;
    font-weight: normal;
    color: #BF2600;
  }

  .content .content__title--action .edit__label {
    margin-bottom: 8px;
  }

  #job-status .job-status__list .job-status__item {
    margin-bottom: 15px;
  }

  #job-status .job-status__list .job-status__item .text-default {
    font-size: 12px;
    line-height: 13px;
    font-weight: normal;
  }

  #job-status .job-status__list .job-status__item .count {
    font-size: 20px;
    line-height: 24px;
    font-weight: normal;
  }

  #upload-job .upload-job__btn {
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
    color: #fff;
  }

  #list-job {
    overflow: unset;
  }

  #list-job .search__form {
    width: 100%;
    margin-top: 20px;
  }

  #list-job .search__form .search__label {
    margin-right: 0;
  }

  #list-job .content {
    position: relative;
  }

  #list-job .content .content__title {
    background-color: #fff;
    z-index: 1;
    width: 100%;
    padding: 19px 0 22px 8px;
  }

  #list-job .content .content__title .content__title--left-text {
    flex-direction: unset;
    width: 100%;
    flex-wrap: wrap;
  }

  #list-job .content .content__title .content__title--left-text .total-list {
    padding-left: 10px;
  }

  #list-job .content .content__title .content__title--action {
    width: 100%;
  }

  #list-job .content .content__title .content__title--action .search__form {
    width: 100%;
  }

  #list-job .job__list--body {
    max-height: unset;
  }

  #list-job .job__list--body .list__content--item {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    margin: 0 auto 20px auto;
    width: 95%;
    align-items: unset;
    border: 0.5px solid #BBBBBB;
    height: unset;
    position: relative;
  }

  #list-job .job__list--body .list__content--item .job-title {
    width: 100%;
    padding: 15px 150px 15px 15px;
    background-color: #F4F4F4;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }

  #list-job .job__list--body .list__content--item .job-title .text-default {
    font-size: 14px;
    line-height: 16px;
    font-weight: bold;
    color: #4A4A4A;
    margin-bottom: 5px;
  }

  #list-job .job__list--body .list__content--item .basic-info {
    width: 100%;
    padding: 15px 15px 10px;
    border-bottom: 1px solid #E8E8E8;
  }

  #list-job .job__list--body .list__content--item .basic-info .basic-info--left,
  #list-job .job__list--body .list__content--item .basic-info .basic-info--right {
    flex-direction: column;
  }

  #list-job .job__list--body .list__content--item .basic-info .basic-info--left {
    margin-right: 60px;
  }

  #list-job .job__list--body .list__content--item .basic-info .basic-info--content {
    display: flex;
    align-items: center;
    margin: 5px 0;
    width: unset;
    justify-content: unset;
    padding-right: 0;
  }

  #list-job .job__list--body .list__content--item .basic-info .basic-info--content .title--mobile {
    min-width: 80px;
    font-size: 12px;
    line-height: 14px;
    font-weight: 500;
    color: #555555;
  }

  #list-job .job__list--body .list__content--item .basic-info .basic-info--content .text-list-default {
    font-size: 12px;
    line-height: 14px;
    font-weight: normal;
    color: #454545;
    justify-content: unset;
  }

  #list-job .job__list--body .list__content--item .status {
    position: absolute;
    top: 12px;
    right: 15px;
    width: unset;
  }

  #list-job .job__list--body .list__content--item .status span {
    padding: 2px 8px;
    font-size: 11px;
    line-height: 14px;
  }

  #list-job .job__list--body .list__content--item .list-action {
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: center;
  }

  #list-job .job__list--body .list__content--item .list-action .list-action--button {
    font-size: 12px;
  }

  #list-job .job__list--body .list__content--item .list-action .list-action--button svg {
    width: 7px;
    margin-left: 3px;
  }

  #list-job .job__list--body .list__content--item .list-action .action-item {
    background-color: #F4F4F4;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
    padding: 0;
  }

  #list-job .job__list--body .list__content--item .list-action .action-item svg {
    width: 13px;
  }

  #list-job .job__list--body .list__content--item .list-action .dropdown-menu .dropdown-item {
    font-size: 12px;
  }

  #list-job .job__list--body .lazy-loading {
    height: 0;
  }

  .select2-container--default .job_management-select2-dropdown .select2-results__option {
    font-size: 12px;
  }
}

/*==============================Max-width: 767.98px=============================*/

@media screen and (min-width: 767px) {
  .col-md-unset {
    max-width: unset !important;
    flex: 0 !important;
  }
}

@media screen and (max-width: 767.98px) {
  #list-job .content .content__title--action {
    padding: 12px 10px 16px 10px;
  }

  #list-job .upload-job__btn {
    font-size: 14px;
    line-height: 11px;
    font-weight: 500;
    padding: 12px 17px;
    box-shadow: 3px 3px 5px #f5b5b5;
  }

  #list-job .upload-job__btn svg {
    width: 12px;
    height: 12px;
  }

  #list-job .search__form .search__label .search__input {
    font-size: 12px;
    line-height: 30px;
    font-weight: 600;
    color: #164256;
  }

  #list-job .search__form .search__label .search__input::-moz-placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-size: 12px;
    line-height: 30px;
    font-weight: 600;
    color: #164256;
  }

  #list-job .search__form .search__label .search__input:-ms-input-placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-size: 12px;
    line-height: 30px;
    font-weight: 600;
    color: #164256;
  }

  #list-job .search__form .search__label .search__input::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-size: 12px;
    line-height: 30px;
    font-weight: 600;
    color: #164256;
  }

  #list-job .search__form .search__label .search__input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    font-size: 12px;
    line-height: 30px;
    font-weight: 600;
    color: #164256;
  }

  #list-job .search__form .search__label .search__input::-ms-input-placeholder {
    /* Microsoft Edge */
    font-size: 12px;
    line-height: 30px;
    font-weight: 600;
    color: #164256;
  }

  #list-job .date-ranger .calender {
    font-size: 12px;
    line-height: 30px;
    font-weight: 600;
    color: #164256;
    padding: 5px 11px 4px;
  }

  #list-job .date-ranger .calender::-moz-placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-size: 12px;
    line-height: 30px;
    font-weight: 600;
    color: #164256;
    opacity: 1;
    /* Firefox */
  }

  #list-job .date-ranger .calender:-ms-input-placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-size: 12px;
    line-height: 30px;
    font-weight: 600;
    color: #164256;
    opacity: 1;
    /* Firefox */
  }

  #list-job .date-ranger .calender::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-size: 12px;
    line-height: 30px;
    font-weight: 600;
    color: #164256;
    opacity: 1;
    /* Firefox */
  }

  #list-job .date-ranger .calender:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    font-size: 12px;
    line-height: 30px;
    font-weight: 600;
    color: #164256;
  }

  #list-job .date-ranger .calender::-ms-input-placeholder {
    /* Microsoft Edge */
    font-size: 12px;
    line-height: 30px;
    font-weight: 600;
    color: #164256;
  }

  #list-job .date-ranger svg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 4%;
    cursor: pointer;
    width: 9px;
  }

  #list-job .basic-info {
    flex-direction: column;
  }

  #list-job .job-title {
    padding: 15px 110px 15px 15px;
  }

  #list-job .job__list--body .list__content--item .basic-info {
    justify-content: space-between;
  }

  #list-job .job__list--body .list__content--item .basic-info .basic-info--left {
    margin-right: unset;
  }

  #list-job .job__list--body .list__content--item .list-action .list-action--button {
    font-size: 12px;
    padding: 0 10px;
  }

  #list-job .job__list--body .list__content--item .list-action .list-action--button svg {
    width: 7px;
    margin-left: 5px;
  }

  .edit__status--label {
    width: 100%;
  }

  .select2-container--default .workflow-select2-selection .select2-selection__arrow b {
    border-width: 6px 5px 0 5px !important;
  }

  .select2-container--default .job_management-select2-selection .select2-selection__rendered {
    font-size: 12px;
    line-height: 40px;
    font-weight: 600;
    color: #164256;
    padding-right: 25px;
  }

  .select2-container--default .job_management-select2-selection .select2-selection__arrow {
    height: 33px;
    right: 0;
  }

  .select2-container--default .job_management-select2-selection .select2-selection__arrow b {
    border-width: 6px 5px 0 5px;
    top: 48%;
    margin-left: -7px;
    margin-top: 0;
  }

  /*===============================MODAL==========================*/

  #service_detail_modal .modal-dialog {
    max-width: unset;
  }

  #service_detail_modal .modal-dialog .modal-header {
    padding: 16px 22px;
  }

  #service_detail_modal .modal-dialog .modal-header h5 {
    font-size: 16px;
    line-height: 19px;
    font-weight: 500;
    color: #555555;
  }

  #service_detail_modal .modal-dialog .modal-body {
    padding: 0 16px 10px 16px;
  }

  #service_detail_modal .modal-dialog .modal-body--content {
    display: unset;
  }

  #service_detail_modal .modal-dialog .modal-body--item {
    min-width: unset;
    padding: 15px 0;
    flex-direction: unset;
    justify-content: space-around;
  }

  #service_detail_modal .modal-dialog .modal-body--item:first-child {
    min-width: unset;
    align-items: center;
    padding-right: 0;
    padding-left: 0;
  }

  #service_detail_modal .modal-dialog .modal-body--item .count {
    font-size: 20px;
    line-height: 28px;
    font-weight: 300;
    color: #262626;
    min-height: unset;
  }

  #service_detail_modal .modal-dialog .modal-body--item .text-default--modal {
    min-height: 40px;
  }

  #service_detail_modal .modal-dialog .modal-body--item .text-default--modal:first-child {
    padding-right: 10px;
  }

  #service_detail_modal .modal-dialog .modal-body .job-name--modal {
    font-size: 9px;
    line-height: 12px;
    font-weight: 500;
    color: #fff;
    width: unset;
    height: unset;
    margin-bottom: 0;
    padding: 2px 7px;
  }

  #service_detail_modal .modal-dialog .modal-body .job-name--modal svg {
    margin-right: 2px;
    width: 7px;
  }

  #service_detail_modal .modal-dialog .modal-body .name-service--modal {
    font-size: 12px;
    line-height: 14px;
    font-weight: 500;
    color: #303030;
    text-align: center;
    min-height: unset;
  }

  #service_detail_modal .modal-dialog .modal-body .name-service--modal:after {
    display: none;
  }

  #service_detail_modal .modal-dialog .modal-body .text-default--modal {
    display: inline-block;
    font-size: 12px;
    line-height: 14px;
    font-weight: normal;
  }

  #service_detail_modal .modal-dialog .modal-footer .research-service {
    font-size: 12px;
    line-height: 16px;
    font-weight: normal;
    width: 100%;
  }

  #service_detail_modal .modal-dialog .modal-footer .research-service svg {
    margin-left: 3px;
    width: 11px;
  }

  #service_detail_modal .modal-dialog .modal-footer .btn-cancel,
  #service_detail_modal .modal-dialog .modal-footer .btn-save {
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    color: #fff;
  }

  #service_detail_modal .modal-dialog .modal-footer .btn-cancel {
    width: 35%;
    height: 39px;
  }

  #service_detail_modal .modal-dialog .modal-footer .btn-save {
    width: 59%;
    height: 39px;
  }

  #select_service_modal .modal-dialog {
    max-width: unset;
  }

  #select_service_modal .modal-dialog .modal-header {
    padding: 16px 22px;
  }

  #select_service_modal .modal-dialog .modal-header h5 {
    font-size: 16px;
    line-height: 19px;
    font-weight: 500;
    color: #555555;
  }

  #select_service_modal .modal-dialog .modal-body {
    display: flex;
    justify-content: center;
  }

  #select_service_modal .modal-dialog .modal-body--item {
    padding: 12px;
    flex-direction: column;
  }

  #select_service_modal .modal-dialog .modal-body--item .text-default {
    font-size: 14px;
    line-height: 19px;
    font-weight: normal;
  }

  #select_service_modal .modal-dialog .modal-body--item .text-default span {
    font-size: 14px;
    line-height: 19px;
    font-weight: 500;
  }

  #select_service_modal .modal-dialog .modal-body--overlay_sub {
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    color: #fff;
  }

  #select_service_modal .modal-dialog .modal-body--overlay_button span {
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    color: #fff;
  }

  #select_service_modal .modal-dialog .modal-body .count {
    font-size: 18px;
    line-height: 21px;
    font-weight: normal;
    color: #535353;
    margin-left: 6px;
  }

  #select_service_modal .modal-dialog .modal-body .amazing-job--modal {
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    color: #352AB5;
  }

  #select_service_modal .modal-dialog .modal-body .premium-job--modal {
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    color: #996E15;
  }

  #select_service_modal .modal-dialog .modal-body .hot-job--modal {
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    color: #E74243;
  }

  #select_service_modal .modal-dialog .modal-body .basic-job--modal {
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    color: #626262;
  }

  #select_service_modal .modal-dialog .modal-footer {
    padding: 10px 20px;
    justify-content: flex-start;
    border-top: none;
  }

  #select_service_modal .modal-dialog .modal-footer .research-service {
    margin-bottom: 15px;
  }

  #select_service_modal .modal-dialog .modal-footer .btn-save {
    font-size: 12px;
    line-height: 19px;
    font-weight: 500;
  }

  #select_service_modal .modal-dialog .modal-footer .timed-posting {
    font-size: 12px;
    line-height: 19px;
    font-weight: 500;
  }

  #select_service_modal .modal-dialog .modal-footer .timed-posting svg {
    width: 12px;
    left: 12px;
  }

  #select_service_modal .modal-dialog .modal-footer .timed-posting .pj-form__settime-text {
    margin-left: 10px;
  }

  #select_service_modal .modal-dialog .modal-footer .timed-posting .post_job_settime {
    padding-left: 22px;
  }

  #select_service_modal .modal-dialog .modal-footer .pj-form__settime-text {
    margin-right: 0;
  }

  #select_service_modal .modal-dialog .modal-footer .timed-posting,
  #select_service_modal .modal-dialog .modal-footer .btn-save {
    width: 100%;
  }

  #select_service_modal .modal-dialog .modal-footer .button-disabled {
    background: #C8C8C8;
    color: #AFAEAE;
    cursor: no-drop;
  }

  #select_service_modal .modal-dialog .modal-footer .button-disabled .pj-form__settime-text {
    color: #AFAEAE;
  }

  #select_service_modal .modal-dialog .modal-footer .button-disabled svg path,
  #select_service_modal .modal-dialog .modal-footer .button-disabled svg rect {
    fill: #AFAEAE;
  }

  #select_service_modal .modal-dialog .modal-footer .btn:disabled {
    opacity: 1;
  }

  #time_countdown-inactive_modal .modal-dialog .modal-header {
    padding: 16px 22px;
  }

  #time_countdown-inactive_modal .modal-dialog .modal-header h5 {
    font-size: 16px;
    line-height: 19px;
    font-weight: 500;
    color: #555555;
  }

  #time_countdown-inactive_modal .modal-dialog .modal-body {
    padding: 30px 0 50px;
  }

  #time_countdown-inactive_modal .modal-dialog .modal-body--content-sub {
    font-size: 14px;
    line-height: 19px;
    font-weight: normal;
    color: #555555;
  }

  #time_countdown-inactive_modal .modal-dialog .modal-body--content-time {
    font-size: 20px;
    line-height: 24px;
    font-weight: normal;
    color: #285F15;
    margin: 10px 0 28px;
  }

  #time_countdown-inactive_modal .modal-dialog .modal-body--content-subdes {
    font-size: 14px;
    line-height: 19px;
    font-weight: 500;
    color: #555555;
  }

  #time_countdown-inactive_modal .modal-dialog .modal-footer .btn-save {
    font-size: 12px;
    line-height: 14px;
    font-weight: 500;
    color: #fff;
    width: 45%;
  }

  #time_countdown-inactive_modal .modal-dialog .modal-footer .change-service {
    font-size: 12px;
    line-height: 14px;
    font-weight: 500;
    color: #4D4D4D;
    width: 45%;
  }

  .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-color: transparent transparent #fff transparent;
    border-width: 0 5px 6px 5px;
  }
}

/*==============================Max-width: 575.98px==============================*/

@media screen and (max-width: 575.98px) {
  .job-card .job-card--content {
    width: 100%;
  }

  .job-card--title {
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    color: #4A4A4A;
    display: flex;
  }

  .job-card--title span {
    width: unset;
  }

  .job-card__item {
    padding: 10px 15px 15px 15px;
  }

  .job-card__item .name-service {
    font-size: 12px;
    line-height: 18px;
    font-weight: normal;
    color: #4A4A4A;
  }

  .job-card__item .count {
    font-size: 20px;
    line-height: 28px;
    font-weight: 300;
  }

  .job-card__item .show-details {
    text-align: right;
    margin-top: 0;
  }

  .content .content__title--action .edit__label:first-child .select2 {
    width: 105px !important;
  }

  .content .content__title--action .edit__label:last-child .select2 {
    width: 145px !important;
  }

  #list-job .date-upload,
  #list-job .date-expired,
  #list-job .view,
  #list-job .recruitment {
    width: unset;
  }

  #list-job .job__list--body .list__content--item .view,
  #list-job .job__list--body .list__content--item .recruitment {
    padding-right: 0;
  }
}

/*==============================Max-width: 375.98px==============================*/

@media screen and (max-width: 375.98px) {
  #job-status .job-status__list .job-status__item {
    padding: 13px 5px;
    min-height: 83px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
  }

  #list-job .job__list--body .list__content--item .job-title {
    padding: 15px 120px 15px 15px;
  }

  .edit__status--label {
    width: 77%;
  }
}

