/*=============== Search CV ===============*/

/*=============== End Search CV ===============*/

/*=============== Post Job ===============*/

/*=============== End Post Job ===============*/

/*=============== Company Information ===============*/

/*=============== End Company Information ===============*/

/*=============== Buy Points ===============*/

/*=============== End Buy Points ===============*/

/*=============== DASHBOARD ===============*/

/*=============== End DASHBOARD ===============*/

/*=============== @include ===============*/

/*=============== End @include ===============*/

/*=============== @extend ===============*/

#questions .questions__title {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

/*=============== End @extend ===============*/

button {
  border: none;
}

html {
  scroll-behavior: smooth;
}

h3 {
  margin-bottom: 0;
}

#questions {
  margin-top: 43px;
}

#questions .questions__title {
  border-top: 0.5px solid #B8B8B8;
  border-left: 0.5px solid #B8B8B8;
  border-right: 0.5px solid #B8B8B8;
}

#questions .questions__title--content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 40px 20px;
}

#questions .questions__title--content h3 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  color: #3A3A3A;
  padding-bottom: 30px;
}

#questions .questions__title--label {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

#questions .questions__title--label svg {
  position: absolute;
  left: 3%;
}

#questions .questions__title--label .questions__btn {
  background: linear-gradient(90.19deg, #D63A1C 0.17%, #EA5B40 99.87%);
  border-radius: 2px;
  width: 173px;
  height: 50px;
  border: none;
  margin: 0 5px;
  font-size: 18px;
  line-height: 16px;
  font-weight: 500;
  color: #fff;
}

#questions .questions__title--input {
  width: 542px;
  height: 50px;
  background: #FFFFFF;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.02);
  border-radius: 2px;
  border: none;
  padding: 0 50px;
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  color: #848484;
  margin: 0 5px;
}

#questions .questions__title--input::-moz-placeholder {
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

#questions .questions__title--input:-ms-input-placeholder {
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}

#questions .questions__title--input::placeholder {
  transition: all 0.2s;
}

#questions .questions__title--input:focus::-moz-placeholder {
  color: #fff;
}

#questions .questions__title--input:focus:-ms-input-placeholder {
  color: #fff;
}

#questions .questions__title--input:focus::placeholder {
  color: #fff;
}

#questions .questions__content--box {
  background-color: #fff;
  border: 0.5px solid #B8B8B8;
}

#questions .qs-header {
  height: 80px;
  border-bottom: 1px solid #EBEBEB;
}

#questions .qs-title {
  padding: 0 5px;
}

#questions .qs-title__image {
  margin-right: 13px;
  position: relative;
  top: -1px;
}

#questions .qs-title__text {
  font-size: 18px;
  line-height: 21px;
  font-weight: 500;
  color: #06202D;
}

#questions .qs-body {
  position: relative;
  min-height: 500px;
  transition: all 0.3s;
}

#questions .qs-body .sticky-top {
  width: 300px;
}

#questions .qs-body .qs_switch {
  padding: 0 33px 10px;
  width: 1000px;
}

#questions .qs-body .qs_switch-id {
  position: relative;
  left: 0;
  top: -50px;
}

#questions .qs-body .qs_switch-header {
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  color: #232323;
  padding: 25px 0 10px;
  transition: all 0.5s;
}

#questions .qs-body .qs_switch-header.active {
  color: #FD1616;
}

#questions .qs-body .qs_switch-title {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #232323;
  padding: 10px 0 10px;
}

#questions .qs-body .qs_switch p {
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
  color: rgba(35, 35, 35, 0.85);
}

#questions .qs-nav {
  padding-left: 28px;
  padding-right: 3px;
  flex-direction: column;
  position: -webkit-sticky;
  position: sticky;
  top: 80px;
}

#questions .qs-nav__item {
  list-style-type: none;
  height: 43px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 20px;
  cursor: pointer;
  transition: all 0.3s;
  position: relative;
  z-index: 1;
  text-align: right;
  font-size: 16px;
  line-height: 19px;
  font-weight: normal;
  color: #838383;
}

#questions .qs-nav__item:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  width: 0;
  height: 100%;
  transition: all 0.4s ease-in-out;
  background-color: #F5F5F5;
}

#questions .qs-nav__item:after {
  content: "";
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 100%;
  width: 3px;
  height: 0;
  transform: translateY(-50%);
  transition: all 0.3s ease-in-out;
  background-color: #FD1616;
  opacity: 0;
}

#questions .qs-nav__item:hover:before,
#questions .qs-nav__item.active:before {
  width: 100%;
}

#questions .qs-nav__item.active {
  color: #06202D;
  font-weight: 500;
}

#questions .qs-nav__item.active:after {
  height: 100%;
  opacity: 1;
}

#questions .qs-nav:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 3px;
  height: 100%;
  background-color: #D8D7D7;
}

#questions .qs-nav__border {
  content: "";
  position: absolute;
  z-index: 3;
  top: 0;
  right: 0;
  width: 3px;
  height: 43px;
  background-color: #1C4355;
  transition: all 0.3s;
}

#questions .qs-nav:hover .list-group-item:before {
  width: 0;
}

#questions .qs-nav:hover .list-group-item:hover:before {
  width: 100%;
}

#questions .mx-n12 {
  margin-right: -12px;
  margin-left: -12px;
}

#questions .px-12 {
  padding-right: 12px;
  padding-left: 12px;
}

#questions .pt-20 {
  padding-top: 20px;
}

#questions .mb-100 {
  margin-bottom: 100px;
}

#questions .error-text {
  font-size: 12px;
  line-height: 14px;
  font-weight: normal;
  color: #FD1616;
  min-height: 14px;
}

#questions .no-min-height {
  min-height: 0 !important;
}

@media screen and (max-width: 1500px) {
  #questions .qs-body .sticky-top {
    width: 240px;
  }

  #questions .qs-body .qs_switch {
    width: 820px;
  }
}

@media screen and (max-width: 1199.98px) {
  #questions .qs-body .sticky-top {
    width: 225px;
  }

  #questions .qs-body .qs_switch {
    width: 700px;
  }
}

@media screen and (max-width: 991.98px) {
  #questions .questions__title img {
    height: 150px;
  }

  #questions .questions__title--content {
    width: 100%;
  }

  #questions .questions__title--content .questions__form {
    width: 90%;
  }

  #questions .questions__title--content .questions__form .questions__title--label svg {
    left: 17px;
  }

  #questions .questions__title--content .questions__form .questions__title--label .questions__title--input {
    width: 100%;
    height: 45px;
    padding: 0 10px 0 40px;
  }

  #questions .questions__title--content .questions__form .questions__title--label .questions__btn {
    width: 55%;
    height: 45px;
    font-size: 16px;
  }

  #questions .qs-body {
    flex-direction: column;
  }

  #questions .qs-body .sticky-top {
    width: 100%;
  }

  #questions .qs-body .sticky-top .qs-nav {
    flex-direction: unset;
    width: 100%;
  }

  #questions .qs-body .sticky-top .qs-nav:before {
    display: none;
  }

  #questions .qs-body .sticky-top .qs-nav .qs-nav__item {
    padding-right: 0;
    margin-right: 20px;
    text-align: center;
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
    color: #838383;
  }

  #questions .qs-body .sticky-top .qs-nav .qs-nav__item.active {
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
    color: #06202D;
  }

  #questions .qs-body .qs_switch {
    width: 100%;
  }

  #questions .qs-body .qs_switch .qs_switch-title {
    font-size: 14px;
    line-height: 19px;
    font-weight: 500;
    color: #232323;
  }

  #questions .qs-body .qs_switch p {
    font-size: 14px;
    line-height: 20px;
    font-weight: normal;
    color: rgba(35, 35, 35, 0.85);
  }
}

@media screen and (max-width: 767.98px) {
  .px-mobile-0 {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }

  #questions .questions__title--content {
    padding: 20px 5px 12px 5px;
  }

  #questions .questions__title--content h3 {
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
    padding-bottom: 20px;
  }

  #questions .questions__title--content .questions__form {
    width: 100%;
  }

  #questions .questions__title--content .questions__form .questions__title--label svg {
    transform: scale(0.85);
    left: 14px;
  }

  #questions .questions__title--content .questions__form .questions__title--label .questions__title--input {
    padding-left: 33px;
  }

  #questions .questions__title--content .questions__form .questions__title--label .questions__btn {
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
    width: 40%;
  }
}

