/*=============== Search CV ===============*/

/*=============== End Search CV ===============*/

/*=============== Post Job ===============*/

/*=============== End Post Job ===============*/

/*=============== Company Information ===============*/

/*=============== End Company Information ===============*/

/*=============== Buy Points ===============*/

/*=============== End Buy Points ===============*/

/*=============== DASHBOARD ===============*/

/*=============== End DASHBOARD ===============*/

/*=============== @include ===============*/

/*=============== End @include ===============*/

/*=============== @extend ===============*/

/*=============== End @extend ===============*/

/*=============================COMMON SCSS DASHBOARD ==========================*/

button {
  border: none;
}

p,
label,
h1,
h2,
h3,
h4,
h5 {
  margin-bottom: 0;
}

.header-shadow {
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.08);
}

.height__list--body {
  counter-reset: rowNumber;
}

.height__list--body .numberical-order:first-child {
  counter-increment: rowNumber;
}

.height__list--body .numberical-order:first-child:before {
  content: counter(rowNumber);
  font-size: 16px;
  line-height: 22px;
  font-weight: bold;
  color: #555555;
}

.input-hidden {
  position: absolute;
  opacity: 0;
  visibility: hidden;
}

.content__list--body::-webkit-scrollbar {
  padding-right: 0;
  width: 5px;
  background-color: transparent;
  border-radius: 5px;
}

.content__list--body::-webkit-scrollbar-thumb {
  background-color: #C4C4C4;
  border-radius: 5px;
}

.content__list--body::-webkit-scrollbar-thumb:hover {
  background-color: #C4C4C4;
}

.content__list--body .list__content--item {
  min-height: 86px;
  align-items: center;
}

.content__list--body .list__content--item .card-mobile {
  align-items: center;
}

.content__list--body .list__content--item:after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 1px;
  width: 97%;
  background-color: #F0F0F0;
  left: 50%;
  transform: translateX(-50%);
}

@-moz-document url-prefix()  {
  .content__list--body.scroller {
    scrollbar-color: #C4C4C4 transparent;
    scrollbar-width: thin;
  }
}

.content__list--action .list__action--item {
  margin-right: 15px;
}

.content__list--action .action__content--amount {
  font-size: 16px;
  line-height: 19px;
  font-weight: normal;
  color: #555555;
}

.content__list--action .action__content {
  margin: 0 3px;
  font-size: 14px;
  line-height: 19px;
  font-weight: 600;
  color: #595959;
}

.content__list--action .action__content--delete {
  background: #134D6A;
  border-radius: 4px;
  padding: 5px 10px;
  color: #fff;
}

.content__list--action .action__content--delete svg {
  margin: 0 3px 2px 0;
}

.content {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
}

.content .content__title {
  padding: 17px;
}

.content .content__title h4 {
  font-size: 18px;
  line-height: 21px;
  font-weight: 600;
  color: #06202D;
}

.content .content__title h4 svg {
  margin-right: 8px;
}

.content .content__title .content__title--right a {
  font-size: 16px;
  line-height: 19px;
  font-weight: normal;
  color: #06202D;
  text-decoration: underline;
}

.content .content__list .content__list--title {
  background-color: #FAFAFA;
  border-bottom: 1px solid #EBEBEB;
  border-top: 1px solid #EBEBEB;
  min-height: 48px;
}

.content .content__list .content__list--title .list-title {
  min-height: 33px;
}

.content .content__list .content__list--title .list-title .status {
  width: 150px;
  justify-content: center;
}

.content .content__list .content__list--bottom {
  background-color: #fff;
  height: 60px;
  box-shadow: 0px -3px 4px rgba(0, 0, 0, 0.08);
}

.select2-container--default .dashboard-select2-selection {
  height: 33px;
  border-radius: 0;
  background: #F4F4F4;
  border: none;
}

.select2-container--default .dashboard-select2-selection .select2-selection__rendered {
  padding-left: 12px;
  font-size: 14px;
  line-height: 36px;
  font-weight: 600;
  color: #164256;
  padding-right: 33px;
}

.select2-container--default .dashboard-select2-selection .select2-selection__arrow {
  height: 33px;
  right: 7px;
}

.select2-container--default .dashboard-select2-selection .select2-selection__arrow b {
  border-color: #164256 transparent transparent transparent;
  border-width: 8px 7px 0 7px;
}

.select2-container--default .dashboard-select2-selection:focus {
  outline: none;
}

.select2-container--default .dashboard-select2-dropdown {
  border: none;
  border-radius: 0;
  background-color: #FFFFFF;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  -webkit-animation: show-height 0.2s both;
          animation: show-height 0.2s both;
}

.select2-container--default .dashboard-select2-dropdown .select2-results__option {
  font-size: 14px;
}

.select2-container--default .dashboard-select2-dropdown .select2-results__option--highlighted {
  background-color: #D93E21;
}

.select2-container--default.select2-container--open .select2-selection--single {
  background-color: #164256;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent #fff transparent;
  border-width: 0 7px 8px 7px;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__rendered,
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__placeholder {
  color: #fff;
}

.daterangepicker {
  -webkit-animation: show-date 0.3s both;
          animation: show-date 0.3s both;
}

.daterangepicker .ranges li.active {
  background-color: #06202D;
}

.daterangepicker td.active {
  background-color: #06202D;
}

.daterangepicker td.active:hover {
  background-color: #06202D;
}

.daterangepicker .drp-buttons .applyBtn {
  background-color: #06202D;
  border: none;
}

.daterangepicker .drp-buttons .applyBtn:hover {
  background-color: #06202D;
}

.pagination {
  justify-content: center;
  align-items: center;
  margin: 30px 0;
}

.pagination .page-item {
  margin: 0 4px;
  padding: 0;
}

.pagination .page-item .page-link {
  padding: 0;
  width: 66px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination .page-item .active:focus {
  border: 1px solid #1C4355;
}

.pagination .page-item .page-item--lable span {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #1C4355;
  margin-left: 11px;
  margin-right: 4px;
}

.pagination .page-item .page-item--lable .go-to__input {
  width: 50px;
  text-align: center;
  border: 1px solid #D9D9D9;
  border-radius: 2px;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #1C4355;
  height: 32px;
}

.pagination .page {
  border: 1px solid #D9D9D9;
  height: 32px;
  width: 66px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #1C4355;
}

.pagination .prev,
.pagination .next {
  height: 32px;
  width: 32px;
  border: 1px solid #D9D9D9;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.pagination .prev:active,
.pagination .next:active {
  border: 1px solid #1C4355;
}

.pagination .disabled svg path {
  fill: #D9D9D9;
}

.pagination .page-link {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #1C4355;
}

.pagination .page-link:focus {
  box-shadow: none;
}

.pagination .page-link:hover {
  background-color: transparent;
}

#dashboard {
  margin-top: 43px;
}

.see-all-link {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #1C4355;
  padding: 20px 0;
  text-decoration: underline;
}

.see-all-link:hover {
  color: #1C4355;
  text-decoration: underline;
}

/*=============================INFO=================================*/

#info {
  margin: 12px 0 32px;
}

#info .info__content {
  background-color: #fff;
  padding: 41px 96px 41px 37px;
  overflow: hidden;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#info .info__content .info__line {
  width: 1px;
  height: 40px;
  background-color: #DBDBDB;
}

#info .info__content .info__left {
  width: 44%;
}

#info .info__content .info__left .info__left--text {
  padding-left: 24px;
}

#info .info__content .info__left .info__left--text .info__line {
  height: 20px;
}

#info .info__content .info__left .info__left--text .db_count {
  font-size: 18px;
  line-height: 28px;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.75);
}

#info .info__content .info__left .info__left--text h3 {
  font-size: 24px;
  line-height: 28px;
  font-weight: bold;
  color: #06202D;
  margin-bottom: 5px;
}

#info .info__content .info__left .info__left--text h3 .premium-account {
  background: linear-gradient(90deg, #D9CD65 -6.36%, #B8730B 110.91%);
  border-radius: 4px;
  font-size: 12px;
  line-height: 14px;
  font-weight: 500;
  color: #fff;
  padding: 2px 8px;
  margin-left: 11px;
  position: relative;
  top: -5px;
}

#info .info__content .info__left .info__left--text .account-info {
  display: flex;
  align-items: center;
  margin-top: 4px;
}

#info .info__content .info__left .info__left--text .account-level {
  font-size: 16px;
  line-height: 19px;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.75);
  display: inline-flex;
  align-items: center;
}

#info .info__content .info__left .info__left--text .gmail-account {
  font-size: 16px;
  line-height: 19px;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.65);
  display: block;
  word-break: break-word;
}

#info .info__content .info__right {
  width: 56%;
  background-color: #fff;
  justify-content: flex-end;
}

#info .info__content .info__right .info__right--content {
  display: flex;
  justify-content: center;
}

#info .info__content .info__right .total__item {
  padding: 0 20px;
  border-right: 1px solid #F0F0F0;
}

#info .info__content .info__right .total__item:last-child {
  border-right: none;
}

#info .info__content .info__right .total__item p {
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
  color: #838383;
  margin-bottom: 5px;
}

#info .info__content .info__right .total__item .total__item--index {
  display: flex;
  align-items: center;
}

#info .info__content .info__right .total__item .total__item--index .db_count {
  font-size: 32px;
  line-height: 28px;
  font-weight: normal;
  color: #595959;
}

#info .info__content .info__right .unused-jobs {
  align-items: flex-end;
}

#info .info__content .info__right .unused-jobs .unused-jobs__list {
  list-style: none;
  padding-left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0;
  margin-top: 4px;
}

#info .info__content .info__right .unused-jobs .unused-jobs__list .unused-jobs__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
}

#info .info__content .info__right .unused-jobs .unused-jobs__list .unused-jobs__item .db_count {
  font-size: 24px;
  line-height: 20px;
  font-weight: normal;
  color: #515151;
  display: block;
  margin-bottom: 3px;
}

#info .info__content .info__right .unused-jobs .unused-jobs__list .unused-jobs__item .premium-job,
#info .info__content .info__right .unused-jobs .unused-jobs__list .unused-jobs__item .hot-job,
#info .info__content .info__right .unused-jobs .unused-jobs__list .unused-jobs__item .basic-job {
  display: block;
  font-size: 11px;
  line-height: 13px;
  font-weight: 500;
}

#info .info__content .info__right .unused-jobs .unused-jobs__list .unused-jobs__item .premium-job {
  color: #BD8119;
}

#info .info__content .info__right .unused-jobs .unused-jobs__list .unused-jobs__item .hot-job {
  color: #E65439;
}

#info .info__content .info__right .unused-jobs .unused-jobs__list .unused-jobs__item .basic-job {
  color: #676767;
  padding-left: 5px;
}

#info .info__content--avt img {
  width: 78px;
  height: auto;
}

/*=============================LIST SERVICE=================================*/

.service {
  background-color: #fff;
  margin-bottom: 20px;
  margin-right: 10px;
}

.service__content {
  padding: 30px 86px 21px 17px;
}

.service__content--title-text {
  font-size: 18px;
  line-height: 21px;
  font-weight: 500;
  color: #06202D;
  margin-bottom: 6px;
}

.service__content--title-link {
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  color: #06202D;
  text-decoration: underline;
  cursor: pointer;
}

.service__content--item {
  margin-left: 80px;
}

.service__content--item p {
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
  color: #000;
}

.service__content--item-total .db_count {
  font-size: 28px;
  line-height: 28px;
  font-weight: 300;
  color: #6C6201;
}

/*=============================LIST CANDIDATE=================================*/

#db_list-candidate {
  margin-right: 10px;
  margin-bottom: 43px;
}

#db_list-candidate .list__content--item .status {
  justify-content: center;
  display: flex;
  width: 150px;
}

#db_list-candidate .list__content--item .status span {
  font-size: 14px;
  line-height: 22px;
  font-weight: normal;
  border-radius: 30px;
  padding: 1px 11px;
}

#db_list-candidate .content__list .title__card--mobile {
  width: 240px;
  padding-right: 20px;
}

#db_list-candidate .content__list .job-title {
  width: 270px;
  padding-right: 35px;
}

#db_list-candidate .content__list .date-apply {
  width: 150px;
  margin-right: 25px;
  justify-content: center;
  display: flex;
}

#db_list-candidate .content__list .numberical-order {
  width: 62px;
}

#db_list-candidate .content__list--body {
  max-height: 516px;
  overflow: auto;
}

/*=============================LIST JOB=================================*/

#db_list-job {
  margin-right: 10px;
}

#db_list-job .content__list--body .list__content--item .status {
  width: 150px;
  justify-content: center;
  display: flex;
}

#db_list-job .content__list--body .list__content--item .status span {
  font-size: 14px;
  line-height: 22px;
  font-weight: normal;
  border-radius: 30px;
  padding: 1px 11px;
}

#db_list-job .content__list .title__card--mobile {
  width: 490px;
  padding-right: 50px;
}

#db_list-job .content__list .date-upload {
  width: 210px;
}

#db_list-job .content__list .numberical-order {
  width: 62px;
}

#db_list-job .numberical-order {
  width: 62px;
}

#db_list-job .content__list--body {
  max-height: 516px;
  overflow: auto;
}

#db_list-job .content__list--body .list__content--item {
  margin-right: 0;
  margin-left: 0;
}

/*=============================COMPLETE===============================*/

.body__right {
  margin-left: 10px;
}

.body__right .upload-recruitment,
.body__right .candidate-search {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.body__right .upload-recruitment .upload-recruitment--btn,
.body__right .upload-recruitment .candidate-search--btn,
.body__right .candidate-search .upload-recruitment--btn,
.body__right .candidate-search .candidate-search--btn {
  height: 83px;
  margin-bottom: 3px;
}

.body__right .upload-recruitment .upload-recruitment--btn .btn-text--des,
.body__right .upload-recruitment .candidate-search--btn .btn-text--des,
.body__right .candidate-search .upload-recruitment--btn .btn-text--des,
.body__right .candidate-search .candidate-search--btn .btn-text--des {
  font-size: 18px;
  line-height: 16px;
  font-weight: 500;
  color: #fff;
  margin-bottom: 5px;
}

.body__right .upload-recruitment .upload-recruitment--btn .btn-text--subdes,
.body__right .upload-recruitment .candidate-search--btn .btn-text--subdes,
.body__right .candidate-search .upload-recruitment--btn .btn-text--subdes,
.body__right .candidate-search .candidate-search--btn .btn-text--subdes {
  font-size: 16px;
  line-height: 16px;
  font-weight: normal;
  color: #fff;
}

.body__right .upload-recruitment .upload-recruitment--btn svg,
.body__right .upload-recruitment .candidate-search--btn svg,
.body__right .candidate-search .upload-recruitment--btn svg,
.body__right .candidate-search .candidate-search--btn svg {
  margin-right: 17px;
}

.body__right .upload-recruitment .upload-recruitment--btn {
  background: linear-gradient(90.19deg, #D63A1C 0.17%, #EA5B40 99.87%);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.05);
  border-radius: 2px;
  width: 100%;
}

.body__right .upload-recruitment .upload-recruitment--btn svg {
  position: relative;
}

.body__right .upload-recruitment .upload-recruitment--btn:hover svg {
  -webkit-animation: searchScale 1.5s both;
          animation: searchScale 1.5s both;
}

.body__right .candidate-search .candidate-search--btn {
  background: linear-gradient(90deg, #022537 0%, #02344D 100%);
  border: 1px solid #D9D9D9;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.016);
  border-radius: 2px;
  width: 100%;
}

.body__right .candidate-search .candidate-search--btn svg {
  position: relative;
}

.body__right .candidate-search .candidate-search--btn:hover svg {
  -webkit-animation: searchScale 1.5s both;
          animation: searchScale 1.5s both;
}

.body__right .box-support {
  background: #FFFFFF;
  border-radius: 2px;
  margin-top: 19px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.body__right .box-support--item,
.body__right .box-support--title {
  border-bottom: 1px solid #EEEEEE;
  padding: 25px 0;
}

.body__right .box-support--title {
  padding-left: 38px;
}

.body__right .box-support--title h4 {
  font-size: 18px;
  line-height: 21px;
  font-weight: 500;
  color: #06202D;
}

.body__right .box-support--item {
  padding-left: 53px;
}

.body__right .box-support--item_text {
  padding-left: 25px;
}

.body__right .box-support--item_text h4,
.body__right .box-support--item_text .support-link {
  font-size: 16px;
  line-height: 19px;
  font-weight: 600;
  color: #525252;
}

.body__right .box-support--item_text p {
  font-size: 16px;
  line-height: 19px;
  font-weight: normal;
  color: #484848;
}

.body__right .box-support--item_link {
  white-space: nowrap;
  margin-right: 5px;
  margin-bottom: 4px;
  display: inline-block;
  font-size: 16px;
  line-height: 19px;
  font-weight: normal;
  color: #484848;
}

.body__right .box-support .coins-support h4 {
  padding-bottom: 8px;
}

.body__right .box-support .customer-support h4 {
  padding-bottom: 4px;
}

/*===============================MODAL==========================*/

.select2-container--default .dashboard-select2-selection {
  height: 33px;
  border-radius: 0;
  background: #EFEFEF;
  border: none;
}

.select2-container--default .dashboard-select2-selection .select2-selection__rendered {
  padding-left: 12px;
  font-size: 14px;
  line-height: 36px;
  font-weight: 600;
  color: #164256;
  padding-right: 33px;
}

.select2-container--default .dashboard-select2-selection .select2-selection__arrow {
  height: 33px;
  right: 7px;
}

.select2-container--default .dashboard-select2-selection .select2-selection__arrow b {
  border-color: #164256 transparent transparent transparent;
  border-width: 8px 7px 0 7px;
  top: 45%;
}

.select2-container--default .dashboard-select2-selection:focus {
  outline: none;
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
  color: #164256;
}

.select2-container--default .dashboard-select2-dropdown {
  border: none;
  border-radius: 0;
  background-color: #FFFFFF;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  -webkit-animation: show-height 0.2s both;
          animation: show-height 0.2s both;
}

.select2-container--default .dashboard-select2-dropdown .select2-results__option {
  font-size: 14px;
}

.select2-container--default .dashboard-select2-dropdown .select2-results__option--highlighted {
  background-color: #D93E21;
}

#error_report_modal .modal-dialog {
  max-width: 536px;
}

#error_report_modal .modal-dialog .modal-content .modal-header {
  padding: 23px 40px;
}

#error_report_modal .modal-dialog .modal-content .modal-header .modal-title {
  font-size: 18px;
  line-height: 21px;
  font-weight: 500;
  color: #555555;
  display: flex;
  align-items: center;
}

#error_report_modal .modal-dialog .modal-content .modal-header .modal-title svg {
  margin-bottom: 3px;
  margin-right: 13px;
}

#error_report_modal .modal-dialog .modal-content .modal-body {
  padding: 38px 43px;
}

#error_report_modal .modal-dialog .modal-content .modal-body--des {
  font-size: 16px;
  line-height: 19px;
  font-weight: normal;
  color: #555555;
  display: block;
}

#error_report_modal .modal-dialog .modal-content .modal-body--label .box_error-report {
  font-size: 16px;
  line-height: 19px;
  font-weight: normal;
  color: #999999;
  background: #F8F8F8;
  border: 1px solid #CECCCC;
  border-radius: 2px;
  width: 455px;
  height: 169px;
  padding: 12px 17px;
  margin: 19px 0;
}

#error_report_modal .modal-dialog .modal-content .modal-body--label .box_error-report:focus:-ms-input-placeholder {
  color: transparent;
}

#error_report_modal .modal-dialog .modal-content .modal-body--label .box_error-report:focus::-moz-placeholder {
  color: transparent;
}

#error_report_modal .modal-dialog .modal-content .modal-body--label .box_error-report:focus::placeholder {
  color: transparent;
}

#error_report_modal .modal-dialog .modal-content .modal-body--label .modal__upload-file--input {
  position: absolute;
}

#error_report_modal .modal-dialog .modal-content .modal-body--label .modal__upload-file {
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  color: #525252;
  background: #F7F7F7;
  border-radius: 4px;
  padding: 9px 15px;
  cursor: pointer;
}

#error_report_modal .modal-dialog .modal-content .modal-body--label .modal__upload-file svg {
  margin-right: 5px;
}

#error_report_modal .modal-dialog .modal-content .modal-body--list-file {
  margin-top: 25px;
}

#error_report_modal .modal-dialog .modal-content .modal-body--list-file .gallery-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #eeeeee;
  padding: 5px;
  margin-bottom: 10px;
  height: 100%;
}

#error_report_modal .modal-dialog .modal-content .modal-body--list-file .gallery-item .gallery-item__image {
  min-width: 40px;
  height: 40px;
  background-size: cover;
  background-position: center;
}

#error_report_modal .modal-dialog .modal-content .modal-body--list-file .gallery-item .gallery-item__title {
  margin-bottom: 0;
  overflow: hidden;
  padding-left: 5px;
  display: -webkit-box;
  word-break: break-word;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  max-height: 28px;
  font-size: 14px;
  line-height: 23px;
  font-weight: normal;
  color: #1890FF;
}

#error_report_modal .modal-dialog .modal-content .modal-body--list-file .gallery-item .gallery-item__delete {
  background-color: transparent;
}

#error_report_modal .modal-dialog .modal-content .modal-body--list-file .gallery-item .gallery-item__delete:hover i {
  color: red;
}

#error_report_modal .modal-dialog .modal-content .modal-footer .btn-save {
  background: linear-gradient(90.19deg, #D63A1C 0.17%, #EA5B40 99.87%);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.043);
  border-radius: 4px;
  color: #fff;
  width: 170px;
  height: 39px;
}

#service_detail_modal .modal-dialog {
  max-width: 795px;
}

#service_detail_modal .modal-dialog .modal-header {
  padding: 22px 27px;
}

#service_detail_modal .modal-dialog .modal-header h5 {
  font-size: 18px;
  line-height: 21px;
  font-weight: 500;
  color: #555555;
}

#service_detail_modal .modal-dialog .modal-body {
  padding: 0 16px 10px 16px;
}

#service_detail_modal .modal-dialog .modal-body--content {
  display: flex;
  position: relative;
}

#service_detail_modal .modal-dialog .modal-body--item {
  min-width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 55px;
}

#service_detail_modal .modal-dialog .modal-body--item:first-child {
  min-width: 130px;
  align-items: flex-start;
  padding-left: 30px;
  padding-right: 25px;
}

#service_detail_modal .modal-dialog .modal-body--item:nth-child(2),
#service_detail_modal .modal-dialog .modal-body--item:nth-child(4) {
  background: rgba(245, 245, 245, 0.5);
}

#service_detail_modal .modal-dialog .modal-body--item .count {
  font-size: 32px;
  line-height: 28px;
  font-weight: 300;
  color: #262626;
  min-height: 75px;
}

#service_detail_modal .modal-dialog .modal-body--item .text-default--modal:first-child {
  padding-right: 10px;
}

#service_detail_modal .modal-dialog .modal-body .job-name--modal {
  font-size: 14px;
  line-height: 15px;
  font-weight: 500;
  color: #fff;
  border-radius: 30px;
  width: 126px;
  height: 27px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 48px;
}

#service_detail_modal .modal-dialog .modal-body .job-name--modal svg {
  margin-right: 4px;
}

#service_detail_modal .modal-dialog .modal-body .name-service--modal {
  display: block;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #303030;
  padding-top: 6px;
  min-height: 75px;
  position: relative;
}

#service_detail_modal .modal-dialog .modal-body .name-service--modal:after {
  content: "";
  position: absolute;
  height: 1px;
  width: 730px;
  background: #E3E1E1;
  border-radius: 0 0 4px 4px;
  left: -10px;
  bottom: 19px;
}

#service_detail_modal .modal-dialog .modal-body .name-service--modal:first-child:after {
  display: none;
}

#service_detail_modal .modal-dialog .modal-body .name-service--modal:nth-child(2) {
  width: 88%;
  padding-top: 2px;
}

#service_detail_modal .modal-dialog .modal-body .name-service--modal:last-child {
  width: 92%;
  padding-top: 2px;
}

#service_detail_modal .modal-dialog .modal-body .name-service--modal:last-child:after {
  display: none;
}

#service_detail_modal .modal-dialog .modal-body .text-default--modal {
  display: inline-block;
}

#service_detail_modal .modal-dialog .modal-body .amazing-job--modal {
  background: linear-gradient(90deg, #4884F3 -6.36%, #5727C4 110.91%);
  position: relative;
  overflow: hidden;
}

#service_detail_modal .modal-dialog .modal-body .amazing-job--modal:before {
  content: "";
  position: absolute;
  width: 8px;
  height: 40px;
  top: 50%;
  left: -10%;
  transform: translate(-50%, -50%) rotate(35deg);
  background-color: #fff;
  opacity: 0.5;
  box-shadow: 0 0 10px #fff;
  -webkit-animation: glass-normal 1.5s both infinite ease-in-out;
          animation: glass-normal 1.5s both infinite ease-in-out;
  z-index: 3;
}

#service_detail_modal .modal-dialog .modal-body .premium-job--modal {
  background: linear-gradient(90deg, #D4BF57 -6.36%, #BF861E 110.91%);
}

#service_detail_modal .modal-dialog .modal-body .hot-job--modal {
  background: linear-gradient(90deg, #F85A5B 0%, #DA2B2C 100%);
}

#service_detail_modal .modal-dialog .modal-body .basic-job--modal {
  background: #A5A5A5;
}

#service_detail_modal .modal-dialog .modal-footer {
  border-top: none;
}

#service_detail_modal .modal-dialog .modal-footer .research-service {
  text-decoration: underline;
  color: #06202D;
  margin-right: 15px;
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  color: #06202D;
}

#service_detail_modal .modal-dialog .modal-footer .research-service svg {
  margin-left: 3px;
}

#service_detail_modal .modal-dialog .modal-footer .btn-cancel {
  background: #B9B9B9;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.043);
  border-radius: 4px;
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
  color: #fff;
}

#service_detail_modal .modal-dialog .modal-footer .btn-save {
  background: #D67F1E;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.043);
  border-radius: 4px;
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
  color: #fff;
}

#service_detail_modal .modal-dialog .modal-footer .btn-cancel,
#service_detail_modal .modal-dialog .modal-footer .btn-save {
  width: 170px;
  height: 39px;
  transition: all 0.2s;
  padding: 0;
}

#service_detail_modal .modal-dialog .modal-footer .btn-cancel:active,
#service_detail_modal .modal-dialog .modal-footer .btn-save:active {
  transform: scale(0.9);
}

@media screen and (max-width: 1499.98px) {
  #body-content .body__right .box-support .box-support--item {
    padding-left: 27px;
  }

  #info .info__content {
    padding: 41px 25px;
  }

  #info .info__content .info__right .total__item {
    padding: 5px 7px;
  }

  .service__content {
    padding: 30px 25px 21px 17px;
  }

  .service__content--item {
    margin-left: 46px;
  }

  #db_list-candidate .list__content--item .status span {
    font-size: 11px;
    line-height: 14px;
    font-weight: normal;
  }

  #db_list-candidate .content__list .title__card--mobile {
    width: 180px;
  }

  #db_list-candidate .content__list .job-title {
    width: 230px;
    padding-right: 20px;
  }

  #db_list-candidate .content__list .date-apply {
    width: 115px;
    margin-right: 0;
  }

  #db_list-candidate .content__list .numberical-order {
    width: 50px;
  }

  #db_list-job .content__list--body .list__content--item .status span {
    font-size: 11px;
    line-height: 14px;
    font-weight: normal;
  }

  #db_list-job .content__list .title__card--mobile {
    width: 390px;
    padding-right: 50px;
  }

  #db_list-job .content__list .date-upload {
    width: 135px;
  }

  #db_list-job .content__list .numberical-order {
    width: 50px;
  }
}

@media screen and (max-width: 1199.98px) {
  #info .info__content .info__left,
  #info .info__content .info__right {
    justify-content: left;
  }

  #info .info__content .info__left {
    width: 100%;
  }

  #info .info__content .info__left .info__left--text h3 {
    font-size: 22px;
  }

  #info .info__content .info__right {
    width: 100%;
  }

  #info .info__content .info__right .info__right--content {
    justify-content: space-between;
    width: 100%;
  }

  #info .info__content .info__right .total__item p {
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
    color: #838383;
  }

  #info .info__content .info__right .total__item .total__item--index .db_count {
    font-size: 28px;
    line-height: 28px;
    font-weight: normal;
  }

  .service__content {
    padding: 20px 17px 21px 17px;
  }

  .service__content--item {
    margin-left: 19px;
  }

  .service__content--title-text {
    font-size: 16px;
    line-height: 21px;
    font-weight: 500;
    color: #06202D;
  }

  .service__content--title-link {
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
    color: #06202D;
  }

  .service__content--item p {
    font-size: 14px;
    line-height: 22px;
    font-weight: normal;
    color: #000;
  }

  .service__content--item-total .db_count {
    font-size: 24px;
    line-height: 28px;
    font-weight: 300;
    color: #6C6201;
  }

  .body__right .upload-recruitment .upload-recruitment--btn,
  .body__right .upload-recruitment .candidate-search--btn,
  .body__right .candidate-search .upload-recruitment--btn,
  .body__right .candidate-search .candidate-search--btn {
    height: 70px;
  }

  .body__right .upload-recruitment .upload-recruitment--btn .btn-text--des,
  .body__right .upload-recruitment .candidate-search--btn .btn-text--des,
  .body__right .candidate-search .upload-recruitment--btn .btn-text--des,
  .body__right .candidate-search .candidate-search--btn .btn-text--des {
    font-size: 16px;
    line-height: 14px;
    font-weight: 500;
  }

  .body__right .upload-recruitment .upload-recruitment--btn .btn-text--subdes,
  .body__right .upload-recruitment .candidate-search--btn .btn-text--subdes,
  .body__right .candidate-search .upload-recruitment--btn .btn-text--subdes,
  .body__right .candidate-search .candidate-search--btn .btn-text--subdes {
    font-size: 14px;
    line-height: 14px;
    font-weight: normal;
  }

  .body__right .upload-recruitment .upload-recruitment--btn svg,
  .body__right .upload-recruitment .candidate-search--btn svg,
  .body__right .candidate-search .upload-recruitment--btn svg,
  .body__right .candidate-search .candidate-search--btn svg {
    width: 24px;
  }

  .body__right .box-support--title {
    padding-left: 25px;
  }

  .body__right .box-support--title h4 {
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
  }

  .body__right .box-support--item_text {
    padding-left: 20px;
  }

  .body__right .box-support--item_text h4,
  .body__right .box-support--item_text .support-link {
    font-size: 14px;
    line-height: 16px;
    font-weight: 600;
  }

  .body__right .box-support--item_text p {
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
  }

  .body__right .box-support--item_link {
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
  }

  .body__right .box-support--item svg {
    width: 25px;
  }

  .content .content__list .content__list--title .list-title .status {
    width: 105px;
  }

  #db_list-candidate .list__content--item .status {
    width: 105px;
  }

  #db_list-candidate .list__content--item .status span {
    padding: 3px 7px;
  }

  #db_list-candidate .content__list .title__card--mobile {
    width: 150px;
  }

  #db_list-candidate .content__list .job-title {
    width: 165px;
    padding-right: 20px;
  }

  #db_list-candidate .content__list .date-apply {
    width: 120px;
    margin-right: 15px;
  }

  #db_list-candidate .content__list .numberical-order {
    width: 40px;
  }

  #db_list-job .list__content--item .status {
    width: 106px;
  }

  #db_list-job .list__content--item .status span {
    padding: 3px 7px;
  }

  #db_list-job .content__list .title__card--mobile {
    width: 325px;
    padding-right: 30px;
  }

  #db_list-job .content__list .date-upload {
    width: 90px;
    margin-right: 35px;
  }

  #db_list-job .content__list .list__content--item .status {
    width: 106px;
    justify-content: center;
    display: flex;
  }

  #db_list-job .content__list .numberical-order {
    width: 40px;
  }
}

@media screen and (max-width: 991.98px) {
  #dashboard {
    margin-top: 57px;
  }

  #info {
    margin: 12px 0 10px;
  }

  #info .info__content .info__right {
    margin-top: 17px;
  }

  .service {
    margin-right: 0;
    margin-bottom: 115px;
    min-height: 110px;
  }

  .service__content {
    padding: 12px 20px 14px 20px;
  }

  .service__content--title {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .service__content--title-text {
    font-size: 14px;
    line-height: 21px;
    font-weight: 500;
    color: #06202D;
  }

  .service__content--title-link {
    font-size: 12px;
    line-height: 16px;
    font-weight: normal;
    color: #06202D;
  }

  .service__content--right {
    justify-content: space-between;
    margin-top: 7px;
  }

  .service__content--item {
    margin-left: 0;
  }

  .service__content--item p {
    font-size: 12px;
    line-height: 22px;
    font-weight: normal;
    color: #000;
  }

  .service__content--item-total .db_count {
    font-size: 20px;
    line-height: 28px;
    font-weight: 300;
    color: #6C6201;
  }

  .body__right {
    margin-bottom: 36px;
    position: absolute;
    width: 100%;
    top: 140px;
  }

  .body__right .candidate-search,
  .body__right .upload-recruitment {
    width: 100%;
  }

  .body__right .candidate-search .upload-recruitment--btn,
  .body__right .candidate-search .candidate-search--btn,
  .body__right .upload-recruitment .upload-recruitment--btn,
  .body__right .upload-recruitment .candidate-search--btn {
    height: 55px;
  }

  .body__right .candidate-search .upload-recruitment--btn .btn-text--des,
  .body__right .candidate-search .candidate-search--btn .btn-text--des,
  .body__right .upload-recruitment .upload-recruitment--btn .btn-text--des,
  .body__right .upload-recruitment .candidate-search--btn .btn-text--des {
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 0;
  }

  .body__right .candidate-search .upload-recruitment--btn .btn-text--subdes,
  .body__right .candidate-search .candidate-search--btn .btn-text--subdes,
  .body__right .upload-recruitment .upload-recruitment--btn .btn-text--subdes,
  .body__right .upload-recruitment .candidate-search--btn .btn-text--subdes {
    font-size: 16px;
    line-height: 16px;
    font-weight: normal;
    color: #fff;
  }

  .body__right .candidate-search .upload-recruitment--btn svg,
  .body__right .candidate-search .candidate-search--btn svg,
  .body__right .upload-recruitment .upload-recruitment--btn svg,
  .body__right .upload-recruitment .candidate-search--btn svg {
    width: 20px;
  }

  .body__right .upload-recruitment {
    margin-right: 3px;
  }

  .body__right .candidate-search {
    margin-left: 3px;
  }

  .text-list-title {
    font-size: 14px;
    line-height: 16px;
    font-weight: bold;
    color: #555555;
  }

  .text-list-default {
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
    color: #454545;
  }

  .content .content__title h4 {
    font-size: 16px;
    line-height: 19px;
    font-weight: 600;
    color: #06202D;
  }

  .content .content__title .content__title--right {
    position: absolute;
    bottom: 32px;
    left: 50%;
    transform: translateX(-50%);
  }

  .content .content__title .content__title--right a {
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
    color: #06202D;
    text-decoration: underline;
  }

  #info .info__content {
    flex-direction: column;
    padding: 21px 15px;
  }

  #info .info__content--avt img {
    width: 42px;
    height: auto;
  }

  #info .info__content .info__left {
    padding-left: 9px;
  }

  #info .info__content .info__left .info__left--text h3 {
    font-size: 16px;
    line-height: 18px;
    font-weight: bold;
    color: #06202D;
  }

  #info .info__content .info__left .info__left--text h3 .premium-account {
    font-size: 8px;
    line-height: 9px;
    font-weight: normal;
    color: #fff;
  }

  #info .info__content .info__left .info__left--text .gmail-account {
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.65);
  }

  #info .info__content .info__right .total__item {
    border-right: none;
  }

  #info .info__content .info__right .total__item p {
    margin-bottom: 5px;
    font-size: 12px;
    line-height: 14px;
    font-weight: normal;
    color: #838383;
  }

  #info .info__content .info__right .total__item .total__item--index .db_count {
    font-size: 18px;
    line-height: 24px;
    font-weight: normal;
    color: #595959;
  }

  #info .info__content .info__right .unused-jobs .unused-jobs__list {
    margin-top: 10px;
  }

  #info .info__content .info__right .unused-jobs .unused-jobs__list .unused-jobs__item .db_count {
    font-size: 16px;
    line-height: 20px;
    font-weight: normal;
    color: #515151;
  }

  #profile .profile__company--complete .profile__company--complete-left .profile__complete--text h4 {
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.85);
  }

  #profile .profile__company--complete .profile__company--complete-left .profile__complete--text p {
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.65);
  }

  #profile .profile__company--complete .profile__company--complete-right .profile__complete--btn {
    font-size: 12px;
    line-height: 14px;
    font-weight: normal;
    color: #06202D;
  }

  .body__right {
    margin-left: 0;
    display: flex;
  }

  #db_list-candidate,
  #db_list-job {
    margin-right: 0;
  }

  #db_list-candidate .content__list .date-apply,
  #db_list-job .content__list .date-apply {
    justify-content: unset;
  }

  #db_list-candidate .content__list .content__list--body,
  #db_list-job .content__list .content__list--body {
    max-height: unset;
  }

  #db_list-candidate .content__list .content__list--body .list__content--item,
  #db_list-job .content__list .content__list--body .list__content--item {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    margin: 0 auto 20px auto;
    width: 95%;
    align-items: unset;
  }

  #db_list-candidate .content__list .content__list--body .list__content--item:after,
  #db_list-job .content__list .content__list--body .list__content--item:after {
    display: none;
  }

  #db_list-candidate .content__list .content__list--body .list__content--item .body__list--item-text,
  #db_list-job .content__list .content__list--body .list__content--item .body__list--item-text {
    flex-direction: column;
    width: 100%;
    position: relative;
  }

  #db_list-candidate .content__list .content__list--body .list__content--item .card-mobile,
  #db_list-job .content__list .content__list--body .list__content--item .card-mobile {
    align-items: unset;
    border-radius: 4px;
  }

  #db_list-candidate .content__list .content__list--bottom,
  #db_list-job .content__list .content__list--bottom {
    box-shadow: none;
  }

  #db_list-candidate .content__list .card-mobile,
  #db_list-job .content__list .card-mobile {
    border: 0.5px solid #BBBBBB;
  }

  #db_list-candidate .content__list .title__card--mobile,
  #db_list-job .content__list .title__card--mobile {
    width: 100%;
    padding: 12px 120px 12px 16px;
    background-color: #F4F4F4;
  }

  #db_list-candidate .content__list .title__card--mobile .text-list-default,
  #db_list-job .content__list .title__card--mobile .text-list-default {
    font-size: 14px;
    line-height: 16px;
    font-weight: bold;
    color: #4A4A4A;
  }

  #db_list-candidate .content__list .basic-info,
  #db_list-job .content__list .basic-info {
    width: 100%;
    flex-direction: column;
    padding: 15px 15px 10px;
    border-bottom: 1px solid #E8E8E8;
  }

  #db_list-candidate .content__list .basic-info .status,
  #db_list-job .content__list .basic-info .status {
    position: absolute;
    top: 12px;
    right: 15px;
    font-size: 11px;
    line-height: 14px;
  }

  #db_list-candidate .content__list .basic-info .basic-info--content,
  #db_list-job .content__list .basic-info .basic-info--content {
    width: 100%;
    display: flex;
    align-items: flex-start;
    margin: 5px 0;
  }

  #db_list-candidate .content__list .basic-info .basic-info--content .title--mobile,
  #db_list-job .content__list .basic-info .basic-info--content .title--mobile {
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 14px;
    font-weight: 500;
    color: #555555;
    width: auto;
    margin-right: 20px;
  }

  #db_list-candidate .content__list .basic-info .basic-info--content .text-list-default,
  #db_list-job .content__list .basic-info .basic-info--content .text-list-default {
    font-size: 12px;
    line-height: 14px;
    font-weight: normal;
    color: #454545;
    padding-right: 0;
    width: auto;
    margin-right: 20px;
  }
}

@media screen and (min-width: 767px) {
  .col-md-unset {
    max-width: unset !important;
    flex: 0 !important;
  }
}

@media screen and (max-width: 767.98px) {
  .content {
    position: relative;
  }

  .content .content__title {
    padding: 15px 19px 15px 12px;
  }

  .content .content__title h4 svg {
    width: 30px;
  }

  .info__right--content {
    width: 100%;
  }

  #info .info__content {
    align-items: flex-start;
  }

  #info .info__content .info__left {
    justify-content: flex-start;
  }

  #info .info__content .info__right {
    justify-content: space-between;
  }

  #service_detail_modal .modal-dialog {
    max-width: unset;
  }

  #service_detail_modal .modal-dialog .modal-header {
    padding: 16px 22px;
  }

  #service_detail_modal .modal-dialog .modal-header h5 {
    font-size: 16px;
    line-height: 19px;
    font-weight: 500;
    color: #555555;
  }

  #service_detail_modal .modal-dialog .modal-body {
    padding: 0 16px 10px 16px;
  }

  #service_detail_modal .modal-dialog .modal-body--content {
    display: unset;
  }

  #service_detail_modal .modal-dialog .modal-body--item {
    min-width: unset;
    padding: 15px 0;
    flex-direction: unset;
    justify-content: space-around;
  }

  #service_detail_modal .modal-dialog .modal-body--item:first-child {
    min-width: unset;
    align-items: center;
    padding-right: 0;
    padding-left: 0;
  }

  #service_detail_modal .modal-dialog .modal-body--item .count {
    font-size: 20px;
    line-height: 28px;
    font-weight: 300;
    color: #262626;
    min-height: unset;
  }

  #service_detail_modal .modal-dialog .modal-body--item .text-default--modal {
    min-height: 40px;
  }

  #service_detail_modal .modal-dialog .modal-body--item .text-default--modal:first-child {
    padding-right: 10px;
  }

  #service_detail_modal .modal-dialog .modal-body .job-name--modal {
    font-size: 9px;
    line-height: 12px;
    font-weight: 500;
    color: #fff;
    width: unset;
    height: unset;
    margin-bottom: 0;
    padding: 2px 7px;
  }

  #service_detail_modal .modal-dialog .modal-body .job-name--modal svg {
    margin-right: 2px;
    width: 7px;
  }

  #service_detail_modal .modal-dialog .modal-body .name-service--modal {
    font-size: 12px;
    line-height: 14px;
    font-weight: 500;
    color: #303030;
    text-align: center;
    min-height: unset;
  }

  #service_detail_modal .modal-dialog .modal-body .name-service--modal:after {
    display: none;
  }

  #service_detail_modal .modal-dialog .modal-body .text-default--modal {
    display: inline-block;
    font-size: 12px;
    line-height: 14px;
    font-weight: normal;
  }

  #service_detail_modal .modal-dialog .modal-footer .research-service {
    font-size: 12px;
    line-height: 16px;
    font-weight: normal;
    width: 100%;
  }

  #service_detail_modal .modal-dialog .modal-footer .research-service svg {
    margin-left: 3px;
    width: 11px;
  }

  #service_detail_modal .modal-dialog .modal-footer .btn-cancel,
  #service_detail_modal .modal-dialog .modal-footer .btn-save {
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    color: #fff;
  }

  #service_detail_modal .modal-dialog .modal-footer .btn-cancel {
    width: 35%;
    height: 39px;
  }

  #service_detail_modal .modal-dialog .modal-footer .btn-save {
    width: 59%;
    height: 39px;
  }

  #error_report_modal .modal-dialog .modal-content .modal-body--label {
    width: 100%;
  }

  #error_report_modal .modal-dialog .modal-content .modal-body--label .box_error-report,
  #error_report_modal .modal-dialog .modal-content .modal-body--label .modal__upload-file {
    width: 100%;
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
  }
}

@media screen and (max-width: 575.98px) {
  .select2-container--default .dashboard-select2-selection .select2-selection__rendered {
    font-size: 12px;
    line-height: 36px;
    font-weight: 600;
    color: #164256;
  }
}

@media screen and (max-width: 374.98px) {
  #info .info__content .info__left .info__left--text .account-info {
    display: unset;
  }

  #info .info__content .info__right .info__right--content {
    justify-content: flex-end;
    flex-wrap: wrap;
  }

  #info .info__content .info__right .unused-jobs {
    align-items: flex-start;
    margin-top: 5px;
  }

  #info .info__content .info__right .unused-jobs .unused-jobs__list {
    justify-content: flex-start;
  }

  #info .info__content .info__right .unused-jobs .unused-jobs__list .unused-jobs__item:first-child {
    margin-left: 0;
  }

  .body__right .upload-recruitment .upload-recruitment--btn svg,
  .body__right .upload-recruitment .candidate-search--btn svg,
  .body__right .candidate-search .upload-recruitment--btn svg,
  .body__right .candidate-search .candidate-search--btn svg {
    margin-right: 5px;
  }
}

