/*=============== Search CV ===============*/

/*=============== End Search CV ===============*/

/*=============== Post Job ===============*/

/*=============== End Post Job ===============*/

/*=============== Company Information ===============*/

/*=============== End Company Information ===============*/

/*=============== Buy Points ===============*/

/*=============== End Buy Points ===============*/

/*=============== DASHBOARD ===============*/

/*=============== End DASHBOARD ===============*/

/*=============== @include ===============*/

/*=============== End @include ===============*/

/*=============== @extend ===============*/

.lps5-modal .modal-image {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.lps1-action__button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

/*=============== End @extend ===============*/

@font-face {
  font-family: Lato;
  src: url(/fonts/Lato-400.ttf?6d4e78225df0cfd5fe1bf3e8547fefe4) format("truetype");
  font-weight: 400 normal;
  font-style: normal;
}

@font-face {
  font-family: Lato;
  src: url(/fonts/Lato-500.ttf?06e1c8dbe641dd9dfa4367dc2a6efb9f) format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Lato;
  src: url(/fonts/Lato-700.ttf?5b1b8b856d7a8cb1cb0bae6d0573f2e9) format("truetype");
  font-weight: 600 700;
  font-style: normal;
}

html,
body {
  font-family: "Lato", "Roboto", Arial, Helvetica, sans-serif;
  background-color: transparent;
  padding-top: 0;
  overflow-x: hidden;
}

.lp-navbar {
  position: absolute;
  height: 105px;
  display: flex;
  align-items: center;
}

.lp-navbar .navbar-body {
  -webkit-animation: fadeIn 0.5s both;
          animation: fadeIn 0.5s both;
  flex-wrap: nowrap;
}

.lp-navbar .navbar-brand {
  margin-right: 9px;
  display: flex;
}

.lp-navbar .navbar-brand img {
  height: 32px;
}

.lp-navbar .navbar-brand__description {
  font-size: 14px;
  line-height: 12px;
  font-weight: 500;
  color: #1F4353;
  border-left: 1px solid #1C4355;
  padding-left: 7px;
  display: flex;
  position: relative;
  top: 6px;
}

.lp-navbar .navbar-brand__description span {
  position: relative;
}

.lp-navbar .navbar-nav {
  padding-top: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.lp-navbar .navbar-nav .nav {
  padding-top: 0;
}

.lp-navbar .navbar-nav .nav-item {
  padding: 0 10px;
}

.lp-navbar .navbar-nav .nav-link {
  font-size: 18px;
  line-height: 28px;
  font-weight: 500;
  color: #1D293F;
  display: flex;
  padding: 8px 10px;
  position: relative;
  transition: all 0.2s;
  white-space: nowrap;
  z-index: 1;
}

.lp-navbar .navbar-nav .nav-link:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.8);
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 5px;
  transition: all 0.2s;
  opacity: 0;
  z-index: -1;
}

.lp-navbar .navbar-nav .nav-link:hover:before {
  opacity: 0.8;
  filter: blur(10px);
  transform: translate(-50%, -50%) scale(1);
}

.lp-navbar .navbar-nav .nav-link__blue:before {
  background-image: linear-gradient(134.39deg, #E0F4FE 42.84%, #BBE8FF 68.09%);
}

.lp-navbar .navbar-nav .nav-link__pink:before {
  background-image: linear-gradient(127.56deg, #FFDBDB 41.4%, #FFEFEF 59.77%);
}

.lp-navbar .navbar-nav .nav-link__yellow:before {
  background-image: linear-gradient(100deg, #BBE8FF 0%, #FFDBDB 100%);
}

.lp-navbar .navbar-nav .nav-link__big {
  color: #fff;
  padding-left: 30px;
  padding-right: 30px;
}

.lp-navbar .navbar-nav .nav-link__big:before {
  background-color: #E74243;
  top: 0;
  left: 0;
  transform: scale(1);
  opacity: 1;
  border-radius: 5px;
}

.lp-navbar .navbar-nav .nav-link__big:hover:before {
  opacity: 5;
  top: 0;
  left: 0;
  filter: blur(2px);
  transform: scale(1);
}

.lp-navbar.scroll {
  position: fixed;
  background-color: #fff;
  height: 80px;
  -webkit-animation: fadeIn 0.4s both;
          animation: fadeIn 0.4s both;
  box-shadow: 0 0 8px #00000022;
}

.lp-navbar.scroll .navbar-body {
  position: relative;
  -webkit-animation: fadeInDown 0.4s both;
          animation: fadeInDown 0.4s both;
}

.lps1 {
  padding-top: 175px;
  position: relative;
}

.lps1-background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background-image: url(/images/image-lp-background-1.svg?be2c1634b9ae0c25482d71d757f4c031);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.lps1-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.lps1-head {
  font-size: 48px;
  line-height: 54px;
  font-weight: normal;
  color: #1D293F;
  margin-bottom: 29px;
  letter-spacing: -1px;
}

.lps1-head__bold {
  font-weight: 600;
}

.lps1-description {
  font-size: 18px;
  line-height: 24px;
  font-weight: normal;
  color: #6B6B6B;
  margin-bottom: 40px;
  width: 465px;
}

.lps1-action {
  display: flex;
}

.lps1-action__button {
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  color: #E74243;
  width: 200px;
  height: 60px;
  border: none;
  border-radius: 5px;
  background-color: transparent;
  margin: 0 10px;
  position: relative;
  transition: all 0.2s;
}

.lps1-action__button--fill {
  border: none;
  background-image: linear-gradient(180deg, #EF5B5C 0%, #EF3637 100%);
  color: #fff;
}

.lps1-action__button:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  border: 1px solid #E74243;
  transition: all 0.2s;
  z-index: -1;
}

.lps1-action__button:hover {
  color: #E74243;
}

.lps1-action__button:active:before {
  transform: translate(-50%, -50%) scale(0.97);
}

.lps1-action__button--fill {
  border: none;
  color: #fff;
}

.lps1-action__button--fill:before {
  background-image: linear-gradient(180deg, #EF5B5C 0%, #EF3637 100%);
}

.lps1-action__button--fill:hover {
  color: #fff;
}

.lps1-image {
  position: relative;
  left: 180px;
}

.lps1-step {
  position: relative;
}

.lps1-step__item {
  width: 364px;
  background: #FDFDFD;
  box-shadow: 0 1px 12px rgba(0, 0, 0, 0.25);
  display: flex;
  position: absolute;
}

.lps1-step__item--1 {
  bottom: 305px;
  right: 120px;
}

.lps1-step__item--2 {
  bottom: 177px;
  right: 90px;
}

.lps1-step__content {
  padding: 0 10px 0 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
}

.lps1-step__number {
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  color: #BCBCBC;
  letter-spacing: 0;
  margin-bottom: 6px;
}

.lps1-step__description {
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  color: #1D293F;
  letter-spacing: 0;
}

.lps2 {
  padding-top: 115px;
  padding-bottom: 85px;
}

.lps2 .lp-title {
  margin-bottom: 50px;
}

.lps2-navi {
  position: absolute;
  bottom: 0;
  right: 125px;
  z-index: 2;
}

.lps3 .lp-title {
  margin-bottom: 50px;
  width: 495px;
  letter-spacing: -1px;
}

.lps3-left {
  padding-top: 60px;
}

.lps4 {
  padding-top: 100px;
  padding-bottom: 140px;
}

.lps4 .lp-title {
  margin-bottom: 14px;
  color: #E74243;
  letter-spacing: -1px;
}

.lps4-description {
  font-size: 18px;
  line-height: 24px;
  font-weight: normal;
  color: #434343;
  margin-bottom: 10px;
  width: 437px;
}

.lps4-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.lps4-body {
  max-width: 1182px;
  margin: 0 auto;
  padding-top: 60px;
}

.lps4-left {
  padding-top: 60px;
}

.lps4-item {
  width: 350px;
  background: #E6F6FF;
  border-radius: 10px;
  padding: 18px 23px 38px 28px;
}

.lps4-item__top {
  display: flex;
  align-items: center;
}

.lps4-item__image {
  width: 65px;
  min-width: 65px;
}

.lps4-item__title {
  font-size: 21px;
  line-height: 26px;
  font-weight: 600;
  color: #1D293F;
  padding-left: 20px;
}

.lps4-item__description {
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  color: #505050;
  padding-top: 30px;
}

.lps4-navi {
  position: absolute;
  right: -169px;
  bottom: -48px;
  z-index: 2;
}

.lps5 {
  position: relative;
  z-index: 1;
  padding-top: 93px;
  padding-bottom: 160px;
  background: linear-gradient(180deg, #FFE9E9 40.63%, #FFF6E0 100%);
}

.lps5 .lp-title {
  font-size: 42px;
  line-height: 64px;
  font-weight: 600;
  margin-top: 34px;
  margin-bottom: 100px;
  width: 710px;
  letter-spacing: -1px;
}

.lps5-top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.lps5-body {
  margin: 0 auto;
}

.lps5-item {
  min-height: 340px;
  background: #FFFFFF;
  border: 1px solid #E2E4E8;
  border-radius: 10px;
  padding: 28px 30px 26px 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.lps5-item__top {
  min-height: 70px;
  max-height: 70px;
  width: 100%;
  margin-bottom: 30px;
  position: relative;
}

.lps5-item__image {
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  max-height: 100%;
  max-width: 100%;
}

.lps5-item__description {
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  color: #1D293F;
  margin-top: auto;
  margin-bottom: 20px;
  text-align: justify;
}

.lps5-navi {
  position: absolute;
  right: 138px;
  top: 10px;
  z-index: -1;
}

.lps5-modal .modal-content {
  border: none;
  border-radius: 0;
  background: linear-gradient(90.42deg, #FFF2F2 0.35%, #F8FFF3 100.68%);
  min-height: 708px;
}

.lps5-modal .modal-body {
  display: flex;
  padding: 0;
}

.lps5-modal .modal-left {
  flex: 4;
  padding: 59px 79px;
  display: flex;
  flex-direction: column;
}

.lps5-modal .modal-right {
  flex: 3;
}

.lps5-modal .modal-image {
  width: 100%;
  height: 100%;
}

.lps5-modal .modal-sub {
  font-size: 18px;
  line-height: 22px;
  font-weight: 500px;
  color: #E74243;
  margin-bottom: 6px;
}

.lps5-modal .modal-name {
  font-size: 32px;
  line-height: 46px;
  font-weight: 600;
  color: #1D293F;
}

.lps5-modal .modal-list {
  padding-top: 50px;
  margin: auto;
}

.lps5-modal .modal-list__item {
  margin-bottom: 20px;
  display: flex;
}

.lps5-modal .modal-list__name {
  font-size: 20px;
  line-height: 32px;
  font-weight: normal;
  color: #6A6A6A;
  padding-right: 12px;
  min-width: 175px;
  white-space: nowrap;
}

.lps5-modal .modal-list__value {
  font-size: 20px;
  line-height: 32px;
  font-weight: normal;
  color: #1D293F;
  padding-right: 12px;
  word-break: break-word;
}

.lps5-modal .modal-list__value--break {
  white-space: pre-line;
}

.lps5 .slick-list {
  overflow: inherit;
}

.lps5 .slick-item {
  padding: 0 15px;
  position: relative;
  transition: all 0.3s;
  opacity: 0.4;
  overflow: hidden;
}

.lps5 .slick-item:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.lps5 .slick-item:focus {
  outline: none;
}

.lps5 .slick-active {
  opacity: 1;
  overflow: inherit;
}

.lps5 .slick-active:before {
  display: none;
}

.lps6 {
  position: relative;
  z-index: 1;
  padding-top: 110px;
  padding-bottom: 160px;
}

.lps6 .lp-title {
  font-size: 42px;
  line-height: 64px;
  font-weight: 600;
  margin-top: 34px;
  margin-bottom: 12px;
  letter-spacing: -1px;
}

.lps6-right {
  padding-top: 35px;
}

.lps6-contact {
  padding: 13px 24px 13px 27px;
  background: #F3F3F3;
  width: 451px;
  margin-bottom: 40px;
}

.lps6-contact__item {
  font-size: 18px;
  line-height: 30px;
  font-weight: normal;
  color: #0D2C3A;
  margin-bottom: 0;
}

.lps6-form {
  display: block;
}

.lps6-form__item {
  position: relative;
}

.lps6-form__label {
  font-size: 18px;
  line-height: 24px;
  font-weight: normal;
  color: #8C97AC;
  position: absolute;
  width: 65px;
  text-align: center;
  margin-bottom: 0;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  transition: all 0.2s;
}

.lps6-form__input {
  font-size: 16px;
  line-height: 19px;
  font-weight: normal;
  color: #464545;
  width: 100%;
  height: 50px;
  background: #FDFDFD;
  border: 0.5px solid #656565;
  border-radius: 6px;
  padding: 0 10px 0 65px;
  transition: all 0.2s;
}

.lps6-form__input::-moz-placeholder {
  color: #8C97AC;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

.lps6-form__input:-ms-input-placeholder {
  color: #8C97AC;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}

.lps6-form__input::placeholder {
  color: #8C97AC;
  transition: all 0.2s;
}

.lps6-form__input:focus::-moz-placeholder {
  color: transparent;
}

.lps6-form__input:focus:-ms-input-placeholder {
  color: transparent;
}

.lps6-form__input:focus::placeholder {
  color: transparent;
}

.lps6-form__input:focus + .lps6-form__label {
  color: #464545;
  transform: translateY(-50%) scale(1.4);
}

.lps6-form__submit {
  font-size: 20px;
  line-height: 26px;
  font-weight: normal;
  color: #fff;
  width: 100%;
  height: 60px;
  background: #E74243;
  border: none;
  border-radius: 5px;
  padding: 0;
  transition: all 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lp-footer {
  background: #10192B;
  padding-top: 45px;
}

.lp-footer__top {
  display: flex;
  align-items: center;
}

.lp-footer__body {
  padding-top: 50px;
}

.lp-footer__bottom {
  padding: 35px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lp-footer__copy-right {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #fff;
}

.lp-footer__dmca {
  width: 65px;
  border: 1px solid #fff;
}

.lp-footer__dmca img {
  width: 100%;
}

.lp-footer .footer-brand {
  margin-right: 9px;
}

.lp-footer .footer-brand img {
  height: 27px;
}

.lp-footer .footer-brand__description {
  font-size: 14px;
  line-height: 12px;
  font-weight: 500;
  color: #fff;
  border-left: 1px solid #fff;
  padding-left: 7px;
  display: flex;
  position: relative;
  top: 4px;
}

.lp-footer .footer-brand__description span {
  position: relative;
}

.lp-footer .footer-total {
  display: flex;
}

.lp-footer .footer-total__item {
  margin-left: 50px;
  display: flex;
  align-items: flex-end;
}

.lp-footer .footer-total__number {
  font-size: 24px;
  line-height: 29px;
  font-weight: 600;
  color: #fff;
}

.lp-footer .footer-total__name {
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
  color: #fff;
  padding-left: 10px;
}

.lp-footer .footer-nav__title {
  font-size: 18px;
  line-height: 25px;
  font-weight: 600;
  color: #fff;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(83, 83, 83, 0.5);
}

.lp-footer .footer-nav__list {
  padding: 10px 0;
  margin-bottom: 0;
}

.lp-footer .footer-nav__item {
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
  color: #fff;
  list-style: none;
}

.lp-footer .footer-nav__contact--link {
  color: #FFA724;
}

.lp-footer .footer-nav__contact--link:hover {
  color: #FFA724;
  text-decoration: underline;
}

.lp-footer .footer-nav__link {
  color: #A0A0A0;
  transition: all 0.2s;
}

.lp-footer .footer-nav__link:hover {
  color: #fff;
}

.lp-footer .footer-nav__link--icon {
  font-size: 22px;
  margin-right: 15px;
}

.lp-footer .footer-nav__link--icon:last-child {
  margin-right: 0;
}

.lp-footer .footer-nav--1 {
  grid-area: nav-1;
}

.lp-footer .footer-nav--2 {
  grid-area: nav-2;
}

.lp-footer .footer-nav--3 {
  grid-area: nav-3;
}

.lp-footer .footer-nav--4 {
  grid-area: nav-4;
}

.lp-footer .footer-grid {
  display: grid;
  grid-template-columns: auto auto auto 100px;
  grid-template-areas: "nav-1 nav-2 nav-3 nav-4";
}

.lp-footer .footer-grid .footer-nav__title {
  padding-top: 25px;
}

.lp-title {
  font-size: 36px;
  line-height: 46px;
  font-weight: 600;
  color: #1D293F;
  width: 480px;
}

.lp-list {
  padding-left: 0;
  margin: 0;
}

.lp-list__item {
  font-size: 24px;
  line-height: 30px;
  font-weight: 400;
  color: #1D293F;
  list-style: none;
  padding-bottom: 25px;
  align-items: flex-start;
}

.lp-list__tag {
  font-size: 12px;
  line-height: 24px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  border-radius: 4px;
  display: inline-block;
  position: relative;
  padding: 0 10px;
  margin-left: 5px;
  top: -4px;
}

.lp-list__tag--1st {
  background-color: #143343;
  padding-right: 25px;
}

.lp-list__tag--1st img {
  position: absolute;
  right: -23px;
  top: -7px;
}

.lp-list__tag--premium {
  background-color: #BE780E;
}

.lp-link {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #1C4355;
  text-decoration: underline;
  display: inline-block;
  padding-left: 5px;
  position: relative;
  width: auto;
  border: none;
  background-color: transparent;
}

.lp-link:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 110%;
  height: 125%;
  border-radius: 5px;
  opacity: 0;
  transform: translate(-49%, -47%) scale(0.9);
  transition: all 0.2s;
  background-color: #838383;
}

.lp-link i {
  font-size: 11px;
  padding-left: 5px;
  position: relative;
}

.lp-link:hover {
  text-decoration: underline;
  color: #1C4355;
}

.lp-link:hover:before {
  opacity: 0.2;
  filter: blur(3px);
  transform: translate(-49%, -47%) scale(1);
}

.lp-link:hover i {
  -webkit-animation: fadeInLeft 0.4s;
          animation: fadeInLeft 0.4s;
}

.lp-link__big {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  padding-left: 0;
  margin-top: 18px;
  letter-spacing: -1px;
}

.lp-link__big:before {
  width: 115%;
  height: 140%;
}

.lp-link__big i {
  font-size: 18px;
  padding-left: 7px;
}

.lp-navi__red {
  font-size: 24px;
  line-height: 30px;
  font-weight: normal;
  color: #E74243;
  margin-bottom: 10px;
  display: flex;
  align-items: flex-start;
}

.lp-navi__red img {
  position: relative;
  top: 6px;
  margin-right: 10px;
}

.error-text {
  font-size: 12px;
  line-height: 14px;
  font-weight: normal;
  color: #FD1616;
  min-height: 14px;
  margin-bottom: 8px;
  margin-top: 2px;
}

.error-input {
  border: 1px solid #FD1616 !important;
}

@media screen and (min-width: 992px) {
  .lp-navbar .navbar-dropdown__toggle {
    display: none;
  }

  .lp-navbar .navbar-dropdown__menu {
    padding: 0;
    position: static;
    border: none;
    background: transparent;
    display: block;
  }
}

@media screen and (max-width: 1499.98px) {
  .lps2 {
    padding-top: 70px;
    padding-bottom: 75px;
  }

  .lps2 .lp-title {
    margin-bottom: 30px;
    width: 380px;
  }

  .lps2-left {
    padding-top: 70px;
  }

  .lps2-image img {
    width: 611px;
    height: 100%;
  }

  .lps2-navi {
    right: 55px;
  }

  .lps2-navi img {
    width: 300px;
  }

  .lps3 .lp-title {
    margin-bottom: 35px;
    width: 390px;
  }

  .lps3-left {
    padding-top: 60px;
  }

  .lps3-image img {
    width: 599px;
    height: 100%;
  }

  .lps5 {
    padding-top: 80px;
    padding-bottom: 100px;
  }

  .lps5 .lp-title {
    font-size: 34px;
    line-height: 52px;
    font-weight: 600;
    margin-bottom: 80px;
    width: 530px;
  }

  .lps5-navi {
    position: absolute;
    top: 40px;
    right: 48px;
    z-index: -1;
  }

  .lps5-navi img {
    width: 310px;
  }

  .lps6 {
    padding-top: 100px;
    padding-bottom: 120px;
  }

  .lps6 .lp-title {
    font-size: 34px;
    line-height: 52px;
    font-weight: 600;
    margin-top: 25px;
  }

  .lps6-image img {
    width: 610px;
    height: 100%;
  }

  .lps6-right {
    padding-top: 20px;
  }

  .lps6-contact {
    margin-bottom: 35px;
  }

  .lps6-contact__item {
    font-size: 16px;
    line-height: 30px;
    font-weight: normal;
  }

  .lps6-form__submit {
    font-size: 18px;
    line-height: 26px;
    font-weight: normal;
    height: 55px;
  }

  .lp-title {
    font-size: 29px;
    line-height: 38px;
    font-weight: 600;
  }

  .lp-list__item {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    padding-bottom: 18px;
  }

  .lp-list__tag {
    font-size: 10px;
    line-height: 20px;
    font-weight: 700;
    padding: 0 8px;
    top: -3px;
  }

  .lp-list__tag--1st {
    padding-right: 20px;
  }

  .lp-list__tag--1st img {
    width: 33px;
    right: -18px;
  }

  .lp-link__big {
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    margin-top: 14px;
  }

  .lp-link__big i {
    font-size: 14px;
    padding-left: 7px;
  }

  .lp-navi__red {
    font-size: 18px;
    line-height: 24px;
    font-weight: normal;
  }

  .lp-navi__red img {
    top: 4px;
    margin-right: 7px;
  }
}

@media screen and (max-width: 1199.98px) {
  .lp-navbar {
    height: 85px;
  }

  .lp-navbar .navbar-nav .nav-item {
    padding: 0 5px;
  }

  .lp-navbar .navbar-nav .nav-link {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    padding: 6px 8px;
  }

  .lp-navbar .navbar-nav .nav-link:hover:before {
    filter: blur(5px);
  }

  .lp-navbar .navbar-nav .nav-link__big {
    padding-left: 15px;
    padding-right: 15px;
  }

  .lps3-image {
    display: flex;
    justify-content: flex-end;
  }

  .lps3-image img {
    width: 599px;
    height: 100%;
  }

  .lps4-item {
    width: 290px;
  }

  .lps4-item__top {
    height: 80px;
  }

  .lps4-navi {
    bottom: -110px;
    right: -90px;
  }

  .lps5 {
    padding-top: 50px;
    padding-bottom: 70px;
  }

  .lps5 .lp-title {
    margin-bottom: 60px;
  }

  .lps5-navi {
    position: absolute;
    right: 55px;
    top: 50px;
    z-index: -1;
  }

  .lps5-navi img {
    width: 250px;
  }

  .lps5-modal .modal-content {
    min-height: unset;
  }

  .lps5-modal .modal-left {
    padding: 35px 25px;
  }

  .lps5-modal .modal-sub {
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    margin-bottom: 6px;
  }

  .lps5-modal .modal-name {
    font-size: 24px;
    line-height: 30px;
    font-weight: 600;
  }

  .lps5-modal .modal-list {
    padding-top: 30px;
  }

  .lps5-modal .modal-list__name {
    font-size: 16px;
    line-height: 20px;
    font-weight: normal;
    min-width: 150px;
  }

  .lps5-modal .modal-list__value {
    font-size: 16px;
    line-height: 20px;
    font-weight: normal;
  }

  .lps6-image {
    display: flex;
    justify-content: flex-end;
  }

  .lps6-image img {
    width: 550px;
    height: 100%;
  }

  .lps6-contact {
    width: 100%;
    margin-bottom: 20px;
  }

  .lp-footer {
    background: #10192B;
    padding-top: 45px;
  }

  .lp-footer__top {
    display: flex;
    align-items: center;
  }

  .lp-footer__body {
    padding-top: 50px;
  }

  .lp-footer__bottom {
    padding: 35px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .lp-footer__copy-right {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    color: #fff;
  }

  .lp-footer__dmca {
    width: 65px;
    border: 1px solid #fff;
  }

  .lp-footer__dmca img {
    width: 100%;
  }

  .lp-footer .footer-grid {
    grid-template-columns: unset;
    grid-template-areas: "nav-1 nav-2 nav-3" "nav-1 nav-2 nav-4";
  }
}

@media screen and (max-width: 991.98px) {
  .lp-navbar .navbar-nav {
    padding-top: 0;
    flex-direction: column;
    align-items: flex-start;
  }

  .lp-navbar .navbar-nav .nav-item {
    padding: 0 20px;
  }

  .lp-navbar .navbar-nav .nav-link {
    padding: 12px 10px;
  }

  .lp-navbar .navbar-nav .nav-link:before {
    display: none;
  }

  .lp-navbar .navbar-nav .nav-link__big {
    color: #E74243;
    text-transform: uppercase;
    font-weight: 600;
  }

  .lp-navbar .navbar-nav .nav-link__big:before {
    display: none;
  }

  .lp-navbar .navbar-dropdown__toggle {
    border: none;
    height: 40px;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
  }

  .lp-navbar .navbar-dropdown__menu {
    border: none;
    border-radius: 0;
    box-shadow: 3px 3px 5px #00000011;
    padding: 10px 0;
  }

  .lp-navbar .navbar-dropdown__menu.show {
    -webkit-animation: coming-down-short 0.3s both;
            animation: coming-down-short 0.3s both;
  }

  .lp-navbar .navbar-dropdown__menu .nav-link__blue {
    -webkit-animation: coming-down-short 0.2s both;
            animation: coming-down-short 0.2s both;
  }

  .lp-navbar .navbar-dropdown__menu .nav-link__pink {
    -webkit-animation: coming-down-short 0.2s 0.05s both;
            animation: coming-down-short 0.2s 0.05s both;
  }

  .lp-navbar .navbar-dropdown__menu .nav-link__yellow {
    -webkit-animation: coming-down-short 0.2s 0.1s both;
            animation: coming-down-short 0.2s 0.1s both;
  }

  .lp-navbar .navbar-dropdown__menu .nav-link__big {
    -webkit-animation: coming-down-short 0.2s 0.15s both;
            animation: coming-down-short 0.2s 0.15s both;
  }

  .lps1-image {
    left: 0;
    height: 100%;
  }

  .lps1-step {
    position: static;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 40px;
  }

  .lps1-step__item {
    width: 100%;
    display: flex;
    position: static;
    margin-bottom: 15px;
  }

  .lps2-left {
    padding-top: 0;
  }

  .lps2-image {
    display: flex;
    justify-content: center;
  }

  .lps2-image img {
    width: 100%;
    max-width: 500px;
    height: 100%;
  }

  .lps3-left {
    padding-top: 0;
  }

  .lps3-image {
    display: flex;
    justify-content: center;
  }

  .lps3-image img {
    width: 100%;
    max-width: 500px;
    height: 100%;
  }

  .lps4-item {
    width: 100%;
    margin-bottom: 20px;
  }

  .lps4-item__top {
    display: flex;
    align-items: center;
  }

  .lps4-item__title {
    padding-left: 20px;
  }

  .lps4-item__description {
    padding-top: 10px;
  }

  .lps5-modal .modal-body {
    position: relative;
    z-index: 1;
  }

  .lps5-modal .modal-right {
    position: absolute;
    flex: unset;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.1;
  }

  .lps5-modal .modal-list__name {
    min-width: unset;
  }

  .lps6 {
    padding-top: 20px;
  }

  .lps6-image {
    justify-content: flex-start;
  }

  .lps6-image img {
    width: 100%;
    max-width: 500px;
    height: 100%;
    position: relative;
    left: -30px;
  }

  .lps6-contact {
    width: 100%;
    margin-bottom: 20px;
  }

  .lp-footer {
    background: #10192B;
    padding-top: 55px;
  }

  .lp-footer__top {
    display: flex;
    align-items: center;
  }

  .lp-footer__body {
    padding-top: 40px;
  }

  .lp-footer__bottom {
    padding-top: 40px;
    flex-direction: column;
  }

  .lp-footer__copy-right {
    margin-bottom: 15px;
  }

  .lp-footer .footer-nav {
    padding-top: 20px;
  }

  .lp-footer .footer-nav__title {
    border-bottom: none;
  }

  .lp-footer .footer-grid {
    grid-template-columns: unset;
    grid-template-areas: "nav-1 nav-2" "nav-3 nav-4";
  }
}

@media screen and (max-width: 767.98px) {
  .lp-navbar {
    height: 70px;
  }

  .lp-navbar .navbar-brand {
    margin-right: 5px;
  }

  .lp-navbar .navbar-brand img {
    height: 25px;
  }

  .lp-navbar .navbar-brand__description {
    font-size: 12px;
    line-height: 10px;
    font-weight: 500;
    padding-left: 5px;
    top: 5px;
  }

  .lp-navbar .navbar-nav {
    padding-top: 0;
  }

  .lp-navbar .navbar-nav .nav {
    padding-top: 0;
  }

  .lp-navbar .navbar-nav .nav-item {
    padding: 0 15px;
  }

  .lp-navbar .navbar-nav .nav-link {
    font-size: 16px;
    line-height: 30px;
    font-weight: 500;
    padding: 8px 10px;
  }

  .lp-navbar.scroll {
    height: 60px;
  }

  .lps1 {
    padding-top: 105px;
  }

  .lps1-head {
    font-size: 24px;
    line-height: 30px;
    font-weight: normal;
    margin-bottom: 26px;
  }

  .lps1-description {
    font-size: 16px;
    line-height: 24px;
    font-weight: normal;
    margin-bottom: 26px;
    width: 285px;
  }

  .lps1-description .lp-link {
    display: block;
    padding-top: 7px;
  }

  .lps1-action {
    display: flex;
  }

  .lps1-action__button {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    width: 150px;
    height: 46px;
    margin: 0 6px;
  }

  .lps1-image {
    width: 100%;
    padding-top: 44px;
  }

  .lps1-image img {
    width: 100%;
    height: 100%;
  }

  .lps1-step {
    padding-top: 10px;
    align-items: center;
  }

  .lps2 .lp-title {
    width: 100%;
  }

  .lps3 .lp-title {
    width: 100%;
  }

  .lps4 {
    padding-top: 60px;
    padding-bottom: 80px;
  }

  .lps4 .lp-title {
    letter-spacing: 0;
  }

  .lps4-description {
    font-size: 16px;
    line-height: 24px;
    font-weight: normal;
    margin-bottom: 10px;
    width: 100%;
    max-width: 285px;
  }

  .lps4-body {
    padding-top: 30px;
  }

  .lps4-item {
    padding: 18px 23px 38px 28px;
  }

  .lps4-item__top {
    height: auto;
  }

  .lps4-item__image {
    width: 54px;
    min-width: 54px;
  }

  .lps4-item__image img {
    width: 100%;
    height: 100%;
  }

  .lps4-item__title {
    font-size: 18px;
    line-height: 26px;
    font-weight: 600;
  }

  .lps4-item__description {
    font-size: 16px;
    line-height: 24px;
    font-weight: normal;
    color: #505050;
    padding-top: 25px;
  }

  .lps4-navi {
    bottom: -70px;
    right: -70px;
  }

  .lps4-navi img {
    width: 150px;
  }

  .lps5 {
    padding-top: 26px;
    padding-bottom: 80px;
  }

  .lps5 .lp-title {
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
    margin-top: 26px;
    margin-bottom: 34px;
    width: 100%;
    letter-spacing: 0;
  }

  .lps5-top {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .lps5-image {
    width: 64px;
    height: 64px;
  }

  .lps5-list {
    width: 85%;
  }

  .lps5-item {
    min-height: 290px;
    border-radius: 10px;
    padding: 23px 22px 25px 20px;
  }

  .lps5-item__top {
    min-height: 50px;
    max-height: 50px;
    margin-bottom: 30px;
  }

  .lps5-modal .modal-sub {
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
  }

  .lps5-modal .modal-name {
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
  }

  .lps5 .slick-item {
    padding: 0 5px;
  }

  .lps6 {
    padding-top: 36px;
    padding-bottom: 81px;
  }

  .lps6 .lp-title {
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
    margin-top: 18px;
    margin-bottom: 15px;
  }

  .lps6-image img {
    position: static;
    left: unset;
  }

  .lps6-right {
    padding-top: 35px;
  }

  .lps6-contact {
    padding: 10px 16px 10px 20px;
  }

  .lps6-form__submit {
    font-size: 16px;
    line-height: 26px;
    font-weight: normal;
    height: 50px;
  }

  .lp-footer {
    padding-top: 32px;
  }

  .lp-footer__body {
    padding-top: 15px;
  }

  .lp-footer .footer-nav {
    padding-top: 20px;
  }

  .lp-footer .footer-nav__title {
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    padding-bottom: 5px;
  }

  .lp-footer .footer-nav__item {
    font-size: 12px;
    line-height: 25px;
    font-weight: 400;
  }

  .lp-footer .footer-grid {
    grid-template-columns: unset;
    grid-template-areas: "nav-1 nav-2" "nav-3 nav-4";
  }

  .lp-footer .footer-grid .footer-nav__title {
    padding-top: 10px;
  }

  .lp-footer__copy-right {
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
  }

  .lp-title {
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
    width: 100%;
    padding-top: 5px;
  }

  .lp-list__item {
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    padding-bottom: 15px;
  }

  .lp-list__tag {
    font-size: 8px;
    line-height: 20px;
    font-weight: 700;
    padding: 0 8px;
    top: -3px;
  }

  .lp-list__tag--1st {
    padding-right: 8px;
  }

  .lp-list__tag--1st img {
    display: none;
  }

  .lp-link:before {
    display: none;
  }

  .lp-link__big {
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    padding-left: 0;
    margin-top: 5px;
  }

  .lp-link__big i {
    font-size: 11px;
  }

  .lp-navi__red {
    margin-bottom: 5px;
    font-size: 16px;
    line-height: 19px;
    font-weight: normal;
  }

  .lp-navi__red img {
    width: 12px;
    height: 100%;
    top: 3px;
  }
}

