@charset "UTF-8";

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

button,
button:hover,
button:focus,
select,
select:hover,
select:focus,
input,
textarea {
  outline: none !important;
  box-shadow: none !important;
}

input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
  color: transparent;
}

input:focus:-ms-input-placeholder, textarea:focus:-ms-input-placeholder {
  color: transparent;
}

input:focus::placeholder,
textarea:focus::placeholder {
  color: transparent;
}

input,
textarea {
  transition: all 0.3s;
}

textarea {
  border: none;
  border-bottom: 1px solid #9e9e9e;
}

textarea:focus {
  border-bottom: 1px solid #26a69a;
}

input:focus,
textarea:focus {
  transform: scale(1.07);
  border-bottom: 1px solid #26a69a;
}

input:focus .dropdown-menu,
textarea:focus .dropdown-menu {
  transform: scale(1.07);
}

.required label:after {
  content: "Tr\1B0\1EDDng n\E0y kh\F4ng \111\1B0\1EE3  c \111\1EC3   tr\1ED1ng.";
  color: red;
  display: inline;
}

input.error {
  border-bottom: 1px solid #FD1616;
}

.error-text,
.form-error,
.error {
  font-size: 12px;
  line-height: 14px;
  font-weight: normal;
  color: #FD1616;
  word-break: break-word;
}

.invalid-input {
  border-bottom: 1px solid #FD1616 !important;
}

/* Firefox */

input[type=number] {
  -moz-appearance: textfield;
}

label {
  width: 100%;
}

.banned-scroll {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.obligatory {
  font-size: 15px;
  line-height: 14px;
  font-weight: normal;
  color: #FD1616;
  font-family: Roboto, Helvetica, sans-serif;
}

.title-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .title-top {
    justify-content: center;
  }
}

.vertical-alignment-helper {
  display: table;
  height: 100%;
  width: 100%;
  pointer-events: none;
}

.vertical-align-center {
  /* To center vertically */
  display: table-cell;
  vertical-align: middle;
  pointer-events: none;
}

.modal-content {
  /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
  width: inherit;
  max-width: inherit;
  /* For Bootstrap 4 - to avoid the modal window stretching full width */
  height: inherit;
  /* To center horizontally */
  margin: 0 auto;
  pointer-events: all;
  padding: 5px;
}

.modal__note {
  margin: 10px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #717171;
  display: flex;
}

.modal__note span {
  color: #FD1616;
  font-size: 27px;
  padding-top: 6px;
}

@media screen and (max-width: 574px) {
  .modal__note {
    position: absolute;
    bottom: 55px;
  }
}

.tooltip-inner {
  max-width: 300px;
}

[type=button],
[type=reset],
[type=submit],
button {
  -webkit-appearance: unset;
}

@media screen and (min-width: 575px) {
  .app-mobile {
    display: none !important;
  }
}

@media screen and (max-width: 574.98px) {
  .app-desktop {
    display: none !important;
  }
}

.hidden {
  display: none !important;
}

.btn__popup,
.form-knowledge__button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  overflow: hidden;
  background-color: transparent;
  transition: all 0.3s;
  z-index: 3;
}

@media screen and (max-width: 574px) {
  .btn__popup,
  .form-knowledge__button {
    margin-left: 20px;
    width: 30px;
    height: 30px;
  }

  .btn__popup i,
  .form-knowledge__button i {
    font-size: 13px;
  }
}

.btn__popup i,
.form-knowledge__button i {
  color: #fff;
}

.btn__popup:hover,
.form-knowledge__button:hover {
  background-color: #fff;
}

.btn__popup:hover i,
.form-knowledge__button:hover i {
  color: #06A763;
}

#education .card-content .btn__popup i,
#experience .card-content .btn__popup i,
#project .card-content .btn__popup i {
  color: #06A763;
}

#education .card-content .btn__popup:hover,
#experience .card-content .btn__popup:hover,
#project .card-content .btn__popup:hover {
  background-color: #06A763;
}

#education .card-content .btn__popup:hover i,
#experience .card-content .btn__popup:hover i,
#project .card-content .btn__popup:hover i {
  color: #fff;
}

.form-knowledge__button i {
  color: #06A763;
}

.form-knowledge__button:hover {
  background-color: #06A763;
}

.form-knowledge__button:hover i {
  color: #fff;
}

.item-option--active {
  opacity: 1 !important;
  visibility: unset !important;
}

/*==========Button delete, edit=============*/

.item-option {
  position: absolute;
  display: flex;
  opacity: 0;
  visibility: hidden;
  transform: translate(5px, -5px);
  transition: all 0.3s;
}

.item-option .item-option__edit,
.item-option .item-option__delete {
  margin-left: 5px;
}

body {
  padding-right: 0 !important;
  width: 99.6vw;
}

body::-webkit-scrollbar {
  padding-right: 0;
  width: 8px;
  background-color: transparent;
  border-radius: 5px;
}

body::-webkit-scrollbar-thumb {
  background-color: #525252;
  border-radius: 5px;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #525252;
}

@-moz-document url-prefix()  {
  html {
    scrollbar-width: thin;
    scrollbar-color: #525252 transparent;
  }
}

body {
  padding-right: 0 !important;
  overflow-x: hidden;
}

.wrapper-heading {
  margin-top: 6px;
}

/*===================Navbar==================*/

.navbar-nav {
  margin-left: auto;
}

.portfolio-editbar .navbar-brand .brand-portfolio {
  color: #fff;
}

.brand-logo {
  padding-top: 10px;
}

.navbar-nav {
  height: 100%;
}

.navbar-link {
  height: 100%;
  display: flex;
  align-items: center;
}

.modal-backdrop {
  background-color: rgba(112, 112, 112, 0.5);
}

.fade {
  transition: opacity 0.15s linear !important;
}

.modal {
  padding-right: 0 !important;
}

.notiflix-confirm-buttons {
  display: flex;
  justify-content: space-around;
}

.notiflix-confirm-buttons .confirm-button-ok {
  order: 2;
  margin: 0 !important;
}

.notiflix-confirm-buttons .confirm-button-cancel {
  order: 1;
  margin: 0 !important;
}

.modal-dialog-centered {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 574px) {
  .modal-dialog-centered {
    margin: 0;
    height: unset;
  }
}

.modal-dialog-centered .modal-content {
  width: 100%;
  padding: 0;
}

@media screen and (max-width: 991px) {
  .navbar-brand,
  .line-horizontal {
    display: none;
  }
}

.modal-dialog {
  max-width: 943px;
  width: unset;
}

.modal-dialog .modal-content {
  border: none;
}

@media screen and (max-width: 574px) {
  .modal-dialog .modal-content {
    height: 100%;
    min-height: 100vh;
  }
}

.modal-dialog .modal-content .modal-header {
  padding: 35px 85px 0;
  border-bottom: 1px solid #EBEBEB;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 574px) {
  .modal-dialog .modal-content .modal-header {
    justify-content: center;
  }
}

.modal-dialog .modal-content .modal-header .modal-title {
  border-bottom: 3px solid #2ECA7F;
  font-size: 18px;
  line-height: 21px;
  font-weight: 500;
  color: #333333;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 574px) {
  .modal-dialog .modal-content .modal-header .modal-title {
    padding-bottom: 15px;
  }
}

.modal-dialog .modal-content .modal-header .close {
  font-size: 43px;
}

@media screen and (max-width: 574px) {
  .modal-dialog .modal-content .modal-header .close {
    position: absolute;
    left: 5%;
    top: 2%;
  }
}

.modal-dialog .modal-content .modal-header:before,
.modal-dialog .modal-content .modal-header:after {
  content: unset;
}

.modal-dialog .modal-content .modal-body {
  padding: 50px 78px 20px;
  text-align: unset !important;
}

@media screen and (max-width: 574px) {
  .modal-dialog .modal-content .modal-body {
    padding: 30px 20px;
    margin-bottom: 54px;
  }
}

.modal-dialog .modal-content .modal-body .modal__body--item,
.modal-dialog .modal-content .modal-body .popup-form-control {
  min-height: 97px;
}

.modal-dialog .modal-content .modal-body .modal__body--item .modal__title--input,
.modal-dialog .modal-content .modal-body .popup-form-control .modal__title--input {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #333;
  font-family: Roboto, Helvetica, sans-serif;
}

.modal-dialog .modal-content .modal-body .modal__body--item .modal__title--input i,
.modal-dialog .modal-content .modal-body .popup-form-control .modal__title--input i {
  color: #2ECA7F;
  margin-right: 5px;
}

@media screen and (max-width: 574px) {
  .modal-dialog .modal-content .modal-body .modal__body--item .modal__title--input,
  .modal-dialog .modal-content .modal-body .popup-form-control .modal__title--input {
    font-size: 12px;
    line-height: 14px;
    font-weight: 500;
    color: #333;
  }
}

.modal-dialog .modal-content .modal-body .modal__body--item .modal__body--input.invalid-input,
.modal-dialog .modal-content .modal-body .popup-form-control .modal__body--input.invalid-input {
  border-bottom: 1px solid #FD1616;
}

.modal-dialog .modal-content .modal-body .modal__body--item .error-text,
.modal-dialog .modal-content .modal-body .popup-form-control .error-text {
  font-size: 12px;
  line-height: 14px;
  font-weight: 500;
  color: #FD1616;
}

.modal-dialog .modal-content .modal-body .modal__body--item .modal__body--input,
.modal-dialog .modal-content .modal-body .modal__body--item .form-input,
.modal-dialog .modal-content .modal-body .popup-form-control .modal__body--input,
.modal-dialog .modal-content .modal-body .popup-form-control .form-input {
  font-size: 16px;
  line-height: 19px;
  font-weight: normal;
  color: #707070;
  font-family: Roboto, Helvetica, sans-serif;
  margin-bottom: 0;
}

@media screen and (max-width: 574px) {
  .modal-dialog .modal-content .modal-body .modal__body--item .modal__body--input,
  .modal-dialog .modal-content .modal-body .modal__body--item .form-input,
  .modal-dialog .modal-content .modal-body .popup-form-control .modal__body--input,
  .modal-dialog .modal-content .modal-body .popup-form-control .form-input {
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
    color: #707070;
  }
}

.modal-dialog .modal-content .modal-footer {
  text-align: center;
}

@media screen and (max-width: 574px) {
  .modal-dialog .modal-content .modal-footer {
    width: 100%;
    text-align: center;
    background-color: #06A763;
    height: 54px;
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
  }

  .modal-dialog .modal-content .modal-footer button {
    background-color: transparent;
    border: none;
    letter-spacing: 0.03em;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    color: #fff;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
  }
}

.modal-dialog .modal-content .modal-footer .modal__btn--save,
.modal-dialog .modal-content .modal-footer .modal__btn--cancel {
  border: none;
  background-color: transparent;
  border-radius: 5px;
  margin: 0 5px;
  transition: all 0.3s;
}

.modal-dialog .modal-content .modal-footer .modal__btn--save:hover,
.modal-dialog .modal-content .modal-footer .modal__btn--cancel:hover {
  transform: scale(1.1);
}

.modal-dialog .modal-content .modal-footer .modal__btn--save {
  background-color: #06A763;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
  color: #fff;
  padding: 10px 55px;
}

@media screen and (max-width: 575px) {
  .modal-dialog .modal-content .modal-footer .modal__btn--save {
    padding: 0;
    width: 100%;
  }
}

.modal-dialog .modal-content .modal-footer .modal__btn--cancel {
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
  color: #717171;
  padding: 9px 46px;
  background-color: #fff;
  border: 0.3px solid #42AF7A;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.05);
}

.modal-dialog .modal-content .container {
  width: 100%;
}

#galleries .title-top,
#education .title-top,
#experience .title-top,
#pricing-table .title-top,
#project .title-top {
  justify-content: center;
}

#galleries .title-top .btn__popup,
#education .title-top .btn__popup,
#experience .title-top .btn__popup,
#pricing-table .title-top .btn__popup,
#project .title-top .btn__popup {
  margin-left: 10px;
}

#galleries .title-top .btn__popup i,
#education .title-top .btn__popup i,
#experience .title-top .btn__popup i,
#pricing-table .title-top .btn__popup i,
#project .title-top .btn__popup i {
  color: #06A763;
}

#galleries .title-top .btn__popup:hover,
#education .title-top .btn__popup:hover,
#experience .title-top .btn__popup:hover,
#pricing-table .title-top .btn__popup:hover,
#project .title-top .btn__popup:hover {
  background-color: #06A763;
}

#galleries .title-top .btn__popup:hover i,
#education .title-top .btn__popup:hover i,
#experience .title-top .btn__popup:hover i,
#pricing-table .title-top .btn__popup:hover i,
#project .title-top .btn__popup:hover i {
  color: #fff;
}

.modal__input--warning {
  font-size: 12px;
  line-height: 14px;
  font-weight: normal;
  color: #FD1616;
}

@media screen and (min-width: 768px) {
  .card-content .links {
    min-height: 41px;
  }
}

@media screen and (max-width: 991px) and (min-width: 768px) {
  .card-content {
    padding-left: 20px !important;
  }

  .card-content .btn-floating {
    margin-left: 10px !important;
  }
}

@media screen and (max-width: 991.98px) {
  .card-content .title-top--info {
    display: unset;
  }
}

@media screen and (max-width: 767.98px) {
  .card-content .title-top--info {
    width: 100%;
    display: flex;
  }
}

.dropdown .modal__body--input {
  margin-bottom: 0 !important;
  cursor: pointer;
}

.dropdown .dropdown-menu {
  border: none;
  border-radius: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
  width: 100%;
  padding: 0;
  transition: all 0.1s;
  display: block;
  height: 0;
  overflow: hidden;
}

.dropdown .dropdown-menu li {
  padding: 8px 10px;
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  color: #333;
  cursor: pointer;
  transition: all 0.2s;
}

.dropdown .dropdown-menu li:hover {
  background-color: #2eca7f36;
}

.dropdown.open .dropdown-menu {
  height: 74px;
  padding: 5px 0;
  transition: all 0.4s;
  transform: scale(1.07) translateY(2px);
}

.dropdown.input__dropdown--big.open .dropdown-menu,
.dropdown.input__dropdown--big .form-input:focus + .dropdown-menu {
  height: 75px;
  padding: 5px 0;
  transform: scale(1.07) translateY(8px);
  transition: all 0.4s;
  overflow: hidden;
}

/*=============================ABOUT==============================*/

@media screen and (max-width: 767px) {
  .card-content .title-top .text-uppercase {
    margin-left: 54px;
  }
}

@media screen and (max-width: 1199px) and (min-width: 992px) {
  .info-headings {
    max-width: 488px !important;
  }
}

@media screen and (max-width: 767px) {
  .info-headings .btn__popup {
    margin-left: 20px;
  }
}

/*==============================INFO===============================*/

.title-top--info {
  width: 59%;
  align-items: unset;
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .title-top--info {
    width: 57%;
  }
}

@media screen and (max-width: 767px) {
  .title-top--info {
    margin: auto;
  }

  .title-top--info .infos {
    padding-left: 33px;
  }
}

@media screen and (max-width: 574px) {
  .title-top--info .infos {
    padding-left: 0 !important;
  }
}

.title-top--info .infos .profile-list {
  z-index: 2;
}

.title-top--info .infos .profile-list .clearfix .content-title {
  min-width: 105px;
  display: block;
  margin-left: 15px;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  color: #fff;
}

.title-top--info .infos .profile-list .clearfix i {
  width: 15px;
}

.title-top--info .infos .profile-list .clearfix .content {
  word-break: break-word;
}

@media screen and (max-width: 574px) {
  .title-top--info {
    align-items: flex-start;
  }
}

@media screen and (max-width: 767px) {
  .title-top--info .btn__popup {
    margin-top: 0;
    position: absolute;
    right: 2%;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .title-top--info .btn__popup {
    z-index: 2;
    position: absolute;
    right: 54%;
    top: 36%;
  }
}

.title-top--info .clearfix {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.title-top--info .clearfix i {
  color: #fff;
}

#info_modal .modal-dialog .modal__body--item .modal__body--textarea {
  height: 200px;
  margin-top: 15px;
}

#info_modal .modal-dialog .modal__body--item textarea::-webkit-scrollbar {
  width: 5px;
  cursor: pointer;
}

#info_modal .modal-dialog .modal__body--item textarea::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

#info_modal .modal-dialog .modal__body--item textarea::-webkit-scrollbar-thumb {
  background-color: #9c9c9c;
  outline: none;
  cursor: pointer;
  border-radius: 3px;
}

#info_modal .modal-dialog input[type=date] {
  position: relative;
}

#info_modal .modal-dialog input[type=date]::-webkit-calendar-picker-indicator {
  color: transparent;
  background: none;
  z-index: 1;
  position: absolute;
  right: 0;
}

#info_modal .modal-dialog input[type=date]::-webkit-calendar-picker-indicator:focus {
  outline: none !important;
  border: none !important;
  cursor: pointer;
}

#info_modal .modal-dialog input[type=date]:before {
  font-family: "Font Awesome 5 Free", serif;
  content: "\F073";
  position: absolute;
  color: #999;
  right: 6px;
}

/*==============================EDUCATION==============================*/

#education .title-top {
  justify-content: center;
}

#education .title-top .btn__popup i {
  color: #06A763;
}

#education .card-content {
  min-height: 199px;
}

#education .card-content .item-option {
  right: 4%;
  transition: all 0.3s;
  transform: translate(5px, -5px);
}

@media screen and (max-width: 991px) {
  #education .card-content .item-option {
    flex-direction: column;
    top: 62px;
    opacity: 1;
    visibility: unset;
    right: 5%;
  }
}

@media screen and (min-width: 627px) and (max-width: 767px) {
  #education .card-content .item-option {
    top: 30%;
  }
}

@media screen and (max-width: 991px) and (min-width: 768px) {
  #education .card-content .item-option {
    top: 5%;
  }
}

@media screen and (min-width: 575px) and (max-width: 767px) {
  #education .card-content .item-option {
    right: 3.7%;
  }
}

#education .card-content:hover .item-option {
  opacity: 1;
  visibility: unset;
  transform: translate(0);
}

#education_modal .modal-dialog .modal__body--item .form-time {
  display: flex;
  align-items: center;
}

#education_modal .modal-dialog .modal__body--item .form-time .modal__body--input {
  width: 85px;
  text-align: center;
}

#education_modal .modal-dialog .modal__body--item .form-time label {
  width: unset;
}

#education_modal .modal-dialog .modal__body--item .form-time--from .modal__title--input {
  margin-right: 27px;
}

@media screen and (max-width: 574px) {
  #education_modal .modal-dialog .modal__body--item .form-time--to {
    margin-bottom: 30px;
  }
}

#education_modal .modal-dialog .modal__body--item .form-time--to .modal__title--input {
  margin-right: 20px;
}

#education_modal .modal-dialog .modal__body--item #education_start_month,
#education_modal .modal-dialog .modal__body--item #education_end_month {
  margin-right: 20px;
}

#education_modal .modal-dialog .modal__body--item #education_description {
  height: 104px;
  margin-top: 10px;
}

/*==============================EXPERIENCE==============================*/

#experience_modal .modal-dialog .modal__body--item .form-time {
  display: flex;
  align-items: center;
}

#experience_modal .modal-dialog .modal__body--item .form-time .modal__body--input {
  width: 85px;
  text-align: center;
}

#experience_modal .modal-dialog .modal__body--item .form-time label {
  width: unset;
}

#experience_modal .modal-dialog .modal__body--item .form-time--from .modal__title--input {
  margin-right: 27px;
}

@media screen and (max-width: 574px) {
  #experience_modal .modal-dialog .modal__body--item .form-time--to {
    margin-bottom: 30px;
  }
}

#experience_modal .modal-dialog .modal__body--item .form-time--to .modal__title--input {
  margin-right: 20px;
}

#experience_modal .modal-dialog .modal__body--item #experience_start_month,
#experience_modal .modal-dialog .modal__body--item #experience_end_month {
  margin-right: 20px;
}

#experience_modal .modal-dialog .modal__body--item #experience_description {
  height: 104px;
  margin-top: 10px;
}

#experience_modal .modal-dialog .form-time__current {
  display: flex;
}

#experience_modal .modal-dialog .form-time__current .form-time__current--icon {
  display: flex;
  cursor: pointer;
  align-items: center;
}

#experience_modal .modal-dialog .form-time__current .form-time__current--icon .checkbox {
  display: block;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  position: relative;
  border-radius: 5px;
  border: 1px solid #06A763;
  background-color: #fff;
  overflow: hidden;
  top: 1px;
  transition: all 0.3s 0.3s;
}

#experience_modal .modal-dialog .form-time__current .form-time__current--icon .checkbox:before {
  content: "";
  position: absolute;
  width: 3px;
  height: 8px;
  background-color: #fff;
  transform: rotate(-45deg) translateX(-2px) translateY(-28px);
  z-index: 1;
  transition: all 0.3s 0.15s;
}

#experience_modal .modal-dialog .form-time__current .form-time__current--icon .checkbox:after {
  content: "";
  position: absolute;
  width: 3px;
  height: 12px;
  background-color: #fff;
  transform: rotate(45deg) translateX(9px) translateY(-24px);
  z-index: 1;
  transition: all 0.3s;
}

#experience_modal .modal-dialog .form-time__current .form-time__current--icon .modal__title--input {
  font-weight: 400 !important;
  margin-top: 4px;
}

#experience_modal .modal-dialog .form-time__current .form-time__current--icon input:checked + .checkbox {
  background-color: #06A763;
  transition: all 0.3s;
}

#experience_modal .modal-dialog .form-time__current .form-time__current--icon input:checked + .checkbox:before {
  transform: rotate(-45deg) translateX(-2px) translateY(8px);
}

#experience_modal .modal-dialog .form-time__current .form-time__current--icon input:checked + .checkbox:after {
  transform: rotate(45deg) translateX(9px) translateY(-4px);
  transition: all 0.3s 0.3s;
}

#experience .card-content {
  min-height: 199px;
}

#experience .card-content .item-option {
  right: 4%;
  transition: all 0.3s;
  transform: translate(5px, -5px);
}

@media screen and (max-width: 991px) {
  #experience .card-content .item-option {
    flex-direction: column;
    top: 30%;
    opacity: 1;
    visibility: unset;
    right: 4.5%;
    transform: unset;
  }
}

@media screen and (min-width: 627px) and (max-width: 767px) {
  #experience .card-content .item-option {
    top: 30%;
  }
}

@media screen and (max-width: 991px) and (min-width: 768px) {
  #experience .card-content .item-option {
    top: 5%;
  }
}

@media screen and (min-width: 575px) and (max-width: 767px) {
  #experience .card-content .item-option {
    right: 3%;
  }
}

#experience .card-content:hover .item-option {
  opacity: 1;
  visibility: unset;
  transform: translate(0);
}

/*==============================GALLERY===============================*/

#galleries .port-effect-scale .item-option,
#galleries .port-effect-up .item-option {
  top: 2%;
  right: 3%;
  transition: all 0.3s;
}

@media screen and (max-width: 1199px) {
  #galleries .port-effect-scale .item-option,
  #galleries .port-effect-up .item-option {
    opacity: 1;
    visibility: unset;
    z-index: 1050;
  }

  #galleries .port-effect-scale .item-option .btn__popup,
  #galleries .port-effect-up .item-option .btn__popup {
    margin: 5px;
  }

  #galleries .port-effect-scale .item-option .btn__popup:hover,
  #galleries .port-effect-up .item-option .btn__popup:hover {
    background-color: #fff;
  }
}

#galleries .port-effect-scale:hover .item-option,
#galleries .port-effect-up:hover .item-option {
  opacity: 1;
  visibility: unset;
  z-index: 1050;
}

#galleries .port-effect-up .item-option {
  transform: translateY(10px);
}

#galleries .port-effect-up:hover .item-option {
  transform: translateY(0);
}

#gallery_add_modal .modal-dialog .work__upload--file {
  padding-bottom: 0;
  cursor: pointer;
  margin-bottom: 45px;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
  align-items: center;
}

#gallery_add_modal .modal-dialog .work__upload--file .upload {
  position: absolute;
  height: 100%;
  width: 55%;
  opacity: 0;
  cursor: pointer;
}

@media screen and (max-width: 574px) {
  #gallery_add_modal .modal-dialog .work__upload--file .upload {
    width: 100%;
  }
}

#gallery_add_modal .modal-dialog .work__upload--file .box__drop {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  padding: 20px 0;
  border: 1px dashed #D9D9D9;
  box-sizing: border-box;
  border-radius: 2px;
  width: 55%;
}

@media screen and (max-width: 574px) {
  #gallery_add_modal .modal-dialog .work__upload--file .box__drop {
    width: 100%;
  }
}

#gallery_add_modal .modal-dialog .work__upload--file .box__drop .box__drop--des {
  font-size: 16px;
  line-height: 25px;
  font-weight: normal;
  color: #333;
  text-align: center;
}

#gallery_add_modal .modal-dialog .work__upload--file .box__drop .box__drop--subdes {
  font-size: 14px;
  line-height: 22px;
  font-weight: normal;
  color: rgba(56, 56, 56, 0.45);
  margin-bottom: 0;
  text-align: center;
}

#gallery_add_modal .modal-dialog #gallery_list_error {
  padding-top: 20px;
}

#gallery_add_modal .modal-dialog .input-gallery-list .list-col .gallery-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #eeeeee;
  padding: 5px;
  margin-bottom: 10px;
  height: 100%;
}

#gallery_add_modal .modal-dialog .input-gallery-list .list-col .gallery-item .gallery-item__title {
  margin-bottom: 0;
  overflow: hidden;
  padding-left: 5px;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  max-height: 28px;
  font-size: 14px;
  line-height: 23px;
  font-weight: normal;
  color: #1890FF;
}

#gallery_add_modal .modal-dialog .input-gallery-list .list-col .gallery-item .gallery-item__image {
  min-width: 50px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 50px;
}

#gallery_add_modal .modal-dialog .input-gallery-list .list-col .gallery-item .gallery-item__delete {
  height: unset;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.2s;
}

#gallery_add_modal .modal-dialog .input-gallery-list .list-col .gallery-item .gallery-item__delete:focus {
  box-shadow: none;
}

#gallery_add_modal .modal-dialog .input-gallery-list .list-col .gallery-item .gallery-item__delete:hover {
  color: #06A763;
}

/*=================================CONTACT==========================*/

#contact .card .card-content .input-field {
  position: relative;
  margin-top: 1rem;
  margin-bottom: 12px;
  min-height: 64px;
}

#contact .card .card-content .input-field lable {
  left: 0;
  font-weight: normal;
  top: 0.5rem;
}

#contact .card .card-content .input-field input:focus {
  transform: scale(1.04);
}

#contact .card .card-content .contact-send {
  display: flex;
  justify-content: center;
}

/*=================================SERVICE==========================*/

#pricing-table .pricing-bottom p {
  padding-bottom: 10px;
}

#pricing-table .pricing .item-option {
  transform: translate(5px, -5px);
  transition: all 0.3s;
  right: 2%;
  top: 2%;
}

@media screen and (max-width: 991px) {
  #pricing-table .pricing .item-option {
    opacity: 1;
    visibility: unset;
  }
}

#pricing-table .card {
  min-height: 244px;
}

#pricing-table .card:hover .item-option {
  opacity: 1;
  visibility: unset;
  transform: translate(0) !important;
}

#service_modal .modal__body--list-icon {
  margin-bottom: 15px;
  min-height: 241px;
}

#service_modal .modal__body--list-icon .form-icon {
  height: 220px;
  overflow: auto;
  padding: 10px;
}

#service_modal .modal__body--list-icon .form-icon .list-icon {
  display: flex;
  flex-wrap: wrap;
}

#service_modal .modal__body--list-icon .form-icon .list-icon i {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #333;
  font-size: 20px;
  transition: all 0.2s;
}

#service_modal .modal__body--list-icon .form-icon .list-icon i.selected {
  background-color: #06A763;
  color: #fff;
  border-radius: 50%;
}

#service_modal .modal__body--list-icon .form-icon .service-more {
  width: 100%;
  border: none;
  background: none;
  color: #333;
  box-shadow: none;
}

#service_modal .modal__body--list-icon .form-icon .service-more:hover {
  color: #06A763;
}

#service_modal .modal__body--list-icon .form-icon.invalid-input {
  border: 1px solid #FD1616;
}

#service_modal .modal__body--list-icon ::-webkit-scrollbar {
  padding-right: 0;
  width: 8px;
  background-color: transparent;
  border-radius: 5px;
}

#service_modal .modal__body--list-icon ::-webkit-scrollbar-thumb {
  background-color: #9c9c9c;
  border-radius: 5px;
}

#service_modal .modal__body--list-icon ::-webkit-scrollbar-thumb:hover {
  background-color: #9c9c9c;
}

@-moz-document url-prefix()  {
  #service_modal .scroller {
    scrollbar-width: thin;
    scrollbar-color: #9c9c9c transparent;
  }
}

/*===============================SKILL============================*/

#skills .skill__item {
  display: flex;
}

#skills .skill__item .item-option {
  position: relative;
  top: unset;
  bottom: 0;
  align-items: flex-end;
  visibility: visible;
  overflow: hidden;
  min-width: 0;
  width: 0;
}

@media screen and (max-width: 991px) {
  #skills .skill__item .item-option {
    min-width: 70px;
    width: 70px;
    opacity: 1;
    visibility: unset;
  }

  #skills .skill__item .item-option .btn__popup {
    margin-left: 5px;
    height: 30px;
    width: 30px;
  }

  #skills .skill__item .item-option .btn__popup i {
    font-size: 13px;
  }
}

#skills .skill__item:hover .item-option {
  opacity: 1;
  min-width: 90px;
  width: 90px;
}

#skill_modal .dropdown .dropdown-menu {
  overflow: auto;
}

#skill_modal .dropdown.open .dropdown-menu {
  height: 224px;
}

#skill_modal .dropdown.input__dropdown--big.open .dropdown-menu,
#skill_modal .dropdown.input__dropdown--big .form-input:focus + .dropdown-menu {
  height: 225px;
}

#skill_modal .dropdown ::-webkit-scrollbar {
  padding-right: 0;
  width: 8px;
  background-color: transparent;
  border-radius: 5px;
}

#skill_modal .dropdown ::-webkit-scrollbar-thumb {
  background-color: #9c9c9c;
  border-radius: 5px;
}

#skill_modal .dropdown ::-webkit-scrollbar-thumb:hover {
  background-color: #9c9c9c;
}

@-moz-document url-prefix()  {
  #skill_modal .dropdown .scroller {
    scrollbar-width: thin;
    scrollbar-color: #9c9c9c transparent;
  }
}

#skill_modal .form-range {
  display: flex;
  align-items: center;
  margin-top: 25px;
}

#skill_modal .form-range .thumb {
  display: none;
}

#skill_modal .form-range__view {
  width: 20%;
  padding-left: 40px;
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  color: #333;
  transform: scale(1.07);
}

#skill_modal .form-range__input {
  width: 80%;
  background-color: #333;
  height: 1px;
  -webkit-appearance: none;
  outline: none;
  opacity: 0.7;
  padding: 0;
}

#skill_modal .form-range__input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 18px;
  height: 18px;
  background: #06A763;
  cursor: pointer;
  border-radius: 50%;
}

#skill_modal .form-range__input::-moz-range-thumb {
  width: 18px;
  height: 18px;
  background: #333;
  cursor: pointer;
  border-radius: 50%;
}

/*================================KNOWLEDGE==========================*/

.knowledge-list .knowledge-edit {
  align-items: center;
  position: unset;
  justify-content: space-between;
}

.knowledge-list .knowledge-edit .item-option {
  right: 0;
  transform: translateX(5px);
  margin-left: 10px;
}

@media screen and (max-width: 991px) {
  .knowledge-list .knowledge-edit .item-option {
    opacity: 1;
    visibility: unset;
  }

  .knowledge-list .knowledge-edit .item-option .btn__popup {
    margin-left: 5px;
  }
}

.knowledge-list .knowledge-edit:hover .item-option {
  opacity: 1;
  visibility: unset;
  transform: translateX(0);
}

.knowledge-list .knowledge-edit .knowledge__item--icon i {
  margin-right: 10px;
}

.list_knowledge .knowledge-item .popup-form-control {
  display: flex;
  align-items: center;
  min-height: unset !important;
}

.list_knowledge .knowledge-item .popup-form-control .form-input {
  width: 80%;
  margin: 0 auto;
}

.list_knowledge .knowledge-item .popup-form-control .form-knowledge__button {
  margin: 0 5px;
}

.list_knowledge .knowledge-item .form-knowledge .addnew-button {
  visibility: hidden;
  opacity: 0;
  transition: 0s;
}

.list_knowledge .knowledge-item:last-child .form-knowledge .addnew-button {
  visibility: inherit;
  opacity: 1;
  transition: 0.2s;
}

.list_knowledge .knowledge-item:nth-child(10) .form-knowledge .addnew-button {
  visibility: hidden;
  opacity: 0;
  transition: 0s;
}

.list_knowledge .knowledge-item .form-error {
  width: 93%;
  margin: auto;
}

/*================================PROJECT============================*/

#project #timeline-project {
  position: relative;
}

#project #timeline-project .card-content .item-option {
  right: 4%;
  transition: all 0.3s;
  transform: translate(5px, -5px);
}

@media screen and (max-width: 991px) {
  #project #timeline-project .card-content .item-option {
    flex-direction: column;
    top: 30%;
    opacity: 1;
    visibility: unset;
    right: 4.5%;
    transform: unset;
  }
}

@media screen and (min-width: 627px) and (max-width: 767.98px) {
  #project #timeline-project .card-content .item-option {
    top: 30%;
  }
}

@media screen and (max-width: 991.98px) and (min-width: 768px) {
  #project #timeline-project .card-content .item-option {
    top: 5%;
  }
}

@media screen and (min-width: 575px) and (max-width: 767.98px) {
  #project #timeline-project .card-content .item-option {
    right: 3%;
  }
}

#project #timeline-project .card-content:hover .item-option {
  opacity: 1;
  visibility: unset;
  transform: translate(0);
}

#project #timeline-project .card-content .stack {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 10px;
}

#project #timeline-project .card-content .stack .stack-item {
  display: flex;
  flex-wrap: wrap;
}

#project #timeline-project .card-content .stack .stack-item span {
  background: #FAFAFA;
  border: 1px solid #D9D9D9;
  box-sizing: border-box;
  border-radius: 2px;
  padding: 8px;
  font-size: 12px;
  margin: 5px;
}

#project #timeline-project .card-content .project__item--content {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #636161;
}

#project #timeline-project .card-content .project__item--content span {
  color: #717171;
  margin-left: 6px;
  font-weight: 500;
}

#project_modal .select2 {
  width: 100% !important;
}

#project_modal .select2:focus {
  transform: scale(1.07);
}

#project_modal .select2 .select2-selection--multiple {
  border: none;
  border-bottom: 1px solid #9e9e9e;
  min-height: 46px;
  border-radius: 0;
  display: flex;
  flex-direction: column;
}

#project_modal .select2 .select2-selection__rendered {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0;
}

#project_modal .select2 .select2-selection__rendered .select2-selection__choice {
  background: #EEEEEE;
  border: 1px solid #E9E9E9;
  box-sizing: border-box;
  border-radius: 2px;
  display: flex;
  align-items: center;
  min-width: 80px;
  flex-wrap: wrap;
}

#project_modal .select2 .select2-selection__rendered .select2-selection__choice .select2-selection__choice__remove {
  font-size: 19px;
  color: #464646;
}

#project_modal .select2 .select2-selection__rendered .select2-selection__choice .select2-selection__choice__display {
  font-size: 14px;
  padding-left: 5px;
  padding-right: 5px;
  color: #464646;
}

#project_modal .select2 .select2-search--inline {
  height: 46px;
}

#project_modal .time__from-to {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 991.98px) {
  #project_modal .time__from-to {
    justify-content: unset;
  }
}

#project_modal .time__from-to .modal__body--input {
  width: 130px;
  text-align: center;
  margin-left: 18px;
}

@media screen and (max-width: 574.98px) {
  #project_modal .time__from-to .modal__body--input {
    width: 100%;
    margin-left: 0;
  }
}

@media screen and (max-width: 574.98px) {
  #project_modal .time__from-to .modal__title--input {
    margin: 0 20px;
  }
}

#project_modal .time__from-to .form-time {
  display: flex;
  align-items: center;
}

#project_modal textarea.modal__body--input {
  min-height: 153px;
}

#project_modal #project_description {
  min-height: 188px;
}

#project_modal .modal__body--item-textarea {
  min-height: 194px;
}

.select2-container--default .select2-results > .select2-results__options {
  max-height: 163px !important;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: #2ECA7F !important;
}

.select2-container--default .select2-search__field {
  font-size: 16px;
  line-height: 19px;
  font-weight: normal;
  color: #707070;
  font-size: 16px !important;
  margin-top: 0;
  border-bottom: none;
}

@media screen and (max-width: 574.98px) {
  .select2-container--default .select2-search__field {
    font-size: 14px !important;
  }
}

.select2-container--default .select2-search__field:focus {
  transform: unset;
}

