@charset "UTF-8";

/*=============== Header ===============*/

/*=============== End Header ===============*/

/*=============== Search Job ===============*/

/*=============== End Search Job ===============*/

/*=============== @include ===============*/

/*=============== End @include ===============*/

/*=============== @extend ===============*/

.sj-description__media--item,
.sj-detail__logo,
.sj-item__logo {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.modal-apply .modal-header__job--company,
.modal-apply .modal-header__job--name,
.sj-item__more--text,
.sj-item__job,
.sj-item__name {
  overflow: hidden;
  display: -webkit-box;
  word-break: break-word;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

/*=============== End @extend ===============*/

body {
  padding-top: 0;
}

.search-job {
  width: 100%;
  height: 100vh;
  padding-top: 64px;
  background-color: #fff;
}

.detail-job {
  width: 100%;
}

.cdd-box {
  margin-top: 43px;
  background-color: #fff;
  border: 0.5px solid #B8B8B8;
}

.sj-body {
  display: flex;
  height: 100%;
}

.sj-body__left {
  height: 100%;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #C4C4C4;
}

.sj-body__right {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.sj-tab {
  height: 60px;
  min-height: 60px;
}

.sj-tab__nav {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sj-tab__item {
  flex: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
  height: 100%;
}

.sj-tab__item.active {
  flex: 4;
}

.sj-tab__item.active .sj-tab__link {
  cursor: default;
}

.sj-tab__link {
  font-size: 16px;
  line-height: 19px;
  font-weight: normal;
  color: #838383;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  text-align: center;
  position: relative;
  overflow: hidden;
  transition: 0.3s;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.sj-tab__link:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  height: 80%;
  transform: translate(-50%, -50%) scale(0.5);
  opacity: 0;
  border-radius: 10px;
  background-color: #838383;
  z-index: -1;
  transition: 0.2s;
}

.sj-tab__link:hover {
  color: #464545;
}

.sj-tab__link:hover:before {
  transform: translate(-50%, -50%) scale(0.8);
  opacity: 0.1;
}

.sj-tab__link.active {
  color: #464545;
  font-weight: 500;
}

.sj-tab__link.active:before {
  width: 70%;
  transform: translate(-50%, -50%) scale(1);
  opacity: 0.1;
}

.sj-list {
  height: calc(100% - 60px);
  overflow: hidden;
  position: relative;
}

.sj-list__scroll {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.sj-list__shadow--top {
  position: absolute;
  top: -1px;
  left: 0;
  width: 100%;
  height: 1px;
  box-shadow: 0 0 8px 0 #eee;
}

.sj-list__shadow--bottom {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 1px;
  box-shadow: 0 0 8px 10px #eee;
}

.sj-item {
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  padding: 15px 15px 15px 25px;
  border-top: 1px solid #EFEFEF;
  transition: all 0.2s;
}

.sj-item__left {
  width: 100%;
  display: flex;
  cursor: pointer;
}

.sj-item__middle {
  padding-left: 20px;
  width: 100%;
}

.sj-item__right {
  padding-left: 20px;
}

.sj-item__logo {
  background-size: contain;
  width: 90px;
  min-width: 90px;
  height: 90px;
  border-radius: 10px;
  color: transparent;
  font-size: 0;
}

.sj-item__name {
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
  color: #4F4E4E;
  margin-bottom: 4px;
}

.sj-item__job {
  font-size: 16px;
  line-height: 19px;
  font-weight: normal;
  color: #656565;
  margin-bottom: 12px;
}

.sj-item__more {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}

.sj-item__more--text {
  font-size: 16px;
  line-height: 19px;
  font-weight: normal;
  margin-bottom: 0;
}

.sj-item__salary {
  color: #1C4355;
}

.sj-item__salary img {
  margin-right: 10px;
  position: relative;
  top: -1px;
}

.sj-item__province {
  color: #878787;
}

.sj-item__province i {
  position: relative;
  top: -1px;
  margin-right: 12px;
}

.sj-item__save {
  width: 30px;
  height: 30px;
  border: none;
  display: flex;
  font-size: 20px;
  position: relative;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color: rgba(0, 0, 0, 0.65);
  transition: all 0.1s;
  border-radius: 4px;
  padding: 0;
}

.sj-item__save:hover {
  color: #464545;
}

.sj-item__save:active {
  transform: scale(0.9);
}

.sj-item__save.saved {
  color: #EB5B40;
}

.sj-item__save.saved i {
  font-weight: 900 !important;
}

.sj-item:hover,
.sj-item.active {
  background-color: #EFEFEF;
}

.sj-item.is-amazing {
  border-top: 2px solid #5725C3;
  background-color: #FCFDFF;
}

.sj-item.is-amazing:hover,
.sj-item.is-amazing.active {
  background-color: #edf3ff;
}

.sj-item.is-amazing .sj-item__name {
  color: #5725C3;
}

.sj-item.is-amazing .sj-item__more {
  padding-right: 23px;
}

.sj-item__tag-amazing {
  position: absolute;
  top: 4px;
  right: 30px;
  height: 21px;
  transform: translate(50%, 50%) rotate(38deg);
  padding: 0 25px;
  font-size: 12px;
  line-height: 18px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-image: linear-gradient(90deg, #5725C3 0%, #478EF7 100%);
}

.sj-item__tag-amazing i {
  font-size: 10px;
  position: relative;
  top: -1px;
  margin-right: 3px;
}

.sj-item.is-premium {
  border-top: 2px solid #C9A038;
}

.sj-item.is-premium:hover,
.sj-item.is-premium.active {
  background-color: #fffbed;
}

.sj-item__tag-premium {
  position: absolute;
  bottom: 20px;
  right: 15px;
  padding: 0 6px;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  display: flex;
  border-radius: 3px;
  overflow: hidden;
  background: linear-gradient(180deg, #C28F0D 0%, #E3B645 100%);
}

.sj-item__tag-premium i {
  font-size: 10px;
  position: relative;
  top: -1px;
  margin-right: 3px;
}

.sj-item__tag-hotjob {
  position: absolute;
  bottom: 20px;
  right: 15px;
  padding: 0 5px;
  font-size: 12px;
  line-height: 18px;
  color: #fff;
  display: flex;
  border-radius: 3px;
  overflow: hidden;
  background-color: #FF5661;
}

.sj-item__tag-hotjob i {
  font-size: 10px;
  position: relative;
  top: -1px;
  margin-right: 3px;
}

.sj-pagination {
  border-top: 1px solid #E7E7E7;
}

.sj-pagination__element {
  height: 32px;
  margin: 0 4px;
  border-radius: 2px;
  border: 1px solid #D9D9D9;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  color: #06202D;
}

.sj-pagination__button {
  width: 32px;
}

.sj-pagination__button:hover {
  border: 1px solid #06202D;
}

.sj-pagination__button:active {
  transition: 0.1s;
  transform: scale(0.95);
}

.sj-pagination__button:disabled {
  color: #D9D9D9;
  cursor: not-allowed;
}

.sj-pagination__button:disabled:hover {
  border: 1px solid #D9D9D9;
}

.sj-pagination__input {
  width: 70px;
  text-align: center;
}

.sj-pagination__input:focus {
  border-color: #06202D;
}

.sj-pagination__text {
  border: none;
}

.sj-detail {
  position: relative;
  height: 100%;
  overflow: hidden;
}

.sj-detail__scroll {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.sj-detail__inner {
  padding-left: 45px;
  padding-right: 120px;
}

.sj-detail__top {
  padding-top: 60px;
  padding-bottom: 30px;
  padding-left: 15px;
  display: flex;
}

.sj-detail__top--right {
  padding-left: 50px;
  width: 100%;
}

.sj-detail__logo {
  background-size: contain;
  width: 130px;
  min-width: 130px;
  height: 130px;
  border-radius: 10px;
  color: transparent;
  font-size: 0;
}

.sj-detail__name {
  font-size: 28px;
  line-height: 32px;
  font-weight: 500;
  color: #4F4E4E;
  word-break: break-word;
  margin-bottom: 6px;
}

.sj-detail__job {
  font-size: 24px;
  line-height: 28px;
  font-weight: normal;
  color: #656565;
  margin-bottom: 15px;
}

.sj-detail__info {
  margin-bottom: 5px;
  margin-right: auto;
}

.sj-detail__info--item {
  font-size: 18px;
  line-height: 21px;
  font-weight: normal;
  color: #878787;
  margin-bottom: 5px;
}

.sj-detail__action {
  display: flex;
}

.sj-detail__action--button {
  height: 44px;
  background-color: #1C4355;
  border-radius: 7px;
  padding: 0 35px;
  border: none;
  font-size: 16px;
  line-height: 19px;
  font-weight: normal;
  color: #fff;
  transition: all 0.2s;
  margin-right: 15px;
  white-space: nowrap;
}

.sj-detail__action--button i {
  font-size: 22px;
}

.sj-detail__action--button:hover {
  background-color: #EB5B40;
}

.sj-detail__action--button:active {
  transform: scale(0.95);
  transition: all 0.1s;
}

.sj-detail__action--button.outline {
  background-color: #fff;
  margin-right: 0;
  padding: 0 20px;
  color: #1C4355;
}

.sj-detail__action--button.outline:hover {
  background-color: #E7E7E7;
}

.sj-detail__action--button.saved {
  color: #EB5B40;
}

.sj-detail__action--button.saved i {
  font-weight: 900 !important;
}

.sj-detail__action--button:disabled {
  position: relative;
  background-color: #EB5B40;
  cursor: not-allowed;
}

.sj-detail__action--button:disabled:after {
  content: "\F058";
  font-family: "Font Awesome 5 Free", Roboto, Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 20px;
  width: 25px;
  height: 25px;
  position: absolute;
  top: -7px;
  right: -7px;
  z-index: 1;
  color: #167c19;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sj-detail__nav {
  padding-left: 57px;
}

.sj-detail__nav--item {
  margin-right: 25px;
}

.sj-detail__nav--link {
  display: flex;
  padding: 15px 30px;
  font-size: 18px;
  line-height: 21px;
  font-weight: 500;
  color: #6F6F6F;
  text-transform: uppercase;
  transition: all 0.3s;
  position: relative;
}

.sj-detail__nav--link:before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 50%;
  width: 0;
  height: 3px;
  transition: all 0.3s;
  z-index: 2;
  background-color: #6F6F6F;
  transform: translateX(-50%);
}

.sj-detail__nav--link:hover {
  color: #6F6F6F;
}

.sj-detail__nav--link:hover:before {
  width: 100%;
}

.sj-detail__nav--link.active {
  color: #EB5B40;
}

.sj-detail__nav--link.active:before {
  background-color: #EB5B40;
  width: 100%;
}

.sj-detail__shadow--top {
  position: absolute;
  top: -1px;
  left: 0;
  width: 100%;
  height: 1px;
  box-shadow: 0 0 8px 0 #eee;
}

.sj-detail__shadow--bottom {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 1px;
  box-shadow: 0 0 8px 10px #eee;
}

.sj-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 40px 0;
  background-color: #FCFCFC;
  border-top: 1px solid #E7E7E7;
  border-bottom: 1px solid #E7E7E7;
}

.sj-content__item {
  display: flex;
  align-items: center;
}

.sj-content__left {
  padding-right: 14px;
}

.sj-content__title {
  font-size: 16px;
  line-height: 19px;
  font-weight: normal;
  color: #4F4E4E;
  margin-bottom: 3px;
}

.sj-content__value {
  font-size: 18px;
  line-height: 21px;
  font-weight: 500;
  color: #4F4E4E;
}

.sj-description {
  padding: 30px 20px;
}

.sj-description__item {
  padding: 15px 0;
}

.sj-description__title {
  display: flex;
  align-items: center;
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
  color: #464545;
  text-transform: uppercase;
}

.sj-description__title img {
  margin-right: 8px;
}

.sj-description__content {
  padding: 20px 40px;
  word-break: break-word;
  white-space: pre-line;
}

.sj-description__tags {
  padding-left: 30px;
  display: flex;
  flex-wrap: wrap;
}

.sj-description__tags span {
  height: 31px;
  padding: 0 40px;
  background-color: #E9E9E9;
  font-size: 16px;
  line-height: 19px;
  font-weight: normal;
  color: #464545;
  margin: 0 12px 10px 0;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sj-description__media--item {
  padding: 0 7px;
  height: 350px;
}

.modal-apply .modal-content {
  background: #FFFFFF;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px 4px 0 0;
  border: none;
}

.modal-apply .modal-header {
  align-items: center;
  padding-left: 30px;
  border-bottom: none;
}

.modal-apply .modal-header .close {
  font-size: 25px;
  padding-right: 25px;
}

.modal-apply .modal-header__job {
  display: flex;
  align-items: center;
}

.modal-apply .modal-header__job--left {
  padding-right: 20px;
}

.modal-apply .modal-header__job--image {
  height: 40px;
  width: auto;
}

.modal-apply .modal-header__job--name {
  font-size: 18px;
  line-height: 21px;
  font-weight: normal;
  color: #EB5B40;
  margin-bottom: 3px;
}

.modal-apply .modal-header__job--company {
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  color: #838383;
  margin-bottom: 0;
}

.modal-apply .modal-body {
  padding: 0;
}

.modal-apply .modal-form {
  display: block;
}

.modal-apply .modal-form__body {
  padding: 20px 35px 10px 35px;
  background-color: #F9F9F9;
}

.modal-apply .modal-form__title {
  font-size: 18px;
  line-height: 21px;
  font-weight: 500;
  color: #838383;
  text-transform: uppercase;
  padding: 15px 0;
  margin-bottom: 0;
}

.modal-apply .modal-form__control {
  display: flex;
  padding: 5px 30px 8px 0;
}

.modal-apply .modal-form__label {
  width: 110px;
  min-width: 110px;
  margin-right: 30px;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 19px;
  font-weight: normal;
  color: #838383;
  padding-top: 4px;
}

.modal-apply .modal-form__input {
  height: 32px;
  width: 100%;
  padding: 0 10px;
  background-color: #fff;
  border: 1px solid #EEEEEE;
  border-radius: 2px;
  color: #6F6F6F;
  transition: all 0.2s;
}

.modal-apply .modal-form__input:focus {
  border-color: #6F6F6F;
}

.modal-apply .modal-form__input:-moz-read-only {
  background-color: #F3F3F3;
  cursor: default;
}

.modal-apply .modal-form__input:read-only {
  background-color: #F3F3F3;
  cursor: default;
}

.modal-apply .modal-form__input:-moz-read-only:focus {
  border-color: #EEEEEE;
}

.modal-apply .modal-form__input:read-only:focus {
  border-color: #EEEEEE;
}

.modal-apply .modal-form__toggle {
  display: flex;
  margin-bottom: 15px;
}

.modal-apply .modal-form__toggle--item {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: auto;
}

.modal-apply .modal-form__toggle--title {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #6F6F6F;
  margin-right: 15px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.modal-apply .modal-form__toggle--title img {
  margin-left: 7px;
  position: relative;
  top: -1px;
}

.modal-apply .modal-form__toggle--radio {
  width: 24px;
  height: 24px;
  display: flex;
  position: relative;
  background-color: #fff;
  border: 1px solid #BFBFBF;
  border-radius: 50%;
  cursor: pointer;
  overflow: hidden;
  margin-right: 15px;
}

.modal-apply .modal-form__toggle--radio:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  transform: translate(-50%, -50%);
  background-color: #43BF24;
  transition: all 0.3s;
  border-radius: 50%;
  opacity: 0;
  z-index: 2;
}

.modal-apply .modal-form__toggle--radio:hover:before {
  width: 50%;
  height: 50%;
  opacity: 0.4;
  transition: all 0.1s;
}

.modal-apply .modal-form__toggle--input:checked + .modal-form__toggle--radio:before {
  width: 60%;
  height: 60%;
  opacity: 1;
}

.modal-apply .modal-form__toggle--info {
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  color: #6F6F6F;
}

.modal-apply .modal-form__toggle--link,
.modal-apply .modal-form__toggle--delete {
  color: #EB5B40;
  margin-left: 3px;
  cursor: pointer;
}

.modal-apply .modal-form__toggle--link:hover,
.modal-apply .modal-form__toggle--delete:hover {
  text-decoration: underline;
}

.modal-apply .modal-form__or {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 1;
}

.modal-apply .modal-form__or--text {
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  color: #6F6F6F;
  display: flex;
  padding: 0 11px;
  background-color: #F9F9F9;
}

.modal-apply .modal-form__or:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #C4C4C4;
  z-index: -1;
}

.modal-apply .modal-form__new {
  background-color: #E9E8E8;
  cursor: pointer;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #525252;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 10px;
  border-radius: 3px;
  transition: all 0.1s;
  position: relative;
  margin-bottom: 0;
}

.modal-apply .modal-form__new img {
  margin-right: 7px;
}

.modal-apply .modal-form__new:active {
  transform: scale(0.97);
}

.modal-apply .modal-form__submit {
  display: flex;
  justify-content: flex-end;
  padding: 12px 20px;
}

.modal-apply .modal-form__submit--cancel,
.modal-apply .modal-form__submit--button {
  height: 40px;
  font-size: 16px;
  line-height: 19px;
  font-weight: normal;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 5px;
  transition: all 0.2s;
}

.modal-apply .modal-form__submit--cancel:active,
.modal-apply .modal-form__submit--button:active {
  transition: 0.1s;
  transform: scale(0.95);
}

.modal-apply .modal-form__submit--cancel {
  color: #464545;
  background-color: transparent;
  margin-right: 8px;
}

.modal-apply .modal-form__submit--cancel:hover {
  background-color: #F3F3F3;
}

.modal-apply .modal-form__submit--button {
  color: #fff;
  background-color: #EB5B40;
}

.modal-apply .modal-form__success {
  display: flex;
  flex-direction: column;
  padding: 35px 30px 50px 30px;
  align-items: center;
  background-color: #F9F9F9;
}

.modal-apply .modal-form__success--title {
  margin-bottom: 15px;
  text-align: center;
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
  color: #6f6f6f;
  text-transform: uppercase;
}

.modal-apply .modal-form__success--title i {
  margin-left: 5px;
  color: #25AE88;
  font-size: 20px;
}

.modal-apply .modal-form__success--text {
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
  color: #7A7A7A;
  text-align: center;
  margin-bottom: 0;
  margin-top: 40px;
}

.modal-apply .modal-form__success--link {
  color: #EB5B40;
}

.modal-apply .modal-form__success--link:hover {
  text-decoration: underline;
}

.error-text {
  font-size: 12px;
  line-height: 14px;
  font-weight: normal;
  color: #FD1616;
  min-height: 14px;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 3px;
}

.required-form:after {
  content: "*";
  color: #FD1616;
}

.error-input {
  border: 1px solid #FD1616 !important;
}

.error-form .select2-selection,
.error-form .bootstrap-tagsinput,
.error-form .tox-tinymce {
  border: 1px solid #FD1616 !important;
}

@media screen and (min-width: 1500px) {
  .col-xxl-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-xxl-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
}

@media screen and (min-width: 992px) {
  .sj-body {
    display: flex;
    height: 100%;
  }

  .sj-body__left .search-collapse,
  .sj-body__right .search-collapse {
    height: 100%;
    display: block !important;
  }

  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

@media screen and (max-width: 1499.98px) {
  .sj-detail__inner {
    padding-left: 0;
    padding-right: 0;
  }

  .sj-detail__top {
    padding-right: 20px;
  }

  .sj-detail__top--right {
    padding-left: 25px;
  }

  .sj-detail__action--button {
    padding: 0 20px;
  }

  .sj-detail__action--button.outline {
    padding: 0 10px;
  }

  .sj-content {
    padding: 20px 0;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .sj-content__item {
    width: 50%;
    padding: 10px 20px;
  }

  .sj-content__left {
    padding-right: 10px;
  }

  .sj-content__icon {
    transform: scale(0.9);
  }

  .sj-content__title {
    margin-bottom: 3px;
  }
}

@media screen and (max-width: 1199.98px) {
  .sj-tab__link {
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
    color: #838383;
  }

  .sj-tab__link:before {
    height: 70%;
  }

  .sj-item {
    padding: 12px 12px 7px 20px;
  }

  .sj-item__middle {
    padding-left: 20px;
  }

  .sj-item__right {
    padding-left: 15px;
  }

  .sj-item__logo {
    width: 50px;
    min-width: 50px;
    height: 50px;
    border-radius: 7px;
  }

  .sj-item__name {
    font-size: 16px;
    line-height: 19px;
    font-weight: 500;
    margin-bottom: 3px;
  }

  .sj-item__job {
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
    margin-bottom: 8px;
  }

  .sj-item__more {
    margin-bottom: 4px;
  }

  .sj-item__more--text {
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
  }

  .sj-item__salary img {
    transform: scale(0.9);
  }

  .sj-item.is-amazing {
    border-top: 1px solid #5725C3;
  }

  .sj-item__tag-amazing {
    position: absolute;
    top: 4px;
    right: 25px;
    height: 18px;
    font-size: 10px;
  }

  .sj-item.is-premium {
    border-top: 1px solid #C9A038;
  }

  .sj-item__tag-premium {
    font-size: 10px;
    line-height: 18px;
    bottom: 12px;
    right: 12px;
  }

  .sj-item__tag-hotjob {
    font-size: 10px;
    bottom: 12px;
    right: 12px;
  }

  .sj-detail__top {
    padding-top: 50px;
    padding-bottom: 20px;
  }

  .sj-detail__top--right {
    padding-left: 15px;
  }

  .sj-detail__logo {
    width: 90px;
    min-width: 90px;
    height: 90px;
  }

  .sj-detail__name {
    font-size: 20px;
    line-height: 25px;
    font-weight: 500;
    margin-bottom: 4px;
  }

  .sj-detail__job {
    font-size: 16px;
    line-height: 19px;
    font-weight: normal;
    margin-bottom: 10px;
  }

  .sj-detail__info--item {
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
    margin-bottom: 4px;
  }

  .sj-detail__action--button {
    height: 35px;
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
    margin-left: 7px;
    padding: 0 15px;
  }

  .sj-detail__action--button i {
    font-size: 18px;
  }

  .sj-detail__action--button.outline {
    padding: 0 10px;
    margin-left: 0;
  }

  .sj-detail__action--button:disabled:after {
    font-size: 16px;
    width: 20px;
    height: 20px;
    top: -6px;
    right: -6px;
  }

  .sj-detail__nav {
    padding-left: 30px;
  }

  .sj-detail__nav--item {
    margin-right: 15px;
  }

  .sj-detail__nav--link {
    padding: 10px 15px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
  }

  .sj-content__title {
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
  }

  .sj-content__value {
    font-size: 16px;
    line-height: 19px;
    font-weight: 500;
  }

  .sj-description {
    padding: 15px;
  }

  .sj-description__item {
    padding: 10px 0;
  }

  .sj-description__title {
    font-size: 16px;
    line-height: 19px;
    font-weight: 500;
  }

  .sj-description__title img {
    margin-right: 5px;
    transform: scale(0.9);
  }

  .sj-description__content {
    padding: 10px 20px;
    font-size: 14px;
    line-height: 1.5;
    font-weight: normal;
  }

  .sj-description__tags {
    padding-left: 20px;
    display: flex;
    flex-wrap: wrap;
  }

  .sj-description__tags span {
    height: 25px;
    padding: 0 20px;
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
    margin: 0 6px 5px 0;
  }

  .sj-description__media--item {
    height: 300px;
  }

  .sj-description__ul {
    font-size: 14px;
    line-height: 1.5;
    font-weight: normal;
  }
}

@media screen and (max-width: 991.98px) {
  .module-mobile__hidden {
    display: none !important;
  }

  .search-job {
    height: auto;
  }

  .sj-body {
    height: auto;
    flex-direction: column-reverse;
  }

  .sj-body__left {
    height: auto;
    border-right: none;
  }

  .sj-body__right {
    height: auto;
  }

  .sj-list {
    height: auto;
  }

  .sj-list__scroll {
    height: auto;
    overflow: unset;
  }

  .sj-list__shadow--top,
  .sj-list__shadow--bottom {
    display: none;
  }

  .sj-item:hover,
  .sj-item.active {
    background-color: transparent;
  }

  .sj-item.is-amazing:hover,
  .sj-item.is-amazing.active {
    background-color: #FCFDFF;
  }

  .sj-back__button {
    background: none;
    border: none;
    color: #838383;
    height: 55px;
    width: 100%;
    padding: 0;
    display: flex;
    align-items: center;
  }

  .sj-back__button i {
    width: 55px;
    text-align: center;
  }

  .sj-back__searchtext {
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
    color: #838383;
    padding-top: 2px;
  }

  .sj-detail {
    height: auto;
  }

  .sj-detail__top {
    padding-top: 10px;
    padding-right: 15px;
  }

  .sj-detail__shadow--top,
  .sj-detail__shadow--bottom {
    display: none;
  }

  .sj-description__media--item {
    height: 200px;
  }

  .modal-apply .modal-header {
    padding: 12px;
  }

  .modal-apply .modal-header .close {
    font-size: 18px;
    padding-right: 20px;
  }

  .modal-apply .modal-header__job {
    display: flex;
    align-items: center;
  }

  .modal-apply .modal-header__job--left {
    padding-right: 15px;
  }

  .modal-apply .modal-header__job--image {
    height: 22px;
  }

  .modal-apply .modal-header__job--name {
    font-size: 16px;
    line-height: 19px;
    font-weight: normal;
  }

  .modal-apply .modal-header__job--company {
    font-size: 12px;
    line-height: 14px;
    font-weight: normal;
  }

  .modal-apply .modal-form__body {
    padding: 5px 20px;
  }

  .modal-apply .modal-form__title {
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    padding: 12px 0;
  }

  .modal-apply .modal-form__control {
    padding: 3px 0 5px 0;
    flex-direction: column;
  }

  .modal-apply .modal-form__label {
    width: 100%;
    min-width: 100%;
    margin-right: 0;
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
    padding-top: 0;
    margin-bottom: 4px;
  }

  .modal-apply .modal-form__input {
    height: 30px;
    padding: 0 10px;
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
  }

  .modal-apply .modal-form__toggle {
    margin-bottom: 10px;
  }

  .modal-apply .modal-form__toggle--title {
    font-size: 12px;
    line-height: 12px;
    font-weight: 500;
    margin-right: 10px;
  }

  .modal-apply .modal-form__toggle--title img {
    margin-left: 5px;
  }

  .modal-apply .modal-form__toggle--radio {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }

  .modal-apply .modal-form__toggle--info {
    font-size: 12px;
    line-height: 12px;
    font-weight: normal;
  }

  .modal-apply .modal-form__or--text {
    font-size: 12px;
    line-height: 14px;
    font-weight: normal;
    padding: 0 9px;
  }

  .modal-apply .modal-form__new {
    font-size: 12px;
    line-height: 14px;
    font-weight: 500;
    color: #525252;
    padding: 3px 10px;
  }

  .modal-apply .modal-form__new img {
    margin-right: 5px;
    transform: scale(0.8);
  }

  .modal-apply .modal-form__submit {
    padding: 10px 15px;
  }

  .modal-apply .modal-form__submit--cancel,
  .modal-apply .modal-form__submit--button {
    height: 35px;
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
    padding: 0 20px;
  }

  .modal-apply .modal-form__submit--cancel {
    margin-right: 5px;
  }

  .modal-apply .modal-form__success {
    padding: 30px;
  }

  .modal-apply .modal-form__success--title {
    font-size: 16px;
    line-height: 19px;
    font-weight: 500;
  }

  .modal-apply .modal-form__success--title i {
    font-size: 18px;
  }

  .modal-apply .modal-form__success--text {
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
  }

  .sj-mobile__navigation {
    position: fixed;
    bottom: -100px;
    left: 0;
    width: 100%;
    display: flex;
    padding-bottom: 10px;
    justify-content: center;
    align-items: flex-end;
    transition: all 0.3s;
    background-color: #fff;
    z-index: 99;
  }

  .sj-mobile__navigation--back,
  .sj-mobile__navigation--save,
  .sj-mobile__navigation--apply {
    padding: 0;
    justify-content: center;
    align-items: center;
    border: none;
    height: 50px;
  }

  .sj-mobile__navigation--back {
    width: 15vw;
    border-radius: 0;
    border-top: 1px solid #838383;
    border-bottom: 1px solid #838383;
    background-color: #fff;
    color: #838383;
    font-size: 20px;
  }

  .sj-mobile__navigation--apply {
    width: 70vw;
    border-radius: 0;
    background-color: #1C4355;
    color: #fff;
  }

  .sj-mobile__navigation--save {
    width: 15vw;
    border-radius: 0;
    background-color: #EB5B40;
    color: #fff;
    font-size: 20px;
  }

  .sj-mobile__navigation--save.saved i {
    font-weight: 900;
  }

  .sj-mobile__navigation.show {
    bottom: 0;
  }

  .error-text {
    font-size: 10px;
    line-height: 12px;
    font-weight: normal;
    min-height: 12px;
  }
}

@media screen and (max-width: 575.98px) {
  .sj-detail__top {
    position: relative;
  }

  .sj-detail__top--right {
    padding-bottom: 40px;
  }

  .sj-detail__logo {
    width: 70px;
    min-width: 70px;
    height: 70px;
    margin-top: 5px;
  }

  .sj-detail__action {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding-right: 8px;
  }

  .sj-detail__nav {
    padding-left: 0;
    display: flex;
    justify-content: center;
  }

  .sj-detail__nav--item {
    margin-right: 0;
  }
}

