/* Variable */
$color_background: #163442;
$color_white: #fff;

/* Common */
.ml-auto {
    margin-left: auto!important;
}

.mt-1 {
    margin-top: .25rem!important;
}

.mr-0 {
    margin-right: 0!important;
}

.ml-3 {
    margin-left: 1rem!important;
}

.mr-3 {
    margin-right: 1rem!important;
}

.portfolio-editbar-bg {

    .portfolio-editbar {
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 65px;
        z-index: 1001;
        display: flex;
        align-items: center;
        background-color: $color_background;
        font-family: "Roboto", Arial, Helvetica, sans-serif;
        padding-left: 0;
        padding-right: 8px;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 0 5px $color_background;
        opacity: 0;

        .bar-brand {
            padding: 3px 0;

            .brand-img {
                height: 25px;
                white-space: nowrap;
                max-width: unset;
            }

            .brand-portfolio {
                position: relative;
                font-size: 16px;
                line-height: 19px;
                font-weight: normal;
                color: #fff !important;
                top: 2px;

                &:focus {
                    color: #fff;
                }
            }
        }

        .line-horizontal {
            height: 18px;
            width: 2px;
            background-color: $color_white;
        }

        .bar-nav {
            display: flex;
            flex-direction: row;
            padding-right: 15px;

            .navbar-item {
                padding: 0 15px;
                list-style-type: none;

                .navbar-link {
                    cursor: pointer;
                    color: #fff;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 16px;
                    white-space: nowrap;
                    display: flex;
                    align-items: center;

                    img {
                        vertical-align: unset;
                        margin-right: 8px;
                        position: relative;
                    }
                }
            }
        }

        .editbar-save {
            border: none;
            width: 200px;
            height: 75%;
            background-color: #FE831C;
            color: #fff;
            font-weight: bold;
            font-size: 14px;
            line-height: 16px;
            cursor: pointer;
            white-space: nowrap;
            border-radius: 5px;
            text-transform: unset;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                margin-right: 5px;
                position: relative;
                top: -1px;
            }
        }
    }

    &.anima {

        .portfolio-editbar {
            animation: editbar-hide both 0.4s;
        }

        &.show {

            .portfolio-editbar-button {
                top: 80px;

                img {
                    transform: translateY(-350%) translateX(-50%);
                }

                i {
                    transform: translateY(-50%) translateX(-50%);
                }
            }

            .portfolio-editbar {
                animation: editbar-show both 1s;
                width: 100px;
                height: 64px;
                padding-left: 8%;
            }

            @media screen and (min-width: 992px) {
                .show-delay-desktop {
                    opacity: 1;
                    transition: 0.2s 1s;
                }
            }
        }
    }

    &.editbar-md-bottom {
        .portfolio-editbar-button {
            top: unset;
            bottom: 25px;

            img {
                transform: translateY(-50%) translateX(-50%);
            }

            i {
                transform: translateY(-350%) translateX(-50%);
            }
        }

        .portfolio-editbar {
            top: unset;
            bottom: 15px;
        }


        &.anima {

            &.show {

                .portfolio-editbar-button {
                    top: unset;
                    bottom: 80px;

                    img {
                        transform: translateY(300%) translateX(-50%);
                    }

                    i {
                        transform: translateY(-50%) translateX(-50%);
                    }
                }
            }
        }

    }

    &.editbar-md-right {
        .portfolio-editbar-button {
            left: unset;
            right: 25px;
        }

        .portfolio-editbar {
            left: unset;
            right: 15px;
        }

    }

    @media screen and (min-width: 992px) {
        .show-delay-desktop {
            opacity: 0;
            transition: 0.2s 0s;
        }
    }
}

@media screen and (max-width: 991.98px) {

    .edb-desktop {
        display: none!important;
    }

    .portfolio-editbar-bg {

        .portfolio-editbar {
            height: 64px;
            width: calc(100% - 30px);
            transform: scale(0.7);
            top: -150px;
            opacity: 0;
            padding-left: 8px;

            .bar-nav {
                padding-right: 15px;
                flex: 2;
                height: 100%;
                width: calc(100% - 30px);

                .navbar-item {
                    height: 100%;
                    padding: 0 5px;
                    flex: 1;

                    .navbar-link {
                        padding: 17px 0 12px 0;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        font-size: 12px;
                        line-height: 14px;
                        text-align: center;

                        img {
                            margin-right: 0;
                            margin-bottom: 8px;
                            top: 0;
                        }
                    }
                }
            }

            .editbar-save {
                padding: 10px 0;
                height: 80%;
                width: 60px;
                flex: 1;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                font-size: 12px;
                line-height: 14px;
                text-align: center;

                img {
                    margin-right: 0;
                    margin-bottom: 4px;
                    top: 0;
                }
            }
        }

        &.anima {
            .portfolio-editbar {
                animation: editbar-hide-mobile-top both 0.3s;
            }

            &.show {
                .portfolio-editbar {
                    width: calc(100% - 30px);
                    animation: editbar-show-mobile-top both 0.6s;
                    padding-left: 8px;
                    transform: scale(1);
                    opacity: 1;
                    top: 15px;
                }
            }
        }

        &.editbar-xs-top {
            .portfolio-editbar-button {
                bottom: unset;
                top: 25px;

                img {
                    transform: translateY(-50%) translateX(-50%);
                }

                i {
                    transform: translateY(300%) translateX(-50%);
                }
            }

            .portfolio-editbar {
                bottom: unset;
                top: 15px;
            }


            &.anima {

                &.show {

                    .portfolio-editbar-button {
                        bottom: unset;
                        top: 80px;

                        img {
                            transform: translateY(-350%) translateX(-50%);
                        }

                        i {
                            transform: translateY(-50%) translateX(-50%);
                        }
                    }
                }
            }

        }

        &.editbar-xs-bottom {
            .portfolio-editbar-button {
                top: unset;
                bottom: 25px;

                img {
                    transform: translateY(-50%) translateX(-50%);
                }

                i {
                    transform: translateY(-350%) translateX(-50%);
                }
            }

            .portfolio-editbar {
                top: unset;
                bottom: 15px;
            }


            &.anima {
                .portfolio-editbar {
                    animation: editbar-hide-mobile-bottom both 0.3s;
                }

                &.show {
                    .portfolio-editbar-button {
                        top: unset;
                        bottom: 80px;

                        img {
                            transform: translateY(300%) translateX(-50%);
                        }

                        i {
                            transform: translateY(-50%) translateX(-50%);
                        }
                    }

                    .portfolio-editbar {
                        animation: editbar-show-mobile-bottom both 0.6s;
                        top: unset;
                        bottom: 15px;
                    }
                }
            }

        }

        &.editbar-xs-left {
            .portfolio-editbar-button {
                right: unset;
                left: 25px;
            }

            .portfolio-editbar {
                right: unset;
                left: 15px;
            }

        }

        &.editbar-xs-right {
            .portfolio-editbar-button {
                left: unset;
                right: 25px;
            }

            .portfolio-editbar {
                left: unset;
                right: 15px;
            }

        }
    }
}

@keyframes editbar-show {
    0% {
        width: 120px;
        height: 0;
        opacity: 0;
        padding-left: 15px;
    }

    20% {
        width: 120px;
        height: 64px;
        opacity: 1;
        padding-left: 15px;
    }

    60% {
        width: 120px;
        height: 64px;
        opacity: 1;
        padding-left: 15px;
    }

    100% {
        width: calc(100% - 30px);
        height: 64px;
        opacity: 1;
        padding-left: 8%;
    }
}

@keyframes editbar-hide {
    0% {
        width: calc(100% - 30px);
        height: 64px;
        opacity: 1;
        padding-left: 8%;
    }

    100% {
        width: calc(100% - 30px);
        height: 0;
        opacity: 0;
        padding-left: 8%;
    }
}

@keyframes editbar-show-mobile-top {
    0% {
        transform: scale(0.6);
        top: -150px;
        opacity: 0;
    }

    60% {
        top: 15px;
        opacity: 1;
    }

    100% {
        transform: scale(1);
    }
}

@keyframes editbar-hide-mobile-top {
    0% {
        top: 15px;
        opacity: 1;
        transform: scale(1);
        width: calc(100% - 30px);
    }

    100% {
        top: -150px;
        opacity: 0;
        transform: scale(1);
        width: calc(100% - 30px);
    }
}

@keyframes editbar-show-mobile-bottom {
    0% {
        transform: scale(0.6);
        bottom: -150px;
        opacity: 0;
    }

    60% {
        bottom: 15px;
        opacity: 1;
    }

    100% {
        transform: scale(1);
    }
}

@keyframes editbar-hide-mobile-bottom {
    0% {
        bottom: 15px;
        opacity: 1;
        transform: scale(1);
        width: calc(100% - 30px);
    }

    100% {
        bottom: -150px;
        opacity: 0;
        transform: scale(1);
        width: calc(100% - 30px);
    }
}