/*=============== Search CV ===============*/

/*=============== End Search CV ===============*/

/*=============== Post Job ===============*/

/*=============== End Post Job ===============*/

/*=============== Company Information ===============*/

/*=============== End Company Information ===============*/

/*=============== Buy Points ===============*/

/*=============== End Buy Points ===============*/

/*=============== DASHBOARD ===============*/

/*=============== End DASHBOARD ===============*/

/*=============== @include ===============*/

/*=============== End @include ===============*/

/*=============== @extend ===============*/

.navbar .dropdown-desktop__button--logo {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.navbar .dropdown-desktop__button--name {
  overflow: hidden;
  display: -webkit-box;
  word-break: break-word;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

/*=============== End @extend ===============*/

.employer-navbar {
  height: 61px;
  padding: 0;
  background-color: #06202D;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
}

.navbar-brand {
  display: flex;
  padding: 0;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 2px;
}

.navbar-nav .nav-item {
  padding: 0 10px;
}

.navbar-nav .nav-link {
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
  color: #939393;
  display: flex;
  padding: 8px 10px;
  position: relative;
  transition: all 0.2s;
  white-space: nowrap;
  z-index: 1;
}

.navbar-nav .nav-link:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.8);
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 5px;
  transition: all 0.2s;
  opacity: 0;
  z-index: -1;
}

.navbar-nav .nav-link:hover {
  color: #fff;
}

.navbar-nav .nav-link:hover:before {
  opacity: 0.2;
  transform: translate(-50%, -50%) scale(1);
}

.navbar-nav .nav-link:active {
  transition: 0.1s;
  transform: scale(0.95);
}

.navbar-nav .nav-link.active {
  color: #fff;
  cursor: default;
}

.navbar-nav .nav-link.active:before {
  display: none;
}

.navbar-nav .nav-link.active:active {
  transform: scale(1);
}

.navbar-right {
  display: flex;
  align-items: center;
}

.navbar .company-info {
  display: flex;
  align-items: center;
  padding: 33px 26px 30px;
}

.navbar .company-info__logo {
  width: 50px;
  height: 50px;
  min-width: 50px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
}

.navbar .company-info__contact {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
}

.navbar .company-info__contact--gmail {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #181818;
  word-break: break-word;
}

.navbar .company-info__contact--phone {
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
  color: #707070;
  word-break: break-word;
}

.navbar .company-list {
  padding: 0;
  margin-bottom: 14px;
  display: flex;
  flex-direction: column;
}

.navbar .company-list__item {
  list-style: none;
  margin: 14px auto 14px 35px;
  display: flex;
  align-items: center;
}

.navbar .company-list__item--icon {
  width: 25px;
  display: inline-flex;
  justify-content: center;
  margin-right: 10px;
}

.navbar .company-list__link {
  font-size: 16px;
  line-height: 19px;
  font-weight: normal;
  color: #5B5B5B;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
}

.navbar .company-list__link:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-49%, -50%) scale(0.9);
  width: calc(100% + 25px);
  height: calc(100% + 15px);
  opacity: 0;
  border-radius: 5px;
  transition: all 0.2s;
  background-color: #464545;
  z-index: 2;
}

.navbar .company-list__link:hover:before {
  transform: translate(-49%, -50%) scale(1);
  opacity: 0.1;
}

.navbar .company-list__hr {
  margin-left: 0;
  margin-right: 0;
  height: 1px;
  background-color: #D7D7D7;
}

.navbar .company-list__language {
  display: flex;
  align-items: flex-start;
}

.navbar .company-list__language--title {
  font-size: 16px;
  line-height: 19px;
  font-weight: normal;
  color: #5B5B5B;
}

.navbar .company-list__language--list {
  padding-left: 15px;
  display: flex;
  flex-direction: column;
}

.navbar .company-list__language--item {
  margin-bottom: 10px;
  font-weight: 300;
  color: #838383;
}

.navbar .company-list__language--item.active {
  font-weight: 500;
  color: #06202D;
  cursor: default;
  text-decoration: underline;
}

.navbar .company-list__language--item.active:before {
  display: none;
}

.navbar .company-list__language--item:last-child {
  margin-bottom: 0;
}

.navbar .dropdown-desktop__button {
  background-color: transparent;
  display: flex;
  align-items: center;
  border: none;
}

.navbar .dropdown-desktop__button--name {
  font-size: 16px;
  line-height: 19px;
  font-weight: normal;
  color: #fff;
  padding: 0 10px;
}

.navbar .dropdown-desktop__button--logo {
  background-size: contain;
  width: 25px;
  height: 25px;
  min-width: 25px;
  border-radius: 50%;
}

.navbar .dropdown-desktop__button i {
  color: #fff;
  font-size: 14px;
}

.navbar .dropdown-mobile__button {
  background-color: transparent;
  display: flex;
  align-items: center;
  border: none;
  position: relative;
}

.navbar .dropdown-mobile__button:after {
  content: "";
  border: 12px solid transparent;
  border-bottom: 12px solid #fff;
  border-top: none;
  width: 24px;
  height: 12px;
  position: absolute;
  top: 30px;
  left: 15%;
  transform: translateX(-50%);
  opacity: 0;
  transition: all 0.2s;
  z-index: 1001;
}

.navbar .dropdown.show .dropdown-mobile__button:after {
  opacity: 1;
  -webkit-animation: coming-down-short 0.2s both;
          animation: coming-down-short 0.2s both;
}

@media screen and (min-width: 992px) {
  .navbar .dropdown-desktop__menu {
    background-color: #fff;
    top: 52px;
    min-width: 322px;
    border: 1px solid #DDD6;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 2px;
    -webkit-animation: coming-down-short 0.2s both;
            animation: coming-down-short 0.2s both;
    margin: 0;
    padding: 0;
  }

  .navbar .dropdown-desktop__menu:before {
    content: "";
    border: 12px solid transparent;
    border-bottom-color: #fff;
    position: absolute;
    top: -24px;
    right: 30px;
  }

  .navbar .dropdown-mobile {
    width: 100%;
  }

  .navbar .dropdown-mobile__button {
    display: none;
  }

  .navbar .dropdown-mobile__menu {
    position: static;
    display: flex;
    width: 100%;
    border: none;
    background-color: transparent;
  }
}

@media screen and (max-width: 991.98px) {
  .navbar-nav {
    margin-top: 90px;
    padding: 10px 22px 15px 25px;
    flex-direction: column;
    border-top: 1px solid #D7D7D7;
    border-bottom: none;
  }

  .navbar-nav .nav-item {
    padding: 6px 0;
    width: 100%;
  }

  .navbar-nav .nav-link {
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    color: #181818;
    border-radius: 6px;
    border: 1px solid #E3DEDE;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 70px;
    padding: 0 0 0 20px;
  }

  .navbar-nav .nav-link__sub {
    margin-top: 2px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 300;
    color: #181818;
  }

  .navbar-nav .nav-link:before {
    display: none;
  }

  .navbar-nav .nav-link:hover {
    color: #181818;
  }

  .navbar-nav .nav-link.active {
    color: #181818;
  }

  .navbar .company-info {
    position: absolute;
    top: 0;
    width: 100%;
    height: 90px;
    padding: 0 22px 0 25px;
  }

  .navbar .company-info__logo {
    width: 40px;
    height: 40px;
    min-width: 40px;
  }

  .navbar .company-info__contact {
    padding-left: 14px;
  }

  .navbar .company-info__contact--gmail {
    padding-bottom: 4px;
  }

  .navbar .company-info__contact--phone {
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
  }

  .navbar .company-list {
    margin-bottom: 99px;
  }

  .navbar .company-list__item {
    display: flex;
  }

  .navbar .company-list__item--icon {
    width: 20px;
  }

  .navbar .company-list__item--logout {
    position: absolute;
    top: 51px;
    right: 22px;
    margin: 0;
  }

  .navbar .company-list__item--logout .company-list__item--icon {
    display: none;
  }

  .navbar .company-list__item--logout .company-list__link {
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
    color: #5B5B5B;
    text-decoration: underline;
  }

  .navbar .company-list__item--buy-points {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 21px 25px;
    margin: 0;
  }

  .navbar .company-list__item--buy-points-text {
    margin-bottom: 5px;
  }

  .navbar .company-list__item--buy-points .company-list__item--icon {
    display: none;
  }

  .navbar .company-list__item--buy-points .company-list__item--sub {
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
  }

  .navbar .company-list__item--buy-points .company-list__link {
    width: 100%;
    height: 67px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background: linear-gradient(180deg, #BB9A37 0%, #A36718 100%);
    font-size: 16px;
    line-height: 19px;
    font-weight: 500;
    color: #fff;
    padding: 0 22px;
    border-radius: 4px;
  }

  .navbar .company-list__item--buy-points .company-list__link:before {
    display: none;
  }

  .navbar .company-list__link:before {
    width: calc(100% + 20px);
    height: calc(100% + 11px);
  }

  .navbar .company-list__hr {
    margin-left: 0;
    margin-right: 0;
  }

  .navbar .dropdown-desktop {
    width: 100%;
    position: static;
  }

  .navbar .dropdown-desktop__button {
    display: none;
  }

  .navbar .dropdown-desktop__menu {
    width: 100%;
    display: block;
    position: static;
    border: none;
    padding: 0;
    margin: 0;
  }

  .navbar .dropdown-mobile__menu {
    background-color: #fff;
    top: 39px;
    min-width: 404px;
    border: 1px solid #DDD6;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 2px;
    -webkit-animation: coming-down-short 0.2s both;
            animation: coming-down-short 0.2s both;
    margin: 0;
    padding: 0;
  }
}

@media screen and (max-width: 767.98px) {
  .navbar-nav {
    margin-top: 70px;
    padding: 6px 22px 6px 25px;
  }

  .navbar-nav .nav-item {
    padding: 4px 0;
  }

  .navbar-nav .nav-link {
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
    height: 60px;
  }

  .navbar-nav .nav-link__sub {
    font-size: 12px;
    line-height: 18px;
    font-weight: 300;
  }

  .navbar .company-info {
    height: 70px;
  }

  .navbar .company-info__logo {
    width: 31px;
    height: 31px;
    min-width: 31px;
  }

  .navbar .company-info__contact--gmail {
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
  }

  .navbar .company-info__contact--phone {
    font-size: 12px;
    line-height: 14px;
    font-weight: normal;
  }

  .navbar .company-list {
    margin-bottom: 73px;
  }

  .navbar .company-list__item {
    margin-top: 8px;
    margin-bottom: 8px;
    display: flex;
  }

  .navbar .company-list__item--icon img {
    transform: scale(0.8);
  }

  .navbar .company-list__item--logout {
    top: 37px;
    margin: 0;
  }

  .navbar .company-list__item--logout .company-list__link {
    font-size: 12px;
    line-height: 14px;
    font-weight: normal;
  }

  .navbar .company-list__item--buy-points {
    margin-top: 0;
    margin-bottom: 0;
    padding: 12px 25px;
  }

  .navbar .company-list__item--buy-points-text {
    margin-bottom: 4px;
  }

  .navbar .company-list__item--buy-points .company-list__item--sub {
    font-size: 12px;
    line-height: 14px;
    font-weight: normal;
  }

  .navbar .company-list__item--buy-points .company-list__link {
    height: 57px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
  }

  .navbar .company-list__link {
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
  }

  .navbar .company-list__language--title {
    display: none;
  }

  .navbar .company-list__language--list {
    margin-top: 1px;
    padding-left: 0;
    flex-direction: row;
  }

  .navbar .company-list__language--item {
    margin-bottom: 0;
    font-weight: 300;
    margin-right: 10px;
  }

  .navbar .company-list__language--item.active {
    font-weight: 500;
  }

  .navbar .dropdown-mobile__menu {
    min-width: 322px;
  }
}

@media screen and (max-width: 575.98px) {
  .navbar .dropdown-mobile__button {
    padding: 0;
  }

  .navbar .dropdown-mobile__button:after {
    left: 0;
  }

  .navbar .dropdown-mobile__menu {
    right: -16px;
  }
}

