@charset "UTF-8";

button,
button:hover,
button:focus,
select,
select:hover,
select:focus,
input,
textarea {
  outline: none;
}

.input-gallery-list .gallery-item__image,
.mh-about-img__background,
.img-avatar,
.img-logo {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.input-gallery-list .gallery-item__title {
  overflow: hidden;
  display: -webkit-box;
  word-break: break-word;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.hidden {
  display: none !important;
}

.banned-scroll {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.position-relative {
  position: relative;
}

.color-red {
  color: #FD1616 !important;
}

.color-green {
  color: #0bceaf !important;
}

[type=button],
[type=reset],
[type=submit],
button {
  -webkit-appearance: unset;
  -moz-appearance: unset;
}

input[type=number] {
  -moz-appearance: textfield;
}

.color-gray {
  color: #AEAEAE !important;
}

@media screen and (min-width: 992px) {
  .app-mobile {
    display: none !important;
  }
}

@media screen and (max-width: 991.98px) {
  .app-desktop {
    display: none !important;
  }
}

body {
  width: 100vw;
}

@media screen and (min-width: 992px) {
  body {
    padding-bottom: 64px;
  }
}

@media screen and (max-width: 991.98px) {
  body {
    padding-bottom: 55px;
  }
}

.img-logo {
  width: 69px;
  height: 69px;
}

.img-avatar {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: 0 0 0 20px rgba(0, 0, 0, 0.4) inset;
}

.mh-about-img {
  height: 330px;
}

.mh-about-img__background {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 991.98px) {
  .mh-about-img {
    height: 250px;
  }
}

.flex-top-left {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.flex-middle-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flex-top-center {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.demo-style-switch {
  z-index: 99;
}

.social-links li a {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
  transition: 0.3s;
  cursor: pointer;
  outline: none;
  font-size: 18px;
  line-height: 30px;
  font-weight: normal;
  color: #fff;
}

.social-links li a:hover {
  background-color: #fff;
  color: #0bceaf;
}

.social-links li a:focus {
  box-shadow: none;
}

.social-links li a i {
  font-size: 18px;
}

.info-list li {
  display: flex;
  align-items: center;
}

.info-list li i {
  margin-right: 10px;
  width: 15px;
  text-align: center;
}

.mh-footer-address .mh-address-footer-item .each-icon i {
  text-align: center;
  width: 100px;
  height: 100px;
  border: 1px solid #0bceaf;
  border-radius: 50%;
  line-height: 100px;
  font-size: 35px;
}

.mh-skills .mh-professional-skill {
  padding-left: 20px;
  padding-right: 20px;
}

.mh-work .mh-experience-deatils .mh-work-item .exp-title {
  font-size: 20px;
}

.mh-work .mh-experience-deatils .mh-work-item .exp-time {
  font-size: 14px;
}

.knowledge-list {
  padding-left: 0;
}

.knowledge-list .info {
  padding-bottom: 10px;
}

.knowledge-list .info .name {
  font-size: 16px;
  line-height: 19px;
  font-weight: normal;
  color: #fff;
}

.color-text {
  transition: all 0.3s;
}

.color-text-hover {
  transition: all 0.3s;
}

.color-background {
  transition: all 0.3s;
}

.color-background-hover {
  transition: all 0.3s;
}

.color-border {
  transition: all 0.3s;
}

.color-border-hover:hover {
  transition: all 0.3s;
}

.color-border-focus:focus {
  transition: all 0.3s;
}

.maha-modal {
  background: rgba(112, 112, 112, 0.5);
}

.maha-dialog .modal-content {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border: none;
  background-color: #2E2D36;
}

.maha-dialog .modal-content .modal-header {
  position: relative;
  height: 70px;
  padding-top: 25px;
  padding-bottom: 0;
  padding-left: 60px;
  display: flex;
  align-items: flex-end;
}

.maha-dialog .modal-content .modal-header .close {
  position: absolute;
  right: 30px;
  top: 50%;
  bottom: unset;
  transform: translateY(-50%);
  border: none;
  box-shadow: none;
  padding: 0;
  margin: 0;
  color: #9D9D9D;
  text-shadow: none;
}

.maha-dialog .modal-content .modal-header .modal-title {
  font-size: 18px;
  line-height: 21px;
  font-weight: bold;
  color: #fff;
  position: relative;
  top: 1px;
  height: 100%;
  padding: 0 5px;
}

.maha-dialog .modal-content .modal-body {
  padding-top: 45px;
  padding-bottom: 0;
}

.maha-dialog .modal-content .modal-footer {
  border-top: none;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 30px;
  background-color: #2E2D36;
}

.maha-dialog .modal-content .modal-footer .button-submit {
  height: 45px;
  background-color: #177F85;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  color: #fff;
  padding: 0;
  width: 70%;
  margin: 0 !important;
}

@media screen and (max-width: 991.98px) {
  .maha-dialog .modal-content .modal-header {
    height: 60px;
    padding-top: 20px;
    padding-left: 15px;
    justify-content: center;
  }

  .maha-dialog .modal-content .modal-header .close {
    right: unset;
    left: 20px;
  }

  .maha-dialog .modal-content .modal-header .modal-title {
    font-size: 14px;
    line-height: 16px;
  }
}

@media screen and (max-width: 767.98px) {
  .maha-dialog .modal-content {
    border-radius: 0;
    min-height: 100vh;
  }
}

@media screen and (max-width: 575.98px) {
  .maha-dialog {
    margin: 0;
  }

  .maha-dialog .modal-content {
    box-shadow: none;
    border-radius: 0;
    height: 100vh;
    min-height: 100vh;
    overflow: auto;
  }

  .maha-dialog .modal-content .modal-form {
    height: 100%;
  }

  .maha-dialog .modal-content .modal-body {
    padding: 30px 3% 100px 3%;
  }

  .maha-dialog .modal-content .modal-footer {
    position: fixed;
    bottom: 0;
    padding: 0;
    width: 100%;
    box-shadow: 0 0 10px 10px #2E2D36;
  }

  .maha-dialog .modal-content .modal-footer .button-submit {
    height: 55px;
    box-shadow: none;
    border-radius: 0;
    width: 100%;
  }
}

.popup-form-control {
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
}

.popup-form-control .form-label {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #fff;
  padding-bottom: 10px;
  margin-bottom: 0;
}

.popup-form-control .form-input {
  width: 100%;
  height: 45px;
  border: 1px solid #838383;
  border-radius: 5px;
  padding: 0 10px;
  background-color: transparent;
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  color: #fff;
  transition: all 0.2s;
}

.popup-form-control .form-input::-moz-placeholder {
  color: #838383;
}

.popup-form-control .form-input:-ms-input-placeholder {
  color: #838383;
}

.popup-form-control .form-input::placeholder {
  color: #838383;
}

.popup-form-control .form-input:focus::-moz-placeholder {
  color: transparent;
}

.popup-form-control .form-input:focus:-ms-input-placeholder {
  color: transparent;
}

.popup-form-control .form-input:focus::placeholder {
  color: transparent;
}

.popup-form-control .input__textarea {
  height: auto;
  padding: 15px 10px;
  resize: none;
}

@media screen and (max-width: 767.98px) {
  .popup-form-control .form-label {
    font-size: 12px;
    line-height: 14px;
    padding-bottom: 5px;
  }

  .popup-form-control .form-input {
    height: 40px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 300;
    color: #fff;
  }
}

.invalid-input {
  border-color: #FD1616 !important;
  transition: 0s;
}

.form-submit-error,
.error-text {
  display: block;
  min-height: 14px;
  margin-top: 3px;
  margin-bottom: 8px;
  margin-right: 0 !important;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #FD1616 !important;
}

@media screen and (max-width: 575.98px) {
  .form-submit-error,
  .error-text {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

.error-text {
  font-size: 12px;
  line-height: 14px;
}

.error-text span {
  color: #FD1616 !important;
}

@media screen and (max-width: 767.98px) {
  .error-text {
    margin-top: 0;
    margin-bottom: 5px;
  }
}

.input__dropdown .form-input {
  cursor: pointer;
}

.input__dropdown .dropdown-menu {
  border: 1px solid #177F85;
  border-radius: 5px;
  width: 100%;
  height: 0;
  padding: 0;
  transition: all 0.1s;
  display: block;
  overflow: hidden;
  opacity: 0;
  background-color: #2c2b33ed;
  transform: translate3d(0, calc(100% - 32px), 0px) !important;
}

.input__dropdown .dropdown-menu li {
  padding: 8px 10px;
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s;
}

.input__dropdown .dropdown-menu li:hover {
  background-color: #2eca7f36;
}

.input__dropdown.show .dropdown-menu {
  height: 74px;
  padding: 5px 0;
  transition: all 0.4s;
  transform: scale(1.07) translateY(2px);
  opacity: 1;
}

.input__dropdown.input__dropdown--big.show .dropdown-menu,
.input__dropdown.input__dropdown--big .form-input:focus + .dropdown-menu {
  height: 250px;
  padding: 5px 0;
  transform: scale(1.07) translateY(8px);
  overflow: auto;
  transition: all 0.4s;
}

.input-gallery {
  width: 300px;
  height: 150px;
  margin: 20px auto 20px auto;
  position: relative;
  cursor: pointer;
}

.input-gallery input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.input-gallery .input-gallery-view {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #31313A;
  border: 1px solid #9D9D9D;
  border-radius: 2px;
  cursor: pointer;
}

.input-gallery .input-gallery-view p {
  font-size: 16px;
  line-height: 25px;
  font-weight: normal;
  color: #fff;
  padding-top: 5px;
  margin-bottom: 0;
}

.input-gallery .input-gallery-view span {
  font-size: 14px;
  line-height: 22px;
  font-weight: normal;
  color: #838383;
  margin-bottom: 0;
}

.input-gallery-list {
  margin-left: -7px;
  margin-right: -7px;
}

.input-gallery-list .list-col {
  padding-left: 7px;
  padding-right: 7px;
  padding-bottom: 10px;
}

.input-gallery-list .gallery-item {
  height: 56px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 3px;
  border: 1px solid #fff;
}

.input-gallery-list .gallery-item__image {
  height: 100%;
  min-width: 50px;
}

.input-gallery-list .gallery-item__title {
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  color: #fff;
  -webkit-line-clamp: 3;
  width: 100%;
  height: auto;
  padding: 0 5px;
}

.input-gallery-list .gallery-item__delete {
  height: 100%;
  width: 30px;
  border: none;
  background-color: transparent;
  box-shadow: none;
  color: #838383;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
  cursor: pointer;
}

.input-gallery-list .gallery-item__delete:hover {
  color: #FD1616;
}

.form-time {
  display: flex;
  align-items: center;
  margin: 2px 0;
}

.form-time__label {
  width: 60px;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  color: #464545;
}

.form-time__input {
  width: 85px;
  margin-right: 25px;
  margin-bottom: 0;
}

.form-time__input-long {
  width: 120px;
}

.form-time__current {
  display: flex;
  margin-top: 10px;
}

.form-time__current .form-time__current--icon {
  font-weight: 300;
  display: flex;
  cursor: pointer;
}

.form-time__current .form-time__current--icon span {
  display: block;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  position: relative;
  border-radius: 5px;
  border: 1px solid #177F85;
  background-color: transparent;
  overflow: hidden;
  top: 1px;
  transition: all 0.3s 0.3s;
}

.form-time__current .form-time__current--icon span:before {
  content: "";
  position: absolute;
  width: 3px;
  height: 8px;
  background-color: #fff;
  transform: rotate(-45deg) translateX(-2px) translateY(-28px);
  z-index: 1;
  transition: all 0.3s 0.15s;
}

.form-time__current .form-time__current--icon span:after {
  content: "";
  position: absolute;
  width: 3px;
  height: 12px;
  background-color: #fff;
  transform: rotate(45deg) translateX(9px) translateY(-24px);
  z-index: 1;
  transition: all 0.3s;
}

.form-time__current .form-time__current--icon input:checked + span {
  background-color: #177F85;
  transition: all 0.3s;
}

.form-time__current .form-time__current--icon input:checked + span:before {
  transform: rotate(-45deg) translateX(-2px) translateY(8px);
}

.form-time__current .form-time__current--icon input:checked + span:after {
  transform: rotate(45deg) translateX(9px) translateY(-4px);
  transition: all 0.3s 0.3s;
}

.form-icon {
  height: 200px;
  overflow: auto;
  border-radius: 5px;
  margin-top: 20px;
}

.form-icon .list-icon {
  display: flex;
  flex-wrap: wrap;
}

.form-icon .list-icon i {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #fff;
  font-size: 20px;
  transition: all 0.4s;
  border-radius: 50%;
}

.form-icon .list-icon i.selected {
  background-color: #177F85;
  color: #fff;
  border-radius: 5px;
}

.form-icon .service-more {
  width: 100%;
  border: none;
  background: none;
  color: #fff;
  box-shadow: none;
  cursor: pointer;
}

.form-icon .service-more:hover {
  color: #0bceaf;
}

.form-icon.invalid-input {
  border: 1px solid #FD1616 !important;
}

.form-icon.invalid-input:focus {
  border: 1px solid #FD1616 !important;
}

.form-range {
  display: flex;
  align-items: center;
}

.form-range__input {
  width: 80%;
  background-color: #838383;
  height: 1px;
  -webkit-appearance: none;
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s;
  padding: 0;
}

.form-range__input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 18px;
  height: 18px;
  background: #0bceaf;
  cursor: pointer;
  border-radius: 50%;
}

.form-range__input::-moz-range-thumb {
  width: 18px;
  height: 18px;
  background: #838383;
  cursor: pointer;
  border-radius: 50%;
}

.form-range__view {
  width: 20%;
  padding-left: 20px;
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  color: #838383;
}

.form-knowledge {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-height: auto !important;
}

.form-knowledge .form-input {
  margin-right: 30px;
}

.form-knowledge .form-knowledge__button {
  margin: 0 5px;
  width: 32px;
  min-width: 32px;
  height: 32px;
  border-radius: 50%;
  padding: 0;
  border: none;
  box-shadow: none;
  background-color: #838383;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: all 0.3s;
  cursor: pointer;
}

.form-knowledge .form-knowledge__button:hover {
  transform: scale(1.1);
}

.knowledge-item .form-knowledge .addnew-button {
  visibility: hidden;
  opacity: 0;
  transition: 0s;
}

.knowledge-item:last-child .form-knowledge .addnew-button {
  visibility: inherit;
  opacity: 1;
  transition: 0.2s;
}

.knowledge-item:nth-child(10) .form-knowledge .addnew-button {
  visibility: hidden;
  opacity: 0;
  transition: 0s;
}

@media (min-width: 1200px) {
  .modal-xl {
    max-width: 1140px;
  }
}

@media screen and (min-width: 1200px) {
  .pr-lg-50 {
    padding-right: 50px;
  }

  .pl-lg-50 {
    padding-left: 50px;
  }
}

.select2-container .popup-select2-select,
.select2-container--default .popup-select2-select {
  min-height: 45px;
  border: 1px solid #838383;
  border-radius: 5px;
  padding: 4px 10px 8px 10px;
  background-color: transparent;
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  color: #fff;
  transition: all 0.2s;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.select2-container .popup-select2-select .select2-selection__choice,
.select2-container--default .popup-select2-select .select2-selection__choice {
  background: #838383;
  border: none;
  border-radius: 2px;
  display: inline-flex;
  flex-direction: row-reverse;
  align-items: center;
  padding: 0 8px;
  min-height: 25px;
}

.select2-container .popup-select2-select .select2-selection__choice__display,
.select2-container--default .popup-select2-select .select2-selection__choice__display {
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  color: #fff;
}

.select2-container .popup-select2-select .select2-selection__choice__remove,
.select2-container--default .popup-select2-select .select2-selection__choice__remove {
  border: none;
  box-shadow: none;
  line-height: 16px;
}

.select2-container .popup-select2-select .select2-selection__choice__remove:hover,
.select2-container .popup-select2-select .select2-selection__choice__remove:focus,
.select2-container--default .popup-select2-select .select2-selection__choice__remove:hover,
.select2-container--default .popup-select2-select .select2-selection__choice__remove:focus {
  background-color: transparent !important;
}

.select2-container .popup-select2-select .select2-search--inline .select2-search__field,
.select2-container--default .popup-select2-select .select2-search--inline .select2-search__field {
  color: #fff;
}

.select2-container.select2-container--focus .popup-select2-select,
.select2-container.select2-container--open .popup-select2-select,
.select2-container--default.select2-container--focus .popup-select2-select,
.select2-container--default.select2-container--open .popup-select2-select {
  border-color: #0bceaf;
  transition: 0.2s;
}

.popup-select2-dropdown {
  border: 1px solid #838383;
  border-radius: 4px;
  background-color: #2E2D36;
  width: 100%;
  padding: 0;
  transition: all 0.1s;
  display: block;
  overflow: hidden;
}

.popup-select2-dropdown li {
  padding: 8px 10px;
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  color: #464545;
  cursor: pointer;
  transition: all 0.2s;
}

.popup-select2-dropdown li:hover {
  background-color: #2eca7f36;
}

.popup-select2-dropdown li.select2-results__option--selected {
  background-color: #838383;
}

.popup-select2-dropdown li.select2-results__option--highlighted,
.popup-select2-dropdown li.select2-results__option--selected.select2-results__option--highlighted {
  background-color: #0bceaf !important;
}

.edit-button {
  border: none;
  background-color: transparent;
  margin-left: 20px;
  padding: 4px 14px;
  transition: 0.3s;
  border-radius: 3px;
  cursor: pointer;
  outline: none;
  font-size: 18px;
  line-height: 30px;
  font-weight: normal;
  color: #fff;
}

.edit-button:focus {
  box-shadow: none;
}

.image-edit-button {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  margin-left: 20px;
  padding: 4px 14px;
  transition: 0.3s;
  border-radius: 3px;
  cursor: pointer;
  outline: none;
  font-size: 18px;
  line-height: 30px;
  font-weight: normal;
  color: #fff;
}

.image-edit-button:focus {
  box-shadow: none;
}

.image-edit-button.image-background {
  top: 10px;
  right: 10px;
}

.gallery-relative .edit-gallery {
  position: absolute;
  top: unset !important;
  bottom: 0 !important;
  left: unset !important;
  right: 0 !important;
  width: 80px;
  height: 0;
  display: flex;
  z-index: 10;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s;
}

.gallery-relative .edit-gallery__item {
  width: 35px;
  height: 35px;
  padding: 0;
  display: flex;
  box-shadow: none;
  transition: all 0.3s;
  align-items: center;
  justify-content: center;
  background-color: #177F85;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.gallery-relative .edit-gallery__item i {
  position: initial;
  color: #fff;
  transition: all 0.2s;
}

.gallery-relative .edit-gallery__item:hover {
  background-color: #fff;
}

.gallery-relative .edit-gallery__item:hover i {
  color: #177F85;
}

.gallery-relative:hover .edit-gallery {
  bottom: 15px !important;
  right: 15px !important;
  opacity: 1;
  height: 35px;
}

@media screen and (max-width: 991.98px) {
  .gallery-relative .edit-gallery {
    bottom: 15px !important;
    right: 15px !important;
    opacity: 1;
    height: 35px;
  }
}

.timeline-edit {
  transition: all 0.3s;
}

.timeline-edit .edit-area {
  position: absolute;
  right: 5px;
  top: 10px;
  width: 0;
  overflow: hidden;
  transition: all 0.3s;
  display: flex;
  padding: 5px 0;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  border-radius: 5px;
  background-color: #2020268c;
  box-shadow: 0 0 10px #2020268c;
}

.timeline-edit .edit-area__button {
  height: 35px;
  width: 50px;
  transition: all 0.2s;
  border: none;
  border-radius: 5px;
  background-color: transparent;
  margin: 1px 5px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.timeline-edit .edit-area__button i {
  font-size: 16px;
  color: #fff;
}

.timeline-edit .edit-area__button:hover {
  background-color: #0bceaf;
}

.timeline-edit .edit-area__button:hover i {
  transform: unset !important;
}

@media screen and (max-width: 991.98px) {
  .timeline-edit .edit-area {
    width: 60px;
  }
}

.timeline-edit:hover .edit-area {
  width: 60px;
}

.timeline-edit .project-info {
  display: flex;
  flex-direction: column;
}

.timeline-edit .project-info .info-item {
  display: flex;
  padding-top: 15px;
}

.timeline-edit .project-info .info-title {
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  color: #fff;
  padding-right: 15px;
  white-space: nowrap;
}

.timeline-edit .project-info .info-value {
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  color: #AEAEAE;
}

.timeline-edit .project-info .info-tag {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  top: -2px;
}

.timeline-edit .project-info .info-tag span {
  font-size: 12px;
  line-height: 20px;
  font-weight: normal;
  color: #fff;
  padding: 0 8px;
  margin: 0 8px 5px 0;
  border: 1px solid #0BBBA0;
  border-radius: 2px;
}

.skill-edit {
  display: flex;
}

.skill-edit .edit-view {
  width: 100%;
}

.skill-edit .edit-area {
  min-width: 0;
  width: 0;
  height: 30px;
  overflow: hidden;
  transition: all 0.3s;
  display: flex;
  justify-content: flex-end;
}

.skill-edit .edit-area__button {
  height: 30px;
  width: 30px;
  transition: all 0.2s;
  padding: 0;
  background-color: transparent;
  box-shadow: none !important;
  border: none;
  cursor: pointer;
}

.skill-edit .edit-area__button i {
  font-size: 16px;
  color: #fff;
  transition: all 0.2s;
}

@media screen and (max-width: 991.98px) {
  .skill-edit .edit-area {
    min-width: 70px;
    width: 70px;
  }
}

.skill-edit:hover .edit-area {
  min-width: 70px;
  width: 70px;
}

.knowledge-edit {
  padding-left: 30px;
  list-style-type: none;
  padding-bottom: 5px;
}

.knowledge-edit .edit-area__button {
  position: relative;
  cursor: pointer;
  margin-left: 8px;
  visibility: hidden;
  opacity: 0;
  color: #838383;
  transition: all 0.2s;
}

@media screen and (max-width: 991.98px) {
  .knowledge-edit .edit-area__button {
    transform: scale(1);
    display: inline;
    opacity: 1;
    visibility: inherit;
  }
}

.knowledge-edit .knowledge-action-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: auto;
  opacity: 0;
  transition: all 0.2s;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.knowledge-edit:hover .knowledge-action-btn {
  opacity: 1;
  width: 50px;
}

.knowledge-edit:hover .edit-area__button {
  transform: scale(1);
  display: inline;
  opacity: 1;
  visibility: inherit;
}

.knowledge-edit:before {
  font-family: "Font Awesome 5 Free", Arial, Helvetica, sans-serif;
  content: "\F00C";
  position: absolute;
  top: 0;
  left: 5px;
  font-weight: 900;
  color: #2ECA7F;
}

@media screen and (max-width: 991.98px) {
  .knowledge-edit {
    display: flex;
    justify-content: space-between;
  }

  .knowledge-edit .knowledge-action-btn {
    position: relative;
    margin-left: 10px;
    min-width: 50px;
    opacity: 1;
  }
}

