.btn-primary, .btn-primary:hover, .btn-primary:focus, button, input[type=button], input[type=submit], .site-main-menu > li > a:after, .timeline-item:after, .skill-percentage, .service-icon, .lm-pricing .lm-package-wrap.highlight-col .lm-heading-row span:after, .portfolio-filters li.active a, .portfolio-filters li.active a:hover, .testimonials.owl-carousel .owl-nav .owl-prev:hover, .testimonials.owl-carousel .owl-nav .owl-next:hover, .share-buttons a:hover, .fw-pricing .fw-package-wrap.highlight-col .fw-heading-row span:after, .cat-links li a, .cat-links li a:hover, .post-navigation .meta-nav:hover, .calendar_wrap td#today, .nothing-found p, .form-control + .form-control-border, .blog-sidebar .sidebar-title h4:after {
    background-color: #2196f3
}

@media only screen and (max-width: 991px) {
    .header {
        background-color: #2196f3
    }

    .mobile-header {
        background-color: #2196f3
    }
}

a, .form-group-with-icon.form-group-focus i, .site-title span, .header-search button:hover, .header-search button:focus, .block-title h3 span, .header-search button:hover, .header-search button:focus, .timeline-item .item-period, .fun-fact-block .fun-value, .blog-card .post-date span, .info-block-w-icon i, .ajax-page-nav > div.nav-item a:hover, .project-general-info .fa, .portfolio-page-nav > div.nav-item a:hover, .comment-author a:hover, .comment-list .pingback a:hover, .comment-list .trackback a:hover, .comment-metadata a:hover, .comment-reply-title small a:hover, .entry-title a:hover, .entry-meta a:hover, .entry-content .edit-link a:hover, .post-navigation a:hover, .image-navigation a:hover {
    color: #2196f3
}

a {
    color: #2196f3
}

a:hover {
    color: #ff9800
}

.border-top, .border-bottom, .timeline-item, .timeline-item:before, blockquote, .page-links a:hover, .paging-navigation .page-numbers.current, .paging-navigation a:hover {
    border-color: #2196f3
}

.testimonial-content .testimonial-text, .preloader-spinner:after {
    border-top-color: #2196f3
}

.section-inner > .page-header, .content-area > .page-header {
    background-color: #2196f3
}

.page-content, .custom-page-content .page-content, .portfolio-page-content, .content-page-with-sidebar .page-content, .start-page-content .page-content, .single-page-content .content-area .page-content {
    background-color: #fff
}

.color-text {
    color: #2196f3 !important;
}

.color-text-i i {
    color: #2196f3 !important;
}

.color-text-hover:hover {
    color: #2196f3 !important;
}

.color-text-hover-i:hover i {
    color: #2196f3 !important;
}

.color-text-hover-i-white:hover i {
    color: #fff !important;
}

.color-text-focus:focus {
    color: #2196f3 !important;
}

.color-text-focus-i:focus i {
    color: #2196f3 !important;
}

.color-text-before:before {
    color: #2196f3 !important;
}

.color-text-after:after {
    color: #2196f3 !important;
}

.color-background {
    background-color: #2196f3 !important;
}

.color-background-hover:hover {
    background-color: #2196f3 !important;
}

.color-background-hover:focus {
    background-color: #2196f3 !important;
}

.color-background-before:before {
    background-color: #2196f3 !important;
}

.color-background-after:after {
    background-color: #2196f3 !important;
}

.color-border {
    border-color: #2196f3 !important;
}

.color-border-hover:hover {
    border-color: #2196f3;
}

.color-border-focus:focus {
    border-color: #2196f3;
}

.color-border-focus-onlyb:focus {
    border-bottom-color: #2196f3;
}

.aveo-dialog .modal-content .modal-header .modal-title {
    border-bottom-color: #2196f3;
}

.aveo-dialog .modal-content .modal-body .aveo-form-control .form-input:focus {
    border-bottom-color: #2196f3;
}

.aveo-dialog .modal-content .modal-body .aveo-form-control .form-icon .list-icon i.selected {
    background-color: #2196f3 !important;
}

.aveo-dialog .select2-container.select2-container--focus .popup-select2-select,
.aveo-dialog .select2-container.select2-container--open .popup-select2-select {
    border-bottom-color: #2196f3 !important;
}

.popup-select2-dropdown li.select2-results__option--highlighted.select2-results__option--highlighted {
    background-color: #2196f3 !important;
}

.aveo-dialog .modal-content .modal-body .aveo-form-control .form-time__current .form-time__current--icon span {
    border-color: #2196f3 !important;
}

.aveo-dialog .modal-content .modal-body .aveo-form-control .form-time__current .form-time__current--icon input:checked + span {
    background-color: #2196f3 !important;
}