@keyframes coming-down-short {
    0% {
        opacity: 0;
        transform: translateY(-20px) scale(1);
    }

    100% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

@keyframes coming-up-short {
    0% {
        opacity: 0;
        transform: translateY(20px) scale(1);
    }

    100% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

@keyframes hiding-up-short {
    0% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }

    100% {
        opacity: 0;
        transform: translateY(-20px) scale(1);
    }
}

@keyframes hiding-down-short {
    0% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }

    100% {
        opacity: 0;
        transform: translateY(20px) scale(1);
    }
}

