/*=============== @include ===============*/
@mixin setTextStyleColor($font-size, $line-height, $font-weight, $color) {
  font-size: $font-size;
  line-height: $line-height;
  font-weight: $font-weight;
  color: $color;
}

@mixin setTextStyle($font-size, $line-height, $font-weight) {
  font-size: $font-size;
  line-height: $line-height;
  font-weight: $font-weight;
}
/*=============== End @include ===============*/

/*=============== @extend ===============*/
%default-background-image {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

%default-text {
  overflow: hidden;
  display: -webkit-box;
  word-break: break-word;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
/*=============== End @extend ===============*/

/*=============== Fixed Stylesheet ===============*/

html, body {
  overflow-x: hidden;
}

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  padding-top: 55px;
  background-color: $color_body_background;
}

button,
button:hover,
button:focus,
select,
select:hover,
select:focus,
input,
textarea {
  outline: none;
}

a:hover {
  text-decoration: none ;
}


[type=button],
[type=reset],
[type=submit],
button,
input {
  -webkit-appearance: unset;
  -moz-appearance: unset;
}

input[type=number] {
  -moz-appearance: textfield;
}
/*=============== End Fixed Stylesheet ===============*/

/*=============== Common Class ===============*/
.element-hidden {
  display: none !important;
}

.text-list-title {
  @include setTextStyleColor(16px, 19px, bold, #555555);
}

.text-list-default {
  @include setTextStyleColor(16px, 22px, normal, #454545);
  word-break: break-word;
  @extend %default-text;
  -webkit-line-clamp: 2;
}

.text-default {
  @include setTextStyleColor(16px, 22px, normal, #4A4A4A);
  margin-bottom: 5px;
  @extend %default-text;
  -webkit-line-clamp: 2;
}

.error-text {
  @include setTextStyleColor(12px, 14px, normal, #FD1616);
  word-break: break-word;
}

.pointer {
  cursor: pointer;
}

.no-scroll {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

/* ====================== COMMON STATUS ======================== */
.candidate__status--scheduled {
  background-color: #E6FEDB;
  color: #147C18;
}

.candidate__status--not-contact {
  background-color: #FFF1CE;
  color: #835E00;
}

.candidate__status--interviewed {
  background-color: #adadad;
  color: #fff;
}

.candidate__status--cancelled {
  background-color: #FFF3F3;
  color: #C60404;
}

.job__status--active {
  background-color: #E6FEDB;
  color: #147C18;
}

.job__status--inactive {
  background: #F4F9FE;
  color: #245D70;
}

.job__status--pending {
  background-color: #FFF1CE;
  color: #835E00;
}

.job__status--draft {
  background-color: #adadad;
  color: #fff;
}

.job__status--expired {
  background-color: #FFF3F3;
  color: #C60404;
}
/* =================== END COMMON STATUS ======================== */

@media screen and (min-width: 1500px) {
  .container,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl, {
    min-width: 1450px;
  }
}

@media screen and (min-width: 992px) {
  .app-mobile {
    display: none !important;
  }
}

@media screen and (max-width: 991.98px) and (min-width: 768px) {
  .app-tablet {
    display: none !important;
  }
}

@media screen and (max-width: 991.98px) {
  .app-desktop {
    display: none !important;
  }
}

/* Badge */
.tiny-badge {
  @include setTextStyle(12px, 16px, normal);
  border-radius: 30px;
  white-space: nowrap;
  display: inline-block;
  padding: 0 .4em;
  position: relative;
  top: -1px;

  &__green {
    color: $badge_s_green;
    background-color: $badge_s_b_green;
  }

  &__red {
    color: $badge_s_red;
    background-color: $badge_s_b_red;
  }

  &__yellow {
    color: $badge_s_yellow;
    background-color: $badge_s_b_yellow;
  }

  &__gray {
    color: $badge_s_gray;
    background-color: $badge_s_b_gray;
  }

  &__skyblue {
    color: $badge_s_skyblue;
    background-color: $badge_s_b_skyblue;
  }

  &__purple {
    color: $badge_s_purple;
    background-color: $badge_s_b_purple;
  }

  &__black {
    color: $badge_s_black;
    background-color: $badge_s_b_black;
  }
}
/* End Badge */

/*=============== End Common Class ===============*/