/*=============== @include ===============*/
@mixin setTextStyleColor($font-size, $line-height, $font-weight, $color) {
    font-size: $font-size;
    line-height: $line-height;
    font-weight: $font-weight;
    color: $color;
}

@mixin setTextStyle($font-size, $line-height, $font-weight) {
    font-size: $font-size;
    line-height: $line-height;
    font-weight: $font-weight;
}
/*=============== End @include ===============*/

/*=============== @extend ===============*/
%default-background-image {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

%default-text {
    overflow: hidden;
    display: -webkit-box;
    word-break: break-word;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
/*=============== End @extend ===============*/
