$color_black: #464545;
$color_black_full: #000;
$color_white: #fff;
$color_gray: #838383;
$color_red: #FD1616;
$color_body_background: #E5E5E5;

$badge_s_red: #A90A0A;
$badge_s_b_red: #FFF3F3;
$badge_s_green: #147C18;
$badge_s_b_green: #F8FFF5;
$badge_s_yellow: #886407;
$badge_s_b_yellow: #FFF8E7;
$badge_s_gray: #3D3C3C;
$badge_s_b_gray: #F9F9F9;
$badge_s_skyblue: #175155;
$badge_s_b_skyblue: #F0FCFD;
$badge_s_purple: #434EB1;
$badge_s_b_purple: #F9F9FF;
$badge_s_black: #fff;
$badge_s_b_black: #949494;

$color_big_title: #06202D;

/*=============== Header ===============*/
$color_light_gray: #a9a9a9;
$header_color_red: #E74243;
/*=============== End Header ===============*/

/*=============== Search Job ===============*/
$searchjobs_red: #EB5B40;
/*=============== End Search Job ===============*/