@media screen and (min-width: 1500px){
    .pr-xxl-5 {
        padding-right: 3rem!important;
    }
}

@media screen and (max-width: 1499.98px) {
    .ci-nav {
        &__item {
            padding-left: 18px;
        }
    }

    .ci-form {
        padding: 20px 25px;
    }

    .line-border-right {
        padding-top: 24px;
    }

    .ci-activity {
        &__item {
            margin-bottom: 10px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

@media screen and (max-width: 1199.98px) {
    .ci-nav {
        &__item {
            padding-left: 30px;
        }
    }

    .form-title {
        padding-left: 17px;
        font-size: 18px;
        line-height: 22px;
    }
}

@media screen and (max-width: 991.98px) {
    .ci-header {
        border-bottom: none;
    }

    .line-border-right {
        padding-top: 10px;

        &:before {
            display: none;
        }
    }

    .ci-nav {
        justify-content: space-around;
        padding: 0 10px;
        border-bottom: 1px solid $searchcv_border_5;

        &:before {
            display: none;
        }

        &__item {
            position: relative;
            padding: 0 10px 14px 10px;
            max-width: 190px;
            text-align: center;
            height: auto;

            &:before {
                display: none;
            }

            &:after {
                content: '';
                position: absolute;
                bottom: -1px;
                left: 50%;
                transform: translateX(-50%);
                height: 3px;
                width: 0;
                background-color: $color_big_title;
                transition: all .3s;
                opacity: 0;
            }

            &--success {
                position: absolute;
                top: 0;
                right: unset;
                left: 50%;
                transform: translateX(-50%);
                opacity: 0;
                transition: all .5s;
            }

            &.active {
                color: $color_big_title;
                font-weight: normal;

                &:after {
                    width: 100%;
                    opacity: 1;
                }
            }
        }

        &:before {
            content: '';
            position: absolute;
            z-index: 2;
            top: 0;
            right: 0;
            width: 3px;
            height: 100%;
            background-color: $pj_nav_border_right;
        }

        &__border {
            display: none;
        }

        &:hover {
            .ci-nav__item {
                &:before {
                    width: 0;
                }

                &:hover {
                    &:before {
                        width: 100%;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 767.98px) {

    .px-mobile-0 {
        padding-right: 0!important;
        padding-left: 0!important;
    }

    .emp-box {
        margin-top: 25px;
    }

    .ci-header {
        height: 70px;
    }

    .ci-title {
        padding: 0 3px;

        &__image {
            transform: scale(0.85);
            margin-right: 8px;
        }

        &__text {
            font-size: 16px;
            line-height: 19px;
        }
    }

    .ci-nav {

        &__item {
            padding: 0 5px 12px 5px;
            max-width: 80px;
            font-size: 14px;
            line-height: 16px;

            &.active {
                &:after {
                    width: 100%;
                    opacity: 1;
                }
            }

            &.active {
                color: $color_big_title;
            }
        }

        &:before {
            content: '';
            position: absolute;
            z-index: 2;
            top: 0;
            right: 0;
            width: 3px;
            height: 100%;
            background-color: $pj_nav_border_right;
        }

        &__border {
            display: none;
        }

        &:hover {
            .ci-nav__item {
                &:before {
                    width: 0;
                }

                &:hover {
                    &:before {
                        width: 100%;
                    }
                }
            }
        }
    }

    .form-title {
        padding-left: 14px;
        font-size: 16px;
        line-height: 19px;
        padding-top: 0;
    }

    .ci-form {
        padding: 20px;

        &__label {
            margin-bottom: 5px;
            @include setTextStyle(14px, 16px, normal);

            &--inline {
                display: none;
            }
        }

        &__input, &__submit, &__cancel {
            height: 40px;
            @include setTextStyle(12px, 14px, normal);
        }

        &__textarea  {
            height: auto;
        }

        &__submit, &__cancel {
            padding: 0 15px;
        }

        &__toggle {

            &--title {
                @include setTextStyle(12px, 14px, normal);
            }

            &--icon {
                transform: scale(.8);
            }
        }

        &__company-logo {

            .company-image-background {
                @extend %default-background-image;

                width: 64px!important;
                min-width: 64px!important;
                height: 64px!important;
                min-height: 64px!important;
                margin-right: 30px;
            }

            .company-logo-tip {
                @include setTextStyleColor(12px, 14px, normal, $color_gray)
            }
        }
    }

    .ci-card {
        padding: 10px 17px;

        &__title {
            @include setTextStyle(14px, 16px, 500);
            margin-bottom: 1px;
        }

        &__type {
            @include setTextStyle(12px, 14px, 500);
            margin-bottom: 8px;
        }

        &__point {
            @include setTextStyle(14px, 16px, 500);
        }

        &__premium {
            .ci-card__image {
                width: 46px;
                bottom: 4px;
                right: 0;
            }
        }

        &__basic {
            .ci-card__upgrade {
                @include setTextStyle(10px, 12px, normal);
                bottom: 10px;
                right: 10px;
                height: 20px;
            }
        }
    }

    .ci-info {
        &__item {
            @include setTextStyle(14px, 16px, normal);
            padding: 6px 0;

            i {
                width: 20px;
                margin-right: 5px;
            }
        }
    }

    .trade-history {
        .th-table {

            .trow {
                position: relative;
            }

            .thead {
                background: $th_thead_background;
                border-top: 0.5px solid $searchcv_border_2;
                border-bottom: 0.5px solid $searchcv_border_2;

                .trow {
                    height: 48px;

                    .tcol {
                        font-weight: 500;
                    }
                }
            }

            .tbody {

                .trow {
                    border: 1px solid $searchcv_border_2;
                    border-radius: 4px;
                    min-height: auto;
                    padding: 0;
                    overflow: hidden;
                }
            }
        }

        .point {
            &-less, &-add {
                @include setTextStyle(12px, 14px, normal);
            }
        }

        .th-pagination {
            &__element {
                height: 30px;
                @include setTextStyle(12px, 14px, normal);
            }

            &__input {
                width: 50px;
            }
        }

        &__name {
            height: 44px;
            display: flex;
            align-items: center;
            padding-left: 15px;
            @include setTextStyle(14px, 16px, 500);
            border-bottom: 1px solid $searchcv_border_2;
            background-color: $th_thead_background;
        }

        &__time {
            height: 50px;
            display: flex;
            align-items: center;
            padding-left: 15px;
            @include setTextStyle(12px, 14px, normal);
        }

        &__bold {
            font-weight: 500;
        }

        &__absolute {
            width: auto;
            position: absolute;
            top: 0;
            right: 15px;
            height: 44px;
            display: flex;
            align-items: center;
        }
    }

    .error-text {
        @include setTextStyle(10px, 12px, normal);
        min-height: 12px;
        padding-top: 2px;
    }

    .button-nude {
        @include setTextStyle(12px, 14px, normal);
        padding: 5px;
    }

    .company-images {

        &__background {
            width: 40px;
            min-width: 40px;
            height: 40px;
        }

        &__title {
            @include setTextStyle(12px, 14px, normal);
        }
    }

    .input-image-button {
        @include setTextStyle(14px, 16px, normal);
        height: 30px;
        padding: 0 24px;

        &:hover {
            background-color: $pj_nav_border_right_active;
            color: $pj_toggle_background_disabled;
            svg path {
                fill: $pj_toggle_background_disabled;
            }
        }
    }

    .select2-container--default {
        .ci_form_select2-selection {
            height: 40px;

            .select2-selection {

                &__rendered {
                    font-size: 12px;
                    line-height: 38px;
                }

                &__placeholder {
                    color: $pj_placeholder_color;
                }

                &__clear {
                    height: 37px;
                }

                &__arrow {
                    height: 16px;
                }
            }
        }

        .ci_form_select2-dropdown {

            .select2 {
                &-results {
                    &__option {
                        font-size: 12px;
                    }
                }

                &-search {
                    &__field {
                        @include setTextStyleColor(12px, 20px, normal, $color_black);
                        padding-left: 7px;
                        padding-right: 7px;
                    }
                }
            }
        }

        .ci_form_select2-multiple-selection {
            min-height: 40px;

            .select2-selection {

                &__rendered {
                    font-size: 12px;
                    line-height: 30px;
                }

                &__clear {
                    height: 35px;
                    margin-right: 27px;
                }

                &__arrow {
                    height: 16px;
                }
            }

            .select2-search__field {
                @include setTextStyle(12px, 14px, normal);
                height: 32px;
            }
        }

        .ci_form_select2-multiple-dropdown {

            .select2-results {
                &__option {
                    font-size: 12px;
                }
            }
        }
    }
}