%dropdown_style_1 {
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 0;
    background-color: $color_white;
    box-shadow: $searchcv_dropdown_boxshadow;
}

%dropdown_style_2 {
    margin: 0;
    padding: 0;
    border: none;
    border-top-left-radius: 3px !important;
    border-top-right-radius: 3px !important;
    overflow: hidden;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: $color_white;
    box-shadow: 0 3px 5px rgba(9, 30, 66, 0.2), 0 0 1px rgba(9, 30, 66, 0.31);
}

%bookmark_style {
    padding: 0;
    border: none;
    background-color: transparent;
    display: flex;

    .fill {
        display: none;
    }

    &.bookmarked {
        .empty {
            display: none;
        }

        .fill {
            display: initial;
        }
    }
}

html, body {
    overflow-y: auto;
}

.emp-box {
    margin-top: 43px;
    background-color: $color_white;
    border: 0.5px solid $searchcv_border_1;
}

.ci-header {
    height: 80px;
    border-bottom: 1px solid $searchcv_border_2;
}

.ci-title {
    padding: 0 5px;

    &__image {
        margin-right: 13px;
        position: relative;
        top: -1px;
    }

    &__text {
        @include setTextStyleColor(18px, 21px, 500, $color_big_title);
    }
}

.ci-body {
    position: relative;
}

.line-border-right {

    padding-top: 30px;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 1px;
        z-index: -1;
        background-color: #DDDCDC;
    }
}

.ci-nav {
    position: sticky;
    padding-left: 0;
    margin-bottom: 0;

    &__item {
        list-style-type: none;
        height: 43px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding-left: 52px;
        cursor: pointer;
        transition: all .3s;
        position: relative;
        z-index: 1;
        @include setTextStyleColor(16px, 19px, normal, $color_gray);

        &:before {
            content: '';
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            width: 0;
            height: 100%;
            transition: all .4s ease-in-out;
            background-color: $pj_nav_background;
        }

        &--success {
            position: relative;
            top: -1px;
            right: -35px;
            opacity: 0;
            transition: all .5s;
        }

        &:hover, &.active, &--success {
            &:before {
                width: 100%;
            }
        }

        &.active, &.successfully {
            color: $color_big_title;
            font-weight: 500;
        }

        &.successfully {
            .ci-nav__item--success {
                right: 15px;
                opacity: 1;
            }
        }
    }

    &__border {
        content: '';
        position: absolute;
        z-index: 3;
        top: 0;
        right: 0;
        width: 3px;
        height: 43px;
        background-color: $ci_nav_active_border;
        transition: all .3s;
    }

    &:hover {
        .ci-nav__item {
            &:before {
                width: 0;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }
    }
}

.form-title {
    padding-left: 22px;
    font-size: 18px;
    line-height: 22px;
}

.ci-form {
    padding: 25px 60px 20px 72px;

    &__left {
        padding-right: 35px;
        border-right: 1px solid #DDDCDC;
    }

    &__right {
        padding-left: 35px;
        padding-right: 40px;
    }

    &__item {
        margin-bottom: 0;
    }

    &__label {
        margin-bottom: 8px;
        @include setTextStyleColor(16px, 19px, normal, $color_black);

        &--inline {
            white-space: nowrap;
            padding-right: 15px;
            font-size: 14px;
        }
    }

    &__input {
        width: 100%;
        height: 48px;
        border: 1px solid $searchcv_border_input;
        border-radius: 2px;
        padding: 0 12px;
        transition: all .2s;
        @include setTextStyleColor(14px, 16px, normal, $color_black);

        &::placeholder {
            color: $pj_placeholder_color;
            transition: all .2s;
        }

        &:focus {
            border: 1px solid $pj_nav_border_right_active;

            &::placeholder {
                color: $color_white;
            }
        }

        &:disabled {
            background-color: $pj_inputtags_background;
            cursor: not-allowed;
        }
    }

    &__textarea {
        height: auto;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    &__cancel, &__submit {
        @include setTextStyle(14px, 16px, 500);
        height: 48px;
        padding: 0 50px;
        border: none;
        border-radius: 4px;
        transition: all .1s;
        position: relative;

        &:active {
            transform: scale(.95);
        }
    }

    &__cancel {
        color: $pj_button_cancel_color;
        background-color: $pj_button_cancel_background;
    }

    &__submit {
        color: $color_white;
        background-color: $pj_button_submit_background;
    }

    &__toggle {

        &--title {
            @include setTextStyleColor(14px, 16px, normal, $color_gray);
        }

        &--icon {
            display: flex;
            position: relative;
            width: 42px;
            min-width: 42px;
            height: 24px;
            border-radius: 24px;
            border: 2px solid $color_white;
            background-color: $pj_toggle_background_default;
            transition: all .3s;
            cursor: pointer;
            box-shadow: 0 0 0 2px transparent;

            &:hover {
                box-shadow: 0 0 0 2px #4C9AFF;
            }

            &:before, &:after {
                font-family: "Font Awesome 5 Free", "Roboto", Arial, Helvetica, sans-serif;
                font-weight: 900;
                font-size: 10px;
                color: $color_white;
                z-index: 1;
                top: 50%;
            }

            &:before {
                content: '\f00c';
                position: absolute;
                left: 28%;
                transform: translate(-50%, -50%);
            }

            &:after {
                content: '\f00d';
                position: absolute;
                right: 28%;
                transform: translate(50%, -50%);
            }

            & > span {
                position: absolute;
                display: flex;
                top: 2px;
                left: 2px;
                width: 16px;
                height: 16px;
                border-radius: 50%;
                background-color: $color_white;
                transition: all .3s;
            }
        }

        &--input[type=checkbox] {
            opacity: 0;
            width: 0;
        }

        &--input[type=checkbox]:focus + &--icon {
            box-shadow: 0 0 0 2px #4C9AFF;
        }

        &--input[type=checkbox]:checked + &--icon {
            background-color: $pj_toggle_background_checked;

            & > span {
                left: 20px;
            }
        }

        &--input[type=checkbox]:disabled + &--icon {
            background-color: $pj_toggle_background_disabled;
            cursor: unset;
            box-shadow: 0 0 0 2px transparent !important;

            & > span {
            }

            &:before, &:after {
                color: $pj_toggle_disabled;
            }

            & > span {
                left: 2px !important;
                background-color: $pj_toggle_disabled !important;
            }
        }


    }

    &__line {
        width: 100%;
        height: 1px;
        background-color: #E2E2E2;
    }

    &__company-logo {
        padding: 15px 0;

        .company-image-background {
            @extend %default-background-image;

            width: 92px !important;
            min-width: 92px !important;
            height: 92px !important;
            min-height: 92px !important;
            border-radius: 50%;
            margin-right: 35px;
            position: relative;
            transition: all .3s;
            z-index: 1;
            overflow: hidden;

            &:hover {
                transform: scale(2);
                z-index: 1;
            }
        }

        .company-logo-tip {
            @include setTextStyleColor(14px, 16px, normal, $pj_button_cancel_color)
        }
    }

    &__company-images {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-top: 5px;
        position: relative;

        .loadingio {
            display: none;
            position: absolute;
            top: 54%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        &.disabled {
            .input-image-button {
                &:hover {
                    background-color: $pj_toggle_background_disabled;
                    cursor: default;
                }
            }
            svg, span {
                opacity: 0;
            }

            .loadingio {
                display: block;
            }
        }
    }

    &__save-info {
        &--title {
            @include setTextStyleColor(16px, 19px, normal, $color_black);
            padding-bottom: 6px;
        }

        &--description {
            @include setTextStyleColor(14px, 16px, normal, $color_gray);
        }

        &--link {
            color: $color_big_title;
            text-decoration: underline;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    &__range, &__export {
        height: 34px;
        display: flex;
        padding: 0 35px 0 13px;
        align-items: center;
        background-color: $searchcv_border_4;
        @include setTextStyleColor(14px, 16px, normal, $color_black);
        border: none;
        border-radius: 2px;
        position: relative;
        transition: all .2s;

        &:hover {
            background-color: $searchcv_border_5;
        }

        &-arrow {
            font-size: 16px;
            position: absolute;
            right: 13px;
            top: 50%;
            transform: translateY(-50%);
            color: $color_black;
        }

        .fa-file-export {
            margin-right: 8px;
        }
    }

    &__export {
        padding: 0 15px;

        &:hover {
            background-color: $color_big_title;
            color: $color_white;
        }

        &:active {
            transform: scale(.95);
            transition: .1s;
        }
    }
}

.company-images {
    &__list {

    }

    &__item {
        border: 1px solid $pj_inputtags_border;
        border-radius: 2px;
        padding: 5px;
    }

    &__background {
        @extend %default-background-image;

        width: 48px;
        min-width: 48px;
        height: 48px;
        transition: all .3s;

        &:hover {
            position: relative;
            transform: scale(2);
            z-index: 1;
        }
    }

    &__title {
        @extend %default-text;
        -webkit-line-clamp: 3;
        @include setTextStyleColor(14px, 16px, normal, $color_black);
        margin-bottom: 0;
        padding: 0 5px;
    }

    &__remove {
        border: none;
        padding: 0;
        background-color: transparent;
        color: $color_gray;
        transition: all .2s;
        font-size: 14px;

        &:hover {
            color: $color_red;
        }
    }
}

.input-image-button {
    @include setTextStyleColor(16px, 19px, normal, $pj_nav_border_right_active);
    height: 32px;
    padding: 0 30px;
    border-radius: 4px;
    background-color: $pj_toggle_background_disabled;
    cursor: pointer;
    transition: all .2s;
    position: relative;

    svg {
        margin-right: 11px;
    }

    &:hover {
        background-color: $pj_nav_border_right_active;
        color: $pj_toggle_background_disabled;

        svg path {
            fill: $pj_toggle_background_disabled;
        }
    }

    &:active {
        transform: scale(.95);
        transition: .1s;
    }
}

.list-item {
    .ci-list-remove {
        position: absolute;
        top: -5px;
        right: 4px;
        width: auto;
        height: auto;
        opacity: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all .2s;

        &__button {
            position: relative;
            height: auto;
            width: auto;
            top: 0;
            border: none;
            padding: 0;
            box-shadow: 0 0 0 2px $color_white;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: $color-gray;
            background-color: $color_white;
            font-size: 18px;
            transition: all .2s;

            &:hover {
                box-shadow: 0 0 0 5px $color_gray;
                background-color: $color_gray;
                color: $color_white;
            }

            &:disabled {
                visibility: hidden;
                opacity: 0;
                top: 30px;
            }
        }
    }
}

.bootstrap-tagsinput {
    width: 100%;
    min-height: 48px;
    border: 1px solid $searchcv_border_input;
    border-radius: 2px;
    padding: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: none;
    transition: all .2s;

    &.tagsinput-focus {
        border: 1px solid $pj_nav_border_right_active;
    }

    .badge.ci-form__tags {
        display: flex;
        align-items: center;
        height: 40px;
        margin: 2px 4px;
        padding: 0 9px;
        background-color: $pj_inputtags_background;
        border-radius: 2px;
        white-space: nowrap;
        border: 1px solid $pj_inputtags_border;
        @include setTextStyleColor(14px, 16px, normal, $color_big_title);

        [data-role="remove"] {
            margin-left: 8px;
            cursor: pointer;

            &:after {
                content: "×";
                padding: 0 4px;
                color: $color_black;
                background-color: transparent;
                border-radius: 50%;
                font-size: 18px;
            }

            :hover {
                &:after {
                    background-color: transparent;
                }
            }
        }
    }

    input {
        @include setTextStyleColor(14px !important, 16px, normal, $color_black);
        height: 40px;
        padding: 0 12px;


        &::placeholder {
            color: $pj_placeholder_color;
            transition: all .2s;
        }

        &:focus {

            &::placeholder {
                color: $color_white;
            }
        }
    }
}

.trade-history {
    .th-table {

        .trow {
            align-items: center;
            margin: 0;

            .tcol {
                @include setTextStyleColor(16px, 19px, normal, $color_black);

            }
        }

        .thead {
            background: $th_thead_background;
            border-top: 0.5px solid $searchcv_border_2;
            border-bottom: 0.5px solid $searchcv_border_2;

            .trow {
                height: 48px;

                .tcol {
                    font-weight: 500;
                }
            }
        }

        .tbody {

            .trow {
                border-bottom: 0.5px solid $searchcv_border_2;
                padding-top: 10px;
                padding-bottom: 10px;
                min-height: 80px;
            }
        }
    }

    .point {
        &-less {
            color: $th_point_less;
        }

        &-add {
            color: $th_point_add;
        }
    }

    .th-pagination {
        &__element {
            height: 32px;
            margin: 0 4px;
            border-radius: 2px;
            border: 1px solid $searchcv_border_input;
            background-color: transparent;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all .2s;
            @include setTextStyleColor(14px, 16px, normal, $color_big_title);
        }

        &__button {
            width: 32px;

            &:hover {
                border: 1px solid $color_big_title;
            }

            &:active {
                transition: .1s;
                transform: scale(.95);
            }

            &:disabled {
                color: $searchcv_border_input;
                cursor: not-allowed;

                &:hover {
                    border: 1px solid $searchcv_border_input;
                }
            }
        }

        &__input {
            width: 70px;
            text-align: center;

            &:focus {
                border-color: $color_big_title;
            }
        }

        &__text {
            border: none;
        }
    }
}

.ci-card {
    position: relative;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 16px 17px;
    overflow: hidden;
    z-index: 10;

    &__title {
        @include setTextStyleColor(20px, 22px, normal, $color_white);
        margin-bottom: 1px;
    }

    &__type, &__point {
        @include setTextStyleColor(14px, 16px, normal, $color_white);
        margin-bottom: 0;
    }

    &__type {
        margin-bottom: 12px;
    }

    &__yellow {
        color: $ci_card_yellow;
    }

    &__gray {
        color: $ci_card_gray;
    }

    &__premium {
        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: linear-gradient(90deg, #8D5307 0%, #B47626 100%);
            z-index: -2;
        }

        .ci-card__image {
            position: absolute;
            bottom: 0;
            right: 2px;
        }
    }

    &__basic {

        &:before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            width: 120%;
            height: 120%;
            transform: translate(-50%, -50%);
            @extend %default-background-image;
            background-image: url(../../../../images/image-ci-cardbackground.png);
            z-index: -2;
        }

        .ci-card__upgrade {
            @include setTextStyleColor(12px, 14px, normal, $color_black);
            position: absolute;
            bottom: 14px;
            right: 12px;
            height: 24px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #FFBC65;
            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
            border-radius: 4px;
            border: none;
            padding: 0 5px;
        }
    }

}

.ci-info {
    &__item {
        @include setTextStyleColor(16px, 19px, normal, $color_black);
        padding: 7px 0;

        i {
            width: 25px;
            text-align: center;
            margin-right: 7px;
            position: relative;
            transform: translateY(-1px);
        }
    }
}

.ci-activity {
    &__item {
        @include setTextStyleColor(16px, 19px, normal, $color_black);
        margin: 7px 0 20px 0;

        .value {
            margin-top: 7px;
            color: $color-gray;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.line-gray {
    border-bottom: 1px solid $searchcv_border_3;
    border-left: 1px solid $searchcv_border_3;
}

.button-nude {
    @include setTextStyleColor(14px, 16px, normal, $color-big_title);
    border: 1px solid transparent;
    background-color: transparent;
    padding: 5px 10px;
    border-radius: 3px;
    transition: all .2s;
    opacity: 1;
    position: relative;

    &:hover {
        border: 1px solid $color-big_title;
        background-color: $color-big_title;
        color: $color_white;
    }

    &:active {
        transform: scale(.95);
        border: 1px solid $color-big_title;
        transition: .1s;
    }

    &:disabled {
        padding-top: 0;
        padding-bottom: 0;
        height: 0;
        opacity: 0;
    }
}

.ci_form_select2:focus + .select2-container--default {
    .ci_form_select2-selection {
        border: 1px solid $color_big_title;
    }
}

.select2-container--default {
    .select2-selection {
        &:focus {
            outline: none;
        }
    }

    .ci_form_select2-selection {
        height: 48px;
        border: 1px solid $searchcv_border_input;
        border-radius: 2px;
        transition: .2s;

        .select2-selection {

            &__rendered {
                font-size: 14px;
                line-height: 46px;
                padding-left: 12px;
                color: $color_big_title;
            }

            &__placeholder {
                color: $pj_placeholder_color;
            }

            &__clear {
                height: 45px;
                margin-right: 35px;
            }

            &__arrow {
                height: 24px;
                right: 8px;

                b {
                    border: none;
                    padding: 0;

                    &:before {
                        content: '\f0d7';
                        font-family: "Font Awesome 5 Free", "Roboto", Arial, Helvetica, sans-serif;
                        font-weight: 900;
                        font-size: 12px;
                    }
                }
            }
        }
    }

    .ci_form_select2-dropdown {
        @extend %dropdown_style_1;
        animation: show-height-50-50 .15s ease-out both;

        .select2 {
            &-results {
                &__option {
                    font-size: 14px;
                    padding-left: 12px;
                    color: $color_big_title;
                    transition: all .1s;

                    &--disabled {
                        color: $color_gray;
                    }

                    &--highlighted {
                        background-color: $color_navbar_background;
                        color: $color_white;
                    }

                }
            }

            &-search {
                &__field {
                    @include setTextStyleColor(14px, 26px, normal, $color_black);
                    padding-left: 6px;
                    padding-right: 6px;
                }
            }
        }
    }

    .ci_form_select2-multiple-selection {
        min-height: 48px;
        border: 1px solid $searchcv_border_input !important;
        border-radius: 2px;
        padding-right: 3px;
        padding-bottom: 3px;
        transition: .2s;

        .select2-selection {

            &__rendered {
                font-size: 14px;
                line-height: 38px;
                color: $color_big_title;
            }

            &__placeholder {
                color: $pj_placeholder_color;
            }

            &__clear {
                height: 45px;
                margin-right: 35px;
            }

            &__arrow {
                height: 24px;
                right: 8px;

                b {
                    border: none;
                    padding: 0;

                    &:before {
                        content: '\f0d7';
                        font-family: "Font Awesome 5 Free", "Roboto", Arial, Helvetica, sans-serif;
                        font-weight: 900;
                        font-size: 12px;
                    }
                }
            }

            &__choice {
                margin-left: 3px;
                margin-right: 3px;
                margin-top: 3px;
                background-color: $pj_inputtags_background;
                border: 1px solid $pj_inputtags_border;

                &__remove {
                    border-right: none;
                    float: right;
                    padding-right: 10px;
                    padding-left: 6px;
                }

                &__display {
                    padding-left: 10px;
                }
            }
        }

        .select2-search__field {
            @include setTextStyleColor(14px, 16px, normal, $color_black);
            margin-top: 3px;
            margin-left: 12px;
            height: 40px;

            &::placeholder {
                color: $pj_placeholder_color;
            }
        }
    }

    .ci_form_select2-multiple-dropdown {
        @extend %dropdown_style_1;
        animation: show-height-50-50 .15s ease-out both;

        .select2-results {
            &__option {
                font-size: 14px;
                padding-left: 12px;
                color: $color_big_title;
                transition: all .1s;

                &--disabled {
                    color: $color_gray;
                }

                &--highlighted {
                    background-color: $color_navbar_background;
                    color: $color_white;
                }

            }
        }
    }

    .filtercv-select2-selection {
        height: 34px;
        border: none;
        background-color: $searchcv_border_4;
        border-radius: 4px;
        transition: .2s;

        .select2-selection {

            &__rendered {
                font-size: 14px;
                line-height: 34px;
                padding-left: 12px;
                padding-right: 55px;
                color: $color_big_title;
                transition: .2s;
            }

            &__arrow {
                height: 12px;
                right: 8px;
                color: $color_big_title;
                transition: .2s;

                b {
                    border: none;
                    padding: 0;

                    &:before {
                        content: '\f0d7';
                        font-family: "Font Awesome 5 Free", "Roboto", Arial, Helvetica, sans-serif;
                        font-weight: 900;
                        font-size: 16px;
                    }
                }
            }

            &__clear {
                height: 35px;
                position: absolute;
                margin-right: 33px;
                right: 0;
            }
        }

        &:hover {
            background-color: $searchcv_border_5;
        }
    }

    .filtercv-select2-dropdown {
        @extend %dropdown_style_2;
        animation: show-height-50 .2s both;

        .select2-results {
            &__option {
                font-size: 14px;
                padding-left: 12px;
                color: $color_big_title;
                transition: all .1s;

                &--disabled {
                    color: $color_gray;
                }

                &--highlighted {
                    background-color: $searchcv_button_red;
                    color: $color_white;
                }

            }
        }
    }

    &.select2-container--open {
        .ci_form_select2-selection {
            background-color: $searchcv_gray_input_focus;
        }
    }

    &.select2-container--focus {
        .ci_form_select2-selection, .ci_form_select2-multiple-selection {
            border: 1px solid $pj_nav_border_right_active;
        }

    }

    &.select2-container--disabled {
        .ci_form_select2-selection {
            cursor: not-allowed;
        }

        &.select2-container--focus {
            .ci_form_select2-selection {
                border: 1px solid $searchcv_border_input;
            }
        }
    }

    .dichvu {
        width: 250px !important;
    }
}

.daterangepicker {
    animation: coming-down-short .15s both;
    border-radius: 2px;
    border: none;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);

    .ranges {
        ul li {
            color: $color_black;

            &:last-child {
                visibility: hidden;
            }

            &.active {
                color: $color_black;
                background-color: $ranges_item_background;
            }
        }
    }

    .drp-buttons {
        .applyBtn {
            @include setTextStyleColor(14px, 16px, normal, $color_white);
            background-color: $color_red;
            border: none;
            box-shadow: none;
            padding: 0 16px;
            height: 32px;
        }
    }

    .drp-calendar {
        .calendar-table {
            .table-condensed {
                tr {
                    td {
                        &.active {
                            background-color: $ranges_item_active;
                        }
                    }
                }
            }
        }
    }

    select {
        &.monthselect, &.yearselect, &.hourselect, &.minuteselect {
            cursor: pointer;
            background: #eee;
            border: 1px solid #eee;
        }
    }
}

.zindex-1 {
    z-index: 1;
}

.mx-n12 {
    margin-right: -12px;
    margin-left: -12px;
}

.px-12 {
    padding-right: 12px;
    padding-left: 12px;
}

.pt-20 {
    padding-top: 20px;
}

.mb-100 {
    margin-bottom: 100px;
}

.error-text {
    @include setTextStyleColor(12px, 14px, normal, $color_red);
    min-height: 14px;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 3px;
}

.required-form {
    &:after {
        content: '*';
        color: $color_red;
    }
}

.error-input {
    border: 1px solid $color_red !important;
}

.error-form .select2-selection,
.error-form .bootstrap-tagsinput,
.error-form .tox-tinymce {
    border: 1px solid $color_red !important;
}

.no-min-height {
    min-height: 0 !important;
}

.tox-tinymce {
    border: 1px solid $searchcv_border_input !important;
    border-radius: 2px !important;
}

@keyframes ldio-nah0zr0jos {
    0% {
        transform: translate(9px, 43px) scale(0);
    }
    25% {
        transform: translate(9px, 43px) scale(0);
    }
    50% {
        transform: translate(9px, 43px) scale(1);
    }
    75% {
        transform: translate(43px, 43px) scale(1);
    }
    100% {
        transform: translate(77px, 43px) scale(1);
    }
}

@keyframes ldio-nah0zr0jos-r {
    0% {
        transform: translate(77px, 43px) scale(1);
    }
    100% {
        transform: translate(77px, 43px) scale(0);
    }
}

@keyframes ldio-nah0zr0jos-c {
    0% {
        background: #1c4355
    }
    25% {
        background: #1c4355
    }
    50% {
        background: #1c4355
    }
    75% {
        background: #1c4355
    }
    100% {
        background: #1c4355
    }
}

.ldio-nah0zr0jos div {
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    transform: translate(43px, 43px) scale(1);
    background: #1c4355;
    animation: ldio-nah0zr0jos 1.7857142857142856s infinite cubic-bezier(0, 0.5, 0.5, 1);
}

.ldio-nah0zr0jos div:nth-child(1) {
    background: #1c4355;
    transform: translate(77px, 43px) scale(1);
    animation: ldio-nah0zr0jos-r 0.4464285714285714s infinite cubic-bezier(0, 0.5, 0.5, 1), ldio-nah0zr0jos-c 1.7857142857142856s infinite step-start;
}

.ldio-nah0zr0jos div:nth-child(2) {
    animation-delay: -0.4464285714285714s;
    background: #1c4355;
}

.ldio-nah0zr0jos div:nth-child(3) {
    animation-delay: -0.8928571428571428s;
    background: #1c4355;
}

.ldio-nah0zr0jos div:nth-child(4) {
    animation-delay: -1.3392857142857142s;
    background: #1c4355;
}

.ldio-nah0zr0jos div:nth-child(5) {
    animation-delay: -1.7857142857142856s;
    background: #1c4355;
}

.loadingio-spinner-ellipsis-1iw6fqic5l {
    width: 54px;
    height: 54px;
    display: inline-block;
    overflow: hidden;
    background: rgba(255, 255, 255, 0);
}

.ldio-nah0zr0jos {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(0.54);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
}

.ldio-nah0zr0jos div {
    box-sizing: content-box;
}