.hh__body {
  &--sidebar {
    &-tom {
      margin-bottom: 7px;
    }

    &-tom, &-diligence {
      background: #FFFFFF;
      border: 1px solid #C8C8C8;
      box-shadow: 0 1px 10px rgba(0, 0, 0, 0.05);
      border-radius: 8px;
    }

    &-header {
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      position: relative;

      &.header-tom {
        height: 127px;
        background-image: url("../../../../images/header-sidebar.png");
      }

      &.header-diligence {
        background-image: url("../../../../images/diligence-header.png");
        height: 62px;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }

    &-banner {
      background-image: url("../../../../images/banner.png");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      top: 22px;
      position: absolute;
      width: 100%;
      height: 37px;
    }

    &-topAvt {
      position: absolute;
      top: 55%;
      left: 50%;
      transform: translateX(-50%);
    }

    &-title {
      @include setTextStyleColor(22px, 26px, 800, #fff);
      text-transform: uppercase;
      text-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
      text-align: center;
      padding-top: 2px;
      padding-left: 3px;
    }

    &-subtitle {
      text-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
      @include setTextStyleColor(14px, 17px, 600, #fff);
      text-align: center;
    }

    &-top {
      text-align: center;
      padding-top: 36px;
    }

    &-topName {
      @include setTextStyleColor(18px, 22px, 600, #3C3C3C);
    }

    &-topStar {
      @include setTextStyleColor(26px, 150%, 500, #EBA23D);
      display: flex;
      justify-content: center;

      img {
        width: 21px;
        margin-left: 5px;
      }
    }

    &-list {
      padding: 7px 20px 24px;

      &.diligence-list {
        max-height: 340px;
        overflow: auto;

        &::-webkit-scrollbar {
          width: 8px;
          border-radius: 8px;
        }

        &::-webkit-scrollbar-track {
          background: transparent;
        }

        &::-webkit-scrollbar-thumb {
          background: #C4C4C4;
          border-radius: 8px;
        }

        &::-webkit-scrollbar-thumb:hover {
          background: #888;
        }
      }
    }

    &-item {
      display: flex;
      align-items: center;
      border-bottom: 1px solid #E6E6E6;
      padding: 7px 0;

      &:last-child {
        border-bottom: none;
      }

      &.diligence-item {
        padding-left: 63px;

        img {
          margin-right: 23px;
        }
      }
    }

    &-stt {
      @include setTextStyleColor(36px, 43px, 900, rgba(255, 137, 96, 0.3));
      padding-right: 22px;
    }

    &-content {
      display: flex;
      justify-content: space-between;
      width: 100%;
      align-items: center;
    }

    &-info {
      display: flex;
      align-items: center;

      span {
        overflow: hidden;
        display: -webkit-box;
        word-break: break-word;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }

      img {
        width: 39px;
        margin-right: 13px;
      }
    }

    &-name {
      @include setTextStyleColor(15px, 18px, 600, #3C3C3C);
      display: block;
      max-width: 140px;
    }

    &-star {
      @include setTextStyleColor(20px, 150%, 500, #EBA23D);
    }
  }

  &--content {
    background-color: #fff;
    border: 1px solid #CECECE;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    height: 100%;

    &-header {
      background-image: url("../../../../images/header-content.png");
      height: 127px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

    &-list {
      padding: 40px;
    }

    &-title {
      text-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
      @include setTextStyleColor(24px, 29px, 800, #fff);
      text-transform: uppercase;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
    }

    &-list-title {
      display: flex;

      .text-title {
        @include setTextStyleColor(16px, 22px, bold, #363636);
        padding-bottom: 11px;
        border-bottom: 1px solid #898989;

        &.name {
          flex: 2;
          padding-left: 30px;
        }

        &.content {
          flex: 2;
        }

        &.appellation {
          flex: 1;
          text-align: center;
        }
      }
    }

    &-list-item {
      max-height: 655px;
      overflow: auto;
      &::-webkit-scrollbar {
        width: 8px;
        border-radius: 8px;
      }

      &::-webkit-scrollbar-track {
        background: transparent;
      }

      &::-webkit-scrollbar-thumb {
        background: #C4C4C4;
        border-radius: 8px;
      }

      &::-webkit-scrollbar-thumb:hover {
        background: #888;
      }
    }

    &-item {
      display: flex;
      align-items: center;
      padding: 20px 0;
      border-bottom: 1px solid #E3E3E3;
    }

    &-info {
      display: flex;
      align-items: center;
      flex: 2;

      img {
        width: 52px;
        margin-right: 22px;
      }
    }

    &-name {
      @include setTextStyleColor(18px, 22px, 600, #3C3C3C);
    }

    &-content {
      flex: 2;
    }

    &-des {
      @include setTextStyleColor(18px, 22px, 500, #6A6A6A);
    }

    &-subdes {
      @include setTextStyleColor(18px, 22px, 500, #A0A0A0);

      span {
        color: #EBA23D;
      }
    }

    &-appellation {
      flex: 1;
      text-align: center;
    }
  }

}