/*=============== @include ===============*/

/*=============== End @include ===============*/

/*=============== @extend ===============*/

/*=============== End @extend ===============*/

.hh__body--sidebar-tom {
  margin-bottom: 7px;
}

.hh__body--sidebar-tom,
.hh__body--sidebar-diligence {
  background: #FFFFFF;
  border: 1px solid #C8C8C8;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
}

.hh__body--sidebar-header {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.hh__body--sidebar-header.header-tom {
  height: 127px;
  background-image: url(/images/header-sidebar.png?5f670672602f3db3348a926f902e67ba);
}

.hh__body--sidebar-header.header-diligence {
  background-image: url(/images/diligence-header.png?c2bfe40d7333baa1e5c9f06b75478d14);
  height: 62px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hh__body--sidebar-banner {
  background-image: url(/images/banner.png?abd0f80837f1de61f851fcb00a0479e6);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  top: 22px;
  position: absolute;
  width: 100%;
  height: 37px;
}

.hh__body--sidebar-topAvt {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translateX(-50%);
}

.hh__body--sidebar-title {
  font-size: 22px;
  line-height: 26px;
  font-weight: 800;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
  padding-top: 2px;
  padding-left: 3px;
}

.hh__body--sidebar-subtitle {
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  font-size: 14px;
  line-height: 17px;
  font-weight: 600;
  color: #fff;
  text-align: center;
}

.hh__body--sidebar-top {
  text-align: center;
  padding-top: 36px;
}

.hh__body--sidebar-topName {
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
  color: #3C3C3C;
}

.hh__body--sidebar-topStar {
  font-size: 26px;
  line-height: 150%;
  font-weight: 500;
  color: #EBA23D;
  display: flex;
  justify-content: center;
}

.hh__body--sidebar-topStar img {
  width: 21px;
  margin-left: 5px;
}

.hh__body--sidebar-list {
  padding: 7px 20px 24px;
}

.hh__body--sidebar-list.diligence-list {
  max-height: 340px;
  overflow: auto;
}

.hh__body--sidebar-list.diligence-list::-webkit-scrollbar {
  width: 8px;
  border-radius: 8px;
}

.hh__body--sidebar-list.diligence-list::-webkit-scrollbar-track {
  background: transparent;
}

.hh__body--sidebar-list.diligence-list::-webkit-scrollbar-thumb {
  background: #C4C4C4;
  border-radius: 8px;
}

.hh__body--sidebar-list.diligence-list::-webkit-scrollbar-thumb:hover {
  background: #888;
}

.hh__body--sidebar-item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #E6E6E6;
  padding: 7px 0;
}

.hh__body--sidebar-item:last-child {
  border-bottom: none;
}

.hh__body--sidebar-item.diligence-item {
  padding-left: 63px;
}

.hh__body--sidebar-item.diligence-item img {
  margin-right: 23px;
}

.hh__body--sidebar-stt {
  font-size: 36px;
  line-height: 43px;
  font-weight: 900;
  color: rgba(255, 137, 96, 0.3);
  padding-right: 22px;
}

.hh__body--sidebar-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.hh__body--sidebar-info {
  display: flex;
  align-items: center;
}

.hh__body--sidebar-info span {
  overflow: hidden;
  display: -webkit-box;
  word-break: break-word;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.hh__body--sidebar-info img {
  width: 39px;
  margin-right: 13px;
}

.hh__body--sidebar-name {
  font-size: 15px;
  line-height: 18px;
  font-weight: 600;
  color: #3C3C3C;
  display: block;
  max-width: 140px;
}

.hh__body--sidebar-star {
  font-size: 20px;
  line-height: 150%;
  font-weight: 500;
  color: #EBA23D;
}

.hh__body--content {
  background-color: #fff;
  border: 1px solid #CECECE;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  height: 100%;
}

.hh__body--content-header {
  background-image: url(/images/header-content.png?832e16e8afc626f61394c788da0212a7);
  height: 127px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hh__body--content-list {
  padding: 40px;
}

.hh__body--content-title {
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  font-size: 24px;
  line-height: 29px;
  font-weight: 800;
  color: #fff;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.hh__body--content-list-title {
  display: flex;
}

.hh__body--content-list-title .text-title {
  font-size: 16px;
  line-height: 22px;
  font-weight: bold;
  color: #363636;
  padding-bottom: 11px;
  border-bottom: 1px solid #898989;
}

.hh__body--content-list-title .text-title.name {
  flex: 2;
  padding-left: 30px;
}

.hh__body--content-list-title .text-title.content {
  flex: 2;
}

.hh__body--content-list-title .text-title.appellation {
  flex: 1;
  text-align: center;
}

.hh__body--content-list-item {
  max-height: 655px;
  overflow: auto;
}

.hh__body--content-list-item::-webkit-scrollbar {
  width: 8px;
  border-radius: 8px;
}

.hh__body--content-list-item::-webkit-scrollbar-track {
  background: transparent;
}

.hh__body--content-list-item::-webkit-scrollbar-thumb {
  background: #C4C4C4;
  border-radius: 8px;
}

.hh__body--content-list-item::-webkit-scrollbar-thumb:hover {
  background: #888;
}

.hh__body--content-item {
  display: flex;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid #E3E3E3;
}

.hh__body--content-info {
  display: flex;
  align-items: center;
  flex: 2;
}

.hh__body--content-info img {
  width: 52px;
  margin-right: 22px;
}

.hh__body--content-name {
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
  color: #3C3C3C;
}

.hh__body--content-content {
  flex: 2;
}

.hh__body--content-des {
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
  color: #6A6A6A;
}

.hh__body--content-subdes {
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
  color: #A0A0A0;
}

.hh__body--content-subdes span {
  color: #EBA23D;
}

.hh__body--content-appellation {
  flex: 1;
  text-align: center;
}

