/*=============== @include ===============*/

/*=============== End @include ===============*/

/*=============== @extend ===============*/

/*=============== End @extend ===============*/

.hn__body .hn__sidebar--card {
  border: 1px solid #C7C7C7;
  box-sizing: border-box;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  background-color: #fff;
}

.hn__body .hn__sidebar--contact-bottom {
  display: flex;
  justify-content: space-between;
  padding: 10px 35px;
  text-align: center;
  position: relative;
}

.hn__body .hn__sidebar--contact-bottom p {
  margin-bottom: 0;
}

.hn__body .hn__sidebar--contact-bottom:after {
  content: "";
  width: 1px;
  background-color: #DADADA;
  height: 90%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
}

.hn__body .hn__sidebar--img {
  position: relative;
}

.hn__body .hn__sidebar--img img {
  width: 100%;
}

.hn__body .hn__sidebar--img:before {
  content: "";
  background: #1C354E;
  border-radius: 5px 5px 0 0;
  height: 6px;
  position: absolute;
  width: 100%;
  bottom: 100%;
}

.hn__body .hn__sidebar--logo {
  background-color: #fff;
  height: 86px;
  width: 86px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, 50%);
  left: 50%;
  bottom: 100%;
  z-index: -1;
}

.hn__body .hn__sidebar--logo img {
  width: unset;
}

.hn__body .hn__sidebar--personal {
  padding: 30px 0;
  text-align: center;
  position: relative;
  z-index: 0;
  border-bottom: 1px solid #DADADA;
}

.hn__body .hn__sidebar--job {
  font-size: 14px;
  line-height: 17px;
  font-weight: 600;
  color: #A97C28;
  margin-bottom: 11px;
}

.hn__body .hn__sidebar--name {
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
  color: #3C3C3C;
  margin-bottom: 5px;
}

.hn__body .hn__sidebar--gmail {
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
  color: #636363;
}

.hn__body .hn__sidebar--text {
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
  color: #373E4C;
}

.hn__body .hn__sidebar--star {
  font-size: 20px;
  line-height: 150%;
  font-weight: 500;
  color: #EBA23D;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hn__body .hn__sidebar--star img {
  padding-left: 4px;
}

.hn__body .hn__sidebar--achievements {
  margin-top: 16px;
  padding: 20px 37px;
}

.hn__body .hn__sidebar--achievements-title {
  font-size: 16px;
  line-height: 19px;
  font-weight: bold;
  color: #5C5C5C;
  margin-bottom: 18px;
}

.hn__body .hn__sidebar--achievements-list {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}

.hn__body .hn__sidebar--achievements-item {
  width: 60px;
}

.hn__body .hn__sidebar--info-item {
  border-bottom: 1px solid #D6D6D6;
  margin-bottom: 14px;
}

.hn__body .hn__sidebar--info-item:last-child {
  border-bottom: none;
}

.hn__body .hn__sidebar--info-title {
  font-size: 14px;
  line-height: 17px;
  font-weight: 500;
  color: #787878;
  margin-bottom: 6px;
}

.hn__body .hn__sidebar--info-text {
  font-size: 16px;
  line-height: 19px;
  font-weight: 600;
  color: #4A4A4A;
  margin-bottom: 15px;
}

.hn__body .hn__sidebar--donate {
  border: 1px solid #BFBFBF;
  box-sizing: border-box;
  border-radius: 30px;
  background-color: transparent;
  padding: 15px 25px;
  width: 100%;
  margin-top: 8px;
}

.hn__body--main {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.hn__body--main-nav {
  border-bottom: none;
}

.hn__body--main-nav .nav-link {
  background: #E4E4E4;
  border-radius: 30px;
  padding: 16px 45px;
  transition: all 0.2s;
  margin-right: 16px;
  font-size: 16px;
  line-height: 19px;
  font-weight: 600;
  color: #2F2F2F;
}

.hn__body--main-nav .nav-link svg {
  margin-right: 15px;
}

.hn__body--main-nav .nav-link:hover,
.hn__body--main-nav .nav-link.active {
  background: linear-gradient(180deg, #6399B5 0%, #327295 100%);
  color: #fff;
}

.hn__body--main-nav .nav-link:hover svg path,
.hn__body--main-nav .nav-link:hover svg rect,
.hn__body--main-nav .nav-link.active svg path,
.hn__body--main-nav .nav-link.active svg rect {
  fill: #fff;
}

.hn__body--main-content {
  margin-top: 28px;
  height: 100%;
}

.hn__body--main-content .tab-pane {
  background: #FFFFFF;
  border: 0.5px solid #BEBEBE;
  box-shadow: 0 1px 2px rgba(100, 100, 100, 0.1);
  border-radius: 4px;
  height: 100%;
}

.hn__body--main-content .introduce {
  padding: 32px;
}

.hn__body--main-content .introduce-title,
.hn__body--main-content .introduce-text {
  margin-bottom: 30px;
}

.hn__body--main-content .achievements {
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
}

.hn__body--main-content .achievements__item {
  background-color: #fff;
}

.hn__body--main-content .achievements-title {
  margin-bottom: 3px;
}

.hn__body--main-content .achievements-text {
  line-height: 23px;
}

.hn__body--main-content .honors {
  position: relative;
  padding: 70px 36px 0;
}

.hn__body--main-content .honors__item {
  justify-content: space-between;
  padding: 35px 28px;
  background: #FAF5EE;
  box-shadow: 0 20px 60px rgba(241, 244, 248, 0.5);
  border-radius: 4px;
}

.hn__body--main-content .honors-avt {
  width: 70px;
}

.hn__body--main-content .honors:before {
  content: "";
  position: absolute;
  background-color: #F18D52;
  box-shadow: 0 1px 2px rgba(100, 100, 100, 0.1);
  border-radius: 4px 4px 0 0;
  top: 0;
  width: 100%;
  height: 4px;
  left: 0;
}

.hn__body--main-content .honors:after {
  content: "";
  background-image: url(/images/oval.svg?4840ada983ec1df1368bec8fdd9e3bc6);
  position: absolute;
  left: 50%;
  transform: translate(-50%, -30%);
  top: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 65px;
  height: 65px;
}

.hn__body--main-content .honors-title {
  margin-bottom: 11px;
}

.hn__body--main-content .honors-des {
  font-size: 16px;
  line-height: 150%;
  font-weight: 600;
  color: #7E7E7E;
}

.hn__body--main-content .honors-donate {
  font-size: 40px;
  line-height: 150%;
  font-weight: 500;
  color: #EBA23D;
  display: flex;
  align-items: center;
  margin-left: 40px;
}

.hn__body--main-content .honors-donate img {
  width: 26px;
  margin-left: 12px;
}

.hn__body--main-content_title {
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
  color: #303030;
}

.hn__body--main-content_item {
  padding: 25px 30px 30px;
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.hn__body--main-content_info {
  padding-left: 37px;
}

.hn__body--main-content_text {
  font-size: 16px;
  line-height: 32px;
  font-weight: normal;
  color: #555555;
}

.hn__body--main-content_time {
  font-size: 14px;
  line-height: 150%;
  font-weight: 500;
  color: #767676;
  margin-bottom: 11px;
}

.hn__body--main-content_pagination {
  display: flex;
  justify-content: center;
  padding-top: 25px;
}

.hn__body--main-content_pagination .page-link {
  font-size: 16px;
  line-height: 22px;
  font-weight: 600;
  color: #1C4355;
  background-color: transparent;
  border: none;
  padding: 0;
  height: 36px;
  width: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
}

.hn__body--main-content_pagination .page-link.active,
.hn__body--main-content_pagination .page-link:hover {
  color: #fff;
  background-color: #5891AD;
  border-radius: 50%;
}

.hn__body--main-content_pagination .page-link.active path,
.hn__body--main-content_pagination .page-link:hover path {
  fill: #fff;
}

.hn__body--main-content_pagination .page-link:focus {
  outline: none;
  box-shadow: none;
}

#donate_star_modal .modal-header {
  border-bottom: 1px solid #C4C4C4;
  padding: 0 0 18px;
}

#donate_star_modal .modal-dialog {
  max-width: 523px;
}

#donate_star_modal .modal-body {
  padding: 0;
}

#donate_star_modal .modal-content {
  position: relative;
  border-radius: 8px;
  padding: 25px 44px 36px 30px;
}

#donate_star_modal .modal-content:after {
  content: "";
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 8px;
  background: #F18D52;
  border-radius: 8px 8px 0 0;
}

#donate_star_modal .modal-title {
  font-size: 24px;
  line-height: 150%;
  font-weight: 600;
  color: #424242;
}

#donate_star_modal .modal-body_title {
  font-size: 16px;
  line-height: 19px;
  font-weight: 600;
  color: #4A4A4A;
  margin: 20px 0 12px;
}

#donate_star_modal .modal-body_star-list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

#donate_star_modal .modal-body_star-item {
  border: 1px solid #BFBFBF;
  box-sizing: border-box;
  border-radius: 30px;
  width: 101px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  line-height: 19px;
  font-weight: bold;
  color: #F3A056;
  background-color: #fff;
}

#donate_star_modal .modal-body_star-item img {
  margin-left: 4px;
}

#donate_star_modal .modal-body_input {
  height: 36px;
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
  color: #8B8B8B;
}

#donate_star_modal .modal-body_input,
#donate_star_modal .modal-body_messages {
  width: 100%;
  padding: 0 16px;
  background-color: #F1F1F1;
  border: none;
}

#donate_star_modal .modal-body_messages {
  height: 178px;
  padding-top: 8px;
}

#donate_star_modal .modal-footer {
  border-top: none;
  margin: auto;
  padding: 0;
}

#donate_star_modal .modal-footer_donate {
  border: 1px solid #BFBFBF;
  box-sizing: border-box;
  border-radius: 30px;
  width: 235px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #373E4C;
}

