/**
*	Ryan - Resume/CV/vCard Template (HTML)
*	Version: 2.0
*	Author: beshleyua
*	Author URL: http://themeforest.net/user/beshleyua
*	Copyright © Cvio by beshleyua. All Rights Reserved.
**/

/* TABLE OF CONTENTS
	1. Template Blue
*/

/* 1. Template Blue */
.background {
	background-color: rgba(8, 86, 193, 0.4);
}

.preloader .spinner .double-bounce1,
.preloader .spinner .double-bounce2 {
	background: #0856c1;
}

.lnk:hover,
.button:hover {
	color: #0856c1;
}

.lnk:hover .ion,
.button:hover .ion {
	color: #0856c1;
}

.lnk:hover .arrow:before,
.button:hover .arrow:before,
.lnk:hover .arrow:after,
.button:hover .arrow:after {
	background: #0856c1;
}

input:focus,
textarea:focus,
button:focus {
	border-bottom: 1px solid #0856c1;
}

button:hover {
	border-bottom: 1px solid #0856c1;
}

.header .top-menu ul li:hover a,
.header .top-menu ul li.active a {
	color: #0856c1;
}

.header .top-menu ul li:hover a .icon,
.header .top-menu ul li.active a .icon,
.header .top-menu ul li:hover a .link,
.header .top-menu ul li.active a .link {
	color: #0856c1;
}

.card-started:after {
	background: -moz-linear-gradient(-45deg, rgba(8, 86, 193, 0.4) 0%, rgba(8, 86, 193, 0.01) 100%);
	background: -webkit-linear-gradient(-45deg, rgba(8, 86, 193, 0.4) 0%, rgba(8, 86, 193, 0.01) 100%);
	background: linear-gradient(135deg, rgba(8, 86, 193, 0.4) 0%, rgba(8, 86, 193, 0.01) 100%);
}

.card-started .profile .image:before {
	background: -moz-linear-gradient(-45deg, rgba(8, 86, 193, 0.4) 0%, rgba(8, 86, 193, 0.01) 100%);
	background: -webkit-linear-gradient(-45deg, rgba(8, 86, 193, 0.4) 0%, rgba(8, 86, 193, 0.01) 100%);
	background: linear-gradient(135deg, rgba(8, 86, 193, 0.4) 0%, rgba(8, 86, 193, 0.01) 100%);
}

.card-started .profile .subtitle {
	color: #0856c1;
}

.card-started .profile .social a:hover .ion,
.card-started .profile .social a:hover .fab,
.card-started .profile .social a:hover .fas {
	color: #0856c1;
}

.content .title:before {
	background: -moz-linear-gradient(-45deg, rgba(8, 86, 193, 0.4) 0%, rgba(8, 86, 193, 0.01) 100%);
	background: -webkit-linear-gradient(-45deg, rgba(8, 86, 193, 0.4) 0%, rgba(8, 86, 193, 0.01) 100%);
	background: linear-gradient(135deg, rgba(8, 86, 193, 0.4) 0%, rgba(8, 86, 193, 0.01) 100%);
}

.service-items .service-item .icon {
	color: #0856c1;
	background: -moz-linear-gradient(-45deg, rgba(8, 86, 193, 0.4) 0%, rgba(8, 86, 193, 0.01) 100%);
	background: -webkit-linear-gradient(-45deg, rgba(8, 86, 193, 0.4) 0%, rgba(8, 86, 193, 0.01) 100%);
	background: linear-gradient(135deg, rgba(8, 86, 193, 0.4) 0%, rgba(8, 86, 193, 0.01) 100%);
}

.pricing-items .pricing-item .icon {
	color: #0856c1;
}

.pricing-items .pricing-item .feature-list ul li strong {
	background: rgba(8, 86, 193, 0.4);
}

.fuct-items .fuct-item .icon {
	color: #0856c1;
}

.resume-title .icon,
.skill-title .icon {
	color: #0856c1;
}

.resume-items .resume-item.active .date {
	color: #0856c1;
}

.resume-items .resume-item.active .date:before {
	background: #0856c1;
}

.skills-list ul li .progress .percentage {
	background: #0856c1;
}

.content.works .filter-menu .f_btn.active {
	color: #0856c1;
}

.box-item .image .info:before {
	background: -moz-linear-gradient(-45deg, rgba(8, 86, 193, 0.4) 0%, rgba(8, 86, 193, 0.01) 100%);
	background: -webkit-linear-gradient(-45deg, rgba(8, 86, 193, 0.4) 0%, rgba(8, 86, 193, 0.01) 100%);
	background: linear-gradient(135deg, rgba(8, 86, 193, 0.4) 0%, rgba(8, 86, 193, 0.01) 100%);
}

.post-box .blog-content blockquote {
	border-left: 2px solid #0856c1;
}

.post-box .blog-content ul.list-style li:before {
	background: #0856c1;
}

.post-box .post-comments li .comment-info .name h6 {
	color: #0856c1;
}

.background.gradient {
	background: #50a3a2;
	background: -webkit-linear-gradient(top left, #48b1bf 0%, #0856c1 100%);
	background: linear-gradient(to bottom right, #48b1bf 0%, #0856c1 100%);
}

/*
	New Styles
*/

.skills-list.list ul li .name:before {
	color: #0856c1;
}

.skills-list.dotted ul li .progress .da span {
	background: #0856c1!important;
}

.skills-list.circles .progress .bar, 
.skills-list.circles .progress.p51 .fill, 
.skills-list.circles .progress.p52 .fill, 
.skills-list.circles .progress.p53 .fill, 
.skills-list.circles .progress.p54 .fill, 
.skills-list.circles .progress.p55 .fill, 
.skills-list.circles .progress.p56 .fill, 
.skills-list.circles .progress.p57 .fill, 
.skills-list.circles .progress.p58 .fill, 
.skills-list.circles .progress.p59 .fill, 
.skills-list.circles .progress.p60 .fill, 
.skills-list.circles .progress.p61 .fill, 
.skills-list.circles .progress.p62 .fill, 
.skills-list.circles .progress.p63 .fill, 
.skills-list.circles .progress.p64 .fill, 
.skills-list.circles .progress.p65 .fill, 
.skills-list.circles .progress.p66 .fill, 
.skills-list.circles .progress.p67 .fill, 
.skills-list.circles .progress.p68 .fill, 
.skills-list.circles .progress.p69 .fill, 
.skills-list.circles .progress.p70 .fill, 
.skills-list.circles .progress.p71 .fill, 
.skills-list.circles .progress.p72 .fill, 
.skills-list.circles .progress.p73 .fill, 
.skills-list.circles .progress.p74 .fill, 
.skills-list.circles .progress.p75 .fill, 
.skills-list.circles .progress.p76 .fill, 
.skills-list.circles .progress.p77 .fill, 
.skills-list.circles .progress.p78 .fill, 
.skills-list.circles .progress.p79 .fill, 
.skills-list.circles .progress.p80 .fill, 
.skills-list.circles .progress.p81 .fill, 
.skills-list.circles .progress.p82 .fill, 
.skills-list.circles .progress.p83 .fill, 
.skills-list.circles .progress.p84 .fill, 
.skills-list.circles .progress.p85 .fill, 
.skills-list.circles .progress.p86 .fill, 
.skills-list.circles .progress.p87 .fill, 
.skills-list.circles .progress.p88 .fill, 
.skills-list.circles .progress.p89 .fill, 
.skills-list.circles .progress.p90 .fill, 
.skills-list.circles .progress.p91 .fill, 
.skills-list.circles .progress.p92 .fill, 
.skills-list.circles .progress.p93 .fill, 
.skills-list.circles .progress.p94 .fill, 
.skills-list.circles .progress.p95 .fill, 
.skills-list.circles .progress.p96 .fill, 
.skills-list.circles .progress.p97 .fill, 
.skills-list.circles .progress.p98 .fill, 
.skills-list.circles .progress.p99 .fill, 
.skills-list.circles .progress.p100 .fill {
	border: 0.09em solid #0856c1;
}

input:focus,
textarea:focus {
	border-color: #0856c1;
}

.card-started .profile .subtitle, 
.card-started .profile .typed-cursor {
	color: #0856c1;
}

.content .title .first-word {
	color: #0856c1;
}

.content .title::first-letter,
.content .title .first-letter::first-letter {
	color: #0856c1;
}

.new-skin .service-items .service-item .icon {
	background: #0856c1!important;
}

.resume-items .resume-item.active .date {
	border-color: #0856c1;
}

.box-item:hover .desc .name {
	color: #0856c1;
}

.new-skin .info-list ul li strong {
	background: #0856c1;
}

.revs-carousel .owl-dots .owl-dot {
	border-color: #0856c1;
}

.revs-carousel .owl-dot.active {
	background: #0856c1;
}


/*====================================*/


.edit-button {
	color: #0856c1;
}

.edit-button:hover:before, .edit-button:focus:before {
	background-color: #0856c1;
}

.ryan-form-control .ryan-input__text:focus, textarea:focus, .ryan-input__select:focus {
	border: 1px solid #0856c1 !important;
}

.modal-title {
	border-bottom: 3px solid #0856c1 !important;
}
.selected {
	background-color: #0856c1 !important;
}
.service-more:hover {
	color: #0856c1 !important;
}
.ryan-input__currentdate--labelinput {
	border: 1px solid #0856c1 !important;
}
.ryan-form-control .ryan-input__currentdate .ryan-input__currentdate--input:checked+
.ryan-input__currentdate--label .ryan-input__currentdate--labelinput {
	background-color: #0856c1;
}
.slider-input::-webkit-slider-thumb {
	background-color: #0856c1 !important;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
	background-color: #0856c1 !important;
}

.box__drop svg path {
	fill: #0856c1 !important;
}

.service-item__edit-button:before {
	background-color: #0856c1 !important;
}

.item-option__edit:hover, .item-option__delete:hover {
	color: #0856c1 !important;
}

.works-item__delete:hover {
	background-color: #0856c1 !important;
}

@media screen and (max-width: 575px) {
	input, .ryan-input__select {
		border: none !important;
		border-bottom: 1px solid #d2d2d2 !important;
	}

	input:focus, textarea:focus, .ryan-input__select:focus, .ryan-form-control .ryan-input__text:focus {
		border: none !important;
		border-bottom: 2px solid #0856c1 !important;
	}

	.ryan-form__submit {
		background-color: #0856c1;
	}
}
