button,
button:hover,
button:focus,
select,
select:hover,
select:focus,
input,
textarea {
  outline: none;
}

.aveo-dialog .modal-content .modal-body .aveo-form-control .input-gallery-list .gallery-item__image {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.aveo-dialog .modal-content .modal-body .aveo-form-control .input-gallery-list .gallery-item__title {
  overflow: hidden;
  display: -webkit-box;
  word-break: break-word;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.hidden {
  display: none !important;
}

.banned-scroll {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.position-relative {
  position: relative;
}

.color-red {
  color: #D80101;
}

[type=button],
[type=reset],
[type=submit],
button {
  -webkit-appearance: unset;
  -moz-appearance: unset;
}

input[type=number] {
  -moz-appearance: textfield;
}

@media screen and (min-width: 992px) {
  .app-mobile {
    display: none !important;
  }
}

@media screen and (max-width: 991.98px) {
  .app-desktop {
    display: none !important;
  }
}

.aveo-pt-15px {
  padding-top: 15px;
}

.aveo-edit__about,
.aveo-edit__profile {
  position: absolute;
  top: 30px;
  right: 20px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  padding: 0;
  font-size: 20px;
  box-shadow: none !important;
  color: #fff;
  border-radius: 50%;
  z-index: 2;
  overflow: hidden;
}

.aveo-edit__about i,
.aveo-edit__profile i {
  position: relative;
  transition: all 0.2s;
}

.aveo-edit__about:after,
.aveo-edit__profile:after {
  content: "";
  position: absolute;
  top: 0;
  left: 50px;
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 50%;
  z-index: -1;
  transition: all 0.3s;
}

.aveo-edit__about:hover,
.aveo-edit__profile:hover,
.aveo-edit__about:focus,
.aveo-edit__profile:focus {
  box-shadow: none;
}

.aveo-edit__about:hover i,
.aveo-edit__profile:hover i,
.aveo-edit__about:focus i,
.aveo-edit__profile:focus i {
  color: #2ECA7F;
}

.aveo-edit__about:hover:after,
.aveo-edit__profile:hover:after,
.aveo-edit__about:focus:after,
.aveo-edit__profile:focus:after {
  left: 0;
}

.aveo-edit__about:focus,
.aveo-edit__profile:focus {
  transform: scale(0.9);
  transition: 0.1s;
}

.aveo-edit__about.reverse-color,
.reverse-color.aveo-edit__profile {
  color: #2ECA7F;
}

.aveo-edit__about.reverse-color:after,
.reverse-color.aveo-edit__profile:after {
  background-color: #2ECA7F;
}

.aveo-edit__about.reverse-color:hover i,
.reverse-color.aveo-edit__profile:hover i,
.aveo-edit__about.reverse-color:focus i,
.reverse-color.aveo-edit__profile:focus i {
  color: #fff;
}

@media screen and (max-width: 575.98px) {
  .aveo-edit__about,
  .aveo-edit__profile {
    top: 10px;
    right: 10px;
  }

  .aveo-edit__about.reverse-color,
  .reverse-color.aveo-edit__profile {
    top: 38px;
    right: 15px;
  }
}

.aveo-edit__profile {
  top: 15px;
  right: 10px;
  cursor: pointer;
  background-color: #2ECA7F;
}

.aveo-edit__profile i {
  color: #fff;
}

.aveo-edit__profile:after {
  display: none;
}

.aveo-edit__profile:hover i,
.aveo-edit__profile:focus i {
  color: #fff;
}

@media screen and (max-width: 575.98px) {
  .aveo-edit__profile {
    top: 10px;
    right: 10px;
  }
}

.timeline-edit .edit-area__button,
.aveo-edit__gallery,
.aveo-edit__resume-title {
  position: relative;
  width: 50px;
  height: 40px;
  border-radius: 4px;
  box-shadow: none !important;
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  overflow: hidden;
}

.timeline-edit .edit-area__button i,
.aveo-edit__gallery i,
.aveo-edit__resume-title i {
  color: #2ECA7F;
  position: relative;
  transition: all 0.2s;
}

.timeline-edit .edit-area__button:before,
.aveo-edit__gallery:before,
.aveo-edit__resume-title:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  background-color: #2ECA7F;
  width: 0;
  height: 0;
  opacity: 0;
  transition: all 0.3s;
  z-index: -1;
}

.timeline-edit .edit-area__button:hover i,
.aveo-edit__gallery:hover i,
.aveo-edit__resume-title:hover i,
.timeline-edit .edit-area__button:focus i,
.aveo-edit__gallery:focus i,
.aveo-edit__resume-title:focus i {
  transform: scale(0.7);
  color: #fff;
}

.timeline-edit .edit-area__button:hover:before,
.aveo-edit__gallery:hover:before,
.aveo-edit__resume-title:hover:before,
.timeline-edit .edit-area__button:focus:before,
.aveo-edit__gallery:focus:before,
.aveo-edit__resume-title:focus:before {
  opacity: 1;
  width: 150%;
  height: 150%;
}

.aveo-edit__resume-title {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.aveo-edit__gallery {
  z-index: 1;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
}

.aveo-edit__gallery-edit {
  position: absolute;
  top: unset !important;
  bottom: 15px !important;
  left: unset !important;
  right: 15px !important;
  width: 65px;
  height: 30px;
  display: flex;
  z-index: 10;
  justify-content: space-between;
}

.aveo-edit__gallery-item {
  width: 30px;
  height: 30px;
  padding: 0;
  display: flex;
  box-shadow: none !important;
  transition: all 0.3s;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

.aveo-edit__gallery-item i {
  position: initial !important;
  color: #2ECA7F !important;
  transition: all 0.2s;
}

.aveo-edit__gallery-item:hover i {
  color: rgba(158, 81, 243, 0.8) !important;
}

.gallery-grid figure:nth-child(even) .aveo-edit__gallery-item i {
  color: rgba(158, 81, 243, 0.8) !important;
}

.gallery-grid figure:nth-child(even) .aveo-edit__gallery-item:hover i {
  color: #2ECA7F !important;
}

.timeline-edit {
  transition: all 0.3s;
}

.timeline-edit .edit-area {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  overflow: hidden;
  transition: all 0.3s;
  display: flex;
  padding: 5px 0;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 10px #fff;
}

.timeline-edit .edit-area__button {
  height: 35px;
  width: 50px;
  transition: all 0.2s;
  margin: 1px 5px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.timeline-edit .edit-area__button i {
  font-size: 16px;
}

.timeline-edit .edit-area__button:hover i,
.timeline-edit .edit-area__button:focus i {
  transform: unset !important;
}

@media screen and (max-width: 991.98px) {
  .timeline-edit .edit-area {
    width: 60px;
  }
}

.timeline-edit:hover .edit-area {
  width: 60px;
}

.skill-edit {
  display: flex;
}

.skill-edit .edit-view {
  width: 100%;
}

.skill-edit .edit-area {
  min-width: 0;
  width: 0;
  height: 30px;
  overflow: hidden;
  transition: all 0.3s;
  display: flex;
  justify-content: flex-end;
  background-color: rgba(255, 255, 255, 0.8);
}

.skill-edit .edit-area__button {
  height: 30px;
  width: 30px;
  transition: all 0.2s;
  padding: 0;
  background-color: transparent;
  box-shadow: none !important;
  border: none;
}

.skill-edit .edit-area__button i {
  font-size: 16px;
  color: #333;
  transition: all 0.2s;
}

.skill-edit .edit-area__button:hover i,
.skill-edit .edit-area__button:focus i {
  color: #2ECA7F;
}

@media screen and (max-width: 991.98px) {
  .skill-edit .edit-area {
    min-width: 70px;
    width: 70px;
  }
}

.skill-edit:hover .edit-area {
  min-width: 70px;
  width: 70px;
}

.knowledge-edit .edit-area__button {
  position: relative;
  cursor: pointer;
  margin-left: 8px;
  visibility: hidden;
  opacity: 0;
  color: #333;
  transition: all 0.2s;
}

.knowledge-edit .edit-area__button:hover {
  color: #2ECA7F;
}

@media screen and (max-width: 991.98px) {
  .knowledge-edit .edit-area__button {
    transform: scale(1);
    display: inline;
    opacity: 1;
    visibility: inherit;
    color: #707070;
  }
}

.knowledge-edit:hover .edit-area__button {
  transform: scale(1);
  display: inline;
  opacity: 1;
  visibility: inherit;
}

.service-image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.service-image i {
  font-size: 40px;
  color: #2ECA7F;
}

.service-edit {
  position: relative;
}

.service-edit .edit-area {
  position: absolute;
  top: 0;
  right: 0;
  height: 70px;
  width: 0;
  display: flex;
  flex-direction: column;
  transition: all 0.3s;
  overflow: hidden;
  opacity: 0;
}

.service-edit .edit-area__button {
  width: 100%;
  height: 35px;
  border: none;
  transition: all 0.2s;
  border-radius: 4px;
  padding: 0;
  background-color: transparent;
  color: #707070;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: none !important;
}

.service-edit .edit-area__button:before {
  display: none;
}

.service-edit .edit-area__button i {
  font-size: 16px;
}

.service-edit .edit-area__button:hover {
  color: #fff;
  background-color: #2ECA7F;
}

@media screen and (max-width: 991.98px) {
  .service-edit .edit-area {
    width: 35px;
    opacity: 1;
  }
}

.service-edit:hover .edit-area {
  width: 35px;
  opacity: 1;
}

@media screen and (min-width: 992px) {
  .pr-md-50 {
    padding-right: 50px;
  }

  .pl-md-50 {
    padding-left: 50px;
  }
}

.aveo-dialog .modal-content {
  border: none;
}

.aveo-dialog .modal-content .modal-header {
  position: relative;
  height: 70px;
  padding-top: 35px;
  padding-bottom: 0;
  padding-left: 85px;
  border-bottom: 1px solid #EBEBEB;
  display: flex;
  align-items: flex-end;
}

.aveo-dialog .modal-content .modal-header .close {
  position: absolute;
  right: 30px;
  top: 30px;
  border: none !important;
  box-shadow: none !important;
  padding: 0;
}

.aveo-dialog .modal-content .modal-header .modal-title {
  font-size: 18px;
  line-height: 21px;
  font-weight: 500;
  color: #333;
  position: relative;
  top: 1px;
  height: 100%;
  padding: 0 5px;
  border-bottom: 5px solid #2ECA7F;
}

.aveo-dialog .modal-content .modal-body {
  padding: 60px;
}

.aveo-dialog .modal-content .modal-body .container {
  width: 100%;
}

.aveo-dialog .modal-content .modal-body .aveo-form-control {
  display: flex;
  flex-direction: column;
  min-height: 93px;
}

.aveo-dialog .modal-content .modal-body .aveo-form-control .form-label {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: #333;
  margin-bottom: 12px;
  height: 20px;
}

.aveo-dialog .modal-content .modal-body .aveo-form-control .form-label i {
  position: relative;
  top: 2px;
  font-size: 18px;
  line-height: 20px;
  color: #2ECA7F;
  margin-right: 5px;
}

.aveo-dialog .modal-content .modal-body .aveo-form-control .form-input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #EBEBEB;
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  color: #333;
  background-color: #fff;
  text-transform: unset;
  border-radius: 0;
  box-shadow: none;
  text-align: left;
  width: 100%;
  height: 32px;
  padding: 0 10px;
  transition: all 0.2s;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.aveo-dialog .modal-content .modal-body .aveo-form-control .form-input::-moz-placeholder {
  color: rgba(0, 0, 0, 0.45);
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

.aveo-dialog .modal-content .modal-body .aveo-form-control .form-input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.45);
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}

.aveo-dialog .modal-content .modal-body .aveo-form-control .form-input::placeholder {
  color: rgba(0, 0, 0, 0.45);
  transition: all 0.2s;
}

.aveo-dialog .modal-content .modal-body .aveo-form-control .form-input:focus {
  border-bottom-color: #2ECA7F;
  transform: scale(1.07);
  transition: 0.5s;
}

.aveo-dialog .modal-content .modal-body .aveo-form-control .form-input:focus::-moz-placeholder {
  color: #fff;
}

.aveo-dialog .modal-content .modal-body .aveo-form-control .form-input:focus:-ms-input-placeholder {
  color: #fff;
}

.aveo-dialog .modal-content .modal-body .aveo-form-control .form-input:focus::placeholder {
  color: #fff;
}

.aveo-dialog .modal-content .modal-body .aveo-form-control .form-input.input__textarea {
  height: unset;
  resize: none;
  text-align: left;
  padding-top: 15px;
}

.aveo-dialog .modal-content .modal-body .aveo-form-control .form-input.error {
  border-bottom-color: #D80101 !important;
  transition: 0s !important;
  transform: scale(1) !important;
}

.aveo-dialog .modal-content .modal-body .aveo-form-control .form-time {
  display: flex;
  margin: 5px 0;
}

.aveo-dialog .modal-content .modal-body .aveo-form-control .form-time__label {
  width: 60px;
  height: 20px;
  padding-top: 5px;
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  color: #333;
}

.aveo-dialog .modal-content .modal-body .aveo-form-control .form-time__input {
  width: 85px;
  margin-right: 25px;
}

.aveo-dialog .modal-content .modal-body .aveo-form-control .form-time__current {
  display: flex;
}

.aveo-dialog .modal-content .modal-body .aveo-form-control .form-time__current .form-time__current--icon {
  font-weight: 300;
  display: flex;
  cursor: pointer;
}

.aveo-dialog .modal-content .modal-body .aveo-form-control .form-time__current .form-time__current--icon span {
  display: block;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  position: relative;
  border-radius: 5px;
  border: 1px solid #2ECA7F;
  background-color: #fff;
  overflow: hidden;
  top: 1px;
  transition: all 0.3s 0.3s;
}

.aveo-dialog .modal-content .modal-body .aveo-form-control .form-time__current .form-time__current--icon span:before {
  content: "";
  position: absolute;
  width: 3px;
  height: 8px;
  background-color: #fff;
  transform: rotate(-45deg) translateX(-2px) translateY(-28px);
  z-index: 1;
  transition: all 0.3s 0.15s;
}

.aveo-dialog .modal-content .modal-body .aveo-form-control .form-time__current .form-time__current--icon span:after {
  content: "";
  position: absolute;
  width: 3px;
  height: 12px;
  background-color: #fff;
  transform: rotate(45deg) translateX(9px) translateY(-24px);
  z-index: 1;
  transition: all 0.3s;
}

.aveo-dialog .modal-content .modal-body .aveo-form-control .form-time__current .form-time__current--icon input:checked + span {
  background-color: #2ECA7F;
  transition: all 0.3s;
}

.aveo-dialog .modal-content .modal-body .aveo-form-control .form-time__current .form-time__current--icon input:checked + span:before {
  transform: rotate(-45deg) translateX(-2px) translateY(8px);
}

.aveo-dialog .modal-content .modal-body .aveo-form-control .form-time__current .form-time__current--icon input:checked + span:after {
  transform: rotate(45deg) translateX(9px) translateY(-4px);
  transition: all 0.3s 0.3s;
}

.aveo-dialog .modal-content .modal-body .aveo-form-control .input__dropdown .form-input {
  cursor: pointer;
}

.aveo-dialog .modal-content .modal-body .aveo-form-control .input__dropdown .dropdown-menu {
  border: none;
  border-radius: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
  width: 100%;
  padding: 0;
  transition: all 0.1s;
  display: block;
  height: 0;
  overflow: hidden;
}

.aveo-dialog .modal-content .modal-body .aveo-form-control .input__dropdown .dropdown-menu li {
  padding: 8px 10px;
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  color: #333;
  cursor: pointer;
  transition: all 0.2s;
}

.aveo-dialog .modal-content .modal-body .aveo-form-control .input__dropdown .dropdown-menu li:hover {
  background-color: #2eca7f36;
}

.aveo-dialog .modal-content .modal-body .aveo-form-control .input__dropdown.open .dropdown-menu {
  height: 74px;
  padding: 5px 0;
  transition: all 0.4s;
  transform: scale(1.07) translateY(2px);
}

.aveo-dialog .modal-content .modal-body .aveo-form-control .input__dropdown.input__dropdown--big.open .dropdown-menu,
.aveo-dialog .modal-content .modal-body .aveo-form-control .input__dropdown.input__dropdown--big .form-input:focus + .dropdown-menu {
  height: 250px;
  padding: 5px 0;
  transform: scale(1.07) translateY(8px);
  overflow: auto;
  transition: all 0.4s;
}

.aveo-dialog .modal-content .modal-body .aveo-form-control .form-range {
  display: flex;
  align-items: center;
}

.aveo-dialog .modal-content .modal-body .aveo-form-control .form-range__input {
  width: 80%;
  background-color: #EBEBEB;
  height: 1px;
  -webkit-appearance: none;
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s;
  padding: 0;
}

.aveo-dialog .modal-content .modal-body .aveo-form-control .form-range__input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 18px;
  height: 18px;
  background: #2ECA7F;
  cursor: pointer;
  border-radius: 50%;
}

.aveo-dialog .modal-content .modal-body .aveo-form-control .form-range__input::-moz-range-thumb {
  width: 18px;
  height: 18px;
  background: #707070;
  cursor: pointer;
  border-radius: 50%;
}

.aveo-dialog .modal-content .modal-body .aveo-form-control .form-range__view {
  width: 20%;
  padding-left: 20px;
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  color: #707070;
}

.aveo-dialog .modal-content .modal-body .aveo-form-control.form-knowledge {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-height: auto !important;
}

.aveo-dialog .modal-content .modal-body .aveo-form-control.form-knowledge .form-input {
  margin-right: 30px;
}

.aveo-dialog .modal-content .modal-body .aveo-form-control.form-knowledge .form-knowledge__button {
  margin: 0 5px;
  width: 32px;
  min-width: 32px;
  height: 32px;
  border-radius: 50%;
  padding: 0;
  border: none;
  box-shadow: none;
  background-color: #EBEBEB;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: all 0.3s;
}

.aveo-dialog .modal-content .modal-body .aveo-form-control.form-knowledge .form-knowledge__button:hover {
  transform: scale(1.1);
}

.aveo-dialog .modal-content .modal-body .aveo-form-control label.error,
.aveo-dialog .modal-content .modal-body .aveo-form-control .form-error,
.aveo-dialog .modal-content .modal-body .aveo-form-control .form-submit-error {
  font-size: 12px;
  line-height: 14px;
  font-weight: normal;
  color: #D80101;
  margin-top: 5px;
  margin-bottom: 10px;
}

.aveo-dialog .modal-content .modal-body .aveo-form-control .form-icon {
  height: 200px;
  overflow: auto;
  padding: 10px;
  border: 1px solid #EBEBEB;
}

.aveo-dialog .modal-content .modal-body .aveo-form-control .form-icon .list-icon {
  display: flex;
  flex-wrap: wrap;
}

.aveo-dialog .modal-content .modal-body .aveo-form-control .form-icon .list-icon i {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #333;
  font-size: 20px;
  transition: all 0.2s;
}

.aveo-dialog .modal-content .modal-body .aveo-form-control .form-icon .list-icon i.selected {
  background-color: #2ECA7F;
  color: #fff;
}

.aveo-dialog .modal-content .modal-body .aveo-form-control .form-icon .service-more {
  width: 100%;
  border: none;
  background: none;
  color: #333;
  box-shadow: none;
}

.aveo-dialog .modal-content .modal-body .aveo-form-control .form-icon .service-more:hover {
  color: #2ECA7F;
}

.aveo-dialog .modal-content .modal-body .aveo-form-control .form-icon.error {
  border: 1px solid #D80101;
}

.aveo-dialog .modal-content .modal-body .aveo-form-control .input-gallery-list {
  margin-left: -7px;
  margin-right: -7px;
}

.aveo-dialog .modal-content .modal-body .aveo-form-control .input-gallery-list .list-col {
  padding-left: 7px;
  padding-right: 7px;
  padding-bottom: 10px;
}

.aveo-dialog .modal-content .modal-body .aveo-form-control .input-gallery-list .gallery-item {
  height: 56px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 3px;
  border: 1px solid #EBEBEB;
}

.aveo-dialog .modal-content .modal-body .aveo-form-control .input-gallery-list .gallery-item__image {
  height: 100%;
  min-width: 50px;
}

.aveo-dialog .modal-content .modal-body .aveo-form-control .input-gallery-list .gallery-item__title {
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  color: #707070;
  -webkit-line-clamp: 3;
  width: 100%;
  height: auto;
  padding: 0 5px;
}

.aveo-dialog .modal-content .modal-body .aveo-form-control .input-gallery-list .gallery-item__delete {
  height: 100%;
  width: 30px;
  border: none;
  background-color: transparent;
  box-shadow: none;
  color: rgba(0, 0, 0, 0.45);
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
}

.aveo-dialog .modal-content .modal-body .aveo-form-control .input-gallery-list .gallery-item__delete:hover {
  color: #D80101;
}

.aveo-dialog .modal-content .modal-body .input-gallery {
  width: 300px;
  height: 150px;
  margin: 20px auto 20px auto;
  position: relative;
  cursor: pointer;
}

.aveo-dialog .modal-content .modal-body .input-gallery input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.aveo-dialog .modal-content .modal-body .input-gallery .input-gallery-view {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #FAFAFA;
  border: 1px solid #D9D9D9;
  border-radius: 2px;
  cursor: pointer;
}

.aveo-dialog .modal-content .modal-body .input-gallery .input-gallery-view p {
  font-size: 16px;
  line-height: 25px;
  font-weight: normal;
  color: #333;
  padding-top: 5px;
  margin-bottom: 0;
}

.aveo-dialog .modal-content .modal-body .input-gallery .input-gallery-view span {
  font-size: 14px;
  line-height: 22px;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.45);
  margin-bottom: 0;
}

.aveo-dialog .modal-content .modal-body .knowledge-item .form-knowledge .addnew-button {
  visibility: hidden;
  opacity: 0;
  transition: 0s;
}

.aveo-dialog .modal-content .modal-body .knowledge-item:last-child .form-knowledge .addnew-button {
  visibility: inherit;
  opacity: 1;
  transition: 0.2s;
}

.aveo-dialog .modal-content .modal-body .knowledge-item:nth-child(10) .form-knowledge .addnew-button {
  visibility: hidden;
  opacity: 0;
  transition: 0s;
}

.aveo-dialog .modal-content .modal-body .aveo-form-submit {
  padding-top: 10px;
}

.aveo-dialog .modal-content .modal-body .aveo-form-submit .aveo-form-button {
  display: flex;
  justify-content: space-between;
}

.aveo-dialog .modal-content .modal-body .aveo-form-submit .aveo-form-button__save,
.aveo-dialog .modal-content .modal-body .aveo-form-submit .aveo-form-button__save--mobile,
.aveo-dialog .modal-content .modal-body .aveo-form-submit .aveo-form-button__cancel {
  position: relative;
  bottom: 0;
  width: 49%;
  height: 38px;
  border: none;
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
  color: #fff;
  background-color: #2ECA7F;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  text-transform: unset;
  transition: all 0.3s;
}

.aveo-dialog .modal-content .modal-body .aveo-form-submit .aveo-form-button__save:hover,
.aveo-dialog .modal-content .modal-body .aveo-form-submit .aveo-form-button__save--mobile:hover,
.aveo-dialog .modal-content .modal-body .aveo-form-submit .aveo-form-button__cancel:hover {
  transform: scale(1.05) translateY(-1px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.aveo-dialog .modal-content .modal-body .aveo-form-submit .aveo-form-button__cancel {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: #707070;
}

.aveo-dialog .modal-content .modal-body .aveo-form-submit .aveo-form-button__save--mobile {
  width: 100%;
}

.aveo-dialog .modal-content .modal-body .form-error,
.aveo-dialog .modal-content .modal-body .form-submit-error {
  font-size: 12px;
  line-height: 14px;
  font-weight: normal;
  color: #D80101;
  min-height: 14px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.aveo-dialog .modal-content .modal-body .form-submit-error {
  text-align: center;
}

.aveo-dialog .select2-container .popup-select2-select,
.aveo-dialog .select2-container .popup-select2-select {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #EBEBEB;
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  color: #333;
  background-color: #fff;
  border-radius: 0;
  text-align: left;
  position: relative;
  transition: all 0.2s;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.aveo-dialog .select2-container .popup-select2-select .select2-selection__choice,
.aveo-dialog .select2-container .popup-select2-select .select2-selection__choice {
  background: #EEEEEE;
  border: 1px solid #E9E9E9;
  border-radius: 2px;
  display: inline-flex;
  flex-direction: row-reverse;
  align-items: center;
  padding: 0 8px;
  min-height: 30px;
}

.aveo-dialog .select2-container .popup-select2-select .select2-selection__choice__display,
.aveo-dialog .select2-container .popup-select2-select .select2-selection__choice__display {
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  color: #333;
}

.aveo-dialog .select2-container .popup-select2-select .select2-selection__choice__remove,
.aveo-dialog .select2-container .popup-select2-select .select2-selection__choice__remove {
  border: none;
  box-shadow: none;
  color: #333;
  line-height: 16px;
}

.aveo-dialog .select2-container.select2-container--focus .popup-select2-select,
.aveo-dialog .select2-container.select2-container--open .popup-select2-select,
.aveo-dialog .select2-container.select2-container--focus .popup-select2-select,
.aveo-dialog .select2-container.select2-container--open .popup-select2-select {
  border-bottom-color: #2ECA7F;
  transition: 0.2s;
}

@media screen and (max-width: 991.98px) {
  .aveo-dialog .modal-content .modal-header {
    height: 60px;
    padding-top: 20px;
    padding-left: 15px;
    justify-content: center;
  }

  .aveo-dialog .modal-content .modal-header .close {
    right: unset;
    top: 22px;
    left: 20px;
  }

  .aveo-dialog .modal-content .modal-header .modal-title {
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    color: #333;
  }
}

@media screen and (max-width: 767.98px) {
  .aveo-dialog {
    margin: 0;
  }

  .aveo-dialog .modal-content {
    border-radius: 0;
    min-height: 100vh;
  }

  .aveo-dialog .modal-content .modal-body .aveo-form-submit {
    padding-top: 0;
  }

  .aveo-dialog .modal-content .modal-body .form-time__current {
    margin-top: 8px;
  }
}

@media screen and (max-width: 575.98px) {
  .aveo-dialog .modal-content .modal-body {
    padding: 40px 5%;
  }

  .aveo-dialog .modal-content .modal-body .aveo-form-control {
    margin-bottom: 0;
    min-height: 76px;
  }

  .aveo-dialog .modal-content .modal-body .aveo-form-control .form-label {
    margin-bottom: 0;
  }

  .aveo-dialog .modal-content .modal-body .aveo-form-control .form-input {
    font-size: 14px;
    line-height: 16px;
    font-weight: 300;
    color: #333;
  }

  .aveo-dialog .modal-content .modal-body .aveo-form-control .form-range {
    margin-top: 8px;
  }

  .aveo-dialog .modal-content .modal-body .aveo-form-control label.error {
    margin-bottom: 5px;
  }
}

.popup-select2-dropdown {
  border: none;
  border-radius: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
  width: 100%;
  padding: 0;
  transition: all 0.1s;
  display: block;
}

.popup-select2-dropdown li {
  padding: 8px 10px;
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  color: #333;
  cursor: pointer;
  transition: all 0.2s;
}

.popup-select2-dropdown li:hover {
  background-color: #2eca7f36;
}

.popup-select2-dropdown li.select2-results__option--highlighted.select2-results__option--highlighted {
  background-color: #2ECA7F;
}

.project-list .color-gray {
  color: #707070;
}

.project-list .project-info {
  padding-left: 0;
}

.project-list .info-item {
  list-style-type: none;
  display: flex;
  margin-bottom: 15px;
  font-size: 15px;
  line-height: 18px;
  font-weight: normal;
  color: #707070;
}

.project-list .info-item .info-title {
  font-weight: bold;
  color: #333;
  margin-right: 10px;
  white-space: nowrap;
}

.project-list .info-item .info-tag {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  top: -1px;
}

.project-list .info-item .info-tag p {
  background-color: #FAFAFA;
  border: 1px solid #D9D9D9;
  box-sizing: border-box;
  border-radius: 2px;
  font-size: 12px;
  line-height: 20px;
  font-weight: normal;
  color: #333;
  padding: 0 5px;
  margin-bottom: 5px;
  margin-right: 5px;
  white-space: nowrap;
}

@media screen and (max-width: 767.98px) {
  .project-list .info-item {
    flex-direction: column;
  }

  .project-list .info-item .info-title {
    padding-bottom: 5px;
  }

  .project-list .info-item .info-tag {
    padding-top: 5px;
  }
}

