/*
* Theme Name: Aveo - Material Resume / CV / vCard WordPress Theme
* Author: lmpixels
* Author URL: http://themeforest.net/user/lmpixels
* Version: 1.3.0
*/

/* =============================================================================

1. General styles (Buttons, Inputs, Typography)
2. Page loadig animation
3. Subpages changer
4. Site header (Panel with logo & navigation)
5. Site content
6. Subpages
  6.1. Home subpage
  6.2. Resume subpage
  6.3. Services subpage
  7.4. Gallery subpage
  7.5. Blog subpage
  7.6. Contact subpage
7. Sliders (testimonials & gallery carousels)
8. Gallery Full info page
9. Single Page Layout (Blog Post page ...)
10. Pricing
11. Blog
12. 404 Page
13. Media Queries

============================================================================= */


/* =============================================================================
1. General styles
============================================================================= */

html {
  position: relative;
  height: 100%;
  width: 100%;
}

.admin-bar {
  margin-top: 0;
  padding-top: 32px;
}

body {
  position: relative;
  font-family: 'Roboto', Helvetica, sans-serif;
  color: #424242;
  margin: 0;
  width: 100%;
  height: auto;
  min-height: 100%;
  padding-bottom: 50px;
  width: 100%;
  font-size: 15px;
  line-height: 1.6em;
  background-color: #f5f5f5;
  overflow-x: hidden;
  overflow-y: auto;
  background-size: cover;
  -webkit-background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-overflow-scrolling: touch;
}

body.ajax-page-visible {
  overflow: hidden;
}

a {
  color: #2eca7f;
  text-decoration: none;
  outline: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

a:hover {
  color: #FF9800;
  text-decoration: none;
  outline: none;
}

a:focus {
  outline: 0;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  color: #212121;
  font-family: 'Montserrat', Helvetica, sans-serif;
  font-weight: 600;
  line-height: 1.5em;
  margin-top: 0;
  margin-bottom: 10px;
}

p {
  font-size: 15px;
  margin: 0 0 10px;
  font-weight: 400;
}

p.lead {
  font-size: 18px;
  margin: 25px 0;
}

dd {
    margin: 0 0 24px;
}

img {
  vertical-align: bottom;
  max-width: 100%;
  height: auto;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

.fw-page-builder-content .fw-container {
  padding-left: 0;
  padding-right: 0;
}

.mobile-visible {
  display: none;
  visibility: hidden;
}

.mobile-hidden {
  display: block;
  visibility: visible;
}

/* Form controls */
.form-group {
  position: relative;
  margin: 0 0 25px;
}
.form-control,
.form-control:focus {
  height: 42px;
}

.form-control,
.form-control:focus,
.has-error .form-control,
.has-error .form-control:focus,
input[type="search"],
input[type="password"],
input[type="text"] {
  position: relative;
  border: 0;
  border-bottom: 1px solid #e0e0e0;
  border-radius: 0;
  display: block;
  font-size: 1em;
  margin: 0;
  padding: 10px 0 10px 0;
  width: 100%;
  background: transparent;
  text-align: left;
  color: inherit;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: none;
  font-family: 'Roboto', Helvetica, sans-serif;
}

textarea.form-control, textarea.form-control:focus {
  height: auto;
}

.form-control + .form-control-border {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: #2eca7f;
  height: 2px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.form-control:focus + .form-control-border {
  left: 0;
  right: 0;
  z-index: 1;
}

.has-error .form-control + .form-control-border {
  background: #ff4c4c;
}

.form-group label {
  opacity: 0.4;
  position: absolute;
  top: 9px;
  font-size: 15px;
  font-weight: 400;
  color: #424242;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.form-group.form-group-focus label {
  top: -12px;
  font-size: 0.8em;
  z-index: 3;
}

.form-group.form-group-w-checkbox {
  padding-top: 0;
  padding-bottom: 8px;
  margin-bottom: 17px;
}

.form-group-with-icon.form-group-w-checkbox {
  padding-top: 8px;
  padding-left: 52px;
  margin-bottom: 25px;
}

.form-group .form-control-checkbox + label,
.form-group.form-group-focus .form-control-checkbox + label {
  position: relative;
  display: inline;
  left: 0;
  top: 0;
  font-size: 1em;
  opacity: 1;
}

.form-group .form-control-checkbox,
.form-group.form-group-focus .form-control-checkbox {
  display: inline-block;
  width: auto;
  height: auto;
  top: 2px;
}

.form-group.form-group-w-checkbox .help-block {
  top: 100%;
  left: 0;
  margin-left: 0;
}

.form-group.form-group-with-icon.form-group-w-checkbox .help-block {
  left: 52px;
}

/* Placeholders */
.form-control::-moz-placeholder {
  color: #9e9e9e;
}

.form-control:-ms-input-placeholder {
  color: #9e9e9e;
}

.form-control::-webkit-input-placeholder {
  color: #9e9e9e;
}
/* /Placeholders */

.form-group .help-block {
  position: absolute;
  display: inline-block;
  padding: 0px 5px;
  font-size: 0.8em;
  line-height: 1.5em;
  margin: -2px 0 0 10px;
  color: #ff4c4c;
  background: #f5f5f5;
  z-index: 1;
}

.form-group .help-block:after {
  content: " ";
  position: absolute;
  left: 5px;
  bottom: 100%;
  width: 0;
  height: 0;
  border-bottom: 10px solid #f5f5f5;
  border-right: 10px solid transparent;
}
.form-group .help-block:empty {
  display: none;
}

.form-group-with-icon {
  padding-left: 40px;
}

.form-group-with-icon .form-control,
.form-group-with-icon .form-control:focus {
  padding-left: 12px;
}

.form-group-with-icon label {
  left: 52px;
}

.form-group-with-icon i {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 18px;
  width: 40px;
  text-align: center;
  line-height: 42px;
  height: 100%;
  color: #bdbdbd;
  background-color: #fafafa;
  border-bottom: 1px solid #e0e0e0;
}

.form-group-with-icon.form-group-focus i {
  color: #2eca7f;
}
/* /Form controls */

.no-padding {
  padding: 0;
}

.subpage-block {
  margin-bottom: 30px;
}

.text-rotation {
  display: block;
}

.center {
  text-align: center;
}

figure {
  max-width: 100%;
}

/* buttons */
.btn-primary,
.btn-secondary,
button, input[type="button"], input[type="submit"] {
  text-transform: uppercase;
  font-family: inherit;
  font-size: 14px;
  font-weight: 500;
  line-height: 2.8;
  padding: 0 1.5em;
  outline: none;
  border: 0;
  border-radius: 3px;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:focus,
button, input[type="button"], input[type="submit"] {
  background-color: #2eca7f;
  color: #fff;
  border: 0;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1), 0 2px 4px rgba(0,0,0,0.3);
}

.btn-primary:hover,
button:hover, input[type="button"]:hover, input[type="submit"]:hover {
  box-shadow: 0 2px 4px rgba(0,0,0,0.1), 0 4px 8px rgba(0,0,0,0.3);
}

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  background-color: #fff;
  color: #212121;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1), 0 2px 4px rgba(0,0,0,0.3);
}

.btn-secondary:hover {
  box-shadow: 0 2px 4px rgba(0,0,0,0.1), 0 4px 8px rgba(0,0,0,0.3);
}

.mfp-container button {
  box-shadow: none;
}
/* / buttons */

.border-top {
  border-top: 2px solid #2eca7f;
}

.border-bottom {
  border-bottom: 2px solid #2eca7f;
}

/* Footer */
body > footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
}

/* copyrights block */
body > footer .copyrights {
  display: block;
  margin-bottom: 12px;
  text-align: center;
  font-size: 12px;
  color: #9e9e9e;
}
/* / copyrights block */
/* / Footer */

/* Alignment */

.alignleft {
  float: left;
}

.alignright {
  float: right;
}

.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

blockquote.alignleft,
figure.wp-caption.alignleft,
img.alignleft {
  margin: 7px 24px 7px 0;
}

.wp-caption.alignleft {
  margin: 7px 14px 7px 0;
}

blockquote.alignright,
figure.wp-caption.alignright,
img.alignright {
  margin: 7px 0 7px 24px;
}

.wp-caption.alignright {
  margin: 7px 0 7px 14px;
}

blockquote.aligncenter,
img.aligncenter,
.wp-caption.aligncenter {
  margin-top: 7px;
  margin-bottom: 7px;
}

.site-content blockquote.alignleft,
.site-content blockquote.alignright {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 17px;
  width: 50%;
}

.site-content blockquote.alignleft p,
.site-content blockquote.alignright p {
  margin-bottom: 17px;
}

.wp-caption {
  margin-bottom: 24px;
}

.wp-caption img[class*="wp-image-"] {
  display: block;
  margin: 0;
}

.wp-caption {
  color: #767676;
}

.wp-caption-text {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 0.875em;
  font-style: italic;
  line-height: 1.5;
  margin: 9px 0;
}

div.wp-caption .wp-caption-text {
  padding-right: 10px;
}

div.wp-caption.alignright img[class*="wp-image-"],
div.wp-caption.alignright .wp-caption-text {
  padding-left: 10px;
  padding-right: 0;
}

.wp-smiley {
  border: 0;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}

/* Assistive text */

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
}

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-weight: bold;
  height: auto;
  line-height: normal;
  padding: 15px 23px 14px;
  position: absolute;
  left: 5px;
  top: 5px;
  text-decoration: none;
  text-transform: none;
  width: auto;
  z-index: 100000; /* Above WP toolbar */
}

/* table */
table,
th,
td {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

table {
  border-collapse: separate;
  border-spacing: 0;
  border-width: 1px 0 0 1px;
  margin-bottom: 24px;
  width: 100%;
}

caption,
th,
td {
  font-weight: normal;
  text-align: left;
}

th {
  border-width: 0 1px 1px 0;
  font-weight: bold;
}

td {
  border-width: 0 1px 1px 0;
}
/* /table */




/* =============================================================================
2. Page loadig animation
============================================================================= */
.no-js .preloader,
.no-js .gallery-preloader {
  display: none;
}
.preloader,
.gallery-preloader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: #fff;
}

.preloader-animation {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  background-color: inherit;
  color: inherit;
  opacity: 1;
  transition: opacity 0.3s;
  transform: translate3d(-50%,-50%,0);
}

.preloader-spinner {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 56px;
  height: 56px;
}

.preloader-spinner:before,
.preloader-spinner:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  border: 2px solid;
}

.preloader-spinner:before {
  opacity: .2;
}

.preloader-spinner:after {
  border-color: transparent;
  border-top-color: #2eca7f;
  -webkit-animation: rotation 0.82s infinite cubic-bezier(0.6,0.3,0.3,0.6);
  animation: rotation 0.82s infinite cubic-bezier(0.6,0.3,0.3,0.6);
}

@-webkit-keyframes rotation{
  0%
  {
    -webkit-transform:rotate(0deg)
  }
  100%{
    -webkit-transform:rotate(360deg)
  }
}
@keyframes rotation{
  0%{
    transform:rotate(0deg)
  }100%{
    transform:rotate(360deg)
  }
}




/* =============================================================================
3. Subpages changer
============================================================================= */
.pt-wrapper {
  position: relative;
  width: 100%;
  padding: 0;
  z-index: 1;
}

.subpages {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding-top: 100px;
  -webkit-perspective: 1500px;
  -moz-perspective: 1500px;
  perspective: 1500px;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

.pt-page {
  width: 100%;
  max-width: 1032px;
  height: 0;
  position: absolute;
  opacity: 0;
  top: auto;
  padding: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: transparent;
  overflow: hidden;
  visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.pt-page .section-inner {
  position: relative;
  background-color: transparent;
  overflow: hidden;
  border-radius: 15px;
  -webkit-box-shadow: 0px 15px 25px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 15px 25px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 15px 25px 0px rgba(0,0,0,0.1);
  -webkit-transform: translate3d(0,0,0);
  -o-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  -ms-transform: none;
}

.no-js .pt-page {
  position: relative;
}

.pt-page-content {
  position: absolute;
  width: 100%;
}

.pt-page-current,
.no-js .pt-page {
  visibility: visible;
  z-index: 90;
  opacity: 1;
  overflow: visible;
  height: auto;
}

.pt-page.pt-page-current.pt-page-relative {
  position: relative;
}

.pt-page.pt-page-current .gallery-grid {
  display: block;
}

.no-js .pt-page * {
  height: auto;
}

.no-js body {
  overflow: auto;
}

/*No Animation Support Message Style*/
.pt-message {
  display: none;
  position: absolute;
  z-index: 99999;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #da475c;
  color: #fff;
  text-align: center;
}

.pt-message p {
  margin: 0;
  line-height: 60px;
  font-size: 26px;
}

.no-cssanimations .pt-message {
  display: block;
}

.section-with-bg {
  -webkit-backface-visibility: hidden; /* Chrome, Safari, Opera */
  backface-visibility: hidden;
  background-attachment: fixed;
  background-position: 50%;
  background-size: cover;
  -webkit-background-size: cover;
  background-attachment: scroll;
  background-position: center center;
  background-repeat: no-repeat;
}

.section-without-bg {
  background: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.section-paddings-0 {
  padding: 0;
}
/* /Page changer */




/* =============================================================================
4. Site header (Panel with logo & navigation)
============================================================================= */
.header {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: transparent;
  z-index: 2;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.header * {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.header .header-content {
  max-width: 1032px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 0;
  padding-right: 0;
}

@media only screen and (min-width: 991px) {
  .header.sticked {
    background-color: #fff;
    -webkit-box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.1);
  }

  .header.sticked .header-content {
    padding: 0;
  }
}

.header .logo {
  float: left;
  height: 100%;
  min-height: 60px;
  margin-right: 15px;
}

.header .logo a {
  display: block;
  line-height: 60px;
}

.header .logo img {
  max-height: 100%;
  position: relative;
  vertical-align: middle;
  top: -2px;
}

.site-title-block {
  position: relative;
  float: left;
  z-index: 1;
  text-align: center;
}

.site-title {
  color: #49515d;
  font-size: 20px;
  font-weight: 500;
  font-family: 'Montserrat', Helvetica, sans-serif;
  line-height: 20px;
  margin: 20px 0;
}

.site-title span {
  color: #2eca7f;
}

.site-main {
  width: 100%;
  position: relative;
  z-index: 1;
}

/* Main menu */
.site-nav {
  float: right;
}
.site-main-menu {
  display: inline-block;
  float: left;
  padding: 0;
  margin: 14px 0;
}

.site-main-menu li {
  display: inline-block;
  float: left;
  position: relative;
  padding: 0;
  text-align: center;
}

.site-main-menu li a,
.site-main-menu li a:hover {
  display: block;
  position: relative;
  padding: 8px 0;
  margin: 0 20px;
  text-align: center;
  color: #49515d;
  font-size: 15px;
  line-height: 1;
  font-weight: 400;
  position: relative;
  text-decoration: none;
  outline: none;
  opacity: 0.6;
}

.site-main-menu li a:hover,
.site-main-menu li.active a,
.site-main-menu li.current-menu-item a {
  opacity: 1;
}

.site-main-menu > li:last-child > a {
  margin-right: 0;
}

.aveo-additional-menu.site-main-menu > li:first-child > a {
  margin-left: 40px;
}

.site-main-menu > li > a:after {
  display: block;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  content: '';
  width: 0;
  height: 2px;
  margin: 0 auto;
  background-color: #2eca7f;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  -ms-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

.site-main-menu > li:hover > a:after,
.site-main-menu > li.active > a:after,
.site-main-menu > li.current-menu-item > a:after {
  opacity: 1;
  width: 25px;
}

.site-main-menu + .site-main-menu > li:first-child {
  margin-left: 20px;
}

.menu-icon {
  display: inline-block;
  font-size: 15px;
  margin-right: 3px;
  text-align: center;
}

/* Submenu */
@media only screen and (min-width: 991px) {
  .site-main-menu li > ul.sub-menu {
    position: absolute;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 180px;
    background-color: #fff;
    right: 0;
    visibility: hidden;
    opacity: 0;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translate(0, 20px);
    -moz-transform: translate(0, 20px);
    transform: translate(0, 20px);
    -webkit-transition: all 0.18s ease-out;
    -moz-transition: all 0.18s ease-out;
    transition: all 0.18s ease-out;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.1);
  }

  .site-main-menu li:hover > ul.sub-menu {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  .site-main-menu li > ul.sub-menu > li {
    margin: 0;
  }

  .site-main-menu li > ul.sub-menu > li a {
    text-align: left;
    line-height: 1.6em;
  }

  .site-main-menu li > ul.sub-menu > li:first-child {
    margin-top: 5px;
  }

  .site-main-menu li > ul.sub-menu > li:last-child {
    margin-bottom: 5px;
  }

  .site-main-menu li > ul.sub-menu > li:hover a {
    opacity: 1;
  }
}
/* /Submenu */

/* /Main menu */

/* Mobile menu toggle */
.menu-toggle {
  display: block;
  width: 50px;
  margin: 0 4px;
  line-height: 50px;
  height: 50px;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
  float: right;
}

.menu-toggle i {
  color: #fff;
  font-size: 21px;
  line-height: 50px;
}
/* /Mobile menu toggle */


/* Arrows Nav */
.lmpixels-arrows-nav {
  position: fixed;
  bottom: 10px;
  right: 15px;
  z-index: 100;
}

.lmpixels-arrows-nav > div {
  display: inline-block;
  padding: 0;
  background-color: #fff;
  height: 42px;
  width: 42px;
  border: 1px solid #ddd;
  border-radius: 3px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-box-shadow: 0 0 14px 0 rgba(0,0,0,.1);
  -moz-box-shadow: 0 0 14px 0 rgba(0,0,0,.1);
  box-shadow: 0 0 14px 0 rgba(0,0,0,.1);
}

.lmpixels-arrows-nav > div:hover {
  -webkit-box-shadow: 0 0 25px 0 rgba(0,0,0,.18);
  -moz-box-shadow: 0 0 25px 0 rgba(0,0,0,.18);
  box-shadow: 0 0 25px 0 rgba(0,0,0,.18);
}

.lmpixels-arrows-nav > div:first-child {
  margin-right: 1px;
}

.lmpixels-arrows-nav > div i {
  line-height: 42px;
  height: 42px;
  margin-top: -1px;
  font-size: 28px;
  color: #9e9e9e;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.lmpixels-arrows-nav > div:hover i {
  color: #2eca7f;
}
/* /Arrows Nav */


/* Header Search */
.header-search {
  display: inline-block;
  margin: 13px 0 13px 40px;
  max-width: 200px;
}

.header-search form {
  position: relative;
}

.header-search input.form-control {
  position: relative;
  border: 1px solid #e5e5e5;
  border-radius: 0;
  display: block;
  font-size: 0.9em;
  margin: 0;
  padding: 5px 22px 5px 8px;
  width: 100%;
  height: 34px;
  background: #fff;
  text-align: left;
  color: inherit;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: none;
  font-family: 'PT Sans', Helvetica, sans-serif;
}

.header-search input.form-control:focus {
  height: 34px;
  border-color: #aaa;
}

.header-search button,
.header-search button:hover,
.header-search button:focus {
  position: absolute;
  background: transparent;
  border: 0;
  padding: 0 9px;
  line-height: 34px;
  margin: 0;
  top: 0;
  right: 0;
  color: #ccc;
  box-shadow: none;
}

.header-search button:hover,
.header-search button:focus {
  background: transparent;
  color: #2eca7f;
}

.header-search button i {
  font-size: 12px;
  line-height: 15px;
}
/* /Header Search */



/* =============================================================================
5. Site content
============================================================================= */
/* Page header */
.page-header {
  margin-top: 0;
}
/* /Page Header */

.page-content {
  padding: 30px 50px 50px;
}

.content-page-with-sidebar .page-content {
  width: 75%;
  min-height: 100%;
  height: 100%;
  clear: both;
  display: table-cell;
  vertical-align: top;
  background-color: #fff;
}

.content-page-with-sidebar .blog-sidebar {
  width: 25%;
  height: 100%;
  min-height: 100%;
  vertical-align: top;
  display: table-cell;
  background-color: #fbfbfb;
  border-left: 5px solid #eee;
  clear: both;
}

/* custom-pages */
.block-title h3 {
  font-size: 21px;
  margin: 5px 0 25px;
}

.block-title h3 span {
  color: #2eca7f;
}

.custom-page-content .block {
  margin-bottom: 30px;
}

.section-inner > .page-header,
.content-area > .page-header {
  border: 0;
  text-align: center;
  padding: 30px 50px;
  margin: 0;
  background-color: #2eca7f;
  background-size: cover;
  -webkit-background-size: cover;
  background-attachment: scroll;
  background-position: center center;
  background-repeat: no-repeat;
}

.page-header h2 {
  color: #fff;
  font-size: 44px;
  margin: 0;
}

.custom-page-content .page-content {
  background-color: #fff;
}



/* =============================================================================
6. Subpages
============================================================================= */
/* =======================================
6.1. Home subpage
======================================= */
.start-page-content .page-header {
  position: relative;
  background-color: #2eca7f;
  padding: 50px;
  margin-bottom: 0;
  background-size: cover;
  -webkit-background-size: cover;
  background-attachment: scroll;
  background-position: center center;
  background-repeat: no-repeat;
}

.start-page-content .page-header .photo {
  max-width: 280px;
  margin-bottom: -75px;
  text-align: center;
}

.start-page-content .page-header .photo img {
  border: 3px solid #fff;
  background-color: #fff;
  text-align: center;
  -webkit-box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.1);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.start-page-content .page-header .photo img:hover {
  -webkit-transform: translateY(-9px);
  -ms-transform: translateY(-9px);
  -o-transform: translateY(-9px);
  transform: translateY(-9px);
  -webkit-box-shadow: 0 18px 24px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 18px 24px rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0 18px 24px rgba(0, 0, 0, 0.15);
  box-shadow: 0 18px 24px rgba(0, 0, 0, 0.15);
}

.start-page-content .page-header .title-block {
  position: relative;
  text-align: center;
}

.start-page-content .page-header .title-block h2 {
  color: #fff;
  font-size: 54px;
  font-weight: 700;
  margin: 30px 0 0;
  text-align: center;
}

.start-page-content .page-header .title-block .sp-subtitle {
  color: #fff;
  font-size: 18px;
  margin: 0;
}

.start-page-content .social-links {
  position: relative;
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
}

.start-page-content .social-links a {
  display: inline-block;
  width: 36px;
  height: 36px;
  border-radius: 24px;
  background-color: #fff;
  margin: 0 1px;
  color: #9e9e9e;
  text-align: center;
  -webkit-box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.1);
}

.start-page-content .social-links a:hover {
  -webkit-box-shadow: 0px 6px 18px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 6px 18px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 6px 18px 0px rgba(0,0,0,0.2);
}

.start-page-content .social-links a i {
  line-height: 36px;
  font-size: 16px;
}

.start-page-content .page-content {
  padding-top: 45px;
  background-color: #fff;
}

.single-page-content .content-area .start-page-content .page-content {
  padding-top: 45px;
}

.start-page-content .block-title h3 {
  margin-bottom: 10px;
}

.start-page-content .page-content .download-resume {
  margin-top: 15px;
}

.info-list {
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
}

.info-list li {
  margin: 6px 0;
  text-align: left;
}

.info-list li .title {
  display: inline-block;
  min-width: 120px;
}

.info-list li .value {
  display: inline-block;
  color: #9e9e9e;
}

/* Social links */
.social-links-block {
  margin: 25px 0 5px;
}

ul.social-links {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: left;
}

ul.social-links li {
  display: inline-block;
  margin: 0;
  padding: 0;
}

ul.social-links li a {
  display: inline-block;
  margin: 0 1px 5px;
  width: 34px;
  height: 34px;
  line-height: 34px;
  color: #9e9e9e;
  background-color: transparent;
  border: 1px solid #e0e0e0;
  text-align: center;
  vertical-align: middle;
}

ul.social-links li a:hover {
  color: #212121;
}

ul.social-links li a i {
  font-size: 16px;
  line-height: 32px;
}

ul.social-links li a img {
  vertical-align: text-bottom;
  line-height: 100%;
}

ul.social-links li:last-child a {
  margin-right: 0;
}
/* /Social links */





/* =======================================
6.2. Resume subpage
======================================= */
.timeline {
  border-left: 2px solid #e0e0e0;
  padding: 15px 0;
}

.timeline-item {
  position: relative;
  padding: 15px 20px 10px;
  margin-left: 20px;
  margin-bottom: 20px;
  background-color: #fff;
  border-left: 2px solid #2eca7f;
  box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.2);
}

.timeline-item:hover {
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.2);
}

.timeline-item:last-child {
  margin-bottom: 0;
}

.timeline-item:before {
  content: '';
  display: inline-block;
  position: absolute;
  background-color: #fff;
  border-radius: 10px;
  width: 12px;
  height: 12px;
  top: 20px;
  left: -29px;
  border: 2px solid #2eca7f;
  z-index: 2;
}

.timeline-item:after {
  content: '';
  display: inline-block;
  position: absolute;
  background-color: #2eca7f;
  border-radius: 10px;
  width: 29px;
  height: 2px;
  top: 25px;
  left: -29px;
  z-index: 1;
}

.timeline-item .item-title {
  display: block;
  margin: 0;
  font-size: 16px;
  line-height: 1.2em;
}

.timeline-item .item-period {
  display: inline-block;
  font-size: 12px;
  line-height: 1.2em;
  color: #2eca7f;
  margin-bottom: 8px;
}

.timeline-item .item-small {
  display: inline-block;
  font-size: 12px;
  line-height: 1.2em;
  color: #9e9e9e;
  margin-left: 5px;
  margin-bottom: 8px;
  padding-left: 8px;
  border-left: 1px solid #e0e0e0;
}

.timeline-item .item-logo {
  display: block;
  margin-bottom: 5px;
}

.timeline-item .item-logo img {
  max-width: 200px;
  max-height: 48px;
}


/* Skills */
.skills-info {
  margin-bottom: 30px;
}

.skills-info h4 {
  font-size: 0.8em;
  line-height: 1.1em;
  position: relative;
  margin: 0 0 5px;
}

.skill-container {
  background-color: #f5f5f5;
  border: 1px solid #e0e0e0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 12px;
  margin-bottom: 12px;
  width: 100%;
}

.skill-percentage {
  background-color: #2eca7f;
  height: 10px;
  padding: 0;
}
/* Animate skills on subpage load */
.pt-page .skill-percentage {
  -webkit-transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out;
  -o-transition: all 2s ease-in-out;
  -ms-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;
}
.js .pt-page:not(.pt-page-current) .skill-percentage {
  width: 0 !important;
}



/* =======================================
6.3. Services subpage
======================================= */
/* Services */
.service-block {
  text-align: center;
  padding: 0;
  margin-bottom: 30px;
}

.service-image {
  width: 120px;
  height: 120px;
  background-color: #fafafa;
  border-radius: 100px;
  margin: 0 auto;
  text-align: center;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.service-image:hover {
  -webkit-transform: translateY(-7px);
  -ms-transform: translateY(-7px);
  -o-transform: translateY(-7px);
  transform: translateY(-7px);
  -webkit-box-shadow: 0 7px 12px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 7px 12px rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0 7px 12px rgba(0, 0, 0, 0.15);
  box-shadow: 0 7px 12px rgba(0, 0, 0, 0.15);
}

.service-block img {
  max-width: 100px;
  height: 64px;
  margin: 28px 0;
}

.service-block h4 {
  font-size: 17px;
  padding: 20px 0 0;
}

.service-icon {
  display: block;
  font-size: 48px;
  line-height: 80px;
  color: #fff;
  background-color: #2eca7f;
  width: 80px;
  height: 80px;
  border-radius: 100px;
  margin: 5px auto 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.service-icon:hover {
  -webkit-transform: translateY(-7px);
  -ms-transform: translateY(-7px);
  -o-transform: translateY(-7px);
  transform: translateY(-7px);
  -webkit-box-shadow: 0 7px 12px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 7px 12px rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0 7px 12px rgba(0, 0, 0, 0.15);
  box-shadow: 0 7px 12px rgba(0, 0, 0, 0.15);
}
/* /Services */

/* Clients */
.client-block {
  text-align: center;
  padding: 5px 0;
  opacity: 0.4;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.client-block:hover {
  opacity: 1;
}

.client-block img {
  max-width: 80px;
  margin: 0 auto;
}

.clients.owl-carousel .owl-item img {
  width: auto;
  max-width: 100%;
}
/* /Clients */

/* Fun Facts */
.fun-fact-block {
  position: relative;
  text-align: center;
  width: 100%;
  display: block;
  margin: 0;
  background: #fff;
  padding: 20px 10px 15px;
  border: 1px solid #eee;
  text-align: center;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.fun-fact-block:hover {
  -webkit-transform: translateY(-9px);
  -ms-transform: translateY(-9px);
  -o-transform: translateY(-9px);
  transform: translateY(-9px);
  -webkit-box-shadow: 0 18px 24px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 18px 24px rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0 18px 24px rgba(0, 0, 0, 0.15);
  box-shadow: 0 18px 24px rgba(0, 0, 0, 0.15);
}

.fun-fact-block.gray-bg {
  background-color: #fafafa;
}

.fun-fact-block h4 {
  margin-top: 10px;
}

.fun-fact-block i {
  position: relative;
  font-size: 56px;
  color: #b5b5b5;
}

.fun-fact-block .fun-value {
  font-size: 24px;
  font-weight: 400;
  display: block;
  margin: 10px 0;
  color: #2eca7f;
}
/* /Fun Facts */

/* Testimonials */
.testimonials {
  width: 100%;
}

.testimonial-item {
  width: 100%;
  margin: 0 auto;
}

.testimonial-credits {
  display: table;
  position: relative;
  margin: 0 auto;
  text-align: center;
}

.testimonial-author {
  display: inline-block;
  font-size: 15px;
  font-family: 'Roboto', Helvetica, sans-serif;
  color: #212121;
  margin: 0;
  font-weight: 400;
}

.testimonial-author-info {
  display: table-cell;
  position: relative;
  padding-left: 12px;
  vertical-align: top;
  text-align: left;
}

.testimonial-content {
  width: 100%;
  height: auto;
  margin-top: -25px;
}

.testimonial-content .testimonial-text {
  padding: 2.2em 1.2em 1.5em;
  font-style: italic;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-top: 2px solid #2eca7f;
  width: 100%;
  position: relative;
  margin: 0;
  z-index: 1;
}

.testimonial-content .testimonial-text p {
  margin: 0;
}

.testimonial-picture {
  position: relative;
  display: table-cell;
  width: 80px;
  height: 80px;
  background-color: #fcfcfc;
  border-radius: 100px;
  margin: 0;
  z-index: 2;
}

.testimonial-picture img {
  width: 100%;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
  border-radius: 100px;
}

.testimonial-firm {
  font-size: 10px;
  line-height: 1.5em;
  color: #9e9e9e;
  margin: 0;
  text-transform: uppercase;
  font-style: italic;
  font-weight: lighter
}
/* /Testimonials */




/* =======================================
6.4. Gallery subpage
======================================= */
.gallery-filters {
  list-style: none;
  padding: 0;
  margin: 0 0 2em;
  text-align: center;
}
.gallery-filters li {
  display: inline-block;
}

.gallery-filters li a,
.gallery-filters li a:hover {
  color: #9e9e9e;
  text-decoration: none;
}

.gallery-filters li a:hover {
  background-color: #eee;
}

.gallery-filters li.active a,
.gallery-filters li.active a:hover {
  background-color: #2eca7f;
  color: #fff;
}

.gallery-grid {
  margin-left: -6px;
  margin-right: -6px;
}

.gallery-grid figure {
  width: calc(33.33333% - 6px);
  float: left;
  margin: 3px;
  position: relative;
  overflow: hidden;
}

.gallery-grid.one-column figure {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}

.gallery-grid.two-columns figure {
  width: calc(50% - 6px);
}

.gallery-grid.three-columns figure {
  width: calc(33.33333% - 6px);
}

.gallery-grid.four-columns figure {
  width: calc(25% - 6px);
}

.gallery-grid img {
  position: relative;
  display: block;
  width: 100%;
  z-index: 1;
}

.gallery-grid figure a,
.gallery-rid figure img {
  display: block;
  position: relative;
}

.gallery-grid figure a {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 3;
}

.gallery-grid figure .gallery-preview-desc {
  position: absolute;
  background: transparent;
  width: 100%;
  height: 100%;
  color: #fff;
  top: 0px;
  left: -100%;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: 2;
}

.gallery-grid figure:hover .gallery-preview-desc {
  left: 0px;
}

.gallery-grid figure .gallery-preview-desc .gallery-preview-desc-inner {
  padding: 5px 20px;
  height: 100%;
  z-index: 2;
  background-color: #9e51f3;
  background-color: rgba(46,202,127,.8);
}

.gallery-grid figure .gallery-preview-desc h5 {
  display: inline-block;
  font-size: 1rem;
  margin: 10px 0;
  color: #fff;
}

.gallery-grid figure .gallery-preview-desc small {
  color: #fff;
  position: absolute;
  bottom: 10px;
  left: 20px;
}

.gallery-grid figure .gallery-preview-desc i {
  color: #fff;
  position: absolute;
  font-size: 18px;
  bottom: 14px;
  right: 20px;
  margin: 0;
}

.gallery-grid figure .gallery-preview-desc span {
  display: block;
  padding: 10px 0;
  text-transform: uppercase;
  font-weight: normal;
  color: rgba(255,255,255,0.9);
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
  border-bottom: 1px solid rgba(255,255,255,0.5);
  -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.1), 0 -10px 0 rgba(255,255,255,0.3);
  -moz-box-shadow: 0 1px 0 rgba(0,0,0,0.1), 0 -10px 0 rgba(255,255,255,0.3);
  box-shadow: 0 1px 0 rgba(0,0,0,0.1), 0 -10px 0 rgba(255,255,255,0.3);
}
/* End of Direction-Aware Hover Effect */

/* Gallery Load More */
.pf-load-more {
  margin-top: 40px;
}
/* /Gallery Load More */


/* =======================================
6.5. Blog subpage
======================================= */
/* Blog */
.blog-masonry {
  margin: 0 -15px 1.8em;
}

.blog-masonry.one-column .item {
  width: 100%;
  padding: 15px;
}

.blog-masonry.two-columns .item {
  width: 50%;
  float: left;
  padding: 15px;
}

.blog-masonry.three-columns .item {
  width: 33.333333%;
  float: left;
  padding: 15px;
}

.blog-card {
  display: block;
  position: relative;
  padding: 0;
  background: #fff;
  text-align: center;
  -webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.1);
  -moz-box-shadow: 0 1px 5px rgba(0,0,0,0.1);
  box-shadow: 0 1px 5px rgba(0,0,0,0.1);
}

.blog-card:hover {
  -webkit-box-shadow: 0 1px 15px rgba(0,0,0,0.11);
  -moz-box-shadow: 0 1px 15px rgba(0,0,0,0.11);
  box-shadow: 0 1px 15px rgba(0,0,0,0.11);
}

.blog-card .post-image {
  width: 100%;
  margin: 0;
}

.blog-card .post-without-f-image {
  padding-bottom: 46.875%;
  width: 100%;
  background-color: #f5f5f5;
}

.blog-card .post-info {
  padding: 0.8em 1.2em 1.4em;
}

.blog-card .blog-item-title {
  margin: 5px 0 0 0;
}

.blog-card .post-meta {
  padding: 1em;
  margin: 0;
}

.blog-card .post-date {
  display: inline-block;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  padding: 0.3em;
  text-align: center;
  position: absolute;
  top: 15px;
  right: 1em;
  min-width: 44px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.blog-card .post-date span {
  display: block;
  color: #2eca7f;
  line-height: 1;
  font-size: 12px;
  margin: 0;
}

.blog-card .media-block {
  position: relative;
}

.sticky-badge {
  position: absolute;
  background-color: #fff;
  left: 10px;
  top: 10px;
  font-size: 11px;
  padding: 3px 5px;
  line-height: 1;
  color: #9e9e9e;
}

.blog-card .media-block a .mask {
  position: absolute;
  background: #4f565e;
  background: rgba(79,86,94,0.6);
  display: inline-block;
  font-family: 'FontAwesome';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  left: 0;
  bottom: 0;
  top: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.blog-card .media-block a .mask:after {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -20px 0 0 -20px;
  width: 40px;
  line-height: 40px;
  font-size: 40px;
  text-align: center;
  content: "\f0f6";
  color: #fff;
}

.blog-card .media-block a:hover .mask {
  visibility: visible;
  opacity: 1;
}

.blog-card .post-date span.day {
  font-size: 21px;
  margin: 3px 0;
}

.blog-card .post-date span.month {
  font-weight: 400;
  margin-bottom: 3px;
}

.blog-card .post-date span.year {
  font-size: 0.8em;
}

.blog-card ul.category {
  list-style: none;
  padding: 0;
  margin: 0;
}

.blog-card ul.category li {
  display: inline-block;
}

.blog-card ul.category li a {
  color: #9e9e9e;
  font-size: 0.8em;
  font-weight: 400;
}

.blog-card .post-meta .item, .post-meta .item a {
  color: #a6a6a6;
}

.post-meta .item {
  display: inline-block;
  font-size: 13px;
  margin-right: 10px;
}

.post-meta .item:before {
  padding-right: 5px;
}



/* =======================================
6.6. Contact subpage
======================================= */
/* Contact info */
.info-block-w-icon {
  position: relative;
  text-align: left;
  width: 100%;
  display: block;
  margin: 0;
  padding: 10px 10px 10px 0;
}

.info-block-w-icon:last-child {
  margin-bottom: 30px;
}

.info-block-w-icon .ci-icon {
  position: absolute;
  top: 50%;
  margin-top: -18px;
  width: 36px;
  height: 36px;
  background-color: #fafafa;
  border-radius: 20px;
  text-align: center;
}

.info-block-w-icon .ci-text {
  position: relative;
  padding-left: 50px;
}

.info-block-w-icon .ci-text h5 {
  margin: 5px 0;
}

.info-block-w-icon i {
  position: relative;
  font-size: 18px;
  color: #2eca7f;
  text-align: center;
  line-height: 36px;
}
/* /Contact info */

/* Contact form */
.g-recaptcha {
  margin-bottom: 20px;
}
/* / Contact form */

/* Google Map */
.map {
  width: 100%;
  height: 180px;
  margin: 15px 0 30px;
}
/* / Google Map */


/* =============================================================================
7. Sliders
============================================================================= */
/* Testimonials & Clients Carousel */
.testimonials.owl-carousel .owl-nav,
.clients.owl-carousel .owl-nav {
  position: relative;
  text-align: center;
  margin-top: 15px;
}

.testimonials.owl-carousel .owl-nav .owl-prev,
.clients.owl-carousel .owl-nav .owl-prev {
  margin-right: 3px;
}

.testimonials.owl-carousel .owl-nav .owl-prev,
.testimonials.owl-carousel .owl-nav .owl-next,
.clients.owl-carousel .owl-nav .owl-prev,
.clients.owl-carousel .owl-nav .owl-next {
  display: inline-block;
  color: #555;
  background-color: #f5f5f5;
  border-radius: 3px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.testimonials.owl-carousel .owl-nav .owl-prev:hover,
.testimonials.owl-carousel .owl-nav .owl-next:hover,
.clients.owl-carousel .owl-nav .owl-prev:hover,
.clients.owl-carousel .owl-nav .owl-next:hover {
  color: #fff;
  background-color: #2eca7f;
}

.testimonials.owl-carousel .owl-nav .owl-prev:before,
.testimonials.owl-carousel .owl-nav .owl-next:before,
.clients.owl-carousel .owl-nav .owl-prev:before,
.clients.owl-carousel .owl-nav .owl-next:before {
  position: relative;
  margin: 2px;
  width: 22px;
  height: 22px;
  font-family: FontAwesome;
  font-size: 21px;
  line-height: 22px;
  text-align: center;
  display: block;
  cursor: pointer;
}

.testimonials.owl-carousel .owl-nav .owl-prev:before,
.clients.owl-carousel .owl-nav .owl-prev:before {
  content: "\f104";
}

.testimonials.owl-carousel .owl-nav .owl-next:before,
.clients.owl-carousel .owl-nav .owl-next:before {
  content: "\f105";
}
/* /Testimonials & Clients Carousel */

/* Gallery Carousel */
.gallery-page-carousel {
  overflow: hidden;
}

.gallery-page-carousel .owl-nav {
  position: absolute;
  top: 50%;
  width: 100%;
  margin-top: -20px;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}

.gallery-page-carousel .owl-nav [class*='owl-'] {
  color: #9e9e9e;
  margin: 0;
  padding: 4px 7px;
  background: #fff;
  display: inline-block;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.gallery-page-carousel .owl-nav [class*='owl-']:before {
  display: block;
  font-family: FontAwesome;
  font-size: 30px;
  line-height: 30px;
}

.gallery-page-carousel .owl-nav .owl-prev {
  position: absolute;
  margin-left: -50px;
  left: 0;
}

.gallery-page-carousel:hover .owl-nav .owl-prev {
  margin-left: 0;
}

.gallery-page-carousel .owl-nav .owl-next {
  position: absolute;
  margin-right: -50px;
  right: 0;
}

.gallery-page-carousel:hover .owl-nav .owl-next {
  margin-right: 0;
}

.gallery-page-carousel .owl-nav .owl-prev:before {
  content: "\f104";
}

.gallery-page-carousel .owl-nav .owl-next:before {
  content: "\f105";
}

.gallery-page-carousel .owl-dots {
  display: inline-block;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0 10px 5px;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}

.gallery-page-carousel .owl-dots .owl-dot {
  display: inline-block;
}

.gallery-page-carousel .owl-dots .owl-dot.active span, .gallery-page-carousel .owl-dots .owl-dot:hover span {
  background: #9e9e9e;
}

.gallery-page-carousel .owl-dots .owl-dot span {
  width: 12px;
  height: 12px;
  margin: 5px;
  background: #f5f5f5;
  border: 1px solid #9e9e9e;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity 200ms ease;
  border-radius: 30px;
}
/* Gallery Carousel */





/* =============================================================================
8. Gallery Full info page
============================================================================= */
.page-ajax-loaded:empty {
  display: none !important;
}

.gallery-page-video,
.gallery-page-carousel,
.gallery-page-image {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}

.page-gallery-loaded {
  position: fixed;
  background-color: #fff;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1001;
  overflow: hidden;
}

.admin-bar .page-gallery-loaded {
  top: 32px;
}

.page-gallery-loaded .gallery-preloader {
  background-color: #fff;
}

.page-gallery-loaded > article {
  height: 100%;
}

.page-gallery-loaded > article > div {
  height: 100%;
}

.page-gallery-loaded > article .entry-content {
  padding-bottom: 0;
}

.gallery-page-content {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #fff;
  -webkit-overflow-scrolling: touch;
}

.single-page-content .gallery-page-content {
  padding: 10px 50px 50px;
}

.gallery-page-wrapper {
  padding: 20px 0 0;
}

.page-gallery-loaded .gallery-page-wrapper {
  max-width: 1500px;
  margin: 0 auto;
  padding: 30px 60px 50px;
}

.gallery-page-nav {
  text-align: right;
}

.gallery-page-nav > div.nav-item {
  position: relative;
  display: inline-block;
  margin: 0 3px;
}

.gallery-page-nav > div.nav-item a {
  display: inline-block;
  height: 42px;
  width: 42px;
  text-align: center;
  color: #9e9e9e;
  border-radius: 3px;
  background-color: #f5f5f5;
}

.gallery-page-nav > div.nav-item a:hover {
  color: #2eca7f;
}

.gallery-page-nav > div.nav-item a i {
  line-height: 42px;
  font-size: 22px;
}

.gallery-page-title {
  padding-top: 10px;
  padding-bottom: 30px;
  text-align: center;
}

.gallery-page-title h1 {
  display: inline-block;
  margin: 0;
}

.gallery-page-page-content img {
  max-width: 100%;
}

.gallery-page-content .embed-video,
.gallery-page-carousel,
.gallery-page-content .single-image  {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}

.gallery-page-wrapper .gallery-grid {
  margin-bottom: 25px;
}

.gallery-page-wrapper .block-title h3 {
  margin-bottom: 15px;
}

.project-general-info {
  list-style: none;
  padding: 0;
  margin: 0 0 15px;
}

.project-general-info li {
  margin : 0 0 10px;
}

.project-general-info .fa {
  color: #ff724c;
  margin-right: 5px;
}

.entry-content .gallery-page-content .project-general-info p {
  margin: 0;
  font-size: 1em;
}

.share-buttons {
  margin: 25px 0 0;
}

.project-general-info {
  list-style: none;
  padding: 0;
  margin: 0 0 15px;
}

.project-general-info li {
  margin : 0 0 10px;
}

.project-general-info .fa {
  color: #2eca7f;
  margin-right: 5px;
}

.project-general-info p {
  margin: 0;
}

.share-buttons {
  margin: 25px 0 0;
}

.share-buttons a {
  display: inline-block;
  margin: 0 5px 0 0;
  padding: 0;
  width: 28px;
  height: 28px;
  color: #9e9e9e;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 0;
  text-align: center;
}

.share-buttons a:hover {
  color: #fff;
  background-color: #2eca7f;
  border-color: transparent;
}

.share-buttons a:last-child {
  margin-right: 0;
}

.share-buttons a i {
  font-size: 14px;
  line-height: 26px;
}

/* Tags Block */
.tags-block {
  margin: 25px 0 0;
}

.tags {
  list-style: none;
  margin: 0;
  padding: 0;
}

.tags > li {
  display: inline-block;
}

.tags a {
  display: inline-block;
  font-size: 13px;
  color: #757575;
  padding: 3px 8px;
  background-color: #eee;
  border-radius: 3px;
  margin: 3px 2px 2px;
}

.tags a:first-child {
  margin-left: 0;
}
/* /Tags Block */


.mask-gallery-grid {
  position: absolute;
  background: #4f565e;
  background: rgba(79,86,94,0.6);
  display: inline-block;
  font-family: 'FontAwesome';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border: 3px solid transparent;
  width: 100%;
  left: 0;
  bottom: 0;
  top: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.mask-gallery-grid:after {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -20px 0 0 -20px;
  width: 40px;
  line-height: 40px;
  font-size: 40px;
  text-align: center;
  content: "\f00e";
  color: #fff;
}

.gallery-grid figure:hover .mask-gallery-grid {
  visibility: visible;
  opacity: 1;
}

.embed-lazy-video {
    background-color: #000;
}

.embed-lazy-video img {
    width: 100%;
    top: -16.84%;
    left: 0;
    opacity: 0.7;
}

.embed-responsive-4by3.embed-youtube-video.embed-lazy-video img,
.embed-vimeo-video.embed-lazy-video img {
    top: 0;
}

.embed-lazy-video .play-button {
    width: 90px;
    height: 60px;
    background-color: #333;
    box-shadow: 0 0 30px rgba( 0,0,0,0.6 );
    z-index: 1;
    opacity: 0.8;
}
.embed-lazy-video .play-button:before {
    content: "";
    border-style: solid;
    border-width: 15px 0 15px 26.0px;
    border-color: transparent transparent transparent #fff;
}
.embed-lazy-video img,
.embed-lazy-video .play-button {
    cursor: pointer;
}
.embed-lazy-video img,
.embed-lazy-video iframe,
.embed-lazy-video .play-button,
.embed-lazy-video .play-button:before {
    position: absolute;
}
.embed-lazy-video .play-button,
.embed-lazy-video .play-button:before {
    top: 50%;
    left: 50%;
    transform: translate3d( -50%, -50%, 0 );
}
.embed-lazy-video iframe {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}


/* =============================================================================
9. Single Page Layout (Blog Post page ...)
============================================================================= */
.single-page-content {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding-top: 100px;
  z-index: 1;
}

.single-page-content .content-area {
  position: relative;
  overflow: hidden;
  display: table;
  table-layout: fixed;
  width: 100%;
  max-width: 1032px;
  margin: 0 auto;
  border-radius: 15px;
  -webkit-box-shadow: 0px 15px 25px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 15px 25px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 15px 25px 0px rgba(0,0,0,0.1);
}

.single-page-content .content-area .page-content {
  padding: 30px 50px 50px;
}

.list-view:not(.post-type-archive-fw-gallery) .single-page-content .content-area .page-content,
.single .single-page-content .content-area .page-content {
  padding: 0 0 50px;
}

.list-view .post-content,
.list-view .post-navigation,
.list-view .comments-area,
.list-view .paging-navigation,
.site-content.single-post .post-content,
.site-content.single-post .post-navigation,
.site-content.single-post .comments-area {
  margin-left: 50px;
  margin-right: 50px;
}

.list-view .page-content .archive-title,
.list-view .page-content .page-title {
  padding: 30px 50px;
}




/* =============================================================================
10. Pricing
============================================================================= */
/* Pricing */
.fw-pricing .fw-package {
  background-color: #fff;
  border: 1px solid #e0e0e0;
  padding: 30px 30px;
  margin-bottom: 10px;
  text-align: center;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.fw-pricing .fw-package-wrap.highlight-col .fw-package {
  -webkit-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  -o-transform: translateY(-5px);
  transform: translateY(-5px);
  -webkit-box-shadow: 0 7px 12px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 7px 12px rgba(0, 0, 0, 0.12);
  -o-box-shadow: 0 7px 12px rgba(0, 0, 0, 0.12);
  box-shadow: 0 7px 12px rgba(0, 0, 0, 0.12);
}

.fw-pricing .fw-package:hover,
.fw-pricing .fw-package-wrap.highlight-col .fw-package:hover {
  -webkit-transform: translateY(-9px);
  -ms-transform: translateY(-9px);
  -o-transform: translateY(-9px);
  transform: translateY(-9px);
  -webkit-box-shadow: 0 18px 24px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 18px 24px rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0 18px 24px rgba(0, 0, 0, 0.15);
  box-shadow: 0 18px 24px rgba(0, 0, 0, 0.15);
}

.fw-pricing .fw-package-wrap.highlight-col .fw-heading-row span {
  position: relative;
  display: inline-block;
}

.fw-pricing .fw-package-wrap.highlight-col .fw-heading-row span:after {
  content: '';
  height: 2px;
  margin-top: 0;
  background-color: #2eca7f;
  position: absolute;
  left: 0;
  bottom: -3px;
  right: 0;
}

.fw-pricing .fw-pricing-row {
  padding: 30px 0 10px;
}

.fw-pricing .fw-pricing-row span {
  display: block;
  line-height: 1;
  font-size: 42px;
}

.fw-pricing .fw-pricing-row small {
  color: #aaa;
  display: block;
}

.fw-pricing .fw-default-row {
  padding: 5px 0;
  font-size: 14px;
}

.fw-pricing .fw-button-row {
  padding: 10px 0 20px;
}

.fw-pricing .fw-price-icon-no:before {
    content: "\f068";
    color: #e87878;
}

.fw-pricing .fw-price-icon-yes:before {
    content: "\f058";
    color: #ade878;
}

/* table */
.fw-table table {
  width: 100%;
  border: 1px solid #eee;
  font-size: 0.875em;
}

.fw-table table tr,
.fw-table table tr.heading-row {
  border-bottom: 1px solid #eee;
}

.fw-table table tr:not(.heading-row):last-child {
  border-bottom: 0;
}

.fw-table table th {
  padding: 7px 12px;
  border-right: 1px solid #eee;
}

.fw-table table td {
  padding: 7px 12px;
  border-right: 1px solid #eee;
}

.fw-table table td:last-child {
  border-right: 0;
}




/* =============================================================================
11. Blog
============================================================================= */
.blog-post-page {
  height: auto;
}

.blog-post-page .page-wrapper {
  position: relative;
  border-left: 15px solid #f5f5f5;
}

.blog-post-content {
  position: relative;
  background-color: #fff;
  padding: 30px;
  margin: -50px 40px 0;
}

blockquote {
  margin: 20px 0;
  border-left: 3px solid #2eca7f;
  font-style: italic;
}

blockquote p:last-child {
  margin-bottom: 0;
}

blockquote footer, blockquote small, blockquote .small {
  color: #9e9e9e;
  margin-top: 10px;
}

blockquote.fw-quote-lg {
  font-size: 125%;
}

blockquote.fw-quote-sm {
  font-size: 95%;
}

blockquote.fw-quote-center {
  text-align: center;
}

blockquote.fw-quote-right {
  text-align: right;
}

.blog-post-content .block-title {
  margin: 40px 0 10px;
}

.entry-meta {
  color: #9e9e9e;
  margin: 20px 0 30px;
}

.entry-meta a {
  color: #9e9e9e;
}

.entry-meta a:hover {
  color: #F4511E;
}

.site-content .entry-meta.entry-tags-share {
  display: inline-block;
  width: 100%;
  background-color: #fafafa;
  padding: 5px 10px;
  margin: 10px 0 0;
}

.entry-meta.entry-tags-share .share-buttons {
  display: inline-block;
  margin: 0;
}

.entry-meta.entry-tags-share .share-buttons a:hover {
  color: #fff;
}

.entry-meta.entry-tags-share .post-info span {
  display: inline-block;
  padding: 5px 0;
  line-height: 1em;
}

.blog-post-content .post-comment-add {
  max-width: 700px;
}

.blog-post-content .post-comments .media {
  margin-top: 30px;
}

.blog-post-content .post-comments > .media {
  margin-top: 0;
}

.post-comments .media-object {
  max-width: 60px;
  border-radius: 50px;
}

.post-comments .media-footer,
.post-comments .media-footer a {
  display: inline-block;
  color: #9e9e9e;
  font-size: 12px;
  line-height: 1em;
}

.post-comments .media-footer a:hover {
  color: #ffcd38;
}

.blog-post-content .divider {
  color: #d3d3d3;
  margin: 0 2px;
  min-width: 5px;
}

.post-comments .light-gray {
  color: #9e9e9e;
  font-size: 12px;
}

.site-content.single-post {
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
}

.single-post .site-content article {
  padding-top: 15px;
}

.single-post .site-content article.has-post-thumbnail {
  padding-top: 0;
}

.site-content.single-post .post-thumbnail {
  margin-top: 0;
}

.site-content.single-post .post-content,
.site-content.single-post .post-navigation,
.site-content.single-post .comments-area {
  position: relative;
  z-index: 1;
}

.list-view .site-content article {
  padding-bottom: 55px;
  border-bottom: 1px solid #e5e5e5;
}

.list-view .site-content article:last-child {
  padding-bottom: 0;
  margin-bottom: 0;
  border-bottom: 0;
}

.site-content.single-post .entry-content {
  padding: 0 0 30px;
}

.post-content .embed-video {
  margin-top: 20px;
}

.post-content .single-image {
  margin-top: 20px;
}

blockquote {
  padding: 15px 20px;
  margin: 20px 0;
  font-size: 1em;
  border-left: 3px solid #2eca7f;
}



/* ======= Post Thumbnail ======= */
.post-thumbnail {
  background: #b2b2b2 url(../images/pattern-light.svg) repeat fixed;
  display: block;
  position: relative;
  width: 100%;
  z-index: 0;
}

a.post-thumbnail:hover {
  background-color: #999;
}

.full-width .post-thumbnail img {
  display: block;
  margin: 0 auto;
}

/* ======= Comments ====== */
.comment-reply-link:before,
.comment-reply-login:before,
.comment-edit-link:before {
  font-family: 'FontAwesome';
  margin-right: 3px;
}

.bypostauthor > article .fn:before {
  content: "\f005";
  margin: 0 4px 0 -2px;
  position: relative;
  top: 0;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-family: 'FontAwesome';
  font-size: 16px;
  text-decoration: inherit;
  vertical-align: baseline;
  opacity: 0.5;
}

.comments-area {
  margin: 30px auto 0;
  padding: 0;
}

.comment-list {
  list-style: none;
  margin: 0 0 50px;
  padding: 0;
  font-size: 1em;
}

.comment-list .comment {
  font-size: 1em;
}

.comment-awaiting-moderation,
.comment-content,
.comment-list .reply {
  padding-left: 75px;
}

.comment-author {
  display: inline-block;
  font-size: 14px;
  line-height: 1.7142857142;
}

.comment-metadata {
  display: inline-block;
  padding-left: 10px;
  margin-left: 5px;
  border-left: 1px solid #d3d3d3;
}

.comment-list .reply,
.comment-metadata {
  font-size: 12px;
  color: #9e9e9e;
  line-height: 1.2;
}

.comment-list .reply {
  margin-top: 15px;
}

.comment-list .reply a {
  color: #9e9e9e;
}

.comment-author .fn {
  color: #9e9e9e;
  font-size: 15px;
  font-weight: 400;
}

.comment-list .trackback a,
.comment-list .pingback a,
.comment-metadata a {
  color: #aaa;
}

.comment-author a:hover,
.comment-list .pingback a:hover,
.comment-list .trackback a:hover,
.comment-metadata a:hover {
  color: #2eca7f;
}

.comment-list article,
.comment-list .pingback,
.comment-list .trackback {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 24px;
  padding-top: 24px;
}

.comment-list > li:first-child > article,
.comment-list > .pingback:first-child,
.comment-list > .trackback:first-child {
  border-top: 0;
}

.comment-meta {
  padding-left: 75px;
}

.comment-author {
  position: relative;
}

.comment-author .avatar {
  height: 60px;
  position: absolute;
  top: 0;
  left: -75px;
  width: 60px;
  min-width: 60px;
  border-radius: 50px;
}

.says {
  display: none;
}

.comment-edit-link {
  margin-left: 10px;
}

.comment-edit-link:before {
  content: "\f040";
}

.comment-reply-link:before,
.comment-reply-login:before {
  content: "\f112";
  margin-right: 2px;
}

.comment-content {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  word-wrap: break-word;
  margin-top: 5px;
  font-size: 1em;
}

.comment-content ul,
.comment-content ol {
  margin: 0 0 24px 22px;
}

.comment-content li > ul,
.comment-content li > ol {
  margin-bottom: 0;
}

.comment-content > :last-child {
  margin-bottom: 0;
}

.comment-list .children {
  list-style: none;
  margin-left: 15px;
  padding-left: 10px;
}

.comment-respond {
  margin-bottom: 24px;
  padding: 0;
}

.comment .comment-respond {
  margin-top: 24px;
}

.comment-respond h3 {
  margin-top: 0;
  margin-bottom: 24px;
}

.comment-notes,
.comment-awaiting-moderation,
.admin-bar-as,
.no-comments,
.form-allowed-tags,
.form-allowed-tags code {
  color: #767676;
}

.comment-notes,
.comment-awaiting-moderation,
.admin-bar-as {
  font-size: 14px;
  line-height: 1.7142857142;
}

.no-comments {
  font-size: 16px;
  font-weight: 900;
  line-height: 1.5;
  margin-top: 24px;
}

.comment-form label {
  display: block;
}

.comment-form input[type="text"],
.comment-form input[type="email"],
.comment-form input[type="url"] {
  width: 100%;
}

.form-allowed-tags,
.form-allowed-tags code {
  font-size: 12px;
  line-height: 1.5;
}

.required {
  color: #c0392b;
}

.comment-reply-title small {

}

.comment-reply-title small a {
  color: #888;
}

.comment-reply-title small a:hover {
  color: #2eca7f;
}

.comment-navigation {
  font-size: 12px;
  line-height: 2;
  margin-bottom: 48px;
}

.comment-navigation .nav-next,
.comment-navigation .nav-previous {
  display: inline-block;
}

.comment-navigation .nav-previous a {
  margin-right: 10px;
}

#comment-nav-above {
  margin-top: 36px;
  margin-bottom: 0;
}



/* ======= Entry Header ====== */
.entry-header {
  position: relative;
  z-index: 1;
}

.entry-title {
  font-size: 36px;
  line-height: 1.0909090909;
  margin-bottom: 12px;
  margin: 0 0 12px 0;
}

.entry-title a {
  color: inherit;
}

.entry-title a:hover {
  color: #2eca7f;
}

.site-content .entry-header {
  padding: 30px 0 20px;
}



/* ====== Entry Meta ======= */
.entry-meta {
  clear: both;
  line-height: 1.3333333333;
}

.entry-meta + .cat-links:empty {
  display: none;
}

.entry-meta a:hover {
  color: #2eca7f;
}

.entry-meta .divider {
  margin: 0 3px;
  color: #e5e5e5;
}

.post-categories {
  display: inline-block;
  margin: 0 0 7px;
  padding: 0;
  list-style: none;
}

.post-categories li {
  display: inline-block;
}

.cat-links {
  display: block;
  padding: 5px 0;
}

.cat-links li a {
  display: inline-block;
  font-size: 14px;
  margin: 0 6px 6px 0;
  color: #fff;
  background-color: #2eca7f;
  padding: 2px 5px;
}

.cat-links li:first-child a {
  margin-left: 0;
}

.cat-links li a:hover {
  color: #fff;
  background-color: #2eca7f;
}

.byline {
  display: none;
}

.single .byline,
.group-blog .byline {
  display: inline;
}

.site-content .entry-meta {
  margin-bottom: 8px;
}

.site-content footer.entry-meta {
  margin: 25px 0;
  padding: 10px 10px;
  font-size: 15px;
  border: 1px solid #eee;
}

.entry-tags-share .tags {
  float: left;
}

.entry-tags-share .entry-share {
  float: right;
  margin: 0;
}

.entry-tags-share .entry-share a:hover {
  color: #fff;
}

.entry-tags-share .entry-share h4 {
  display: inline-block;
  float: left;
  margin: 2px 10px 0;
}



/* ======= Entry Content ======= */
.entry-content,
.entry-summary,
.page-content {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  word-wrap: break-word;
}

.site-content .entry-content,
.site-content .entry-summary {
  padding: 6px 0 0;
}

.wrapper .entry-content {
  padding-top: 0;
  padding-bottom: 30px;
}

.entry-content h1:first-child,
.entry-content h2:first-child,
.entry-content h3:first-child,
.entry-content h4:first-child,
.entry-content h5:first-child,
.entry-content h6:first-child,
.entry-summary h1:first-child,
.entry-summary h2:first-child,
.entry-summary h3:first-child,
.entry-summary h4:first-child,
.entry-summary h5:first-child,
.entry-summary h6:first-child,
.page-content h1:first-child,
.page-content h2:first-child,
.page-content h3:first-child,
.page-content h4:first-child,
.page-content h5:first-child,
.page-content h6:first-child {
  margin-top: 0;
}

.entry-content a:hover,
.entry-summary a:hover,
.page-content a:hover,
.comment-content a:hover,
.entry-content a.button,
.entry-summary a.button,
.page-content a.button,
.comment-content a.button {
  text-decoration: none;
}

.entry-content table,
.comment-content table {
  font-size: 14px;
  line-height: 1.2857142857;
}

.entry-content th,
.comment-content th {
  font-weight: 700;
  padding: 8px;
}

.entry-content td,
.comment-content td {
  padding: 8px;
}

.entry-content .edit-link {
  clear: both;
  display: block;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.3333333333;
  margin-top: 20px;
}

.entry-content .edit-link a {
  color: #767676;
  text-decoration: none;
}

.entry-content .edit-link a:hover {
  color: #2eca7f;
}

.entry-content .more-link {
  display: block;
  padding-top: 15px;
}



/* ======= Mediaelements ======= */
.hentry .mejs-container {
  margin: 12px 0 18px;
}

.hentry .mejs-mediaelement,
.hentry .mejs-container .mejs-controls {
  background: #000;
}

.hentry .mejs-controls .mejs-time-rail .mejs-time-loaded,
.hentry .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
  background: #fff;
}

.hentry .mejs-controls .mejs-time-rail .mejs-time-current {
  background: #24890d;
}

.hentry .mejs-controls .mejs-time-rail .mejs-time-total,
.hentry .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total {
  background: rgba(255, 255, 255, .33);
}

.hentry .mejs-container .mejs-controls .mejs-time {
  padding-top: 9px;
}

.hentry .mejs-controls .mejs-time-rail span,
.hentry .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total,
.hentry .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
  border-radius: 0;
}

.hentry .mejs-overlay-loading {
  background: transparent;
}



/* ======= Page links ======= */
.page-links {
  clear: both;
  font-size: 12px;
  font-weight: 300;
  line-height: 2;
  margin: 24px 0;
}

.page-links a,
.page-links > span {
  background: #fff;
  border: 1px solid #fff;
  display: inline-block;
  margin: 0 1px 2px 0;
  text-align: center;
  width: 22px;
}

.page-links a {
  background: #000;
  border: 1px solid #000;
  color: #fff;
  text-decoration: none;
}

.page-links a:hover {
  background: #2eca7f;
  border: 1px solid #2eca7f;
  color: #fff;
}

.page-links > .page-links-title {
  height: auto;
  margin: 0;
  padding-right: 7px;
  width: auto;
}



/* ======= Post Formats ======= */
.format-aside .entry-content,
.format-aside .entry-summary,
.format-quote .entry-content,
.format-quote .entry-summary,
.format-link .entry-content,
.format-link .entry-summary {
  padding-top: 0;
}

.site-content .format-link .entry-title,
.site-content .format-aside .entry-title,
.site-content .format-quote .entry-title {
  display: none;
}



/* ======= Post/Image/Paging Navigation ======= */
.nav-links {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  word-wrap: break-word;
}

.post-navigation,
.image-navigation {
  margin: 30px auto 0;
  padding: 0;
}

.post-navigation a,
.image-navigation .previous-image,
.image-navigation .next-image {
  display: inline-block;
  width: auto;
  max-width: 50%;
  padding: 9px 0;
}

.post-navigation a[rel="next"],
.image-navigation .previous-image[rel="next"],
.image-navigation .next-image[rel="next"] {
  float: right;
  text-align: right;
}

.post-navigation .meta-nav {
  color: #aaa;
  display: block;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5;
  padding: 5px 10px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.post-navigation .meta-nav:hover {
  color: #fff;
  background-color: #2eca7f;
}

.post-navigation a,
.image-navigation a {
  color: #2d2d2d;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.7142857142;
}

.post-navigation a:hover,
.image-navigation a:hover {
  color: #2eca7f;
}



/* ======= Paging Navigation ======= */
.paging-navigation {
  margin: 40px 0 0;
}

.paging-navigation .loop-pagination {
  margin: 0;
  text-align: center;
}

.paging-navigation .page-numbers {
  border-top: 2px solid transparent;
  display: inline-block;
  font-size: 14px;
  margin-right: 1px;
  padding: 5px 12px;
}

.paging-navigation a {
  color: #222;
}

.paging-navigation .page-numbers.current {
  border-top: 2px solid #2eca7f;
}

.paging-navigation a:hover {
  border-top: 2px solid #2eca7f;
  color: #222;
}



/* ======= Attachments ======= */
.attachment .content-sidebar,
.attachment .post-thumbnail {
  display: none;
}

.attachment .entry-content {
  padding-top: 0;
}

.attachment footer.entry-meta {
  text-transform: none;
}

.entry-attachment .attachment {
  margin-bottom: 24px;
}



/* ======= Archives ======= */
.archive-title,
.page-title {
  color: #ddd;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.5;
  margin: 13px 0 0 0;
}

.taxonomy-description,
.author-description {
  color: #767676;
  font-size: 14px;
  line-height: 1.2857142857;
  padding-top: 18px;
}

.taxonomy-description p,
.author-description p {
  margin-bottom: 18px;
}

.taxonomy-description p:last-child,
.author-description p:last-child {
  margin-bottom: 0;
}

.taxonomy-description a:hover,
.author-description a:hover {
  text-decoration: none;
}


/* ======= Gallery ======= */
.gallery {
  display: inline-block;
  margin-bottom: 20px;
}

.gallery-item {
  float: left;
  margin: 0 4px 4px 0;
  overflow: hidden;
  position: relative;
}

.gallery-columns-1 .gallery-item {
  max-width: 100%;
}

.gallery-columns-2 .gallery-item {
  max-width: 48%;
  max-width: -webkit-calc(50% - 4px);
  max-width: calc(50% - 4px);
}

.gallery-columns-3 .gallery-item {
  max-width: 32%;
  max-width: -webkit-calc(33.3% - 4px);
  max-width: calc(33.3% - 4px);
}

.gallery-columns-4 .gallery-item {
  max-width: 23%;
  max-width: -webkit-calc(25% - 4px);
  max-width: calc(25% - 4px);
}

.gallery-columns-5 .gallery-item {
  max-width: 19%;
  max-width: -webkit-calc(20% - 4px);
  max-width: calc(20% - 4px);
}

.gallery-columns-6 .gallery-item {
  max-width: 15%;
  max-width: -webkit-calc(16.7% - 4px);
  max-width: calc(16.7% - 4px);
}

.gallery-columns-7 .gallery-item {
  max-width: 13%;
  max-width: -webkit-calc(14.28% - 4px);
  max-width: calc(14.28% - 4px);
}

.gallery-columns-8 .gallery-item {
  max-width: 11%;
  max-width: -webkit-calc(12.5% - 4px);
  max-width: calc(12.5% - 4px);
}

.gallery-columns-9 .gallery-item {
  max-width: 9%;
  max-width: -webkit-calc(11.1% - 4px);
  max-width: calc(11.1% - 4px);
}

.gallery-columns-1 .gallery-item:nth-of-type(1n),
.gallery-columns-2 .gallery-item:nth-of-type(2n),
.gallery-columns-3 .gallery-item:nth-of-type(3n),
.gallery-columns-4 .gallery-item:nth-of-type(4n),
.gallery-columns-5 .gallery-item:nth-of-type(5n),
.gallery-columns-6 .gallery-item:nth-of-type(6n),
.gallery-columns-7 .gallery-item:nth-of-type(7n),
.gallery-columns-8 .gallery-item:nth-of-type(8n),
.gallery-columns-9 .gallery-item:nth-of-type(9n) {
  margin-right: 0;
}

.gallery-columns-1 .gallery-item,
.gallery-columns-2 .gallery-item:nth-of-type(2n+1),
.gallery-columns-3 .gallery-item:nth-of-type(3n+1),
.gallery-columns-4 .gallery-item:nth-of-type(4n+1),
.gallery-columns-5 .gallery-item:nth-of-type(5n+1),
.gallery-columns-6 .gallery-item:nth-of-type(6n+1),
.gallery-columns-7 .gallery-item:nth-of-type(7n+1),
.gallery-columns-8 .gallery-item:nth-of-type(8n+1),
.gallery-columns-9 .gallery-item:nth-of-type(9n+1) {
  clear: left;
}

.gallery-columns-1.gallery-size-medium figure.gallery-item:nth-of-type(1n+1),
.gallery-columns-1.gallery-size-thumbnail figure.gallery-item:nth-of-type(1n+1),
.gallery-columns-2.gallery-size-thumbnail figure.gallery-item:nth-of-type(2n+1),
.gallery-columns-3.gallery-size-thumbnail figure.gallery-item:nth-of-type(3n+1) {
  clear: left;
}

.gallery-caption {
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #fff;
  font-size: 12px;
  line-height: 1.5;
  margin: 0;
  max-height: 50%;
  opacity: 0;
  padding: 6px 8px;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: left;
  width: 100%;
}

.gallery-caption:before {
  content: "";
  height: 100%;
  min-height: 49px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.gallery-item:hover .gallery-caption {
  opacity: 1;
}

.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
  display: none;
}



/* ======= Contributor Page ======= */
.contributor {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 48px 10px;
}

.contributor:first-of-type {
  padding-top: 24px;
}

.contributor-info {
  margin: 0 auto;
}

.contributor-avatar {
  border: 1px solid rgba(0, 0, 0, 0.1);
  float: left;
  margin: 0 30px 20px 0;
  padding: 2px;
}

.contributor-name {
  font-size: 16px;
  font-weight: 900;
  line-height: 1.5;
  margin: 0;
}

.contributor-bio a:hover {
  text-decoration: none;
}

.contributor-posts-link {
  display: inline-block;
  line-height: normal;
  padding: 10px 30px;
}

.contributor-posts-link:before {
  content: "\f443";
}



/* ======= Blog Sidebar ======= */
.sidebar.blog-sidebar {
  padding: 0;
  background: none;
  background: none;
}

.blog-sidebar .sidebar-item {
  margin-bottom: 0;
  font-size: 0.9em;
  border-bottom: 1px solid #f5f5f5;
}

.blog-sidebar .sidebar-item:last-child {
  border-bottom: 0;
}

.blog-sidebar li {
  font-size: 1em;
}

.sidebar-item .menu-item i {
  display: none;
}


.sidebar .sidebar-item ul {
  margin:0;
  list-style: none;
}

.sidebar .sidebar-item ul li {
  list-style: none;
}

.blog-sidebar select {
  width: auto;
  max-width: 100%;
}

.sidebar-item > select {
  margin: 14px 20px 19px;
}

.blog-sidebar p {
  font-size: 1em;
}

.blog-sidebar ul,
.blog-sidebar .textwidget,
.blog-sidebar .tagcloud {
  display: inline-block;
  max-width: 100%;
  padding: 10px 20px 15px;
  margin: 4px 0;
  list-style: none;
}

.blog-sidebar ul ul {
  padding: 5px;
}

.blog-sidebar ul li {
  padding-left: 15px;
  margin: 5px 0;
  position: relative;
  color: #aaa;
}


.blog-sidebar ul li:before {
  content:"\f111";
  font-family: 'fontAwesome';
  font-size: 5px;
  color: #e5e5e5;
  position: absolute;
  left: 0;
}

.blog-sidebar ul li ul {
  padding: 0;
  margin: 0;
}

.blog-sidebar ul li ul li {
  margin-top: 0;
  margin-bottom: 0;
}

.blog-sidebar .sub-menu,
.blog-sidebar .children {
  width: 100%;
}

.blog-sidebar .sub-menu ul {
  margin-top: 0;
  margin-bottom: 0;
}

.blog-sidebar .sub-menu li {
  padding: 0 0 0 7px;
  margin: 0;
}

.blog-sidebar .sub-menu li:before {
  display: none;
}

.blog-sidebar a {
  color: #888;
}

.blog-sidebar a:hover {
  color: inherit;
}

.blog-sidebar .searchform {
  margin: 4px 0;
}

.blog-sidebar .sidebar-item:first-child .searchform {
  margin-top: 0;
}

.blog-sidebar h6,
.blog-sidebar .sidebar-title {
  display: block;
  position: relative;
  padding: 5px 22px 0;
  margin: 15px 0 0 0;
  color: #fff;
}

.blog-sidebar .sidebar-title h4 {
  display: block;
  font-size: 17px;
  position: relative;
  margin: 0;
}

.blog-sidebar .sidebar-title h4:after {
  content: '';
  display: block;
  position: absolute;
  width: 2px;
  height: 100%;
  left: -10px;
  bottom: 0;
  background-color: #2eca7f;
}

.blog-sidebar .post-date {
  font-size: 11px;
}

.blog-sidebar .separator {
  display: none;
}

.blog-sidebar h6 .demo-icons,
.blog-sidebar .sidebar-title .demo-icons,
.blog-sidebar .sidebar-title .fa {
  color: #fff;
  margin-right: .6em;
}

.blog-sidebar .sidebar-title .rsswidget img {
  vertical-align: baseline;
}


/* Calendar */
.calendar_wrap {
  padding: 12px 22px;
}

.calendar_wrap table {
  width: 100%;
  border: 0;
}

.calendar_wrap th {
  background-color: #e5e5e5;
  text-align: center;
  font-size: 11px;
  border: 0;
}

.calendar_wrap td {
  background-color: #fcfcfc;
  text-align: center;
  border: 0;
}

.calendar_wrap td#today {
  background-color: #2eca7f;
  color: #fff;
  padding: 0 3px;
}

/* hiding the Duplicated widget title */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  word-wrap: normal !important;
}



/* ======= Search form =======  */
.search-form {
  position: relative;
  overflow: hidden;
}

.search-form label {
  font-weight: inherit;
  width: 100%;
  margin: 0;
}

.search-form label span {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 0;
  text-indent: -3000px;
  opacity: 0.35;
  margin: 0;
}

.search-form label:after {
  height: 48px;
  width: 48px;
  position: absolute;
  top: 0;
  right: 0;
  content: "\f002";
  font-size: 1.2em;
  font-family: 'FontAwesome';
  line-height: 48px; text-align: center;
  border-left: none;
  color: #ddd;
}
.search-form input[type="search"],
.search-form input[type="text"] {
  padding: 10px 50px 10px 16px;
  margin-bottom: 0;
  position: relative;
  border: none;
  width: 100%;
  height: 48px;
  color: inherit;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.blog-sidebar .search-form input[type="search"],
.blog-sidebar .search-form input[type="text"] {
  border: none;
  background-color: transparent;
}

.search-form input[type="submit"],
.search-form input[type="submit"]:hover,
.search-form input[type="submit"]:focus {
  position: absolute;
  top: 0;
  right:0;
  height: 48px;
  width: 48px;
  background: transparent;
  border: none;
  z-index: 1000;
  cursor: pointer;
  text-indent: -200px;
  overflow: hidden;
  border-radius:0;
  box-shadow: none;
}

.search-form input[type="text"]:focus + input[type="submit"] {
  margin-right: 0;
}


/* ======= Search Results: nothing found ======= */
.page-content-none {
  padding-top: 30px;
  text-align: center;
}

.page-content-none .search-form {
  max-width: 270px;
  margin: 30px auto;
}

.page-content-none .search-form input[type="search"] {
  border: 1px solid #e5e5e5;
}

.page-content-none .search-form input[type="search"]:focus {
  border-color: #aaa;
}




/* =============================================================================
12. 404 Page
============================================================================= */
.nothing-found {
  text-align: center;
}

.nothing-found .mCSB_container {

}

.nothing-found h1 {
  font-size: 160px;
  line-height: 1.2em;
  color: #ddd;
}

.nothing-found p {
  display: inline-block;
  color: #fff;
  background-color: #2eca7f;
  padding: 0 10px;
  font-size: 16px;
  font-weight: 300;
}




/* =============================================================================
13. Media Queries
============================================================================= */

@media only screen and (max-width: 1320px) {
  .gallery-grid figure {
    width: calc(33.33333% - 6px);
  }
}

@media only screen and (max-width: 1032px) {
  .header .header-content {
    margin: 0 15px;
  }

  .pt-page {
    margin: 0 15px;
    width: auto;
  }
}

@media only screen and (min-width: 991px) {
  body::-webkit-scrollbar {
    position: absolute;
    width: 6px;
    margin-left: -6px;
  }

  body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.15);
  }

  body::-webkit-scrollbar-thumb {
    background-color: #ccc;
    outline: 1px solid slategrey;
  }
}

@media only screen and (max-width: 991px) {
  .mobile-visible {
    display: block;
    visibility: visible;
  }

  .mobile-hidden {
    display: none !important;
    visibility: hidden !important;
  }

  .border-block-top-110 {
    display: none;
  }

  .header {
    width: 100%;
    max-width: 320px;
    height: calc(100% - 50px);
    right: 0;
    top: 50px;
    z-index: 1001;
    opacity: 1;
    overflow: auto;
    background-color: #2eca7f;
    visibility: visible;
    -webkit-box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.2);
    -webkit-transition: all 0s ease-in-out;
    -moz-transition: all 0s ease-in-out;
    -o-transition: all 0s ease-in-out;
    -ms-transition: all 0s ease-in-out;
    transition: all 0s ease-in-out;
  }

  .header.animate {
    -webkit-transition: all 0.44s ease-in-out;
    -moz-transition: all 0.44s ease-in-out;
    -o-transition: all 0.44s ease-in-out;
    -ms-transition: all 0.44s ease-in-out;
    transition: all 0.44s ease-in-out;
  }

  body {
    padding-bottom: 100px;
  }

  .mobile-menu-hide {
    width: 0;
    right: 0;
    margin-right: -100%;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }

  .header .logo {
    float: none;
  }

  .header .logo a {
    text-align: center;
  }

  .admin-bar .header {
    top: 82px;
    height: calc(100% - 82px);
  }

  .my-photo {
    margin-top: 31px;
  }

  .site-title {
    font-size: 24px;
  }

  .mobile-header {
    position: fixed;
    top: 0;
    display: inline-block;
    width: 100%;
    max-width: 100%;
    left: 0;
    right: 0;
    height: 50px;
    background-color: #2eca7f;
    -webkit-box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.1);
    z-index: 1000;
  }

  .mobile-logo-container {
    margin: 0 20px;
    text-align: left;
  }

  .mobile-header-image {
    display: inline-block;
    float: left;
  }

  .mobile-header-image img {
    max-height: 34px;
    margin: 8px 8px 8px 0;
  }

  .mobile-site-title {
    display: inline-block;
    float: left;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Montserrat', Helvetica, sans-serif;
    margin: 0;
    line-height: 50px;
  }

  .site-title-block .site-description {
    display: none;
  }

  .subpages {
    padding-top: 15px;
  }

  .single-page-content {
    padding: 15px 15px 0 15px;
  }

  .page-content,
  .single-page-content .content-area .page-content {
    padding: 30px 30px 50px;
  }

  .subpage-block {
    margin-bottom: 40px;
  }

  .site-main {
    top: 50px;
    bottom: 0;
    width: 100%;
    height: auto;
    margin: 0;
    border: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }

  .section-title-block {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 30px;
  }

  .section-title-wrapper {
    display: block;
    text-align: center;
  }

  .section-title {
    display: inline-block;
    position: relative;
    font-size: 38px;
  }

  .section-title:after {
    display: none;
  }

  .section-title-block .section-description {
    position: relative;
    font-size: 13px;
    margin-top: -10px;
  }

  p.site-description {
    color: #9e9e9e;
    text-shadow: none;
  }

  .pt-wrapper {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .site-title-block {
    float: none;
  }

  .site-nav {
    float: none;
    margin-top: 25px;
    padding-left: 25px;
    padding-right: 15px;
    text-align: left;
  }

  .site-main-menu {
    display: block;
    float: none;
    margin: 0;
  }

  .site-main-menu li {
    display: block;
    text-align: left;
    float: none;
    width: 100%;
    margin: 0;
  }

  .site-main-menu li a,
  .site-main-menu li a:hover {
    display: inline-block;
    color: #fff;
    padding: 15px 10px;
    margin: 0;
  }

  .site-main-menu li.active a:after,
  .site-main-menu li a:hover:after,
  .site-main-menu li.current-menu-item a:after {
    width: 25px;
    bottom: 8px;
    background-color: #fff;
  }

  .site-main-menu .sub-menu {
    margin: 0;
    padding-left: 15px;
  }

  .site-main-menu + .site-main-menu > li:first-child {
    margin-left: 0;
  }

  .header .header-content {
    padding-top: 0;
  }

  .header-search {
    margin-left: 10px;
  }

  .aveo-additional-menu.site-main-menu > li:first-child > a {
    margin-left: 0;
  }

  .home-page-block h2 {
    font-size: 60px;
  }

  .home-page-description {
    font-size: 18px;
  }

  .ajax-page-wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }

  .lm-pricing .lm-package {
    max-width: 400px;
    margin: 0 auto 25px;
  }

  .lm-pricing .lm-package-wrap:last-child .lm-package:last-child {
    margin-bottom: 0;
  }

  .blog-masonry.three-columns .item {
    width: 50%;
  }

  .single-page-content .content-area {
    display: block;
  }

  .site-content.single-post .post-thumbnail {
    margin-top: 0;
  }

  .content-page-with-sidebar .page-content {
    width: 100%;
    display: block;
  }

  .content-page-with-sidebar .blog-sidebar {
    width: 100%;
    display: block;
    border-left: 0;
  }

  .list-view .post-thumbnail {
    margin-top: 0;
  }

  .list-view .archive-title {
    margin-bottom: 20px;
  }

  .gallery-grid.four-columns figure {
    width: calc(33.3333333333% - 6px);
  }
}

@media screen and ( max-width: 782px ) {
  .admin-bar { margin-top: 0; padding-top: 46px; }

  .admin-bar .header {
    top: 96px;
    height: calc(100% - 96px);
  }

  .admin-bar .page-gallery-loaded {
    top: 46px;
  }
}

@media only screen and (min-width: 768px) {
  .fw-container {
    width: auto;
  }
}

@media only screen and (max-width: 768px) {
  .gallery-grid figure,
  .gallery-grid.four-columns figure,
  .gallery-grid.three-columns figure {
    width: calc(50% - 6px);
  }

  .home-page-block h2 {
    font-size: 50px;
  }

  .home-page-description {
    font-size: 18px;
  }

  .info-list {
    margin-top: 20px;
  }

  .start-page-content .page-header {
    padding: 50px 30px;
    margin: 0;
  }

  .start-page-content .page-header .photo {
    max-width: 200px;
    margin: 0 auto;
  }

  .start-page-content .page-header .title-block h2 {
    margin-top: 25px;
    font-size: 44px;
    line-height: 1.2em;
  }

  .start-page-content .page-header .title-block .sp-subtitle {
    margin-top: 15px;
  }

  .custom-page-content .page-header {
    padding: 15px 30px;
  }

  .custom-page-content .page-header h2 {
    font-size: 33px;
  }

  .blog-post-content {
    padding: 0;
    margin: 30px 0 0;
  }

  .blog-masonry.two-columns .item,
  .blog-masonry.three-columns .item {
    width: 100%;
  }

  .gallery-grid figure,
  .gallery-grid.three-columns figure {
    width: calc(50% - 6px);
  }

  .page-gallery-loaded .gallery-page-wrapper,
  .single-page-content .gallery-page-content {
    padding-left: 30px;
    padding-right: 30px;
  }

  .fw-container {
    width: auto;
    padding-left: 15px;
    padding-right: 15px;
  }

  .nothing-found h1 {
    font-size: 88px;
  }

  .entry-meta.entry-tags-share .share-buttons {
    display: block;
    float: none;
  }

  .entry-tags-share .tags {
    display: block;
    float: none;
  }

  .entry-meta.entry-tags-share .tags + .share-buttons {
    margin-top: 10px;
  }

  .list-view .post-content,
  .list-view .post-navigation,
  .list-view .comments-area,
  .list-view .paging-navigation,
  .site-content.single-post .post-content,
  .site-content.single-post .post-navigation,
  .site-content.single-post .comments-area {
    margin-left: 30px;
    margin-right: 30px;
  }

  .list-view .page-content .archive-title,
  .list-view .page-content .page-title {
    padding: 20px 30px;
  }

  .fw-table {
    width: 100%;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }

  .lmpixels-arrows-nav > div {
    height: 32px;
    width: 32px;
  }

  .lmpixels-arrows-nav > div i {
    line-height: 32px;
    height: 32px;
    font-size: 24px;
  }
}

@media only screen and (max-width: 480px) {
  .gallery-grid {
    margin-left: 0;
    margin-right: 0;
  }
  .gallery-grid figure,
  .gallery-grid.two-columns figure,
  .gallery-grid.three-columns figure,
  .gallery-grid.four-columns figure {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  .home-page-block h2 {
    font-size: 40px;
  }

  .home-page-description {
    font-size: 16px;
  }

  .nothing-found h1 {
    font-size: 60px;
  }

  .entry-title {
    font-size: 27px;
  }
}
