/* Variable */

/* Common */

.ml-auto {
  margin-left: auto !important;
}

.mt-1 {
  margin-top: 0.25rem !important;
}

.mr-0 {
  margin-right: 0 !important;
}

.ml-3 {
  margin-left: 1rem !important;
}

.mr-3 {
  margin-right: 1rem !important;
}

.portfolio-editbar-bg .portfolio-editbar-button {
  position: fixed;
  top: 10px;
  left: 25px;
  width: 50px;
  height: 50px;
  padding: 0;
  z-index: 1000;
  cursor: pointer;
  background-color: #163442;
  border-radius: 50%;
  margin-top: 15px;
  margin-bottom: 15px;
  border: none;
  box-shadow: 0 0 5px #163442;
  font-size: 20px;
  color: #fff;
  transition: all 0.3s;
  overflow: hidden;
}

.portfolio-editbar-bg .portfolio-editbar-button img {
  width: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  transition: all 0.3s;
}

.portfolio-editbar-bg .portfolio-editbar-button i {
  line-height: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(300%) translateX(-50%);
  transition: all 0.3s;
}

.portfolio-editbar-bg .portfolio-editbar {
  position: fixed;
  top: 15px;
  left: 15px;
  width: 0;
  height: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  background-color: #163442;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  padding-left: 0;
  padding-right: 8px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 5px #163442;
  opacity: 0;
}

.portfolio-editbar-bg .portfolio-editbar .bar-brand {
  padding: 3px 0;
}

.portfolio-editbar-bg .portfolio-editbar .bar-brand .brand-img {
  height: 25px;
  white-space: nowrap;
}

.portfolio-editbar-bg .portfolio-editbar .bar-brand .brand-portfolio {
  position: relative;
  font-size: 16px;
  line-height: 19px;
}

.portfolio-editbar-bg .portfolio-editbar .line-horizontal {
  height: 18px;
  width: 2px;
  background-color: #fff;
}

.portfolio-editbar-bg .portfolio-editbar .bar-nav {
  display: flex;
  flex-direction: row;
  padding-right: 15px;
}

.portfolio-editbar-bg .portfolio-editbar .bar-nav .navbar-item {
  padding: 0 15px;
  list-style-type: none;
}

.portfolio-editbar-bg .portfolio-editbar .bar-nav .navbar-item .navbar-link {
  cursor: pointer;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  white-space: nowrap;
}

.portfolio-editbar-bg .portfolio-editbar .bar-nav .navbar-item .navbar-link img {
  margin-right: 8px;
  position: relative;
  top: -1px;
}

.portfolio-editbar-bg .portfolio-editbar .editbar-save {
  border: none;
  width: 200px;
  height: 75%;
  background-color: #FE831C;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  cursor: pointer;
  white-space: nowrap;
  border-radius: 5px;
}

.portfolio-editbar-bg .portfolio-editbar .editbar-save img {
  margin-right: 5px;
  position: relative;
  top: -1px;
}

.portfolio-editbar-bg.anima .portfolio-editbar {
  -webkit-animation: editbar-hide both 0.4s;
          animation: editbar-hide both 0.4s;
}

.portfolio-editbar-bg.anima.show {
  height: 100%;
}

.portfolio-editbar-bg.anima.show .portfolio-editbar-button {
  top: 80px;
}

.portfolio-editbar-bg.anima.show .portfolio-editbar-button img {
  transform: translateY(-350%) translateX(-50%);
}

.portfolio-editbar-bg.anima.show .portfolio-editbar-button i {
  transform: translateY(-50%) translateX(-50%);
}

.portfolio-editbar-bg.anima.show .portfolio-editbar {
  -webkit-animation: editbar-show both 1s;
          animation: editbar-show both 1s;
  width: 100px;
  height: 64px;
  padding-left: 8%;
}

@media screen and (min-width: 992px) {
  .portfolio-editbar-bg.anima.show .show-delay-desktop {
    opacity: 1;
    transition: 0.2s 1s;
  }
}

.portfolio-editbar-bg.editbar-md-bottom .portfolio-editbar-button {
  top: unset;
  bottom: 25px;
}

.portfolio-editbar-bg.editbar-md-bottom .portfolio-editbar-button img {
  transform: translateY(-50%) translateX(-50%);
}

.portfolio-editbar-bg.editbar-md-bottom .portfolio-editbar-button i {
  transform: translateY(-350%) translateX(-50%);
}

.portfolio-editbar-bg.editbar-md-bottom .portfolio-editbar {
  top: unset;
  bottom: 15px;
}

.portfolio-editbar-bg.editbar-md-bottom.anima.show .portfolio-editbar-button {
  top: unset;
  bottom: 80px;
}

.portfolio-editbar-bg.editbar-md-bottom.anima.show .portfolio-editbar-button img {
  transform: translateY(300%) translateX(-50%);
}

.portfolio-editbar-bg.editbar-md-bottom.anima.show .portfolio-editbar-button i {
  transform: translateY(-50%) translateX(-50%);
}

.portfolio-editbar-bg.editbar-md-right .portfolio-editbar-button {
  left: unset;
  right: 25px;
}

.portfolio-editbar-bg.editbar-md-right .portfolio-editbar {
  left: unset;
  right: 15px;
}

@media screen and (min-width: 992px) {
  .portfolio-editbar-bg .show-delay-desktop {
    opacity: 0;
    transition: 0.2s 0s;
  }
}

@media screen and (max-width: 991.98px) {
  .portfolio-editbar-bg .portfolio-editbar {
    height: 64px;
    width: calc(100% - 30px);
    transform: scale(0.7);
    top: -150px;
    opacity: 0;
    padding-left: 8px;
  }

  .portfolio-editbar-bg .portfolio-editbar .bar-nav {
    padding-right: 15px;
    flex: 2;
    height: 100%;
    width: calc(100% - 30px);
  }

  .portfolio-editbar-bg .portfolio-editbar .bar-nav .navbar-item {
    height: 100%;
    padding: 0 5px;
    flex: 1;
  }

  .portfolio-editbar-bg .portfolio-editbar .bar-nav .navbar-item .navbar-link {
    padding: 17px 0 12px 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
  }

  .portfolio-editbar-bg .portfolio-editbar .bar-nav .navbar-item .navbar-link img {
    margin-right: 0;
    margin-bottom: 8px;
    top: 0;
  }

  .portfolio-editbar-bg .portfolio-editbar .editbar-save {
    padding: 10px 0;
    height: 80%;
    width: 60px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
  }

  .portfolio-editbar-bg .portfolio-editbar .editbar-save img {
    margin-right: 0;
    margin-bottom: 4px;
    top: 0;
  }

  .portfolio-editbar-bg.anima .portfolio-editbar {
    -webkit-animation: editbar-hide-mobile-top both 0.3s;
            animation: editbar-hide-mobile-top both 0.3s;
  }

  .portfolio-editbar-bg.anima.show .portfolio-editbar {
    width: calc(100% - 30px);
    -webkit-animation: editbar-show-mobile-top both 0.6s;
            animation: editbar-show-mobile-top both 0.6s;
    padding-left: 8px;
    transform: scale(1);
    opacity: 1;
    top: 15px;
  }

  .portfolio-editbar-bg.editbar-xs-top .portfolio-editbar-button {
    bottom: unset;
    top: 25px;
  }

  .portfolio-editbar-bg.editbar-xs-top .portfolio-editbar-button img {
    transform: translateY(-50%) translateX(-50%);
  }

  .portfolio-editbar-bg.editbar-xs-top .portfolio-editbar-button i {
    transform: translateY(300%) translateX(-50%);
  }

  .portfolio-editbar-bg.editbar-xs-top .portfolio-editbar {
    bottom: unset;
    top: 15px;
  }

  .portfolio-editbar-bg.editbar-xs-top.anima.show .portfolio-editbar-button {
    bottom: unset;
    top: 80px;
  }

  .portfolio-editbar-bg.editbar-xs-top.anima.show .portfolio-editbar-button img {
    transform: translateY(-350%) translateX(-50%);
  }

  .portfolio-editbar-bg.editbar-xs-top.anima.show .portfolio-editbar-button i {
    transform: translateY(-50%) translateX(-50%);
  }

  .portfolio-editbar-bg.editbar-xs-bottom .portfolio-editbar-button {
    top: unset;
    bottom: 25px;
  }

  .portfolio-editbar-bg.editbar-xs-bottom .portfolio-editbar-button img {
    transform: translateY(-50%) translateX(-50%);
  }

  .portfolio-editbar-bg.editbar-xs-bottom .portfolio-editbar-button i {
    transform: translateY(-350%) translateX(-50%);
  }

  .portfolio-editbar-bg.editbar-xs-bottom .portfolio-editbar {
    top: unset;
    bottom: 15px;
  }

  .portfolio-editbar-bg.editbar-xs-bottom.anima .portfolio-editbar {
    -webkit-animation: editbar-hide-mobile-bottom both 0.3s;
            animation: editbar-hide-mobile-bottom both 0.3s;
  }

  .portfolio-editbar-bg.editbar-xs-bottom.anima.show .portfolio-editbar-button {
    top: unset;
    bottom: 80px;
  }

  .portfolio-editbar-bg.editbar-xs-bottom.anima.show .portfolio-editbar-button img {
    transform: translateY(300%) translateX(-50%);
  }

  .portfolio-editbar-bg.editbar-xs-bottom.anima.show .portfolio-editbar-button i {
    transform: translateY(-50%) translateX(-50%);
  }

  .portfolio-editbar-bg.editbar-xs-bottom.anima.show .portfolio-editbar {
    -webkit-animation: editbar-show-mobile-bottom both 0.6s;
            animation: editbar-show-mobile-bottom both 0.6s;
    top: unset;
    bottom: 15px;
  }

  .portfolio-editbar-bg.editbar-xs-left .portfolio-editbar-button {
    right: unset;
    left: 25px;
  }

  .portfolio-editbar-bg.editbar-xs-left .portfolio-editbar {
    right: unset;
    left: 15px;
  }

  .portfolio-editbar-bg.editbar-xs-right .portfolio-editbar-button {
    left: unset;
    right: 25px;
  }

  .portfolio-editbar-bg.editbar-xs-right .portfolio-editbar {
    left: unset;
    right: 15px;
  }
}

@-webkit-keyframes editbar-show {
  0% {
    width: 120px;
    height: 0;
    opacity: 0;
    padding-left: 15px;
  }

  20% {
    width: 120px;
    height: 64px;
    opacity: 1;
    padding-left: 15px;
  }

  60% {
    width: 120px;
    height: 64px;
    opacity: 1;
    padding-left: 15px;
  }

  100% {
    width: calc(100% - 30px);
    height: 64px;
    opacity: 1;
    padding-left: 8%;
  }
}

@keyframes editbar-show {
  0% {
    width: 120px;
    height: 0;
    opacity: 0;
    padding-left: 15px;
  }

  20% {
    width: 120px;
    height: 64px;
    opacity: 1;
    padding-left: 15px;
  }

  60% {
    width: 120px;
    height: 64px;
    opacity: 1;
    padding-left: 15px;
  }

  100% {
    width: calc(100% - 30px);
    height: 64px;
    opacity: 1;
    padding-left: 8%;
  }
}

@-webkit-keyframes editbar-hide {
  0% {
    width: calc(100% - 30px);
    height: 64px;
    opacity: 1;
    padding-left: 8%;
  }

  100% {
    width: calc(100% - 30px);
    height: 0;
    opacity: 0;
    padding-left: 8%;
  }
}

@keyframes editbar-hide {
  0% {
    width: calc(100% - 30px);
    height: 64px;
    opacity: 1;
    padding-left: 8%;
  }

  100% {
    width: calc(100% - 30px);
    height: 0;
    opacity: 0;
    padding-left: 8%;
  }
}

@-webkit-keyframes editbar-show-mobile-top {
  0% {
    transform: scale(0.6);
    top: -150px;
    opacity: 0;
  }

  60% {
    top: 15px;
    opacity: 1;
  }

  100% {
    transform: scale(1);
  }
}

@keyframes editbar-show-mobile-top {
  0% {
    transform: scale(0.6);
    top: -150px;
    opacity: 0;
  }

  60% {
    top: 15px;
    opacity: 1;
  }

  100% {
    transform: scale(1);
  }
}

@-webkit-keyframes editbar-hide-mobile-top {
  0% {
    top: 15px;
    opacity: 1;
    transform: scale(1);
    width: calc(100% - 30px);
  }

  100% {
    top: -150px;
    opacity: 0;
    transform: scale(1);
    width: calc(100% - 30px);
  }
}

@keyframes editbar-hide-mobile-top {
  0% {
    top: 15px;
    opacity: 1;
    transform: scale(1);
    width: calc(100% - 30px);
  }

  100% {
    top: -150px;
    opacity: 0;
    transform: scale(1);
    width: calc(100% - 30px);
  }
}

@-webkit-keyframes editbar-show-mobile-bottom {
  0% {
    transform: scale(0.6);
    bottom: -150px;
    opacity: 0;
  }

  60% {
    bottom: 15px;
    opacity: 1;
  }

  100% {
    transform: scale(1);
  }
}

@keyframes editbar-show-mobile-bottom {
  0% {
    transform: scale(0.6);
    bottom: -150px;
    opacity: 0;
  }

  60% {
    bottom: 15px;
    opacity: 1;
  }

  100% {
    transform: scale(1);
  }
}

@-webkit-keyframes editbar-hide-mobile-bottom {
  0% {
    bottom: 15px;
    opacity: 1;
    transform: scale(1);
    width: calc(100% - 30px);
  }

  100% {
    bottom: -150px;
    opacity: 0;
    transform: scale(1);
    width: calc(100% - 30px);
  }
}

@keyframes editbar-hide-mobile-bottom {
  0% {
    bottom: 15px;
    opacity: 1;
    transform: scale(1);
    width: calc(100% - 30px);
  }

  100% {
    bottom: -150px;
    opacity: 0;
    transform: scale(1);
    width: calc(100% - 30px);
  }
}

