@media screen and (max-width: 767.98px) {
    #error_report_modal {
        .modal {
            &-body {
                &--label {
                    width: 100%;

                    .box_error-report, .modal__upload-file {
                        width: 100%;
                        @include setTextStyle(14px, 16px, normal);
                    }
                }
            }
        }
    }
}