.modal-report-error {
    .modal {
        &-content {
            border: none;
            border-radius: 0;
        }

        &-header {
            padding: 24px 25px 20px 25px;
        }

        &-body {
            padding: 38px 25px;
        }

        &-footer {
            border-top: none;
            background: #F3F3F3;
            padding: 15px 25px;
        }

        &-title {
            @include setTextStyleColor(18px, 21px, 400, $color_gray_bold);
            display: flex;
            align-items: center;

            img {
                margin-bottom: 3px;
                margin-right: 13px;
            }
        }

        &-text {
            @include setTextStyleColor(16px, 19px, normal, $color_gray_bold);
            display: block;
        }

        &-form {

            &__label {

                &--text {
                    @include setTextStyleColor(14px, 16px, normal, #525252);
                    background: #F7F7F7;
                    border-radius: 4px;
                    padding: 9px 15px;
                    cursor: pointer;

                    img {
                        margin-right: 5px;
                        position: relative;
                        top: -2px;
                    }
                }
            }

            &__textarea {
                @include setTextStyleColor(16px, 19px, normal, $color_black);
                background: #F8F8F8;
                border: 1px solid #CECCCC;
                border-radius: 2px;
                width: 100%;
                padding: 12px 17px;
                margin: 19px 0;

                &:focus {
                    &::placeholder {
                        color: transparent;
                    }
                }
            }

            &__input {
                position: absolute;
            }

            &__submit {
                background: linear-gradient(90.19deg, #D63A1C 0.17%, #EA5B40 99.87%);
                box-shadow: 0 2px 0 rgba(0, 0, 0, 0.043);
                padding: 0;
                border: none;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 4px;
                color: #fff;
                width: 170px;
                height: 39px;
                transition: all .1s;
                margin: 0;

                &:active {
                    transform: scale(.95);
                }
            }
        }

        &-file {
            margin: 0;

            &__item {
                display: flex;
                align-items: center;
                justify-content: space-between;
                border: 1px solid #eeeeee;
                padding: 5px;
                margin-bottom: 10px;
                height: 100%;
            }

            &__image {
                min-width: 40px;
                height: 40px;
                background-size: cover;
                background-position: center;
            }

            &__title {
                @extend %default-text;
                -webkit-line-clamp: 3;
                margin-bottom: 0;
                overflow: hidden;
                padding-left: 5px;
                @include setTextStyleColor(14px, 16px, normal, $color_black);
            }

            &__delete {
                background-color: transparent;
                border: none;
                padding: 0;
                transition: all .2s;

                &:hover {
                    i {
                        color: red;
                    }
                }
            }
        }
    }
}