/*=============== Search CV ===============*/

/*=============== End Search CV ===============*/

/*=============== DASHBOARD ===============*/

/*=============== End DASHBOARD ===============*/

/*=============== @include ===============*/

/*=============== End @include ===============*/

/*=============== @extend ===============*/

/*=============== End @extend ===============*/

/*=============== Fixed Stylesheet ===============*/

html,
body {
  height: 100%;
}

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  padding-top: 61px;
  background-color: #E5E5E5;
  overflow-x: hidden;
}

button,
button:hover,
button:focus,
select,
select:hover,
select:focus,
input,
textarea {
  outline: none;
}

a:hover {
  text-decoration: none;
}

[type=button],
[type=reset],
[type=submit],
button {
  -webkit-appearance: unset;
  -moz-appearance: unset;
}

input[type=number] {
  -moz-appearance: textfield;
}

/*=============== End Fixed Stylesheet ===============*/

/*=============== Common Class ===============*/

.element-hidden {
  display: none !important;
}

.text-list-title {
  font-size: 16px;
  line-height: 19px;
  font-weight: bold;
  color: #555555;
}

.text-list-default {
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
  color: #454545;
}

.no-scroll {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.position-relative {
  position: relative;
}

@media screen and (min-width: 1500px) {
  .container {
    min-width: 1450px;
  }
}

@media screen and (min-width: 992px) {
  .app-mobile {
    display: none !important;
  }
}

@media screen and (max-width: 991.98px) {
  .app-desktop {
    display: none !important;
  }
}

/*=============== End Common Class ===============*/

.search_cv {
  margin-top: 43px;
  background-color: #fff;
  border: 0.5px solid #B8B8B8;
}

.search_cv .sc-header {
  height: 80px;
  display: flex;
  border-bottom: 1px solid #EBEBEB;
}

.search_cv .sc-header__left {
  flex: 1;
  padding: 0 20px;
  display: flex;
  align-items: center;
}

.search_cv .sc-header__left--image {
  margin-right: 13px;
  position: relative;
  top: -1px;
}

.search_cv .sc-header__left--title {
  font-size: 18px;
  line-height: 21px;
  font-weight: 500;
  color: #06202D;
  margin: 0;
}

.search_cv .sc-header__search {
  flex: 2;
  display: flex;
  align-items: center;
  padding-right: 14px;
}

.search_cv .sc-header__search--form {
  display: flex;
  align-items: center;
  width: 100%;
}

.search_cv .sc-header__search--label {
  margin-bottom: 0;
  padding-right: 11px;
}

.search_cv .sc-header__search--input {
  width: 100%;
  height: 48px;
  padding: 0 12px;
  border: 1px solid #D9D9D9;
  border-radius: 0;
  white-space: nowrap;
  background-color: #fff;
  font-size: 14px;
  line-height: 22px;
  font-weight: normal;
  color: #464545;
}

.search_cv .sc-header__search--input::-moz-placeholder {
  color: #666666;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

.search_cv .sc-header__search--input:-ms-input-placeholder {
  color: #666666;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}

.search_cv .sc-header__search--input::placeholder {
  color: #666666;
  transition: all 0.2s;
}

.search_cv .sc-header__search--input:focus::-moz-placeholder {
  color: #fff;
}

.search_cv .sc-header__search--input:focus:-ms-input-placeholder {
  color: #fff;
}

.search_cv .sc-header__search--input:focus::placeholder {
  color: #fff;
}

.search_cv .sc-header__search--dropdown {
  margin: 0;
}

.search_cv .sc-header__search--dropdown .dropdown-menu {
  margin: 0;
  border: none;
  border-radius: 0;
  background-color: #FFFFFF;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.search_cv .sc-header__search--dropdown .dropdown-menu:before {
  content: "";
  position: absolute;
  top: -6px;
  right: 15px;
  width: 16px;
  height: 6px;
  border-bottom: 6px solid #fff;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
}

.select2-container--default .searchcv-select2-selection {
  height: 48px;
  border: 1px solid #D9D9D9;
  border-radius: 0;
}

.select2-container--default .searchcv-select2-selection .select2-selection__rendered {
  font-size: 14px;
  line-height: 46px;
  padding-left: 12px;
  color: #464545;
}

.select2-container--default .searchcv-select2-selection .select2-selection__arrow {
  height: 44px;
}

.select2-container--default .searchcv-select2-selection:focus {
  outline: none;
}

.select2-container--default .searchcv-select2-dropdown {
  border: none;
  border-radius: 0;
  background-color: #FFFFFF;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  -webkit-animation: show-height 0.2s both;
          animation: show-height 0.2s both;
}

.select2-container--default .searchcv-select2-dropdown .select2-results__option {
  font-size: 14px;
}

.select2-container--default .searchcv-select2-dropdown .select2-results__option--highlighted {
  background-color: #06202D;
}

@-webkit-keyframes show-height {
  0% {
    opacity: 0;
    transform: translateY(-60%) scaleY(0);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scaleY(1);
  }
}

@keyframes show-height {
  0% {
    opacity: 0;
    transform: translateY(-60%) scaleY(0);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scaleY(1);
  }
}

