.error-text {
    font-size: 12px;
    line-height: 14px;
    font-weight: normal;
    color: #FD1616;
    word-break: break-word;
}

.invalid-input {
    border-bottom: 1px solid #FD1616 !important;
}

.col-textarea {
    padding-top: 20px !important;
}

.form-contact .container {
    margin: 30px 0;
    height: 100%;
}

@media screen and (max-width: 1199px) {
    .form-contact .container {
        padding: 0;
        top: 0;
    }
}

.col-email, .col-phone {
    padding-bottom: 0 !important;
}

@media screen and (min-width: 560px) {
    .col-email {
        padding-right: 15px !important;
    }
    
    .col-phone {
        padding-left: 15px !important;
    }
}

.group-val label {
    min-height: 71px;
}

.form-contact .contact-form--label {
    min-height: 71px;
}

.form-contact .ryan-input__text:focus {
    color: #78cc6d;
}

.button .arrow {
    left: 0;
}

.button:hover .arrow {
    left: 4px;
}

@media screen and (max-width: 575px) {
    input {
        border: 2px solid #eeeeee !important;
    }
}