.edit-button {
    position: absolute;
    top: -5px;
    right: 0;
    width: 30px;
    height: 30px;
    border: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    transition: 0.2s;
    background-color: transparent;
    z-index: 10;
    color: #78cc6d;

    &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 0;
        height: 0;
        transform: translateX(-50%) translateY(-50%);
        background-color: #78cc6d;
        border-radius: 50px;
        opacity: 0;
        transition: all 0.2s;
        z-index: -1;
    }

    &:hover, &:focus {
        border-bottom: none;
        color: #fff;

        &:before {
            width: 40px;
            height: 40px;
            opacity: 1;
        }
    }

    &.edit-button__relative {
        position: relative;
        top: unset;
        right: unset;
    }

    &.edit-button__bottom-right {
        top: unset;
        left: unset;
        right: 0;
        bottom: 0;
    }

    &.edit-button__title {
        top: 50%;
        right: 0;
        transform: translateX(135%) translateY(-75%);
    }
}

/*
	Reverse CSS conflict with bootstrap
*/
.ryan-container {
    padding-left: 0;
    padding-right: 0;

    .row {
        display: block;
    }
}

.top--10 {
    top: -10px;
}

/*
	Edit button in Service
*/
.service-items .col {
    .service-item__edit {
        position: absolute;
        top: 0;
        right: 0;
        width: 50px;
        height: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        overflow: hidden;
        opacity: 0;
        transition: all 0.2s;

        &-button {
            height: 40px;
            width: 100%;
            border: none;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            overflow: hidden;
            transition: all 0.2s;

            &:before {
                content: '';
                position: absolute;
                top: 60px;
                left: 50%;
                width: 35px;
                height: 35px;
                transform: translateX(-50%) translateY(-50%);
                background-color: #78cc6d;
                border-radius: 4px;
                transition: all 0.3s;
                z-index: -1;
            }

            &:last-child {

                &:before {
                    top: -60px;
                }
            }

            &:hover {
                border-bottom: none;
                color: #fff;

                &:before {
                    width: 35px;
                    height: 35px;
                    top: 20px;
                }
            }

            &:focus {
                border: none;
            }
        }

    }

    &:hover {
        .service-item__edit {
            height: 90px;
            opacity: 1;
        }
    }
}

/*
    Edit button in Experience
*/

.resume-item {
    .resume-item--edit {
        position: absolute;
        top: 25px;
        right: 0;
        width: 0;
        opacity: 0;
        display: flex;
        overflow: hidden;
        transition: all 0.2s;

        .edit-button {
            margin-left: 5px;
            color: #646464;

            &:hover {
                color: #fff;

                &:before {
                    width: 100%;
                    height: 100%;
                    border-radius: 5px;
                }
            }
        }
    }

    &:hover {
        .resume-item--edit {
            width: 70px;
            opacity: 1;
        }
    }
}

/*
    Edit button in Skill
*/
.skill-top {
    position: relative;
}

.skills-list, .knowledge-list {
    .list-item {
        position: relative;
        overflow: hidden;

        .item-option {
            position: absolute;
            top: 17px;
            right: -50px;
            width: 50px;
            height: 20px;
            display: flex;
            transition: all 0.2s;
            opacity: 0;

            &__edit, &__delete {
                width: 50%;
                height: 100%;
                display: none;
                justify-content: center;
                align-items: center;
                padding: 0;
                font-size: 14px;
                border: none;
                transition: all 0s;
                transition-delay: 0.2s;

                &:hover {
                    border-bottom: none;
                    color: #78cc6d;
                }

                &:hover {
                    border-bottom: none;
                }
            }
        }

        &:hover {
            .item-option {
                right: 0;
                opacity: 1;

                &__edit, &__delete {
                    display: flex;
                    transition-delay: 0s;
                }
            }
        }
    }
}

.knowledge-list {
    .list-item {
        .item-option {
            background-color: rgba(255,255,255,0.8);
            top: 50%;
            transform: translateY(-50%);
        }
    }
}


/*
  Common Form control
*/
.ryan-form-control {
    margin-bottom: 15px;

    .ryan-input {
        &__label, &__labeldate {
            margin-bottom: 5px;
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
        }

        &__labeldate {
            margin-bottom: 0;
            margin-right: 14px;
            margin-left: 0;
        }

        &__text, &__textdate, &__select {
            height: 45px;
            width: 100%;
            border: 1px solid #D2D2D2;
            transition: all 0.2s;

            &::placeholder {
                color: #717171;

                &:focus {
                    color: #717171;
                }
            }

            &:focus {
                border: 1px solid #06A763;
                outline: none;
            }
        }

        &__textarea {
            width: 100%;
            border: 1px solid #D2D2D2;
            transition: all 0.2s;
            height: unset;

            &::placeholder {
                color: #717171;

                &:focus {
                    color: #717171;
                }
            }

            &:focus {
                border: 1px solid #06A763;
            }

        }

        &__textdate {
            width: 69px;
            padding: 0 13px;
            margin-right: 14px;
        }

        &__select {
            font-size: 16px;
            padding: 0 15px;
            font-family: "Roboto", Arial, Helvetica, sans-serif;
            cursor: pointer;
            -webkit-appearance: none;
            -moz-appearance: none;
            border-radius: 0;
            background: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIj48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6I2ZmZjt9LmNscy0ye2ZpbGw6IzQ0NDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmFycm93czwvdGl0bGU+PHJlY3QgY2xhc3M9ImNscy0xIiB3aWR0aD0iNC45NSIgaGVpZ2h0PSIxMCIvPjxwb2x5Z29uIGNsYXNzPSJjbHMtMiIgcG9pbnRzPSIxLjQxIDQuNjcgMi40OCAzLjE4IDMuNTQgNC42NyAxLjQxIDQuNjciLz48cG9seWdvbiBjbGFzcz0iY2xzLTIiIHBvaW50cz0iMy41NCA1LjMzIDIuNDggNi44MiAxLjQxIDUuMzMgMy41NCA1LjMzIi8+PC9zdmc+) no-repeat 99% 50%;
        }

        &__currentdate {

            &--label {
                display: flex;
                align-items: center;
                margin: 10px 0;

                &input {
                    width: 20px;
                    height: 20px;
                    font-size: 12px;
                    border: 1px solid #2ECA7F;
                    border-radius: 2px;
                    margin-right: 5px;
                    color: #fff;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: #fff;
                    transition: all 0.1s;
                    cursor: pointer;
                }
            }

            .ryan-input__currentdate--input:checked + .ryan-input__currentdate--label {

                .ryan-input__currentdate--labelinput {
                    background-color: #2ECA7F;
                }
            }
        }
    }

    &.ryan-input__service {
        max-height: 200px;
        border: 1px solid #f1f1f1;
        overflow: auto;
        padding: 10px 0;
        position: relative;

        .ryan-input__service--list {
            display: flex;
            flex-wrap: wrap;
        }

        i {
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            color: #464545;
            font-size: 20px;
            transition: all 0.2s;

            &.selected {
                background-color: #06A763;
                color: #fff;
            }
        }

        .service-more {
            width: 100%;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: none;

            &:hover, &:focus {
                border: none;
                color: #06A763;
            }
        }
    }

    .ryan-error {
        &__text {
            min-height: 14px;
            font-size: 12px;
            line-height: 14px;
            color: #FD1616;
            margin-top: 3px;
            margin-bottom: 0;

        }

        &__input {
            border: 1px solid #FF2323;

            &:focus {
                border: 1px solid #FF2323;
            }
        }
    }

    @media screen and (max-width: 575px) {
        margin-bottom: 10px;

        .ryan-input {
            &__label, &__labeldate {
                font-weight: 500;
                font-size: 12px;
                line-height: 14px;
            }

            &__labeldate {
                width: 30px;
            }

            &__text, &__textarea, &__textdate, &__select {
                height: 35px;
                width: 100%;
                border: none;
                border-bottom: 1px solid #D2D2D2;
                transition: all 0.2s;
                font-size: 14px;

                &::placeholder {
                    color: #717171;

                    &:focus {
                        color: #717171;
                    }
                }

                &:focus {
                    border: none;
                    border-bottom: 1px solid #06A763;
                }
            }

            &__textarea {
                height: unset;
            }

            &__textdate {
                width: 69px;
            }

            &__select {
                font-size: 14px !important;
                background-color: unset;
            }

            &__service {
                padding: 0 7px;
                display: flex;
                flex-wrap: wrap;

                .search-icon--item {
                    width: 30px;
                    height: 30px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    i {
                        font-size: 16px;
                    }
                }
            }

            &__currentdate {

                &--label {
                    &input {
                        width: 18px;
                        height: 18px;
                        font-size: 10px;
                    }
                }
            }
        }

        .ryan-error {
            &__text {
                font-size: 12px;
                line-height: 14px;
                min-height: 14px;
            }

            &__input {
                border-bottom: 1px solid #FF2323;
            }
        }
    }
}

.ryan-form {

    &__submit {
        background-color: #EAEAEA;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
        border-radius: 4px;
        width: 157px;
        height: 44px;
        border: none;
        position: relative;
        transition: all 0.2s;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            margin-left: 9px;
        }

        &:hover {
            border: none;
            transform: scale(1.1);
        }

        &:focus {
            border: none;
        }
    }

    &__cancel {
        background-color: transparent;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        border-radius: 4px;
        width: 157px;
        height: 44px;
        border: 0.3px solid #CECECE;
        position: relative;
        transition: all 0.2s;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
            border: 0.3px solid #CECECE;
            transform: scale(1.1);
        }

        &:focus {
            border: 0.3px solid #CECECE;
        }
    }

    @media screen and (max-width: 575px) {

        &__submit {
            background-color: #2ECA7F;
            box-shadow: none;
            border-radius: 0;
            width: 100%;
            height: 50px;
            border: none;
            position: relative;
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            color: #fff;
            margin-right: 0 !important;

            svg {
                display: none;
            }

            &:hover, &:focus {
                color: #fff;
                border: none;
                transform: unset;
            }
        }
    }
}

// Bootbox Custom css
.bootbox {
    .ryan-form__submit {
        background-color: #FF2323;
        color: #fff;
        font-weight: 500;

        &:hover, &:focus {

        }
    }
}

//Dropdown

.ryan-dropdown {
    .dropdown-menu {
        border-radius: 0;
        width: 100%;

        .dropdown-item {
            padding: 10px 15px;
            cursor: pointer;
            &:hover {
                border-bottom: none;
            }

            &:focus {
                background-color: #06A763;
            }
        }
    }
}

.work__delete--img {
    border: none !important;
    padding: 0;
    width: auto;
    height: auto;
    margin-right: 10px;
}

.works {
    .image {
        position: relative;
        overflow: hidden;

        .works-item__delete {
            position: absolute;
            top: 10px;
            right: -50px;
            color: #fff;
            width: 30px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 5px;
            padding: 0;
            font-size: 20px;
            border: none !important;
            z-index: 2;
            transition: all 0.2s;

            &:hover, &:focus {
                background-color: #06A763;

            }
        }

        &:hover {
            .works-item__delete {
                right: 10px;
            }
        }
    }
}