.modal-content h1,
.modal-content h2,
.modal-content h3,
.modal-content h4,
.modal-content h5,
.modal-content h6,
.modal-content label,
.modal-content input,
.modal-content button,
.modal-content textarea {
    font-family: "Roboto", Arial, Helvetica, sans-serif !important;
}

/*.content .title-top {*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*}*/

.obligatory {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #D80101;
}

.title-icon {
    border: none;
    color: #78cc6d;
    padding-bottom: 15px;
    box-shadow: none;
    outline: none;
}

.card-started .profile.no-photo .profile-modal {
    margin-top: 250px;
    margin-left: 350px;
}

@media (max-width: 560px) {
    .card-started .profile.no-photo .profile-modal {
        margin-left: 300px;
    }
}

.card-started .profile.no-photo .title {
    margin-top: 0;
}


@media screen and (min-width: 576px) {
    .app-mobile {
        display: none !important;
    }
}

@media screen and (max-width: 575px) {
    .app-desktop {
        display: none !important;
    }
}

button:focus {
    outline: none !important;
}

.btn:focus {
    box-shadow: none;
}

.edit-button {
    background-color: transparent;
}

.element-hidden {
    display: none !important;
}

label {
    padding-bottom: 0;
}

.save-btn:hover, .cancel-btn:hover {
    border-bottom: 1px solid #78cc6d !important;
}

.greenbox button {
    background-color: #fff;
    padding-bottom: 0;
    margin: 10px 0;
}

.greenbox button:hover {
    border-bottom: none;
}

.service-item--body {
    position: relative;
    transition: transform 0.5s;
}

.greenbox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 15px;
    background-color: #78cc6d;
    z-index: 1000;
    opacity: 0;
    transition: all 0.5s;
    transform: rotateY(90deg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.service-item--body:hover .greenbox {
    opacity: 1;
    transform: rotateY(0);
}

.input-required {
    color: #FD1616;
}

/*
    Start Modal
*/


.modal {
    transition: all 0.3s ease 0s;
}

.modal .modal-dialog {
    max-width: 800px;
}

.modal .modal-dialog .modal-content .modal-header {
    padding: 36px 70px 15px;
}

.modal .modal-dialog .modal-content .modal-body {
    padding: 25px 55px 0;
}

.modal .modal-dialog .modal-content .modal-body .container {
    margin: 0;
    height: unset;
}

@media (max-width: 1200px) {
    .modal .modal-dialog .modal-content .modal-body .container {
        padding: 0;
    }
}

.modal .modal-dialog .modal-content
.modal-body .modal__body--name-input {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #717171;
    margin-bottom: 30px;
}

.modal .modal-dialog .modal-content
.modal-body .modal__body--name-input .modal__body--input:focus {
    border-bottom: 2px solid #78cc6d;
}

.modal .modal-dialog .modal-content .modal-body
.modal__body--name-input .modal__body--input {
    margin-top: 10px;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    height: 45px;
}

.modal .modal-dialog .modal-content .modal-body
.modal__body--name-input .modal__input--warning {
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #FD1616;
    padding-top: 5px;
    position: absolute;
}

.modal .modal-dialog .modal-content .modal-footer {
    justify-content: center;
    border-top: none;
    padding-bottom: 25px;
}


.modal .modal-dialog .modal-content .save-btn {
    background: #EAEAEA;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 13px 50px 8px;
}

.modal .modal-dialog .modal-content .modal-footer .cancel-btn {
    background: #FFFFFF;
    border: 0.3px solid #CECECE;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 13px 50px 8px;
}

.modal .modal-dialog .modal-content .modal__note {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #717171;
    padding: 0 55px;
}

.modal .modal-dialog .modal-content
.modal-body .form-info .dropdown {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 16px;
    line-height: 19px;
    color: #717171;
    outline: none;
    box-shadow: none;
}

.modal .modal-dialog .modal-content .modal-body
.form-info .dropdown .dropdown-input {
    cursor: pointer;
}

.modal .modal-dialog .modal-content
.modal-body .form-info .dropdown .show {
    width: 100%;
}

.modal .modal-dialog .modal-content .modal-body
.form-info .dropdown .show .dropdown-item:hover {
    background-color: #78cc6d;
    color: #fff;
    border-bottom: none;
}



.bottom-error {
    color: red;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 0;
    min-height: 28px;
}

.fa-suitcase {
    font-size: 15px;
}

@media screen and (max-width: 574.98px) {
    .bottom-error {
        font-size: 14px;
        line-height: 16px;
        min-height: 16px;
    }

    .modal .modal-dialog .modal-content .modal-footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        padding: 0;
    }
}


/*
    End Modal
*/

/*
    Start Modal info
*/

.modal .modal-dialog .modal-content
.modal-body .form-info .modal__body--info-des {
    height: 100%;
}

.modal .modal-dialog .modal-content
.modal-body .form-info .modal__body--info-des
.modal__info--description {
    height: 50%;
}

/*
    About Modal
*/

.freelancer_select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url("../images/modal-img/arrow.png") right / 20px no-repeat;
    outline: none;
    cursor: pointer;
    margin-top: 10px;
}

.freelancer_select:focus {
    box-shadow: none;
}

input[type="date"] {
    position: relative;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    color: transparent;
    background: none;
    z-index: 1;
    position: absolute;
    right: 0;
}

input[type="date"]::-webkit-calendar-picker-indicator:focus {
    outline: none !important;
    border: none !important;
    cursor: pointer;
}

input[type="date"]:before {
    font-family: 'Font Awesome 5 Free', serif;
    content: '\f073';
    position: absolute;
    color: #999;
    right: 6px;
}

/*
    Modal Service
*/

.modal__service {
    padding-left: 0;
}

.search-icon, .service-input, .modal__service--description {
    border: none;
    border-bottom: 1px solid #eeeeee;
}

.search-icon:focus, .service-input:focus, .modal__service--description:focus {
    border-color: transparent;
    border-bottom: 2px solid #78cc6d;
}

.search-icon--list {
    margin: 20px 70px;
    max-height: 180px;
    overflow-y: scroll;
    padding: 0 20px;
}

.search-icon--item {
    border: none;
    padding: 0;
}

.search-icon--item i {
    font-size: 20px;
    margin-bottom: 10px;
}

.modal__service--description {
    height: 65px;
}

/*
    Education
*/

/*.border-line-v {*/
/*    padding-top: 20px !important;*/
/*}*/

.education, .experience {
    display: flex;
    padding-bottom: 0 !important;
    justify-content: space-between;
    align-items: center;
}

.education, .title-icon {
    padding-top: 0;
    padding-bottom: 21px;
}

.experience, title-icon {
    padding-top: 0;
    padding-bottom: 21px;
}

.time {
    border-bottom: none !important;
}

.input-time {
    width: 70px;
    margin: 0 10px;
    padding: 0 5px;
    text-align: center;
    border-bottom: 1px solid #eeeeee;
}

.time__from-to {
    display: flex;
    align-items: center;
}

.time-from, .time-to {
    display: flex;
    align-items: center;
}

.time__from-to label {
    margin: 0 10px;
    padding-bottom: 0;
}

#education_description {
    height: 120px;
}

/*
    enperience
*/

.experience-col, .education-col {
    flex-basis: unset !important;
}

.resume-item--top {
    display: flex;
    justify-content: space-between;
}

.resume-item--top .date {
    display: flex !important;
    align-items: center;
}


#experience_description {
    margin-top: 10px;
}

/*
    skill
*/

.skill-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.skill-title {
    padding-bottom: 0;
}

.skill-value-span {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    color: #4A4A4A;
}

.slider {
    align-items: center;
    display: flex;
}

.slider-input {
    background-color: #8F8F8F;
    height: 1px;
    -webkit-appearance: none;
    width: 100%;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    padding: 0;
}

.slider-input::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 18px; /* Set a specific slider handle width */
    height: 18px; /* Slider handle height */
    background: #2ECA7F; /* Green background */
    cursor: pointer; /* Cursor on hover */
    border-radius: 50%;
}

.slider-input::-moz-range-thumb {
    width: 18px; /* Set a specific slider handle width */
    height: 18px; /* Slider handle height */
    background: #2ECA7F; /* Green background */
    cursor: pointer; /* Cursor on hover */
    border-radius: 50%;
}

.skill-item {
    position: relative;
    overflow: hidden;
}

.skill-item:hover .skill-edit {
    opacity: 1;
    width: 60px;
}

.skill-edit {
    display: flex;
    align-items: center;
    position: absolute;
    overflow: hidden;
    top: 16px;
    right: 0;
    width: 0;
    height: calc(100% - 40px);
    background-color: rgba(255, 255, 255, 0.8);
    opacity: 0;
    transition: all 0.2s;
}

.skill-edit .skill-edit__button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    color: #626262;
    width: 30px;
    height: 100%;
    border: none;
    box-shadow: none;
    padding: 0;
    transition: all 0.2s;
}

.skill-edit .skill-edit__button:hover {
    color: #fff;
    background-color: #78cc6d;
    border: none;
}

/*
    Work
*/

.modal__work .modal-dialog .modal-content .modal-body {
    padding: 35px 125px 0;
}

.work__upload--file {
    padding-bottom: 0;
    cursor: pointer;
}

.box__drop {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px dashed #D9D9D9;
    background-color: #FAFAFA;
    box-sizing: border-box;
    border-radius: 2px;
    padding: 20px 0;
    margin-bottom: 45px;
}

.box__drop .box__drop--des {
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    color: rgba(28, 28, 28, 0.85);
    text-align: center;
}

.box__drop .box__drop--subdes {
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: rgba(56, 56, 56, 0.45);
    margin-bottom: 0;
    text-align: center;
}

.box__drag {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #eeeeee;
    padding: 5px;
    margin-bottom: 10px;
}

.box__drag .img__name {
    margin-bottom: 0;
    overflow: hidden;
    padding-left: 5px;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    max-height: 28px;
}

.img-upload {
    width: 40px;
    height: 40px;
}

.work__delete--img {
    border: none;
    box-shadow: none;
    height: unset;
}

/*
    knowledge
*/

.btn__create--input {
    display: flex;
}

.check__last--child {
    margin-bottom: 10px;
}

.check__last--child:last-child .btn__create--input {
    display: flex;
}

.knowledge__btn {
    display: flex;
}

.btn__create--input, .btn__delete--input {
    border: none;
    padding: 0;
    position: relative;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.btn__create--input:focus, .btn__delete--input:focus {
    border: none;
}

.btn__create--input:hover, .btn__delete--input:hover {
    border: none;
}

.btn__create--input:before, .btn__delete--input:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 32px;
    height: 32px;
    z-index: -1;
    border-radius: 50%;
    background-color: #DEDEDE;
}

/*=========================PROJECT=========================*/



#project-card {

}

#project-card .resume-item--top .date {
    margin-top: 5px;
}

#project-card .project-des {
    margin-bottom: 15px;
}

#project-card .project__item--content {
    margin: 5px 0;
}

#project-card .project__item--content span {
    margin-left: 5px;
}

#project-card .stack {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

#project-card .stack .name {
    margin-right: 6px;
}

#project-card .stack .stack-item span {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    height: 22px;
    color: rgba(0, 0, 0, 0.65);
    background: #FAFAFA;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    border-radius: 2px;
    padding: 0 8px;
    margin: 0 6px;
}

#projectModal .select2 {
    width: 100% !important;
}

#projectModal .select2 .select2-selection--multiple {
    border: 2px solid #eeeeee;
}

#projectModal .select2 .select2-selection__choice {
    height: 30px;
    background: #EEEEEE;
    border: 1px solid #E9E9E9;
    box-sizing: border-box;
    border-radius: 2px;
}

#projectModal .select2 .select2-selection__choice button {
    height: 100%;
}

#projectModal .time-to--lable, #projectModal .time-from--lable {
    display: flex;
    align-items: center;
}

#projectModal .ryan-input__labeldate {
    margin-right: 18px;

}

#projectModal .time__from-to input {
    text-align: center;
}

#projectModal .ryan-form-control-textarea textarea {
    height: 158px;
}

#projectModal .ryan-form-control .ryan-input__label {
    display: inline-block;
}

#projectModal .select2-search__field {
    border: none !important;
}

.select2-results__options {
    max-height: 150px !important;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: #78cc6d;
}

.stack {
    display: flex;
    flex-wrap: wrap;
}
.stack-item {
    display: flex;
    flex-wrap: wrap;
}


/*=========================Screen max-width: 575px===========*/
@media screen and (max-width: 575px) {

    .modal-content {
        height: 100%;
        border-radius: 0;
        border: none;
        min-height: 100vh;
    }

    textarea, input {
        font-size: 14px;
        line-height: 16px;
    }

    #aboutModal, #infoModal, #serviceModal, #educationModal,
    #experienceModal, #skillModal, #workModal {
        padding-left: 0 !important;
    }

    /*Info*/
    .modal .modal-dialog {
        margin: 0;
    }

    ::-webkit-scrollbar {
        width: 100%;
        background-color: unset;
    }

    .modal-content--info {
        border: none;
        border-radius: 0;
        height: 100%;
    }

    .modal .modal-dialog .modal-content .modal-header {
        padding: 27px 15px 0;
        justify-content: center;
    }

    .modal-header .modal-title {
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        color: #333333;
        border-bottom: 3px solid #2ECA7F;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 15px;
    }

    .modal .modal-dialog .modal-content .modal-header .close {
        margin-left: 0;
        position: absolute;
        left: 2%;
        top: 3%;
    }

    .modal .modal-dialog .modal-content .modal-body
    .form-info .modal__body--info-des .modal__info--description {
        border: none;
        border-bottom: 2px solid #eeeeee;;
    }

    input:focus, textarea:focus {
        border: none;
        border-bottom: 2px solid #78cc6d;
    }

    .modal .modal-dialog .modal-content .modal-body
    .form-info .modal__body--info-des {
        margin-bottom: 0;
        border-bottom: 0;
    }

    .modal .modal-dialog .modal-content
    .modal-body .modal__body--name-input {
        font-weight: 500;
        font-size: 12px !important;
        line-height: 14px !important;
        color: #333333 !important;
        border-bottom: 1px solid #EBEBEB;
        margin-bottom: 20px;
    }

    textarea, input {
        padding-left: 10px;
    }

    input {
        border: none;
        outline: none;
        box-shadow: none;
        font-size: 14px;
        line-height: 16px;
        color: #707070;
        margin-top: 0;
    }

    label {
        padding-bottom: 0;
        margin-bottom: 0;
    }

    .modal .modal-dialog .modal-content .modal-body {
        padding: 30px 35px 50px;
    }

    .modal .modal-dialog .modal-content .save-btn {
        background-color: #2ECA7F;
        height: 54px;
        width: 100%;
        position: fixed;
        bottom: 0;
        border: none;
        border-radius: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .save-btn span {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.03em;
        color: #FFFFFF;
    }

    /*About*/
    .search-icon {
        margin-bottom: 20px;
    }

    .modal__service .modal-content {
        height: 100vh;
    }

    .search-icon--list {
        margin: 20px 0 60px;
    }

    .modal__service .modal-dialog .modal-content
    .modal-body .modal__body--name-input {
        margin-bottom: 50px;
    }

    /*education*/
    .time__from-to {
        flex-direction: column;
        align-items: flex-start;
    }

    .time-from .input-time {
        margin-left: 20px;
    }

    /*experience*/
    #experienceModal {
        border: none;
    }

    /*work*/
    .modal__work .modal-dialog .modal-content .modal-body .container {
        margin: auto;
    }

    /*Knowledge*/
    .delete_col, .create_col {
        padding: 0;
        margin: 0 5px;
    }

    .modal__work .modal-dialog .modal-content .modal-body {
        padding: 30px 35px 0;
    }

    /*=========PROJECT===========*/
    #projectModal .time__from-to {
        flex-direction: unset;
    }
}


