#header {
  background: linear-gradient(180deg, #1C4355 0%, #1E1E42 100%);
  height: 60px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;

  .header {
    height: 100%;

    &__content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 100%;
    }

    &__logo {
      margin-right: 17px;
    }

    &__search {
      &--lable {
        position: relative;
        width: 580px;
        height: 37px;
        margin-bottom: 0;

        img {
          position: absolute;
          right: 20px;
          top: 50%;
          transform: translateY(-50%);

        }
      }

      &--input {
        width: 100%;
        height: 100%;
        border-radius: 20px;
        border: none;
        padding-left: 33px;
        @include setTextStyleColor(16px, 19px, normal, #1C4355);

        &::placeholder {
          @include setTextStyleColor(16px, 19px, normal, #1C4355);
        }

        &:-ms-input-placeholder {
          @include setTextStyleColor(16px, 19px, normal, #1C4355);
        }

        &::-ms-input-placeholder { /* Microsoft Edge */
          @include setTextStyleColor(16px, 19px, normal, #1C4355);
        }

        &:focus {
          &::placeholder {
            color: transparent;
          }

          &:-ms-input-placeholder {
            color: transparent;
          }

          &::-ms-input-placeholder { /* Microsoft Edge */
            color: transparent;
          }
        }
      }
    }

    &__info {
      &--btn {
        background-color: transparent;
        border: none;
        @include setTextStyleColor(16px, 19px, normal, #fff);
      }
    }
  }
}