/*=============== Header ===============*/

/*=============== End Header ===============*/

/*=============== Search Job ===============*/

/*=============== End Search Job ===============*/

@-webkit-keyframes coming-down-short {
  0% {
    opacity: 0;
    transform: translateY(-20px) scale(1);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes coming-down-short {
  0% {
    opacity: 0;
    transform: translateY(-20px) scale(1);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@-webkit-keyframes coming-up-short {
  0% {
    opacity: 0;
    transform: translateY(20px) scale(1);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes coming-up-short {
  0% {
    opacity: 0;
    transform: translateY(20px) scale(1);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@-webkit-keyframes hiding-up-short {
  0% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }

  100% {
    opacity: 0;
    transform: translateY(-20px) scale(1);
  }
}

@keyframes hiding-up-short {
  0% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }

  100% {
    opacity: 0;
    transform: translateY(-20px) scale(1);
  }
}

@-webkit-keyframes hiding-down-short {
  0% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }

  100% {
    opacity: 0;
    transform: translateY(20px) scale(1);
  }
}

@keyframes hiding-down-short {
  0% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }

  100% {
    opacity: 0;
    transform: translateY(20px) scale(1);
  }
}

/*=============== @include ===============*/

/*=============== End @include ===============*/

/*=============== @extend ===============*/

.text-default,
.text-list-default {
  overflow: hidden;
  display: -webkit-box;
  word-break: break-word;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

/*=============== End @extend ===============*/

/*=============== Fixed Stylesheet ===============*/

html,
body {
  overflow-x: hidden;
}

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  padding-top: 55px;
  background-color: #E5E5E5;
}

button,
button:hover,
button:focus,
select,
select:hover,
select:focus,
input,
textarea {
  outline: none;
}

a:hover {
  text-decoration: none;
}

[type=button],
[type=reset],
[type=submit],
button,
input {
  -webkit-appearance: unset;
  -moz-appearance: unset;
}

input[type=number] {
  -moz-appearance: textfield;
}

/*=============== End Fixed Stylesheet ===============*/

/*=============== Common Class ===============*/

.element-hidden {
  display: none !important;
}

.text-list-title {
  font-size: 16px;
  line-height: 19px;
  font-weight: bold;
  color: #555555;
}

.text-list-default {
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
  color: #454545;
  word-break: break-word;
  -webkit-line-clamp: 2;
}

.text-default {
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
  color: #4A4A4A;
  margin-bottom: 5px;
  -webkit-line-clamp: 2;
}

.error-text {
  font-size: 12px;
  line-height: 14px;
  font-weight: normal;
  color: #FD1616;
  word-break: break-word;
}

.pointer {
  cursor: pointer;
}

.no-scroll {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

/* ====================== COMMON STATUS ======================== */

.candidate__status--scheduled {
  background-color: #E6FEDB;
  color: #147C18;
}

.candidate__status--not-contact {
  background-color: #FFF1CE;
  color: #835E00;
}

.candidate__status--interviewed {
  background-color: #adadad;
  color: #fff;
}

.candidate__status--cancelled {
  background-color: #FFF3F3;
  color: #C60404;
}

.job__status--active {
  background-color: #E6FEDB;
  color: #147C18;
}

.job__status--inactive {
  background: #F4F9FE;
  color: #245D70;
}

.job__status--pending {
  background-color: #FFF1CE;
  color: #835E00;
}

.job__status--draft {
  background-color: #adadad;
  color: #fff;
}

.job__status--expired {
  background-color: #FFF3F3;
  color: #C60404;
}

/* =================== END COMMON STATUS ======================== */

@media screen and (min-width: 1500px) {
  .container,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl {
    min-width: 1450px;
  }
}

@media screen and (min-width: 992px) {
  .app-mobile {
    display: none !important;
  }
}

@media screen and (max-width: 991.98px) and (min-width: 768px) {
  .app-tablet {
    display: none !important;
  }
}

@media screen and (max-width: 991.98px) {
  .app-desktop {
    display: none !important;
  }
}

/* Badge */

.tiny-badge {
  font-size: 12px;
  line-height: 16px;
  font-weight: normal;
  border-radius: 30px;
  white-space: nowrap;
  display: inline-block;
  padding: 0 0.4em;
  position: relative;
  top: -1px;
}

.tiny-badge__green {
  color: #147C18;
  background-color: #F8FFF5;
}

.tiny-badge__red {
  color: #A90A0A;
  background-color: #FFF3F3;
}

.tiny-badge__yellow {
  color: #886407;
  background-color: #FFF8E7;
}

.tiny-badge__gray {
  color: #3D3C3C;
  background-color: #F9F9F9;
}

.tiny-badge__skyblue {
  color: #175155;
  background-color: #F0FCFD;
}

.tiny-badge__purple {
  color: #434EB1;
  background-color: #F9F9FF;
}

.tiny-badge__black {
  color: #fff;
  background-color: #949494;
}

/* End Badge */

/*=============== End Common Class ===============*/

