/* Variable */

/* Common */

.ml-auto {
  margin-left: auto !important;
}

.mt-1 {
  margin-top: 0.25rem !important;
}

.mr-0 {
  margin-right: 0 !important;
}

.ml-3 {
  margin-left: 1rem !important;
}

.mr-3 {
  margin-right: 1rem !important;
}

body {
  padding-top: 65px;
}

.portfolio-homebar-bg .portfolio-homebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 65px;
  z-index: 1001;
  display: flex;
  align-items: center;
  background-color: #163442;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  overflow: hidden;
  padding-left: 8%;
  box-shadow: 0 0 5px #163442;
}

.portfolio-homebar-bg .portfolio-homebar .bar-brand {
  padding: 3px 0;
}

.portfolio-homebar-bg .portfolio-homebar .bar-brand .brand-img {
  height: 25px;
  white-space: nowrap;
  max-width: unset;
}

.portfolio-homebar-bg .portfolio-homebar .bar-brand .brand-portfolio {
  position: relative;
  font-size: 16px;
  line-height: 19px;
  font-weight: normal;
  color: #fff !important;
  top: 2px;
}

.portfolio-homebar-bg .portfolio-homebar .bar-brand .brand-portfolio:focus {
  color: #fff;
}

.portfolio-homebar-bg .portfolio-homebar .line-horizontal {
  height: 18px;
  width: 2px;
  background-color: #fff;
}

.portfolio-homebar-bg .portfolio-homebar .homebar-save {
  border: none;
  width: 250px;
  height: 100%;
  background-color: #FE831C;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  cursor: pointer;
  white-space: nowrap;
  text-transform: unset;
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio-homebar-bg .portfolio-homebar .homebar-save i {
  margin-right: 15px;
  position: relative;
  font-size: 18px;
}

