.btn__popup, .form-knowledge__button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  overflow: hidden;
  background-color: transparent;
  transition: all 0.3s;
  z-index: 3;
  @media screen and (max-width: 574px) {
    margin-left: 20px;
    width: 30px;
    height: 30px;
    i {
      font-size: 13px;
    }
  }
  i {
    color: #fff;
  }
  &:hover {
    background-color: #fff;
    i {
      color: #06A763;
    }
  }
}
#education, #experience, #project {
  .card-content {
    .btn__popup {
      i {
        color: #06A763;
      }
      &:hover {
        background-color: #06A763;
        i {
          color: #fff;
        }
      }
    }
  }
}

.form-knowledge__button {
 i {
   color: $color-header-popup;
 }
  &:hover {
    background-color: $color-header-popup;
    i {
      color: #fff;
    }
  }
}


.item-option--active {
  opacity: 1 !important;
  visibility: unset !important;
}

/*==========Button delete, edit=============*/

.item-option {
  position: absolute;
  display: flex;
  opacity: 0;
  visibility: hidden;
  transform: translate(5px, -5px);
  transition: all .3s;
  .item-option__edit, .item-option__delete {
    margin-left: 5px;
  }
}

