body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

@mixin setTextStyleColor($font-size, $line-height, $font-weight, $font-color) {
  font-size: $font-size;
  line-height: $line-height;
  font-weight: $font-weight;
  color: $font-color;
}

button,
button:hover,
button:focus,
select,
select:hover,
select:focus,
input,
textarea {
  outline: none !important;
  box-shadow: none !important;
}

input:focus::placeholder, textarea:focus::placeholder {
  color: transparent;
}

input, textarea {
  transition: all 0.3s;
}

textarea {
  border: none;
  border-bottom: 1px solid #9e9e9e;
}

textarea:focus {
  border-bottom: 1px solid #26a69a;
}

input:focus, textarea:focus {
  transform: scale(1.07);
  border-bottom: 1px solid #26a69a;
  .dropdown-menu {
    transform: scale(1.07);
  }
}
.required label:after {
  content:"Trường này không được để trống.";
  color: red;
  display:inline;
}

input.error {
  border-bottom: 1px solid $color-warning;
}

.error-text, .form-error, .error {
  @include setTextStyleColor(12px, 14px, normal, $color-warning);
  word-break: break-word;
}

.invalid-input {
  border-bottom: 1px solid $color-warning !important;
}

///* Chrome, Safari, Edge, Opera */
//input::-webkit-outer-spin-button,
//input::-webkit-inner-spin-button {
//  -webkit-appearance: none;
//  margin: 0;
//}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

label {
  width: 100%;
}

.banned-scroll {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.obligatory {
  @include setTextStyleColor(15px, 14px, normal, $color-warning);
  font-family: Roboto, Helvetica, sans-serif;
}

.title-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media screen and (max-width: 767px) {
    justify-content: center;
  }
}

.vertical-alignment-helper {
  display:table;
  height: 100%;
  width: 100%;
  pointer-events:none;
}
.vertical-align-center {
  /* To center vertically */
  display: table-cell;
  vertical-align: middle;
  pointer-events:none;
}
.modal-content {
  /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
  width:inherit;
  max-width:inherit; /* For Bootstrap 4 - to avoid the modal window stretching full width */
  height:inherit;
  /* To center horizontally */
  margin: 0 auto;
  pointer-events:all;
  padding: 5px;
}

.modal__note {
  margin: 10px;
  @include setTextStyleColor (14px, 16px, 500, #717171);
  display: flex;
  span {
    color: $color-warning;
    font-size: 27px;
    padding-top: 6px;
  }
  @media screen and (max-width: 574px) {
    position: absolute;
    bottom: 55px;
  }
}

.tooltip-inner {
  max-width: 300px;
}

[type=button], [type=reset], [type=submit], button {
  -webkit-appearance: unset;
}

@media screen and (min-width: 575px) {
  .app-mobile {
    display: none !important;
  }
}

@media screen and (max-width: 574.98px) {
  .app-desktop {
    display: none !important;
  }
}

.hidden {
  display: none !important;
}
