body {
  padding-right: 0 !important;
  width: 99.6vw;
}

body::-webkit-scrollbar {
  padding-right: 0;
  width: 8px;
  background-color: transparent;
  border-radius: 5px;
}

body::-webkit-scrollbar-thumb {
  background-color: #525252;
  border-radius: 5px;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #525252;
}

@-moz-document url-prefix() {
  html {
    scrollbar-width: thin;
    scrollbar-color: #525252 transparent;
  }
}

body {
  padding-right: 0 !important;
  overflow-x: hidden;
}

.wrapper-heading {
  margin-top: 6px;
}

/*===================Navbar==================*/

.navbar-nav {
  margin-left: auto;
}

.portfolio-editbar .navbar-brand .brand-portfolio {
  color: #fff;
}

.brand-logo {
  padding-top: 10px;
}

.navbar-nav {
  height: 100%;
}

.navbar-link {
  height: 100%;
  display: flex;
  align-items: center;
}

.modal-backdrop {
  background-color: rgba(112, 112, 112, 0.5);
}

.fade {
  transition: opacity .15s linear !important;
}

.modal {
  padding-right: 0 !important;
}

.notiflix-confirm-buttons {
  display: flex;
  justify-content: space-around;

  .confirm-button-ok {
    order: 2;
    margin: 0 !important;
  }

  .confirm-button-cancel {
    order: 1;
    margin: 0 !important;
  }
}

.modal-dialog-centered {
  display: flex;
  align-items: center;
  @media screen and (max-width: 574px) {
    margin: 0;
    height: unset;
  }

  .modal-content {
    width: 100%;
    padding: 0;
  }
}

@media screen and (max-width: 991px) {
  .navbar-brand, .line-horizontal {
    display: none;
  }
}

.modal-dialog {
  max-width: 943px;
  width: unset;

  .modal-content {
    border: none;
    @media screen and (max-width: 574px) {
      height: 100%;
      min-height: 100vh;
    }

    .modal-header {
      padding: 35px 85px 0;
      border-bottom: 1px solid #EBEBEB;
      display: flex;
      justify-content: space-between;
      @media screen and (max-width: 574px) {
        justify-content: center;
      }

      .modal-title {
        border-bottom: 3px solid $color_input-focus;
        @include setTextStyleColor(18px, 21px, 500, #333333);
        font-family: "Roboto", Arial, Helvetica, sans-serif;
        @media screen and (max-width: 574px) {
          padding-bottom: 15px;
        }
      }

      .close {
        font-size: 43px;
        @media screen and (max-width: 574px) {
          position: absolute;
          left: 5%;
          top: 2%;
        }
      }

      &:before, &:after {
        content: unset;
      }
    }

    .modal-body {
      padding: 50px 78px 20px;
      text-align: unset !important;
      @media screen and (max-width: 574px) {
        padding: 30px 20px;
        margin-bottom: 54px;
      }

      .modal__body--item, .popup-form-control {
        min-height: 97px;

        .modal__title--input {
          @include setTextStyleColor(14px, 16px, 500, #333);
          font-family: Roboto, Helvetica, sans-serif;

          i {
            color: $color_input-focus;
            margin-right: 5px;
          }

          @media screen and (max-width: 574px) {
            @include setTextStyleColor(12px, 14px, 500, #333);
          }
        }

        .modal__body--input.invalid-input {
          border-bottom: 1px solid $color-warning;
        }

        .error-text {
          @include setTextStyleColor(12px, 14px, 500, $color-warning);
        }

        .modal__body--input, .form-input {
          @include setTextStyleColor(16px, 19px, normal, #707070);
          font-family: Roboto, Helvetica, sans-serif;
          margin-bottom: 0;
          @media screen and (max-width: 574px) {
            @include setTextStyleColor(14px, 16px, normal, #707070);
          }
        }
      }
    }

    .modal-footer {
      text-align: center;
      @media screen and (max-width: 574px) {
        width: 100%;
        text-align: center;
        background-color: #06A763;
        height: 54px;
        display: flex;
        justify-content: center;
        position: fixed;
        bottom: 0;
        button {
          background-color: transparent;
          border: none;
          letter-spacing: 0.03em;
          @include setTextStyleColor(14px, 16px, 500, #fff);
          font-family: "Roboto", Arial, Helvetica, sans-serif;
        }
      }

      .modal__btn--save, .modal__btn--cancel {
        border: none;
        background-color: transparent;
        border-radius: 5px;
        margin: 0 5px;
        transition: all 0.3s;

        &:hover {
          transform: scale(1.1);
        }
      }

      .modal__btn--save {
        background-color: #06A763;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
        @include setTextStyleColor(16px, 19px, 500, #fff);
        padding: 10px 55px;
        @media screen and (max-width: 575px) {
          padding: 0;
          width: 100%;
        }
      }

      .modal__btn--cancel {
        @include setTextStyleColor(16px, 19px, 500, #717171);
        padding: 9px 46px;
        background-color: #fff;
        border: 0.3px solid #42AF7A;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.05);
      }
    }

    .container {
      width: 100%;
    }
  }
}

#galleries, #education, #experience, #pricing-table, #project {
  .title-top {
    justify-content: center;

    .btn__popup {
      margin-left: 10px;

      i {
        color: $color-header-popup;
      }

      &:hover {
        background-color: $color-header-popup;

        i {
          color: #fff;
        }
      }
    }
  }
}


.modal__input--warning {
  @include setTextStyleColor(12px, 14px, normal, $color-warning);
}

.card-content {
  .links {
    @media screen and (min-width: 768px) {
      min-height: 41px;
    }
  }

  @media screen and (max-width: 991px) and (min-width: 768px) {
    padding-left: 20px !important;
    .btn-floating {
      margin-left: 10px !important;
    }
  }
  @media screen and (max-width: 991.98px) {
    .title-top--info {
      display: unset;
    }
  }
  @media screen and (max-width: 767.98px) {
    .title-top--info {
      width: 100% ;
      display: flex;
    }
  }
}

.dropdown {
  .modal__body--input {
    margin-bottom: 0 !important;
    cursor: pointer;
  }

  .dropdown-menu {
    border: none;
    border-radius: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
    width: 100%;
    padding: 0;
    transition: all 0.1s;
    display: block;
    height: 0;
    overflow: hidden;

    li {
      padding: 8px 10px;
      @include setTextStyleColor(14px, 16px, normal, #333);
      cursor: pointer;
      transition: all 0.2s;

      &:hover {
        background-color: #2eca7f36;
      }
    }
  }

  &.open {
    .dropdown-menu {
      height: 74px;
      padding: 5px 0;
      transition: all 0.4s;
      transform: scale(1.07) translateY(2px);
    }
  }

  &.input__dropdown--big {

    &.open .dropdown-menu,
    .form-input:focus + .dropdown-menu {
      height: 75px;
      padding: 5px 0;
      transform: scale(1.07) translateY(8px);
      transition: all 0.4s;
      overflow: hidden;
    }
  }
}

/*=============================ABOUT==============================*/
.card-content {
  .title-top {
    .text-uppercase {
      @media screen and (max-width: 767px) {
        margin-left: 54px;
      }
    }
  }
}

.info-headings {
  @media screen and (max-width: 1199px) and (min-width: 992px) {
    max-width: 488px !important;
  }
  @media screen and (max-width: 767px) {
    .btn__popup {
      margin-left: 20px;
    }
  }
}

/*==============================INFO===============================*/

.title-top--info {
  width: 59%;
  align-items: unset;
  @media screen and (min-width: 992px) and (max-width: 1199px) {
    width: 57%;
  }
  @media screen and (max-width: 767px) {
    margin: auto;
    .infos {
      padding-left: 33px;
    }
  }

  .infos {
    @media screen and (max-width: 574px) {
      padding-left: 0 !important;
    }

    .profile-list {
      z-index: 2;

      .clearfix {
        .content-title {
          min-width: 105px;
          display: block;
          margin-left: 15px;
          @include setTextStyleColor(15px, 20px, 400, #fff);
        }

        i {
          width: 15px;
        }

        .content {
          word-break: break-word;
        }
      }
    }
  }

  @media screen and (max-width: 574px) {
    align-items: flex-start;
  }

  .btn__popup {
    @media screen and (max-width: 767px) {
      margin-top: 0;
      position: absolute;
      right: 2%;
    }
    @media screen and (min-width: 768px) and (max-width: 991px) {
      z-index: 2;
      position: absolute;
      right: 54%;
      top: 36%;
    }
  }

  .clearfix {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    i {
      color: #fff;
    }
  }
}

#info_modal {
  .modal-dialog {
    .modal__body--item {
      .modal__body--textarea {
        height: 200px;
        margin-top: 15px;
      }

      textarea::-webkit-scrollbar {
        width: 5px;
        cursor: pointer;
      }

      textarea::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        cursor: pointer;
      }

      textarea::-webkit-scrollbar-thumb {
        background-color: #9c9c9c;
        outline: none;
        cursor: pointer;
        border-radius: 3px;
      }
    }

    input[type="date"] {
      position: relative;
    }

    input[type="date"]::-webkit-calendar-picker-indicator {
      color: transparent;
      background: none;
      z-index: 1;
      position: absolute;
      right: 0;
    }

    input[type="date"]::-webkit-calendar-picker-indicator:focus {
      outline: none !important;
      border: none !important;
      cursor: pointer;
    }

    input[type="date"]:before {
      font-family: 'Font Awesome 5 Free', serif;
      content: '\f073';
      position: absolute;
      color: #999;
      right: 6px;
    }
  }
}

/*==============================EDUCATION==============================*/
#education {
  .title-top {
    justify-content: center;

    .btn__popup {
      i {
        color: $color-header-popup;
      }
    }
  }

  .card-content {
    min-height: 199px;

    .item-option {
      right: 4%;
      transition: all .3s;
      transform: translate(5px, -5px);
      @media screen and (max-width: 991px) {
        flex-direction: column;
        top: 62px;
        opacity: 1;
        visibility: unset;
        right: 5%;
      }
      @media screen and (min-width: 627px) and (max-width: 767px) {
        top: 30%;
      }
      @media screen and (max-width: 991px) and (min-width: 768px) {
        top: 5%;
      }
      @media screen and (min-width: 575px) and (max-width: 767px) {
        right: 3.7%;
      }
    }

    &:hover {
      .item-option {
        opacity: 1;
        visibility: unset;
        transform: translate(0);
      }
    }
  }
}

#education_modal {
  .modal-dialog {
    .modal__body--item {
      .form-time {
        display: flex;
        align-items: center;

        .modal__body--input {
          width: 85px;
          text-align: center;
        }

        label {
          width: unset;
        }
      }

      .form-time--from {
        .modal__title--input {
          margin-right: 27px;
        }
      }

      .form-time--to {
        @media screen and (max-width: 574px) {
          margin-bottom: 30px;
        }

        .modal__title--input {
          margin-right: 20px;
        }
      }

      #education_start_month, #education_end_month {
        margin-right: 20px;
      }

      #education_description {
        height: 104px;
        margin-top: 10px;
      }
    }
  }
}

/*==============================EXPERIENCE==============================*/
#experience_modal {
  .modal-dialog {
    .modal__body--item {
      .form-time {
        display: flex;
        align-items: center;

        .modal__body--input {
          width: 85px;
          text-align: center;
        }

        label {
          width: unset;
        }
      }

      .form-time--from {
        .modal__title--input {
          margin-right: 27px;
        }
      }

      .form-time--to {
        @media screen and (max-width: 574px) {
          margin-bottom: 30px;
        }

        .modal__title--input {
          margin-right: 20px;
        }
      }

      #experience_start_month, #experience_end_month {
        margin-right: 20px;
      }

      #experience_description {
        height: 104px;
        margin-top: 10px;
      }
    }

    .form-time__current {
      display: flex;

      .form-time__current--icon {
        display: flex;
        cursor: pointer;
        align-items: center;

        .checkbox {
          display: block;
          width: 20px;
          height: 20px;
          margin-right: 5px;
          position: relative;
          border-radius: 5px;
          border: 1px solid $color-header-popup;
          background-color: #fff;
          overflow: hidden;
          top: 1px;
          transition: all 0.3s 0.3s;

          &:before {
            content: '';
            position: absolute;
            width: 3px;
            height: 8px;
            background-color: #fff;
            transform: rotate(-45deg) translateX(-2px) translateY(-28px);
            z-index: 1;
            transition: all 0.3s 0.15s;
          }

          &:after {
            content: '';
            position: absolute;
            width: 3px;
            height: 12px;
            background-color: #fff;
            transform: rotate(45deg) translateX(9px) translateY(-24px);
            z-index: 1;
            transition: all 0.3s;
          }
        }

        .modal__title--input {
          font-weight: 400 !important;
          margin-top: 4px;
        }

        input:checked + .checkbox {
          background-color: $color-header-popup;
          transition: all 0.3s;

          &:before {
            transform: rotate(-45deg) translateX(-2px) translateY(8px);
          }

          &:after {
            transform: rotate(45deg) translateX(9px) translateY(-4px);
            transition: all 0.3s 0.3s;
          }
        }
      }
    }

  }
}

#experience {
  .card-content {
    min-height: 199px;

    .item-option {
      right: 4%;
      transition: all .3s;
      transform: translate(5px, -5px);
      @media screen and (max-width: 991px) {
        flex-direction: column;
        top: 30%;
        opacity: 1;
        visibility: unset;
        right: 4.5%;
        transform: unset;
      }
      @media screen and (min-width: 627px) and (max-width: 767px) {
        top: 30%;
      }
      @media screen and (max-width: 991px) and (min-width: 768px) {
        top: 5%;
      }
      @media screen and (min-width: 575px) and (max-width: 767px) {
        right: 3%;
      }
    }

    &:hover {
      .item-option {
        opacity: 1;
        visibility: unset;
        transform: translate(0);
      }
    }
  }
}

/*==============================GALLERY===============================*/

#galleries {
  .port-effect-scale, .port-effect-up {
    .item-option {
      top: 2%;
      right: 3%;
      transition: all 0.3s;
      @media screen and (max-width: 1199px) {
        opacity: 1;
        visibility: unset;
        z-index: 1050;
        .btn__popup {
          margin: 5px;

          &:hover {
            background-color: #fff;
          }
        }
      }
    }

    &:hover {
      .item-option {
        opacity: 1;
        visibility: unset;
        z-index: 1050;

      }
    }
  }

  .port-effect-up {
    .item-option {
      transform: translateY(10px);
    }

    &:hover {
      .item-option {
        transform: translateY(0);
      }
    }
  }
}

#gallery_add_modal {
  .modal-dialog {
    .work__upload--file {
      padding-bottom: 0;
      cursor: pointer;
      margin-bottom: 45px;
      position: relative;
      display: flex;
      justify-content: center;
      flex-direction: column-reverse;
      align-items: center;

      .upload {
        position: absolute;
        height: 100%;
        width: 55%;
        opacity: 0;
        cursor: pointer;
        @media screen and (max-width: 574px) {
          width: 100%;
        }
      }

      .box__drop {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: transparent;
        padding: 20px 0;
        border: 1px dashed #D9D9D9;
        box-sizing: border-box;
        border-radius: 2px;
        width: 55%;
        @media screen and (max-width: 574px) {
          width: 100%;
        }

        .box__drop--des {
          @include setTextStyleColor(16px, 25px, normal, #333);
          text-align: center;
        }

        .box__drop--subdes {
          @include setTextStyleColor(14px, 22px, normal, rgba(56, 56, 56, 0.45));
          margin-bottom: 0;
          text-align: center;
        }
      }
    }

    #gallery_list_error {
      padding-top: 20px;
    }

    .input-gallery-list {
      .list-col {
        .gallery-item {
          display: flex;
          align-items: center;
          justify-content: space-between;
          border: 1px solid #eeeeee;
          padding: 5px;
          margin-bottom: 10px;
          height: 100%;

          .gallery-item__title {
            margin-bottom: 0;
            overflow: hidden;
            padding-left: 5px;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            max-height: 28px;
            @include setTextStyleColor(14px, 23px, normal, #1890FF);
          }

          .gallery-item__image {
            min-width: 50px;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            height: 50px;
          }

          .gallery-item__delete {
            height: unset;
            border: none;
            outline: none;
            background-color: transparent;
            font-size: 16px;
            cursor: pointer;
            transition: all 0.2s;

            &:focus {
              box-shadow: none;
            }

            &:hover {
              color: $color-header-popup;
            }
          }
        }
      }
    }
  }
}

/*=================================CONTACT==========================*/
#contact {
  .card {
    .card-content {
      .input-field {
        position: relative;
        margin-top: 1rem;
        margin-bottom: 12px;
        min-height: 64px;

        lable {
          left: 0;
          font-weight: normal;
          top: 0.5rem;
        }

        input {
          &:focus {
            transform: scale(1.04);
          }
        }
      }

      .contact-send {
        display: flex;
        justify-content: center;
      }
    }
  }
}

/*=================================SERVICE==========================*/
#pricing-table {
  .pricing-bottom {
    p {
      padding-bottom: 10px;
    }
  }

  .pricing {
    .item-option {
      transform: translate(5px, -5px);
      transition: all 0.3s;
      right: 2%;
      top: 2%;
      @media screen and (max-width: 991px) {
        opacity: 1;
        visibility: unset;
      }
    }
  }

  .card {
    min-height: 244px;

    &:hover {
      .item-option {
        opacity: 1;
        visibility: unset;
        transform: translate(0) !important;
      }
    }
  }
}

#service_modal {
  .modal__body--list-icon {
    margin-bottom: 15px;
    min-height: 241px;

    .form-icon {
      height: 220px;
      overflow: auto;
      padding: 10px;

      .list-icon {
        display: flex;
        flex-wrap: wrap;

        i {
          width: 40px;
          height: 40px;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          color: #333;
          font-size: 20px;
          transition: all .2s;

          &.selected {
            background-color: $color-header-popup;
            color: #fff;
            border-radius: 50%;
          }
        }
      }

      .service-more {
        width: 100%;
        border: none;
        background: none;
        color: #333;
        box-shadow: none;

        &:hover {
          color: $color-header-popup;
        }
      }

      &.invalid-input {
        border: 1px solid $color-warning;
      }

    }

    ::-webkit-scrollbar {
      padding-right: 0;
      width: 8px;
      background-color: transparent;
      border-radius: 5px;
    }

    ::-webkit-scrollbar-thumb {
      background-color: #9c9c9c;
      border-radius: 5px;
    }

    ::-webkit-scrollbar-thumb:hover {
      background-color: #9c9c9c;
    }
  }

  @-moz-document url-prefix() {
    .scroller {
      scrollbar-width: thin;
      scrollbar-color: #9c9c9c transparent;
    }
  }
}

/*===============================SKILL============================*/
#skills {
  .skill__item {
    display: flex;

    .item-option {
      position: relative;
      top: unset;
      bottom: 0;
      align-items: flex-end;
      visibility: visible;
      overflow: hidden;
      min-width: 0;
      width: 0;
      @media screen and (max-width: 991px) {
        min-width: 70px;
        width: 70px;
        opacity: 1;
        visibility: unset;
        .btn__popup {
          margin-left: 5px;
          height: 30px;
          width: 30px;

          i {
            font-size: 13px
          }
        }
      }
    }

    &:hover {
      .item-option {
        opacity: 1;
        min-width: 90px;
        width: 90px;
      }
    }
  }
}

#skill_modal {
  .dropdown {
    .dropdown-menu {
      overflow: auto;
    }

    &.open {
      .dropdown-menu {
        height: 224px;
      }
    }

    &.input__dropdown--big {

      &.open .dropdown-menu,
      .form-input:focus + .dropdown-menu {
        height: 225px;
      }
    }


    ::-webkit-scrollbar {
      padding-right: 0;
      width: 8px;
      background-color: transparent;
      border-radius: 5px;
    }

    ::-webkit-scrollbar-thumb {
      background-color: #9c9c9c;
      border-radius: 5px;
    }

    ::-webkit-scrollbar-thumb:hover {
      background-color: #9c9c9c;
    }

    @-moz-document url-prefix() {
      .scroller {
        scrollbar-width: thin;
        scrollbar-color: #9c9c9c transparent;
      }
    }
  }

  .form-range {
    display: flex;
    align-items: center;
    margin-top: 25px;

    .thumb {
      display: none;
    }

    &__view {
      width: 20%;
      padding-left: 40px;
      @include setTextStyleColor(16px, 19px, 300, #333);
      transform: scale(1.07);
    }

    &__input {
      width: 80%;
      background-color: #333;
      height: 1px;
      -webkit-appearance: none;
      outline: none;
      opacity: 0.7;
      padding: 0;

      &::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 18px;
        height: 18px;
        background: $color-header-popup;
        cursor: pointer;
        border-radius: 50%;
      }

      &::-moz-range-thumb {
        width: 18px;
        height: 18px;
        background: #333;
        cursor: pointer;
        border-radius: 50%;
      }
    }
  }
}

/*================================KNOWLEDGE==========================*/

.knowledge-list {
  .knowledge-edit {
    align-items: center;
    position: unset;
    justify-content: space-between;

    .item-option {
      right: 0;
      transform: translateX(5px);
      margin-left: 10px;
      @media screen and (max-width: 991px) {
        opacity: 1;
        visibility: unset;
        .btn__popup {
          margin-left: 5px;
        }
      }
    }

    &:hover {
      .item-option {
        opacity: 1;
        visibility: unset;
        transform: translateX(0);
      }
    }

    .knowledge__item--icon {
      i {
        margin-right: 10px;
      }
    }
  }
}

.list_knowledge {
  .knowledge-item {
    .popup-form-control {
      display: flex;
      align-items: center;
      min-height: unset !important;

      .form-input {
        width: 80%;
        margin: 0 auto;
      }

      .form-knowledge__button {
        margin: 0 5px;
      }

    }

    .form-knowledge .addnew-button {
      visibility: hidden;
      opacity: 0;
      transition: 0s;
    }

    &:last-child {
      .form-knowledge .addnew-button {
        visibility: inherit;
        opacity: 1;
        transition: 0.2s;
      }
    }

    &:nth-child(10) {
      .form-knowledge .addnew-button {
        visibility: hidden;
        opacity: 0;
        transition: 0s;
      }
    }

    .form-error {
      width: 93%;
      margin: auto;
    }
  }
}

/*================================PROJECT============================*/

#project {
  #timeline-project {
    position: relative;
    .card-content {
      .item-option {
        right: 4%;
        transition: all .3s;
        transform: translate(5px, -5px);
        @media screen and (max-width: 991px) {
          flex-direction: column;
          top: 30%;
          opacity: 1;
          visibility: unset;
          right: 4.5%;
          transform: unset;
        }
        @media screen and (min-width: 627px) and (max-width: 767.98px) {
          top: 30%;
        }
        @media screen and (max-width: 991.98px) and (min-width: 768px) {
          top: 5%;
        }
        @media screen and (min-width: 575px) and (max-width: 767.98px) {
          right: 3%;
        }
      }

      &:hover {
        .item-option {
          opacity: 1;
          visibility: unset;
          transform: translate(0);
        }
      }
      .stack {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-top: 10px;
        .stack-item {
          display: flex;
          flex-wrap: wrap;
          span {
            background: #FAFAFA;
            border: 1px solid #D9D9D9;
            box-sizing: border-box;
            border-radius: 2px;
            padding: 8px;
            font-size: 12px;
            margin: 5px;
          }
        }
      }
      .project__item--content {
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        color: #636161;
        span {
          color: #717171;
          margin-left: 6px;
          font-weight: 500;
        }
      }
    }
  }
}

#project_modal {
  .select2 {
    width: 100% !important;

    &:focus {
      transform: scale(1.07);
    }

    .select2-selection--multiple {
      border: none;
      border-bottom: 1px solid #9e9e9e;
      min-height: 46px;
      border-radius: 0;
      display: flex;
      flex-direction: column;
    }

    .select2-selection__rendered {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 0;

      .select2-selection__choice {
        background: #EEEEEE;
        border: 1px solid #E9E9E9;
        box-sizing: border-box;
        border-radius: 2px;
        display: flex;
        align-items: center;
        min-width: 80px;
        flex-wrap: wrap;

        .select2-selection__choice__remove {
          font-size: 19px;
          color: #464646;
        }

        .select2-selection__choice__display {
          font-size: 14px;
          padding-left: 5px;
          padding-right: 5px;
          color: #464646;
        }
      }
    }

    .select2-search--inline {
      height: 46px;
    }
  }

  .time__from-to {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width: 991.98px) {
      justify-content: unset;
    }
    .modal__body--input {
      width: 130px;
      text-align: center;
      margin-left: 18px;
      @media screen and (max-width: 574.98px) {
        width: 100%;
        margin-left: 0;
      }
    }

    @media screen and (max-width: 574.98px) {
      .modal__title--input {
        margin: 0 20px;
      }
    }

    .form-time {
      display: flex;
      align-items: center;
    }
  }

  textarea.modal__body--input {
    min-height: 153px;
  }

  #project_description {
    min-height: 188px;
  }

  .modal__body--item-textarea {
    min-height: 194px;
  }
}

.select2-container--default .select2-results > .select2-results__options {
  max-height: 163px !important;
}

.select2-container--default {
  .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: #2ECA7F !important;
  }

  .select2-search__field {
    @include setTextStyleColor(16px, 19px, normal, #707070);
    font-size: 16px !important;
    margin-top: 0;
    border-bottom: none;
    @media screen and (max-width: 574.98px) {
      font-size: 14px !important;
    }

    &:focus {
      transform: unset;
    }
  }
}
