@import "../../static/scss/variable";
@import "../../static/scss/include-extend";

.itnavi-header {
    width: 100vw;
    height: 64px;
    background-color: #163442;
    padding-left: 0;
    padding-right: 8px;

    @media (max-width: 991.98px) {
        height: 55px;
    }

    .header-desktop {
        width: 100%;

        .container-md {
            flex-wrap: nowrap;
        }

        .navbar-brand {
            margin-right: 40px;

            img {
                height: 25px;
            }
        }

        .navbar-nav {
            flex-direction: row;

            .nav-item {
                padding: 0 10px;
                transition: all 0.2s;
                position: relative;
                overflow: hidden;
                border-radius: 4px;

                &:before {
                    content: '';
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    border-radius: 50%;
                    transform: translateY(-50%) translateX(-50%);
                    width: 0;
                    height: 0;
                    background-color: transparent;
                    transition: all 0.4s;
                    z-index: -1;
                }

                .nav-link {
                    @include setTextStyleColor(12px, 14px, 500, $color_white);
                    text-transform: uppercase;
                    transition: all 0.2s;
                    white-space: nowrap;
                }

                &:hover {
                    &:before {
                        width: 150%;
                        height: 150%;
                        background-color: $color_white;
                    }

                    .nav-link {
                        color: $color_black;
                    }
                }

                &.active {
                    .nav-link {
                        text-decoration: underline;

                        &:hover {
                            text-shadow: none;
                        }
                    }
                }

                &.nav-item__clicktoshow {
                    display: none;
                    padding: 0;
                    align-items: center;

                    button {
                        border: none;
                        background-color: transparent;
                        color: white;
                        border-radius: 4px;
                        transition: all 0.2s;

                        &:hover {
                            color: $color_black;
                        }

                    }
                }
            }

            &.hide {
                .nav-item {
                    &.nav-item__autohide {
                        width: 0;
                        padding: 0;
                    }

                    &.nav-item__clicktoshow {
                        display: flex;
                    }
                }
            }
        }

        .n-search {
            width: 100%;
            height: 35px;
            padding-left: 30px;
            display: flex;

            label {
                margin-bottom: 0;
            }

            &__name {
                position: relative;
                width: 100%;
                height: 100%;

                &--label {
                    position: absolute;
                    top: 5px;
                    left: 16px;
                }

                &--input {
                    width: 100%;
                    height: 100%;
                    background-color: #fff;
                    border: none;
                    border-radius: 2px;
                    padding: 0 18px 0 41px;
                    @include setTextStyleColor(12px, 14px, normal, $color_black);
                    cursor: pointer;
                }
            }

            &__location {
                overflow: hidden;
                height: 100%;
                min-width: 190px;
                max-width: 190px;
                padding-left: 10px;
                opacity: 1;
                transition: all 0.2s;

                &--select {
                    width: 100%;
                    height: 100%;
                    border: none;
                    border-radius: 2px;
                    background-color: $color_white;
                    @include setTextStyleColor(12px, 14px, normal, $color_black);
                    cursor: pointer;
                }

                .select2-container--default {
                    height: 100% !important;
                    width: 100% !important;

                    .selection {
                        .select2-selection {
                            height: 100%;
                            border-radius: 2px;
                            border: none;

                            &:focus {
                                outline: none;
                            }

                            .select2-selection__rendered {
                                height: 100%;
                                line-height: 35px !important;
                                @include setTextStyleColor(12px, 14px, normal, $color_black);

                            }

                            .select2-selection__arrow {
                                height: 100%;
                            }
                        }
                    }

                    .select2-container--open.select2-container--below .select2-selection--single {
                        height: 100%;
                    }

                }
            }

            &__submit {
                overflow: hidden;
                min-width: 145px;
                max-width: 145px;
                height: 100%;
                padding-left: 10px;
                opacity: 1;
                transition: all 0.2s;

                &--button {
                    width: 100%;
                    height: 100%;
                    background-color: $header_color_red;
                    @include setTextStyleColor(14px, 16px, 600, $color_white);
                    border-radius: 2px;
                    border: none;
                }
            }

            &.hide {

                .n-search__name {
                    &--label {
                        left: unset;
                        right: 15px;
                    }

                    &--input {
                        padding-left: 18px;
                    }
                }

                .n-search__location, .n-search__submit {
                    min-width: 0;
                    max-width: 0;
                    padding: 0;
                    opacity: 0;
                }
            }

            @media screen and (max-width: 1199.98px) {
                &__name {
                    &--label {
                        top: 3px;
                        left: 10px;

                        img {
                            position: relative;
                            transform: scale(0.8);
                        }
                    }

                    &--input {
                        padding: 0 5px 0 35px;
                    }
                }

                &__location {
                    min-width: 140px;
                    max-width: 140px;

                    .select2-container--default {
                        height: 100% !important;
                        width: 100% !important;
                    }
                }

                &__submit {
                    min-width: 110px;
                    max-width: 110px;

                    &--button {
                        @include setTextStyle(12px, 14px, 600);
                    }
                }

                &.n-search__hideitem {

                    .n-search__name {
                        &--label {
                            left: unset;
                            right: 10px;
                        }

                        &--input {
                            padding-left: 12px;
                        }
                    }
                }
            }
        }

        .n-wallet {
            display: flex;
            align-items: center;

            &:before {
                display: none;
            }

            &__coin {
                @include setTextStyleColor(12px, 14px, 600, $color_white);
                white-space: nowrap;
                padding-right: 5px;

                i {
                    color: #feda42;
                }
            }

            &__pay {
                padding: 0 7px;
                border: none;
                height: 22px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 8px;
                white-space: nowrap;
                @include setTextStyleColor(12px, 14px, bold, $color_black);
                background-color: #fff;
                text-transform: uppercase;
                transition: all 0.1s;
            }
        }

        .n-lang {
            margin-left: 20px;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            height: 100%;

            .dropdown {

                .n-lang--button {
                    background-color: transparent;
                    border: none;
                    white-space: nowrap;
                    @include setTextStyleColor(14px, 16px, 500, $color_white);
                    text-transform: uppercase;

                    @media screen and (max-width: 1199.98px) {
                        height: 40px;
                    }
                }

                .dropdown-menu {
                    top: calc(100% + 15px);
                    border: none;
                    background-color: #163442;
                    border-radius: 0;
                    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
                    padding: 10px 0;

                    .dropdown-item {
                        @include setTextStyleColor(12px, 14px, 500, $color_white);
                        text-transform: uppercase;
                        padding: 10px 20px;

                        i {
                            width: 10px;
                            margin-right: 10px;
                        }

                        &:hover {
                            background-color: $header_color_red;
                        }
                    }
                }
            }
        }

        .n-auth {
            min-width: 180px;
            margin-left: 20px;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            height: 100%;

            .dropdown {
                .dropdown-menu {
                    top: calc(100% + 15px);
                    border: none;
                    background-color: #163442;
                    border-radius: 0;
                    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
                    padding: 10px 0;

                    .dropdown-item {
                        @include setTextStyleColor(12px, 14px, 600, $color_white);
                        text-transform: uppercase;
                        padding: 10px 20px;

                        i {
                            width: 10px;
                            margin-right: 10px;
                        }

                        &:hover {
                            background-color: $header_color_red;
                        }
                    }
                }
            }

            .n-auth__unlogin {
                display: flex;
                align-items: center;

                &--button {
                    background-color: transparent;
                    border: none;

                    @media screen and (max-width: 1199.98px) {
                        height: 40px;
                    }
                }

                .dropdown-menu {
                    width: 100px;
                    top: calc(100% + 5px);

                }

                .n-employer {
                    padding-left: 17px;

                    &__button {
                        min-width: 142px;
                        max-width: 142px;
                        height: 30px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 8px;
                        @include setTextStyleColor(12px, 14px, bold, $color_black);
                        background-color: #fff;
                        text-transform: uppercase;
                        transition: all 0.1s;

                        i {
                            margin-left: 5px;
                        }

                        &:hover {
                            transform: scale(1.1);
                        }
                    }
                }
            }

            .n-auth__logged {
                width: 100%;

                &--button {
                    background-color: transparent;
                    border: none;
                    padding: 0;
                    display: flex;
                    align-items: center;
                    color: $color_white;
                    width: 100%;

                    .logged__image {
                        background-repeat: no-repeat;
                        background-position: center center;
                        background-size: cover;
                        display: flex;
                        min-width: 20px;
                        max-width: 20px;
                        height: 20px;
                        border-radius: 50%;
                        margin-right: 7px;
                    }

                    .logged__name {
                        overflow: hidden;
                        display: -webkit-box;
                        word-break: break-word;
                        text-overflow: ellipsis;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 3;
                        max-width: 150px;
                        @include setTextStyle(14px, 16px, normal);
                        margin-right: 8px;
                    }
                }

                .dropdown-menu {
                    width: 213px;

                    .dropdown-item {
                        text-transform: unset;
                        padding: 15px 20px;
                        font-weight: 500;
                        transition: all 0.2s;
                    }
                }
            }

            @media screen and (max-width: 1199.98px) {
                margin-left: 30px;
            }
        }

    }

    .header-mobile {
        width: 100%;

        .container-md {
            flex-wrap: nowrap;
        }

        .navbar-brand {
            margin-right: 20px;
            display: flex;
            align-items: center;

            img {
                height: 22px;
            }
        }


        .n-search {
            width: 100%;
            height: 35px;
            padding-left: 10px;
            display: flex;

            label {
                margin-bottom: 0;
            }

            &__name {
                position: relative;
                width: 100%;
                height: 100%;

                &--label {
                    position: absolute;
                    top: 5px;
                    left: 16px;
                }

                &--input {
                    width: 100%;
                    height: 100%;
                    background-color: #fff;
                    border: none;
                    border-radius: 2px;
                    padding: 0 18px 0 41px;
                    @include setTextStyleColor(12px, 14px, normal, $color_black);
                    cursor: pointer;
                }
            }

            &__location {
                overflow: hidden;
                height: 100%;
                opacity: 1;
                transition: all 0.2s;

                &--select {
                    width: 100%;
                    height: 100%;
                    border: none;
                    border-radius: 2px;
                    background-color: $color_white;
                    @include setTextStyleColor(12px, 14px, normal, $color_black);
                    cursor: pointer;
                }

                .select2-container--default {
                    height: 100% !important;
                    width: 100% !important;

                    .selection {
                        .select2-selection {
                            height: 100%;
                            border-radius: 2px;
                            border: none;

                            &:focus {
                                outline: none;
                            }

                            .select2-selection__rendered {
                                height: 100%;
                                line-height: 35px !important;
                                @include setTextStyleColor(12px, 14px, normal, $color_black);

                            }

                            .select2-selection__arrow {
                                height: 100%;
                            }
                        }
                    }

                    .select2-container--open.select2-container--below .select2-selection--single {
                        height: 100%;
                    }

                }
            }

            &__submit {
                overflow: hidden;
                min-width: 145px;
                max-width: 145px;
                height: 100%;
                opacity: 1;
                transition: all 0.2s;

                &--button {
                    width: 100%;
                    height: 100%;
                    background-color: $header_color_red;
                    @include setTextStyleColor(14px, 16px, 600, $color_white);
                    border-radius: 2px;
                    border: none;
                }
            }

            &.hide {

                .n-search__name {
                    &--label {
                        left: unset;
                        right: 15px;
                    }

                    &--input {
                        padding-left: 18px;
                    }
                }

                .n-search__location, .n-search__submit {
                    min-width: 0;
                    max-width: 0;
                    padding: 0;
                    opacity: 0;
                }
            }

            @media screen and (max-width: 1199.98px) {
                &__name {
                    &--label {
                        top: 3px;
                        left: 10px;

                        img {
                            position: relative;
                            transform: scale(0.8);
                        }
                    }

                    &--input {
                        padding: 0 12px 0 35px;
                    }
                }

                &__location {

                    .select2-container--default {
                        height: 100% !important;
                        width: 100% !important;
                    }
                }

                &__submit {
                    min-width: 110px;
                    max-width: 110px;

                    &--button {
                        @include setTextStyle(12px, 14px, 600);
                    }
                }

                &.n-search__hideitem {

                    .n-search__name {
                        &--label {
                            left: unset;
                            right: 10px;
                        }

                        &--input {
                            padding-left: 12px;
                        }
                    }
                }
            }
        }


        .n-wallet {
            display: flex;
            align-items: center;
            padding-top: 2px;

            &__coin {
                @include setTextStyleColor(12px, 14px, 600, $color_white);
                white-space: nowrap;
                padding-right: 5px;

                i {
                    color: #feda42;
                }
            }

            &__pay {
                padding: 0 7px;
                border: none;
                height: 22px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 8px;
                white-space: nowrap;
                @include setTextStyleColor(12px, 14px, bold, $color_black);
                background-color: #fff;
                text-transform: uppercase;
                transition: all 0.1s;
            }
        }

        .n-mobile__toggle {
            padding-left: 20px;
            margin-top: 1px;

            &--button {
                background-color: transparent;
                border: none;
            }
        }

        .n-mobile__menu {
            display: block;
            position: fixed;
            top: 55px;
            left: unset;
            right: -100%;
            width: 234px;
            height: auto;
            background-color: $color_white;
            transition: all 0.4s;
            padding-bottom: 10px;
            padding-top: 0;
            margin-top: 0;
            border: none;
            border-radius: 0;

            &.show {
                right: 0;
            }

            .n-navi__mobile {
                margin-bottom: 0;
                padding-left: 0;
                padding-top: 15px;
                padding-bottom: 7px;
                border-bottom: 1px solid #e7e7e7;

                &:last-child {
                    border-bottom: none;
                }

                &--item {
                    padding: 7px 23px;
                    list-style: none;
                    display: flex;
                }

                &--link {
                    @include setTextStyleColor(12px, 14px, 500, $color_gray);
                    text-transform: uppercase;

                    i {
                        width: 15px;
                        text-align: center;
                        margin-right: 7px;
                    }
                }

                .n-lang {
                    padding: 7px 23px;
                    list-style: none;
                    display: flex;

                    .dropdown {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;

                        .n-lang--button {
                            padding: 0;
                            background-color: transparent;
                            border: none;
                            @include setTextStyleColor(12px, 14px, 500, $color_gray);
                            text-transform: uppercase;
                        }

                        .dropdown-menu {
                            top: unset;
                            position: relative !important;
                            display: block!important;
                            border: none;
                            background-color: transparent;
                            border-radius: 0;
                            box-shadow: none;
                            padding: 7px 10px 0 15px;

                            .dropdown-item {
                                @include setTextStyleColor(12px, 14px, 500, $color_gray);
                                padding: 7px 0;

                                i {
                                    width: 10px;
                                    margin-right: 10px;
                                }

                                &.active {
                                    color: $header_color_red;
                                    background-color: transparent;
                                }
                            }
                        }
                    }
                }

            }

            .n-logined__mobile {
                padding: 15px 20px 13px 23px;
                background-color: #f4f4f4;
                display: flex;

                &--image {
                    min-width: 28px;
                    max-width: 28px;
                    height: 28px;
                    border-radius: 50%;
                }

                &--info {
                    padding-left: 12px;
                }

                &--name {
                    overflow: hidden;
                    display: -webkit-box;
                    word-break: break-word;
                    text-overflow: ellipsis;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    @include setTextStyleColor(12px, 14px, 500, #737373);
                }

                &--email {
                    overflow: hidden;
                    display: -webkit-box;
                    word-break: break-word;
                    text-overflow: ellipsis;
                    -webkit-line-clamp: 1;
                    -webkit-box-orient: vertical;
                    @include setTextStyleColor(10px, 12px, normal, #737373);
                    margin-top: 3px;
                }
            }

            .n-employer__mobile {
                padding: 20px 30px;

                .n-employer__button {
                    width: 145px;
                    height: 36px;
                    background-color: $header_color_red;
                    border-radius: 7px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    @include setTextStyleColor(10px, 12px, 600, $color_white);
                    font-family: "Montserrat", "Roboto", Arial, Helvetica, sans-serif;

                    i {
                        margin-left: 10px;
                    }
                }
            }
        }


        .n-search--mobile {
            width: 100%;
            height: 25px;
            position: relative;
            transition: all 0.2s;
            top: 2px;

            .n-search__form {
                width: 100%;
                height: 100%;
                display: flex;

                label {
                    margin-bottom: 0;
                }
            }

            .n-search__name {
                position: relative;
                display: flex;
                width: 100%;
                height: 100%;

                &--label {
                    position: absolute;
                    top: 0;
                    left: 8px;
                    transform: scale(0.7);
                }

                &--input {
                    width: 100%;
                    height: 25px;
                    background-color: #fff;
                    border: none;
                    border-radius: 2px;
                    padding: 0 10px 0 30px;
                    @include setTextStyleColor(10px, 12px, normal, $color_black);
                    cursor: pointer;
                }
            }

            .n-search__location {
                display: none;
            }

            .n-search__submit {
                display: none;
            }

            .n-search__mobile--close {
                display: none;
            }

            .n-search__popular {
                display: none;
            }

            &.show {
                position: fixed;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background-color: #e5e5e5;
                padding: 17px 16px;
                overflow: auto;
                z-index: 1000;

                .n-search__mobile--close {
                    display: flex;

                    button {
                        width: 46px;
                        height: 46px;
                        border-radius: 50%;
                        border: 1px solid #ADADAD;
                        background-color: transparent;

                        img {
                            position: relative;
                            right: 2px;
                        }
                    }
                }

                .n-search__form {
                    width: 100%;
                    height: unset;
                    display: inherit;
                    padding: 18px 0;
                }

                .n-search__name {
                    position: relative;
                    display: flex;
                    width: 100%;
                    height: unset;
                    margin-bottom: 8px;

                    &--label {
                        display: none;
                    }

                    &--input {
                        width: 100%;
                        height: 45px;
                        border-radius: 4px;
                        padding: 0 20px;
                        @include setTextStyle(12px, 14px, normal);
                    }
                }

                .n-search__location {
                    display: block;
                    height: 45px;
                    margin-bottom: 8px;

                    &--select {
                        width: 100%;
                        height: 45px;
                        border: none;
                        border-radius: 4px;
                        background-color: $color_white;
                        @include setTextStyleColor(12px, 14px, normal, $color_black);
                        cursor: pointer;
                    }

                    .select2-container--default {
                        height: 100% !important;
                        width: 100% !important;

                        .selection {
                            .select2-selection {
                                height: 100%;
                                border-radius: 4px;
                                border: none;

                                &:focus {
                                    outline: none;
                                }

                                .select2-selection__rendered {
                                    height: 100%;
                                    padding: 0 20px;
                                    line-height: 45px !important;
                                    @include setTextStyleColor(12px, 14px, normal, $color_black);

                                }

                                .select2-selection__arrow {
                                    height: 100%;
                                    right: 10px;
                                }
                            }
                        }

                        .select2-container--open.select2-container--below .select2-selection--single {
                            height: 100%;
                        }

                    }
                }

                .n-search__submit {
                    display: flex;

                    &--button {
                        width: 100%;
                        height: 45px;
                        background-color: $header_color_red;
                        @include setTextStyleColor(14px, 16px, 600, $color_white);
                        border-radius: 4px;
                        border: none;
                    }
                }

                .n-search__popular {
                    display: inherit;
                    background-color: $color_white;
                    padding: 19px 18px;

                    &--header {
                        @include setTextStyleColor(14px, 16px, 600, #8d8d8d);
                    }

                    &--list {
                        padding-top: 5px;
                        padding-left: 0;
                        display: flex;
                        flex-wrap: wrap;
                        margin-bottom: 0;

                        .list-item {
                            width: 49.98%;
                            padding-top: 15px;
                            padding-right: 15px;
                            list-style: none;

                            .list-link {
                                text-decoration: underline;
                                @include setTextStyleColor(14px, 16px, normal, $color_gray);
                            }
                        }
                    }
                }
            }
        }
    }
}

body {
    padding-top: 64px;

    @media screen and (max-width: 991.98px) {
        padding-top: 55px;
    }
}

.navi-location-select2 {
    border-radius: 0;
    border: 1px solid $color_light_gray;
    border-top: 0;

    .select2-results__options {
        .select2-results__option {
            @include setTextStyleColor(12px, 14px, normal, $color_black);

            &.select2-results__option--selected {
                font-weight: 500;
            }

            &.select2-results__option--highlighted {
                background-color: $header_color_red;
                color: $color_white;
                font-weight: 500;
            }

            @media screen and (max-width: 991.98px) {
                padding-left: 20px;
                padding-right: 20px;
            }
        }
    }
}
