@media screen and (min-width: 1500px) {
    .col-xxl-4 {
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
    .col-xxl-8 {
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }
}

@media screen and (min-width: 768px) {
    .modal-select-service {
        max-width: 795px;
    }
}

@media screen and (max-width: 1499.98px) {
    .pj-nav {
        padding-left: 15px;

        &__item {
            padding-right: 15px;

            &.successfully {
                .pj-nav__item--success {
                    right: 10px;
                }
            }
        }
    }

    .pj-form {
        padding: 20px 35px 20px 35px;
    }
}

@media screen and (max-width: 991.98px) {
    .pj-header {
        border-bottom: none;
    }

    .pj-nav {
        justify-content: space-around;
        padding: 0 10px;
        margin-top: 10px;
        border-bottom: 1px solid $searchcv_border_5;

        &:before {
            display: none;
        }

        &__item {
            position: relative;
            padding: 0 10px 14px 10px;
            max-width: 95px;
            text-align: center;
            height: auto;

            &:before {
                display: none;
            }

            &:after {
                content: '';
                position: absolute;
                bottom: -1px;
                left: 50%;
                transform: translateX(-50%);
                height: 3px;
                width: 0;
                background-color: $color_big_title;
                transition: all .3s;
                opacity: 0;
            }

            &--success {
                position: absolute;
                top: 0;
                right: unset;
                left: 50%;
                transform: translateX(-50%);
                opacity: 0;
                transition: all .5s;
            }

            &.active {
                &:after {
                    width: 100%;
                    opacity: 1;
                }
            }

            &.active, &.successfully {
                color: $color_big_title;
            }

            &.successfully {
                .pj-nav__item--success {
                    right: unset;
                    opacity: 1;
                    top: -25px;
                }
            }
        }

        &:before {
            content: '';
            position: absolute;
            z-index: 2;
            top: 0;
            right: 0;
            width: 3px;
            height: 100%;
            background-color: $pj_nav_border_right;
        }

        &__border {
           display: none;
        }

        &:hover {
            .pj-nav__item {
                &:before {
                    width: 0;
                }

                &:hover {
                    &:before {
                        width: 100%;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 767.98px) {

    .px-mobile-0 {
        padding-right: 0!important;
        padding-left: 0!important;
    }

    .emp-box {
        margin-top: 25px;
    }

    .pj-header {
        height: 70px;
    }

    .pj-title {
        padding: 0 3px;

        &__image {
            transform: scale(0.85);
            margin-right: 8px;
        }

        &__text {
            font-size: 16px;
            line-height: 19px;
        }
    }

    .pj-nav {
        margin-top: 10px;

        &:before {
            display: none;
        }

        &__item {
            padding: 0 5px 12px 5px;
            max-width: 70px;
            font-size: 14px;
            line-height: 16px;

            &--success {
                width: 14px;
            }

            &.active {
                &:after {
                    width: 100%;
                    opacity: 1;
                }
            }

            &.active, &.successfully {
                color: $color_big_title;
            }

            &.successfully {
                .pj-nav__item--success {
                    right: unset;
                    opacity: 1;
                    top: -20px;
                }
            }
        }

        &:before {
            content: '';
            position: absolute;
            z-index: 2;
            top: 0;
            right: 0;
            width: 3px;
            height: 100%;
            background-color: $pj_nav_border_right;
        }

        &__border {
            display: none;
        }

        &:hover {
            .pj-nav__item {
                &:before {
                    width: 0;
                }

                &:hover {
                    &:before {
                        width: 100%;
                    }
                }
            }
        }
    }

    .pj-form {
        padding: 0 20px 20px 20px;

        &__label {
            margin-bottom: 5px;
            @include setTextStyle(14px, 16px, normal);

            &--inline {
                display: none;
            }
        }

        &__input, &__draft, &__submit, &__cancel {
            height: 40px;
            @include setTextStyle(12px, 14px, normal);
            margin-bottom: 4px;
        }

        &__submit, &__cancel {
            padding: 0 15px;
        }

        &__toggle {

            &--title {
                @include setTextStyle(12px, 14px, normal);
            }

            &--icon {
                transform: scale(.8);
            }
        }

        &__thumbnail {
            &--tip {
                @include setTextStyle(12px, 14px, normal);
            }

            &--item {
                width: 170px;
            }

            &--background {
                width: 40px;
                min-width: 40px;
                height: 40px;
            }

            &--title {
                @include setTextStyleColor(12px, 14px, normal, $color_black);
            }
        }
    }

    .input-image-button {
        @include setTextStyle(14px, 16px, normal);
        height: 30px;
        padding: 0 24px;

        &:hover {
            background-color: $pj_nav_border_right_active;
            color: $pj_toggle_background_disabled;
            svg path {
                fill: $pj_toggle_background_disabled;
            }
        }

        &:focus {
            transform: scale(.95);
            transition: .1s;
        }
    }

    .error-text {
        @include setTextStyle(10px, 12px, normal);
        min-height: 12px;
        padding-top: 2px;
    }

    .button-nude {
        @include setTextStyle(12px, 14px, normal);
        padding: 5px;
    }

    .pj-card {
        border: 1px solid $searchcv_border_5;
        border-radius: 6px;

        &__body {
            padding: 25px 17px;
        }

        &__logo {
            width: 43px;
            min-width: 43px;
            height: 43px;
        }

        &__header {
            padding-left: 15px;
            padding-right: 10px;
        }

        &__name {
            @include setTextStyle(14px, 16px, 500);
            margin-bottom: 5px;
        }

        &__location {
            @include setTextStyle(14px, 16px, normal);
        }

        &__edit {
            height: 30px;
            padding: 0 10px;
            @include setTextStyle(14px, 16px, normal);
        }

        &__footer {
            border-top: 1px solid $searchcv_border_5;
            padding: 11px 15px;
        }

        &__updated {
            @include setTextStyle(14px, 16px, normal);
        }
    }

    .select2-container--default {
        .pj_form_select2-selection {
            height: 40px;

            .select2-selection {

                &__rendered {
                    font-size: 12px;
                    line-height: 38px;
                }

                &__placeholder {
                    color: $pj_placeholder_color;
                }

                &__clear {
                    height: 37px;
                }

                &__arrow {
                    height: 16px;
                }
            }
        }

        .pj_form_select2-dropdown {

            .select2-results {
                &__option {
                    font-size: 12px;
                }
            }
        }

        .pj_form_select2-multiple-selection {
            min-height: 40px;

            .select2-selection {

                &__rendered {
                    font-size: 12px;
                    line-height: 30px;
                }

                &__clear {
                    height: 35px;
                    margin-right: 27px;
                }

                &__arrow {
                    height: 16px;
                }

                &__choice {
                    padding-top: 4px;
                    padding-bottom: 4px;
                }
            }

            .select2-search__field {
                @include setTextStyle(12px, 14px, normal);
                height: 32px;
            }
        }

        .pj_form_select2-multiple-dropdown {

            .select2-results {
                &__option {
                    font-size: 12px;
                }
            }
        }
    }

    .pj-form__settime {
        @include setTextStyle(12px, 14px, normal);

        input {
            width: 125px;
        }
    }

    .modal-select-service {

        .modal {

            &-header {
                padding: 16px 22px;
                h5 {
                    @include setTextStyleColor(16px, 19px, 500, #555555);
                }
            }

            &-body {
                &__list {
                    width: 100%;
                }

                &__item {
                    min-width: unset;
                    padding: 12px;
                    flex-direction: column;
                    align-items: flex-start;

                    .text-default {
                        @include setTextStyle(14px, 19px, normal);
                        span {
                            @include setTextStyle(14px, 19px, 500);
                        }
                    }
                }

                .count {
                    @include setTextStyleColor(18px, 21px, normal, #535353);
                    margin-left: 6px;
                }

                .amazing-job--modal {
                    @include setTextStyleColor(14px, 16px ,500, $color_text_amazing-job);
                }

                .premium-job--modal {
                    @include setTextStyleColor(14px, 16px ,500, $color_text_premium-job);
                }

                .hot-job--modal {
                    @include setTextStyleColor(14px, 16px ,500, $color_text_hot-job);
                }

                .basic-job--modal {
                    @include setTextStyleColor(14px, 16px ,500, $color_text_basic-job);
                }
            }

            &-footer {
                padding: 10px 20px;
                justify-content: flex-start;
                border-top: none;

                .research-service {
                    margin-bottom: 15px;
                }

                .btn-save {
                    @include setTextStyle(12px, 19px, 500);
                }

                .pj-form__settime-text {
                    margin-right: 0;
                }

                .timed-posting, .btn-save {
                    width: 100%;
                }
            }
        }
    }
}