%dropdown_style_1 {
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 0;
    background-color: $color_white;
    box-shadow: $searchcv_dropdown_boxshadow;
}

%dropdown_style_2 {
    margin: 0;
    padding: 0;
    border: none;
    border-top-left-radius: 3px !important;
    border-top-right-radius: 3px !important;
    overflow: hidden;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: $color_white;
    box-shadow: 0 3px 5px rgba(9, 30, 66, 0.2), 0 0 1px rgba(9, 30, 66, 0.31);
}

%bookmark_style {
    padding: 0;
    border: none;
    background-color: transparent;
    display: flex;

    .fill {
        display: none;
    }

    &.bookmarked {
        .empty {
            display: none;
        }

        .fill {
            display: initial;
        }
    }
}

html, body {
    overflow-y: auto;
}

.emp-box {
    margin-top: 43px;
    background-color: $color_white;
    border: 0.5px solid $searchcv_border_1;
}

.pj-header {
    height: 80px;
    border-bottom: 1px solid $searchcv_border_2;
}

.pj-title {
    padding: 0 5px;

    &__image {
        margin-right: 13px;
        position: relative;
        top: -1px;
    }

    &__text {
        @include setTextStyleColor(18px, 21px, 500, $color_big_title);
    }
}

.pj-body {
    position: relative;
}

.pj-nav {
    padding-left: 28px;
    position: sticky;
    margin-top: 20px;
    top: 20px;

    &__item {
        list-style-type: none;
        height: 43px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-right: 20px;
        cursor: pointer;
        transition: all .3s;
        position: relative;
        z-index: 1;
        text-align: right;
        @include setTextStyleColor(16px, 19px, normal, $color_gray);

        &:before {
            content: '';
            position: absolute;
            z-index: -1;
            top: 0;
            right: 0;
            width: 0;
            height: 100%;
            transition: all .4s ease-in-out;
            background-color: $pj_nav_background;
        }

        &--success {
            position: relative;
            top: -1px;
            right: -35px;
            opacity: 0;
            transition: all .5s;
        }

        &:hover, &.active, &--success {
            &:before {
                width: 100%;
            }
        }

        &.active, &.successfully {
            color: $color_big_title;
        }

        &.successfully {
            .pj-nav__item--success {
                right: 15px;
                opacity: 1;
            }
        }


    }

    &:before {
        content: '';
        position: absolute;
        z-index: 2;
        top: 0;
        right: 0;
        width: 3px;
        height: 100%;
        background-color: $pj_nav_border_right;
    }

    &__border {
        content: '';
        position: absolute;
        z-index: 3;
        top: 0;
        right: 0;
        width: 3px;
        height: 43px;
        background-color: $pj_nav_border_right_active;
        transition: all .3s;
    }

    &:hover {
        .pj-nav__item {
            &:before {
                width: 0;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }
    }
}

.pj-form {
    padding: 25px 90px 20px 90px;

    &__label {
        margin-bottom: 8px;
        @include setTextStyleColor(16px, 19px, normal, $color_black);

        &--inline {
            white-space: nowrap;
            padding-right: 15px;
            font-size: 14px;
        }
    }

    &__input {
        width: 100%;
        height: 48px;
        border: 1px solid $searchcv_border_input;
        border-radius: 2px;
        padding: 0 12px;
        transition: all .2s;
        @include setTextStyleColor(14px, 16px, normal, $color_black);

        &::placeholder {
            color: $pj_placeholder_color;
            transition: all .2s;
        }

        &:focus {
            border: 1px solid $pj_nav_border_right_active;

            &::placeholder {
                color: $color_white;
            }
        }

        &:disabled {
            background-color: $pj_inputtags_background;
            cursor: not-allowed;
        }

        &--area {
            height: auto;
            padding-top: 10px;
            padding-bottom: 10px;
            min-height: 100px;
        }
    }

    &__cancel, &__draft, &__submit {
        @include setTextStyle(14px, 16px, 500);
        height: 48px;
        padding: 0 20px;
        border: none;
        border-radius: 4px;
        transition: all .1s;
        position: relative;

        &:active {
            transform: scale(.95);
        }
    }

    &__cancel {
        color: $pj_button_cancel_color;
        background-color: $pj_button_cancel_background;
    }

    &__draft {
        color: $badge_s_yellow;
        background-color: $badge_s_b_yellow;
    }

    &__submit {
        color: $color_white;
        background-color: $pj_button_submit_background;

        &:disabled {
            opacity: .6;
            cursor: not-allowed;
        }
    }

    &__toggle {

        &--title {
            @include setTextStyleColor(14px, 16px, normal, $color_gray);
        }

        &--icon {
            display: flex;
            position: relative;
            width: 42px;
            min-width: 42px;
            height: 24px;
            border-radius: 24px;
            border: 2px solid $color_white;
            background-color: $pj_toggle_background_default;
            transition: all .3s;
            cursor: pointer;
            box-shadow: 0 0 0 2px transparent;

            &:hover {
                box-shadow: 0 0 0 2px #4C9AFF;
            }

            &:before, &:after {
                font-family: "Font Awesome 5 Free", "Roboto", Arial, Helvetica, sans-serif;
                font-weight: 900;
                font-size: 10px;
                color: $color_white;
                z-index: 1;
                top: 50%;
            }

            &:before {
                content: '\f00c';
                position: absolute;
                left: 28%;
                transform: translate(-50%, -50%);
            }

            &:after {
                content: '\f00d';
                position: absolute;
                right: 28%;
                transform: translate(50%, -50%);
            }

            & > span {
                position: absolute;
                display: flex;
                top: 2px;
                left: 2px;
                width: 16px;
                height: 16px;
                border-radius: 50%;
                background-color: $color_white;
                transition: all .3s;
            }
        }

        &--input[type=checkbox] {
            opacity: 0;
            width: 0;
        }

        &--input[type=checkbox]:active + &--icon {
            box-shadow: 0 0 0 2px #4C9AFF;
        }

        &--input[type=checkbox]:checked + &--icon {
            background-color: $pj_toggle_background_checked;

            & > span {
                left: 20px;
            }
        }

        &--input[type=checkbox]:disabled + &--icon {
            background-color: $pj_toggle_background_disabled;
            cursor: unset;
            box-shadow: 0 0 0 2px transparent !important;

            & > span {
            }

            &:before, &:after {
                color: $pj_toggle_disabled;
            }

            & > span {
                left: 2px !important;
                background-color: $pj_toggle_disabled !important;
            }
        }
    }

    &__thumbnail {
        padding: 2px 0;

        &--tip {
            @include setTextStyleColor(14px, 16px, normal, $pj_button_cancel_color);
        }

        &--item {
            border: 1px solid $pj_inputtags_border;
            border-radius: 2px;
            padding: 5px;
            width: 200px;
        }

        &--background {
            @extend %default-background-image;

            width: 48px;
            min-width: 48px;
            height: 48px;
            transition: all .3s;

            &:hover {
                position: relative;
                transform: scale(2);
                z-index: 1;
            }
        }

        &--title {
            @extend %default-text;
            -webkit-line-clamp: 3;
            @include setTextStyleColor(14px, 16px, normal, $color_black);
            margin-bottom: 0;
            padding: 0 5px;
        }

        &--remove {
            border: none;
            padding: 0;
            background-color: transparent;
            color: $color_gray;
            transition: all .2s;
            font-size: 14px;

            &:hover {
                color: $color_red;
            }
        }
    }
}

.input-image-button {
    @include setTextStyleColor(16px, 19px, normal, $pj_nav_border_right_active);
    height: 32px;
    padding: 0 30px;
    border-radius: 4px;
    background-color: $pj_toggle_background_disabled;
    cursor: pointer;
    transition: all .2s;
    position: relative;

    svg {
        margin-right: 11px;
    }

    &:hover {
        background-color: $pj_nav_border_right_active;
        color: $pj_toggle_background_disabled;

        svg path {
            fill: $pj_toggle_background_disabled;
        }
    }

    &:active {
        transform: scale(.95);
        transition: .1s;
    }
}

.list-item {
    .pj-list-remove {
        position: absolute;
        top: -5px;
        right: 4px;
        width: auto;
        height: auto;
        opacity: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all .2s;

        &__button {
            position: relative;
            height: auto;
            width: auto;
            top: 0;
            border: none;
            padding: 0;
            box-shadow: 0 0 0 2px $color_white;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: $color-gray;
            background-color: $color_white;
            font-size: 18px;
            transition: all .2s;

            &:hover {
                box-shadow: 0 0 0 5px $color_gray;
                background-color: $color_gray;
                color: $color_white;
            }

            &:disabled {
                visibility: hidden;
                opacity: 0;
                top: 30px;
            }
        }
    }
}

.pj-card {
    border: 1px solid $searchcv_border_5;
    border-radius: 6px;

    &__body {
        padding: 30px 20px 25px 35px;
    }

    &__top {

    }

    &__logo {
        @extend %default-background-image;
        background-size: contain;

        width: 48px;
        min-width: 48px;
        height: 48px;
    }

    &__header {
        padding-left: 20px;
        padding-right: 15px;
    }

    &__name {
        @include setTextStyleColor(16px, 22px, normal, $color-black_full);
        word-break: break-word;
        margin-bottom: 8px;
    }

    &__location {
        @include setTextStyleColor(14px, 16px, normal, $color_gray);
        word-break: break-word;
    }

    &__edit {
        height: 32px;
        padding: 0 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        @include setTextStyleColor(16px, 19px, normal, $color_black !important);
        border: none;
        background: $searchcv_border_4;
        border-radius: 4px;
        transition: all .2s;
        white-space: nowrap;

        img {
            margin-right: 8px;
        }

        &:hover {
            background-color: $searchcv_border_5;
        }

        &:active {
            transition: .1s;
            transform: scale(.95);
        }
    }

    &__description {
        padding-top: 20px;
        @include setTextStyleColor(14px, 22px, normal, $color_black);
    }

    &__footer {
        border-top: 1px solid $searchcv_border_5;
        padding: 11px 20px 14px 35px;
    }

    &__updated {
        @include setTextStyleColor(14px, 16px, normal, $color_gray);
    }
}

.pj-tips {
    &__body {
        padding: 18px 24px;
        border: 1px solid $pj_tips_border;
        border-radius: 2px;
        background-color: $pj_tips_background;
    }

    &__title {
        @include setTextStyleColor(16px, 22px, normal, $color_black_full);
        padding-bottom: 20px;

        i {
            font-size: 18px;
            color: $pj_tips_check;
            margin-right: 5px;
        }
    }

    &__description {
        @include setTextStyleColor(14px, 22px, normal, $color_black);
        padding-bottom: 20px;
    }

    &__step {
        @include setTextStyleColor(14px, 16px, normal, $color-gray);
    }
}

.pj-form__settime {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding-left: 35px;
    padding-right: 0;
    @include setTextStyleColor(14px, 16px, normal, $color_black);
    background-color: $pj_button_cancel_background;
    border-radius: 4px;

    input {
        border: none;
        background-color: transparent;
        cursor: pointer;
        padding-left: 10px;
        color: $color_black;
        font-weight: 500;
        width: 125px;

        &.disabled {
            visibility: hidden;
            width: 0;
            height: 0;
            margin: 0;
            padding: 0;

            & + .pj-form__settime-text {
                display: unset;
            }
        }
    }

    &-text {
        display: none;
        margin-left: 10px;
        margin-right: 0;

    }

    &:active {
        transform: scale(1);
    }
}

.button-nude {
    @include setTextStyleColor(14px, 16px, normal, $color-big_title);
    border: 1px solid transparent;
    background-color: transparent;
    padding: 5px 10px;
    border-radius: 3px;
    transition: all .2s;
    opacity: 1;
    position: relative;

    &:hover {
        border: 1px solid $color-big_title;
        background-color: $color-big_title;
        color: $color_white;
    }

    &:active {
        transform: scale(.95);
        border: 1px solid $color-big_title;
        transition: .1s;
    }

    &:disabled {
        padding-top: 0;
        padding-bottom: 0;
        height: 0;
        opacity: 0;
    }
}

.modal-select-service {

    .modal {
        &-header {
            padding: 22px 38px;
            display: flex;
            align-items: center;

            h5 {
                @include setTextStyleColor(18px, 21px, 500, #555555);
            }
        }

        &-body {

            &__item {
                width: 100%;
                background: #F9F9F9;
                display: flex;
                align-items: flex-end;
                justify-content: space-between;
                border-radius: 4px;
                padding: 20px 21px 16px 30px;
                cursor: pointer;
                border: 2px solid #F9F9F9;
                -webkit-user-select: none;
                user-select: none;
                position: relative;
                transition: all .2s;

                &-label {
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    top: 0;
                    cursor: pointer;
                }

                .text-default {
                    color: #535353;

                    span {
                        font-weight: 500;
                        margin-right: 3px;
                    }
                }

                .check-icon {
                    position: absolute;
                    top: 7px;
                    right: 9px;
                    opacity: 0;
                    transition: all .2s;
                }

                &.active {
                    border: 2px solid #1F7E07;

                    .check-icon {
                        opacity: 1;
                        animation: bounceIn 0.8s both;
                    }
                }

                &.disabled {
                    background: #E7E7E7;
                    border-color: #E7E7E7;
                    cursor: no-drop;
                    -webkit-user-select: none;
                    user-select: none;

                    .job-text {
                        color: #C4C4C4;
                    }

                    .text-default {
                        color: #CACACA;
                    }

                    .remain {
                        span {
                            color: #C7C7C7;
                        }
                    }
                }
            }

            .remain {
                .text-default {
                    font-weight: normal;
                    color: #535353;
                    margin-bottom: 0;
                }
            }

            .text-default {
                display: flex;
                align-items: flex-end;
                margin-top: 3px;
                margin-bottom: 0;
            }

            .count {
                @include setTextStyleColor(24px, 28px, normal, #535353);
                margin-left: 6px;
            }

            .amazing-job--modal {
                @include setTextStyleColor(16px, 19px, 500, $color_text_amazing-job);
            }

            .premium-job--modal {
                @include setTextStyleColor(16px, 19px, 500, $color_text_premium-job);
            }

            .hot-job--modal {
                @include setTextStyleColor(16px, 19px, 500, $color_text_hot-job);
            }

            .basic-job--modal {
                @include setTextStyleColor(16px, 19px, 500, $color_text_basic-job);
            }
        }

        &-footer {

            .research-service {
                text-decoration: underline;
                color: #06202D;
                margin-right: 15px;

                img {
                    margin-left: 3px;
                }
            }

            .btn-save {
                background: #D93E21;
                border-radius: 4px;
                @include setTextStyleColor(14px, 19px, 500, #fff);
            }

            .timed-posting, .btn-save {
                width: 189px;
                height: 48px;
                padding: 0;
                margin-bottom: 0;
                transition: all .2s;

                &:active {
                    transition: all .1s;
                    transform: scale(0.95);
                }

                &:disabled {
                    cursor: not-allowed;
                }
            }
        }

        &-overlay {
            display: none;
        }
    }

    &.have-no-job {
        .modal {

            &-body {
                position: relative;

                &__item {
                    border: none;
                    background-color: #E7E7E7;

                    .job-text,
                    .text-default,
                    .count,
                    .remain span {
                        color: #9a9a9a;
                    }
                }
            }

            &-overlay {
                background: rgba(0, 0, 0, 0.4);
                position: absolute;
                height: 100%;
                width: 100%;
                top: 0;
                left: 0;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                &__sub {
                    @include setTextStyleColor(18px, 21px, 500, #fff);
                }

                &__button {
                    background: #D67F1E;
                    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
                    border: none;
                    border-radius: 8px;
                    width: 205px;
                    height: 54px;
                    margin-top: 23px;
                    transition: all .2s;

                    span {
                        overflow: hidden;
                        @include setTextStyleColor(18px, 21px, 500, #fff);
                    }

                    &:hover {
                        transform: scale(1.05);
                    }
                }
            }

            &-footer {
                .timed-posting, .btn-save {
                    background: #C8C8C8;
                    color: #AFAEAE;
                    cursor: no-drop;
                    opacity: 1;

                    img {
                        opacity: .3;
                    }

                    .pj-form__settime-text {
                        color: #AFAEAE;
                    }
                }
            }
        }
    }
}

.pj_form_select2:focus + .select2-container--default {
    .pj_form_select2-selection {
        border: 1px solid $color_big_title;
    }
}

.daterangepicker {
    animation: coming-up-short .15s both;
    border-radius: 2px;
    border: none;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);

    .ranges {
        ul li {
            color: $color_black;

            &:last-child {
                visibility: hidden;
            }

            &.active {
                color: $color_black;
                background-color: $ranges_item_background;
            }
        }
    }

    .drp-buttons {
        .applyBtn {
            @include setTextStyleColor(14px, 16px, normal, $color_white);
            background-color: $color_red;
            border: none;
            box-shadow: none;
            padding: 0 16px;
            height: 32px;
        }
    }

    .drp-calendar {
        .calendar-table {
            .table-condensed {
                tr {
                    td {
                        &.active {
                            background-color: $ranges_item_active;
                        }
                    }
                }
            }
        }
    }

    select {
        &.monthselect, &.yearselect, &.hourselect, &.minuteselect {
            cursor: pointer;
            background: #eee;
            border: 1px solid #eee;
        }
    }
}

.select2-container--default {
    .select2-selection {
        &:focus {
            outline: none;
        }
    }

    .pj_form_select2-selection {
        height: 48px;
        border: 1px solid $searchcv_border_input;
        border-radius: 2px;
        transition: .2s;

        .select2-selection {

            &__rendered {
                font-size: 14px;
                line-height: 46px;
                padding-left: 12px;
                color: $color_big_title;
            }

            &__placeholder {
                color: $pj_placeholder_color;
            }

            &__clear {
                height: 45px;
                margin-right: 35px;
            }

            &__arrow {
                height: 24px;
                right: 8px;

                b {
                    border: none;
                    padding: 0;

                    &:before {
                        content: '\f0d7';
                        font-family: "Font Awesome 5 Free", "Roboto", Arial, Helvetica, sans-serif;
                        font-weight: 900;
                        font-size: 12px;
                    }
                }
            }
        }
    }

    .pj_form_select2-dropdown {
        @extend %dropdown_style_1;
        animation: show-height-50-50 .15s ease-out both;

        .select2-results {
            &__option {
                font-size: 14px;
                padding-left: 12px;
                color: $color_big_title;
                transition: all .1s;

                &--disabled {
                    color: $color_gray;
                }

                &--highlighted {
                    background-color: $color_navbar_background;
                    color: $color_white;
                }

            }
        }
    }

    .pj_form_select2-multiple-selection {
        min-height: 48px;
        border: 1px solid $searchcv_border_input !important;
        border-radius: 2px;
        padding-right: 3px;
        padding-bottom: 3px;
        transition: .2s;
        overflow: hidden;

        .select2-selection {

            &__rendered {
                font-size: 14px;
                line-height: 38px;
                color: $color_big_title;
            }

            &__placeholder {
                color: $pj_placeholder_color;
            }

            &__clear {
                height: 45px;
                margin-right: 35px;
            }

            &__arrow {
                height: 24px;
                right: 8px;

                b {
                    border: none;
                    padding: 0;

                    &:before {
                        content: '\f0d7';
                        font-family: "Font Awesome 5 Free", "Roboto", Arial, Helvetica, sans-serif;
                        font-weight: 900;
                        font-size: 12px;
                    }
                }
            }

            &__choice {
                margin-left: 3px;
                margin-right: 3px;
                margin-top: 3px;
                background-color: $pj_inputtags_background;
                border: 1px solid $pj_inputtags_border;
                padding-top: 12px;
                padding-bottom: 12px;

                &__remove {
                    border-right: none;
                    float: right;
                    padding-right: 10px;
                    padding-left: 6px;
                    line-height: 22px;
                }

                &__display {
                    padding-left: 10px;
                    line-height: 22px;
                    word-break: break-word;
                    display: flex;
                }
            }
        }

        .select2-search {
            max-width: 100%;

            &__field {
                @include setTextStyleColor(14px, 16px, normal, $color_black);
                margin-top: 3px;
                margin-left: 12px;
                max-width: calc(100% - 20px);
                height: 40px;

                &::placeholder {
                    color: $pj_placeholder_color;
                }
            }
        }
    }

    .pj_form_select2-multiple-dropdown {
        @extend %dropdown_style_1;
        animation: show-height-50-50 .15s ease-out both;

        .select2-results {
            &__option {
                font-size: 14px;
                padding-left: 12px;
                color: $color_big_title;
                transition: all .1s;

                &--disabled {
                    color: $color_gray;
                }

                &--highlighted {
                    background-color: $color_navbar_background;
                    color: $color_white;
                }

            }
        }
    }

    &.select2-container--open {
        .pj_form_select2-selection {
            background-color: $searchcv_gray_input_focus;
        }
    }

    &.select2-container--focus {
        .pj_form_select2-selection, .pj_form_select2-multiple-selection {
            border: 1px solid $pj_nav_border_right_active;
        }

    }

    &.select2-container--disabled {
        .pj_form_select2-selection {
            cursor: not-allowed;
        }

        &.select2-container--focus {
            .pj_form_select2-selection {
                border: 1px solid $searchcv_border_input;
            }
        }
    }
}

.tox-tinymce {
    border: 1px solid $searchcv_border_input !important;
    border-radius: 2px !important;
}

.zindex-1 {
    z-index: 1;
}

.no-min-height {
    min-height: 0 !important;
}

.mx-n12 {
    margin-right: -12px;
    margin-left: -12px;
}

.px-12 {
    padding-right: 12px;
    padding-left: 12px;
}

.pt-20 {
    padding-top: 20px;
}

.mb-100 {
    margin-bottom: 100px;
}

.error-text {
    @include setTextStyleColor(12px, 14px, normal, $color_red);
    min-height: 14px;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 3px;
}

.required-form {
    &:after {
        content: '*';
        color: $color_red;
    }
}

.error-input {
    border: 1px solid $color_red !important;
}

.error-form .select2-selection,
.error-form .bootstrap-tagsinput,
.error-form .tox-tinymce {
    border: 1px solid $color_red !important;
}