.aveo-pt-15px {
  padding-top: 15px;
}

.aveo-edit__about {
  position: absolute;
  top: 30px;
  right: 20px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  padding: 0;
  font-size: 20px;
  box-shadow: none !important;
  color: $color_white;
  border-radius: 50%;
  z-index: 2;
  overflow: hidden;

  i {
    position: relative;
    transition: all 0.2s;
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 50px;
    width: 40px;
    height: 40px;
    background-color: $color_white;
    border-radius: 50%;
    z-index: -1;
    transition: all 0.3s;
  }

  &:hover, &:focus {
    box-shadow: none;

    i {
      color: $color_green;
    }

    &:after {
      left: 0;
    }
  }

  &:focus {
    transform: scale(0.9);
    transition: 0.1s;
  }

  &.reverse-color {
    color: $color_green;

    &:after {
      background-color: $color_green;
    }

    &:hover, &:focus {
      i {
        color: $color_white;
      }
    }
  }

  @media screen and (max-width: 575.98px) {
    top: 10px;
    right: 10px;

    &.reverse-color {
      top: 38px;
      right: 15px;
    }
  }
}

.aveo-edit__profile {
  @extend .aveo-edit__about;
  top: 15px;
  right: 10px;
  cursor: pointer;
  background-color: $color-green;

  i {
    color: $color-white;
  }

  &:after {
    display: none;
  }

  &:hover, &:focus {

    i {
      color: $color_white;
    }
  }

  @media screen and (max-width: 575.98px) {
    top: 10px;
    right: 10px;
  }
}

%aveo-edit__resume {
  position: relative;
  width: 50px;
  height: 40px;
  border-radius: 4px;
  box-shadow: none !important;
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  overflow: hidden;

  i {
    color: $color_green;
    position: relative;
    transition: all 0.2s;
  }

  &:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    background-color: $color_green;
    width: 0;
    height: 0;
    opacity: 0;
    transition: all 0.3s;
    z-index: -1;
  }

  &:hover, &:focus {
    i {
      transform: scale(0.7);
      color: $color_white;
    }

    &:before {
      opacity: 1;
      width: 150%;
      height: 150%;
    }
  }
}

.aveo-edit__resume-title {
  @extend %aveo-edit__resume;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.aveo-edit__gallery {
  @extend %aveo-edit__resume;
  z-index: 1;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
}

.aveo-edit__gallery-edit {
  position: absolute;
  top: unset !important;
  bottom: 15px !important;
  left: unset !important;
  right: 15px !important;
  width: 65px;
  height: 30px;
  display: flex;
  z-index: 10;
  justify-content: space-between;

}

.aveo-edit__gallery-item {
  width: 30px;
  height: 30px;
  padding: 0;
  display: flex;
  box-shadow: none !important;
  transition: all 0.3s;
  align-items: center;
  justify-content: center;
  background-color: $color_white;

  i {
    position: initial !important;
    color: $color_green !important;
    transition: all 0.2s;
  }

  &:hover {
    i {
      color: $color-purple !important;
    }
  }


}

.gallery-grid figure:nth-child(even) .aveo-edit__gallery-item {

  i {
    color: $color_purple !important;
  }

  &:hover {
    i {
      color: $color-green !important;
    }
  }
}

.timeline-edit {
  transition: all 0.3s;

  .edit-area {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    overflow: hidden;
    transition: all 0.3s;
    display: flex;
    padding: 5px 0;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 10px $color_white;

    &__button {
      @extend %aveo-edit__resume;
      height: 35px;
      width: 50px;
      transition: all 0.2s;
      margin: 1px 5px;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;

      i {
        font-size: 16px;
      }

      &:hover, &:focus {
        i {
          transform: unset !important;
        }
      }
    }

    @media screen and (max-width: 991.98px) {
      width: 60px;
    }
  }

  &:hover {

    .edit-area {
      width: 60px;
    }
  }
}

.skill-edit {
  display: flex;

  .edit-view {
    width: 100%;
  }
  .edit-area {
    min-width: 0;
    width: 0;
    height: 30px;
    overflow: hidden;
    transition: all 0.3s;
    display: flex;
    justify-content: flex-end;
    background-color: rgba(255, 255, 255, 0.8);

    &__button {
      height: 30px;
      width: 30px;
      transition: all 0.2s;
      padding: 0;
      background-color: transparent;
      box-shadow: none !important;
      border: none;

      i {
        font-size: 16px;
        color: $color_black;
        transition: all 0.2s;
      }

      &:hover, &:focus {
        i {
          color: $color_green;
        }
      }
    }

    @media screen and (max-width: 991.98px) {
      min-width: 70px;
      width: 70px;
    }
  }

  &:hover {
    .edit-area {
      min-width: 70px;
      width: 70px;
    }
  }
}

.knowledge-edit {
  .edit-area__button {
    position: relative;
    cursor: pointer;
    margin-left: 8px;
    visibility: hidden;
    opacity: 0;
    color: $color_black;
    transition: all 0.2s;

    &:hover {
      color: $color_green;
    }

    @media screen and (max-width: 991.98px) {
      transform: scale(1);
      display: inline;
      opacity: 1;
      visibility: inherit;
      color: $color_gray;
    }
  }

  &:hover {
    .edit-area__button {
      transform: scale(1);
      display: inline;
      opacity: 1;
      visibility: inherit;
    }
  }
}

.service-image {
  display: flex;
  align-items: center;
  justify-content: center;

  i {
    font-size: 40px;
    color: $color_green;
  }
}

.service-edit {
  position: relative;

  .edit-area {
    position: absolute;
    top: 0;
    right: 0;
    height: 70px;
    width: 0;
    display: flex;
    flex-direction: column;
    transition: all 0.3s;
    overflow: hidden;
    opacity: 0;

    &__button {
      width: 100%;
      height: 35px;
      border: none;
      transition: all 0.2s;
      border-radius: 4px;
      padding: 0;
      background-color: transparent;
      color: $color_gray;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: none !important;

      &:before {
        display: none;
      }

      i {
        font-size: 16px;
      }

      &:hover {
        color: $color_white;
        background-color: $color_green;
      }
    }

    @media screen and (max-width: 991.98px) {
      width: 35px;
      opacity: 1;
    }
  }

  &:hover {
    .edit-area {
      width: 35px;
      opacity: 1;
    }
  }
}