@media screen and (min-width: 992px) {

    .pr-md-50 {
        padding-right: 50px;
    }

    .pl-md-50 {
        padding-left: 50px;
    }
}

.aveo-dialog {
    .modal-content {
        border: none;

        .modal-header {
            position: relative;
            height: 70px;
            padding-top: 35px;
            padding-bottom: 0;
            padding-left: 85px;
            border-bottom: 1px solid $color_gray_light;
            display: flex;
            align-items: flex-end;

            .close {
                position: absolute;
                right: 30px;
                top: 30px;
                border: none !important;
                box-shadow: none !important;
                padding: 0;
            }

            .modal-title {
                @include setTextStyleColor(18px, 21px, 500, $color_black);
                position: relative;
                top: 1px;
                height: 100%;
                padding: 0 5px;
                border-bottom: 5px solid $color_green;
            }
        }

        .modal-body {
            padding: 60px;

            .container {
                width: 100%;
            }

            .aveo-form-control {
                display: flex;
                flex-direction: column;
                min-height: 93px;

                .form-label {
                    @include setTextStyleColor(14px, 20px, 500, $color_black);
                    margin-bottom: 12px;
                    height: 20px;

                    i {
                        position: relative;
                        top: 2px;
                        font-size: 18px;
                        line-height: 20px;
                        color: $color_green;
                        margin-right: 5px;
                    }
                }

                .form-input {
                    border-top: none;
                    border-left: none;
                    border-right: none;
                    border-bottom: 1px solid $color-gray_light;
                    @include setTextStyleColor(16px, 19px, 300, $color_black);
                    background-color: $color_white;
                    text-transform: unset;
                    border-radius: 0;
                    box-shadow: none;
                    text-align: left;
                    width: 100%;
                    height: 32px;
                    padding: 0 10px;
                    transition: all 0.2s;
                    font-family: "Roboto", Arial, Helvetica, sans-serif;

                    &::placeholder {
                        color: $color_gray_light_045;
                        transition: all 0.2s;
                    }

                    &:focus {
                        border-bottom-color: $color_green;
                        transform: scale(1.07);
                        transition: 0.5s;

                        &::placeholder {
                            color: $color_white;
                        }
                    }

                    &.input__textarea {
                        height: unset;
                        resize: none;
                        text-align: left;
                        padding-top: 15px;
                    }

                    &.error {
                        border-bottom-color: $color-red !important;
                        transition: 0s !important;
                        transform: scale(1) !important;
                    }
                }

                .form-time {
                    display: flex;
                    margin: 5px 0;

                    &__label {
                        width: 60px;
                        height: 20px;
                        padding-top: 5px;
                        @include setTextStyleColor(16px, 19px, 300, $color_black);
                    }

                    &__input {
                        width: 85px;
                        margin-right: 25px;
                    }
                }

                .form-time__current {
                    display: flex;

                    .form-time__current--icon {
                        font-weight: 300;
                        display: flex;
                        cursor: pointer;

                        span {
                            display: block;
                            width: 20px;
                            height: 20px;
                            margin-right: 5px;
                            position: relative;
                            border-radius: 5px;
                            border: 1px solid $color_green;
                            background-color: $color_white;
                            overflow: hidden;
                            top: 1px;
                            transition: all 0.3s 0.3s;

                            &:before {
                                content: '';
                                position: absolute;
                                width: 3px;
                                height: 8px;
                                background-color: $color_white;
                                transform: rotate(-45deg) translateX(-2px) translateY(-28px);
                                z-index: 1;
                                transition: all 0.3s 0.15s;
                            }

                            &:after {
                                content: '';
                                position: absolute;
                                width: 3px;
                                height: 12px;
                                background-color: $color_white;
                                transform: rotate(45deg) translateX(9px) translateY(-24px);
                                z-index: 1;
                                transition: all 0.3s;
                            }
                        }

                        input:checked + span {
                            background-color: $color_green;
                            transition: all 0.3s;

                            &:before {
                                transform: rotate(-45deg) translateX(-2px) translateY(8px);
                            }

                            &:after {
                                transform: rotate(45deg) translateX(9px) translateY(-4px);
                                transition: all 0.3s 0.3s;
                            }
                        }
                    }
                }

                .input__dropdown {

                    .form-input {
                        cursor: pointer;
                    }

                    .dropdown-menu {
                        border: none;
                        border-radius: 0;
                        box-shadow: 0 4px 8px $color_gray_light_025;
                        width: 100%;
                        padding: 0;
                        transition: all 0.1s;
                        display: block;
                        height: 0;
                        overflow: hidden;

                        li {
                            padding: 8px 10px;
                            @include setTextStyleColor(14px, 16px, normal, $color_black);
                            cursor: pointer;
                            transition: all 0.2s;

                            &:hover {
                                background-color: #2eca7f36;
                            }
                        }
                    }

                    &.open {
                        .dropdown-menu {
                            height: 74px;
                            padding: 5px 0;
                            transition: all 0.4s;
                            transform: scale(1.07) translateY(2px);
                        }
                    }

                    &.input__dropdown--big {

                        &.open .dropdown-menu,
                        .form-input:focus + .dropdown-menu {
                            height: 250px;
                            padding: 5px 0;
                            transform: scale(1.07) translateY(8px);
                            overflow: auto;
                            transition: all 0.4s;
                        }
                    }
                }

                .form-range {
                    display: flex;
                    align-items: center;

                    &__input {
                        width: 80%;
                        background-color: $color_gray_light;
                        height: 1px;
                        -webkit-appearance: none;
                        outline: none;
                        opacity: 0.7;
                        -webkit-transition: .2s;
                        transition: opacity .2s;
                        padding: 0;

                        &::-webkit-slider-thumb {
                            -webkit-appearance: none;
                            appearance: none;

                            width: 18px;
                            height: 18px;
                            background: $color_green;
                            cursor: pointer;
                            border-radius: 50%;
                        }

                        &::-moz-range-thumb {
                            width: 18px;
                            height: 18px;
                            background: $color_gray;
                            cursor: pointer;
                            border-radius: 50%;
                        }
                    }

                    &__view {
                        width: 20%;
                        padding-left: 20px;
                        @include setTextStyleColor(16px, 19px, 300, $color_gray)
                    }
                }

                &.form-knowledge {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    min-height: auto !important;

                    .form-input {
                        margin-right: 30px;
                    }

                    .form-knowledge__button {
                        margin: 0 5px;
                        width: 32px;
                        min-width: 32px;
                        height: 32px;
                        border-radius: 50%;
                        padding: 0;
                        border: none;
                        box-shadow: none;
                        background-color: $color_gray_light;
                        color: $color_black;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        position: relative;
                        transition: all 0.3s;

                        &:hover {
                            transform: scale(1.1);
                        }
                    }
                }

                label.error, .form-error {
                    @include setTextStyleColor(12px, 14px, normal, $color-red);
                    margin-top: 5px;
                    margin-bottom: 10px;
                }

                .form-icon {
                    height: 200px;
                    overflow: auto;
                    padding: 10px;
                    border: 1px solid $color_gray_light;

                    .list-icon {
                        display: flex;
                        flex-wrap: wrap;

                        i {
                            width: 40px;
                            height: 40px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            cursor: pointer;
                            color: $color_black;
                            font-size: 20px;
                            transition: all .2s;

                            &.selected {
                                background-color: $color_green;
                                color: $color_white;
                            }
                        }
                    }

                    .service-more {
                        width: 100%;
                        border: none;
                        background: none;
                        color: $color_black;
                        box-shadow: none;

                        &:hover {
                            color: $color_green;
                        }
                    }

                    &.error {
                        border: 1px solid $color-red;
                    }
                }

                .input-gallery-list {
                    margin-left: -7px;
                    margin-right: -7px;

                    .list-col {
                        padding-left: 7px;
                        padding-right: 7px;
                        padding-bottom: 10px;
                    }

                    .gallery-item {
                        height: 56px;
                        width: 100%;
                        display: flex;
                        align-items: center;
                        padding: 3px;
                        border: 1px solid $color_gray_light;

                        &__image {
                            height: 100%;
                            min-width: 50px;
                            @extend %default-background-image;
                        }

                        &__title {
                            @include setTextStyleColor(14px, 16px, normal, $color_gray);
                            @extend %default-text;
                            -webkit-line-clamp: 3;
                            width: 100%;
                            height: auto;
                            padding: 0 5px;
                        }

                        &__delete {
                            height: 100%;
                            width: 30px;
                            border: none;
                            background-color: transparent;
                            box-shadow: none;
                            color: $color_gray_light_045;
                            padding: 0;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            transition: all 0.2s;

                            &:hover {
                                color: $color-red;
                            }
                        }
                    }
                }
            }

            .input-gallery {
                width: 300px;
                height: 150px;
                margin: 20px auto 20px auto;
                position: relative;
                cursor: pointer;

                input {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    opacity: 0;
                    cursor: pointer;
                }

                .input-gallery-view {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    background-color: $color_gray_light_image;
                    border: 1px solid $color_gray_border;
                    border-radius: 2px;
                    cursor: pointer;

                    p {
                        @include setTextStyleColor(16px, 25px, normal, $color_black);
                        padding-top: 5px;
                        margin-bottom: 0;
                    }

                    span {
                        @include setTextStyleColor(14px, 22px, normal, $color_gray_light_045);
                        margin-bottom: 0;
                    }

                }
            }

            .knowledge-item {
                .form-knowledge .addnew-button {
                    visibility: hidden;
                    opacity: 0;
                    transition: 0s;
                }

                &:last-child {
                    .form-knowledge .addnew-button {
                        visibility: inherit;
                        opacity: 1;
                        transition: 0.2s;
                    }
                }

                &:nth-child(10) {
                    .form-knowledge .addnew-button {
                        visibility: hidden;
                        opacity: 0;
                        transition: 0s;
                    }
                }
            }

            .aveo-form-submit {
                padding-top: 10px;

                .aveo-form-button {
                    display: flex;
                    justify-content: space-between;

                    &__save, &__cancel {
                        position: relative;
                        bottom: 0;
                        width: 49%;
                        height: 38px;
                        border: none;
                        @include setTextStyleColor(16px, 19px, 500, $color_white);
                        background-color: $color_green;
                        padding: 0;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
                        border-radius: 5px;
                        text-transform: unset;
                        transition: all 0.3s;

                        &:hover {
                            transform: scale(1.05) translateY(-1px);
                            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
                        }
                    }

                    &__cancel {
                        background-color: $color_white;
                        border: 1px solid $color_gray_light_01;
                        color: $color_gray;
                    }

                    &__save--mobile {
                        @extend .aveo-form-button__save;
                        width: 100%;
                    }
                }
            }

            .form-error {
                @include setTextStyleColor(12px, 14px, normal, $color-red);
                min-height: 14px;
                margin-top: 5px;
                margin-bottom: 10px;

                &.time-form-error {

                }
            }

            .form-submit-error {
                @extend .form-error;
                text-align: center;
            }
        }
    }


    .select2-container, .select2-container {

        .popup-select2-select {
            border-top: none;
            border-left: none;
            border-right: none;
            border-bottom: 1px solid $color-gray_light;
            @include setTextStyleColor(16px, 19px, 300, $color_black);
            background-color: $color_white;
            border-radius: 0;
            text-align: left;
            position: relative;
            transition: all 0.2s;
            font-family: "Roboto", Arial, Helvetica, sans-serif;

            .select2-selection__choice {
                background: #EEEEEE;
                border: 1px solid #E9E9E9;
                border-radius: 2px;
                display: inline-flex;
                flex-direction: row-reverse;
                align-items: center;
                padding: 0 8px;
                min-height: 30px;

                &__display {
                    @include setTextStyleColor(14px, 16px, normal, $color_black);
                }

                &__remove {
                    border: none;
                    box-shadow: none;
                    color: $color_black;
                    line-height: 16px;
                }
            }
        }

        &.select2-container--focus, &.select2-container--open {

            .popup-select2-select {
                border-bottom-color: $color_green;
                transition: 0.2s;
            }
        }
    }

    @media screen and (max-width: 991.98px) {
        .modal-content {
            .modal-header {
                height: 60px;
                padding-top: 20px;
                padding-left: 15px;
                justify-content: center;

                .close {
                    right: unset;
                    top: 22px;
                    left: 20px;
                }

                .modal-title {
                    @include setTextStyleColor(14px, 16px, 500, $color_black);
                }
            }

        }
    }

    @media screen and (max-width: 767.98px) {
        margin: 0;

        .modal-content {
            border-radius: 0;
            min-height: 100vh;

            .modal-body {
                .aveo-form-submit {
                    padding-top: 0;

                }

                .form-time__current {
                    margin-top: 8px;
                }
            }

        }
    }

    @media screen and (max-width: 575.98px) {

        .modal-content {

            .modal-body {
                padding: 40px 5%;

                .aveo-form-control {
                    margin-bottom: 0;
                    min-height: 76px;

                    .form-label {
                        margin-bottom: 0;
                    }

                    .form-input {
                        @include setTextStyleColor(14px, 16px, 300, $color_black);
                    }

                    .form-range {
                        margin-top: 8px;
                    }

                    label.error {
                        margin-bottom: 5px;
                    }
                }
            }
        }
    }
}

.popup-select2-dropdown {
    border: none;
    border-radius: 0;
    box-shadow: 0 4px 8px $color_gray_light_025;
    width: 100%;
    padding: 0;
    transition: all 0.1s;
    display: block;

    li {
        padding: 8px 10px;
        @include setTextStyleColor(14px, 16px, normal, $color_black);
        cursor: pointer;
        transition: all 0.2s;

        &:hover {
            background-color: #2eca7f36;
        }

        &.select2-results__option--highlighted.select2-results__option--highlighted {
            background-color: $color_green;
        }
    }

}