.project-list {
    .color-gray {
        color: $color_gray;
    }

    .project-info {
        padding-left: 0;
    }

    .info-item {
        list-style-type: none;
        display: flex;
        margin-bottom: 15px;
        @include setTextStyleColor(15px, 18px, normal, $color_gray);

        .info-title {
            font-weight: bold;
            color: $color_black;
            margin-right: 10px;
            white-space: nowrap;
        }

        .info-tag {
            display: flex;
            flex-wrap: wrap;
            position: relative;
            top: -1px;

            p {
                background-color: #FAFAFA;
                border: 1px solid #D9D9D9;
                box-sizing: border-box;
                border-radius: 2px;
                @include setTextStyleColor(12px, 20px, normal, $color_black);
                padding: 0 5px;
                margin-bottom: 5px;
                margin-right: 5px;
                white-space: nowrap;
            }
        }

        @media screen and (max-width: 767.98px) {
            flex-direction: column;

            .info-title {
                padding-bottom: 5px;
            }

            .info-tag {
                padding-top: 5px;
            }
        }
    }
}