$color_green: #2ECA7F;
$color_green_neon: #3DEAA4;
$color_blue: #1890FF;
$color_black: #333;
$color_black_full: #000;
$color_white: #fff;
$color_gray: #707070;
$color_gray_border: #D9D9D9;
$color_gray_light: #EBEBEB;
$color_gray_light_image: #FAFAFA;
$color_gray_light_045: rgba(0, 0, 0, 0.45);
$color_gray_light_025: rgba(0, 0, 0, 0.25);
$color_gray_light_01: rgba(0, 0, 0, 0.1);
$color_gray_light_005: rgba(0, 0, 0, 0.05);
$color_red: #D80101;
$color_purple: rgba(158,81,243,0.8);
