/*=============== Search CV ===============*/

/*=============== End Search CV ===============*/

/*=============== Post Job ===============*/

/*=============== End Post Job ===============*/

/*=============== Company Information ===============*/

/*=============== End Company Information ===============*/

/*=============== DASHBOARD ===============*/

/*=============== End DASHBOARD ===============*/

/*=============== @include ===============*/

/*=============== End @include ===============*/

/*=============== @extend ===============*/

.text-default,
.text-list-default {
  overflow: hidden;
  display: -webkit-box;
  word-break: break-word;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

/*=============== End @extend ===============*/

/*=============== Fixed Stylesheet ===============*/

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  padding-top: 61px;
  background-color: #E5E5E5;
  overflow-x: hidden;
}

button,
button:hover,
button:focus,
select,
select:hover,
select:focus,
input,
textarea {
  outline: none;
}

a:hover {
  text-decoration: none;
}

[type=button],
[type=reset],
[type=submit],
button,
input {
  -webkit-appearance: unset;
  -moz-appearance: unset;
}

input[type=number] {
  -moz-appearance: textfield;
}

/*=============== End Fixed Stylesheet ===============*/

/*=============== Common Class ===============*/

.element-hidden {
  display: none !important;
}

.text-list-title {
  font-size: 16px;
  line-height: 19px;
  font-weight: bold;
  color: #555555;
}

.text-list-default {
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
  color: #454545;
  word-break: break-word;
  -webkit-line-clamp: 2;
}

.text-default {
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
  color: #4A4A4A;
  margin-bottom: 5px;
  -webkit-line-clamp: 2;
}

.error-text {
  font-size: 12px;
  line-height: 14px;
  font-weight: normal;
  color: #FD1616;
  word-break: break-word;
}

.pointer {
  cursor: pointer;
}

.no-scroll {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

@media screen and (min-width: 1500px) {
  .container,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl {
    min-width: 1450px;
  }
}

@media screen and (min-width: 992px) {
  .app-mobile {
    display: none !important;
  }
}

@media screen and (max-width: 991.98px) and (min-width: 768px) {
  .app-tablet {
    display: none !important;
  }
}

@media screen and (max-width: 767.98px) {
  .app-desktop {
    display: none !important;
  }
}

/* Badge */

.tiny-badge {
  font-size: 12px;
  line-height: 16px;
  font-weight: normal;
  border-radius: 30px;
  white-space: nowrap;
  display: inline-block;
  padding: 0 0.4em;
  position: relative;
  top: -1px;
}

.tiny-badge.green {
  color: #147C18;
  background-color: #E6FEDB;
}

.tiny-badge.red {
  color: #A90A0A;
  background-color: #FFF3F3;
}

.tiny-badge.yellow {
  color: #886407;
  background-color: #FFF1CE;
}

.tiny-badge.gray {
  color: #5F5F5F;
  background-color: #F4F4F4;
}

.tiny-badge.skyblue {
  color: #245D70;
  background-color: #F4F9FE;
}

/* End Badge */

/*=============== End Common Class ===============*/

/*=============================KEYFRAMES================================*/

@-webkit-keyframes flyLeftToRight {
  0% {
    left: 0;
    opacity: 1;
  }

  49% {
    left: 100%;
    opacity: 0;
  }

  50% {
    left: -20%;
    opacity: 0;
  }

  100% {
    left: 0;
    opacity: 1;
  }
}

@keyframes flyLeftToRight {
  0% {
    left: 0;
    opacity: 1;
  }

  49% {
    left: 100%;
    opacity: 0;
  }

  50% {
    left: -20%;
    opacity: 0;
  }

  100% {
    left: 0;
    opacity: 1;
  }
}

@-webkit-keyframes searchScale {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(2);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes searchScale {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(2);
  }

  100% {
    transform: scale(1);
  }
}

@-webkit-keyframes show-height {
  0% {
    opacity: 0;
    transform: translateY(-60%) scaleY(0);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scaleY(1);
  }
}

@keyframes show-height {
  0% {
    opacity: 0;
    transform: translateY(-60%) scaleY(0);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scaleY(1);
  }
}

@-webkit-keyframes show-date {
  0% {
    opacity: 0;
    transform: translate(50%, -50%) scale(0);
  }

  100% {
    opacity: 1;
    transform: translate(0, 0) scale(1);
  }
}

@keyframes show-date {
  0% {
    opacity: 0;
    transform: translate(50%, -50%) scale(0);
  }

  100% {
    opacity: 1;
    transform: translate(0, 0) scale(1);
  }
}

@-webkit-keyframes coming-up {
  0% {
    opacity: 0;
    transform: translateY(50px) scale(0.9);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes coming-up {
  0% {
    opacity: 0;
    transform: translateY(50px) scale(0.9);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@-webkit-keyframes coming-down {
  0% {
    opacity: 0;
    transform: translateY(-50px) scale(0.9);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes coming-down {
  0% {
    opacity: 0;
    transform: translateY(-50px) scale(0.9);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@-webkit-keyframes coming-down-short {
  0% {
    opacity: 0;
    transform: translateY(-20px) scale(1);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes coming-down-short {
  0% {
    opacity: 0;
    transform: translateY(-20px) scale(1);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@-webkit-keyframes show-height-50 {
  0% {
    opacity: 0;
    transform: translateY(-50%) scaleY(0);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scaleY(1);
  }
}

@keyframes show-height-50 {
  0% {
    opacity: 0;
    transform: translateY(-50%) scaleY(0);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scaleY(1);
  }
}

@-webkit-keyframes coming-up-near {
  0% {
    opacity: 0;
    transform: translateY(40px) scale(0.95);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes coming-up-near {
  0% {
    opacity: 0;
    transform: translateY(40px) scale(0.95);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@-webkit-keyframes show-height-50-50 {
  0% {
    opacity: 0;
    transform: translateY(-25%) scaleY(0.5);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scaleY(1);
  }
}

@keyframes show-height-50-50 {
  0% {
    opacity: 0;
    transform: translateY(-25%) scaleY(0.5);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scaleY(1);
  }
}

@-webkit-keyframes un-show-notify {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes un-show-notify {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

/*=============================COMMON SCSS DASHBOARD ==========================*/

button {
  border: none;
}

p,
label,
h1,
h2,
h3,
h4,
h5 {
  margin-bottom: 0;
}

.header-shadow {
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.08);
}

.checkbox-label {
  height: 100%;
}

.checkbox-label .list--checkbox {
  border: 2px solid #949494;
  border-radius: 2px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.checkbox-label .list--checkbox i {
  font-size: 14px;
  color: #fff;
}

.checkbox-label input:checked ~ .list--checkbox {
  background-color: #06202D;
  border: none;
}

.status-scheduled,
.not-contact,
.interviewed,
.cancel {
  font-size: 14px;
  line-height: 22px;
  font-weight: normal;
  border-radius: 30px;
  padding: 3px 12px;
}

.status-scheduled {
  background-color: #E6FEDB;
  color: #147C18;
}

.not-contact {
  background-color: #FFF1CE;
  color: #835E00;
}

.interviewed {
  background-color: #adadad;
  color: #fff;
}

.cancel {
  background-color: #FFF3F3;
  color: #C60404;
}

.input-hidden {
  position: absolute;
  opacity: 0;
  visibility: hidden;
}

.action__content--download {
  background-color: transparent;
}

.content__list--body::-webkit-scrollbar {
  padding-right: 0;
  width: 5px;
  background-color: transparent;
  border-radius: 5px;
}

.content__list--body::-webkit-scrollbar-thumb {
  background-color: #C4C4C4;
  border-radius: 5px;
}

.content__list--body::-webkit-scrollbar-thumb:hover {
  background-color: #C4C4C4;
}

@-moz-document url-prefix()  {
  .content__list--body body.scroller {
    scrollbar-color: #C4C4C4 transparent;
    scrollbar-width: thin;
  }
}

.content__list--body .content__list--body-item {
  min-height: 86px;
  align-items: center;
}

.content__list--body .content__list--body-item .card-mobile {
  align-items: center;
}

.content__list--body .content__list--body-item:after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 1px;
  width: 92%;
  background-color: #F0F0F0;
  left: 50%;
  transform: translateX(-50%);
}

.content__list--action .list__action--item {
  margin-right: 15px;
}

.content__list--action .action__content--amount {
  font-size: 16px;
  line-height: 19px;
  font-weight: normal;
  color: #555555;
}

.content__list--action .action__content {
  margin: 0 3px;
  font-size: 14px;
  line-height: 19px;
  font-weight: 600;
  color: #595959;
}

.content__list--action .action__content--delete {
  background: #134D6A;
  border-radius: 4px;
  padding: 5px 10px;
  color: #fff;
}

.content__list--action .action__content--delete svg {
  margin: 0 3px 2px 0;
}

.content__list--action .action__content--download {
  background: #F4F4F4;
  border-radius: 4px;
  padding: 5px 10px;
}

.content {
  background-color: #fff;
  border: 0.5px solid #BBBBBB;
  border-radius: 2px;
}

.content .content__title {
  padding: 17px;
}

.content .content__title h4 {
  font-size: 18px;
  line-height: 21px;
  font-weight: 600;
  color: #06202D;
}

.content .content__title h4 svg {
  margin-right: 8px;
}

.content .content__title .content__title--right a {
  font-size: 16px;
  line-height: 19px;
  font-weight: normal;
  color: #06202D;
  text-decoration: underline;
}

.content .content__list .content__list--title {
  background-color: #FAFAFA;
  border-bottom: 1px solid #EBEBEB;
  border-top: 1px solid #EBEBEB;
  min-height: 48px;
}

.content .content__list .content__list--title .workflow-select2-selection {
  height: 33px;
}

.content .content__list .content__list--title .workflow-select2-selection .select2-selection__rendered {
  line-height: 34px;
}

.content .content__list .content__list--title .select2-container--default .workflow-select2-selection .select2-selection__arrow b {
  top: 38%;
}

.content .content__list .content__list--title .checkbox-remove:after {
  content: "";
  position: absolute;
  height: 3px;
  width: 13px;
  background-color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content .content__list .content__list--title .checkbox-all:before {
  content: "";
  position: absolute;
  width: 3px;
  height: 8px;
  background-color: #fff;
  top: 49%;
  left: 49%;
  transform: rotate(-45deg) translateX(-50%) translateY(-50%);
}

.content .content__list .content__list--title .checkbox-all:after {
  content: "";
  position: absolute;
  width: 3px;
  height: 12px;
  background-color: #fff;
  top: 49%;
  left: 40%;
  transform: rotate(45deg) translateX(-50%) translateY(-50%);
}

.content .content__list .content__list--title .list-title {
  min-height: 33px;
}

.content .content__list .content__list--bottom {
  background-color: #fff;
  height: 60px;
  box-shadow: 0px -3px 4px rgba(0, 0, 0, 0.08);
}

.select2-container--default .dashboard-select2-selection {
  height: 33px;
  border-radius: 0;
  background: #F4F4F4;
  border: none;
}

.select2-container--default .dashboard-select2-selection .select2-selection__rendered {
  padding-left: 12px;
  font-size: 14px;
  line-height: 36px;
  font-weight: 600;
  color: #164256;
  padding-right: 33px;
}

.select2-container--default .dashboard-select2-selection .select2-selection__arrow {
  height: 33px;
  right: 7px;
}

.select2-container--default .dashboard-select2-selection .select2-selection__arrow b {
  border-color: #164256 transparent transparent transparent;
  border-width: 8px 7px 0 7px;
}

.select2-container--default .dashboard-select2-selection:focus {
  outline: none;
}

.select2-container--default .dashboard-select2-dropdown {
  border: none;
  border-radius: 0;
  background-color: #FFFFFF;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  -webkit-animation: show-height 0.2s both;
          animation: show-height 0.2s both;
}

.select2-container--default .dashboard-select2-dropdown .select2-results__option {
  font-size: 14px;
}

.select2-container--default .dashboard-select2-dropdown .select2-results__option--highlighted {
  background-color: #D93E21;
}

.select2-container--default.select2-container--open .select2-selection--single {
  background-color: #164256;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent #fff transparent;
  border-width: 0 7px 8px 7px;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__rendered,
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__placeholder {
  color: #fff;
}

.daterangepicker {
  -webkit-animation: show-date 0.3s both;
          animation: show-date 0.3s both;
}

.daterangepicker .ranges li.active {
  background-color: #06202D;
}

.daterangepicker td.active {
  background-color: #06202D;
}

.daterangepicker td.active:hover {
  background-color: #06202D;
}

.daterangepicker .drp-buttons .applyBtn {
  background-color: #06202D;
  border: none;
}

.daterangepicker .drp-buttons .applyBtn:hover {
  background-color: #06202D;
}

.pagination {
  justify-content: center;
  align-items: center;
  margin: 30px 0;
}

.pagination .page-item {
  margin: 0 4px;
  padding: 0;
}

.pagination .page-item .page-link {
  padding: 0;
  width: 66px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination .page-item .active:focus {
  border: 1px solid #1C4355;
}

.pagination .page-item .page-item--lable span {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #1C4355;
  margin-left: 11px;
  margin-right: 4px;
}

.pagination .page-item .page-item--lable .go-to__input {
  width: 50px;
  text-align: center;
  border: 1px solid #D9D9D9;
  border-radius: 2px;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #1C4355;
  height: 32px;
}

.pagination .page {
  border: 1px solid #D9D9D9;
  height: 32px;
  width: 66px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #1C4355;
}

.pagination .prev,
.pagination .next {
  height: 32px;
  width: 32px;
  border: 1px solid #D9D9D9;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination .disabled svg path {
  fill: #D9D9D9;
}

.pagination .page-link {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #1C4355;
}

.pagination .page-link:focus {
  box-shadow: none;
}

.pagination .page-link:hover {
  background-color: transparent;
}

#dashboard {
  margin-top: 43px;
}

/*=========================BODY CONTENT=================================*/

#body-content {
  padding-bottom: 60px;
}

/*=========================NOTIFY=================================*/

.notify__company {
  background: #FFFAED;
  border: 0.5px solid #BBBBBB;
  border-radius: 2px;
  padding: 22px 32px;
  width: 100%;
  position: relative;
  align-items: center;
}

.notify__company .notify__company--left {
  align-items: center;
}

.notify__company .notify__company--left svg {
  min-width: 35px;
}

.notify__company .notify__company--left .notify__company--text {
  padding-left: 15px;
}

.notify__company .notify__company--left .notify__company--text .notify__des {
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.85);
}

.notify__company .notify__company--left .notify__company--text .notify__subdes {
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.65);
}

.notify__company .notify__company--right .notify__company--btn {
  border: none;
  background-color: #F8EFD9;
  margin-right: 35px;
  padding: 7px 8px 8px 11px;
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  color: #06202D;
}

.notify__company .notify__company--right .notify__company--cancel {
  border: none;
  background-color: transparent;
}

.notify__animation {
  transform: translateY(-150%);
  transition: all 0.3s;
  position: absolute;
  left: 0;
  width: 100%;
  overflow: hidden;
}

/*=============================INFO=================================*/

#info {
  margin: 12px 0 32px;
}

#info .info__content {
  background-color: #fff;
  padding: 41px 37px;
  overflow: hidden;
  align-items: center;
}

#info .info__content .info__line {
  width: 1px;
  height: 40px;
  background-color: #DBDBDB;
}

#info .info__content .info__left {
  width: 44%;
}

#info .info__content .info__left .info__left--text {
  padding-left: 24px;
}

#info .info__content .info__left .info__left--text .info__line {
  height: 20px;
}

#info .info__content .info__left .info__left--text .count {
  font-size: 18px;
  line-height: 28px;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.75);
}

#info .info__content .info__left .info__left--text h3 {
  font-size: 24px;
  line-height: 28px;
  font-weight: bold;
  color: #06202D;
  margin-bottom: 5px;
}

#info .info__content .info__left .info__left--text h3 .premium-account {
  background: linear-gradient(90deg, #D9CD65 -6.36%, #B8730B 110.91%);
  border-radius: 4px;
  font-size: 12px;
  line-height: 14px;
  font-weight: 500;
  color: #fff;
  padding: 2px 8px;
  margin-left: 11px;
  position: relative;
  top: -5px;
}

#info .info__content .info__left .info__left--text .account-info {
  display: flex;
  align-items: center;
}

#info .info__content .info__left .info__left--text .account-level {
  font-size: 16px;
  line-height: 19px;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.75);
  display: inline-flex;
  align-items: center;
}

#info .info__content .info__left .info__left--text .total__item--index span:last-child {
  font-size: 16px;
  line-height: 19px;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.55);
}

#info .info__content .info__left .info__left--text .gmail-account {
  font-size: 16px;
  line-height: 19px;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.65);
  display: block;
}

#info .info__content .info__right {
  width: 56%;
  background-color: #fff;
  justify-content: flex-end;
}

#info .info__content .info__right .info__right--content {
  display: flex;
  justify-content: center;
}

#info .info__content .info__right .total__item {
  padding: 0 20px;
}

#info .info__content .info__right .total__item p {
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
  color: #838383;
  margin-bottom: 5px;
}

#info .info__content .info__right .total__item .total__item--index {
  display: flex;
  align-items: center;
}

#info .info__content .info__right .total__item .total__item--index .count {
  font-size: 32px;
  line-height: 28px;
  font-weight: normal;
  color: #595959;
}

#info .info__content .info__right .unused-jobs {
  align-items: flex-end;
}

#info .info__content .info__right .unused-jobs .unused-jobs__list {
  list-style: none;
  padding-left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0;
  margin-top: 4px;
}

#info .info__content .info__right .unused-jobs .unused-jobs__list .unused-jobs__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
}

#info .info__content .info__right .unused-jobs .unused-jobs__list .unused-jobs__item .count {
  font-size: 24px;
  line-height: 20px;
  font-weight: normal;
  color: #515151;
  display: block;
  margin-bottom: 3px;
}

#info .info__content .info__right .unused-jobs .unused-jobs__list .unused-jobs__item .premium-job,
#info .info__content .info__right .unused-jobs .unused-jobs__list .unused-jobs__item .hot-job,
#info .info__content .info__right .unused-jobs .unused-jobs__list .unused-jobs__item .basic-job {
  display: block;
  font-size: 11px;
  line-height: 13px;
  font-weight: 500;
}

#info .info__content .info__right .unused-jobs .unused-jobs__list .unused-jobs__item .premium-job {
  color: #BD8119;
}

#info .info__content .info__right .unused-jobs .unused-jobs__list .unused-jobs__item .hot-job {
  color: #E65439;
}

#info .info__content .info__right .unused-jobs .unused-jobs__list .unused-jobs__item .basic-job {
  color: #676767;
  padding-left: 5px;
}

/*=============================LIST CANDIDATE=================================*/

#list-candidate {
  margin-right: 10px;
  margin-bottom: 30px;
}

#list-candidate .content__list .title__card--mobile {
  width: 240px;
  padding-right: 20px;
}

#list-candidate .content__list .job-title {
  width: 270px;
  padding-right: 50px;
}

#list-candidate .content__list .date-apply {
  width: 195px;
}

#list-candidate .content__list .checkbox-label {
  width: 62px;
}

#list-candidate .content__list .content__list--body {
  max-height: 516px;
  overflow: auto;
}

/*=============================LIST JOB=================================*/

#list-job {
  margin-right: 10px;
}

#list-job .content__list .title__card--mobile {
  width: 490px;
  padding-right: 50px;
}

#list-job .content__list .date-upload {
  width: 210px;
}

#list-job .content__list .checkbox-label {
  width: 62px;
}

#list-job .checkbox-label {
  width: 62px;
}

#list-job .content__list--body {
  max-height: 516px;
  overflow: auto;
}

#list-job .content__list--body .content__list--body-item {
  margin-right: 0;
  margin-left: 0;
}

/*=============================COMPLETE===============================*/

.body__right {
  margin-left: 10px;
}

.body__right .upload-recruitment .upload-recruitment--btn,
.body__right .upload-recruitment .candidate-search--btn,
.body__right .candidate-search .upload-recruitment--btn,
.body__right .candidate-search .candidate-search--btn {
  height: 83px;
  margin-bottom: 3px;
}

.body__right .upload-recruitment .upload-recruitment--btn .btn-text--des,
.body__right .upload-recruitment .candidate-search--btn .btn-text--des,
.body__right .candidate-search .upload-recruitment--btn .btn-text--des,
.body__right .candidate-search .candidate-search--btn .btn-text--des {
  font-size: 18px;
  line-height: 16px;
  font-weight: 500;
  color: #fff;
  margin-bottom: 5px;
}

.body__right .upload-recruitment .upload-recruitment--btn .btn-text--subdes,
.body__right .upload-recruitment .candidate-search--btn .btn-text--subdes,
.body__right .candidate-search .upload-recruitment--btn .btn-text--subdes,
.body__right .candidate-search .candidate-search--btn .btn-text--subdes {
  font-size: 16px;
  line-height: 16px;
  font-weight: normal;
  color: #fff;
}

.body__right .upload-recruitment .upload-recruitment--btn svg,
.body__right .upload-recruitment .candidate-search--btn svg,
.body__right .candidate-search .upload-recruitment--btn svg,
.body__right .candidate-search .candidate-search--btn svg {
  margin-right: 17px;
}

.body__right .upload-recruitment .upload-recruitment--btn {
  background: linear-gradient(90.19deg, #D63A1C 0.17%, #EA5B40 99.87%);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.05);
  border-radius: 2px;
  width: 100%;
}

.body__right .upload-recruitment .upload-recruitment--btn svg {
  position: relative;
}

.body__right .upload-recruitment .upload-recruitment--btn:hover svg {
  -webkit-animation: searchScale 1.5s both;
          animation: searchScale 1.5s both;
}

.body__right .candidate-search .candidate-search--btn {
  background: linear-gradient(90deg, #022537 0%, #02344D 100%);
  border: 1px solid #D9D9D9;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.016);
  border-radius: 2px;
  width: 100%;
}

.body__right .candidate-search .candidate-search--btn svg {
  position: relative;
}

.body__right .candidate-search .candidate-search--btn:hover svg {
  -webkit-animation: searchScale 1.5s both;
          animation: searchScale 1.5s both;
}

.body__right .box-support {
  background: #FFFFFF;
  border: 0.5px solid #BBBBBB;
  border-radius: 2px;
  margin-top: 19px;
}

.body__right .box-support .box-support--item,
.body__right .box-support .box-support--title {
  border-bottom: 1px solid #EEEEEE;
  padding: 25px 0;
}

.body__right .box-support .box-support--title {
  padding-left: 38px;
}

.body__right .box-support .box-support--title h4 {
  font-size: 18px;
  line-height: 21px;
  font-weight: 500;
  color: #06202D;
}

.body__right .box-support .box-support--item {
  padding-left: 53px;
}

.body__right .box-support .box-support--item .box-support--item_text {
  padding-left: 25px;
}

.body__right .box-support .box-support--item .box-support--item_text h4,
.body__right .box-support .box-support--item .box-support--item_text .support-link {
  font-size: 16px;
  line-height: 19px;
  font-weight: 600;
  color: #525252;
}

.body__right .box-support .box-support--item .box-support--item_text p {
  font-size: 16px;
  line-height: 19px;
  font-weight: normal;
  color: #484848;
}

.body__right .box-support .box-support--item .box-support--item_text .box-support--item_link {
  white-space: nowrap;
  margin-right: 5px;
  margin-bottom: 4px;
  display: inline-block;
  font-size: 16px;
  line-height: 19px;
  font-weight: normal;
  color: #484848;
}

.body__right .box-support .coins-support h4 {
  padding-bottom: 8px;
}

.body__right .box-support .customer-support h4 {
  padding-bottom: 4px;
}

/*===============================MODAL==========================*/

#editStatus_modal .modal-dialog {
  max-width: 543px;
}

#editStatus_modal .modal-dialog .modal-header {
  font-size: 18px;
  line-height: 21px;
  font-weight: 500;
  color: #555555;
  padding: 22px 38px;
}

#editStatus_modal .modal-dialog .modal-body {
  padding: 42px 42px 52px;
}

#editStatus_modal .modal-dialog .modal-body .text-default {
  margin-bottom: 10px;
}

#editStatus_modal .modal-dialog .modal-body .upgrade_premium-jpb {
  display: block;
  margin-top: 18px;
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  color: #685E04;
  -webkit-text-decoration: revert;
          text-decoration: revert;
}

#editStatus_modal .modal-dialog .modal-footer {
  background: #F3F3F3;
  border-radius: 0 0 4px 4px;
}

#editStatus_modal .modal-dialog .modal-footer .btn-cancel {
  background: #D9D9D9;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.043);
  border-radius: 4px;
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
  color: #4D4D4D;
}

#editStatus_modal .modal-dialog .modal-footer .btn-save {
  background: linear-gradient(90.19deg, #D63A1C 0.17%, #EA5B40 99.87%);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.043);
  border-radius: 4px;
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
  color: #fff;
}

#editStatus_modal .modal-dialog .modal-footer .btn-cancel,
#editStatus_modal .modal-dialog .modal-footer .btn-save {
  width: 170px;
  height: 39px;
}

.select2-container--default .dashboard-select2-selection {
  height: 33px;
  border-radius: 0;
  background: #EFEFEF;
  border: none;
}

.select2-container--default .dashboard-select2-selection .select2-selection__rendered {
  padding-left: 12px;
  font-size: 14px;
  line-height: 36px;
  font-weight: 600;
  color: #164256;
  padding-right: 33px;
}

.select2-container--default .dashboard-select2-selection .select2-selection__arrow {
  height: 33px;
  right: 7px;
}

.select2-container--default .dashboard-select2-selection .select2-selection__arrow b {
  border-color: #164256 transparent transparent transparent;
  border-width: 8px 7px 0 7px;
  top: 45%;
}

.select2-container--default .dashboard-select2-selection:focus {
  outline: none;
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
  color: #164256;
}

.select2-container--default .dashboard-select2-dropdown {
  border: none;
  border-radius: 0;
  background-color: #FFFFFF;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  -webkit-animation: show-height 0.2s both;
          animation: show-height 0.2s both;
}

.select2-container--default .dashboard-select2-dropdown .select2-results__option {
  font-size: 14px;
}

.select2-container--default .dashboard-select2-dropdown .select2-results__option--highlighted {
  background-color: #D93E21;
}

#error_report_modal .modal-dialog {
  max-width: 536px;
}

#error_report_modal .modal-dialog .modal-content .modal-header {
  padding: 23px 40px;
}

#error_report_modal .modal-dialog .modal-content .modal-header .modal-title {
  font-size: 18px;
  line-height: 21px;
  font-weight: 500;
  color: #555555;
  display: flex;
  align-items: center;
}

#error_report_modal .modal-dialog .modal-content .modal-header .modal-title svg {
  margin-bottom: 3px;
  margin-right: 13px;
}

#error_report_modal .modal-dialog .modal-content .modal-body {
  padding: 38px 43px;
}

#error_report_modal .modal-dialog .modal-content .modal-body--des {
  font-size: 16px;
  line-height: 19px;
  font-weight: normal;
  color: #555555;
  display: block;
}

#error_report_modal .modal-dialog .modal-content .modal-body--label .box_error-report {
  font-size: 16px;
  line-height: 19px;
  font-weight: normal;
  color: #999999;
  background: #F8F8F8;
  border: 1px solid #CECCCC;
  border-radius: 2px;
  width: 455px;
  height: 169px;
  padding: 12px 17px;
  margin: 19px 0;
}

#error_report_modal .modal-dialog .modal-content .modal-body--label .box_error-report:focus:-ms-input-placeholder {
  color: transparent;
}

#error_report_modal .modal-dialog .modal-content .modal-body--label .box_error-report:focus::-moz-placeholder {
  color: transparent;
}

#error_report_modal .modal-dialog .modal-content .modal-body--label .box_error-report:focus::placeholder {
  color: transparent;
}

#error_report_modal .modal-dialog .modal-content .modal-body--label .modal__upload-file--input {
  position: absolute;
}

#error_report_modal .modal-dialog .modal-content .modal-body--label .modal__upload-file {
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  color: #525252;
  background: #F7F7F7;
  border-radius: 4px;
  padding: 9px 15px;
  cursor: pointer;
}

#error_report_modal .modal-dialog .modal-content .modal-body--label .modal__upload-file svg {
  margin-right: 5px;
}

#error_report_modal .modal-dialog .modal-content .modal-body--list-file {
  margin-top: 25px;
}

#error_report_modal .modal-dialog .modal-content .modal-body--list-file .gallery-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #eeeeee;
  padding: 5px;
  margin-bottom: 10px;
  height: 100%;
}

#error_report_modal .modal-dialog .modal-content .modal-body--list-file .gallery-item .gallery-item__image {
  min-width: 40px;
  height: 40px;
  background-size: cover;
  background-position: center;
}

#error_report_modal .modal-dialog .modal-content .modal-body--list-file .gallery-item .gallery-item__title {
  margin-bottom: 0;
  overflow: hidden;
  padding-left: 5px;
  display: -webkit-box;
  word-break: break-word;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  max-height: 28px;
  font-size: 14px;
  line-height: 23px;
  font-weight: normal;
  color: #1890FF;
}

#error_report_modal .modal-dialog .modal-content .modal-body--list-file .gallery-item .gallery-item__delete {
  background-color: transparent;
}

#error_report_modal .modal-dialog .modal-content .modal-body--list-file .gallery-item .gallery-item__delete:hover i {
  color: red;
}

#error_report_modal .modal-dialog .modal-content .modal-footer .btn-save {
  background: linear-gradient(90.19deg, #D63A1C 0.17%, #EA5B40 99.87%);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.043);
  border-radius: 4px;
  color: #fff;
  width: 170px;
  height: 39px;
}

@media screen and (max-width: 1499.98px) {
  #body-content .body__right .box-support .box-support--item {
    padding-left: 27px;
  }

  #info .info__content {
    padding: 41px 25px;
  }

  #info .info__content .info__right .total__item {
    padding: 0 15px;
  }

  #list-candidate .content__list .title__card--mobile {
    width: 180px;
  }

  #list-candidate .content__list .job-title {
    width: 230px;
    padding-right: 20px;
  }

  #list-candidate .content__list .date-apply {
    width: 145px;
  }

  #list-candidate .content__list .checkbox-label {
    width: 50px;
  }

  #list-job .content__list .title__card--mobile {
    width: 390px;
    padding-right: 50px;
  }

  #list-job .content__list .date-upload {
    width: 170px;
  }

  #list-job .content__list .checkbox-label {
    width: 50px;
  }
}

@media screen and (max-width: 1199.98px) {
  .status-scheduled,
  .not-contact,
  .interviewed,
  .cancel {
    padding: 2px 6px;
  }

  #info .info__content {
    flex-direction: column;
  }

  #info .info__content .info__left,
  #info .info__content .info__right {
    justify-content: center;
  }

  #info .info__content .info__left {
    margin-bottom: 30px;
  }

  #info .info__content .info__right .info__right--content {
    justify-content: space-between;
  }

  #list-candidate .content__list .title__card--mobile {
    width: 150px;
  }

  #list-candidate .content__list .job-title {
    width: 180px;
    padding-right: 20px;
  }

  #list-candidate .content__list .date-apply {
    width: 130px;
  }

  #list-candidate .content__list .checkbox-label {
    width: 40px;
  }

  #list-job .content__list .title__card--mobile {
    width: 330px;
    padding-right: 30px;
  }

  #list-job .content__list .date-upload {
    width: 140px;
  }

  #list-job .content__list .checkbox-label {
    width: 40px;
  }

  #info .info__content .info__left {
    width: 100%;
  }

  #info .info__content .info__left .info__left--text h3 {
    font-size: 23px;
  }

  #info .info__content .info__right {
    width: 100%;
  }
}

@media screen and (max-width: 991.98px) {
  #dashboard {
    margin-top: 57px;
  }

  #info {
    margin: 12px 0 38px;
  }

  .body__right {
    margin-bottom: 36px;
  }

  .body__right .candidate-search,
  .body__right .upload-recruitment {
    width: 100%;
  }

  .body__right .candidate-search .upload-recruitment--btn .btn-text--des,
  .body__right .candidate-search .candidate-search--btn .btn-text--des,
  .body__right .upload-recruitment .upload-recruitment--btn .btn-text--des,
  .body__right .upload-recruitment .candidate-search--btn .btn-text--des {
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 0;
  }

  .body__right .candidate-search .upload-recruitment--btn .btn-text--subdes,
  .body__right .candidate-search .candidate-search--btn .btn-text--subdes,
  .body__right .upload-recruitment .upload-recruitment--btn .btn-text--subdes,
  .body__right .upload-recruitment .candidate-search--btn .btn-text--subdes {
    font-size: 16px;
    line-height: 16px;
    font-weight: normal;
    color: #fff;
  }

  .body__right .candidate-search .upload-recruitment--btn svg,
  .body__right .candidate-search .candidate-search--btn svg,
  .body__right .upload-recruitment .upload-recruitment--btn svg,
  .body__right .upload-recruitment .candidate-search--btn svg {
    width: 20px;
  }

  .body__right .upload-recruitment {
    margin-right: 3px;
  }

  .body__right .candidate-search {
    margin-left: 3px;
  }

  .text-list-title {
    font-size: 14px;
    line-height: 16px;
    font-weight: bold;
    color: #555555;
  }

  .text-list-default {
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
    color: #454545;
  }

  .content .content__title h4 {
    font-size: 16px;
    line-height: 19px;
    font-weight: 600;
    color: #06202D;
  }

  #notify .notify__company .notify__company--right .notify__company--cancel {
    position: absolute;
    top: 5%;
    right: 2%;
  }

  #notify .notify__company .notify__company--left {
    width: 67%;
  }

  #info .info__content {
    flex-direction: column;
    padding: 21px 24px;
  }

  #info .info__content .info__left .info__left--text p {
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.65);
  }

  #info .info__content .info__right .total__item p {
    margin-bottom: 5px;
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
    color: #838383;
  }

  #info .info__content .info__right .total__item .total__item--index .count {
    font-size: 18px;
    line-height: 24px;
    font-weight: normal;
    color: #595959;
  }

  #info .info__content .info__right .unused-jobs .unused-jobs__list {
    margin-top: 10px;
  }

  #info .info__content .info__right .unused-jobs .unused-jobs__list .unused-jobs__item .count {
    font-size: 16px;
    line-height: 20px;
    font-weight: normal;
    color: #515151;
  }

  #profile .profile__company--complete .profile__company--complete-left .profile__complete--text h4 {
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.85);
  }

  #profile .profile__company--complete .profile__company--complete-left .profile__complete--text p {
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.65);
  }

  #profile .profile__company--complete .profile__company--complete-right .profile__complete--btn {
    font-size: 12px;
    line-height: 14px;
    font-weight: normal;
    color: #06202D;
  }

  .status-scheduled,
  .not-contact,
  .interviewed,
  .cancel {
    padding: 2px 12px;
  }

  .body__right {
    margin-left: 0;
    display: flex;
  }

  .action__mobile {
    display: flex;
    align-items: center;
    padding: 10px 0;
  }

  .action__mobile button {
    background-color: #F4F4F4;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
    padding: 0;
  }

  #list-candidate {
    margin-right: 0;
    margin-bottom: 50px;
  }

  #list-candidate .content__list .title__card--mobile {
    width: 170px;
  }

  #list-candidate .content__list .job-title {
    width: 210px;
    padding-right: 20px;
  }

  #list-candidate .content__list .date-apply {
    width: 140px;
  }

  #list-candidate .content__list .checkbox-label {
    width: 40px;
  }

  #list-job {
    margin-right: 0;
  }

  #list-job .content__list .title__card--mobile {
    width: 340px;
    padding-right: 30px;
  }

  #list-job .content__list .date-upload {
    width: 160px;
  }

  #list-job .content__list .checkbox-label {
    width: 50px;
  }
}

@media screen and (max-width: 767.98px) {
  .content .content__title {
    padding: 15px 19px 15px 12px;
  }

  .content .content__title h4 svg {
    width: 30px;
  }

  .content .content__title .content__title--right a {
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
    color: #06202D;
    text-decoration: underline;
  }

  #info .info__content .info__left .info__left--text .account-level {
    font-size: 12px;
    line-height: 14px;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.75);
    align-items: unset;
  }

  #info .info__content .info__left .info__left--text .account-level svg {
    width: 11px;
    margin-top: 2px;
  }

  #info .info__content .info__left .info__left--text .count {
    font-size: 14px;
    line-height: 28px;
    font-weight: normal;
  }

  #info .info__content .info__left .info__left--text .total__item--index span:last-child {
    font-size: 12px;
    line-height: 22px;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.55);
  }

  .info__right--content {
    width: 100%;
  }

  #notify .notify__company {
    flex-direction: column;
    align-items: flex-start;
    padding: 15px;
  }

  #notify .notify__company .notify__company--left {
    align-items: flex-start;
    width: 91%;
  }

  #notify .notify__company .notify__company--left .notify__company--text .notify__des {
    font-size: 12px;
    line-height: 16px;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.85);
  }

  #notify .notify__company .notify__company--left .notify__company--text .notify__subdes {
    font-size: 12px;
    line-height: 16px;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.65);
  }

  #notify .notify__company .notify__company--left svg {
    min-width: 25px;
  }

  #notify .notify__company .notify__company--right .notify__company--btn {
    margin-left: 35px;
    margin-top: 15px;
  }

  #info .info__content {
    align-items: flex-start;
  }

  #info .info__content .info__left {
    justify-content: flex-start;
  }

  #info .info__content .info__left img {
    width: 42px;
  }

  #info .info__content .info__left .info__left--text h3 {
    font-size: 16px;
    line-height: 18px;
    font-weight: bold;
    color: #06202D;
  }

  #info .info__content .info__left .info__left--text h3 .premium-account {
    font-size: 8px;
    line-height: 9px;
    font-weight: normal;
    color: #fff;
  }

  #info .info__content .info__left .info__left--text .gmail-account {
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.65);
  }

  #info .info__content .info__right {
    justify-content: space-between;
  }

  #info .info__content .info__right .total__item {
    padding: 0;
  }

  #list-candidate .content__list .content__list--body,
  #list-job .content__list .content__list--body {
    max-height: unset;
  }

  #list-candidate .content__list .content__list--body .content__list--body-item,
  #list-job .content__list .content__list--body .content__list--body-item {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    margin: 0 auto 20px auto;
    width: 95%;
    align-items: unset;
  }

  #list-candidate .content__list .content__list--body .content__list--body-item:after,
  #list-job .content__list .content__list--body .content__list--body-item:after {
    display: none;
  }

  #list-candidate .content__list .content__list--body .content__list--body-item .body__list--item-text,
  #list-job .content__list .content__list--body .content__list--body-item .body__list--item-text {
    flex-direction: column;
    width: 100%;
    position: relative;
  }

  #list-candidate .content__list .content__list--body .content__list--body-item .card-mobile,
  #list-job .content__list .content__list--body .content__list--body-item .card-mobile {
    align-items: unset;
    border-radius: 4px;
  }

  #list-candidate .content__list .card-mobile,
  #list-job .content__list .card-mobile {
    border: 0.5px solid #BBBBBB;
  }

  #list-candidate .content__list .title__card--mobile,
  #list-job .content__list .title__card--mobile {
    width: 100%;
    padding: 12px 120px 12px 16px;
    background-color: #F4F4F4;
  }

  #list-candidate .content__list .title__card--mobile .text-list-default,
  #list-job .content__list .title__card--mobile .text-list-default {
    font-size: 14px;
    line-height: 16px;
    font-weight: bold;
    color: #4A4A4A;
  }

  #list-candidate .content__list .basic-info,
  #list-job .content__list .basic-info {
    width: 100%;
    flex-direction: column;
    padding: 15px 15px 10px;
    border-bottom: 1px solid #E8E8E8;
  }

  #list-candidate .content__list .basic-info .status,
  #list-job .content__list .basic-info .status {
    position: absolute;
    top: 11px;
    right: 15px;
    font-size: 11px;
    line-height: 14px;
  }

  #list-candidate .content__list .basic-info .basic-info--content,
  #list-job .content__list .basic-info .basic-info--content {
    width: 100%;
    display: flex;
    align-items: flex-start;
    margin: 5px 0;
  }

  #list-candidate .content__list .basic-info .basic-info--content .title--mobile,
  #list-job .content__list .basic-info .basic-info--content .title--mobile {
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 14px;
    font-weight: 500;
    color: #555555;
    min-width: 120px;
  }

  #list-candidate .content__list .basic-info .basic-info--content .text-list-default,
  #list-job .content__list .basic-info .basic-info--content .text-list-default {
    font-size: 12px;
    line-height: 14px;
    font-weight: normal;
    color: #454545;
    padding-right: 0;
    width: 100%;
  }
}

@media screen and (max-width: 575.98px) {
  #notify .notify__company .notify__company--left svg {
    min-width: 20px;
  }

  #info .info__content {
    flex-direction: column;
    padding: 41px 15px;
  }
}

@media screen and (max-width: 374.98px) {
  #info .info__content .info__left .info__left--text .account-info {
    display: unset;
  }

  #info .info__content .info__right .info__right--content {
    display: unset;
  }

  #info .info__content .info__right .unused-jobs {
    align-items: flex-start;
    margin-top: 5px;
  }

  #info .info__content .info__right .unused-jobs .unused-jobs__list {
    justify-content: flex-start;
  }

  #info .info__content .info__right .unused-jobs .unused-jobs__list .unused-jobs__item:first-child {
    margin-left: 0;
  }

  .body__right .upload-recruitment .upload-recruitment--btn svg,
  .body__right .upload-recruitment .candidate-search--btn svg,
  .body__right .candidate-search .upload-recruitment--btn svg,
  .body__right .candidate-search .candidate-search--btn svg {
    margin-right: 5px;
  }
}

