.app-footer {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    overflow: hidden;
    background: #fff;

    @media screen and (min-width: 992px) {
        .hpf-mobile {
            display: none;
        }
    }

    @media screen and (max-width: 991.98px) {
        padding-bottom: 100px;
        .hpf-desktop {
            display: none;
        }
    }

    .font-montserrat {
        font-family: "Montserrat", "Roboto", Arial, Helvetica, sans-serif
    }

    .hpf-top {
        background: linear-gradient(79.33deg, #112C38 -4.59%, #0B3866 50.2%, #E74243 99.55%);

        .container {
            height: 86px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            &:after, &:before {
                display: none;
            }

            @media screen and (max-width: 991.98px) {
                display: block;
                height: auto;
                padding: 30px 0 10px 0;
            }

            .hpf-logo {
                height: 35px
            }

            .hpf-top-right {
                display: flex;
                align-items: center;

                .chart-info {
                    padding-left: 10px;
                    .chart-count {
                        font-size: 24px;
                        color: #fff;
                        font-weight: bold;
                        @media screen and (max-width: 991.98px) {
                            font-size: 16px;
                        }
                    }
                    .chart-text {
                        color: #fff;
                        font-size: 16px;
                        @media screen and (max-width: 991.98px) {
                            font-size: 12px;
                        }
                    }
                }
                @media screen and (max-width: 991.98px) {
                    flex-wrap: wrap
                }

                .hpf-chart-item {
                    display: flex;
                    align-items: center;
                    padding: 0 30px;

                    @media screen and (max-width: 991.98px) {
                        width: 49.8%;
                        padding: 0 10px 25px 10px
                    }

                }

                .hpf-chart-line {
                    width: 1px;
                    height: 36px;
                    background-color: #fff
                }
            }
        }
    }
    .hpf-body {
        background-color: #fff;
        .container {
            display: flex;
            justify-content: space-between;
            &::before {
                display: none;
            }
            @media screen and (max-width: 991.98px) {
                display: block
            }
            .hpf-body-left {
                padding-top: 30px;

            }
            .hpf-body-right {
                padding-top: 41px;
                font-size: 18px;
                line-height: 21px;
                padding-bottom: 30px;
                display: flex;
                flex-wrap: nowrap;
                padding-top: 61px;
                @media screen and (max-width: 991.98px) {
                    padding-top: 25px;
                    flex-wrap: wrap;
                    justify-content: space-between;
                }
                .hpf-icon {
                    display: flex;
                    justify-content: space-between;
                    padding: 0 5px;
                    a {
                        font-size: 22px;
                        color: #eb5b40;
                    }
                }
                @media screen and (max-width: 991.98px) {
                    padding-top: 25px;
                    padding-bottom: 5px
                }
            }
            .hpf-body-left, .hpf-body-right {
                .hpf-title {
                    font-size: 18px;
                    color: #184153;
                    font-weight: bold;
                    margin-bottom: 0;
                    margin-top: 0;
                    white-space: nowrap;
                    @media screen and (max-width: 1199.98px) {
                        font-size: 16px;
                    }
                }
                .hpf-text {
                    color: #7f7f7f;
                    margin-bottom: 5px;
                    font-size: 16px;
                    display: block;
                    overflow-wrap: break-word;
                    white-space: unset;
                    @media screen and (max-width: 991.98px) {
                        white-space: unset;
                    }
                    @media screen and (max-width: 1199.98px) {
                        font-size: 14px;
                    }
                    i {
                        font-size: 14px;
                        width: 15px;
                        text-align: center;
                        margin-right: 7px;
                        color: #eb5b40;
                    }
                }
            }
            .hpf-item {
                max-width: 280px;
                padding-right: 24px;
                @media screen and (max-width: 991.98px) {
                    padding-right: 10px;
                    width: 49.8%;
                    padding-bottom: 25px
                }
                @media screen and (max-width: 1199.98px) {
                    padding-right: 20px;
                }
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
    .hpf-bottom {
        background-color: #fff;
        .run-line {
            width: 100%;
            height: 2px;
            position: relative;
            overflow: hidden;
            &::after {
                content: "";
                width: 200%;
                height: 2px;
                position: absolute;
                background-image: linear-gradient(to right, #004eff, #ffa439, #00d341);
                top: 0;
                left: 0;
                animation: run-line-run 4s ease alternate infinite;
            }
        }
        .bottom-inner {
            height: 60px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            @media screen and (max-width: 991.98px) {
                display: block;
                text-align: center;
                height: auto;
                padding: 15px 0;
            }
            .copy-right {
                font-size: 12px;
                color: #7f7f7f;
                .copy-right-highlight {
                    color: #eb5b40;
                }
            }
            .bottom-dmca {
                @media screen and (max-width: 991.98px) {
                    margin-top: 10px;
                }
                img {
                    width: 63px;
                }
            }
        }
    }
}

@keyframes run-line-run {
    0% {
        left: 0;
    }
    50% {
        left: -100%;
    }
    to {
        left: 0;
    }
}

.hp-footer {
    margin-top: 68px;
}

.hp-footer .hpf-body .container .hpf-body-right .hpf-text {
    overflow-wrap: break-word;
    white-space: unset;
}
.hp-footer .hpf-body .container .hpf-item {
    max-width: 280px;
}

@media screen and (max-width: 991.98px) {
    .hp-footer {
        margin-top: 48px;
    }

    .hp-footer .hpf-top .container .hpf-top-right .hpf-chart-item.hpf-chart-item-mobile-right {
        justify-content: flex-end;
    }

    .hp-footer .hpf-top .container .hpf-top-right .hpf-chart-line {
        position: relative;
        bottom: 10px;
    }
}

@media screen and (max-width: 767.98px) {
    .itnavi-new-homepage .hp-blog .blog-item {
        padding-top: 20px;
    }
}
