@media screen and (max-width: 1199.98px) {
    .auth {
        &-image {
            &__login {
                left: 30px;
            }
        }
    }
}

@media screen and (max-width: 1199.98px) {
    .auth {
        &-image {
            &__login {
                left: 30px;
            }
        }

        &-form {
            max-width: 100%;
        }
    }
}

@media screen and (max-width: 991.98px) {
    .auth {
        &-background {
            &--2 {
                display: none;
            }
        }
    }
}

@media screen and (max-width: 767.98px) {
    .px-mobile-0 {
        padding-right: 0 !important;
        padding-left: 0 !important;
    }

    .auth {
        &-navbar {
            height: 70px;

            .navbar {
                &-brand {
                    margin-right: 5px;

                    img {
                        height: 25px;
                    }

                    &__description {
                        @include setTextStyle(12px, 10px, 500);
                        padding-left: 5px;
                        top: 5px;
                    }
                }
            }
        }

        &-body {
            padding-top: 120px;
        }

        &-title {
            @include setTextStyle(24px, 1.5, 400);
            padding-bottom: 20px;
        }

        &-description {
            @include setTextStyle(16px, 1.5, 400);
            padding-bottom: 30px;
        }

        &-form {
            width: 100%;

            &__label {
                margin-bottom: 0;
                width: 100%;
                position: relative;
            }

            &__input {
                @include setTextStyle(14px, 16px, 400);
                height: 52px;
                padding-left: 50px;
                padding-right: 50px;
            }

            &__icon {
                top: 47%;
                left: 14px;
            }

            &__button {
                height: 52px;
                @include setTextStyle(16px, 18px, 400);
            }

            &__or {
                &--text {
                    @include setTextStyle(16px, 19px, 400);
                }
            }

            &__line {
                margin-bottom: 19px;
            }
        }

        &-link {
            &__big {
                @include setTextStyle(14px, 18px, 400);

                i {
                    font-size: 12px;
                    padding-right: 4px;
                }
            }
        }
    }

    .error-text {
        @include setTextStyle(10px, 12px, normal);
        min-height: 12px;
        margin-bottom: 5px;
    }
}
