body {
    position: fixed;
    width: 100%;
    height: 100%;
}

body::-webkit-scrollbar {
    padding-right: 0;
        width: 3px;
        background-color: transparent;
        border-radius: 5px;
}

body::-webkit-scrollbar-thumb {
    background-color: #525252;
    border-radius: 5px;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #525252;
}

@-moz-document url-prefix() {
    body.scroller {
        scrollbar-color:#525252 transparent ;
        scrollbar-width: thin;
    }
}

.cp-detail {
    font-family: "Montserrat", "Roboto", Arial, Helvetica, sans-serif;
    .cp-head {
        display: flex;
        justify-content: flex-end;
        position: relative;
        .cp-head--menu {
            width: 100%;
            .img-right {
                position: absolute;
                right: -230px;
            }
            @media screen and (max-width: 991.98px) {
                .img-left {
                    width: 100%;
                }
            }
            @media screen and (max-width: 575.98px) {
                .img-right {
                    position: absolute;
                    top: -100px;
                    left: 10%;
                }
            }
            .cp-head--list {
                display: flex;
                position: absolute;
                top: 15%;
                width: 95%;
                /*animation: fadeInLeft 0.5s both;*/
                @media screen and (max-width: 767.98px) {
                    padding: 0;
                    justify-content: center;
                    top: 12%;
                }
                .cp-head--item {
                    list-style: none;
                    padding: 0 15px;
                    .active {
                        border-bottom: 3px solid #F05348;
                        @media screen and (min-width: 992px) {
                            padding-bottom: 17px;
                        }
                        @media screen and (max-width: 991.98px) {
                            padding-bottom: 11px;
                        }
                        @media screen and (max-width: 575.98px) {
                            padding-bottom: 5px;
                        }
                    }
                    .cp-head--link {
                        transition: all 0.3s;
                        @include setTextStyleColor(14px, 17px, 500, $color-white);
                        @media screen and (max-width: 991.98px) {
                            @include setTextStyleColor(10px, 12px, 500, $color-white);
                            padding-bottom: 11px;
                        }
                        @media screen and (min-width: 1024px) {
                            padding-bottom: 14px;
                        }
                        @media screen and (max-width: 575.98px) {
                            padding-bottom: 5px;
                        }
                        &:hover {
                            border-bottom: 3px solid #F05348;
                        }
                    }

                }

            }
        }

        @media screen and (max-width: 991.98px) {
            .mobile-search {
                .mobile-search__close {
                    
                    .js_mobile-search__close {
                        width: 46px;
                        height: 46px;
                        border-radius: 50%;
                        border: 1px solid #ADADAD;
                        background-color: transparent;
                        img {
                            position: relative;
                            right: 2px;
                        }
                    }
                }
                .mobile-search__title {
                    @include setTextStyleColor (12px, 15px, 600, #F05348);
                    
                }
                .mobile-head__form {
                    .mobile-main__search--dropdown {
                        margin-bottom: 10px;
                        
                        .dropdown-input {
                            width: 100%;
                            height: 45px;
                            border-radius: 4px;
                            padding: 0 20px;
                            @include setTextStyleColor (12px, 14px, normal, #464646);
                            font-weight: normal;
                            background-color: #fff;
                            border: none;
                        }
                        .dropdown-menu {
                            width: 100%;
                            overflow-y: scroll;
                            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                            .dropdown-body {
                                max-height: 260px;
                                padding: 0 10px;
                                overflow: auto;
                                .dropdown-item {
                                    @include setTextStyleColor(12px, 20px, 600, #8D8D8D);

                                    span {
                                        @include setTextStyleColor(12px, 20px, 600, #000);
                                    }
                                    &:hover, &:focus {
                                        background-color: transparent;
                                        text-decoration: underline;
                                    }
                                }
                            }
                        }
                    }
                }

                .mobile-search__submit {
                    display: flex;
                    width: 100%;
        
                    @media screen and (max-width: 374.98px) {
                        margin-top: 175px;
                    }
                    .mobile-search__submit--button {
                        width: 100%;
                        height: 45px;
                        background-color: #F05348;
                        @include setTextStyleColor(14px, 16px, 600, #fff);
                        border-radius: 4px;
                        border: none;
                    }
                }
                .mobile-head__form--button {
                    display: none;
                }

                .mobile-search__submit {
                    display: none;
                }

                .mobile-search__close {
                    display: none;
                }

                .mobile-head__form {
                    .mobile-search__submit {
                        display: none;
                    }
                }

                .dropdown-input {
                    display: none;
                }

            }

            .mobile-search--show {
                position: fixed;
                width: 100%;
                height: 92%;
                bottom: 65px;
                left: 0;
                background-color: #e5e5e5;
                padding: 17px 16px;
                z-index: 1111;
                transition: all 0.3s;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                .mobile-search__close {
                    display: flex;
                }
                .mobile-head__form {
                    .mobile-search__submit {
                        display: block;
                    }
                }
                .dropdown-input {
                    display: block;
                }
                .mobile-search__submit {
                    display: block;
                }
            }
        }

        &__form {
            display: flex;
            height: 41px;
            width: 314px;
            background-color: #fff;
            /*animation: fadeInRight 0.5s both;*/
            top: 62px;
            right: 9%;
            position: absolute;
            // z-index: 3;
            .cp-main__search--dropdown {
                margin-right: 0;
                width: 100%;
                .dropdown-input  {
                    width: 100%;
                    height: 100%;
                    @include setTextStyleColor (12px, 17px, 500, #323232);
                    background-color: transparent;
                    border: none;
                    padding: 0 26px;
                }
                ::-webkit-input-placeholder { /* Edge */
                    color: #323232;
                }

                :-ms-input-placeholder { /* Internet Explorer 10-11 */
                    color: #323232;
                }

                ::placeholder {
                    color: #323232;
                }
                input:-moz-placeholder {
                    color: #323232;
                }
            }

            &--button {
                min-width: 50px;
                max-width: 50px;
                border: none;
                background-color: transparent;
                position: absolute;
                width: 100%;
                height: 100%;
                right: 0;
            }
        }
    }
    .cp-body--image {
        display: flex;
        justify-content: space-between;
        width: 100%;
        position: absolute;
        bottom: -100px;
        left: 0;

        .overlay-body--bottom {
            background-color: #010a0c;
            opacity: 0.6;
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            z-index: 1025;
        }

        @media screen and (max-width: 991.98px) {
            bottom: -80px;
            left: 0;
            img {
                width: 20%;
            }
        }
        @media screen and (max-width: 575px) {
            bottom: -20px;
            left: 0;
            img {
                width: 20%;
            }
        }
    }
    .cp-body {
        background-image: url(../../web/images/career-path/bg-career-path.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        @media screen and (max-width: 991.98px) {
            padding-bottom: 20px;
        }



        &--top {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            -moz-user-select: none; /* Firefox */
            -ms-user-select: none; /* Internet Explorer */
            -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
            -webkit-user-select: none; /* Chrome, Safari, and Opera */
            -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
            top: -130px;

        }



        &--y4t {
            width: 660px;
            display: flex;
            flex-direction: column;
            padding-left: 0;
            margin-bottom: 0;
            position: relative;
            animation: bodyFadeIn 0.5s 0.5s both;

            .overlay {
                position: fixed;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background-color: #000;
                opacity: 0.7;
                z-index: 1025;
            }

            .line {
                height: 3px;
                width: 100%;
                position: absolute;
                background-color: #F36E22;
                top: 0;
                left: 0;
                z-index: 1;
            }

            .y4t__main-title {
                position: absolute;
                bottom: calc(100% + 65px);
                left: -115px;
                list-style: none;
                .y4t-icondown {
                    display: flex;
                    flex-direction: column;
                    position: absolute;
                    transform: translate(-50%, 50%);
                    top: -50px;
                    img {
                        padding: 3px 0;
                    }
                }

                &::after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    width: 7px;
                    height: 7px;
                    border-radius: 50%;
                    left: 0;
                    background-color: #F36E22;
                    transform: translateX(-25%) translateY(60%);

                }

                .y4t-title {
                    @extend %default-text;
                    -webkit-line-clamp: 3;
                    @include setTextStyleColor(18px, 22px, 600, $color-white);
                    text-align: center;
                    position: relative;
                    bottom: 10px;
                    transform: translateX(-50%);
                    height: auto;
                    display: flex;
                    align-items: center;
                    width: 210px;
                    justify-content: center;

                    @media screen and (max-width: 991.98px) {
                        align-items: center;
                    }

                    @media screen and (max-width: 1199.98px) {
                        text-align: center;
                        transform: unset;
                    }

                    @media screen and (min-width: 1024px) and (max-width: 1199.98px) {
                        width: 50%;
                        position: relative;
                        left: -50px;
                    }

                    @media screen and (min-width: 992px) {
                        span {
                            margin: 0 10px 1px;
                        }
                    }
                    @media screen and (min-width: 1024px) and (max-width: 1199.98px) {
                        span {
                            margin-left: 0;
                        }
                    }
                }

                .y4t-title-bottom {
                    display: flex;
                    .what-they-do-btn {
                        background: transparent;
                        border: 0;
                        outline: none;
                        padding: 0;
                        position: absolute;
                        width: 15px;
                        right: 50%;
                        bottom: 47%;
                        @media screen and (max-width: 991.98px) {
                            right: 30%;
                        }
                        &:focus {
                            box-shadow: none;
                        }

                        .what-they-do-text {
                            position: absolute;
                            top: -28px;
                            right: -32px;
                            opacity: 0;
                            display: none;

                            transition: all 0.2s;
                        }
                        @media screen and (min-width: 1200px) {
                            &:hover {
                                .what-they-do-text {
                                    opacity: 1;
                                    display: block;

                                }
                            }
                        }
                    }
                }

            }

            .y4t-item {
                position: relative;
                padding-bottom: 90px;

                .item-popup--index {
                    z-index: 1050;
                }

                .item-popup {
                    position: absolute;
                    top: 0;
                    left: 0;
                    transform: translateY(-50%) translateX(-50%);
                    width: 164px;
                    height: 59px;
                    background-color: #DEF5F5;
                    z-index: 2;
                    overflow: hidden;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: all 0.15s;
                    cursor: pointer;



                    .popup-rank {
                        position: absolute;
                        top: 4px;
                        left: 6px;
                        transition: all 0.3s;

                        &.image-1 {
                            width: 18px;
                            height: 17px;
                        }

                        &.image-2 {
                            width: 19px;
                            height: 18px;
                        }

                        &.image-3 {
                            width: 18px;
                            height: 17px;
                        }

                        &.image-4 {
                            width: 21px;
                            height: 17px;
                        }
                    }

                    .popup-rank-active {
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        right: 100%;
                        transition: all 0.3s;
                    }

                    .popup-title {
                        @extend %default-text;
                        -webkit-line-clamp: 3;
                        max-width: 105px;
                        @include setTextStyleColor(12px, 15px, normal, #000000);
                        position: relative;
                        z-index: 2;
                        padding-left: 10px;
                        text-align: center;
                    }

                    &:hover {
                        background-color: transparent;
                        width: 219px;
                        height: 69px;

                        .popup-rank {
                            opacity: 0;
                        }

                        .popup-rank-active {
                            right: 0;
                        }

                        .popup-title {
                            color: $color-white;
                        }
                    }



                    &:first-child {

                    }
                }

                .active {
                    background-color: transparent;
                    width: 219px;
                    height: 69px;

                    // .popup-rank {
                    //     opacity: 0;
                    // }

                    .popup-rank-active {
                        right: 0;
                    }

                    .popup-title {
                        color: $color-white;
                    }
                }



                .item-popup--next {
                    position: absolute;
                    top: -75px;
                    z-index: 1050;
                    left: 150px;
                    flex-direction: column;
                    @media screen and (max-width: 991.98px) {
                        left: -44px;
                        top: 10px;
                        flex-direction: unset;
                        width: 90px;
                        justify-content: space-between;
                        display: flex;
                    }
                    .item-popup--define, .item-popup--continue {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        width: 33px;
                        background-color: transparent;
                        outline: 0;
                        border: none;

                        .mo-ta-text, .continue-text {
                            width: 106px;

                            @media screen and (max-width: 991.98px) {
                                width: unset;
                            }

                        }

                        .mo-ta-icon, .continue-icon {
                            width: 33px;
                            margin-right: 20px;
                            padding: 5px 0;
                            opacity: 0.8;
                            &:hover {
                                opacity: 1;
                            }
                            @media screen and (max-width: 991.98px) {
                                width: 24px;
                                margin-right: 0;
                            }
                        }
                    }
                    .item-popup--define {
                        margin-bottom: 10px;
                        @media screen and (max-width: 991.98px) {
                            flex-direction: column-reverse;
                        }
                    }
                }


                &:last-child {
                    .item-popup {
                        &:hover {
                            width: 235px;
                            height: 69px;
                        }
                    }
                }
            }

            .y4t-list {
                width: 100%;

                &__child {
                    display: flex;
                    justify-content: space-between;
                    position: relative;
                    height: 3px;
                    margin-bottom: 87px;
                    background-color: #F36E22;

                    &.child__3-item {

                    }

                    &.child__2-item {
                        .y4t-item:first-child {
                            margin-left: 25%;
                        }
                    }

                    &.child__1-item {
                        justify-content: flex-end;
                    }
                    &.child__1-item, &.child__2-item, &.child__3-item {
                        .y4t-item {
                            .what-they-do {
                                right: -104px;
                            }
                        }
                    }
                }
            }

            .y4t-big {
                list-style: none;
                position: relative;
                display: flex;

                .y4t-list__main-item {
                    min-width: 33.3333%;
                    max-width: 33.3333%;
                    position: relative;
                }

                .y4t-list__main-hook {
                    position: absolute;
                    top: 1px;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 3px;
                    height: auto;
                    display: flex;
                    flex-direction: column;
                    background-color: #F36E22;

                    &::after {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        transform: translateX(-25%) translateY(-40%);
                        width: 7px;
                        height: 7px;
                        border-radius: 50%;
                        background-color: #F36E22;
                    }

                    .hook-item {
                        width: 3px;
                        height: 20px;
                        margin-bottom: 70px;
                        position: relative;

                        &:last-child {
                            margin-bottom: 0;
                        }

                        &__image {
                            background-image: url(../../web/images/career-path/hook-1-test.svg);
                            background-position: center;
                            background-size: 100%;
                            background-repeat: no-repeat;
                            width: 157px;
                            height: 92px;
                            .hook-item--line {
                                height: 3px;
                                width: 100%;
                                position: absolute;
                                background-color: #F36E22;
                                top: 89px;
                                left: 20px;
                                z-index: 1;
                            }
                        }
                    }
                }

                &__hook {
                    height: 3px;
                    position: absolute;
                    top: 0;
                    left: 0;

                    &--image {
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        background-image: url(../../web/images/career-path/hook-main-1.svg);


                        background-repeat: no-repeat;
                        width: 115px;
                        height: 65px;
                    }
                }

                &::after {
                    content: "";
                    position: absolute;
                    width: 3px;
                    height: 114%;
                    left: -115px;
                    top: -50px;
                    background-color: #F36E22;
                }

                &:last-child {
                    &::after {
                        display: none;
                    }
                }
            }
        }



        @media screen and (min-width: 1024px) and (max-width: 1199.98px) {
            &--top {
                padding-left: 16%;
                padding-right: 10%;
            }
        }

        @media screen and (max-width: 991.98px) {
            &--top {
                padding-left: 22%;
                padding-right: 17%;
                padding-top: 10px;
                top: 0;
                @media screen and (min-width: 768px) and (max-width: 1023.98px) {
                    top: -120px;
                }
            }

            &--y4t {
                width: 100%;

                .y4t__main-title {
                    bottom: calc(100% + 55px);
                    left: -50px;
                    .y4t-title {
                        @include setTextStyle(12px, 15px, 600);
                        max-width: 150px;
                        width: 75%;
                        text-align: center;
                        position: relative;
                        left: -30px;

                        .what-they-do {
                            margin-left: 10px;
                        }
                    }
                }

                .y4t-item {
                    padding-bottom: 80px;

                    .item-popup {
                        overflow: inherit;
                        width: 0;
                        height: 0;

                        .popup-rank {
                            top: 0;
                            left: 0;
                            transform: translateX(-50%) translateY(-42%);
                        }

                        .popup-rank-active {
                            display: none;
                        }

                        .popup-title {
                            position: absolute;
                            padding-left: 0;
                            bottom: calc(100% + 10px);
                            max-width: 75px;
                            min-width: 75px;
                            @include setTextStyleColor(10px, 12px, 500, $color-white)
                        }

                        &:hover {
                            width: 0;
                            height: 0;

                            .popup-rank {
                                opacity: 1;
                            }
                        }
                    }

                    &:last-child {
                        .item-popup {
                            &:hover {
                                width: 0;
                                height: 0;
                            }
                        }
                    }
                }

                .y4t-list {
                    &__child {
                        margin-bottom: 77px;
                    }
                }

                .y4t-big {
                    .y4t-list__main-hook {
                        .hook-item {
                            margin-bottom: 60px;

                            &__image {
                                background-image: url(../../web/images/career-path/hook-2.svg);
                                height: 82px;
                            }
                        }
                    }

                    &__hook {
                        &--image {
                            background-image: url(../../web/images/career-path/hook-main-2.svg);
                            width: 50px;
                            height: 60px;
                        }
                    }

                    &::after {
                        left: -50px;
                    }
                }
            }
        }

        &--bottom {
            width: 100%;
            padding: 0 70px;
            color: $color-white;
            position: relative;
            top: -40px;

            .overlay-bottom {
                background-color: #010a0c;
                opacity: 0.6;
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
                z-index: 1025;
            }

            

            @media screen and (max-width: 1199.98px) {
                padding: 0 35px 20px 35px;
            }

            @media screen and (max-width: 575.98px) {
                padding: 60px 15px 0 15px;
            }

            &__nav {
                padding: 0 8px;
                margin-bottom: 10px;

                .nav-tabs {
                    border-bottom: 1px solid #064341;
                    display: flex;
                    justify-content: center;
                    width: 80%;
                    margin: auto;

                    .nav-item {
                        padding: 0 40px;

                        .nav-link {
                            padding: 15px 8px;
                            @include setTextStyleColor(18px, 22px, 500, $color-white);
                            transition: all 0.2s;
                            border: none;
                            position: relative;

                            &::after {
                                content: "";
                                position: absolute;
                                bottom: -2px;
                                left: 50%;
                                transform: translateX(-50%);
                                height: 3px;
                                width: 0;
                                background-color: $color-red;
                                opacity: 0;
                                transition: all 0.2s;
                            }

                            &.active, &:hover {
                                background-color: transparent;
                                border: none;

                                &::after {
                                    opacity: 1;
                                    width: 100%;
                                }
                            }
                        }
                    }
                }

                @media screen and (max-width: 991.98px) {
                    .nav-tabs {
                        justify-content: space-around;
                        width: 100%;
                        .nav-item {
                            padding: 0;

                            .nav-link {
                                padding: 10px 4px;
                                @include setTextStyleColor(12px, 15px, 500, $color-white);
                            }
                        }
                    }
                }
                @media screen and (min-width: 768px) and (max-width: 1023.98px){
                    .nav-tabs {
                        width: 70%;
                    }
                }
            }

            .similar-job {
                padding-top: 40px;

                @media screen and (max-width: 991.98px) {
                    padding-top: 20px;
                }

                .sj-body {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;

                    .sj-list {
                        width: 100%;
                        border: 1px solid #064341;
                    }

                    .sj-item {
                        padding: 20px 25px 25px;

                        &.hide {
                            opacity: 0;
                            max-height: 0;
                            padding: 0;
                        }

                        &--top {
                            border-bottom: 1px solid #064341;
                            display: flex;
                            align-items: center;
                            padding-bottom: 20px;
                            max-height: 120px;
                            min-height: 120px;
                        }

                        &--bottom {
                            padding-top: 10px;
                        }

                        &__image {
                            @extend %default-background-image;
                            background-size: contain;

                            min-width: 64px;
                            max-width: 64px;
                            height: 60px;
                            border-radius: 10px;
                            background-color: $color-white;
                        }

                        &__info {
                            width: 100%;
                            padding-left: 19px;
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                        }

                        &__name {
                            @extend %default-text;
                            -webkit-line-clamp: 2;
                            @include setTextStyleColor(16px, 20px, 600, $color-white);
                            outline: none;
                        }

                        &__company {
                            overflow: hidden;
                            display: -webkit-box;
                            word-break: break-word;
                            text-overflow: ellipsis;
                            -webkit-line-clamp: 1;
                            -webkit-box-orient: vertical;
                            margin-top: 7px;
                            @include setTextStyleColor(14px, 17px, normal, $color-white);
                            outline: none;
                        }

                        &__salary {
                            @extend %default-text;
                            margin-top: 15px;
                            @include setTextStyleColor(16px, 19px, normal, $color-white);
                            display: flex;
                            flex-direction: row;
                            justify-content: flex-start;
                            align-items: center;

                            img {
                                margin-right: 5px;
                                position: relative;
                                bottom: 1px;
                            }
                        }

                        &__time {
                            @extend %default-text;
                            @include setTextStyleColor(12px, 15px, normal, $color-white);

                            &-bold {
                                font-weight: 500;
                            }
                        }

                        @media screen and (max-width: 1199.98px) {

                            &--top {
                                padding-bottom: 10px;
                            }

                            &__name {
                                @include setTextStyleColor(12px, 15px, 600, $color-white);
                            }

                            &__company {
                                @include setTextStyleColor(12px, 15px, normal, $color-white);
                            }

                            &__salary {
                                @include setTextStyleColor(12px, 14px, normal, $color-white);
                                margin-top: 10px;

                                img {
                                    width: 12px;
                                    height: 10px;
                                }
                            }

                            &__time {
                                @include setTextStyleColor(10px, 12px, normal, $color-white);
                            }
                        }
                    }

                    .slick-slider {
                        margin-bottom: 0;

                        .slick-list {
                            .slick-track {
                                .slick-slide {
                                    &:focus {
                                        outline: none !important;
                                    }

                                    & > div {
                                        border-bottom: 1px solid #064341;
                                        display: flex;

                                        &:last-child {
                                            border-bottom: none;
                                        }

                                        .sj-item {
                                            border-right: 1px solid #064341;
                                            &:nth-child(3) {
                                                border-right: none;
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        .slick-dots {
                            bottom: -55px;

                            @media screen and (max-width: 991.98px) {
                                bottom: -35px;
                            }

                            li {
                                width: 10px;
                                height: 10px;

                                button {
                                    width: 10px;
                                    height: 10px;
                                    background: $color-white;
                                    transition: all 0.2s;

                                    &::before {
                                        display: none;
                                    }
                                }

                                &.slick-active {
                                    button {
                                        background: $color-red;
                                    }
                                }
                            }
                        }
                    }

                    .sj-pagging {
                        padding: 21px 15px;
                        display: flex;
                        justify-content: flex-end;
                        position: relative;
                        z-index: 10;

                        &__button {
                            width: 55px;
                            height: 55px;
                            margin-left: 12px;
                            border: 1px solid $color-red;
                            background-color: transparent;
                            transition: all 0.2s;

                            &:hover {
                                background-color: $color-red;
                            }
                        }
                    }
                }
            }

            .nec-skill {
                padding: 30px 40px;

                .ns-title {
                    @include setTextStyleColor(14px, 17px, 500, $color-white);
                }

                .ns-body {
                    padding-top: 53px;

                    .ns-list {
                        display: flex;
                        justify-content: space-around;
                        flex-wrap: wrap;

                        .ns-item {
                            width: 245px;
                            height: 66px;
                            border-radius: 10px;
                            background-color: #064341;
                            border-left: 4px solid $color-red;
                            @include setTextStyleColor(14px, 17px, 600, $color-white);
                            display: flex;
                            place-items: center;
                            justify-content: center;
                            margin: 0 20px 36px 20px;
                            text-align: center;
                        }
                        @media screen and (max-width: 1199.98px) {
                            .ns-item {
                                width: 220px;
                            }
                        }

                    }
                }


                @media screen and (max-width: 991.98px) {
                    padding: 20px 15px 0;
                    .ns-body {
                        padding-top: 0;
                        .ns-list {
                            .ns-item {
                                width: 130px;
                                height: 44px;
                                @include setTextStyle(10px, 12px, 600);
                                margin: 0 10px 10px 10px;
                            }
                        }
                    }
                }
                @media screen and (min-width: 768px) and (max-width: 1023.98px) {
                    .ns-body {
                        .ns-list {
                            .ns-item {
                                width: 165px;
                            }
                        }
                    }
                }
            }

            .blog {
                padding: 55px 0;

                .blog-list {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;

                    .blog-item {
                        width: 33.3333%;
                        padding: 30px 10px 30px 10px;
                        display: flex;
                        align-items: center;
                        @media screen and (max-width: 991.98px) {
                            border-bottom: 1px solid #064341;
                        }

                        .item-image {
                            @extend %default-background-image;
                            background-color: $color-white;

                            min-width: 108px;
                            max-width: 108px;
                            height: 70px;
                            border-radius: 9px;
                        }

                        .item-info {
                            width: 100%;
                            padding-left: 20px;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;

                            &__title{
                                @extend %default-text;
                                -webkit-line-clamp: 3;
                                @include setTextStyleColor(14px, 17px, 600, $color-white);
                            }

                            &__source {
                                @extend %default-text;
                                padding-top: 7px;
                                @include setTextStyleColor(14px, 17px, 500, #A5A5A5);
                            }

                            @media screen and (max-width: 1199.98px) {

                                &__title{
                                    @include setTextStyle(12px, 15px, 500);
                                    height: unset;
                                }

                                &__source {
                                    @include setTextStyle(12px, 15px, 500);
                                }
                            }
                        }
                        @media screen and (max-width: 575.98px) {
                            &:first-child {
                                padding-top: 0;
                            }
                            &:last-child {
                                padding-bottom: 0;
                                border-bottom: none;
                            }
                        }
                    }
                }

                @media screen and (max-width: 991.98px) {
                    padding: 30px 0;

                    .blog-list {

                        .blog-item {
                            width: 49.98%;

                            .item-image {
                                min-width: 66px;
                                max-width: 66px;
                                height: 43px;
                            }
                        }
                    }
                }

                @media screen and (max-width: 575.98px) {
                    padding: 30px 0 0;

                    .blog-list {

                        .blog-item {
                            width: 100%;
                        }
                    }
                }
            }
        }

        .modal {
            @media (min-width: 576px) {
                .modal-dialog {
                    max-width: 633px;
                }
            }

            .modal-dialog {
                .modal-content {
                    padding: 35px;
                    width: 633px;
                    background: #071820;
                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                    border-radius: 5px;
                    border: 1px solid transparent;
                    border-image: linear-gradient(to bottom, #F95F07 0%, #FFFFFF 31.25%);
                    border-image-slice: 5;
                    @media screen and (max-width: 991.98px) {

                        padding: 25px 10px 25px 25px;
                    }

                    .modal-header {
                        margin-left: 35px;
                        margin-right: 35px;
                        padding-left: 0;
                        @media screen and (max-height: 991.98px) {
                            margin-left: unset;
                            margin-right: unset;
                        }
                        .modal-header--text {
                            display: flex;
                            flex-direction: column;
                            .modal__title {
                                @include setTextStyleColor (14px, 24px, 500, #FFFFFF);
                                @media screen and (max-width: 991.98px) {
                                    @include setTextStyleColor (12px, 24px, 500, #FFFFFF);
                                }
                            }
                            .modal__title--sub {
                                @include setTextStyleColor (18px, 24px, 600, #FFFFFF);
                                @media screen and (max-width: 991.98px) {
                                    @include setTextStyleColor (16px, 24px, 500, #FFFFFF);
                                }
                            }
                        }
                        .modal-header--next {
                            background: transparent;
                            border: none;
                            outline: none;
                            span {
                                @include setTextStyleColor (16px, 24px, 500, #EFA50F);
                                @media screen and (max-width: 991.98px) {
                                    @include setTextStyleColor (14px, 24px, 500, #EFA50F);
                                }
                            }
                        }
                    }
                    .modal-body {
                        @include setTextStyleColor (14px, 24px, normal, #FFFFFF);
                        overflow-y: scroll;
                        padding-top: 35px;
                        padding-left: 35px;
                        padding-right: 0;
                        // max-height: 450px;
                        // min-height: 450px;
                        @media screen and (max-width: 991.98px) {
                            @include setTextStyleColor (12px, 24px, normal, #FFFFFF);
                            // max-height: 450px;
                            // min-height: 200px;
                        }
                        p {
                            margin-bottom: 0;
                            &:nth-child(2) {
                                padding: 20px 0;
                            }
                            &:last-child {
                                padding-bottom: 10px;
                            }
                        }
                    }
                    .modal-footer {
                        border-top: none !important;
                        justify-content: center !important;
                        margin-right: 15px;
                        .close {
                            width: 115px;
                            height: 37px;
                            border-radius: 5px;
                            border: 1px solid #61676A ;
                            span {
                                @include setTextStyleColor (14px, 24px, normal, #EFEFEF);
                                text-shadow: none !important;
                            }
                        }
                    }
                    .scrollbar {
                        float: left;
                        max-height: 300px;
                        width: 65px;
                        background: #071820;
                        overflow-y: scroll;
                        margin-bottom: 25px;
                        width: 100%;
                        padding: 0 35px 35px;
                        margin-top: 35px;
                        @media screen and (max-height: 991.98px) {
                            padding-left: 0;
                            padding-right: 30px;
                        }
                    }

                    .scrollbar-secondary::-webkit-scrollbar {
                        width: 4px;
                        background-color: #071820;
                        border-radius: 5px;
                    }

                    .scrollbar-secondary::-webkit-scrollbar-thumb {
                        border-radius: 10px;
                        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
                        background-color:#C4C4C4;
                    }

                    @-moz-document url-prefix() {
                        .scroller {
                            scrollbar-color: #071820 #F5F5F5 ;
                            scrollbar-width: thin;
                        }
                    }
                }
            }
        }
    }




    @-webkit-keyframes bodyFadeIn {
        from {
            opacity: 0;
            top: 100px;
        }

        to {
            opacity: 1;
            top: 0;
        }
    }
}


