.candidate-path--home {
    max-width: 100%;
}

.cp-main {
    font-family: "Montserrat", "Roboto", Arial, Helvetica, sans-serif;
    overflow: hidden;
    background-image: url(../../web/images/career-path/pathhome-desktop.jpg);
    background-size: cover;
    padding-bottom: 10px;

    @media screen and (max-width: 991.98px) {
        background-image: url(../../web/images/career-path/pathhome-mobile.jpg);
        background-position: center 0;
        height: 100vh;
    }

    &__body {
        max-width: 1400px;
        margin: auto;
        display: flex;
        position: relative;
        @media screen and (max-width: 991.98px) {
            flex-direction: column;
        }
    }

    &__text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @media screen and (max-width: 991.98px) {
            height: 85vh;
        }
        @media screen and (min-width: 1024px) and (max-width: 1399.98px) {
            padding-left: 30px;
        }
    }

    &__top {
        background-position: center 0;
        background-size: cover;
        // @media screen and (min-width: 992px) {
        //     height: 315px;
        // }

        @media (min-width: 1200px) and (max-height: 800px) {
            height: 300px;
        }

        &--title {
            padding-top: 260px;
            @media (min-width: 1200px) and (max-height: 800px) {
                padding-top: 120px;
            }

            h5 {
                @include setTextStyleColor(20px, 24px, 600, $color-red);
                position: relative;
                animation: titleIn 0.3s 0.5s both;
                @media (min-width: 1200px) and (max-height: 800px) {
                    @include setTextStyleColor(16px, 20px, 600, $color-red);
                }
            }

            h4 {
                @include setTextStyleColor(24px, 29px, 600, $color-white);
                position: relative;
                animation: titleIn 0.3s 0.65s both;
                @media (min-width: 1200px) and (max-height: 800px) {
                    @include setTextStyleColor(22px, 27px, 600, $color-white);
                }
            }
        }

        @media screen and (max-width: 991.98px){

            &--title {
                padding: 55px 30px 10px 30px;

                h5 {
                    @include setTextStyleColor(12px, 15px, 600, $color-red);
                }

                h4 {
                    @include setTextStyleColor(20px, 24px, 600, $color-white);
                }

                h3 {
                    @include setTextStyleColor(14px, 20px, 600, $color-white);
                }
            }
        }
        @media screen and (min-width: 768px) and (max-width: 1023.98px) {
            &--title {
                padding: 100px 0 65px 65px;

                h5 {
                    @include setTextStyleColor(12px, 15px, 600, $color-red);
                }

                h4 {
                    @include setTextStyleColor(12px, 15px, 600, $color-white);
                }

                h3 {
                    @include setTextStyleColor(14px, 20px, 600, $color-white);
                }
            }
        }

    }

    &__search {
        padding: 23px 100px 24px 0px;
        display: flex;
        position: relative;
        z-index: 2;
        animation: fadeInLeft 1s both;

        &--dropdown {
            margin-right: 12px;
            .dropdown-input {
                width: 502px;
                height: 55px;
                padding: 0 22px;
                @include setTextStyleColor(14px, 17px, 500, #1D1D1D);
                background-color: #fff;
                border-radius: 3px;
                border: none;
                @media (min-width: 1200px) and (max-height: 800px) {
                    height: 45px;
                }
                @media screen and (min-width: 1024px) and (max-width: 1399.98px) {
                    width: 350px;
                }
            }
            ::-webkit-input-placeholder { /* Edge */
                color:  #323232;
            }

            :-ms-input-placeholder { /* Internet Explorer 10-11 */
                color:  #323232;
            }

            ::placeholder {
                color:  #323232;
            }
            .input-warning {
                padding-top: 5px;
                text-align: center;
                position: absolute;
                width: 100%;
                @include setTextStyleColor(14px, 17px, normal, #e74243);
            }

            .dropdown-menu {
                width: 100%;
                background-color: #fff;
                border: none;
                border-radius: 0;
                box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
                padding: 20px 20px 25px 35px;
                ::-webkit-scrollbar {
                    padding-right: 0;
                    width: 6px;
                    background-color: #adadad;
                    border-radius: 5px;
                }
                ::-webkit-scrollbar-thumb {
                    background-color: #525252;
                    border-radius: 5px;
                }
                ::-webkit-scrollbar-thumb:hover {
                    background-color: #525252;
                }
                @-moz-document url-prefix() {
                    .scroller {
                        scrollbar-color:#525252 #adadad ;
                        scrollbar-width: thin;
                    }
                }

                .dropdown-body {
                    overflow-y: auto;
                    max-height: 245px;
                    width: 100%;
                    height: 100%;
                    @media (min-width: 1200px) and (max-height: 800px) {
                        max-height: 190px;
                    }
                }

                .dropdown-item {
                    @include setTextStyleColor(14px, 17px, 600, #323232);
                    transition: all 0.1s;
                    padding: 10px 0;
                    word-break: break-word;
                    white-space: normal;
                    &:hover, &:focus {
                        background-color: transparent;
                        text-decoration: underline;
                    }

                }
            }


            .dropdown-input:focus + .dropdown-menu {
                display: block;
            }
        }

        &--submit {
            width: 214px;
            background-color: #1CAC84;
            border-radius: 7px;
            border: none;
            @include setTextStyleColor(16px, 20px, 600, $color-white);
            position: relative;
            transition: all 0.1s;
            animation: titleIn 0.3s 1.1s both;
            height: 55px;
            @media screen and (max-width: 991.98px) {
                height: 33px;
            }
            @media (min-width: 1200px) and (max-height: 800px) {
                height: 45px;
            }

            &:hover {
                border-radius: 2px;
                transform: scale(1.05);
            }
        }

        @media screen and (max-width: 991.98px){
            padding: 10px 15px 10px 30px;

            &--dropdown {
                margin-right: 7px;
                width: 100%;

                .dropdown-input {
                    width: 100%;
                    height: 33px;
                    @include setTextStyleColor(8px, 10px, 500, #323232);
                    padding: 0 12px;
                }

                .dropdown-menu {
                    padding: 10px;

                    .dropdown-body {
                        max-height: 153px;
                    }

                    .dropdown-item {
                        @include setTextStyleColor(8px, 12px, 600, #323232);
                        padding: 5px 0;
                    }
                }
            }

            &--submit {
                width: 129px;
                min-width: 129px;
                @include setTextStyleColor(10px, 12px, 600, $color-white);

            }
        }

        @media (min-width: 768px) and (max-width: 1023.98px) {
            padding: 10px 65px;
        }

    }

    &__recomment {
        padding: 150px 0 85px 0;
        @media (min-width: 1200px) and (max-height: 800px) {
            padding: 60px 20px 133px 0px;
        }



        &--title {
            padding-right: 4px;
            @include setTextStyleColor(14px, 17px, 600, $color-white);
            position: relative;
            animation: titleIn 0.3s 1.25s both;
            @media screen and (min-width: 768px) and (max-width: 991.98px) {
                padding-left: 30px;
            }
        }

        &--list {
            padding-top: 25px;
            padding-left: 0;
            display: flex;
            flex-wrap: wrap;
            position: relative;
            animation: titleIn 0.3s 1.4s both;

            @media screen and (min-width: 576px) and (max-width: 991.98px) {
                padding: 0 30px;
            }
            @media screen and (max-width: 575.98px) {
                padding-left: 0;
            }

            .list-item {
                background-color: #DCDCDC;
                height: 63px;
                border-radius: 33px;
                list-style: none;
                position: relative;
                overflow: hidden;
                margin-right: 15px;
                margin-bottom: 15px;
                @media (min-width: 1200px) and (max-height: 800px) {
                    height: 55px;
                }

                .item-link {
                    position: relative;
                    display: flex;
                    place-items: center;
                    height: 100%;
                    padding: 0 33px;
                    overflow: hidden;
                    z-index: 2;
                    @include setTextStyleColor(12px, 15px, 600, #3F3F3F);
                    @media (min-width: 1200px) and (max-height: 800px) {
                        padding: 0 20px;
                    }

                    &::after {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        z-index: -1;
                        width: 100%;
                        height: 100%;
                        background: linear-gradient(270deg, #1BBF88 0%, #206B76 100%);
                        opacity: 0;
                        transition: all 0.2s;
                    }
                }

                &:hover, &.active {
                    .item-link::after {
                        opacity: 1;
                    }
                    .item-link {
                        @include setTextStyleColor(12px, 15px, 600, $color-white);
                    }
                }
            }
        }

        @media screen and (max-width: 991.98px){
            padding: 0 10px;

            &--title {
                @include setTextStyleColor(10px, 12px, 600, $color-white)
            }

            &--list {
                padding-top: 15px;

                .list-item {
                    height: 36px;

                    .item-link {
                        @include setTextStyleColor(10px, 12px, 600, #3F3F3F);
                        padding: 0 20px;
                    }
                }
            }
        }

        @media screen and (max-width: 374.98px) {
            padding: 200px 10px 0;
        }
    }

    &__img {
        width: 100%;
        @media screen and (max-width: 374.98px) {
            margin-bottom: 60px;
        }
        .corona-img {
            position: absolute;
            transform: translate(-50%, -50%);
            @media screen and (max-width: 991.98px) {
                width: 20%;
            }
            img {
                -webkit-animation: pulse 2s infinite;
                animation: pulse 2s infinite;
                @media screen and (max-width: 991.98px) {
                    width: 100%;
                }
            }
        }

        .corona-left {
            top: 50%;
            left: 75%;
            @media screen and (max-width: 991.98px) {
                top: 57%;
                left: 32%;
            }
            @media screen and (min-width: 992px) and (max-width: 1199.98px) {
                img {
                    width: 70%;
                }
            }
        }

        .corona-top {
            left: 95%;
            top: 24%;
            @media screen and (max-width: 991.98px) {
                left: 61%;
                top: 42%;
            }
            @media screen and (min-width: 992px) and (max-width: 1199.98px) {
                left: 90%;
            }
        }

        .corona-bottom {
            top: 76%;
            left: 95%;
            @media screen and (max-width: 991.98px) {
                top: 70%;
                left: 60%;
            }
            @media screen and (min-width: 768px) and (max-width: 991.98px) {
                bottom: 23%;
            }
            @media screen and (min-width: 992px) and (max-width: 1199.98px) {
                width: 20%;
                top: 76%;
                left: 89%;
                img {
                    width: 100%;
                }
            }
        }

        .cp-main__circle {
            position: absolute;
            top: 48.5%;
            left: 94.8%;
            transform: translateX(-50%) translateY(-50%);
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background-color: #ABDAB7;

            @media screen and (max-width: 991.98px) {
                top: 57.5%;
                left: 60%;
            }
            @media screen and (min-width: 768px) and (max-width: 991.98px) {
                top: 58%
            }
            @media screen and (min-width: 992px) and (max-width: 1199.98px) {
                left: 89.5%;
            }
            .corona-line--left {
                width: 5px;
                height: 256.77px;
                position: absolute;
                background: linear-gradient(180deg, #B2DAB8 0%, #2ECEA0 100%);
                transform: rotate(90deg);
                z-index: -1;
                margin-top: 5px;
            }
        }

        .cp-line {
            .line--left {
                position: absolute;
                top: 49.6%;
                transform: translate(-51%, -94%);
                left: 86%;
                z-index: -1;
                animation: corona-line-1 0.6s 1.3s both ease;
                @media screen and (min-width: 992px) and (max-width: 1199.98px) {
                    left: 77%;
                }
                @media screen and (min-width: 1200px) and (max-width: 1399.98px) {
                    left: 85%;
                }
            }

            .line--top {
                position: absolute;
                top: 24%;
                left: 94.6%;
                z-index: -1;
                animation: corona-line-2 0.6s 1s both ease;
                @media screen and (min-width: 992px) and (max-width: 1199.98px) {
                    left: 89.3%;
                    top: 26%;
                }
                @media screen and (min-width: 1200px) and (max-width: 1399.98px) {
                    top: 27%;
                }

            }

            .line--bottom {
                position: absolute;
                top: 48%;
                left: 94.6%;
                z-index: -1;
                animation: corona-line-1 0.6s 1.8s both ease;
                @media screen and (min-width: 992px) and (max-width: 1199.98px) {
                    left: 89.3%;
                }
                @media (min-width: 1200px) and (max-height: 800px) {
                    left: 94.6%;
                }
            }
            @media screen and (max-width: 991.98px) {
                .line--left {
                    top: 59%;
                    left: 61%;
                    img {
                        width: 50%;
                    }
                }

                .line--top {
                    top: 43%;
                    left: 59.5%;
                    img {
                        width: 50%;
                    }
                }

                .line--bottom {
                    top: 63%;
                    transform: translate(-0.5%, -50%);
                    left: 59.7%;
                    z-index: -2;
                    img {
                        height: 100px;
                    }
                }
            }
            @media screen and (min-width: 768px) and (max-width: 991.98px) {
                .line--left {
                    left: 50%;
                    img {
                        width: 80%;
                    }
                }
                .line--top {
                    top: 36%;
                    left: 59.7%;
                    img {
                        width: 100%;
                    }
                }
            }
        }

        .cp-main__covid--submit {
            border: none;
            outline: none;
            background: transparent;
            position: absolute;
            top: 38%;
            transform: translate(-50%, -50%);
            right: 2%;
            img {
                -webkit-animation: pulse 2s infinite;
                animation: pulse 2s infinite;
            }

            @media screen and (max-width: 991.98px) {
                top: 43%;
                right: 27%;
                img {
                    width: 80%;
                }
            }
            @media screen and (min-width: 768px) and (max-width: 991.98px) {
                right: 40%;
            }

            @media screen  and (max-width: 374.98px) {
                right: 17%;
            }
        }
    }

    @-webkit-keyframes titleIn {
        from {
            opacity: 0;
            left: -200px;
        }

        to {
            opacity: 1;
            left: 0;
        }
    }
}

@keyframes corona-line-1 {
    0% {
        width: 256.77px;
        opacity:0
    }

    100% {
        width: 256.77px;
        opacity:1
    }
}

@keyframes corona-line-2 {
    0% {
        height: 256.77px;
        opacity:0
    }

    100% {
        height: 256.77px;
        opacity:1
    }
}
@keyframes corona-line-3 {
    0% {
        width: 256.77px;
        opacity:0
    }

    100% {
        width: 256.77px;
        opacity:1
    }
}
