.candidate-tab {
    height: 65px;
    background-color: $color-white;

    @media screen and (max-width: 991.98px) {
        position: fixed;
        bottom: 0;
        width: 100%;
        z-index: 99;
        box-shadow: 0 2px 15px rgba(0,0,0,0.15);
    }

    .container {
        height: 100%;
        display: flex;
        font-family: "Montserrat", "Roboto", Arial, Helvetica, sans-serif;
        justify-content: center;

        @media screen and (max-width: 991.98px) {
            justify-content: space-around;
            height: 60px;
        }
    }

    .tab-item {
        list-style: none;
        height: 100%;
        margin: 0 10px;
        @media screen and (max-width: 991.98px) {
            margin: 0;
        }
    }

    .tab-link {
        padding: 0 15px;
        display: flex;
        align-items: center;
        height: 100%;
        color: #807F7F;
        position: relative;
        white-space: nowrap;
        @include setTextStyle(14px, 17px, 600);
        transition: all 0.2s;

        @media screen and (max-width: 991.98px) {
            padding: 20px 5px 10px 5px;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            @include setTextStyle(8px, 10px, 600);
        }

        .tab-link__image {
            margin-right: 8px;

            path {
                transition: all 0.2s;
            }

            @media screen and (max-width: 991.98px) {
                margin-right: 0;
                margin-bottom: 8px;
                position: relative;
                transform: scale(1.2);
            }
        }

        &::after {
            content: "";
            position: absolute;
            z-index: 3;
            top: 100%;
            left: 0;
            width: 100%;
            height: 4px;
            background-color: transparent;
            transform: translateY(-50%);

            @media screen and (max-width: 991.98px) {
                top: 0;
                transform: unset;
            }
        }

        &:hover {
            color: $color-blue;

            .tab-link__image {

                path {
                    fill: $color-blue;
                }
            }
        }

        &.active {
            color: $color-blue;

            .tab-link__image {

                path {
                    fill: $color-blue;
                }
            }

            &::after {
                background-color: $color-red;
            }
        }
    }
}
