//variable
$color-blue: #163442;
$color-red: #F05348;
$color-white: #fff;
$color-gray: #707070;
$color-light-gray: #a9a9a9;
$color-black: #464646;

$font-size-navbar-text: 18px;
$font-size-navbar-text-mobile: 16px;
$font-size-navbar-dropdown: 12px;
$font-size-navbar-search: 24px;
$font-size-default: 16px;
$font-size-small: 12px;
$font-size-normal-news-title: 25px;

$font-weight-lite: 300;
$font-weight-bold: 500;

$box-shadow-default: 0 3px 6px 0 rgba(0, 0, 0, 0.16);

$linear-gradient-desktop: linear-gradient(transparent, transparent, #1a1a1a);
$linear-gradient-mobile: linear-gradient(to bottom, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0.7) 100%);

html {
    overflow-x: hidden;
}

a:hover {
    text-decoration: none ;
}

body {
    background-color: #f1f1f1;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

button,
button:hover,
button:focus,
select,
select:hover,
select:focus,
input,
textarea {
    outline: none;
}

//class variable
%default-background-image {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

%default-text {
    overflow: hidden;
    display: -webkit-box;
    word-break: break-word;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

@mixin setTextStyle($font-size, $line-height, $font-weight) {
    font-size: $font-size;
    line-height: $line-height;
    font-weight: $font-weight;
}

@mixin setTextStyleColor($font-size, $line-height, $font-weight, $color) {
    font-size: $font-size;
    line-height: $line-height;
    font-weight: $font-weight;
    color: $color;
}

@media screen and (min-width: 992px) {
    .app-mobile {
        display: none !important;
    }
}

@media screen and (max-width: 991.98px) {
    .app-desktop {
        display: none !important;
    }
}

@import "header";
@import "footer";

.hidden {
    display: none !important;
}

.banned-scroll {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: unset;
}

body {
    position: fixed;
    width: 100%;
    height: 100%;
}

body::-webkit-scrollbar {
    padding-right: 0;
    width: 3px;
    background-color: transparent;
    border-radius: 5px;
}

body::-webkit-scrollbar-thumb {
    background-color: #525252;
    border-radius: 5px;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #525252;
}

@-moz-document url-prefix() {
    body.scroller {
        scrollbar-color:#525252 transparent ;
        scrollbar-width: thin;
    }
}

.candidate-tab {
    height: 65px;
    background-color: $color-white;
    @media screen and (max-width: 991.98px) {
        position: fixed;
        bottom: 0;
        width: 100%;
        z-index: 99;
        box-shadow: 0px 2px 15px rgba(0,0,0,0.15);
    }

    .container {
        height: 100%;
        display: flex;
        font-family: "Montserrat", "Roboto", Arial, Helvetica, sans-serif;
        justify-content: center;

        @media screen and (max-width: 991.98px) {
            justify-content: space-around;
            height: 60px;
        }
    }

    .tab-item {
        list-style: none;
        height: 100%;
        margin: 0 10px;
        @media screen and (max-width: 991.98px) {
            margin: 0;
        }
    }

    .tab-link {
        padding: 0 15px;
        display: flex;
        align-items: center;
        height: 100%;
        color: #807F7F;
        position: relative;
        white-space: nowrap;
        @include setTextStyle(14px, 17px, 600);
        transition: all 0.2s;

        @media screen and (max-width: 991.98px) {
            padding: 20px 5px 10px 5px;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            @include setTextStyle(8px, 10px, 600);
        }

        .tab-link__image {
            margin-right: 8px;

            path {
                transition: all 0.2s;
            }

            @media screen and (max-width: 991.98px) {
                margin-right: 0;
                margin-bottom: 8px;
                position: relative;
                transform: scale(1.2);
            }
        }

        &::after {
            content: "";
            position: absolute;
            z-index: 3;
            top: 100%;
            left: 0;
            width: 100%;
            height: 4px;
            background-color: transparent;
            transform: translateY(-50%);

            @media screen and (max-width: 991.98px) {
                top: 0;
                transform: unset;
            }
        }

        &:hover {
            color: $color-blue;

            .tab-link__image {

                path {
                    fill: $color-blue;
                }
            }
        }

        &.active {
            color: $color-blue;

            .tab-link__image {

                path {
                    fill: $color-blue;
                }
            }

            &::after {
                background-color: $color-red;
            }
        }
    }
}

.candidate-path {
    padding: 0;
}


.cp-detail {
    font-family: "Montserrat", "Roboto", Arial, Helvetica, sans-serif;
    .cp-head {
        display: flex;
        justify-content: flex-end;
        position: relative;
        .cp-head--menu {
            width: 100%;
            .img-right {
                position: absolute;
                right: -230px;
            }
            @media screen and (max-width: 991.98px) {
                .img-left {
                    width: 100%;
                }
            }
            @media screen and (max-width: 575.98px) {
                .img-right {
                    position: absolute;
                    top: -100px;
                    left: 10%;
                }
            }
            .cp-head--list {
                display: flex;
                position: absolute;
                top: 15%;
                width: 95%;
                /*animation: fadeInLeft 0.5s both;*/
                @media screen and (max-width: 767.98px) {
                    padding: 0;
                    justify-content: center;
                    top: 12%;
                }
                .cp-head--item {
                    list-style: none;
                    padding: 0 15px;
                    .active {
                        border-bottom: 3px solid #F05348;
                        @media screen and (min-width: 992px) {
                            padding-bottom: 17px;
                        }
                        @media screen and (max-width: 991.98px) {
                            padding-bottom: 11px;
                        }
                        @media screen and (max-width: 575.98px) {
                            padding-bottom: 5px;
                        }
                    }
                    .cp-head--link {
                        transition: all 0.3s;
                        @include setTextStyleColor(14px, 17px, 500, $color-white);
                        @media screen and (max-width: 991.98px) {
                            @include setTextStyleColor(10px, 12px, 500, $color-white);
                            padding-bottom: 11px;
                        }
                        @media screen and (min-width: 1024px) {
                            padding-bottom: 14px;
                        }
                        @media screen and (max-width: 575.98px) {
                            padding-bottom: 5px;
                        }
                        &:hover {
                            border-bottom: 3px solid #F05348;
                        }
                    }

                }

            }
        }

        @media screen and (max-width: 991.98px) {
            .mobile-search {
                .mobile-search__close {
                    padding-top: 90px;
                    .js_mobile-search__close {
                        width: 46px;
                        height: 46px;
                        border-radius: 50%;
                        border: 1px solid #ADADAD;
                        background-color: transparent;
                        img {
                            position: relative;
                            right: 2px;
                        }
                    }
                }
                .mobile-head__form {
                    .mobile-main__search--dropdown {
                        margin-bottom: 10px;
                        padding-top: 50px;
                        .dropdown-input {
                            width: 100%;
                            height: 45px;
                            border-radius: 4px;
                            padding: 0 20px;
                            @include setTextStyleColor (12px, 14px, normal, #464646);
                            font-weight: normal;
                            background-color: #fff;
                            border: none;
                            @media screen and (max-width: 991.98px) {
                                @include setTextStyleColor (10px, 12px, normal, #464646);
                            }
                        }
                        .dropdown-menu {
                            width: 100%;
                            overflow-y: scroll;
                            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                            .dropdown-body {
                                max-height: 260px;
                                padding: 0 10px;
                                overflow: auto;
                                .dropdown-item {
                                    @include setTextStyleColor(12px, 20px, 600, #8D8D8D);

                                    span {
                                        @include setTextStyleColor(12px, 20px, 600, #000);
                                    }
                                    &:hover, &:focus {
                                        background-color: transparent;
                                        text-decoration: underline;
                                    }
                                }
                            }
                        }
                    }
                    .mobile-search__submit {
                        display: flex;
                        width: 100%;
                        position: absolute;
                        left: 0;
                        padding: 0 15px;
                        top: 80%;
                        .mobile-search__submit--button {
                            width: 100%;
                            height: 45px;
                            background-color: #F05348;
                            @include setTextStyleColor(14px, 16px, 600, #fff);
                            border-radius: 4px;
                            border: none;
                        }
                    }
                    .mobile-head__form--button {
                        display: none;
                    }
                }

                .mobile-search__submit {
                    display: none;
                }

                .mobile-search__close {
                    display: none;
                }

                .mobile-head__form {
                    .mobile-search__submit {
                        display: none;
                    }
                }

                .dropdown-input {
                    display: none;
                }

            }

            .mobile-search--show {
                position: fixed;
                width: 100%;
                height: 100%;
                bottom: 65px;
                left: 0;
                background-color: #e5e5e5;
                padding: 17px 16px;
                z-index: 1111;
                transition: all 0.3s;
                .mobile-search__close {
                    display: flex;
                }
                .mobile-head__form {
                    .mobile-search__submit {
                        display: block;
                    }
                }
                .dropdown-input {
                    display: block;
                }
            }
        }
    }

    .cp-body {
        background-image: url(../../web/images/career-path/bg-career-path.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        @media screen and (max-width: 991.98px) {
            padding-bottom: 20px;
        }

        &--top {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            -moz-user-select: none; /* Firefox */
            -ms-user-select: none; /* Internet Explorer */
            -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
            -webkit-user-select: none; /* Chrome, Safari, and Opera */
            -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
            top: -130px;
            @media screen and (min-width: 992px) {
                margin-left: 2%;
            }
        }

        &--y4t {
            width: 660px;
            display: flex;
            flex-direction: column;
            padding-left: 0;
            margin-bottom: 0;
            position: relative;
            animation: bodyFadeIn 0.5s 0.5s both;

            .overlay {
                position: fixed;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background-color: #000;
                opacity: 0.7;
                z-index: 1025;
            }

            .line {
                height: 3px;
                width: 100%;
                position: absolute;
                background-color: #F36E22;
                top: 0;
                left: 0;
                z-index: 1;
            }

            .line-1 {
                height: 3px;
                position: absolute;
                background-color: #F36E22;
                top: 0;
                width: 41px;
                left: -22px;
                z-index: -1;
            }

            .y4t__main-title {
                position: absolute;
                bottom: calc(100% + 65px);
                left: -115px;
                list-style: none;
                .y4t-icondown {
                    display: flex;
                    flex-direction: column;
                    position: absolute;
                    transform: translate(-50%, 50%);
                    top: -50px;
                    img {
                        padding: 3px 0;
                    }
                }

                &::after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    width: 7px;
                    height: 7px;
                    border-radius: 50%;
                    left: 0;
                    background-color: #F36E22;
                    transform: translateX(-25%) translateY(60%);

                }

                .y4t-title {
                    @extend %default-text;
                    -webkit-line-clamp: 3;
                    @include setTextStyleColor(15px, 22px, 600, $color-white);
                    text-align: center;
                    position: relative;
                    bottom: 10px;
                    transform: translateX(-58%);
                    height: auto;
                    display: flex;
                    align-items: center;
                    width: 210px;
                    justify-content: center;
                    letter-spacing: 1px;

                    @media screen and (max-width: 991.98px) {
                        align-items: center;
                    }

                    @media screen and (max-width: 1199.98px) {
                        text-align: center;
                        transform: unset;
                    }

                    @media screen and (min-width: 1024px) and (max-width: 1199.98px) {
                        position: relative;
                        left: -50px;
                    }

                    @media screen and (min-width: 992px) {
                        span {
                            margin: 0 10px 1px 0;
                        }
                    }
                    @media screen and (min-width: 1024px) and (max-width: 1199.98px) {
                        span {
                            margin-left: 0;
                        }
                    }
                }

                .y4t-title-bottom {
                    display: flex;
                    .what-they-do-btn {
                        background: transparent;
                        border: 0;
                        outline: none;
                        padding: 0;
                        position: absolute;
                        width: 15px;
                        right: 50%;
                        bottom: 47%;
                        @media screen and (max-width: 991.98px) {
                            right: 10%;
                        }
                        &:focus {
                            box-shadow: none;
                        }
                    }
                }

            }

            .y4t-item {
                position: relative;
                padding-bottom: 90px;

                .item-popup--index {
                    z-index: 1050;
                }

                .item-popup {
                    position: absolute;
                    top: 0;
                    left: 0;
                    transform: translateY(-50%) translateX(-50%);
                    width: 164px;
                    height: 59px;
                    background-color: #DEF5F5;
                    z-index: 2;
                    overflow: hidden;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: all 0.15s;
                    cursor: pointer;

                    .popup-rank {
                        position: absolute;
                        top: 4px;
                        left: 6px;
                        transition: all 0.3s;
                    }

                    .popup-rank-active {
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        right: 100%;
                        transition: all 0.3s;
                    }

                    .popup-title {
                        @extend %default-text;
                        -webkit-line-clamp: 3;
                        max-width: 130px;
                        @include setTextStyleColor(12px, 15px, normal, #000000);
                        position: relative;
                        z-index: 2;
                        padding-left: 10px;
                        text-align: center;
                        .popup-subtitle {
                            @include setTextStyleColor (12px, 15px, 500, #727272);
                            margin-bottom: 0;
                        }
                    }

                    &:hover {
                        background-color: transparent;
                        width: 219px;
                        height: 69px;

                        .popup-rank {
                            opacity: 0;
                        }

                        .popup-rank-active {
                            right: 0;
                        }

                        .popup-title {
                            color: $color-white;
                        }
                    }
                }

                .active {
                    background-color: transparent;
                    width: 219px;
                    height: 69px;

                    .popup-rank-active {
                        right: 0;
                    }

                    .popup-title {
                        color: $color-white;
                    }
                }
            }

            .y4t-list {
                width: 100%;

                &__child {
                    display: flex;
                    justify-content: space-between;
                    position: relative;
                    height: 3px;
                    margin-bottom: 87px;
                    background-color: #F36E22;

                    &.child__3-item--list-2 {
                        background: unset;
                    }

                    &.child__1-item {
                        justify-content: flex-end;
                        width: 46%;
                        margin-left: auto;
                    }
                    &.child__1-item, &.child__2-item, &.child__3-item {
                        .y4t-item {
                            .what-they-do {
                                right: -104px;
                            }
                        }
                    }
                }
            }

            .y4t-big {
                list-style: none;
                position: relative;
                display: flex;

                .y4t-list__main-item {
                    min-width: 33.3333%;
                    max-width: 33.3333%;
                    position: relative;
                }

                .y4t-list__main-hook {
                    position: absolute;
                    top: 1px;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 3px;
                    height: auto;
                    display: flex;
                    flex-direction: column;
                    background-color: #F36E22;



                    &::after {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        transform: translateX(-25%) translateY(-40%);
                        width: 7px;
                        height: 7px;
                        border-radius: 50%;
                        background-color: #F36E22;
                    }

                    .hook-item {
                        width: 3px;
                        height: 20px;
                        margin-bottom: 70px;
                        position: relative;

                        &:last-child {
                            margin-bottom: 0;
                        }

                        &__image {
                            background-image: url(../../web/images/career-path/hook-1-test.svg);
                            background-position: center;
                            background-size: 100%;
                            background-repeat: no-repeat;
                            width: 157px;
                            height: 92px;
                            .hook-item--line {
                                height: 3px;
                                width: 100%;
                                position: absolute;
                                background-color: #F36E22;
                                top: 89px;
                                left: 20px;
                                z-index: 1;
                            }
                            .hook-item--line-2 {
                                height: 3px;
                                width: 8px;
                                position: absolute;
                                background-color: #F36E22;
                                top: 79px;
                                left: 48px;
                                z-index: 1;
                            }
                        }
                    }
                }

                &__hook {
                    height: 3px;
                    position: absolute;
                    top: 0;
                    left: 0;

                    &--image {
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        background-image: url(../../web/images/career-path/hook-main-1.svg);
                        background-repeat: no-repeat;
                        width: 115px;
                        height: 65px;
                    }
                    &--image-2 {
                        position: absolute;
                        bottom: 2px;
                        right: -46px;
                        background-image: url(../../web/images/career-path/hook-1-test.svg);
                        background-position: center;
                        background-size: 100%;
                        background-repeat: no-repeat;
                        width: 157px;
                        height: 100px;
                    }
                }

                &::after {
                    content: "";
                    position: absolute;
                    width: 3px;
                    height: 114%;
                    left: -115px;
                    top: -50px;
                    background-color: #F36E22;
                }

                &:last-child {
                    &::after {
                        display: none;
                    }
                }
            }
        }



        @media screen and (min-width: 1024px) and (max-width: 1199.98px) {
            &--top {
                padding-left: 16%;
                padding-right: 10%;
            }
        }

        @media screen and (max-width: 991.98px) {
            &--top {
                padding-left: 22%;
                padding-right: 17%;
                padding-top: 10px;
                top: 0;
                @media screen and (min-width: 768px) and (max-width: 1023.98px) {
                    top: -120px;
                }
            }

            &--y4t {
                width: 100%;

                .y4t__main-title {
                    bottom: calc(100% + 55px);
                    left: -50px;
                    .y4t-title {
                        @include setTextStyle(12px, 15px, 600);
                        max-width: 150px;
                        text-align: center;
                        position: relative;
                        left: -30px;

                        .what-they-do {
                            margin-left: 10px;
                        }
                    }
                }

                .y4t-item {
                    padding-bottom: 80px;

                    .item-popup {
                        overflow: inherit;
                        width: 0;
                        height: 0;

                        .image-3, .image-2 {
                            margin-left: 12px;
                        }

                        .popup-rank {
                            top: 0;
                            left: 0;
                            transform: translateX(-50%) translateY(-42%);
                        }

                        .popup-rank-active {
                            display: none;
                        }

                        .popup-title {
                            position: absolute;
                            padding-left: 0;
                            bottom: calc(100% + 10px);
                            max-width: 75px;
                            min-width: 75px;
                            @include setTextStyleColor(10px, 12px, 500, $color-white);
                        }

                        &:hover {
                            width: 0;
                            height: 0;

                            .popup-rank {
                                opacity: 1;
                            }
                        }
                    }

                    &:last-child {
                        .item-popup {
                            &:hover {
                                width: 0;
                                height: 0;
                            }
                        }
                    }
                }

                .y4t-list {
                    &__child {
                        margin-bottom: 77px;
                    }
                }

                .y4t-big {
                    .y4t-list__main-hook {
                        .hook-item {
                            margin-bottom: 60px;

                            &__image {
                                background-image: url(../../web/images/career-path/hook-2-covid.svg);
                                height: 82px;
                                width: 57px;
                            }
                        }
                    }

                    &__hook {
                        &--image {
                            background-image: url(../../web/images/career-path/hook-main-2.svg);
                            width: 50px;
                            height: 60px;
                        }
                    }

                    &::after {
                        left: -50px;
                    }
                }
            }
        }

        .cp-body--center {
            background: linear-gradient(90.49deg, #083240 -0.34%, #052631 99.8%);
            padding-left: 125px;
            @media screen and (max-width: 991.98px) {
                padding: 0 30px;
            }
            @media screen and (max-width: 1199.98px) and (min-width: 1024px) {
                padding: 0 60px;
            }
            &__title {
                padding: 35px 0 25px;
                width: 80%;
                @media screen and (max-width: 991.98px) {
                    width: 100%;
                }
                h4 {
                    @include setTextStyleColor (18px, 22px, 600, #fff);
                    @media screen and (max-width: 991.98px) {
                        @include setTextStyleColor (14px, 17px, 600, #fff);
                    }
                }
            }

            &__search {
                display: flex;
                padding-bottom: 50px;
                @media screen and (max-width: 991.98px) {
                    flex-direction: column;
                }

                .cp-body__search--dropdown {
                    width: 500px;
                    @media screen and (max-width: 991.98px) {
                        width: 100%;
                    }
                    .dropdown-input {
                        width: 100%;
                        height: 55px;
                        border: 0.3px solid #0E1759;
                        border-radius: 3px;
                        @include setTextStyleColor (14px, 17px, 500, #606060);
                        padding-left: 35px;
                        @media screen and (max-width: 991.98px) {
                            padding-left: 15px;
                        }
                    }
                    ::-webkit-input-placeholder { /* Edge */
                        color:  #323232;
                    }

                    :-ms-input-placeholder { /* Internet Explorer 10-11 */
                        color:  #323232;
                    }

                    ::placeholder {
                        color:  #323232;
                    }
                    .input-warning {
                        padding-top: 5px;
                        text-align: center;
                        position: absolute;
                        width: 100%;
                        @include setTextStyleColor(14px, 17px, normal, #e74243);
                    }
                    .dropdown-menu {
                        border: none;
                        border-radius: 0;
                        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
                        padding: 20px 20px 25px 35px;
                        width: 100%;
                        ::-webkit-scrollbar {
                            padding-right: 0;
                            width: 6px;
                            background-color: #adadad;
                            border-radius: 5px;
                        }
                        ::-webkit-scrollbar-thumb {
                            background-color: #525252;
                            border-radius: 5px;
                        }
                        ::-webkit-scrollbar-thumb:hover {
                            background-color: #525252;
                        }
                        @-moz-document url-prefix() {
                            .scroller {
                                scrollbar-color:#525252 #adadad ;
                                scrollbar-width: thin;
                            }
                        }

                        .dropdown-body {
                            overflow: auto;
                            width: 100%;
                            max-height: 290px;
                            height: 100%;
                            .dropdown-item {
                                transition: all 0.1s;
                                padding: 10px 0;
                                word-break: break-word;
                                white-space: normal;
                                @include setTextStyleColor (14px, 17px, 600, #323232);
                            }
                        }
                    }
                }

                .cp-body__search--submit {
                    background: #1CAC84;
                    border-radius: 7px;
                    @include setTextStyleColor (16px, 20px, 600, #fff);
                    border: none;
                    outline: none;
                    padding: 18px 70px;
                    margin-left: 8px;
                    @media screen and (max-width: 991.98px) {
                        margin-left: 0;
                        margin-top: 10px;
                    }
                }
            }
        }

        .cp-body--bottom {
            padding-bottom: 100px;
            padding-top: 50px;
            @media screen and (max-width: 991.98px) {
                padding: 0 30px;
            }
            @media screen and (max-width: 1199.98px) and (min-width: 1024px) {
                padding-left: 60px;
            }
            &__nav {
                padding: 0 8px;
                margin-bottom: 10px;

                .nav-tabs {
                    border-bottom: 1px solid #064341;
                    display: flex;
                    justify-content: center;
                    width: 80%;
                    margin: auto;

                    .nav-item {
                        padding: 0 40px;

                        .nav-link {
                            padding: 15px 8px;
                            @include setTextStyleColor(18px, 22px, 500, $color-white);
                            transition: all 0.2s;
                            border: none;
                            position: relative;

                            &::after {
                                content: "";
                                position: absolute;
                                bottom: -2px;
                                left: 50%;
                                transform: translateX(-50%);
                                height: 3px;
                                width: 0;
                                background-color: $color-red;
                                opacity: 0;
                                transition: all 0.2s;
                            }

                            &.active, &:hover {
                                background-color: transparent;
                                border: none;

                                &::after {
                                    opacity: 1;
                                    width: 100%;
                                }
                            }
                        }
                    }
                }

                

                @media screen and (max-width: 991.98px) {
                    .nav-tabs {
                        justify-content: space-around;
                        width: 100%;
                        .nav-item {
                            padding: 0;

                            .nav-link {
                                padding: 10px 4px;
                                @include setTextStyleColor(12px, 15px, 500, $color-white);
                            }
                        }
                    }
                }
                @media screen and (min-width: 768px) and (max-width: 1023.98px){
                    .nav-tabs {
                        width: 70%;
                    }
                }
            }
            .tab-content {
                padding: 0 100px;
                .story-tab {
                    .story-tab--title {
                        @include setTextStyleColor(20px, 26px, 600, #F05348);
                        padding: 20px 0 25px;
                    }
                    .story-tab--des {
                        @include setTextStyleColor(14px, 17px, 500, #e8e8e8);
                        letter-spacing: 0.3px;
                    }
                }
            }
            &__title {
                padding: 75px 0 30px;
                h4 {
                    @include setTextStyleColor (16px, 20px, 500, #fff);
                    @media screen and (max-width: 991.98px) {
                        @include setTextStyleColor (14px, 17px, 500, #fff);
                    }
                }
            }
            &__blog {
                padding: 30px 0;
                .blog-link {
                    display: flex;
                    .blog-img {
                        img {
                            width: 90%;

                        }
                    }
                    .blog-text {
                        padding-left: 5px;
                        padding-top: 5px;
                        width: 300px;
                        .blog-title {
                            @include setTextStyleColor (14px, 17px, 600, #fff);
                            padding-bottom: 10px;
                            @media screen and (max-width: 991.98px) {
                                @include setTextStyleColor (12px, 15px, 600, #fff);
                                padding-bottom: 0;
                            }
                        }
                        .blog-subtitle {
                            @include setTextStyleColor (14px, 17px, 500, #A5A5A5);
                            @media screen and (max-width: 991.98px) {
                                @include setTextStyleColor (12px, 15px, 600, #A5A5A5);
                            }
                        }
                    }
                }

            }
        }

        .modal {
            @media (min-width: 576px) {
                .modal-dialog {
                    max-width: 633px;
                }
            }

            .modal-dialog {
                .modal-content {
                    padding: 35px;
                    width: 633px;
                    background: #071820;
                    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
                    border-radius: 5px;
                    border: 1px solid transparent;
                    border-image: linear-gradient(to bottom, #F95F07 0%, #FFFFFF 31.25%);
                    border-image-slice: 5;
                    @media screen and (max-width: 991.98px) {

                        padding: 25px 10px 25px 25px;
                    }

                    .modal-header {
                        margin-left: 35px;
                        margin-right: 35px;
                        padding-left: 0;
                        @media screen and (max-height: 991.98px) {
                            margin-left: unset;
                            margin-right: unset;
                        }
                        .modal-header--text {
                            display: flex;
                            flex-direction: column;
                            .modal__title {
                                @include setTextStyleColor (14px, 24px, 500, #F36E22);
                                @media screen and (max-width: 991.98px) {
                                    @include setTextStyleColor (12px, 24px, 500, #F36E22);
                                }
                            }
                            .modal__title--sub {
                                display: flex;
                                @include setTextStyleColor (18px, 24px, 600, #FFFFFF);
                                margin-bottom: 0;
                                .modal__title--subdes {
                                    margin-top: 3px;
                                    padding-left: 10px;
                                    @include setTextStyleColor (16px, 20px, 600, #9A9A9A);
                                }
                                @media screen and (max-width: 991.98px) {
                                    @include setTextStyleColor (16px, 24px, 500, #FFFFFF);
                                    .modal__title--subdes {
                                        @include setTextStyleColor (14px, 17px, 600, #9A9A9A);
                                    }
                                }

                            }
                        }
                        .modal-header--next {
                            background: transparent;
                            border: none;
                            outline: none;
                            span {
                                @include setTextStyleColor (16px, 24px, 500, #EFA50F);
                                @media screen and (max-width: 991.98px) {
                                    @include setTextStyleColor (14px, 24px, 500, #EFA50F);
                                }
                            }
                        }
                    }
                    .modal-body {
                        @include setTextStyleColor (14px, 24px, normal, #FFFFFF);
                        overflow-y: scroll;
                        padding-top: 35px;
                        padding-left: 35px;
                        padding-right: 0;
                        @media screen and (max-width: 991.98px) {
                            @include setTextStyleColor (12px, 24px, normal, #FFFFFF);
                        }
                        p {
                            margin-bottom: 0;
                            &:nth-child(2) {
                                padding: 20px 0;
                            }
                            &:last-child {
                                padding-bottom: 10px;
                            }
                        }
                        #content {
                            margin-bottom: 40px;
                        }
                    }
                    .modal-footer {
                        border-top: none !important;
                        justify-content: center !important;
                        margin-right: 15px;
                        .close {
                            width: 115px;
                            height: 37px;
                            border-radius: 5px;
                            border: 1px solid #61676A ;
                            span {
                                @include setTextStyleColor (14px, 24px, normal, #EFEFEF);
                                text-shadow: none !important;
                            }
                        }
                    }
                    .scrollbar {
                        float: left;
                        max-height: 300px;
                        background: #071820;
                        overflow-y: scroll;
                        margin-bottom: 25px;
                        width: 100%;
                        padding: 0 35px 35px;
                        margin-top: 35px;
                        @media screen and (max-height: 991.98px) {
                            padding-left: 0;
                            padding-right: 30px;
                        }
                    }

                    .scrollbar-secondary::-webkit-scrollbar {
                        width: 4px;
                        background-color: #071820;
                        border-radius: 5px;
                    }

                    .scrollbar-secondary::-webkit-scrollbar-thumb {
                        border-radius: 10px;
                        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
                        background-color:#C4C4C4;
                    }

                    @-moz-document url-prefix() {
                        .scroller {
                            scrollbar-color: #071820 #F5F5F5 ;
                            scrollbar-width: thin;
                        }
                    }
                }
            }
        }
    }

    @-webkit-keyframes bodyFadeIn {
        from {
            opacity: 0;
            top: 100px;
        }

        to {
            opacity: 1;
            top: 0;
        }
    }
}
