//variable
$color-blue: #163442;
$color-red: #F05348;
$color-white: #fff;
$color-gray: #707070;
$color-light-gray: #a9a9a9;
$color-black: #464646;

$font-size-navbar-text: 18px;
$font-size-navbar-text-mobile: 16px;
$font-size-navbar-dropdown: 12px;
$font-size-navbar-search: 24px;
$font-size-default: 16px;
$font-size-small: 12px;
$font-size-normal-news-title: 25px;

$font-weight-lite: 300;
$font-weight-bold: 500;

$box-shadow-default: 0 3px 6px 0 rgba(0, 0, 0, 0.16);

$linear-gradient-desktop: linear-gradient(transparent, transparent, #1a1a1a);
$linear-gradient-mobile: linear-gradient(to bottom, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0.7) 100%);

html {
    overflow-x: hidden;
}

a:hover {
    text-decoration: none ;
}

body {
    background-color: #f1f1f1;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

button,
button:hover,
button:focus,
select,
select:hover,
select:focus,
input,
textarea {
    outline: none;
}

//class variable
%default-background-image {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

%default-text {
    overflow: hidden;
    display: -webkit-box;
    word-break: break-word;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

@mixin setTextStyle($font-size, $line-height, $font-weight) {
    font-size: $font-size;
    line-height: $line-height;
    font-weight: $font-weight;
}

@mixin setTextStyleColor($font-size, $line-height, $font-weight, $color) {
    font-size: $font-size;
    line-height: $line-height;
    font-weight: $font-weight;
    color: $color;
}

@media screen and (min-width: 992px) {
    .app-mobile {
        display: none !important;
    }
}

@media screen and (max-width: 991.98px) {
    .app-desktop {
        display: none !important;
    }
}

.hidden {
    display: none !important;
}

.banned-scroll {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: unset;
}

@import "header";
@import "footer";
@import "sub-nav";
@import "sub-main";
@import "candidate-path-home";
@import "candidate-path-detail";