//===========================================================================//
// HEADER SECTION
//===========================================================================//
@import "../_abstracts/_variables";
@import "../_mixins/_mediamixins";

/*home section*/
#home {

  .menu {
    /*side menu*/
    position: fixed;
    left: -225px;
    width: 225px;
    height: 100%;
    top: 0;
    z-index: 10;
    text-align: left;
    background: $menu-bg;
    a {
      /*menu links*/
      margin-left: 25px;
      margin-right: 20px;
      color: $font-color-dark;
      display: block;
      font-size: 12px;
      font-weight: 700;
      line-height: 40px;
      letter-spacing: .1em;
      text-transform: uppercase;
      &:hover {
        /*link option hover color*/
        color: $accent-color;
      }
      &:active {
        /*option active color*/
        color: $accent-color;
      }
    }
    i {
      /*menu icon*/
      padding: 7px;
    }
    .menu-wrap {
      /*menu warp class*/
      position: absolute;
      top: 0;
      left: 0;
      background: $body-color;
      width: 225px;
      height: 100%;
      overflow-y: auto;
      padding-top: 14px;
    }
    .logo-flat {
      /*menu logo*/
      height: 200px;
      margin-top: -14px;
      background: $menu-bg;
      img {
        /*logo image*/
        width: 100%;
        padding: 30px 44px 44px 44px;
      }
    }
  }

  .menu-open {
    /*set left 0 to open menu*/
    left: 0;
  }

  .body-push {
    overflow-x: hidden;
    position: relative;
    right: 0;
  }
  .body-push-toright {
    /*push to right*/
    right: 225px;
  }
  .body-push-toleft {
    /*push to left on click*/
    right: 225px;
  }
  .menu, .body-push {
    /*menu easing effect*/
    transition: all .3s ease;
  }

  #menuToggle {
    /*menu toggle style*/
    position: absolute;
    top: 20px;
    right: -65px;
    z-index: 11;
    display: block;
    text-align: center;
    font-size: 14px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    border: 1px solid rgba(93, 92, 92, 0.52);
    background: rgba(0, 0, 0, 0.06);
    transition: all .5s ease-in-out;
    &:hover {
      /*toggle hover style*/
      background: $overlay;
      transition: all .5s ease-in-out;
    }
    .toggle-normal {
      font-size: 31px;
      i {
        font-size: 31px;
        padding: 4px;
        color: $accent-color;
      }
      .top-bar {
        position: absolute;
        right: 0;
        top: -6px;
        transition: .8s;
      }
      .middle-bar {
        position: absolute;
        right: 0;
        top: 0;
        opacity: 1;
        transition: .8s;
      }
      .bottom-bar {
        position: absolute;
        right: 0;
        top: 6px;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        transition: .8s;
      }
    }
    .top-transform {
      -webkit-transform: rotate(45deg) !important;
      transform: rotate(45deg) !important;
      -webkit-transform-origin: 34% 56%;
      transform-origin: 34% 56%;
    }
    .middle-transform {
      opacity: 0 !important;
    }
    .bottom-transform {
      -webkit-transform: rotate(-45deg) !important;
      transform: rotate(-45deg) !important;
      -webkit-transform-origin: 28% 43%;
      transform-origin: 28% 43%;
    }
  }

  .header-background {
    /*home background*/
    position: relative;
    display: block;
    width: 100%;
    height: 370px;
    background: url(#{$rootPath}/images/backgrounds/background.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
  }
}