//===========================================================================//
// TIMELINE SECTION
//===========================================================================//
@import "../_abstracts/_variables";
@import "../_mixins/_mediamixins";

#timeline-education {
  /*education section*/
  position: relative;
  &:before {
    /*straight line*/
    content: '';
    position: absolute;
    top: 0;
    bottom: 23px;
    left: 50%;
    height: 99.5%;
    width: 4px;
    opacity: 0.3;
    background: $primary-color;
  }
}

#timeline-experience {
  /*experience section*/
  position: relative;
  &::before {
    /*straight line*/
    content: '';
    position: absolute;
    top: 0;
    bottom: 23px;
    left: 50%;
    height: 99.5%;
    width: 4px;
    opacity: 0.3;
    background: $primary-color;
  }
}

.timeline-block {
  /*timeline block*/
  position: relative;
  &::after {
    /*timeline block after*/
    clear: both;
    content: "";
    display: table;
  }
  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  .card-content {
    /*content*/
    padding: 20px;
    p {
      /*paragraph*/
      margin-top: 13px;
      text-align: left;
    }
    .modal-dot {
      outline: 0;
      font-size: 20px;
      &:hover,&:focus {
        color: $accent-color-dark;
      }
    }
  }

  .timeline-dot {
    /*timeline dot*/
    background: $primary-color;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    box-shadow: $box-shadow;
    z-index: 2;
    color: $white;
    text-align: center;
    position: absolute;
    top: 5px;
    right: 2%;

    i {
      /*dot icon*/
      text-align: center;
      font-size: 24px;
      margin-top: 26%;
      text-shadow: $text-shadow;
    }

    h6 {
      /*dot text*/
      padding: 0;
      font-size: 30px;
      font-weight: bold;
      margin-top: 8px;
      text-shadow: $text-shadow;
    }

  }

  .timeline-content {
    /*each timeline content*/
    position: relative;
    background: $white;
    margin-right: 0;
    z-index: 1;
    margin-bottom: 5px;
    border-left: 5px solid $accent-color;

    &::before {
      /*horizontal line*/
      content: '';
      width: 58px;
      height: 4px;
      position: absolute;
      top: 26px;
      left: 100%;
      z-index: -2;
      opacity: 0.4;
      background: $primary-color;
    }
    &::after {
      /*horizontal line*/
      clear: both;
      content: "";
      display: table;
    }
    .timeline-title {
      /*timeline blocks title*/
      max-width: 84%;
      font-weight: normal;
    }
    .timeline-info {
      /*more details*/
      h6 {
        /*subject or institution*/
        line-height: 12px;
        small {
          /*time*/
          color: inherit;
        }
      }
    }
  }
  @include phone_768 {
    .timeline-content {
      &:before {
        /*horizontal line hide at screen size*/
        display: none;
      }
    }
  }
}

@include screen_min_width_768 {
  /*properties for min width 768*/

  #timeline-education::before {
    /*vertical line for education in in min width 768 */
    left: 50%;
    margin-left: -2px;
    height: 100%;
    opacity: 0.4;
    background: $primary-color;
  }
  #timeline-experience::before {
    /*vertical line for experience in min width 768 */
    left: 50%;
    margin-left: -2px;
    height: 100%;
    opacity: 0.4;
    background: $primary-color;
  }
  .timeline-block {
    /*timeline block in min width 768*/
    margin: -5em 0;
    .card {
      margin: 0;
    }
    .timeline-dot {
      /*timeline dot in min width 768*/
      width: 50px;
      height: 50px;
      left: 50%;
      top: 0;
      z-index: 2;
      margin-left: -24px;
      -webkit-transform: translateZ(0);
      -webkit-backface-visibility: hidden;
    }
    .timeline-content {
      /*timeline content in min width 768*/
      width: 44%;
      .timeline-title {
        /*timeline title min width 768*/
        max-width: 100%;
      }
    }
    &:nth-child(even) .timeline-content {
      /*content to right*/
      float: right;
    }
    &:nth-child(even) .timeline-content::before {
      /*horizontal line*/
      top: 25px;
      left: auto;
      right: 101.2%;
      z-index: -2;
    }
  }
}


