//===========================================================================//
// V-CARD SECTION
//===========================================================================//
@import "../_abstracts/_variables";
@import "../_mixins/_mediamixins";

#v-card-holder {
  /*card holder*/
  overflow: visible;
  width: 100%;
  height: auto;
  margin-top: -194px;

  #v-card {
    /*v-card with fixed 400px height*/
    position: relative;
    width: 100%;
    overflow: hidden;
    transition: height 1s, color 1s, margin 1s;
    z-index: 1;
    background: $v-card-bg;
    margin: -33px 3px 0 0;

    .info-headings {
      /*basic infos*/
      max-width: 514px;
      h4 {
        /*name*/
        display: block;
        width: 100%;
        font-weight: $font-weight-ultra-bold;
        color: $text-icon-color;
        text-shadow: $text-shadow;
      }
      h6 {
        /*details*/
        display: block;
        width: 100%;
        font-weight: $font-weight-light;
        margin-top: -10px;
        margin-bottom: 30px;
        font-size: 1.2em;
        color: $text-icon-color;
        text-shadow: $text-shadow;
      }
    }
    .infos {
      /*detailed infos*/
      max-width: 515px;
      display: flex;
      .profile-list {
        /*list*/
        .title {
          /*info title*/
          display: block;
          float: left;
          color: $text-icon-color;
          line-height: 26px;
          i {
            /*matching icon*/
            font-size: 23px;
          }
          .fa {
            /*for font awesome*/
            padding-left: 2px;
          }
        }
        .content {
          /*infos content*/
          display: block;
          margin-left: 30px;
          font-size: 15px;
          font-weight: 400;
          line-height: 20px;
          color: $text-icon-color;
        }
      }
    }

    .links {
      /*social links*/
      max-width: 500px;
      margin-left: -12px;
      margin-top: 12px;
      height: 100%;
      .social {
        /*class*/
        margin-left: 12px;
        margin-bottom: 4px;
        i {
          /*icon*/
          font-size: 15px;
          vertical-align: middle;
          padding-bottom: 15px;
        }
      }
      @include screen_400 {
        .social {
          /*making links responsive*/
          margin: 4px;
        }
      }
      @include screen_271 {
        .social {
          /*making links responsive*/
          margin: 1px;
        }
      }
    }

    @include screen_990 {
      .infos {
        /*max width for infos*/
        max-width: unset;
      }
      .links {
        /*max width for links*/
        max-width: 325px;
      }
      .info-headings {
        /*max width for headings*/
        max-width: 270px;
      }
    }

    #profile {
      /*profile area*/
      position: absolute;
      right: 0;
      z-index: 1;

      img {
        /*user image for 400x400px image*/
        width: 400px;
        height: auto;
      }

      .slant {
        /*slant*/
        top: 0;
        z-index: 1;
        position: absolute;
        border-style: solid;
        border-width: 500px 0 0 100px;
        border-color: rgba(223, 50, 50, 0) transparent transparent $slant-bg;
      }
      .add-btn {
        /*plus button*/
        position: absolute;
        background-color: $accent-color;
        top: 20%;
        right: 86%;
        overflow: hidden;
        i {
          /*icon*/
          font-size: 35px;
          color: $white;
        }
      }
    }

  }
}

@include screen_767 {
  /*at max width 767*/
  #v-card-holder #v-card {
    /*v-card at max width 767*/
    position: relative;
    width: 100%;
    // height: auto;
    overflow: visible;
    z-index: 1;
    top: 34px;
    #profile {
      /*profile v-card at max width 767*/
      position: absolute;
      bottom: 83%;
      left: 50%;
      height: 170px;
      width: 170px;
      transform: translateX(-50%);
      z-index: 1;
      background-color: transparent;
      img {
        /*image at max width 767*/
        width: 150px;
        height: 150px;
        border-radius: 50%;
        box-shadow: $box-shadow;
      }
      .slant {
        /*hide slant*/
        display: none;
        opacity: 0;
        overflow: hidden;
      }
      .add-btn {
        /*hide add button*/
        display: none;
      }

    }
    .social {
      /*links styles at max width 767*/
      top: 0;
      margin-left: 5px;
      margin-bottom: 4px;
    }
  }

  #v-card-holder #v-card {
    .infos {
      /*infos at max width 767*/
      display: table;
      margin: 0 auto;
      max-width: 100%;
      padding: 0;
    }

    .links {
      /*links at max width 767*/
      display: table;
      max-width: 100%;
      padding: 0;
      margin: 0 auto 9px;
      #first_one {
        /*first link at max width 767*/
        margin-left: 0;
      }
    }

    .info-headings {
      /*heading at max width 767*/
      max-width: 100%;
      text-align: center;
      margin-top: 60px;

      h6 {
        margin-bottom: 20px;
      }
    }
    .card-content {
      /*content padding*/
      padding: 10px;
    }
  }
}
