@media screen and (min-width: 1500px) {
    .col-xxl-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
    .col-xxl-9 {
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
    }
}

@media screen and (min-width: 992px) {
    .sj-body {
        display: flex;
        height: 100%;

        &__left, &__right {
            .search-collapse {
                height: 100%;
                display: block!important;
            }
        }
    }

    ::-webkit-scrollbar {
        width: 8px;
    }

    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    ::-webkit-scrollbar-thumb {
        background: #888;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}

@media screen and (max-width: 1499.98px) {
    .sj-detail {
        &__inner {
            padding-left: 0;
            padding-right: 0;
        }

        &__top {
            padding-right: 20px;

            &--right {
                padding-left: 25px;
            }
        }

        &__action {

            &--button {
                padding: 0 20px;

                &.outline {
                    padding: 0 10px;
                }
            }
        }
    }

    .sj-content {
        padding: 20px 0;
        flex-wrap: wrap;
        justify-content: flex-start;

        &__item {
            width: 50%;
            padding: 10px 20px;
        }

        &__left {
            padding-right: 10px;
        }

        &__icon {
            transform: scale(.9);
        }

        &__title {
            margin-bottom: 3px;
        }
    }
}

@media screen and (max-width: 1199.98px) {
    .sj-tab {

        &__link {
            @include setTextStyleColor(14px, 16px, normal, $color_gray);

            &:before {
                height: 70%;
            }
        }
    }

    .sj-item {
        padding: 12px 12px 7px 20px;

        &__middle {
            padding-left: 20px;
        }

        &__right {
            padding-left: 15px;
        }

        &__logo {
            width: 50px;
            min-width: 50px;
            height: 50px;
            border-radius: 7px;
        }

        &__name {
            @include setTextStyle(16px, 19px, 500);
            margin-bottom: 3px;
        }

        &__job {
            @include setTextStyle(14px, 16px, normal);
            margin-bottom: 8px;
        }

        &__more {
            margin-bottom: 4px;

            &--text {
                @include setTextStyle(14px, 16px, normal);
            }
        }

        &__salary {
            img {
                transform: scale(.9);
            }
        }

        &.is-amazing {
            border-top: 1px solid #5725C3;
        }

        &__tag-amazing {
            position: absolute;
            top: 4px;
            right: 25px;
            height: 18px;
            font-size: 10px;
        }

        &.is-premium {
            border-top: 1px solid #C9A038;
        }

        &__tag-premium {
            font-size: 10px;
            line-height: 18px;
            bottom: 12px;
            right: 12px;
        }

        &__tag-hotjob {
            font-size: 10px;
            bottom: 12px;
            right: 12px;
        }
    }

    .sj-detail {

        &__top {
            padding-top: 50px;
            padding-bottom: 20px;

            &--right {
                padding-left: 15px;
            }
        }

        &__logo {
            width: 90px;
            min-width: 90px;
            height: 90px;
        }

        &__name {
            @include setTextStyle(20px, 25px, 500);
            margin-bottom: 4px;
        }

        &__job {
            @include setTextStyle(16px, 19px, normal);
            margin-bottom: 10px;
        }

        &__info {
            &--item {
                @include setTextStyle(14px, 16px, normal);
                margin-bottom: 4px;
            }
        }

        &__action {

            &--button {
                height: 35px;
                @include setTextStyle(14px, 16px, normal);
                margin-left: 7px;
                padding: 0 15px;

                i {
                    font-size: 18px;
                }

                &.outline {
                    padding: 0 10px;
                    margin-left: 0;
                }

                &:disabled {

                    &:after {
                        font-size: 16px;
                        width: 20px;
                        height: 20px;
                        top: -6px;
                        right: -6px;
                    }
                }
            }
        }

        &__nav {
            padding-left: 30px;

            &--item {
                margin-right: 15px;
            }

            &--link {
                padding: 10px 15px;
                @include setTextStyle(14px, 16px, 500);
            }
        }
    }

    .sj-content {

        &__title {
            @include setTextStyle(14px, 16px, normal);
        }

        &__value {
            @include setTextStyle(16px, 19px, 500);
        }
    }

    .sj-description {
        padding: 15px;

        &__item {
            padding: 10px 0;
        }

        &__title {
            @include setTextStyle(16px, 19px, 500);

            img {
                margin-right: 5px;
                transform: scale(.9);
            }
        }

        &__content {
            padding: 10px 20px;
            @include setTextStyle(14px, 1.5, normal);
        }

        &__tags {
            padding-left: 20px;
            display: flex;
            flex-wrap: wrap;

            span {
                height: 25px;
                padding: 0 20px;
                @include setTextStyle(14px, 16px, normal);
                margin: 0 6px 5px 0;
            }
        }

        &__media {
            &--item {
                height: 300px;
            }
        }

        &__ul {
            @include setTextStyle(14px, 1.5, normal);
        }
    }
}

@media screen and (max-width: 991.98px) {

    .module-mobile {
        &__hidden {
            display: none!important;
        }
    }

    .search-job {
        height: auto;
    }

    .sj-body {
        height: auto;
        flex-direction: column-reverse;

        &__left {
            height: auto;
            border-right: none;
        }

        &__right {
            height: auto;
        }
    }

    .sj-list {
        height: auto;

        &__scroll {
            height: auto;
            overflow: unset;
        }

        &__shadow {
            &--top, &--bottom {
                display: none;
            }
        }
    }

    .sj-item {

        &:hover, &.active {
            background-color: transparent;
        }

        &.is-amazing {

            &:hover, &.active {
                background-color: #FCFDFF;
            }
        }
    }

    .sj-back {

        &__button {
            background: none;
            border: none;
            color: $color_gray;
            height: 55px;
            width: 100%;
            padding: 0;
            display: flex;
            align-items: center;

            i {
                width: 55px;
                text-align: center;
            }
        }


        &__searchtext {
            @include setTextStyleColor(14px, 16px, normal, $color_gray);
            padding-top: 2px;
        }
    }

    .sj-detail {
        height: auto;

        &__top {
            padding-top: 10px;
            padding-right: 15px;
        }

        &__shadow {
            &--top, &--bottom {
                display: none;
            }
        }
    }

    .sj-description {

        &__media {
            &--item {
                height: 200px;
            }
        }
    }

    .modal-apply {
        .modal {

            &-header {
                padding: 12px;

                .close {
                    font-size: 18px;
                    padding-right: 20px;
                }

                &__job {
                    display: flex;
                    align-items: center;

                    &--left {
                        padding-right: 15px;
                    }

                    &--image {
                        height: 22px;
                    }

                    &--name {
                        @include setTextStyle(16px,19px, normal);
                    }

                    &--company {
                        @include setTextStyle(12px, 14px, normal);
                    }
                }
            }

            &-form {

                &__body {
                    padding: 5px 20px;
                }

                &__title {
                    @include setTextStyle(14px, 16px, 500);
                    padding: 12px 0;
                }

                &__control {
                    padding: 3px 0 5px 0;
                    flex-direction: column;
                }

                &__label {
                    width: 100%;
                    min-width: 100%;
                    margin-right: 0;
                    @include setTextStyle(14px, 16px, normal);
                    padding-top: 0;
                    margin-bottom: 4px;
                }

                &__input {
                    height: 30px;
                    padding: 0 10px;
                    @include setTextStyle(14px, 16px, normal);
                }

                &__toggle {
                    margin-bottom: 10px;

                    &--title {
                        @include setTextStyle(12px, 12px, 500);
                        margin-right: 10px;

                        img {
                            margin-left: 5px;
                        }
                    }

                    &--radio {
                        width: 20px;
                        height: 20px;
                        margin-right: 10px;
                    }

                    &--info {
                        @include setTextStyle(12px, 12px, normal);
                    }
                }

                &__or {

                    &--text {
                        @include setTextStyle(12px, 14px, normal);
                        padding: 0 9px;
                    }
                }

                &__new {
                    @include setTextStyleColor(12px, 14px, 500, #525252);
                    padding: 3px 10px;

                    img {
                        margin-right: 5px;
                        transform: scale(.8);
                    }
                }

                &__submit {
                    padding: 10px 15px;

                    &--cancel, &--button {
                        height: 35px;
                        @include setTextStyle(14px, 16px, normal);
                        padding: 0 20px;
                    }

                    &--cancel {
                        margin-right: 5px;
                    }
                }

                &__success {
                    padding: 30px;

                    &--title {
                        @include setTextStyle(16px, 19px, 500);

                        i {
                            font-size: 18px;
                        }
                    }

                    &--text {
                        @include setTextStyle(14px, 16px, 500);
                    }
                }
            }
        }
    }

    .sj-mobile {
        &__navigation {
            position: fixed;
            bottom: -100px;
            left: 0;
            width: 100%;
            display: flex;
            padding-bottom: 10px;
            justify-content: center;
            align-items: flex-end;
            transition: all .3s;
            background-color: $color_white;
            z-index: 99;

            &--back, &--save, &--apply {
                padding: 0;
                justify-content: center;
                align-items: center;
                border: none;
                height: 50px;
            }

            &--back {
                width: 15vw;
                border-radius: 0;
                border-top: 1px solid $color_gray;
                border-bottom: 1px solid $color_gray;
                background-color: $color_white;
                color: $color_gray;
                font-size: 20px;
            }

            &--apply {
                width: 70vw;
                border-radius: 0;
                background-color: #1C4355;
                color: $color_white;
            }

            &--save {
                width: 15vw;
                border-radius: 0;
                background-color: $searchjobs_red;
                color: $color_white;
                font-size: 20px;

                &.saved {
                    i {
                        font-weight: 900;
                    }
                }
            }

            &.show {
                bottom: 0;
            }
        }
    }

    .error-text {
        @include setTextStyle(10px, 12px, normal);
        min-height: 12px;
    }
}


@media screen and (max-width: 575.98px) {
    .sj-detail {

        &__top {
            position: relative;

            &--right {
                padding-bottom: 40px;
            }
        }

        &__logo {
            width: 70px;
            min-width: 70px;
            height: 70px;
            margin-top: 5px;
        }

        &__action {
            position: absolute;
            bottom: 20px;
            left: 50%;
            transform: translateX(-50%);
            padding-right: 8px;
        }

        &__nav {
            padding-left: 0;
            display: flex;
            justify-content: center;

            &--item {
                margin-right: 0;
            }
        }
    }
}