body {
    padding-top: 0;
}

.search-job {
    width: 100%;
    height: 100vh;
    padding-top: 64px;
    background-color: $color_white;
}

.detail-job {
    width: 100%;
}

.cdd-box {
    margin-top: 43px;
    background-color: $color_white;
    border: 0.5px solid #B8B8B8;
}

.sj-body {
    display: flex;
    height: 100%;

    &__left {
        height: 100%;
        display: flex;
        flex-direction: column;
        border-right: 1px solid #C4C4C4;
    }

    &__right {
        height: 100%;
        display: flex;
        flex-direction: column;
    }
}

.sj-tab {
    height: 60px;
    min-height: 60px;

    &__nav {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__item {
        flex: 3;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all .2s;
        height: 100%;

        &.active {
            flex: 4;

            .sj-tab__link {
                cursor: default;
            }
        }
    }

    &__link {
        @include setTextStyleColor(16px, 19px, normal, $color_gray);
        display: flex;
        align-items: center;
        justify-content: center;
        white-space: nowrap;
        text-align: center;
        position: relative;
        overflow: hidden;
        transition: .3s;
        z-index: 1;
        width: 100%;
        height: 100%;

        &:before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            width: 80%;
            height: 80%;
            transform: translate(-50%, -50%) scale(.5);
            opacity: 0;
            border-radius: 10px;
            background-color: $color_gray;
            z-index: -1;
            transition: .2s;
        }

        &:hover {
            color: $color_black;

            &:before {
                transform: translate(-50%, -50%) scale(.8);
                opacity: .1;
            }
        }

        &.active {
            color: $color_black;
            font-weight: 500;

            &:before {
                width: 70%;
                transform: translate(-50%, -50%) scale(1);
                opacity: .1;
            }
        }
    }
}

.sj-list {
    height: calc(100% - 60px);
    overflow: hidden;
    position: relative;

    &__scroll {
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
    }

    &__shadow {
        &--top {
            position: absolute;
            top: -1px;
            left: 0;
            width: 100%;
            height: 1px;
            box-shadow: 0 0 8px 0 #eee;
        }

        &--bottom {
            position: absolute;
            bottom: -1px;
            left: 0;
            width: 100%;
            height: 1px;
            box-shadow: 0 0 8px 10px #eee;
        }
    }
}

.sj-item {
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: center;
    padding: 15px 15px 15px 25px;
    border-top: 1px solid #EFEFEF;
    transition: all .2s;

    &__left {
        width: 100%;
        display: flex;
        cursor: pointer;
    }

    &__middle {
        padding-left: 20px;
        width: 100%;
    }

    &__right {
        padding-left: 20px;
    }

    &__logo {
        @extend %default-background-image;
        background-size: contain;

        width: 90px;
        min-width: 90px;
        height: 90px;
        border-radius: 10px;
        color: transparent;
        font-size: 0;
    }

    &__name {
        @include setTextStyleColor(18px, 22px, 500, #4F4E4E);
        @extend %default-text;
        margin-bottom: 4px;
    }

    &__job {
        @include setTextStyleColor(16px, 19px, normal, #656565);
        @extend %default-text;
        margin-bottom: 12px;
    }

    &__more {
        display: flex;
        align-items: center;
        margin-bottom: 4px;

        &--text {
            @extend %default-text;
            @include setTextStyle(16px, 19px, normal);
            margin-bottom: 0;
        }
    }

    &__salary {
        color: #1C4355;

        img {
            margin-right: 10px;
            position: relative;
            top: -1px;
        }
    }

    &__province {
        color: #878787;

        i {
            position: relative;
            top: -1px;
            margin-right: 12px;
        }
    }

    &__save {
        width: 30px;
        height: 30px;
        border: none;
        display: flex;
        font-size: 20px;
        position: relative;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        color: rgba(0, 0, 0, 0.65);
        transition: all .1s;
        border-radius: 4px;
        padding: 0;

        &:hover {
            color: $color_black;
        }

        &:active {
            transform: scale(.9);
        }

        &.saved {
            color: $searchjobs_red;

            i {
                font-weight: 900 !important;
            }
        }
    }

    &:hover, &.active {
        background-color: #EFEFEF;
    }

    &.is-amazing {
        border-top: 2px solid #5725C3;
        background-color: #FCFDFF;

        &:hover, &.active {
            background-color: #edf3ff;
        }

        .sj-item__name {
            color: #5725C3;
        }

        .sj-item__more {
            padding-right: 23px;
        }
    }

    &__tag-amazing {
        position: absolute;
        top: 4px;
        right: 30px;
        height: 21px;
        transform: translate(50%, 50%) rotate(38deg);
        padding: 0 25px;
        font-size: 12px;
        line-height: 18px;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        background-image: linear-gradient(90deg, #5725C3 0%, #478EF7 100%);

        i {
            font-size: 10px;
            position: relative;
            top: -1px;
            margin-right: 3px;
        }
    }

    &.is-premium {
        border-top: 2px solid #C9A038;

        &:hover, &.active {
            background-color: #fffbed;
        }
    }

    &__tag-premium {
        position: absolute;
        bottom: 20px;
        right: 15px;
        padding: 0 6px;
        font-size: 12px;
        line-height: 20px;
        color: #fff;
        display: flex;
        border-radius: 3px;
        overflow: hidden;
        background: linear-gradient(180deg, #C28F0D 0%, #E3B645 100%);

        i {
            font-size: 10px;
            position: relative;
            top: -1px;
            margin-right: 3px;
        }
    }

    &__tag-hotjob {
        position: absolute;
        bottom: 20px;
        right: 15px;
        padding: 0 5px;
        font-size: 12px;
        line-height: 18px;
        color: #fff;
        display: flex;
        border-radius: 3px;
        overflow: hidden;
        background-color: #FF5661;

        i {
            font-size: 10px;
            position: relative;
            top: -1px;
            margin-right: 3px;
        }
    }
}

.sj-pagination {
    border-top: 1px solid #E7E7E7;

    &__element {
        height: 32px;
        margin: 0 4px;
        border-radius: 2px;
        border: 1px solid #D9D9D9;
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all .2s;
        @include setTextStyleColor(14px, 16px, normal, $color_big_title);
    }

    &__button {
        width: 32px;

        &:hover {
            border: 1px solid $color_big_title;
        }

        &:active {
            transition: .1s;
            transform: scale(.95);
        }

        &:disabled {
            color: #D9D9D9;
            cursor: not-allowed;

            &:hover {
                border: 1px solid #D9D9D9;
            }
        }
    }

    &__input {
        width: 70px;
        text-align: center;

        &:focus {
            border-color: $color_big_title;
        }
    }

    &__text {
        border: none;
    }
}

.sj-detail {
    position: relative;
    height: 100%;
    overflow: hidden;

    &__scroll {
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
    }

    &__inner {
        padding-left: 45px;
        padding-right: 120px;
    }

    &__top {
        padding-top: 60px;
        padding-bottom: 30px;
        padding-left: 15px;
        display: flex;

        &--left {

        }

        &--right {
            padding-left: 50px;
            width: 100%;
        }
    }

    &__logo {
        @extend %default-background-image;
        background-size: contain;
        width: 130px;
        min-width: 130px;
        height: 130px;
        border-radius: 10px;
        color: transparent;
        font-size: 0;
    }

    &__name {
        @include setTextStyleColor(28px, 32px, 500, #4F4E4E);
        word-break: break-word;
        margin-bottom: 6px;
    }

    &__job {
        @include setTextStyleColor(24px, 28px, normal, #656565);
        margin-bottom: 15px;
    }

    &__info {
        margin-bottom: 5px;
        margin-right: auto;

        &--item {
            @include setTextStyleColor(18px, 21px, normal, #878787);
            margin-bottom: 5px;
        }
    }

    &__action {
        display: flex;

        &--button {
            height: 44px;
            background-color: #1C4355;
            border-radius: 7px;
            padding: 0 35px;
            border: none;
            @include setTextStyleColor(16px, 19px, normal, $color_white);
            transition: all .2s;
            margin-right: 15px;
            white-space: nowrap;

            i {
                font-size: 22px;
            }

            &:hover {
                background-color: $searchjobs_red;
            }

            &:active {
                transform: scale(.95);
                transition: all .1s;
            }

            &.outline {
                background-color: $color_white;
                margin-right: 0;
                padding: 0 20px;
                color: #1C4355;

                &:hover {
                    background-color: #E7E7E7;
                }
            }

            &.saved {
                color: $searchjobs_red;

                i {
                    font-weight: 900 !important;
                }
            }

            &:disabled {
                position: relative;
                background-color: $searchjobs_red;
                cursor: not-allowed;

                &:after {
                    content: '\f058';
                    font-family: "Font Awesome 5 Free", Roboto, Arial, Helvetica, sans-serif;
                    font-weight: 900;
                    font-size: 20px;
                    width: 25px;
                    height: 25px;
                    position: absolute;
                    top: -7px;
                    right: -7px;
                    z-index: 1;
                    color: #167c19;
                    border-radius: 50%;
                    background-color: $color_white;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }

    &__nav {
        padding-left: 57px;

        &--item {
            margin-right: 25px;
        }

        &--link {
            display: flex;
            padding: 15px 30px;
            @include setTextStyleColor(18px, 21px, 500, #6F6F6F);
            text-transform: uppercase;
            transition: all .3s;
            position: relative;

            &:before {
                content: '';
                position: absolute;
                bottom: -2px;
                left: 50%;
                width: 0;
                height: 3px;
                transition: all .3s;
                z-index: 2;
                background-color: #6F6F6F;
                transform: translateX(-50%);
            }

            &:hover {
                color: #6F6F6F;

                &:before {
                    width: 100%;
                }
            }

            &.active {
                color: $searchjobs_red;

                &:before {
                    background-color: $searchjobs_red;
                    width: 100%;
                }
            }
        }
    }

    &__shadow {
        &--top {
            position: absolute;
            top: -1px;
            left: 0;
            width: 100%;
            height: 1px;
            box-shadow: 0 0 8px 0 #eee;
        }

        &--bottom {
            position: absolute;
            bottom: -1px;
            left: 0;
            width: 100%;
            height: 1px;
            box-shadow: 0 0 8px 10px #eee;
        }
    }
}

.tab-content {
}

.sj-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 40px 0;
    background-color: #FCFCFC;
    border-top: 1px solid #E7E7E7;
    border-bottom: 1px solid #E7E7E7;

    &__item {
        display: flex;
        align-items: center;
    }

    &__left {
        padding-right: 14px;
    }

    &__title {
        @include setTextStyleColor(16px, 19px, normal, #4F4E4E);
        margin-bottom: 3px;
    }

    &__value {
        @include setTextStyleColor(18px, 21px, 500, #4F4E4E);
    }
}

.sj-description {
    padding: 30px 20px;

    &__item {
        padding: 15px 0;
    }

    &__title {
        display: flex;
        align-items: center;
        @include setTextStyleColor(18px, 22px, 500, #464545);
        text-transform: uppercase;

        img {
            margin-right: 8px;
        }
    }

    &__content {
        padding: 20px 40px;
        word-break: break-word;
        white-space: pre-line;
    }

    &__tags {
        padding-left: 30px;
        display: flex;
        flex-wrap: wrap;

        span {
            height: 31px;
            padding: 0 40px;
            background-color: #E9E9E9;
            @include setTextStyleColor(16px, 19px, normal, $color_black);
            margin: 0 12px 10px 0;
            border-radius: 16px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    &__media {
        &--item {
            @extend %default-background-image;
            padding: 0 7px;
            height: 350px;
        }
    }
}

.modal-apply {
    .modal {
        &-content {
            background: #FFFFFF;
            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
            border-radius: 4px 4px 0 0;
            border: none;
        }

        &-header {
            align-items: center;
            padding-left: 30px;
            border-bottom: none;

            .close {
                font-size: 25px;
                padding-right: 25px;
            }

            &__job {
                display: flex;
                align-items: center;

                &--left {
                    padding-right: 20px;
                }

                &--right {

                }

                &--image {
                    height: 40px;
                    width: auto;
                }

                &--name {
                    @include setTextStyleColor(18px, 21px, normal, $searchjobs_red);
                    @extend %default-text;
                    margin-bottom: 3px;
                }

                &--company {
                    @include setTextStyleColor(14px, 16px, normal, $color_gray);
                    @extend %default-text;
                    margin-bottom: 0;
                }
            }
        }

        &-body {
            padding: 0;
        }

        &-form {
            display: block;

            &__body {
                padding: 20px 35px 10px 35px;
                background-color: #F9F9F9;
            }

            &__title {
                @include setTextStyleColor(18px, 21px, 500, $color_gray);
                text-transform: uppercase;
                padding: 15px 0;
                margin-bottom: 0;
            }

            &__control {
                display: flex;
                padding: 5px 30px 8px 0;
            }

            &__label {
                width: 110px;
                min-width: 110px;
                margin-right: 30px;
                margin-bottom: 0;
                @include setTextStyleColor(16px, 19px, normal, $color_gray);
                padding-top: 4px;
            }

            &__input {
                height: 32px;
                width: 100%;
                padding: 0 10px;
                background-color: $color_white;
                border: 1px solid #EEEEEE;
                border-radius: 2px;
                color: #6F6F6F;
                transition: all .2s;

                &:focus {
                    border-color: #6F6F6F;
                }

                &:read-only {
                    background-color: #F3F3F3;
                    cursor: default;

                    &:focus {
                        border-color: #EEEEEE;
                    }
                }
            }

            &__toggle {
                display: flex;
                margin-bottom: 15px;

                &--item {
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                    margin-bottom: auto;
                }

                &--title {
                    @include setTextStyleColor(14px, 16px, 500, #6F6F6F);
                    margin-right: 15px;
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;

                    img {
                        margin-left: 7px;
                        position: relative;
                        top: -1px;
                    }
                }

                &--radio {
                    width: 24px;
                    height: 24px;
                    display: flex;
                    position: relative;
                    background-color: $color_white;
                    border: 1px solid #BFBFBF;
                    border-radius: 50%;
                    cursor: pointer;
                    overflow: hidden;
                    margin-right: 15px;

                    &:before {
                        content: '';
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        width: 0;
                        height: 0;
                        transform: translate(-50%, -50%);
                        background-color: #43BF24;
                        transition: all .3s;
                        border-radius: 50%;
                        opacity: 0;
                        z-index: 2;
                    }

                    &:hover {
                        &:before {
                            width: 50%;
                            height: 50%;
                            opacity: 0.4;
                            transition: all .1s;
                        }
                    }
                }

                &--input:checked {
                    & + .modal-form__toggle--radio {
                        &:before {
                            width: 60%;
                            height: 60%;
                            opacity: 1;
                        }
                    }
                }

                &--info {
                    @include setTextStyleColor(14px, 16px, normal, #6F6F6F);
                }

                &--link, &--delete {
                    color: $searchjobs_red;
                    margin-left: 3px;
                    cursor: pointer;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }

            &__or {
                width: 100%;
                display: flex;
                justify-content: center;
                position: relative;
                z-index: 1;

                &--text {
                    @include setTextStyleColor(14px, 16px, normal, #6F6F6F);
                    display: flex;
                    padding: 0 11px;
                    background-color: #F9F9F9;
                }

                &:before {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 0;
                    width: 100%;
                    height: 1px;
                    background-color: #C4C4C4;
                    z-index: -1;
                }
            }

            &__new {
                background-color: #E9E8E8;
                cursor: pointer;
                @include setTextStyleColor(14px, 16px, 500, #525252);
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 6px 10px;
                border-radius: 3px;
                transition: all .1s;
                position: relative;
                margin-bottom: 0;

                img {
                    margin-right: 7px;
                }

                &:active {
                    transform: scale(.97);
                }
            }

            &__submit {
                display: flex;
                justify-content: flex-end;
                padding: 12px 20px;

                &--cancel, &--button {
                    height: 40px;
                    @include setTextStyle(16px, 19px, normal);
                    padding: 0 20px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: none;
                    border-radius: 5px;
                    transition: all .2s;

                    &:active {
                        transition: .1s;
                        transform: scale(.95);
                    }
                }

                &--cancel {
                    color: $color_black;
                    background-color: transparent;
                    margin-right: 8px;

                    &:hover {
                        background-color: #F3F3F3;
                    }
                }

                &--button {
                    color: $color_white;
                    background-color: $searchjobs_red;
                }
            }

            &__success {
                display: flex;
                flex-direction: column;
                padding: 35px 30px 50px 30px;
                align-items: center;
                background-color: #F9F9F9;

                &--title {
                    margin-bottom: 15px;
                    text-align: center;
                    @include setTextStyleColor(18px, 22px, 500, #6f6f6f);
                    text-transform: uppercase;

                    i {
                        margin-left: 5px;
                        color: #25AE88;
                        font-size: 20px;
                    }
                }

                &--text {
                    @include setTextStyleColor(16px, 19px, 500, #7A7A7A);
                    text-align: center;
                    margin-bottom: 0;
                    margin-top: 40px;
                }

                &--link {
                    color: $searchjobs_red;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

.error-text {
    @include setTextStyleColor(12px, 14px, normal, $color_red);
    min-height: 14px;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 3px;
}

.required-form {
    &:after {
        content: '*';
        color: $color_red;
    }
}

.error-input {
    border: 1px solid $color_red !important;
}

.error-form .select2-selection,
.error-form .bootstrap-tagsinput,
.error-form .tox-tinymce {
    border: 1px solid $color_red !important;
}