.edit-button {
    border: none;
    background-color: transparent;
    margin-left: 20px;
    padding: 4px 14px;
    transition: 0.3s;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
    @include setTextStyleColor(18px, 30px, normal, $color-white);

    &:focus {
        box-shadow: none;
    }
}

.image-edit-button {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    margin-left: 20px;
    padding: 4px 14px;
    transition: 0.3s;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
    @include setTextStyleColor(18px, 30px, normal, $color-white);

    &:focus {
        box-shadow: none;
    }

    &.image-background {
        top: 10px;
        right: 10px;
    }
}

.gallery-relative {
    .edit-gallery {
        position: absolute;
        top: unset !important;
        bottom: 0 !important;
        left: unset !important;
        right: 0 !important;
        width: 80px;
        height: 0;
        display: flex;
        z-index: 10;
        justify-content: space-between;
        align-items: center;
        overflow: hidden;
        opacity: 0;
        transition: all 0.3s;

        &__item {
            width: 35px;
            height: 35px;
            padding: 0;
            display: flex;
            box-shadow: none;
            transition: all 0.3s;
            align-items: center;
            justify-content: center;
            background-color: $color_green_dark;
            cursor: pointer;
            border: none;
            border-radius: 4px;


            i {
                position: initial;
                color: $color_white;
                transition: all 0.2s;
            }

            &:hover {
                background-color: $color_white;

                i {
                    color: $color_green_dark;
                }
            }
        }
    }

    &:hover {
        .edit-gallery {
            bottom: 15px !important;
            right: 15px !important;
            opacity: 1;
            height: 35px;
        }
    }

    @media screen and (max-width: 991.98px) {
        .edit-gallery {
            bottom: 15px !important;
            right: 15px !important;
            opacity: 1;
            height: 35px;
        }
    }
}

.timeline-edit {
    transition: all 0.3s;

    .edit-area {
        position: absolute;
        right: 5px;
        top: 10px;
        width: 0;
        overflow: hidden;
        transition: all 0.3s;
        display: flex;
        padding: 5px 0;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        border-radius: 5px;
        background-color: $color_blue_background;
        box-shadow: 0 0 10px $color_blue_background;

        &__button {
            height: 35px;
            width: 50px;
            transition: all 0.2s;
            border: none;
            border-radius: 5px;
            background-color: transparent;
            margin: 1px 5px;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            i {
                font-size: 16px;
                color: $color_white;
            }

            &:hover {
                background-color: $color_green;

                i {
                    transform: unset !important;
                }
            }
        }

        @media screen and (max-width: 991.98px) {
            width: 60px;
        }
    }

    &:hover {

        .edit-area {
            width: 60px;
        }
    }

    .project-info {
        display: flex;
        flex-direction: column;

        .info-item {
            display: flex;
            padding-top: 15px;
        }

        .info-title {
            @include setTextStyleColor(14px, 16px, normal, $color_white);
            padding-right: 15px;
            white-space: nowrap;
        }

        .info-value {
            @include setTextStyleColor(14px, 16px, normal, $color_gray_light);
        }

        .info-tag {
            display: flex;
            flex-wrap: wrap;
            position: relative;
            top: -2px;

            span {
                @include setTextStyleColor(12px, 20px, normal, $color_white);
                padding: 0 8px;
                margin: 0 8px 5px 0;
                border: 1px solid #0BBBA0;
                border-radius: 2px;
            }
        }
    }
}

.skill-edit {
    display: flex;

    .edit-view {
        width: 100%;
    }

    .edit-area {
        min-width: 0;
        width: 0;
        height: 30px;
        overflow: hidden;
        transition: all 0.3s;
        display: flex;
        justify-content: flex-end;

        &__button {
            height: 30px;
            width: 30px;
            transition: all 0.2s;
            padding: 0;
            background-color: transparent;
            box-shadow: none !important;
            border: none;
            cursor: pointer;

            i {
                font-size: 16px;
                color: $color_white;
                transition: all 0.2s;
            }
        }

        @media screen and (max-width: 991.98px) {
            min-width: 70px;
            width: 70px;
        }
    }

    &:hover {
        .edit-area {
            min-width: 70px;
            width: 70px;
        }
    }
}

.knowledge-edit {
    padding-left: 30px;
    list-style-type: none;
    padding-bottom: 5px;

    .edit-area__button {
        position: relative;
        cursor: pointer;
        margin-left: 8px;
        visibility: hidden;
        opacity: 0;
        color: $color_gray;
        transition: all 0.2s;

        @media screen and (max-width: 991.98px) {
            transform: scale(1);
            display: inline;
            opacity: 1;
            visibility: inherit;
        }
    }

    .knowledge-action-btn {
        position: absolute;
        top: 0;
        right: 0;
        width: 0;
        height: auto;
        opacity: 0;
        transition: all 0.2s;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &:hover {
        .knowledge-action-btn {
            opacity: 1;
            width: 50px;
        }

        .edit-area__button {
            transform: scale(1);
            display: inline;
            opacity: 1;
            visibility: inherit;
        }
    }

    &:before {
        font-family: "Font Awesome 5 Free", Arial, Helvetica, sans-serif;
        content: "\f00c";
        position: absolute;
        top: 0;
        left: 5px;
        font-weight: 900;
        color: #2ECA7F;
    }

    @media screen and (max-width: 991.98px) {
        display: flex;
        justify-content: space-between;

        .knowledge-action-btn {
            position: relative;
            margin-left: 10px;
            min-width: 50px;
            opacity: 1;
        }
    }
}