@mixin setTextStyleColor($font-size, $line-height, $font-weight, $color) {
  font-size: $font-size;
  line-height: $line-height;
  font-weight: $font-weight;
  color: $color;
}

@mixin setTextStyle($font-size, $line-height, $font-weight) {
  font-size: $font-size;
  line-height: $line-height;
  font-weight: $font-weight;
}

button,
button:hover,
button:focus,
select,
select:hover,
select:focus,
input,
textarea {
  outline: none;
}

%default-background-image {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

%default-text {
  overflow: hidden;
  display: -webkit-box;
  word-break: break-word;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.hidden {
  display: none !important;
}

.banned-scroll {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.position-relative {
  position: relative;
}

.color-red {
  color: $color-red !important;
}

.color-green {
  color: $color-green !important;
}

[type=button], [type=reset], [type=submit], button {
  -webkit-appearance: unset;
  -moz-appearance: unset;
}

input[type=number] {
  -moz-appearance: textfield;
}

.color-gray {
  color: $color_gray_light !important;
}

@media screen and (min-width: 992px) {
  .app-mobile {
    display: none !important;
  }
}

@media screen and (max-width: 991.98px) {
  .app-desktop {
    display: none !important;
  }
}