.maha-modal {
    background: rgba(112, 112, 112, 0.5);
}


.maha-dialog {

    .modal-content {
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        border: none;
        background-color: $color_black_popup_background;

        .modal-header {
            position: relative;
            height: 70px;
            padding-top: 25px;
            padding-bottom: 0;
            padding-left: 60px;
            display: flex;
            align-items: flex-end;

            .close {
                position: absolute;
                right: 30px;
                top: 50%;
                bottom: unset;
                transform: translateY(-50%);
                border: none;
                box-shadow: none;
                padding: 0;
                margin: 0;
                color: $color_gray_border;
                text-shadow: none;
            }

            .modal-title {
                @include setTextStyleColor(18px, 21px, bold, $color_white);
                position: relative;
                top: 1px;
                height: 100%;
                padding: 0 5px;
            }
        }

        .modal-body {
            padding-top: 45px;
            padding-bottom: 0;
        }

        .modal-footer {
            border-top: none;
            justify-content: center;
            flex-direction: column;
            padding-bottom: 30px;
            background-color: $color_black_popup_background;

            .button-submit {
                height: 45px;
                background-color: $color-green_dark;
                box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
                border-radius: 20px;
                color: $color_white;
                padding: 0;
                width: 70%;
                margin: 0 !important;
            }
        }
    }

    @media screen and (max-width: 991.98px) {
        .modal-content {
            .modal-header {
                height: 60px;
                padding-top: 20px;
                padding-left: 15px;
                justify-content: center;

                .close {
                    right: unset;
                    left: 20px;
                }

                .modal-title {
                    font-size: 14px;
                    line-height: 16px;
                }
            }

        }
    }

    @media screen and (max-width: 767.98px) {

        .modal-content {
            border-radius: 0;
            min-height: 100vh;

            .modal-body {
            }

        }
    }

    @media screen and (max-width: 575.98px) {
        margin: 0;

        .modal-content {
            box-shadow: none;
            border-radius: 0;
            height: 100vh;
            min-height: 100vh;
            overflow: auto;

            .modal-form {
                height: 100%;
            }

            .modal-body {
                padding: 30px 3% 100px 3%;
            }

            .modal-footer {
                position: fixed;
                bottom: 0;
                padding: 0;
                width: 100%;
                box-shadow: 0 0 10px 10px $color_black_popup_background;

                .button-submit {
                    height: 55px;
                    box-shadow: none;
                    border-radius: 0;
                    width: 100%;
                }
            }
        }
    }
}

.popup-form-control {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;

    .form-label {
        @include setTextStyleColor(14px, 16px, 500, #fff);
        padding-bottom: 10px;
        margin-bottom: 0;
    }

    .form-input {
        width: 100%;
        height: 45px;
        border: 1px solid $color_gray;
        border-radius: 5px;
        padding: 0 10px;
        background-color: transparent;
        @include setTextStyleColor(16px, 19px, 300, $color_white);
        transition: all 0.2s;

        &::placeholder {
            color: $color_gray;
        }

        &:focus {
            &::placeholder {
                color: transparent;
            }
        }
    }

    .input__textarea {
        height: auto;
        padding: 15px 10px;
        resize: none;
    }

    @media screen and (max-width: 767.98px) {

        .form-label {
            font-size: 12px;
            line-height: 14px;
            padding-bottom: 5px;
        }

        .form-input {
            height: 40px;
            @include setTextStyleColor(14px, 16px, 300, $color_white);
        }
    }
}

.invalid-input {
    border-color: $color-red !important;
    transition: 0s;
}

.form-submit-error {
    display: block;
    min-height: 14px;
    margin-top: 3px;
    margin-bottom: 8px;
    margin-right: 0 !important;
    @include setTextStyleColor(14px, 16px, 500, $color-red !important);

    @media screen and (max-width: 575.98px) {
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

.error-text {
    @extend .form-submit-error;
    font-size: 12px;
    line-height: 14px;

    span {
        color: $color-red !important;
    }

    @media screen and (max-width: 767.98px) {
        margin-top: 0;
        margin-bottom: 5px;
    }
}

.input__dropdown {

    .form-input {
        cursor: pointer;
    }

    .dropdown-menu {
        border: 1px solid $color_green_dark;
        border-radius: 5px;
        width: 100%;
        height: 0;
        padding: 0;
        transition: all 0.1s;
        display: block;
        overflow: hidden;
        opacity: 0;
        background-color: $color_blue_dropdown;
        transform: translate3d(0, calc(100% - 32px), 0px) !important;

        li {
            padding: 8px 10px;
            @include setTextStyleColor(14px, 16px, normal, $color_white);
            cursor: pointer;
            transition: all 0.2s;

            &:hover {
                background-color: #2eca7f36;
            }
        }
    }

    &.show {
        .dropdown-menu {
            height: 74px;
            padding: 5px 0;
            transition: all 0.4s;
            transform: scale(1.07) translateY(2px);
            opacity: 1;
        }
    }

    &.input__dropdown--big {

        &.show .dropdown-menu,
        .form-input:focus + .dropdown-menu {
            height: 250px;
            padding: 5px 0;
            transform: scale(1.07) translateY(8px);
            overflow: auto;
            transition: all 0.4s;
        }
    }
}

.input-gallery {
    width: 300px;
    height: 150px;
    margin: 20px auto 20px auto;
    position: relative;
    cursor: pointer;

    input {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        cursor: pointer;
    }

    .input-gallery-view {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: $color_gray_gallery;
        border: 1px solid $color_gray_border;
        border-radius: 2px;
        cursor: pointer;

        p {
            @include setTextStyleColor(16px, 25px, normal, $color_white);
            padding-top: 5px;
            margin-bottom: 0;
        }

        span {
            @include setTextStyleColor(14px, 22px, normal, $color_gray);
            margin-bottom: 0;
        }
    }
}

.input-gallery-list {
    margin-left: -7px;
    margin-right: -7px;

    .list-col {
        padding-left: 7px;
        padding-right: 7px;
        padding-bottom: 10px;
    }

    .gallery-item {
        height: 56px;
        width: 100%;
        display: flex;
        align-items: center;
        padding: 3px;
        border: 1px solid $color_white;

        &__image {
            height: 100%;
            min-width: 50px;
            @extend %default-background-image;
        }

        &__title {
            @include setTextStyleColor(14px, 16px, normal, $color_white);
            @extend %default-text;
            -webkit-line-clamp: 3;
            width: 100%;
            height: auto;
            padding: 0 5px;
        }

        &__delete {
            height: 100%;
            width: 30px;
            border: none;
            background-color: transparent;
            box-shadow: none;
            color: $color_gray;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 0.2s;
            cursor: pointer;

            &:hover {
                color: $color-red;
            }
        }
    }
}

.form-time {
    display: flex;
    align-items: center;
    margin: 2px 0;

    &__label {
        width: 60px;
        margin-bottom: 0;
        @include setTextStyleColor(16px, 19px, 300, $color_black);
    }

    &__input {
        width: 85px;
        margin-right: 25px;
        margin-bottom: 0;

        &-long {
            width: 120px;
        }
    }
}

.form-time__current {
    display: flex;
    margin-top: 10px;

    .form-time__current--icon {
        font-weight: 300;
        display: flex;
        cursor: pointer;

        span {
            display: block;
            width: 20px;
            height: 20px;
            margin-right: 5px;
            position: relative;
            border-radius: 5px;
            border: 1px solid $color_green_dark;
            background-color: transparent;
            overflow: hidden;
            top: 1px;
            transition: all 0.3s 0.3s;

            &:before {
                content: '';
                position: absolute;
                width: 3px;
                height: 8px;
                background-color: $color_white;
                transform: rotate(-45deg) translateX(-2px) translateY(-28px);
                z-index: 1;
                transition: all 0.3s 0.15s;
            }

            &:after {
                content: '';
                position: absolute;
                width: 3px;
                height: 12px;
                background-color: $color_white;
                transform: rotate(45deg) translateX(9px) translateY(-24px);
                z-index: 1;
                transition: all 0.3s;
            }
        }

        input:checked + span {
            background-color: $color_green_dark;
            transition: all 0.3s;

            &:before {
                transform: rotate(-45deg) translateX(-2px) translateY(8px);
            }

            &:after {
                transform: rotate(45deg) translateX(9px) translateY(-4px);
                transition: all 0.3s 0.3s;
            }
        }
    }
}

.form-icon {
    height: 200px;
    overflow: auto;
    border-radius: 5px;
    margin-top: 20px;

    .list-icon {
        display: flex;
        flex-wrap: wrap;

        i {
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            color: $color_white;
            font-size: 20px;
            transition: all .4s;
            border-radius: 50%;

            &.selected {
                background-color: $color_green_dark;
                color: $color_white;
                border-radius: 5px;
            }
        }
    }

    .service-more {
        width: 100%;
        border: none;
        background: none;
        color: $color_white;
        box-shadow: none;
        cursor: pointer;

        &:hover {
            color: $color_green;
        }
    }

    &.invalid-input {
        border: 1px solid $color-red !important;

        &:focus {
            border: 1px solid $color-red !important;
        }
    }
}

.form-range {
    display: flex;
    align-items: center;

    &__input {
        width: 80%;
        background-color: $color_gray;
        height: 1px;
        -webkit-appearance: none;
        outline: none;
        opacity: 0.7;
        -webkit-transition: .2s;
        transition: opacity .2s;
        padding: 0;

        &::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;

            width: 18px;
            height: 18px;
            background: $color_green;
            cursor: pointer;
            border-radius: 50%;
        }

        &::-moz-range-thumb {
            width: 18px;
            height: 18px;
            background: $color_gray;
            cursor: pointer;
            border-radius: 50%;
        }
    }

    &__view {
        width: 20%;
        padding-left: 20px;
        @include setTextStyleColor(16px, 19px, 300, $color_gray)
    }
}

.form-knowledge {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-height: auto !important;

    .form-input {
        margin-right: 30px;
    }

    .form-knowledge__button {
        margin: 0 5px;
        width: 32px;
        min-width: 32px;
        height: 32px;
        border-radius: 50%;
        padding: 0;
        border: none;
        box-shadow: none;
        background-color: $color_gray;
        color: $color_white;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        transition: all 0.3s;
        cursor: pointer;

        &:hover {
            transform: scale(1.1);
        }
    }
}

.knowledge-item {
    .form-knowledge .addnew-button {
        visibility: hidden;
        opacity: 0;
        transition: 0s;
    }

    &:last-child {
        .form-knowledge .addnew-button {
            visibility: inherit;
            opacity: 1;
            transition: 0.2s;
        }
    }

    &:nth-child(10) {
        .form-knowledge .addnew-button {
            visibility: hidden;
            opacity: 0;
            transition: 0s;
        }
    }
}

@media (min-width: 1200px) {
    .modal-xl {
        max-width: 1140px
    }
}

@media screen and (min-width: 1200px) {
    .pr-lg-50 {
        padding-right: 50px;
    }

    .pl-lg-50 {
        padding-left: 50px;
    }
}

.select2-container, .select2-container--default {

    .popup-select2-select {
        min-height: 45px;
        border: 1px solid $color_gray;
        border-radius: 5px;
        padding: 4px 10px 8px 10px;
        background-color: transparent;
        @include setTextStyleColor(16px, 19px, 300, $color_white);
        transition: all 0.2s;
        font-family: "Roboto", Arial, Helvetica, sans-serif;

        .select2-selection__choice {
            background: $color_gray;
            border: none;
            border-radius: 2px;
            display: inline-flex;
            flex-direction: row-reverse;
            align-items: center;
            padding: 0 8px;
            min-height: 25px;

            &__display {
                @include setTextStyleColor(14px, 16px, normal, $color_white);
            }

            &__remove {
                border: none;
                box-shadow: none;
                line-height: 16px;

                &:hover, &:focus {
                    background-color: transparent!important;
                }
            }
        }

        .select2-search--inline {
            .select2-search__field {
                color: $color_white;
            }
        }
    }

    &.select2-container--focus, &.select2-container--open {

        .popup-select2-select {
            border-color: $color_green;
            transition: 0.2s;
        }
    }
}

.popup-select2-dropdown {
    border: 1px solid $color-gray;
    border-radius: 4px;
    background-color: $color_black_popup_background;
    width: 100%;
    padding: 0;
    transition: all 0.1s;
    display: block;
    overflow: hidden;

    li {
        padding: 8px 10px;
        @include setTextStyleColor(14px, 16px, normal, $color_black);
        cursor: pointer;
        transition: all 0.2s;

        &:hover {
            background-color: #2eca7f36;
        }

        &.select2-results__option--selected {
            background-color: $color_gray;
        }

        &.select2-results__option--highlighted, &.select2-results__option--selected.select2-results__option--highlighted {
            background-color: $color_green!important;
        }
    }

}