body {
    width: 100vw;
}

@media screen and (min-width: 992px) {
    body {
        padding-bottom: 64px;
    }
}

@media screen and (max-width: 991.98px) {
    body {
        padding-bottom: 55px;
    }
}

.img-logo {
    @extend %default-background-image;
    width: 69px;
    height: 69px;
}

.img-avatar {
    @extend %default-background-image;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 0 0 0 20px rgba(0, 0, 0, 0.4) inset;
}

.mh-about-img {
    height: 330px;

    &__background {
        @extend %default-background-image;
        width: 100%;
        height: 100%;
    }

    @media screen and (max-width: 991.98px) {
        height: 250px;
    }
}

.flex-top-left {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.flex-middle-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.flex-top-center {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.demo-style-switch {
    z-index: 99;
}

.social-links {
    li {
        a {
            display: flex;
            justify-content: center;
            align-items: center;
            border: none;
            background-color: transparent;
            transition: 0.3s;
            cursor: pointer;
            outline: none;
            @include setTextStyleColor(18px, 30px, normal, $color-white);

            &:hover {
                background-color: #fff;
                color: $color_green;
            }

            &:focus {
                box-shadow: none;
            }

            i {
                font-size: 18px;
            }
        }
    }
}

.info-list {
    li {
        display: flex;
        align-items: center;

        i {
            margin-right: 10px;
            width: 15px;
            text-align: center;
        }
    }
}

.mh-footer-address {
    .mh-address-footer-item {
        .each-icon i {
            text-align: center;
            width: 100px;
            height: 100px;
            border: 1px solid #0bceaf;
            border-radius: 50%;
            line-height: 100px;
            font-size: 35px;
        }
    }
}

.mh-skills .mh-professional-skill {
    padding-left: 20px;
    padding-right: 20px;
}

.mh-work .mh-experience-deatils .mh-work-item {
    .exp-title {
        font-size: 20px;
    }

    .exp-time {
        font-size: 14px;
    }
}

.knowledge-list {
    padding-left: 0;

    .info {
        padding-bottom: 10px;

        .name {
            @include setTextStyleColor(16px, 19px, normal, $color_white);
        }
    }
}

.color-text {
    transition: all .3s;
}

.color-text-hover {
    transition: all .3s;
}

.color-background {
    transition: all .3s;
}

.color-background-hover {
    transition: all .3s;
}

.color-border {
    transition: all .3s;
}

.color-border-hover:hover {
    transition: all .3s;
}

.color-border-focus:focus {
    transition: all .3s;
}