$color_green: #0bceaf;
$color_green_dark: #177F85;
$color_blue_background: #2020268c;
$color_blue_dropdown: #2c2b33ed;
$color_black: #464545;
$color_black_full: #000;
$color_black_popup_background: #2E2D36;
$color_white: #fff;
$color_gray: #838383;
$color_gray_light: #AEAEAE;
$color_gray_border: #9D9D9D;
$color_gray_gallery: #31313A;
$color_red: #FD1616;
