/*=============== Search CV ===============*/

/*=============== End Search CV ===============*/

/*=============== Post Job ===============*/

/*=============== End Post Job ===============*/

/*=============== Company Information ===============*/

/*=============== End Company Information ===============*/

/*=============== Buy Points ===============*/

/*=============== End Buy Points ===============*/

/*=============== DASHBOARD ===============*/

/*=============== End DASHBOARD ===============*/

/*=============== @include ===============*/

/*=============== End @include ===============*/

/*=============== @extend ===============*/

.modal-report-error .modal-file__title {
  overflow: hidden;
  display: -webkit-box;
  word-break: break-word;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

/*=============== End @extend ===============*/

.modal-report-error .modal-content {
  border: none;
  border-radius: 0;
}

.modal-report-error .modal-header {
  padding: 24px 25px 20px 25px;
}

.modal-report-error .modal-body {
  padding: 38px 25px;
}

.modal-report-error .modal-footer {
  border-top: none;
  background: #F3F3F3;
  padding: 15px 25px;
}

.modal-report-error .modal-title {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #555555;
  display: flex;
  align-items: center;
}

.modal-report-error .modal-title img {
  margin-bottom: 3px;
  margin-right: 13px;
}

.modal-report-error .modal-text {
  font-size: 16px;
  line-height: 19px;
  font-weight: normal;
  color: #555555;
  display: block;
}

.modal-report-error .modal-form__label--text {
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  color: #525252;
  background: #F7F7F7;
  border-radius: 4px;
  padding: 9px 15px;
  cursor: pointer;
}

.modal-report-error .modal-form__label--text img {
  margin-right: 5px;
  position: relative;
  top: -2px;
}

.modal-report-error .modal-form__textarea {
  font-size: 16px;
  line-height: 19px;
  font-weight: normal;
  color: #464545;
  background: #F8F8F8;
  border: 1px solid #CECCCC;
  border-radius: 2px;
  width: 100%;
  padding: 12px 17px;
  margin: 19px 0;
}

.modal-report-error .modal-form__textarea:focus::-moz-placeholder {
  color: transparent;
}

.modal-report-error .modal-form__textarea:focus:-ms-input-placeholder {
  color: transparent;
}

.modal-report-error .modal-form__textarea:focus::placeholder {
  color: transparent;
}

.modal-report-error .modal-form__input {
  position: absolute;
}

.modal-report-error .modal-form__submit {
  background: linear-gradient(90.19deg, #D63A1C 0.17%, #EA5B40 99.87%);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.043);
  padding: 0;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  color: #fff;
  width: 170px;
  height: 39px;
  transition: all 0.1s;
  margin: 0;
}

.modal-report-error .modal-form__submit:active {
  transform: scale(0.95);
}

.modal-report-error .modal-file {
  margin: 0;
}

.modal-report-error .modal-file__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #eeeeee;
  padding: 5px;
  margin-bottom: 10px;
  height: 100%;
}

.modal-report-error .modal-file__image {
  min-width: 40px;
  height: 40px;
  background-size: cover;
  background-position: center;
}

.modal-report-error .modal-file__title {
  -webkit-line-clamp: 3;
  margin-bottom: 0;
  overflow: hidden;
  padding-left: 5px;
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  color: #464545;
}

.modal-report-error .modal-file__delete {
  background-color: transparent;
  border: none;
  padding: 0;
  transition: all 0.2s;
}

.modal-report-error .modal-file__delete:hover i {
  color: red;
}

@media screen and (max-width: 767.98px) {
  #error_report_modal .modal-body--label {
    width: 100%;
  }

  #error_report_modal .modal-body--label .box_error-report,
  #error_report_modal .modal-body--label .modal__upload-file {
    width: 100%;
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
  }
}

