button {
    border: none;
}

html {
    scroll-behavior: smooth;
}

%dropdown_style_1 {
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 0;
    background-color: $color_white;
    box-shadow: $searchcv_dropdown_boxshadow;

    &:before {
        content: '';
        position: absolute;
        top: -6px;
        right: 15px;
        width: 16px;
        height: 6px;
        border-bottom: 6px solid $color_white;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
    }
}

%dropdown_style_2 {
    margin: 0;
    padding: 0;
    border: none;
    border-top-left-radius: 3px !important;
    border-top-right-radius: 3px !important;
    overflow: hidden;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: $color_white;
    box-shadow: 0 3px 5px rgba(9, 30, 66, 0.2), 0 0 1px rgba(9, 30, 66, 0.31);
}

%bookmark_style {
    padding: 0;
    border: none;
    background-color: transparent;
    display: flex;

    .fill {
        display: none;
    }

    &.bookmarked {
        .empty {
            display: none;
        }

        .fill {
            display: initial;
        }
    }
}

h3 {
    margin-bottom: 0;
}

#questions {
    margin-top: 43px;

    .questions__title {
        border-top: 0.5px solid #B8B8B8;
        border-left: 0.5px solid #B8B8B8;
        border-right: 0.5px solid #B8B8B8;
        @extend %default-background-image;

        &--content {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            padding: 40px 20px;

            h3 {
                @include setTextStyleColor(24px, 28px, 500, #3A3A3A);
                padding-bottom: 30px;
            }
        }

        &--label {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;

            svg {
                position: absolute;
                left: 3%;
            }

            .questions__btn {
                background: linear-gradient(90.19deg, #D63A1C 0.17%, #EA5B40 99.87%);
                border-radius: 2px;
                width: 173px;
                height: 50px;
                border: none;
                margin: 0 5px;
                @include setTextStyleColor(18px, 16px, 500, #fff);
            }
        }

        &--input {
            width: 542px;
            height: 50px;
            background: #FFFFFF;
            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.02);
            border-radius: 2px;
            border: none;
            padding: 0 50px;
            @include setTextStyleColor(14px, 16px, normal, #848484);
            margin: 0 5px;

            &::placeholder {
                transition: all .2s;
            }

            &:focus::placeholder {
                color: $color_white;
            }
        }
    }

    .questions__content--box {
        background-color: $color_white;
        border: 0.5px solid $searchcv_border_1;

    }

    .qs-header {
        height: 80px;
        border-bottom: 1px solid $searchcv_border_2;
    }

    .qs-title {
        padding: 0 5px;

        &__image {
            margin-right: 13px;
            position: relative;
            top: -1px;
        }

        &__text {
            @include setTextStyleColor(18px, 21px, 500, $color_big_title);
        }
    }

    .qs-body {
        position: relative;
        min-height: 500px;
        transition: all .3s;

        .sticky-top {
            width: 300px;
        }

        .qs_switch {
            padding: 0 33px 10px;
            width: 1000px;

            &-id {
                position: relative;
                left: 0;
                top: -50px;
            }

            &-header {
                @include setTextStyleColor(20px, 24px, 500, #232323);
                padding: 25px 0 10px;
                transition: all .5s;

                &.active {
                    color: $color_red;
                }
            }

            &-title {
                @include setTextStyleColor(16px, 22px, 500, #232323);
                padding: 10px 0 10px;
            }

            p {
                @include setTextStyleColor(16px, 22px, normal, rgba(35, 35, 35, 0.85));
            }
        }
    }

    .qs-nav {
        padding-left: 28px;
        padding-right: 3px;
        flex-direction: column;
        position: sticky;
        top: 80px;

        &__item {
            list-style-type: none;
            height: 43px;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            padding-right: 20px;
            cursor: pointer;
            transition: all .3s;
            position: relative;
            z-index: 1;
            text-align: right;
            @include setTextStyleColor(16px, 19px, normal, $color_gray);

            &:before {
                content: '';
                position: absolute;
                z-index: -1;
                top: 0;
                right: 0;
                width: 0;
                height: 100%;
                transition: all .4s ease-in-out;
                background-color: $pj_nav_background;
            }

            &:after {
                content: '';
                position: absolute;
                z-index: 2;
                top: 50%;
                left: 100%;
                width: 3px;
                height: 0;
                transform: translateY(-50%);
                transition: all .3s ease-in-out;
                background-color: $color_red;
                opacity: 0;
            }

            &:hover, &.active {
                &:before {
                    width: 100%;
                }
            }


            &.active {
                color: $color_big_title;
                font-weight: 500;

                &:after {
                    height: 100%;
                    opacity: 1;
                }
            }
        }

        &:before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            width: 3px;
            height: 100%;
            background-color: $pj_nav_border_right;
        }

        &__border {
            content: '';
            position: absolute;
            z-index: 3;
            top: 0;
            right: 0;
            width: 3px;
            height: 43px;
            background-color: $pj_nav_border_right_active;
            transition: all .3s;
        }

        &:hover {
            .list-group-item {
                &:before {
                    width: 0;
                }

                &:hover {
                    &:before {
                        width: 100%;
                    }
                }
            }
        }
    }

    .mx-n12 {
        margin-right: -12px;
        margin-left: -12px;
    }

    .px-12 {
        padding-right: 12px;
        padding-left: 12px;
    }

    .pt-20 {
        padding-top: 20px;
    }

    .mb-100 {
        margin-bottom: 100px;
    }

    .error-text {
        @include setTextStyleColor(12px, 14px, normal, $color_red);
        min-height: 14px;
    }

    .no-min-height {
        min-height: 0 !important;
    }
}