@media screen and (max-width: 1500px) {
  #questions {
    .qs-body {
      .sticky-top {
        width: 240px;
      }
      .qs_switch {
        width: 820px;
      }
    }
  }
}
@media screen and (max-width: 1199.98px) {
  #questions {
    .qs-body {
      .sticky-top {
        width: 225px;
      }
      .qs_switch {
        width: 700px;
      }
    }
  }
}
@media screen and (max-width: 991.98px) {
  #questions {
    .questions__title {
      img {
        height: 150px;
      }
      &--content {
        width: 100%;
        .questions__form {
          width: 90%;
          .questions__title--label {
            svg {
              left: 17px;
            }

            .questions__title--input {
              width: 100%;
              height: 45px;
              padding: 0 10px 0 40px;
            }
            .questions__btn {
              width: 55%;
              height: 45px;
              font-size: 16px;
            }
          }
        }
      }
    }
    .qs-body {
      flex-direction: column;
      .sticky-top {
        width: 100%;
        .qs-nav {
          flex-direction: unset;
          width: 100%;
          &:before {
            display: none;
          }
          .qs-nav__item {
            padding-right: 0;
            margin-right: 20px;
            text-align: center;
            @include setTextStyleColor(14px, 16px, normal, $color_gray);
          }
          .qs-nav__item.active {
            @include setTextStyleColor(14px, 16px, normal, $color_big_title);
          }
        }
      }
      .qs_switch {
        width: 100%;
        .qs_switch-title {
          @include setTextStyleColor(14px, 19px, 500, #232323);
        }
        p {
          @include setTextStyleColor(14px, 20px, normal, rgba(35, 35, 35, 0.85));
        }
      }
    }
  }
}



@media screen and (max-width: 767.98px) {
  .px-mobile-0 {
    padding-right: 0!important;
    padding-left: 0!important;
  }

  #questions {
    .questions__title {
      &--content {
        padding: 20px 5px 12px 5px;

        h3 {
          @include setTextStyle(20px, 24px, 500);
          padding-bottom: 20px;
        }

        .questions__form {
          width: 100%;

          .questions__title--label {

            svg {
              transform: scale(.85);
              left: 14px;
            }

            .questions__title--input {
              padding-left: 33px;
            }

            .questions__btn {
              @include setTextStyle(14px, 16px, normal);
              width: 40%;
            }
          }
        }
      }
    }
  }
}