/*=============== Search CV ===============*/

/*=============== End Search CV ===============*/

/*=============== Post Job ===============*/

/*=============== End Post Job ===============*/

/*=============== Company Information ===============*/

/*=============== End Company Information ===============*/

/*=============== DASHBOARD ===============*/

/*=============== End DASHBOARD ===============*/

/*=============== @include ===============*/

/*=============== End @include ===============*/

/*=============== @extend ===============*/

#list-job .job__list--body .list__content--item .date-upload,
#list-job .job__list--body .list__content--item .date-expired,
#list-job .job__list--body .list__content--item .view,
#list-job .job__list--body .list__content--item .recruitment,
#list-job .job__list--body .list__content--item .status,
.jobs-expired,
.jobs-waiting,
.jobs-active,
.jobs-unused,
.text-default,
.text-list-default {
  overflow: hidden;
  display: -webkit-box;
  word-break: break-word;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

/*=============== End @extend ===============*/

/*=============== Fixed Stylesheet ===============*/

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  padding-top: 61px;
  background-color: #E5E5E5;
  overflow-x: hidden;
}

button,
button:hover,
button:focus,
select,
select:hover,
select:focus,
input,
textarea {
  outline: none;
}

a:hover {
  text-decoration: none;
}

[type=button],
[type=reset],
[type=submit],
button,
input {
  -webkit-appearance: unset;
  -moz-appearance: unset;
}

input[type=number] {
  -moz-appearance: textfield;
}

/*=============== End Fixed Stylesheet ===============*/

/*=============== Common Class ===============*/

.element-hidden {
  display: none !important;
}

.text-list-title {
  font-size: 16px;
  line-height: 19px;
  font-weight: bold;
  color: #555555;
}

.text-list-default {
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
  color: #454545;
  word-break: break-word;
  -webkit-line-clamp: 2;
}

.text-default {
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
  color: #4A4A4A;
  margin-bottom: 5px;
  -webkit-line-clamp: 2;
}

.error-text {
  font-size: 12px;
  line-height: 14px;
  font-weight: normal;
  color: #FD1616;
  word-break: break-word;
}

.pointer {
  cursor: pointer;
}

.no-scroll {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

@media screen and (min-width: 1500px) {
  .container,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl {
    min-width: 1450px;
  }
}

@media screen and (min-width: 992px) {
  .app-mobile {
    display: none !important;
  }
}

@media screen and (max-width: 991.98px) and (min-width: 768px) {
  .app-tablet {
    display: none !important;
  }
}

@media screen and (max-width: 767.98px) {
  .app-desktop {
    display: none !important;
  }
}

/* Badge */

.tiny-badge {
  font-size: 12px;
  line-height: 16px;
  font-weight: normal;
  border-radius: 30px;
  white-space: nowrap;
  display: inline-block;
  padding: 0 0.4em;
  position: relative;
  top: -1px;
}

.tiny-badge.green {
  color: #147C18;
  background-color: #E6FEDB;
}

.tiny-badge.red {
  color: #A90A0A;
  background-color: #FFF3F3;
}

.tiny-badge.yellow {
  color: #886407;
  background-color: #FFF1CE;
}

.tiny-badge.gray {
  color: #5F5F5F;
  background-color: #F4F4F4;
}

.tiny-badge.skyblue {
  color: #245D70;
  background-color: #F4F9FE;
}

/* End Badge */

/*=============== End Common Class ===============*/

/*=============================KEYFRAMES================================*/

@-webkit-keyframes flyLeftToRight {
  0% {
    left: 0;
    opacity: 1;
  }

  49% {
    left: 100%;
    opacity: 0;
  }

  50% {
    left: -20%;
    opacity: 0;
  }

  100% {
    left: 0;
    opacity: 1;
  }
}

@keyframes flyLeftToRight {
  0% {
    left: 0;
    opacity: 1;
  }

  49% {
    left: 100%;
    opacity: 0;
  }

  50% {
    left: -20%;
    opacity: 0;
  }

  100% {
    left: 0;
    opacity: 1;
  }
}

@-webkit-keyframes searchScale {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(2);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes searchScale {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(2);
  }

  100% {
    transform: scale(1);
  }
}

@-webkit-keyframes show-height {
  0% {
    opacity: 0;
    transform: translateY(-60%) scaleY(0);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scaleY(1);
  }
}

@keyframes show-height {
  0% {
    opacity: 0;
    transform: translateY(-60%) scaleY(0);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scaleY(1);
  }
}

@-webkit-keyframes show-date {
  0% {
    opacity: 0;
    transform: translate(50%, -50%) scale(0);
  }

  100% {
    opacity: 1;
    transform: translate(0, 0) scale(1);
  }
}

@keyframes show-date {
  0% {
    opacity: 0;
    transform: translate(50%, -50%) scale(0);
  }

  100% {
    opacity: 1;
    transform: translate(0, 0) scale(1);
  }
}

@-webkit-keyframes coming-up {
  0% {
    opacity: 0;
    transform: translateY(50px) scale(0.9);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes coming-up {
  0% {
    opacity: 0;
    transform: translateY(50px) scale(0.9);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@-webkit-keyframes coming-down {
  0% {
    opacity: 0;
    transform: translateY(-50px) scale(0.9);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes coming-down {
  0% {
    opacity: 0;
    transform: translateY(-50px) scale(0.9);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@-webkit-keyframes coming-down-short {
  0% {
    opacity: 0;
    transform: translateY(-20px) scale(1);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes coming-down-short {
  0% {
    opacity: 0;
    transform: translateY(-20px) scale(1);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@-webkit-keyframes show-height-50 {
  0% {
    opacity: 0;
    transform: translateY(-50%) scaleY(0);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scaleY(1);
  }
}

@keyframes show-height-50 {
  0% {
    opacity: 0;
    transform: translateY(-50%) scaleY(0);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scaleY(1);
  }
}

@-webkit-keyframes coming-up-near {
  0% {
    opacity: 0;
    transform: translateY(40px) scale(0.95);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes coming-up-near {
  0% {
    opacity: 0;
    transform: translateY(40px) scale(0.95);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@-webkit-keyframes show-height-50-50 {
  0% {
    opacity: 0;
    transform: translateY(-25%) scaleY(0.5);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scaleY(1);
  }
}

@keyframes show-height-50-50 {
  0% {
    opacity: 0;
    transform: translateY(-25%) scaleY(0.5);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scaleY(1);
  }
}

@-webkit-keyframes un-show-notify {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes un-show-notify {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

p,
h1,
h2,
h3,
h4,
h5,
label {
  margin-bottom: 0;
}

button {
  border: none;
  background-color: transparent;
}

.jobs-unused {
  font-size: 28px;
  line-height: 28px;
  font-weight: normal;
  color: #595959;
}

.jobs-active {
  font-size: 28px;
  line-height: 28px;
  font-weight: normal;
  color: #147C18;
}

.jobs-waiting {
  font-size: 28px;
  line-height: 28px;
  font-weight: normal;
  color: #8F6D13;
}

.jobs-expired {
  font-size: 28px;
  line-height: 28px;
  font-weight: normal;
  color: #BF4444;
}

.sort path {
  fill: #555555;
}

.pagination {
  justify-content: center;
  align-items: center;
  margin: 30px 0;
}

.pagination .page-item {
  margin: 0 4px;
  padding: 0;
}

.pagination .page-item .page-link {
  padding: 0;
  width: 66px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination .page-item .active:focus {
  border: 1px solid #1C4355;
}

.pagination .page-item .page-item--lable span {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #1C4355;
  margin-left: 11px;
  margin-right: 4px;
}

.pagination .page-item .page-item--lable .go-to__input {
  width: 50px;
  text-align: center;
  border: 1px solid #D9D9D9;
  border-radius: 2px;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #1C4355;
  height: 32px;
}

.pagination .page {
  border: 1px solid #D9D9D9;
  height: 32px;
  width: 66px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #1C4355;
}

.pagination .prev,
.pagination .next {
  height: 32px;
  width: 32px;
  border: 1px solid #D9D9D9;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination .disabled svg path {
  fill: #D9D9D9;
}

.pagination .page-link {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #1C4355;
}

.pagination .page-link:focus {
  box-shadow: none;
}

.pagination .page-link:hover {
  background-color: transparent;
}

.date-ranger {
  margin-left: 6px;
}

.date-ranger .calender {
  background: #F4F4F4;
  border-radius: 2px;
  padding: 5px 19px 4px;
  cursor: pointer;
  width: 215px;
  font-size: 14px;
  line-height: 30px;
  font-weight: 600;
  color: #164256;
  border: none;
}

.date-ranger .calender:focus {
  box-shadow: none;
}

.date-ranger .calender::-moz-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-size: 14px;
  line-height: 30px;
  font-weight: 600;
  color: #164256;
  opacity: 1;
  /* Firefox */
}

.date-ranger .calender:-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-size: 14px;
  line-height: 30px;
  font-weight: 600;
  color: #164256;
  opacity: 1;
  /* Firefox */
}

.date-ranger .calender::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-size: 14px;
  line-height: 30px;
  font-weight: 600;
  color: #164256;
  opacity: 1;
  /* Firefox */
}

.date-ranger .calender:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  font-size: 14px;
  line-height: 30px;
  font-weight: 600;
  color: #164256;
}

.date-ranger .calender::-ms-input-placeholder {
  /* Microsoft Edge */
  font-size: 14px;
  line-height: 30px;
  font-weight: 600;
  color: #164256;
}

.date-ranger svg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 4%;
  cursor: pointer;
}

.checkbox-label {
  height: 100%;
}

.checkbox-label .list--checkbox {
  border: 2px solid #949494;
  border-radius: 2px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.checkbox-label .list--checkbox i {
  font-size: 14px;
  color: #fff;
}

.checkbox-label input:checked ~ .list--checkbox {
  background-color: #06202D;
  border: none;
}

.status-scheduled,
.not-contact,
.interviewed,
.cancel,
.expired {
  font-size: 14px;
  line-height: 22px;
  font-weight: normal;
  border-radius: 30px;
  padding: 5px 12px;
}

.status-scheduled {
  background-color: #E6FEDB;
  color: #147C18;
}

.not-contact {
  background-color: #FFF1CE;
  color: #835E00;
}

.interviewed {
  background-color: #adadad;
  color: #fff;
}

.expired {
  background: #F4F9FE;
  color: #245D70;
}

.cancel {
  background-color: #FFF3F3;
  color: #C60404;
}

.premium-job {
  font-size: 12px;
  line-height: 16px;
  font-weight: normal;
  color: #6C6201;
}

.hot-job {
  font-size: 12px;
  line-height: 16px;
  font-weight: normal;
  color: #BF2600;
}

.input-hidden {
  position: absolute;
  opacity: 0;
  visibility: hidden;
}

.action__content--download {
  background-color: transparent;
}

.content__list--body .list__content--item:after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 1px;
  width: 92%;
  background-color: #F0F0F0;
  left: 50%;
  transform: translateX(-50%);
}

.content__list--action .action__content--amount {
  font-size: 16px;
  line-height: 19px;
  font-weight: normal;
  color: #555555;
}

.content__list--action .action__content {
  margin: 0 3px;
  font-size: 14px;
  line-height: 19px;
  font-weight: 600;
  color: #595959;
}

.content__list--action .action__content--status {
  padding: 7px 10px;
}

.content__list--action .action__content--status svg {
  margin-left: 5px;
}

.content__list--action .action__content--delete {
  background: #134D6A;
  border-radius: 4px;
  padding: 5px 10px;
  color: #fff;
}

.content__list--action .action__content--delete svg {
  margin: 0 3px 2px 0;
}

.content {
  background-color: #fff;
  border: 0.5px solid #BBBBBB;
  border-radius: 2px;
}

.content .content__title {
  padding: 23px 17px;
}

.content .content__title h4 {
  font-size: 18px;
  line-height: 21px;
  font-weight: 600;
  color: #06202D;
}

.content .content__title .total-list {
  font-size: 18px;
  line-height: 21px;
  font-weight: 600;
  color: #06202D;
  padding-left: 5px;
  overflow: hidden;
  display: -webkit-box;
  word-break: break-word;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.content .content__title .content__title--left .content__title--left-text {
  flex-wrap: wrap;
}

.content .content__list--title {
  background-color: #FAFAFA;
  border-bottom: 1px solid #EBEBEB;
  border-top: 1px solid #EBEBEB;
  min-height: 68px;
}

.content .content__list--title .checkbox-remove:after {
  content: "";
  position: absolute;
  height: 3px;
  width: 13px;
  background-color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content .content__list--title .checkbox-all:before {
  content: "";
  position: absolute;
  width: 3px;
  height: 8px;
  background-color: #fff;
  top: 44%;
  left: 43%;
  transform: rotate(-45deg) translateX(-50%) translateY(-50%);
}

.content .content__list--title .checkbox-all:after {
  content: "";
  position: absolute;
  width: 3px;
  height: 12px;
  background-color: #fff;
  top: 44%;
  left: 38%;
  transform: rotate(45deg) translateX(-50%) translateY(-50%);
}

.content .content__list--title .list-title {
  min-height: 33px;
}

.select2-container--default .workflow-select2-selection {
  height: 39px;
  border-radius: 4px;
  background: #EFEFEF;
  border: none;
}

.select2-container--default .workflow-select2-selection .select2-selection__rendered {
  padding-left: 8px;
  font-size: 14px;
  line-height: 40px;
  font-weight: 600;
  color: #164256;
  padding-right: 33px;
}

.select2-container--default .workflow-select2-selection .select2-selection__arrow {
  height: 33px;
  right: 7px;
}

.select2-container--default .workflow-select2-selection .select2-selection__arrow b {
  border-color: #164256 transparent transparent transparent;
  border-width: 8px 7px 0 7px;
  top: 48%;
}

.select2-container--default .workflow-select2-selection:focus {
  outline: none;
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
  color: #164256;
}

.select2-container--default .workflow-select2-dropdown {
  border: none;
  border-radius: 0;
  background-color: #FFFFFF;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  -webkit-animation: show-height 0.2s both;
          animation: show-height 0.2s both;
}

.select2-container--default .workflow-select2-dropdown .select2-results__option {
  font-size: 14px;
  padding: 6px 14px;
}

.select2-container--default .workflow-select2-dropdown .select2-results__option--highlighted {
  background-color: #D93E21;
}

.select2-container--default.select2-container--open .select2-selection--single {
  background-color: #164256;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent #fff transparent;
  border-width: 0 7px 8px 7px;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__rendered,
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__placeholder {
  color: #fff;
}

.daterangepicker {
  -webkit-animation: show-date 0.3s both;
          animation: show-date 0.3s both;
}

.daterangepicker .ranges li.active {
  background-color: #164256;
}

.daterangepicker td.active {
  background-color: #164256;
}

.daterangepicker td.active:hover {
  background-color: #164256;
}

.daterangepicker .drp-buttons .applyBtn {
  background-color: #E8583C;
  border: none;
}

.daterangepicker .drp-buttons .applyBtn:focus,
.daterangepicker .drp-buttons .applyBtn:active {
  outline: none;
  box-shadow: none !important;
}

.daterangepicker .drp-buttons .applyBtn:hover {
  background-color: #E8583C;
}

.daterangepicker .drp-buttons .cancelBtn:focus {
  box-shadow: none;
}

.daterangepicker .drp-buttons .cancelBtn:hover {
  background-color: #838383;
  color: #fff;
}

.header-shadow {
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.08);
}

/*===============================JOB STATUS==========================*/

#job-status {
  margin-top: 43px;
}

#job-status .job-status__list .job-status__item {
  background-color: #fff;
  padding: 13px 24px;
  margin: 0 8px;
}

/*===============================UPLOAD JOB==========================*/

#upload-job {
  margin: 30px 0 20px;
}

#upload-job .upload-job__btn {
  background: linear-gradient(90.19deg, #D63A1C 0.17%, #EA5B40 99.87%);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.043);
  border-radius: 4px;
  padding: 13px 24px;
  font-size: 16px;
  line-height: 19px;
  font-weight: normal;
  color: #fff;
  position: relative;
  transition: all 0.3s;
  overflow: hidden;
}

#upload-job .upload-job__btn span {
  transition: all 0.3s;
  width: 0;
}

#upload-job .upload-job__btn::before {
  content: "";
  background-color: #fff;
  height: 2px;
  width: 14px;
  position: absolute;
  transform: translateX(-50%);
  transition: all 0.3s;
  opacity: 0;
  left: 18px;
  top: 49%;
}

#upload-job .upload-job__btn::after {
  content: "";
  background-color: #fff;
  height: 13px;
  width: 2px;
  position: absolute;
  transform: translateY(-50%);
  transition: all 0.4s;
  opacity: 0;
  top: 20%;
  left: 10%;
}

#upload-job .upload-job__btn:hover span {
  width: 20px;
}

#upload-job .upload-job__btn:hover::after {
  top: 50%;
  opacity: 1;
  left: 12%;
}

#upload-job .upload-job__btn:hover::before {
  left: 12.5%;
  opacity: 1;
}

/*===============================LIST JOB==========================*/

#list-job {
  overflow: hidden;
  padding-bottom: 150px;
}

#list-job .export-btn {
  font-size: 14px;
  line-height: 30px;
  font-weight: 600;
  color: #164256;
  background-color: #F4F4F4;
  margin-left: 6px;
  padding: 0 14px;
  height: 39px;
  border-radius: 2px;
}

#list-job .export-btn svg {
  margin-right: 8px;
}

#list-job .search__form {
  width: 380px;
}

#list-job .search__form .search__label {
  margin-right: 6px;
  position: relative;
}

#list-job .search__form .search__label .search__input {
  background: #F4F4F4;
  border-radius: 4px;
  border: none;
  padding: 4px 8px;
  font-size: 14px;
  line-height: 30px;
  font-weight: normal;
  color: #164256;
  position: relative;
}

#list-job .search__form .search__label .search__input::-moz-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-size: 14px;
  line-height: 30px;
  font-weight: 600;
  color: #164256;
  opacity: 1;
  /* Firefox */
}

#list-job .search__form .search__label .search__input:-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-size: 14px;
  line-height: 30px;
  font-weight: 600;
  color: #164256;
  opacity: 1;
  /* Firefox */
}

#list-job .search__form .search__label .search__input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-size: 14px;
  line-height: 30px;
  font-weight: 600;
  color: #164256;
  opacity: 1;
  /* Firefox */
}

#list-job .search__form .search__label .search__input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  font-size: 14px;
  line-height: 30px;
  font-weight: 600;
  color: #164256;
}

#list-job .search__form .search__label .search__input:focus::-moz-placeholder {
  color: transparent;
}

#list-job .search__form .search__label .search__input:focus:-ms-input-placeholder {
  color: transparent;
}

#list-job .search__form .search__label .search__input:focus::placeholder {
  color: transparent;
}

#list-job .search__form .search__label .search-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 3%;
}

#list-job .checkbox-label {
  min-width: 90px;
}

#list-job .content__list--title {
  background-color: #FAFAFA;
  min-height: 48px;
}

#list-job .content__list--title .workflow-select2-selection {
  height: 33px;
}

#list-job .content__list--title .workflow-select2-selection .select2-selection__rendered {
  line-height: 34px;
}

#list-job .content__list--title .select2-container--default .workflow-select2-selection .select2-selection__arrow b {
  top: 38%;
}

#list-job .content__list--title .text-list-title {
  display: block;
  align-items: center;
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
}

#list-job .content__list--title .text-list-title .arrow-sort {
  height: 15px;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  margin-left: 5px;
}

#list-job .job__list--body {
  max-height: 835px;
  overflow: auto;
  width: 100%;
}

#list-job .job__list--body::-webkit-scrollbar {
  padding-right: 0;
  width: 5px;
  background-color: transparent;
  border-radius: 5px;
}

#list-job .job__list--body::-webkit-scrollbar-thumb {
  background-color: #C4C4C4;
  border-radius: 5px;
}

#list-job .job__list--body::-webkit-scrollbar-thumb:hover {
  background-color: #C4C4C4;
}

@-moz-document url-prefix()  {
  #list-job .job__list--body body.scroller {
    scrollbar-color: #C4C4C4 transparent;
    scrollbar-width: thin;
  }
}

#list-job .job__list--body .list__content--item {
  border-bottom: 1px solid #F0F0F0;
  height: 86px;
}

#list-job .job__list--body .list__content--item .job-title {
  display: inline-block;
}

#list-job .job__list--body .list__content--item .basic-info {
  flex-direction: unset;
}

#list-job .job__list--body .list__content--item .basic-info .basic-info--left,
#list-job .job__list--body .list__content--item .basic-info .basic-info--right {
  display: flex;
}

#list-job .job__list--body .list__content--item .date-upload,
#list-job .job__list--body .list__content--item .date-expired,
#list-job .job__list--body .list__content--item .view,
#list-job .job__list--body .list__content--item .recruitment,
#list-job .job__list--body .list__content--item .status {
  padding-right: 30px;
}

#list-job .job__list--body .list__content--item .list-action .action-item {
  cursor: pointer;
  width: 30px;
  height: 30px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

#list-job .job__list--body .list__content--item .list-action .action-item:hover {
  background-color: #F4F4F4;
  border-radius: 50%;
}

#list-job .job-title {
  min-width: 404px;
}

#list-job .date-upload,
#list-job .date-expired,
#list-job .view,
#list-job .recruitment,
#list-job .status {
  width: 148px;
}

#list-job .text-list-title.date-upload,
#list-job .text-list-title.date-expired,
#list-job .text-list-title.view,
#list-job .text-list-title.recruitment {
  cursor: pointer;
}

#list-job .text-list-title.view,
#list-job .text-list-title.recruitment {
  padding-right: 0;
}

#list-job .view,
#list-job .recruitment {
  padding-right: 20px;
}

#list-job .background-shadow {
  background: #FFFFFF;
  box-shadow: 0px -3px 4px rgba(0, 0, 0, 0.08);
  height: 50px;
}

#list-job .list__action--item {
  margin-right: 40px;
}

/*===============================MODAL==========================*/

#editStatus_modal .modal-dialog {
  max-width: 543px;
}

#editStatus_modal .modal-dialog .modal-header {
  font-size: 18px;
  line-height: 21px;
  font-weight: 500;
  color: #555555;
  padding: 22px 38px;
}

#editStatus_modal .modal-dialog .modal-body {
  padding: 42px 42px 52px;
}

#editStatus_modal .modal-dialog .modal-body .text-default {
  margin-bottom: 10px;
}

#editStatus_modal .modal-dialog .modal-body .upgrade_premium-jpb {
  display: block;
  margin-top: 18px;
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  color: #685E04;
  -webkit-text-decoration: revert;
          text-decoration: revert;
}

#editStatus_modal .modal-dialog .modal-footer {
  background: #F3F3F3;
  border-radius: 0 0 4px 4px;
}

#editStatus_modal .modal-dialog .modal-footer .btn-cancel {
  background: #D9D9D9;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.043);
  border-radius: 4px;
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
  color: #4D4D4D;
}

#editStatus_modal .modal-dialog .modal-footer .btn-save {
  background: linear-gradient(90.19deg, #D63A1C 0.17%, #EA5B40 99.87%);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.043);
  border-radius: 4px;
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
  color: #fff;
}

#editStatus_modal .modal-dialog .modal-footer .btn-cancel,
#editStatus_modal .modal-dialog .modal-footer .btn-save {
  width: 170px;
  height: 39px;
}

/*==============================Max-width: 1500px==============================*/

@media screen and (max-width: 1499.98px) {
  .content .content__title {
    padding: 23px 15px;
  }

  .content .content__title .content__title--left .content__title--left-text {
    flex-direction: column;
    width: 200px;
  }

  .content .content__title .content__title--left .content__title--left-text .total-list {
    padding-left: 0;
  }

  #list-job .checkbox-label {
    min-width: 50px;
  }

  #list-job .content__list .content__list--title .list-action {
    width: 70px;
  }

  #list-job .job-title {
    min-width: 360px;
  }

  #list-job .date-upload,
  #list-job .date-expired,
  #list-job .view,
  #list-job .recruitment,
  #list-job .status {
    width: 115px;
  }

  #list-job .job__list--body .list__content--item .list-action .action-item {
    width: 25px;
    height: 25px;
  }

  #list-job .job__list--body .list__content--item .date-upload,
  #list-job .job__list--body .list__content--item .date-expired,
  #list-job .job__list--body .list__content--item .status {
    padding-right: 0;
  }

  #list-job .search__form {
    width: 333px;
  }
}

/*==============================Max-width: 1199.98px============================*/

@media screen and (max-width: 1199.98px) {
  #job-status .job-status__list .job-status__item {
    padding: 13px 15px;
  }

  #list-job .job-title {
    min-width: 255px;
  }

  #list-job .export-btn {
    padding: 0 6px;
  }

  #list-job .date-upload,
  #list-job .date-expired,
  #list-job .view,
  #list-job .recruitment,
  #list-job .status {
    width: 115px;
  }

  #list-job .view,
  #list-job .recruitment {
    width: 90px;
  }

  #list-job .job__list--body .list__content--item .list-action .action-item {
    width: 30px;
    height: 30px;
  }

  #list-job .job__list--body .list__content--item .date-upload,
  #list-job .job__list--body .list__content--item .date-expired,
  #list-job .job__list--body .list__content--item .status {
    padding-right: 0;
  }

  #list-job .search__form {
    width: 177px;
  }

  #list-job .list-action {
    width: 70px;
  }
}

/*==============================Max-width: 991.98px=============================*/

@media screen and (max-width: 991.98px) {
  .premium-job {
    font-size: 11px;
    line-height: 13px;
    font-weight: normal;
    color: #6C6201;
  }

  .hot-job {
    font-size: 11px;
    line-height: 13px;
    font-weight: normal;
    color: #BF2600;
  }

  #job-status .job-status__list .job-status__item {
    margin-bottom: 15px;
  }

  #job-status .job-status__list .job-status__item .text-default {
    font-size: 12px;
    line-height: 14px;
    font-weight: normal;
  }

  #job-status .job-status__list .job-status__item .count {
    font-size: 20px;
    line-height: 24px;
    font-weight: normal;
  }

  #upload-job .upload-job__btn {
    font-size: 14p;
    line-height: 16px;
    font-weight: normal;
    color: #fff;
  }

  #list-job {
    padding-bottom: 50px;
    overflow: unset;
  }

  #list-job .search__form .search__label {
    margin-right: 0;
  }

  #list-job .content {
    position: relative;
  }

  #list-job .content .content__title {
    flex-direction: column;
    top: -75px;
    background-color: #fff;
    z-index: 1;
  }

  #list-job .content .content__title .content__title--left {
    width: 100%;
    padding: 5px 0 24px;
  }

  #list-job .content .content__title .content__title--left .content__title--left-text {
    flex-direction: unset;
    width: 100%;
    flex-wrap: wrap;
  }

  #list-job .content .content__title .content__title--left .content__title--left-text .total-list {
    padding-left: 10px;
  }

  #list-job .content .content__title .content__title--right {
    width: 100%;
  }

  #list-job .content .content__title .content__title--right .search__form {
    width: 100%;
  }

  #list-job .job__list--body {
    max-height: unset;
  }

  #list-job .job__list--body .list__content--item {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    margin: 0 auto 20px auto;
    width: 95%;
    align-items: unset;
    border: 0.5px solid #BBBBBB;
    height: unset;
    position: relative;
  }

  #list-job .job__list--body .list__content--item .job-title {
    width: 100%;
    padding: 15px 150px 15px 15px;
    background-color: #F4F4F4;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }

  #list-job .job__list--body .list__content--item .job-title .text-default {
    font-size: 14px;
    line-height: 16px;
    font-weight: bold;
    color: #4A4A4A;
  }

  #list-job .job__list--body .list__content--item .basic-info {
    width: 100%;
    padding: 15px 15px 10px;
    border-bottom: 1px solid #E8E8E8;
  }

  #list-job .job__list--body .list__content--item .basic-info .basic-info--left,
  #list-job .job__list--body .list__content--item .basic-info .basic-info--right {
    flex-direction: column;
  }

  #list-job .job__list--body .list__content--item .basic-info .basic-info--left {
    margin-right: 60px;
  }

  #list-job .job__list--body .list__content--item .basic-info .basic-info--content {
    display: flex;
    align-items: center;
    margin: 5px 0;
  }

  #list-job .job__list--body .list__content--item .basic-info .basic-info--content .title--mobile {
    min-width: 85px;
    font-size: 12px;
    line-height: 14px;
    font-weight: 500;
    color: #555555;
  }

  #list-job .job__list--body .list__content--item .basic-info .basic-info--content .text-list-default {
    font-size: 12px;
    line-height: 14px;
    font-weight: normal;
    color: #454545;
  }

  #list-job .job__list--body .list__content--item .status {
    position: absolute;
    top: 11px;
    right: 15px;
    width: unset;
  }

  #list-job .job__list--body .list__content--item .status span {
    font-size: 11px;
    line-height: 14px;
  }

  #list-job .job__list--body .list__content--item .list-action {
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: center;
  }

  #list-job .job__list--body .list__content--item .list-action .action-item {
    background-color: #F4F4F4;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
    padding: 0;
  }

  #list-job .job__list--body .list__content--item .list-action .action-item svg {
    width: 13px;
  }
}

/*==============================Max-width: 767.98px=============================*/

@media screen and (max-width: 767.98px) {
  #list-job .job__list--body .list__content--item .basic-info {
    justify-content: space-between;
  }

  #list-job .job__list--body .list__content--item .basic-info .basic-info--left {
    margin-right: unset;
  }
}

/*==============================Max-width: 575.98px==============================*/

@media screen and (max-width: 575.98px) {
  #list-job .job__list--body .list__content--item .basic-info {
    flex-direction: column;
  }

  #list-job .job__list--body .list__content--item .job-title {
    padding: 15px 110px 15px 15px;
  }

  .select2 {
    width: 100% !important;
  }

  .edit__status--label {
    width: 100%;
  }

  .select2-container--default .workflow-select2-selection .select2-selection__arrow b {
    border-width: 6px 5px 0 5px !important;
  }

  #list-job .search__form .search__label .search__input::-moz-placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-size: 13px;
    line-height: 30px;
    font-weight: 600;
    color: #164256;
  }

  #list-job .search__form .search__label .search__input:-ms-input-placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-size: 13px;
    line-height: 30px;
    font-weight: 600;
    color: #164256;
  }

  #list-job .search__form .search__label .search__input::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-size: 13px;
    line-height: 30px;
    font-weight: 600;
    color: #164256;
  }

  #list-job .search__form .search__label .search__input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    font-size: 13px;
    line-height: 30px;
    font-weight: 600;
    color: #164256;
  }

  #list-job .search__form .search__label .search__input::-ms-input-placeholder {
    /* Microsoft Edge */
    font-size: 13px;
    line-height: 30px;
    font-weight: 600;
    color: #164256;
  }

  .date-ranger {
    width: 120%;
  }

  .date-ranger label {
    width: 100%;
  }

  .date-ranger svg {
    width: 10px;
  }

  .date-ranger .calendar {
    width: 100%;
    padding: 5px 10px 4px 8px;
    font-size: 11px;
    line-height: 30px;
    font-weight: 600;
    color: #164256;
  }

  .date-ranger .calendar::-moz-placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-size: 11px;
    line-height: 30px;
    font-weight: 600;
    color: #164256;
  }

  .date-ranger .calendar:-ms-input-placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-size: 11px;
    line-height: 30px;
    font-weight: 600;
    color: #164256;
  }

  .date-ranger .calendar::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-size: 11px;
    line-height: 30px;
    font-weight: 600;
    color: #164256;
  }

  .date-ranger .calendar:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    font-size: 11px;
    line-height: 30px;
    font-weight: 600;
    color: #164256;
  }

  .date-ranger .calendar::-ms-input-placeholder {
    /* Microsoft Edge */
    font-size: 11px;
    line-height: 30px;
    font-weight: 600;
    color: #164256;
  }

  .select2-container--default .workflow-select2-selection .select2-selection__rendered {
    font-size: 11px;
    line-height: 40px;
    font-weight: 600;
    color: #164256;
    padding-right: 15px;
  }

  .select2-container--default .workflow-select2-selection .select2-selection__arrow {
    height: 33px;
    right: 0;
  }
}

/*==============================Max-width: 375.98px==============================*/

@media screen and (max-width: 375.98px) {
  #job-status .job-status__list .job-status__item {
    padding: 13px 5px;
    min-height: 83px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
  }

  .edit__status--label {
    width: 77%;
  }
}

