/*=============================KEYFRAMES================================*/

@keyframes flyLeftToRight {
  0% {
    left: 0;
    opacity: 1;
  }

  49% {
    left: 100%;
    opacity: 0;
  }

  50% {
    left: -20%;
    opacity: 0;
  }

  100% {
    left: 0;
    opacity: 1;
  }
}

@keyframes searchScale {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(2);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes show-height {
  0% {
    opacity: 0;
    transform: translateY(-50%) scaleY(0);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scaleY(1);
  }
}

@keyframes glass-normal {
  0% {
    left: -10px;
  }

  40% {
    left: 140px;
  }

  100% {
    left: 140px;
  }
}

@keyframes show-date {
  0% {
    opacity: 0;
    transform: translate(50%, -50%) scale(0);
  }

  100% {
    opacity: 1;
    transform: translate(0, 0) scale(1);
  }
}

@keyframes show-date-modal {
  0% {
    opacity: 0;
    transform: translate(50%, 50%) scale(0);
  }

  100% {
    opacity: 1;
    transform: translate(0, 0) scale(1);
  }
}

@keyframes coming-up {
  0% {
    opacity: 0;
    transform: translateY(50px) scale(0.9);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes coming-down {
  0% {
    opacity: 0;
    transform: translateY(-50px) scale(0.9);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes coming-up-short {
  0% {
    opacity: 0;
    transform: translateY(20px) scale(1);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes coming-down-short {
  0% {
    opacity: 0;
    transform: translateY(-20px) scale(1);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes coming-left-short {
  0% {
    opacity: 0;
    transform: translateX(-20px) scale(1);
  }

  100% {
    opacity: 1;
    transform: translateX(0) scale(1);
  }
}

@keyframes show-height-50 {
  0% {
    opacity: 0;
    transform: translateY(-50%) scaleY(0);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scaleY(1);
  }
}

@keyframes coming-up-near {
  0% {
    opacity: 0;
    transform: translateY(40px) scale(0.95);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes show-height-50-50 {
  0% {
    opacity: 0;
    transform: translateY(-25%) scaleY(0.5);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scaleY(1);
  }
}

@keyframes un-show-notify {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes zoom-in-fast {
  0% {
    transform: scale(.95);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}