/*=============== @include ===============*/
@mixin setTextStyleColor($font-size, $line-height, $font-weight, $color) {
  font-size: $font-size;
  line-height: $line-height;
  font-weight: $font-weight;
  color: $color;
}

@mixin setTextStyle($font-size, $line-height, $font-weight) {
  font-size: $font-size;
  line-height: $line-height;
  font-weight: $font-weight;
}
/*=============== End @include ===============*/

/*=============== @extend ===============*/
%default-background-image {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

%default-text {
  overflow: hidden;
  display: -webkit-box;
  word-break: break-word;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
/*=============== End @extend ===============*/

/*=============== Fixed Stylesheet ===============*/

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  padding-top: 61px;
  background-color: $color_body_background;
  overflow-x: hidden;
}

button,
button:hover,
button:focus,
select,
select:hover,
select:focus,
input,
textarea {
  outline: none;
}

a:hover {
  text-decoration: none;
}


[type=button], [type=reset], [type=submit], button, input {
  -webkit-appearance: unset;
  -moz-appearance: unset;
}

input[type=number] {
  -moz-appearance: textfield;
}
/*=============== End Fixed Stylesheet ===============*/

/*=============== Common Class ===============*/
.element-hidden {
  display: none !important;
}

.text-list-title {
  @include setTextStyleColor(16px, 22px, bold, #555555);
  -webkit-user-select: none;
  user-select: none;
}

.text-list-default {
  @include setTextStyleColor(16px, 22px, normal, #454545);
  word-break: break-word;
  @extend %default-text;
}

.text-default {
  @include setTextStyleColor(16px, 22px, normal, #4A4A4A);
  @extend %default-text;
  -webkit-line-clamp: 2;
}

@media screen and (max-width: 1199.98px) {
  .text-list-title {
    @include setTextStyleColor(14px, 16px, bold, #555555);
  }

  .text-list-default {
    @include setTextStyleColor(14px, 18px, normal, #454545);
  }

  .text-default {
    @include setTextStyleColor(14px, 18px, normal, #4A4A4A);
  }
}

.text-default--modal {
  @include setTextStyle(14px, 16px, normal);
}

.error-text {
  @include setTextStyleColor(12px, 14px, normal, #FD1616);
  word-break: break-word;
}

.pointer {
  cursor: pointer;
}

.no-scroll {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

/* ====================== COMMON STATUS ======================== */
.candidate__status--offer_accepted {
  background-color: #E6FEDB;
  color: #147C18;
}

.candidate__status--pass_interview {
  background: #F9F9FF;
  color: #434EB1;
}

.candidate__status--fail_interview {
  background: #F9F9F9;
  color: #3D3C3C;
}

.candidate__status--offer_refused {
  background: #FEF7FF;
  color: #71007B;
}

.candidate__status--pending_review {
  background-color: #FFF8E7;
  color: #886407;
}

.candidate__status--cv_qualified {
  background-color: #F0FCFD;
  color: #175155;
}

.candidate__status--cancel_interview {
  background-color: #949494;
  color: #FFFFFF;
}

.candidate__status--cv_not_qualified {
  background-color: #FFF3F3;
  color: #A90A0A;
}

.candidate__status--went_to_work {
  background-color: #147C18;
  color: #fff;
}

.job__status--active {
  background-color: #E6FEDB;
  color: #147C18;
}

.job__status--approved {
  background: #F9F9FF;
  color: #434EB1;
}

.job__status--inactive {
  background: #F9F9F9;
  color: #3D3C3C;
}

.job__status--pending-review {
  background-color: #FFF8E7;
  color: #886407;
}

.job__status--draft {
  background-color: #F0FCFD;
  color: #175155;
}

.job__status--reject {
  background-color: #FFF3F3;
  color: #A90A0A;
}

.job__status--expired {
  background-color: #949494;
  color: #FFFFFF;
}



/* =================== END COMMON STATUS ======================== */

@media screen and (min-width: 1500px) {
  .container,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl, {
    min-width: 1450px;
  }
}

@media screen and (min-width: 992px) {
  .app-mobile {
    display: none !important;
  }

  .w-lg-unset {
    width: unset !important;
  }
}

@media screen and (min-width: 768px) {
  .w-md-unset {
    width: unset !important;
  }
}

@media screen and (max-width: 991.98px) {
  .app-desktop {
    display: none !important;
  }
}

/* Badge */
.tiny-badge {
  @include setTextStyle(12px, 16px, normal);
  border-radius: 30px;
  white-space: nowrap;
  display: inline-block;
  padding: 0 .4em;
  position: relative;
  top: -1px;

  &__green {
    color: $badge_s_green;
    background-color: $badge_s_b_green;
  }

  &__red {
    color: $badge_s_red;
    background-color: $badge_s_b_red;
  }

  &__yellow {
    color: $badge_s_yellow;
    background-color: $badge_s_b_yellow;
  }

  &__gray {
    color: $badge_s_gray;
    background-color: $badge_s_b_gray;
  }

  &__skyblue {
    color: $badge_s_skyblue;
    background-color: $badge_s_b_skyblue;
  }

  &__purple {
    color: $badge_s_purple;
    background-color: $badge_s_b_purple;
  }

  &__black {
    color: $badge_s_black;
    background-color: $badge_s_b_black;
  }
}
/* End Badge */

/*=============== End Common Class ===============*/