$color_black: #464545;
$color_black_full: #000;
$color_white: #fff;
$color_gray: #838383;
$color_red: #FD1616;
$color_navbar_background: #06202D;
$color_navbar_link_gray: #939393;
$color_body_background: #E5E5E5;
$color_title_mobile: #4A4A4A;
$color_premium-job: #BD8119;
$color_hot-job: #E65439;
$color_basic-job: #676767;
$color_button: #D93E21;

$badge_s_red: #A90A0A;
$badge_s_b_red: #FFF3F3;
$badge_s_green: #147C18;
$badge_s_b_green: #F8FFF5;
$badge_s_yellow: #886407;
$badge_s_b_yellow: #FFF8E7;
$badge_s_gray: #3D3C3C;
$badge_s_b_gray: #F9F9F9;
$badge_s_skyblue: #175155;
$badge_s_b_skyblue: #F0FCFD;
$badge_s_purple: #434EB1;
$badge_s_b_purple: #F9F9FF;
$badge_s_black: #fff;
$badge_s_b_black: #949494;

/*=============== Search CV ===============*/
$color_big_title: #06202D;
$searchcv_color_green: #2E9356;
$searchcv_color_blue: #1A3466;
$searchcv_border_1: #B8B8B8;
$searchcv_border_2: #EBEBEB;
$searchcv_border_3: #C4C4C4;
$searchcv_border_4: #F6F6F6;
$searchcv_border_5: #E7E7E7;
$searchcv_button_red: #D93E21;
$searchcv_border_input: #D9D9D9;
$searchcv_dropdown_text: #6D6D6D;
$searchcv_gray_input_focus: #E9E8E8;
$searchcv_input_placeholder: #666666;
$searchcv_list_item_background: #F9F9F9;
$searchcv_dropdown_boxshadow: 0 2px 8px rgba(0, 0, 0, 0.15);
$searchcv_search_button: linear-gradient(90.19deg, #D63A1C 0.17%, #EA5B40 99.87%);
/*=============== End Search CV ===============*/

/*=============== Post Job ===============*/
$pj_nav_background: #F5F5F5;
$pj_nav_border_right: #D8D7D7;
$pj_nav_border_right_active: #1C4355;
$pj_placeholder_color: #BEBEBE;
$pj_toggle_background_default: #6B778C;
$pj_toggle_background_checked: #00875A;
$pj_toggle_disabled: #A5ADBA;
$pj_toggle_background_disabled: #F4F5F7;
$pj_toggle_outline: #4C9AFF;
$pj_inputtags_background: #EEEEEE;
$pj_inputtags_border: #E9E9E9;
$pj_button_cancel_color: #616161;
$pj_button_cancel_background: #EFEFEF;
$pj_button_submit_background: #D93E21;
$pj_tips_border: #D0EBBB;
$pj_tips_background: #F7FDF0;
$pj_tips_check: #52C41A;
/*=============== End Post Job ===============*/

/*=============== Company Information ===============*/
$ranges_item_active: #134D6A;
$ranges_item_background: #f1f1f1;
$ci_nav_active_border: #E74243;
$th_thead_background: #FAFAFA;
$th_point_less: #FF5454;
$th_point_add: #46A01B;
$ci_card_yellow: #FFBC65;
$ci_card_gray: #A1A1A1;
/*=============== End Company Information ===============*/

/*=============== Buy Points ===============*/
$bp_step_green: #D67F1E;
$bp_help_background: #F7FDF0;
$bp_help_border: #72BA1E;
$bp_help_text: #525252;
$bp_help_link: #5B5B5B;
/*=============== End Buy Points ===============*/

/*=============== DASHBOARD ===============*/

$color_blue: #164256;
$color_gray_bold: #555555;
$color_light_gray: rgba(0, 0, 0, 0.65);
$dashboard_color_black: rgba(0, 0, 0, 0.85);
$color_black_bold: #06202D;
$color_border: #D9D9D9;
$color_green: #10BE75;
$color_yellow: #E3A505;
$color_apply: #E8583C;

/*=============== End DASHBOARD ===============*/

$color_text_select: #1C4355;
$color_text_amazing-job: #352AB5;
$color_text_premium-job: #996E15;
$color_text_hot-job: #E74243;
$color_text_basic-job: #626262;