/*=============== Header ===============*/

/*=============== End Header ===============*/

/*=============== Search Job ===============*/

/*=============== End Search Job ===============*/

/*=============== @include ===============*/

/*=============== End @include ===============*/

/*=============== @extend ===============*/

.hps3-list__item--image,
.hp-navbar .nav-item__user--background {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.hps3-content__description,
.hps2-item__more,
.hps2-item__salary,
.hps2-item__company,
.hps2-item__name,
.hp-navbar .nav-item__user--text {
  overflow: hidden;
  display: -webkit-box;
  word-break: break-word;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

/*=============== End @extend ===============*/

body {
  background-color: #fff;
}

.hp-navbar {
  padding-top: 18px;
  padding-bottom: 18px;
  transition: all 0.3s;
}

.hp-navbar:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 185px;
  z-index: -1;
  transition: all 0.3s;
  background-image: linear-gradient(180deg, rgba(16, 16, 16, 0.97) 34.38%, rgba(16, 16, 16, 0) 100%);
}

.hp-navbar .navbar-brand__image {
  height: 27px;
}

.hp-navbar .navbar-brand__image--scroll {
  display: none;
}

.hp-navbar .navbar-nav {
  padding-left: 25px;
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.hp-navbar .nav-item {
  list-style-type: none;
  margin-right: 10px;
  position: relative;
  z-index: 1;
  border: none;
  background-color: transparent;
  transition: all 0.1s;
  text-transform: uppercase;
  border-radius: 5px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  color: #fff;
}

.hp-navbar .nav-item:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
  z-index: -1;
  transition: all 0.2s;
  border-radius: 5px;
}

.hp-navbar .nav-item:active {
  transform: scale(0.95);
}

.hp-navbar .nav-item.active {
  text-decoration: underline;
}

.hp-navbar .nav-item.active:before {
  display: none;
}

.hp-navbar .nav-item.active:active {
  transform: scale(1);
}

.hp-navbar .nav-item:hover:before {
  transform: translate(-50%, -50%) scale(1);
  opacity: 0.3;
}

.hp-navbar .nav-item__big {
  font-size: 18px;
  line-height: 22px;
  font-weight: normal;
}

.hp-navbar .nav-item__employer {
  background-color: #fff;
  margin-left: 5px;
}

.hp-navbar .nav-item__employer:before {
  display: none;
}

.hp-navbar .nav-item__employer .nav-link {
  color: #06202D;
  padding: 5px 12px;
}

.hp-navbar .nav-item__employer:hover {
  background-color: #E74243;
}

.hp-navbar .nav-item__employer:hover .nav-link {
  color: #fff;
}

.hp-navbar .nav-item__user {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-weight: normal;
  text-transform: unset;
  max-width: 165px;
}

.hp-navbar .nav-item__user--background {
  width: 22px;
  min-width: 22px;
  height: 22px;
  border-radius: 50%;
  margin-right: 10px;
}

.hp-navbar .nav-item__user i {
  margin-left: 5px;
  position: relative;
  top: 1px;
}

.hp-navbar .nav-link {
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  color: #fff;
  transition: all 0.2s;
  padding: 5px 8px;
}

.hp-navbar .dropdown-desktop .nav-item {
  padding: 5px 8px;
  margin-right: 0;
  margin-left: 10px;
}

.hp-navbar .dropdown-desktop .nav-item[aria-expanded=true] + .dropdown-menu {
  -webkit-animation: coming-up-short 0.2s both;
          animation: coming-up-short 0.2s both;
  display: block;
  z-index: 1;
}

.hp-navbar .dropdown-desktop .dropdown-menu {
  float: right;
  position: absolute;
  border: none;
  border-radius: 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  padding: 0;
  min-width: unset;
}

.hp-navbar .dropdown-desktop .dropdown-menu__user {
  background-color: #0F1A1F;
  padding-top: 8px;
  padding-bottom: 8px;
}

.hp-navbar .dropdown-desktop .dropdown-menu__user .dropdown-item {
  padding-left: 20px;
  padding-right: 30px;
  color: #fff;
  text-align: left;
}

.hp-navbar .dropdown-desktop .dropdown-menu__user .dropdown-item i {
  width: 20px;
  text-align: center;
  margin-right: 15px;
}

.hp-navbar .dropdown-desktop .dropdown-menu__user .dropdown-item:hover {
  background-color: #E74243;
}

.hp-navbar .dropdown-desktop .dropdown-item {
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  color: #838383;
  padding: 12px 15px;
  text-align: center;
  transition: all 0.2s;
}

.hp-navbar .dropdown-desktop .dropdown-item:hover,
.hp-navbar .dropdown-desktop .dropdown-item.active {
  background-color: #838383;
  color: #fff;
}

.hps1 {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.hps1-background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -10;
  background-color: #002a46;
}

.hps1-background video,
.hps1-background img {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  top: 50%;
  left: 50%;
  width: 100vw;
  height: 100vh;
  transform: translateY(-50%) translateX(-50%);
}

.hps1-search {
  padding-top: 57vh;
}

.hps1-search__label {
  padding-bottom: 12px;
}

.hps1-search__label--item {
  font-size: 14px;
  line-height: 27px;
  font-weight: 500;
  color: #fff;
  font-family: "Montserrat", "Roboto", Arial, Helvetica, sans-serif;
  background-color: #E74243;
  border-radius: 4px;
  margin-bottom: 0;
  padding: 0 17px;
}

.hps1-search__field {
  background: #fff;
  border: 1px solid #1C4355;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  border-radius: 9px;
  height: 83px;
}

.hps1-search__field--item {
  height: 48px;
  width: 100%;
  font-family: "Montserrat", "Roboto", Arial, Helvetica, sans-serif;
}

.hps1-search__field--input {
  border: none;
  background-color: transparent;
  font-size: 16px;
  line-height: 19px;
  font-weight: normal;
  color: #464545;
  padding-left: 75px;
  border-right: 1px solid #A7A7A7;
  font-weight: 500;
}

.hps1-search__field--input::-moz-placeholder {
  -moz-transition: all 0.2s;
  transition: all 0.2s;
  font-weight: normal;
}

.hps1-search__field--input:-ms-input-placeholder {
  -ms-transition: all 0.2s;
  transition: all 0.2s;
  font-weight: normal;
}

.hps1-search__field--input::placeholder {
  transition: all 0.2s;
  font-weight: normal;
}

.hps1-search__field--input:focus::-moz-placeholder {
  color: #fff;
}

.hps1-search__field--input:focus:-ms-input-placeholder {
  color: #fff;
}

.hps1-search__field--input:focus::placeholder {
  color: #fff;
}

.hps1-search__field--submit {
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
  color: #fff;
  background-color: #E74243;
  height: 55px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  border-radius: 9px;
  border: none;
  transition: all 0.2s;
}

.hps1-search__field--submit:hover {
  background-color: #FB595A;
}

.hps1-search__field--submit:active {
  transform: scale(0.95);
}

.hps1-search__field--icon {
  position: absolute;
  top: 50%;
  left: 25px;
  transform: translateY(-50%);
}

.hps1-search__field--icon.location {
  left: 14px;
}

.hps1-search__popular {
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
  color: #fff;
  margin-top: 20px;
}

.hps1-search__popular--title {
  margin-right: 10px;
  font-weight: 500;
  white-space: nowrap;
}

.hps1-search__popular--list {
  display: flex;
  flex-wrap: wrap;
}

.hps1-search__popular--list a {
  color: #fff;
  display: flex;
  padding: 0 6px;
  position: relative;
  text-decoration: underline;
}

.hps1-search__popular--list a:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
  z-index: -1;
  transition: all 0.2s;
  border-radius: 5px;
}

.hps1-search__popular--list a:active {
  transform: scale(0.95);
}

.hps1-search__popular--list a:hover:before {
  transform: translate(-50%, -50%) scale(1);
  opacity: 0.3;
}

.hps1-more {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateY(50%) translateX(-50%);
}

.hps1-more__button {
  width: 88px;
  height: 88px;
  border-radius: 50%;
  background-color: #fff;
  border: none;
  text-align: left;
  padding-left: 15px;
  position: relative;
  transform: rotate(90deg);
}

.hps1-more__button i:first-child {
  color: #838383;
}

.hps2 {
  padding-top: 70px;
  padding-bottom: 50px;
}

.hps2-body {
  padding-top: 30px;
}

.hps2-nav {
  display: flex;
  padding-left: 0;
}

.hps2-nav .nav-item {
  padding-right: 35px;
  list-style-type: none;
}

.hps2-nav .nav-link {
  font-size: 16px;
  line-height: 33px;
  font-weight: bold;
  color: #838383;
  font-family: "Montserrat", "Roboto", Arial, Helvetica, sans-serif;
  display: flex;
  border-radius: 6px;
  padding: 0 25px;
}

.hps2-nav .nav-link.active {
  color: #fff;
  background-color: #F05348;
}

.hps2-list .slick-list {
  padding: 10px 0;
}

.hps2-list .slick-slide:focus {
  outline: none;
}

.hps2-list .slick-slide > div {
  display: flex;
  justify-content: space-around;
}

.hps2-list .slick-item {
  width: 46% !important;
}

.hps2-row {
  display: flex;
  justify-content: space-between;
}

.hps2-item {
  display: flex;
  align-items: center;
  padding: 20px 5px;
  border: 1px solid transparent;
  border-bottom-color: #E9E9E9;
  position: relative;
  cursor: pointer;
  transition: all 0.2s;
}

.hps2-item__image {
  padding-right: 10px;
}

.hps2-item__image img {
  width: 90px;
  height: auto;
}

.hps2-item__name {
  word-break: break-all;
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
  color: #464545;
  margin-bottom: 8px;
}

.hps2-item__company {
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
  color: #808080;
  font-family: "Montserrat", "Roboto", Arial, Helvetica, sans-serif;
  margin-bottom: 8px;
}

.hps2-item__salary {
  font-size: 16px;
  line-height: 19px;
  font-weight: normal;
  color: #666666;
  margin-bottom: 8px;
}

.hps2-item__more {
  font-size: 14px;
  line-height: 16px;
  font-weight: 300;
  color: #808080;
  margin-bottom: 0;
}

.hps2-item:hover {
  border-color: #E9E9E9;
  border-radius: 5px;
  box-shadow: 3px 3px 8px #C9C9C9;
}

.hps2-item.amazing .hps2-item__name {
  color: #5725C3;
  padding-right: 85px;
}

.hps2-item.premium .hps2-item__name {
  padding-right: 65px;
}

.hps2-item.hot .hps2-item__name {
  padding-right: 38px;
}

.hps2-pager {
  display: flex;
  justify-content: space-around;
  padding-top: 30px;
}

.hps2-pager__prev,
.hps2-pager__next {
  padding-top: 5px;
}

.hps2-pager__prev--button,
.hps2-pager__next--button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #eb5b40;
  color: #eb5b40;
  background-color: #fff;
  font-size: 14px;
  transition: all 0.3s;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hps2-pager__prev--button:hover,
.hps2-pager__next--button:hover {
  border: 2px solid #184153;
  color: #184153;
}

.hps2-paging {
  text-align: center;
  margin: 15px 0 10px 0;
}

.hps2-paging__animation {
  display: inline-block;
  position: relative;
  height: 15px;
}

.hps2-paging__animation.turntoright {
  -webkit-animation: turnright 0.2s;
          animation: turnright 0.2s;
}

.hps2-paging__animation.turntoright .item .one {
  -webkit-animation: nonetonormal 0.2s;
          animation: nonetonormal 0.2s;
}

.hps2-paging__animation.turntoright .item .three {
  -webkit-animation: normaltolarge 0.2s;
          animation: normaltolarge 0.2s;
}

.hps2-paging__animation.turntoright .item .four {
  -webkit-animation: largetonormal 0.2s;
          animation: largetonormal 0.2s;
}

.hps2-paging__animation.turntoright .item .six {
  -webkit-animation: normaltonone 0.2s;
          animation: normaltonone 0.2s;
}

.hps2-paging__animation.turntoleft {
  -webkit-animation: turnleft 0.2s;
          animation: turnleft 0.2s;
}

.hps2-paging__animation.turntoleft .item .two {
  -webkit-animation: normaltonone 0.2s;
          animation: normaltonone 0.2s;
}

.hps2-paging__animation.turntoleft .item .four {
  -webkit-animation: largetonormal 0.2s;
          animation: largetonormal 0.2s;
}

.hps2-paging__animation.turntoleft .item .five {
  -webkit-animation: normaltolarge 0.2s;
          animation: normaltolarge 0.2s;
}

.hps2-paging__animation.turntoleft .item .seven {
  -webkit-animation: nonetonormal 0.2s;
          animation: nonetonormal 0.2s;
}

.hps2-paging .item {
  float: left;
  position: relative;
  margin: 0 8px;
  width: 14px;
  height: 14px;
  text-align: center;
}

.hps2-paging .item div {
  border-radius: 50%;
  display: inline-block;
}

.hps2-paging .item .one {
  width: 0;
  height: 0;
  background-color: rgba(0, 0, 0, 0.16);
}

.hps2-paging .item .seven {
  width: 0;
  height: 0;
  background-color: rgba(0, 0, 0, 0.16);
}

.hps2-paging .item .two {
  width: 10px;
  height: 10px;
  background-color: rgba(0, 0, 0, 0.16);
}

.hps2-paging .item .six {
  width: 10px;
  height: 10px;
  background-color: rgba(0, 0, 0, 0.16);
}

.hps2-paging .item .three {
  width: 10px;
  height: 10px;
  background-color: rgba(0, 0, 0, 0.16);
}

.hps2-paging .item .five {
  width: 10px;
  height: 10px;
  background-color: rgba(0, 0, 0, 0.16);
}

.hps2-paging .item .four {
  background-color: #eb5b40;
  width: 14px;
  height: 14px;
}

.hps3 {
  background-color: #112C38;
  padding-top: 50px;
  padding-bottom: 65px;
  position: relative;
  overflow: hidden;
}

.hps3-background {
  position: absolute;
  top: 50%;
  left: 50px;
  transform: translateY(-50%);
}

.hps3-list__item--image {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 125px;
}

.hps3-list__item--image:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000099;
  transition: all 0.5s;
  opacity: 1;
  z-index: 1;
}

.hps3-list__item--title {
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  color: #fff;
  font-family: "Montserrat", "Roboto", Arial, Helvetica, sans-serif;
  margin-bottom: 0;
  text-align: center;
  position: relative;
  width: 90%;
  z-index: 2;
  top: 0;
  transition: all 0.5s;
}

.hps3-list .slick-slide {
  padding: 0 8px;
}

.hps3-list .slick-slide:focus {
  outline: none;
}

.hps3-list .slick-center .hps3-list__item {
  cursor: default;
}

.hps3-list .slick-center .hps3-list__item--image:after {
  opacity: 0;
}

.hps3-list .slick-center .hps3-list__item--title {
  top: 100%;
}

.hps3-image {
  width: 100%;
  height: 350px;
  margin-bottom: 20px;
  position: relative;
}

.hps3-image__body {
  position: relative;
  width: 100%;
  height: 100%;
}

.hps3-image__item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.hps3-image__image {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hps3-content {
  padding-top: 25px;
}

.hps3-content__item {
  transition: all 0.5s;
}

.hps3-content__title {
  font-size: 24px;
  line-height: 29px;
  font-weight: 600;
  color: #fff;
  font-family: "Montserrat", "Roboto", Arial, Helvetica, sans-serif;
}

.hps3-content__description {
  font-size: 16px;
  line-height: 1.5;
  font-weight: normal;
  color: #fff;
  font-family: "Montserrat", "Roboto", Arial, Helvetica, sans-serif;
  -webkit-line-clamp: 15;
  text-align: justify;
  padding-top: 15px;
}

.hps3-content__action {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 25px;
  padding-bottom: 25px;
}

.hps3-content__action--more {
  font-size: 16px;
  line-height: 19px;
  font-weight: 600;
  color: #fff;
  font-family: "Montserrat", "Roboto", Arial, Helvetica, sans-serif;
  width: 200px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eb5b40;
  border-radius: 7px;
  padding: 0;
  transition: all 0.2s;
}

.hps3-content__action--more:hover {
  background-color: #E74243;
  color: #fff;
}

.hps3-content__action--more:active {
  transform: scale(0.96);
}

.hps4 {
  padding-top: 50px;
  padding-bottom: 60px;
  background-color: #F6F6F6;
}

.hps4-body {
  padding-top: 30px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.hps4-item {
  margin: 12px;
  display: flex;
  flex-direction: column;
  width: 160px;
  height: 175px;
  cursor: pointer;
  transition: all 0.1s;
}

.hps4-item__top {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.hps4-item__logo {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  padding: 6px;
  position: relative;
}

.hps4-item__logo--image {
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
  filter: grayscale(100%);
  opacity: 0.7;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  transition: all 0.3s;
}

.hps4-item__name {
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 5px 0;
  font-size: 12px;
  line-height: 14px;
  font-weight: normal;
  color: #1C4355;
  font-family: "Montserrat", "Roboto", Arial, Helvetica, sans-serif;
}

.hps4-item__button {
  position: relative;
  top: -10px;
  opacity: 0;
  height: 28px;
  min-height: 28px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #E74243;
  padding: 0;
  border-radius: 3px;
  font-size: 16px;
  line-height: 19px;
  font-weight: 600;
  color: #fff;
  font-family: "Montserrat", "Roboto", Arial, Helvetica, sans-serif;
  transition: all 0.2s;
}

.hps4-item:hover .hps4-item__logo--image,
.hps4-item.active .hps4-item__logo--image {
  filter: grayscale(0);
  opacity: 1;
}

.hps4-item:hover .hps4-item__button,
.hps4-item.active .hps4-item__button {
  top: 0;
  opacity: 1;
}

.hps4-item:active {
  transform: scale(0.97);
}

.hps5 {
  padding-top: 60px;
  padding-bottom: 30px;
  font-family: "Montserrat", "Roboto", Arial, Helvetica, sans-serif;
}

.hps5-blog__item {
  display: flex;
  padding: 20px 0;
  border-bottom: 1px solid #E9E9E9;
}

.hps5-blog__item:last-child {
  border-bottom: none;
}

.hps5-blog__right {
  padding-left: 30px;
}

.hps5-blog__image {
  display: flex;
  width: 170px;
  min-width: 170px;
  border-radius: 9px;
  overflow: hidden;
  transition: all 0.2s;
}

.hps5-blog__image:active {
  transform: scale(0.97);
}

.hps5-blog__image img {
  width: 100%;
}

.hps5-blog__name {
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
  color: #222;
  display: block;
  margin-bottom: 15px;
  transition: all 0.2s;
}

.hps5-blog__name:hover {
  color: #E74243;
}

.hps5-blog__info {
  font-size: 14px;
  line-height: 17px;
  font-weight: 500;
  color: #838383;
}

.hps5-blog__tag {
  display: flex;
  flex-wrap: wrap;
}

.hps5-blog__tag a {
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  color: #163442;
  display: flex;
  padding: 0 15px;
  background: #ECECEC;
  border-radius: 3px;
  margin-right: 15px;
  transition: all 0.2s;
}

.hps5-blog__tag a:hover {
  background: #DDD;
}

.hps5-blog__tag a:active {
  transform: scale(0.97);
}

.hps5-blog__redirect {
  padding-top: 10px;
}

.hps5-blog__redirect--link {
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
  color: #eb5b40;
}

.hps5-right {
  font-size: 30px;
  line-height: 1.4;
  font-weight: normal;
  color: #1C4355;
}

.hp-title {
  font-family: "Montserrat", "Roboto", Arial, Helvetica, sans-serif;
  font-size: 24px;
  line-height: 29px;
  font-weight: bold;
  color: #1c4355;
  display: inline;
  color: #1c4355;
  border-bottom: 1px solid #c4c4c4;
  padding-bottom: 5px;
}

.hp-title__red {
  color: #FF6C5C;
}

.tag-hot,
.tag-premium,
.tag-amazing {
  position: absolute;
  top: 15px;
  right: 10px;
  padding: 0 5px;
  font-size: 12px;
  line-height: 18px;
  color: #fff;
  display: flex;
  align-items: center;
  border-radius: 4px;
  overflow: hidden;
}

.tag-amazing {
  padding: 3px 8px;
  background-image: linear-gradient(90deg, #4884F3 -6.36%, #5727C4 110.91%);
}

.tag-amazing i {
  margin-right: 3px;
  font-size: 10px;
  position: relative;
  top: -1px;
}

.tag-amazing:before {
  content: "";
  position: absolute;
  width: 8px;
  height: 40px;
  top: 50%;
  left: -10%;
  transform: translate(-50%, -50%) rotate(35deg);
  background-color: #fff;
  opacity: 0.5;
  box-shadow: 0 0 10px #fff;
  -webkit-animation: glass-normal 1.5s both infinite ease-in-out;
          animation: glass-normal 1.5s both infinite ease-in-out;
  z-index: 3;
}

.tag-premium {
  background-image: linear-gradient(90deg, #D9CD65 -6.36%, #B8730B 110.91%);
}

.tag-hot {
  color: #BF2600;
  background-color: #FFEBE6;
}

@-webkit-keyframes glass-normal {
  0% {
    left: -10px;
  }

  40% {
    left: 110px;
  }

  100% {
    left: 110px;
  }
}

@keyframes glass-normal {
  0% {
    left: -10px;
  }

  40% {
    left: 110px;
  }

  100% {
    left: 110px;
  }
}

.select2-container--default .select2-selection:focus {
  outline: none;
}

.select2-container--default .hps1-select2-selection {
  height: 48px;
  border: none;
  background-color: #fff;
  border-radius: 4px;
  transition: 0.2s;
  font-family: "Montserrat", "Roboto", Arial, Helvetica, sans-serif;
}

.select2-container--default .hps1-select2-selection .select2-selection__rendered {
  font-size: 16px;
  line-height: 48px;
  padding-left: 45px;
  padding-right: 35px;
  color: #464545;
  transition: 0.2s;
  font-weight: 500;
}

.select2-container--default .hps1-select2-selection .select2-selection__placeholder {
  color: #838383;
  transition: 0.2s;
  font-weight: normal;
}

.select2-container--default .hps1-select2-selection .select2-selection__arrow {
  display: none;
}

.select2-container--default .hps1-select2-selection .select2-selection__clear {
  position: absolute;
  height: 48px;
  font-size: 25px;
  right: 8px;
  margin-right: 0;
  padding: 0 6px;
  background-color: #fff;
  color: #838383;
  z-index: 2;
  transition: 0.2s;
}

.select2-container--default .hps1-select2-selection .select2-selection__clear span {
  transition: all 0.2s;
}

.select2-container--default .hps1-select2-selection:hover {
  background-color: #fff;
}

.select2-container--default .hps1-select2-selection:hover .select2-selection__clear {
  background-color: #fff;
}

.select2-container--default .hps1-select2-dropdown {
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-animation: coming-up-short 0.2s both;
          animation: coming-up-short 0.2s both;
}

.select2-container--default .hps1-select2-dropdown .select2-results__option {
  font-size: 16px;
  padding-left: 20px;
  color: #464545;
  transition: all 0.1s;
  font-family: "Montserrat", "Roboto", Arial, Helvetica, sans-serif;
}

.select2-container--default .hps1-select2-dropdown .select2-results__option--disabled {
  color: #838383;
}

.select2-container--default .hps1-select2-dropdown .select2-results__option--selected,
.select2-container--default .hps1-select2-dropdown .select2-results__option--highlighted {
  color: #E74243;
  background-color: transparent;
}

.required-form:after {
  content: "*";
  color: #FD1616;
}

.error-text {
  font-size: 12px;
  line-height: 14px;
  font-weight: normal;
  color: #FD1616;
  min-height: 14px;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 3px;
}

.error-input {
  border: 1px solid #FD1616 !important;
}

.error-form .select2-selection,
.error-form .bootstrap-tagsinput,
.error-form .tox-tinymce {
  border: 1px solid #FD1616 !important;
}

@-webkit-keyframes turnright {
  0% {
    left: 0;
  }

  100% {
    left: 30px;
  }
}

@keyframes turnright {
  0% {
    left: 0;
  }

  100% {
    left: 30px;
  }
}

@-webkit-keyframes turnleft {
  0% {
    right: 0;
  }

  100% {
    right: 30px;
  }
}

@keyframes turnleft {
  0% {
    right: 0;
  }

  100% {
    right: 30px;
  }
}

@-webkit-keyframes nonetonormal {
  0% {
    width: 0;
    height: 0;
  }

  100% {
    width: 10px;
    height: 10px;
  }
}

@keyframes nonetonormal {
  0% {
    width: 0;
    height: 0;
  }

  100% {
    width: 10px;
    height: 10px;
  }
}

@-webkit-keyframes normaltonone {
  0% {
    width: 10px;
    height: 10px;
  }

  100% {
    width: 0;
    height: 0;
  }
}

@keyframes normaltonone {
  0% {
    width: 10px;
    height: 10px;
  }

  100% {
    width: 0;
    height: 0;
  }
}

@-webkit-keyframes normaltolarge {
  0% {
    width: 10px;
    height: 10px;
    background-color: rgba(0, 0, 0, 0.16);
  }

  100% {
    width: 14px;
    height: 14px;
    background-color: #eb5b40;
  }
}

@keyframes normaltolarge {
  0% {
    width: 10px;
    height: 10px;
    background-color: rgba(0, 0, 0, 0.16);
  }

  100% {
    width: 14px;
    height: 14px;
    background-color: #eb5b40;
  }
}

@-webkit-keyframes largetonormal {
  0% {
    width: 14px;
    height: 14px;
    background-color: #eb5b40;
  }

  100% {
    width: 10px;
    height: 10px;
    background-color: rgba(0, 0, 0, 0.16);
  }
}

@keyframes largetonormal {
  0% {
    width: 14px;
    height: 14px;
    background-color: #eb5b40;
  }

  100% {
    width: 10px;
    height: 10px;
    background-color: rgba(0, 0, 0, 0.16);
  }
}

@media screen and (min-width: 1500px) {
  .container-origin {
    min-width: 1140px;
  }
}

@media screen and (min-width: 992px) {
  .hp-navbar .dropdown-mobile {
    width: 100%;
  }

  .hp-navbar .dropdown-mobile__menu {
    position: static;
    display: flex;
    align-items: center;
    float: none;
    width: 100%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
  }

  .hp-navbar.scroll {
    padding-top: 10px;
    padding-bottom: 14px;
    background-color: #fff;
    box-shadow: 0 0 7px #a9a9a9;
  }

  .hp-navbar.scroll:before {
    height: 0;
    opacity: 0;
  }

  .hp-navbar.scroll .navbar-brand__image {
    display: none;
  }

  .hp-navbar.scroll .navbar-brand__image--scroll {
    display: block;
  }

  .hp-navbar.scroll .nav-item {
    color: #464545;
  }

  .hp-navbar.scroll .nav-item:before {
    background-color: #838383;
  }

  .hp-navbar.scroll .nav-item__employer {
    background-color: #464545;
  }

  .hp-navbar.scroll .nav-item__employer .nav-link {
    color: #fff;
  }

  .hp-navbar.scroll .nav-item__employer:hover {
    background-color: #E74243;
  }

  .hp-navbar.scroll .nav-item__employer:hover .nav-link {
    color: #fff;
  }

  .hp-navbar.scroll .nav-link {
    color: #464545;
  }

  .hp-navbar.scroll .dropdown-desktop .dropdown-menu__user {
    background-color: #fff;
  }

  .hp-navbar.scroll .dropdown-desktop .dropdown-menu__user .dropdown-item {
    color: #464545;
  }

  .hp-navbar.scroll .dropdown-desktop .dropdown-menu__user .dropdown-item:hover {
    background-color: #E74243;
    color: #fff;
  }

  .hps2-list .slick-list {
    height: auto !important;
  }
}

@media screen and (max-width: 1199.98px) {
  .hps5-right__img {
    width: 100%;
  }

  .hps5-right__img img {
    width: 100%;
  }
}

@media screen and (max-width: 991.98px) {
  .hp-navbar {
    height: 60px;
    padding: 0;
    background-color: #0F1A1F;
  }

  .hp-navbar:before {
    display: none;
  }

  .hp-navbar .navbar-nav {
    flex-direction: column;
    align-items: flex-start;
    border-bottom: 1px solid #424242;
    padding-top: 0;
    padding-left: 0;
  }

  .hp-navbar .navbar-nav:last-child {
    border-bottom: none;
  }

  .hp-navbar .navbar-nav .nav-item {
    margin-bottom: 10px;
    padding-left: 20px;
  }

  .hp-navbar .navbar-nav .nav-item:before {
    display: none;
  }

  .hp-navbar .navbar-nav .nav-item.active {
    text-decoration: none;
  }

  .hp-navbar .navbar-nav .nav-item.active .nav-link {
    color: #E74243;
  }

  .hp-navbar .navbar-nav .nav-item__employer {
    margin: 12px auto;
    padding: 5px 25px;
  }

  .hp-navbar .dropdown-desktop {
    position: static;
    width: 100%;
  }

  .hp-navbar .dropdown-desktop .nav-item {
    padding: 5px 0;
    margin-bottom: 10px;
  }

  .hp-navbar .dropdown-desktop .nav-item[aria-expanded=true] + .dropdown-menu {
    -webkit-animation: none;
            animation: none;
  }

  .hp-navbar .dropdown-desktop .dropdown {
    width: 100%;
  }

  .hp-navbar .dropdown-desktop .dropdown-menu {
    background-color: transparent;
    position: static;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    float: unset;
    box-shadow: none;
    border-bottom: 1px solid #424242;
    padding-left: 20px;
  }

  .hp-navbar .dropdown-desktop .dropdown-menu__user {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .hp-navbar .dropdown-desktop .dropdown-menu__user .dropdown-item {
    padding: 5px 8px;
    margin-bottom: 10px;
  }

  .hp-navbar .dropdown-desktop .dropdown-menu__user .dropdown-item i {
    width: 20px;
    text-align: center;
    margin-right: 15px;
  }

  .hp-navbar .dropdown-desktop .dropdown-menu__user .dropdown-item:hover {
    background-color: transparent;
  }

  .hp-navbar .dropdown-desktop .dropdown-item {
    padding: 5px 8px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    transition: all 0.2s;
    color: #fff;
    font-weight: 500;
  }

  .hp-navbar .dropdown-desktop .dropdown-item:hover {
    background-color: transparent;
    color: #E74243;
  }

  .hp-navbar .dropdown-mobile__button {
    width: 50px;
    height: 40px;
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    color: #fff;
    font-size: 22px;
  }

  .hp-navbar .dropdown-mobile__menu {
    position: fixed;
    top: 60px;
    right: -100%;
    margin: 0;
    width: 300px;
    display: block;
    background-color: #0F1A1F;
    border-radius: 0;
    border: none;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    padding-top: 80px;
    padding-bottom: 0;
    transition: all 0.3s;
  }

  .hp-navbar .dropdown-mobile__menu.show {
    right: 0;
  }

  .hp-navbar .dropdown-mobile__language .dropdown-menu {
    flex-direction: row;
  }

  .hp-navbar .dropdown-mobile__language .dropdown-item {
    width: auto;
  }

  .hp-navbar .dropdown-mobile__language .dropdown-item:hover,
  .hp-navbar .dropdown-mobile__language .dropdown-item.active {
    background-color: transparent;
    text-decoration: underline;
  }

  .hp-navbar .dropdown-mobile__user {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    height: 80px;
    margin-left: 0 !important;
    padding-left: 25px !important;
    padding-top: 10px !important;
    justify-content: flex-start;
  }

  .hp-navbar .dropdown-mobile__user .nav-item__user--background {
    width: 40px;
    min-width: 40px;
    height: 40px;
  }

  .hp-navbar .dropdown-mobile__user i {
    display: none;
  }

  .hps1 {
    display: flex;
    flex-direction: column-reverse;
    height: 75vh;
    padding-bottom: 30px;
  }

  .hps1-search {
    padding-top: 0;
  }

  .hps1-search__label {
    display: none;
  }

  .hps1-search__field {
    background: transparent;
    border: none;
    box-shadow: none;
    border-radius: 0;
    height: auto;
  }

  .hps1-search__field--item {
    height: 48px;
    width: 100%;
    font-family: "Montserrat", "Roboto", Arial, Helvetica, sans-serif;
    margin: 8px 0;
  }

  .hps1-search__field--input {
    background-color: #fff;
    padding-left: 30px;
    border-radius: 4px;
  }

  .hps1-search__field--input::-moz-placeholder {
    -moz-transition: all 0.2s;
    transition: all 0.2s;
    font-weight: normal;
  }

  .hps1-search__field--input:-ms-input-placeholder {
    -ms-transition: all 0.2s;
    transition: all 0.2s;
    font-weight: normal;
  }

  .hps1-search__field--input::placeholder {
    transition: all 0.2s;
    font-weight: normal;
  }

  .hps1-search__field--input:focus::-moz-placeholder {
    color: #fff;
  }

  .hps1-search__field--input:focus:-ms-input-placeholder {
    color: #fff;
  }

  .hps1-search__field--input:focus::placeholder {
    color: #fff;
  }

  .hps1-search__field--submit {
    height: 48px;
  }

  .hps1-search__field--icon {
    display: none;
  }

  .hps1-search__popular {
    display: none;
    font-size: 16px;
    line-height: 22px;
    font-weight: normal;
    color: #fff;
    margin-top: 20px;
  }

  .hps1-search__popular--title {
    margin-right: 10px;
    font-weight: 500;
    white-space: nowrap;
  }

  .hps1-search__popular--list {
    display: flex;
    flex-wrap: wrap;
  }

  .hps1-search__popular--list a {
    color: #fff;
    display: flex;
    padding: 0 6px;
    position: relative;
    text-decoration: underline;
  }

  .hps1-search__popular--list a:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.9);
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0;
    z-index: -1;
    transition: all 0.2s;
    border-radius: 5px;
  }

  .hps1-search__popular--list a:active {
    transform: scale(0.95);
  }

  .hps1-search__popular--list a:hover:before {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0.3;
  }

  .hps1-more {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateY(50%) translateX(-50%);
  }

  .hps1-more__button {
    width: 88px;
    height: 88px;
    border-radius: 50%;
    background-color: #fff;
    border: none;
    text-align: left;
    padding-left: 15px;
    position: relative;
    transform: rotate(90deg);
  }

  .hps1-more__button i:first-child {
    color: #838383;
  }

  .hps2-list .slick-item {
    width: 97% !important;
  }

  .hps4-item {
    width: 140px;
    height: 155px;
  }

  .select2-container--default .hps1-select2-selection .select2-selection__rendered {
    padding-left: 30px;
  }

  .select2-container--default .hps1-select2-dropdown {
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 0;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    -webkit-animation: coming-up-short 0.2s both;
            animation: coming-up-short 0.2s both;
  }

  .select2-container--default .hps1-select2-dropdown .select2-results__option {
    font-size: 16px;
    padding-left: 20px;
    color: #464545;
    transition: all 0.1s;
    font-family: "Montserrat", "Roboto", Arial, Helvetica, sans-serif;
  }

  .select2-container--default .hps1-select2-dropdown .select2-results__option--disabled {
    color: #838383;
  }

  .select2-container--default .hps1-select2-dropdown .select2-results__option--selected,
  .select2-container--default .hps1-select2-dropdown .select2-results__option--highlighted {
    color: #E74243;
    background-color: transparent;
  }
}

@media screen and (max-width: 767.98px) {
  .hps1-search__field--input {
    font-size: 12px;
    line-height: 14px;
    font-weight: normal;
    padding-left: 20px;
  }

  .hps1-search__field--submit {
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
  }

  .hps2 {
    padding-top: 40px;
    padding-bottom: 30px;
    justify-content: center;
  }

  .hps2-body {
    padding-top: 20px;
  }

  .hps2-nav .nav-item {
    padding-right: 15px;
  }

  .hps2-nav .nav-link {
    font-size: 12px;
    line-height: 34px;
    font-weight: bold;
    border-radius: 4px;
    padding: 0 15px;
  }

  .hps2-item {
    padding: 12px 5px;
  }

  .hps2-item__image img {
    width: 70px;
  }

  .hps2-item__name {
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    margin-bottom: 6px;
  }

  .hps2-item__company {
    font-size: 12px;
    line-height: 14px;
    font-weight: 500;
    margin-bottom: 5px;
  }

  .hps2-item__salary {
    font-size: 12px;
    line-height: 14px;
    font-weight: normal;
    margin-bottom: 5px;
  }

  .hps2-item__more {
    font-size: 10px;
    line-height: 12px;
    font-weight: normal;
  }

  .hps2-item:hover {
    border-color: #E9E9E9;
    border-radius: 5px;
    box-shadow: 3px 3px 8px #C9C9C9;
  }

  .hps2-item.amazing .hps2-item__name {
    padding-right: 67px;
  }

  .hps2-item.premium .hps2-item__name {
    padding-right: 52px;
  }

  .hps2-item.hot .hps2-item__name {
    padding-right: 29px;
  }

  .hps2-paging {
    transform: scale(0.8);
  }

  .hps3 {
    padding-top: 30px;
    padding-bottom: 35px;
  }

  .hps3-list__item--image {
    height: 100px;
  }

  .hps3-list__item--title {
    font-size: 10px;
    line-height: 14px;
    font-weight: 500;
  }

  .hps3-list .slick-slide {
    padding: 0 5px;
  }

  .hps3-image {
    height: 250px;
  }

  .hps3-content {
    padding-top: 20px;
  }

  .hps3-content__title {
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
  }

  .hps3-content__description {
    font-size: 12px;
    line-height: 1.5;
    font-weight: normal;
    padding-top: 12px;
  }

  .hps3-content__action {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .hps3-content__action--more {
    font-size: 12px;
    line-height: 14px;
    font-weight: 600;
    width: 200px;
    height: 44px;
  }

  .hps4 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .hps4-item {
    margin: 10px;
    width: 100px;
  }

  .hps4-item__name {
    font-size: 10px;
    line-height: 14px;
    font-weight: normal;
  }

  .hps4-item__button {
    height: 20px;
    min-height: 20px;
    font-size: 12px;
    line-height: 14px;
    font-weight: 600;
  }

  .hps5 {
    padding-top: 30px;
  }

  .hps5-blog__item {
    flex-direction: column;
  }

  .hps5-blog__right {
    padding-left: 0;
  }

  .hps5-blog__image {
    width: 100%;
    min-width: 100%;
  }

  .hps5-blog__image img {
    height: 100%;
  }

  .hps5-blog__name {
    font-size: 16px;
    line-height: 19px;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 17px;
  }

  .hps5-blog__info {
    font-size: 12px;
    line-height: 14px;
    font-weight: 500;
    margin-bottom: 0;
  }

  .hps5-blog__tag a {
    font-size: 12px;
    line-height: 20px;
    font-weight: 500;
  }

  .hps5-blog__redirect {
    display: flex;
    justify-content: center;
  }

  .hps5-blog__redirect--link {
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
  }

  .hps5-right {
    font-size: 30px;
    line-height: 1.4;
    font-weight: normal;
    color: #1C4355;
  }

  .hp-title {
    font-size: 16px;
    line-height: 19px;
    font-weight: bold;
    width: 100%;
    margin: 0 auto;
  }

  .hp-title__red {
    color: #FF6C5C;
  }

  .tag-hot,
  .tag-premium,
  .tag-amazing {
    top: 10px;
    right: 7px;
    padding: 0 5px;
    font-size: 10px;
    line-height: 16px;
  }

  .tag-hot i,
  .tag-premium i,
  .tag-amazing i {
    display: flex;
    font-size: 9px;
    top: 0;
  }

  .select2-container--default .hps1-select2-selection .select2-selection__rendered {
    font-size: 12px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .select2-container--default .hps1-select2-dropdown .select2-results__option {
    font-size: 12px;
  }
}

