<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
<link
    href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,600,600i,700,700i,900,900i&display=swap&subset=vietnamese"
    rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.5.1.min.js" type="text/javascript"></script>

<style>
    .notify {
        margin-bottom: 12px;
        margin-top: 30px;
    }

    #notify__error .notify__content, #notify__error--action .notify__content {
        background: #FFEFEF;
        border: 0.5px solid #EC5152;
    }

    #notify__error .notify__content--btn, #notify__error--action .notify__content--btn {
        background: #FFC8C8;
        color: #06202D;
    }

    #notify__warning .notify__content, #notify__warning--action .notify__content {
        background: #FFFAED;
        border: 0.5px solid #DAA726;
    }

    #notify__warning .notify__content--btn, #notify__warning--action .notify__content--btn {
        background: #F8EFD9;
        color: #06202D;
    }

    #notify__success .notify__content, #notify__success--action .notify__content {
        background: #EBFDEC;
        border: 0.5px solid #147C18;
    }

    #notify__success .notify__content--btn, #notify__success--action .notify__content--btn {
        background: #2FA035;
        color: #fff;
    }

    .notify__content {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 2px;
        padding: 22px 32px;
        width: 100%;
        position: relative;
        align-items: center;
        display: flex;
        justify-content: space-between;
    }

    .notify__content--left {
        align-items: center;
        width: 100%;
    }

    .notify__content--left svg {
        min-width: 38px;
    }

    #notify__error--action .notify__content--text, #notify__warning--action .notify__content--text, #notify__success--action .notify__content--text {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    .notify__content--text {
        padding-left: 15px;
    }

    .notify__des {
        font-size: 16px;
        line-height: 22px;
        font-weight: normal;
        color: rgba(0, 0, 0, 0.85);
        margin-bottom: 5px;
    }

    .notify__subdes {
        font-size: 16px;
        line-height: 22px;
        font-weight: normal;
        color: rgba(0, 0, 0, 0.65);
        margin-bottom: 0;
    }

    .notify__content--btn {
        border: none;
        margin-right: 35px;
        font-size: 14px;
        line-height: 16px;
        font-weight: normal;
        transition: all .1s;
        width: 167px;
        height: 41px;
        min-width: 167px;
        padding: 0;
    }

    .notify__content--cancel {
        border: none;
        background-color: transparent;
        transition: all .1s;
        position: absolute;
        transform: translateY(-50%);
        top: 50%;
        right: 20px;
        padding: 0;
    }

    .notify__content--btn:active {
        transform: scale(0.95);
    }

    @media screen and (min-width: 1500px) {
        .container {
            min-width: 1450px;
        }
    }

    @media screen and (max-width: 1199.98px) {
        .notify__des, .notify__subdes {
            font-size: 14px;
            line-height: 18px;
        }

        .notify__content--btn {
            font-size: 12px;
            line-height: 14px;
        }
    }

    @media screen and (max-width: 991.98px) {
        .notify__content {
            flex-direction: column;
            align-items: flex-start;
        }

        .notify__content--cancel {
            position: absolute;
            top: 18%;
            right: 4%;
            transform: unset;
        }

        #notify__error--action .notify__content--text, #notify__warning--action .notify__content--text, #notify__success--action .notify__content--text {
            flex-direction: column;
            align-items: flex-start;
        }

        .notify__content--btn {
            margin-top: 10px;
            margin-right: 0;
            width: 115px;
            height: 35px;
            min-width: 115px;
        }

        .notify__content--left {
            align-items: flex-start;
        }

        .notify__content--text {
            padding-left: 10px;
        }

        .notify__content--left svg {
            min-width: 20px;
            width: 20px;
            height: 20px;
        }
    }

    @media screen and (max-width: 767.98px) {
        .notify__content {
            padding: 22px 18px;
        }

    }

</style>

<section class="notify">
    <div  id="notify__error--action">
        <div class="container">
            <div class="row ml-0 mr-0">
                <div class="col-12 pl-0 pr-0">
                    <div class="notify__content">
                        <div class="notify__content--left d-flex">
                            <svg fill="none" height="46" viewBox="0 0 46 46" width="46"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M30.7889 15.896C30.7889 15.6983 30.6272 15.5366 30.4295 15.5366L27.4647 15.5501L22.9994 20.8733L18.5387 15.5546L15.5693 15.5411C15.3717 15.5411 15.21 15.6983 15.21 15.9005C15.21 15.9858 15.2414 16.0667 15.2953 16.1341L21.1396 23.097L15.2953 30.0554C15.241 30.1212 15.2109 30.2036 15.21 30.289C15.21 30.4866 15.3717 30.6483 15.5693 30.6483L18.5387 30.6349L22.9994 25.3116L27.4602 30.6304L30.425 30.6438C30.6227 30.6438 30.7844 30.4866 30.7844 30.2845C30.7844 30.1991 30.7529 30.1183 30.699 30.0509L24.8637 23.0925L30.708 16.1296C30.7619 16.0667 30.7889 15.9813 30.7889 15.896Z"
                                    fill="#E74243"/>
                                <path
                                    d="M23 2.875C11.8863 2.875 2.875 11.8863 2.875 23C2.875 34.1137 11.8863 43.125 23 43.125C34.1137 43.125 43.125 34.1137 43.125 23C43.125 11.8863 34.1137 2.875 23 2.875ZM23 39.7109C13.773 39.7109 6.28906 32.227 6.28906 23C6.28906 13.773 13.773 6.28906 23 6.28906C32.227 6.28906 39.7109 13.773 39.7109 23C39.7109 32.227 32.227 39.7109 23 39.7109Z"
                                    fill="#E74243"/>
                            </svg>
                            <div class="notify__content--text">
                                <div class="mr-4 mr-lg-5">
                                    <h4 class="notify__des">Nhà tuyển dụng VTI Corporation đã hoàn thiện 70% hồ sơ
                                        công
                                        ty</h4>
                                    <p class="notify__subdes"> Hoàn thiện hồ sơ để tăng hiệu quả tuyển dụng tối
                                        đa.</p>
                                </div>
                                <button class="notify__content--btn"
                                        onclick="window.location.href='company_information.html?tabindex=2'">
                                    Hoàn thiện hồ sơ
                                </button>
                            </div>
                        </div>
                        <div class="notify__content--right">
                            <button class="notify__content--cancel" onclick="notifyCancel()">
                                <svg fill="none" height="12" viewBox="0 0 12 12" width="12"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M7.32116 6L11.8081 1.51288C11.9315 1.38936 11.9996 1.22457 11.9998 1.04885C11.9998 0.873032 11.9317 0.708046 11.8081 0.584721L11.4149 0.191622C11.2913 0.0678093 11.1265 0 10.9506 0C10.7749 0 10.6102 0.0678093 10.4865 0.191622L5.99961 4.67845L1.51249 0.191622C1.38906 0.0678093 1.22418 0 1.04836 0C0.872739 0 0.70785 0.0678093 0.584427 0.191622L0.191036 0.584721C-0.0649807 0.840738 -0.0649807 1.25715 0.191036 1.51288L4.67806 6L0.191036 10.4869C0.0675157 10.6106 -0.000488726 10.7754 -0.000488726 10.9512C-0.000488726 11.1269 0.0675157 11.2917 0.191036 11.4153L0.58433 11.8084C0.707752 11.9321 0.872739 12 1.04826 12C1.22408 12 1.38897 11.9321 1.51239 11.8084L5.99951 7.32145L10.4864 11.8084C10.6101 11.9321 10.7748 12 10.9505 12H10.9507C11.1264 12 11.2912 11.9321 11.4148 11.8084L11.808 11.4153C11.9314 11.2918 11.9995 11.1269 11.9995 10.9512C11.9995 10.7754 11.9314 10.6106 11.808 10.487L7.32116 6Z"
                                        fill="#9D9D9D"/>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">
    notifyCancel = () => {
        $('.notify').remove();
    }
</script>