<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
<link
    href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,600,600i,700,700i,900,900i&display=swap&subset=vietnamese"
    rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.5.1.min.js" type="text/javascript"></script>

<style>
    .notify {
        margin-bottom: 12px;
        margin-top: 30px;
    }

    #notify__error .notify__content, #notify__error--action .notify__content {
        background: #FFEFEF;
        border: 0.5px solid #EC5152;
    }

    #notify__error .notify__content--btn, #notify__error--action .notify__content--btn {
        background: #FFC8C8;
        color: #06202D;
    }

    #notify__warning .notify__content, #notify__warning--action .notify__content {
        background: #FFFAED;
        border: 0.5px solid #DAA726;
    }

    #notify__warning .notify__content--btn, #notify__warning--action .notify__content--btn {
        background: #F8EFD9;
        color: #06202D;
    }

    #notify__success .notify__content, #notify__success--action .notify__content {
        background: #EBFDEC;
        border: 0.5px solid #147C18;
    }

    #notify__success .notify__content--btn, #notify__success--action .notify__content--btn {
        background: #2FA035;
        color: #fff;
    }

    .notify__content {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 2px;
        padding: 22px 32px;
        width: 100%;
        position: relative;
        align-items: center;
        display: flex;
        justify-content: space-between;
    }

    .notify__content--left {
        align-items: center;
        width: 100%;
    }

    .notify__content--left svg {
        min-width: 38px;
    }

    #notify__error--action .notify__content--text, #notify__warning--action .notify__content--text, #notify__success--action .notify__content--text {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    .notify__content--text {
        padding-left: 15px;
    }

    .notify__des {
        font-size: 16px;
        line-height: 22px;
        font-weight: normal;
        color: rgba(0, 0, 0, 0.85);
        margin-bottom: 5px;
    }

    .notify__subdes {
        font-size: 16px;
        line-height: 22px;
        font-weight: normal;
        color: rgba(0, 0, 0, 0.65);
        margin-bottom: 0;
    }

    .notify__content--btn {
        border: none;
        margin-right: 35px;
        font-size: 14px;
        line-height: 16px;
        font-weight: normal;
        transition: all .1s;
        width: 167px;
        height: 41px;
        min-width: 167px;
        padding: 0;
    }

    .notify__content--cancel {
        border: none;
        background-color: transparent;
        transition: all .1s;
        position: absolute;
        transform: translateY(-50%);
        top: 50%;
        right: 20px;
        padding: 0;
    }

    .notify__content--btn:active {
        transform: scale(0.95);
    }

    @media screen and (min-width: 1500px) {
        .container {
            min-width: 1450px;
        }
    }

    @media screen and (max-width: 1199.98px) {
        .notify__des, .notify__subdes {
            font-size: 14px;
            line-height: 18px;
        }

        .notify__content--btn {
            font-size: 12px;
            line-height: 14px;
        }
    }

    @media screen and (max-width: 991.98px) {
        .notify__content {
            flex-direction: column;
            align-items: flex-start;
        }

        .notify__content--cancel {
            position: absolute;
            top: 18%;
            right: 4%;
            transform: unset;
        }

        #notify__error--action .notify__content--text, #notify__warning--action .notify__content--text, #notify__success--action .notify__content--text {
            flex-direction: column;
            align-items: flex-start;
        }

        .notify__content--btn {
            margin-top: 10px;
            margin-right: 0;
            width: 115px;
            height: 35px;
            min-width: 115px;
        }

        .notify__content--left {
            align-items: flex-start;
        }

        .notify__content--text {
            padding-left: 10px;
        }

        .notify__content--left svg {
            min-width: 20px;
            width: 20px;
            height: 20px;
        }
    }

    @media screen and (max-width: 767.98px) {
        .notify__content {
            padding: 22px 18px;
        }

    }

</style>

<section class="notify">
    <div id="notify__warning">
        <div class="container">
            <div class="row ml-0 mr-0">
                <div class="col-12 pl-0 pr-0">
                    <div class="notify__content">
                        <div class="notify__content--left d-flex">
                            <svg fill="none" height="41" viewBox="0 0 41 41" width="41"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path clip-rule="evenodd"
                                      d="M0 20.5C0 9.17924 9.17924 0 20.5 0C31.8208 0 41 9.17924 41 20.5C41 31.8208 31.8208 41 20.5 41C9.17924 41 0 31.8208 0 20.5ZM3.47768 20.5C3.47768 29.8989 11.1011 37.5223 20.5 37.5223C29.8989 37.5223 37.5223 29.8989 37.5223 20.5C37.5223 11.1011 29.8989 3.47768 20.5 3.47768C11.1011 3.47768 3.47768 11.1011 3.47768 20.5ZM18.9462 13.9995C18.5343 13.5876 18.3029 13.029 18.3029 12.4464C18.3029 11.8639 18.5343 11.3052 18.9462 10.8933C19.3581 10.4814 19.9168 10.25 20.4993 10.25C21.0818 10.25 21.6405 10.4814 22.0524 10.8933C22.4643 11.3052 22.6957 11.8639 22.6957 12.4464C22.6957 13.029 22.4643 13.5876 22.0524 13.9995C21.6405 14.4114 21.0818 14.6429 20.4993 14.6429C19.9168 14.6429 19.3581 14.4114 18.9462 13.9995ZM19.035 17.9375C19.035 17.7362 19.1998 17.5714 19.4011 17.5714H21.5975C21.7989 17.5714 21.9636 17.7362 21.9636 17.9375V30.3839C21.9636 30.5853 21.7989 30.75 21.5975 30.75H19.4011C19.1998 30.75 19.035 30.5853 19.035 30.3839V17.9375Z"
                                      fill="#DAA726"
                                      fill-rule="evenodd"/>
                            </svg>
                            <div class="notify__content--text mr-4 mr-lg-5">
                                <h4 class="notify__des">Nhà tuyển dụng VTI Corporation đã hoàn thiện 70% hồ sơ công
                                    ty</h4>
                                <p class="notify__subdes"> Hoàn thiện hồ sơ để tăng hiệu quả tuyển dụng tối đa.</p>
                            </div>
                        </div>
                        <div class="notify__content--right">
                            <button class="notify__content--cancel" onclick="notifyCancel('notify__warning')">
                                <svg fill="none" height="12" viewBox="0 0 12 12" width="12"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M7.32116 6L11.8081 1.51288C11.9315 1.38936 11.9996 1.22457 11.9998 1.04885C11.9998 0.873032 11.9317 0.708046 11.8081 0.584721L11.4149 0.191622C11.2913 0.0678093 11.1265 0 10.9506 0C10.7749 0 10.6102 0.0678093 10.4865 0.191622L5.99961 4.67845L1.51249 0.191622C1.38906 0.0678093 1.22418 0 1.04836 0C0.872739 0 0.70785 0.0678093 0.584427 0.191622L0.191036 0.584721C-0.0649807 0.840738 -0.0649807 1.25715 0.191036 1.51288L4.67806 6L0.191036 10.4869C0.0675157 10.6106 -0.000488726 10.7754 -0.000488726 10.9512C-0.000488726 11.1269 0.0675157 11.2917 0.191036 11.4153L0.58433 11.8084C0.707752 11.9321 0.872739 12 1.04826 12C1.22408 12 1.38897 11.9321 1.51239 11.8084L5.99951 7.32145L10.4864 11.8084C10.6101 11.9321 10.7748 12 10.9505 12H10.9507C11.1264 12 11.2912 11.9321 11.4148 11.8084L11.808 11.4153C11.9314 11.2918 11.9995 11.1269 11.9995 10.9512C11.9995 10.7754 11.9314 10.6106 11.808 10.487L7.32116 6Z"
                                        fill="#9D9D9D"/>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">
    notifyCancel = () => {
        $('.notify').remove();
    }
</script>