/*=============== @include ===============*/

/*=============== End @include ===============*/

/*=============== @extend ===============*/

/*=============== End @extend ===============*/

/*=============== Fixed Stylesheet ===============*/

body {
  font-family: "Lato", Arial, Helvetica, sans-serif;
  padding-top: 60px;
  overflow-x: hidden;
  background: linear-gradient(180deg, #F1F8FA 100%, #fff 0%);
}

.body {
  margin-top: 30px;
  margin-bottom: 98px;
}

button,
button:hover,
button:focus,
select,
select:hover,
select:focus,
input,
textarea {
  outline: none;
}

a:hover {
  text-decoration: none;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

label {
  display: block;
}

input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
  color: transparent;
}

input:focus:-ms-input-placeholder, textarea:focus:-ms-input-placeholder {
  color: transparent;
}

input:focus::placeholder,
textarea:focus::placeholder {
  color: transparent;
}

input:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder {
  color: transparent;
}

input:focus::-ms-input-placeholder,
textarea:focus::-ms-input-placeholder {
  /* Microsoft Edge */
  color: transparent;
}

p,
h1,
h2,
h3,
h4,
h5 {
  margin-bottom: 0;
}

[type=button],
[type=reset],
[type=submit],
button,
input {
  -webkit-appearance: unset;
  -moz-appearance: unset;
}

input[type=number] {
  -moz-appearance: textfield;
}

/*=============== End Fixed Stylesheet ===============*/

/*=============== Common Class ===============*/

.element-hidden {
  display: none !important;
}

/* =================== END COMMON STATUS ======================== */

@media screen and (min-width: 1500px) {
  .container,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl {
    min-width: 1450px;
  }
}

@media screen and (min-width: 992px) {
  .app-mobile {
    display: none !important;
  }

  .w-lg-unset {
    width: unset !important;
  }
}

@media screen and (min-width: 768px) {
  .w-md-unset {
    width: unset !important;
  }
}

@media screen and (max-width: 991.98px) {
  .app-desktop {
    display: none !important;
  }
}

/*=============== End Common Class ===============*/

