@charset "UTF-8";

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

button,
button:hover,
button:focus,
select,
select:hover,
select:focus,
input,
textarea {
  outline: none !important;
  box-shadow: none !important;
}

/* Firefox */

input[type=number] {
  -moz-appearance: textfield;
}

label {
  width: 100%;
}

.banned-scroll {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.obligatory {
  font-size: 20px;
  line-height: 14px;
  font-weight: normal;
  color: #FD1616;
}

.modal__note {
  margin: 10px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #717171;
}

.modal__note span {
  color: #FD1616;
}

@media screen and (max-width: 574px) {
  .modal__note {
    position: relative;
    bottom: 41px;
  }
}

.tooltip-inner {
  max-width: 300px;
}

[type=button],
[type=reset],
[type=submit],
button {
  -webkit-appearance: unset;
}

@media screen and (min-width: 575px) {
  .app-mobile {
    display: none !important;
  }
}

@media screen and (max-width: 574.98px) {
  .app-desktop {
    display: none !important;
  }
}

.hidden {
  display: none !important;
}

.btn__popup {
  background-color: transparent;
  border: none;
  outline: none;
  height: 35px;
  display: flex;
  width: 35px;
  align-items: center;
  justify-content: center;
  margin-left: 30px;
  position: relative;
  z-index: 1;
  background-color: transparent;
  cursor: pointer;
  overflow: hidden;
  border-radius: 1px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  color: #fff;
}

.btn__popup i {
  font-size: 16px;
}

.btn__popup:focus {
  outline: none;
  box-shadow: none;
}

.btn__popup:before,
.btn__popup:after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background: #3deaa4;
  opacity: 0.4;
  left: 0;
  top: 40px;
  z-index: -2;
  transition: all 0.3s cubic-bezier(0.9, 0, 0.2, 1);
  -webkit-transition: all 0.3s cubic-bezier(0.9, 0, 0.2, 1), -webkit-transform 0.3s cubic-bezier(0.9, 0, 0.2, 1);
  -moz-transition: all 0.3s cubic-bezier(0.9, 0, 0.2, 1), -webkit-transform 0.3s cubic-bezier(0.9, 0, 0.2, 1);
  -ms-transition: all 0.3s cubic-bezier(0.9, 0, 0.2, 1), -webkit-transform 0.3s cubic-bezier(0.9, 0, 0.2, 1);
  -o-transition: all 0.3s cubic-bezier(0.9, 0, 0.2, 1), -webkit-transform 0.3s cubic-bezier(0.9, 0, 0.2, 1);
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

.btn__popup:before {
  background: #3deaa4;
  opacity: 1;
  top: 50px;
  z-index: -1;
}

.btn__popup:hover {
  color: #000;
}

.btn__popup:hover:before,
.btn__popup:hover:after {
  top: 0;
  border-radius: 0;
}

.btn__popup:hover:before {
  transition-delay: 0.2s;
}

.btn-active {
  background-color: #3deaa4;
}

.btn-active i {
  color: #000;
}

.item-option--active {
  opacity: 1 !important;
  visibility: unset !important;
}

/*==========Button delete, edit=============*/

.item-option {
  position: absolute;
  display: flex;
  opacity: 0;
  visibility: hidden;
  transform: translate(5px, -5px);
  transition: all 0.3s;
}

@media screen and (max-width: 991.98px) {
  .item-option {
    opacity: 1;
    visibility: unset;
  }
}

.item-option .item-option__edit,
.item-option .item-option__delete {
  margin-left: 5px;
}

/*==========Service=============*/

#services .service-item .item-option {
  right: 5px;
  top: 5px;
}

#services .service-item:hover .item-option {
  opacity: 1;
  visibility: unset;
  transform: translate(0, 0);
}

/*==========Skill=============*/

#skills .skill-item {
  position: relative;
}

#skills .skill-item .item-option {
  right: 5px;
  bottom: 10px;
  transform: translateX(5px);
}

#skills .skill-item:hover .item-option {
  opacity: 1;
  visibility: unset;
  transform: translateX(0);
}

/*==========Education=============*/

#education .education-single {
  position: relative;
}

#education .education-single .item-option {
  right: 5px;
  top: 5px;
  transform: translateY(-5px);
  flex-direction: column;
  z-index: 1;
}

@media screen and (max-width: 1199px) and (min-width: 768px) {
  #education .education-single .item-option {
    left: -15px;
    top: 50%;
  }
}

#education .education-single:hover .item-option {
  opacity: 1;
  visibility: unset;
  transform: translateY(0);
}

/*==========Experience=============*/

#experience .experience-single {
  position: relative;
}

#experience .experience-single .item-option {
  right: 10px;
  top: 10px;
  transition: all 0.2s;
  z-index: 1;
}

@media screen and (max-width: 1199px) and (min-width: 768px) {
  #experience .experience-single .item-option {
    flex-direction: column;
  }
}

#experience .experience-single:hover .item-option {
  opacity: 1;
  visibility: unset;
}

/*===========Gallery==================*/

#works .work-single-item .item-option {
  position: absolute;
  right: 10px;
  top: 10px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s;
}

@media screen and (max-width: 1199px) {
  #works .work-single-item .item-option {
    opacity: 1;
    visibility: unset;
    background-color: #3deaa4;
  }

  #works .work-single-item .item-option i {
    color: #000;
  }

  #works .work-single-item .item-option:before,
  #works .work-single-item .item-option:after {
    background-color: #000;
  }

  #works .work-single-item .item-option:before {
    background-color: #000;
  }

  #works .work-single-item .item-option:hover i {
    color: #fff;
  }
}

#works .work-single-item:hover .item-option {
  opacity: 1;
  visibility: unset;
  z-index: 1;
}

#works .btn-edit--img {
  margin-left: 5px;
}

#body {
  padding-right: 0 !important;
}

body::-webkit-scrollbar {
  padding-right: 0;
  width: 3px;
  background-color: transparent;
  border-radius: 5px;
}

body::-webkit-scrollbar-thumb {
  background-color: #525252;
  border-radius: 5px;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #525252;
}

@-moz-document url-prefix()  {
  html {
    scrollbar-width: thin;
    scrollbar-color: #525252 transparent;
  }
}

.body {
  padding-right: 0 !important;
}

.wrapper-heading {
  margin-top: 6px;
}

.modal-backdrop {
  background-color: rgba(112, 112, 112, 0.5);
}

.fade {
  transition: opacity 0.15s linear !important;
}

.modal {
  padding-right: 0 !important;
}

.modal__input--warning {
  font-size: 12px;
  line-height: 14px;
  font-weight: normal;
  color: #FD1616;
}

.header-action-btn {
  margin-right: 47px;
}

.modal-dialog {
  max-width: 672px;
}

@media screen and (max-width: 574px) {
  .modal-dialog {
    margin: 0;
    max-width: unset;
  }
}

.modal-dialog .modal-content {
  background-color: #31313A;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: none;
}

@media screen and (max-width: 574px) {
  .modal-dialog .modal-content {
    height: 100%;
    min-height: 100vh;
  }
}

.modal-dialog .modal-content .modal-header {
  align-items: center;
  border-bottom: none;
  padding: 36px 40px 0 55px;
}

@media screen and (max-width: 574px) {
  .modal-dialog .modal-content .modal-header {
    padding: 36px 0 0;
    justify-content: center;
    border-bottom: 1px solid #EBEBEB;
  }
}

.modal-dialog .modal-content .modal-header .modal-title {
  font-size: 18px;
  line-height: 21px;
  font-weight: 500;
  color: #3DEAA4;
}

@media screen and (max-width: 574px) {
  .modal-dialog .modal-content .modal-header .modal-title {
    border-bottom: 3px solid #177F85;
    padding-bottom: 17px;
  }
}

.modal-dialog .modal-content .modal-header .close {
  font-size: 35px;
  font-weight: normal;
  color: white;
}

@media screen and (max-width: 574px) {
  .modal-dialog .modal-content .modal-header .close {
    position: absolute;
    left: 5px;
    top: 17px;
  }
}

.modal-dialog .modal-content input:focus::-moz-placeholder, .modal-dialog .modal-content textarea:focus::-moz-placeholder {
  color: transparent;
}

.modal-dialog .modal-content input:focus:-ms-input-placeholder, .modal-dialog .modal-content textarea:focus:-ms-input-placeholder {
  color: transparent;
}

.modal-dialog .modal-content input:focus::placeholder,
.modal-dialog .modal-content textarea:focus::placeholder {
  color: transparent;
}

.modal-dialog .modal-content .modal-body {
  padding: 35px 0 0;
  width: 87%;
  margin: auto;
}

@media screen and (max-width: 574px) {
  .modal-dialog .modal-content .modal-body {
    padding: 50px 0 40px;
  }
}

.modal-dialog .modal-content .modal-body .modal__title--input {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #fff;
}

.modal-dialog .modal-content .modal-body .modal__body--item {
  display: flex;
  flex-direction: column;
  margin: auto;
  min-height: 105px;
}

@media screen and (max-width: 574px) {
  .modal-dialog .modal-content .modal-body .modal__body--item {
    width: 100%;
  }
}

.modal-dialog .modal-content .modal-body .modal__body--item .modal__body--input {
  background-color: transparent;
  border: 1px solid #838383;
  box-sizing: border-box;
  width: 100%;
  padding: 11px 8px;
  margin-top: 12px;
  font-size: 16px;
  line-height: 19px;
  font-weight: normal;
  color: #FFFFFF;
}

.modal-dialog .modal-content .modal-body .modal__body--item .modal__body--input:focus {
  border: 1px solid #3DEAA4;
}

@media screen and (max-width: 574px) {
  .modal-dialog .modal-content .modal-body .modal__body--item .modal__body--input {
    border: none;
    border-bottom: 1px solid #8C8C8C;
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
    color: #FFFFFF;
  }

  .modal-dialog .modal-content .modal-body .modal__body--item .modal__body--input:focus {
    border: none;
    border-bottom: 1px solid #177F85;
  }
}

.modal-dialog .modal-content .modal-body .modal__body--item .modal__body--input.error {
  border: 1px solid #FD1616;
  font-size: 16px;
  line-height: 19px;
  font-weight: normal;
  color: #fff;
}

.modal-dialog .modal-content .modal-body .modal__body--item .border-error {
  border: 1px solid #FD1616 !important;
}

.modal-dialog .modal-content .modal-body .modal__body--item .error {
  width: 100%;
  font-size: 12px;
  line-height: 14px;
  font-weight: normal;
  color: #FD1616;
  min-height: 19px;
  word-break: break-word;
  margin-bottom: 5px;
}

.modal-dialog .modal-content .modal-body .modal__body--item-textarea {
  height: 50%;
  margin-top: 12px;
}

.modal-dialog .modal-content .modal-footer {
  justify-content: center;
  border-top: none;
  padding-bottom: 20px;
  width: 87%;
  margin: auto;
}

@media screen and (max-width: 574px) {
  .modal-dialog .modal-content .modal-footer {
    padding: 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 1;
  }
}

.modal-dialog .modal-content .modal-footer .modal__btn--cancel,
.modal-dialog .modal-content .modal-footer .modal__btn--save {
  width: 157px;
  cursor: pointer;
}

.modal-dialog .modal-content .modal-footer .modal__btn--save {
  background-color: #3DEAA4;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
  color: #000;
  border: none;
  padding: 11px 0;
}

@media screen and (max-width: 574px) {
  .modal-dialog .modal-content .modal-footer .modal__btn--save {
    width: 100%;
    border-radius: 0;
    margin-right: 0;
  }
}

.modal-dialog .modal-content .modal-footer .modal__btn--cancel {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
  color: #fff;
  background-color: transparent;
  border: 1px solid #3DEAA4;
  padding: 10px 0;
}

.title__top {
  display: flex;
}

.modal-footer button {
  transition: all 0.3s;
}

.modal-footer button:hover {
  transform: scale(1.1);
}

/*======Home-wrapper======*/

#aboutModal .modal-dialog {
  max-width: 945px;
}

.home-wrapper {
  overflow: hidden;
}

.home-wrapper .hero-img .item-option {
  right: 7%;
  top: 3%;
  transform: translateY(-22px);
  transition: all 0.3s;
}

.home-wrapper .hero-img:hover .item-option {
  opacity: 1;
  visibility: unset;
  transform: translateY(0);
}

.home-wrapper .intro-name span:first-child {
  display: flex;
  align-items: center;
}

.home-wrapper .intro-name .btn__popup {
  margin-top: 17px;
}

/*========About============*/

.about-date {
  margin: 20px 0;
}

.about-freelance img,
.about-date img {
  margin-bottom: 5px;
  margin-right: 10px;
}

.about-title {
  min-width: 110px;
  display: inline-block;
}

#infoModal .modal-dialog {
  max-width: 945px;
}

#infoModal .modal-dialog .modal__body--textarea {
  height: 220px;
}

@media screen and (max-width: 574px) {
  #infoModal .modal-dialog .modal__body--textarea {
    height: 129px;
  }
}

#infoModal .modal-dialog .modal__about--contact {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: unset;
  margin: 19px;
}

#infoModal .modal-dialog .modal__about--contact .modal__title--input {
  font-size: 18px;
}

#infoModal .modal-dialog .modal__about--contact .line {
  background-color: #3DEAA4;
  height: 1px;
  width: 40%;
}

#infoModal .modal-dialog .modal__about--contact .line:first-child {
  margin-right: auto;
}

#infoModal .modal-dialog .modal__about--contact .line:last-child {
  margin-left: auto;
}

#infoModal .modal-dialog .modal__about--note {
  background-color: #2A2A35;
  border: 1px solid #31313A;
  box-sizing: border-box;
  border-radius: 2px;
  padding: 20px;
}

@media screen and (max-width: 574.98px) {
  #infoModal .modal-dialog .modal__about--note {
    margin: 10px 0 25px;
  }
}

#infoModal .modal-dialog .modal__about--note .modal__about--note-title img {
  margin-right: 10px;
}

#infoModal .modal-dialog .modal__about--note .modal__about--note-title span {
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
  color: #fff;
}

#infoModal .modal-dialog .modal__about--note p {
  padding: 10px 0;
  font-size: 14px;
  line-height: 22px;
  font-weight: normal;
  color: #fff;
}

#infoModal .modal-dialog input[type=date] {
  position: relative;
}

#infoModal .modal-dialog input[type=date]::-webkit-calendar-picker-indicator {
  color: transparent;
  background: none;
  z-index: 1;
  position: absolute;
  right: 0;
}

#infoModal .modal-dialog input[type=date]::-webkit-calendar-picker-indicator:focus {
  outline: none !important;
  border: none !important;
  cursor: pointer;
}

#infoModal .modal-dialog input[type=date]:before {
  font-family: "Font Awesome 5 Free", serif;
  content: "\F073";
  position: absolute;
  color: #999;
  right: 6px;
}

#infoModal .modal-dialog .dropdown-menu {
  width: 100%;
}

#infoModal .modal-dialog .dropdown-menu li {
  font-size: 16px;
  line-height: 19px;
  font-weight: normal;
  color: #000;
  padding: 10px;
  cursor: pointer;
}

#infoModal .modal-dialog .dropdown-menu li:hover {
  background-color: #3DEAA4;
  color: #fff;
}

#infoModal .modal-dialog #info_freelance {
  cursor: pointer;
}

/*===========Service===========*/

.optio-dropdown .dropdown-menu {
  width: 100%;
  max-height: 200px;
  overflow: auto;
}

.optio-dropdown .dropdown-menu .dropdown-item {
  cursor: pointer;
}

.optio-dropdown .dropdown-menu .dropdown-item:hover {
  background-color: #3DEAA4;
  color: #FFFFFF;
}

.optio-dropdown #skill_name {
  cursor: pointer;
}

.service-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.service-list h4 {
  z-index: -1;
}

#serviceModal .modal__body--item-textarea {
  min-height: 186px;
}

#serviceModal .modal__body--item-search_icon {
  min-height: 90px;
}

#serviceModal .modal__body--textarea {
  height: 100px;
}

#serviceModal .modal__body--list-icon {
  min-height: 230px;
  display: unset;
}

#serviceModal .modal__body--list-icon .optio-input__service {
  max-height: 205px;
  min-height: 205px;
  overflow: auto;
  margin-bottom: 9px;
  border: 1px solid #cccccc29;
}

#serviceModal .modal__body--list-icon .optio-input__service .optio-input__service--list {
  display: flex;
  flex-wrap: wrap;
}

#serviceModal .modal__body--list-icon .optio-input__service .optio-input__service--list i {
  width: 39px;
  height: 39px;
  cursor: pointer;
  color: #fff;
  font-size: 20px;
  transition: all 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}

#serviceModal .modal__body--list-icon .optio-input__service .optio-input__service--list i.selected {
  background-color: #3DEAA4;
  border-radius: 50%;
}

#serviceModal .modal__body--list-icon .optio-input__service .service-more {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #fff;
  display: flex;
  margin: auto;
}

#serviceModal .modal__body--list-icon .optio-input__service .service-more:hover,
#serviceModal .modal__body--list-icon .optio-input__service .service-more:active {
  color: #3DEAA4;
}

#serviceModal .modal__body--list-icon ::-webkit-scrollbar {
  padding-right: 0;
  width: 3px;
  background-color: transparent;
  border-radius: 5px;
}

#serviceModal .modal__body--list-icon ::-webkit-scrollbar-thumb {
  background-color: #525252;
  border-radius: 5px;
}

#serviceModal .modal__body--list-icon ::-webkit-scrollbar-thumb:hover {
  background-color: #525252;
}

@-moz-document url-prefix()  {
  #serviceModal .modal__body--list-icon .scroller {
    scrollbar-color: #525252 transparent;
    scrollbar-width: thin;
  }
}

/*========Skill===============*/

::-webkit-scrollbar {
  padding-right: 0;
  width: 5px;
  background-color: transparent;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #525252;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #525252;
}

@-moz-document url-prefix()  {
  .scroller {
    scrollbar-color: #525252 transparent;
    scrollbar-width: thin;
  }
}

.slider {
  align-items: center;
  display: flex;
}

.slider .range-field .slider-input {
  background-color: #8F8F8F;
  height: 1px;
  -webkit-appearance: none;
  width: 100%;
  opacity: 0.7;
  transition: opacity 0.2s;
  padding: 0;
}

.slider .range-field .slider-input::-webkit-slider-thumb {
  -webkit-appearance: none;
  /* Override default look */
  appearance: none;
  width: 18px;
  /* Set a specific slider handle width */
  height: 18px;
  /* Slider handle height */
  background: #2ECA7F;
  /* Green background */
  cursor: pointer;
  /* Cursor on hover */
  border-radius: 50%;
}

.slider .range-field .slider-input::-moz-range-thumb {
  width: 18px;
  /* Set a specific slider handle width */
  height: 18px;
  /* Slider handle height */
  background: #2ECA7F;
  /* Green background */
  cursor: pointer;
  /* Cursor on hover */
  border-radius: 50%;
}

.slider .skill-value-span {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  color: #fff;
}

/*=============Knowledge=============================*/

.skills-info .knowledge__item--icon i {
  margin-right: 20px;
  color: #3DEAA4;
}

.skills-info .knowledge__list {
  margin-top: 7px;
}

.skills-info .knowledge__list .item-option {
  position: unset;
  transform: translateX(10px);
  transition: all 0.3s;
}

.skills-info .knowledge__list .item-option .btn__popup {
  margin-left: 10px;
}

.skills-info .knowledge__list li {
  margin-bottom: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.skills-info .knowledge__list li:hover .item-option {
  opacity: 1;
  visibility: unset;
  transform: translateX(0);
}

#newKnowledgeModal .modal__body--item {
  min-height: 70px;
}

#newKnowledgeModal .knowledge-item .form-knowledge .addnew-button {
  visibility: hidden;
  opacity: 0;
  transition: 0s;
}

#newKnowledgeModal .knowledge-item:last-child .form-knowledge .addnew-button {
  visibility: inherit;
  opacity: 1;
  transition: 0.2s;
}

#newKnowledgeModal .knowledge-item:nth-child(10) .form-knowledge .addnew-button {
  visibility: hidden;
  opacity: 0;
  transition: 0s;
}

#newKnowledgeModal .optio-form-control {
  display: flex;
  align-items: center;
}

#newKnowledgeModal .optio-form-control .delete-button,
#newKnowledgeModal .optio-form-control .addnew-button {
  margin-top: 12px;
  padding: 0 17px;
}

#newKnowledgeModal .optio-form-control .addnew-button {
  margin-left: 15px;
}

/*=============Education, Experience=============*/

#educationModal .time__from-to,
#experienceModal .time__from-to {
  margin-top: 10px;
  display: flex;
}

@media screen and (max-width: 574px) {
  #educationModal .time__from-to,
  #experienceModal .time__from-to {
    flex-direction: column;
    margin-top: 0;
  }
}

#educationModal .time__from-to .time-from,
#educationModal .time__from-to .time-to,
#experienceModal .time__from-to .time-from,
#experienceModal .time__from-to .time-to {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 574px) {
  #educationModal .time__from-to .time-from,
  #educationModal .time__from-to .time-to,
  #experienceModal .time__from-to .time-from,
  #experienceModal .time__from-to .time-to {
    align-items: flex-end;
  }
}

#educationModal .time__from-to .time-from .modal__body--input,
#educationModal .time__from-to .time-to .modal__body--input,
#experienceModal .time__from-to .time-from .modal__body--input,
#experienceModal .time__from-to .time-to .modal__body--input {
  margin: 0 5px;
  width: 76px;
  height: 40px;
  text-align: center;
}

#educationModal .time__from-to .modal__title--input,
#experienceModal .time__from-to .modal__title--input {
  margin: 0 15px 0.5rem 0;
}

#educationModal .time__from-to .time-to .modal__title--input,
#experienceModal .time__from-to .time-to .modal__title--input {
  margin-left: 15px;
}

@media screen and (max-width: 574px) {
  #educationModal .time__from-to .time-from .modal__title--input,
  #experienceModal .time__from-to .time-from .modal__title--input {
    margin: 0 23px 0 0;
  }

  #educationModal .time__from-to .time-to .modal__title--input,
  #experienceModal .time__from-to .time-to .modal__title--input {
    margin: 0 15px 0 0;
  }
}

/*=============Experience=============*/

#experienceModal .optio-input__currentdate {
  display: flex;
  margin: 10px 0;
}

@media screen and (max-width: 574.98px) {
  #experienceModal .optio-input__currentdate {
    margin: 10px 0 0;
  }
}

#experienceModal .optio-input__currentdate .optio-input__currentdate--label {
  display: flex;
  cursor: pointer;
}

#experienceModal .optio-input__currentdate .optio-input__currentdate--label .optio-input__currentdate--labelinput {
  border: 1px solid #3DEAA4;
  width: 20px;
  height: 20px;
  font-size: 12px;
  border-radius: 2px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  transition: all 0.1s;
  cursor: pointer;
}

#experienceModal .optio-input__currentdate .modal__title--input {
  margin: 2px 0 0 8px;
}

#experienceModal .optio-input__currentdate .optio-input__currentdate--input:checked ~ .optio-input__currentdate--labelinput {
  background-color: #3DEAA4;
}

#experienceModal .time__from-to .optio-input__labeldate {
  margin: 0 15px;
}

#experienceModal label {
  width: unset;
}

#experienceModal .time-from .optio-input__labeldate {
  margin-left: 0;
}

@media screen and (max-width: 574px) {
  #experienceModal .time-from .optio-input__labeldate {
    margin-right: 23px;
  }
}

@media screen and (max-width: 574px) {
  #experienceModal .time-to .optio-input__labeldate {
    margin-left: 0;
  }
}

/*========Gallery============*/

#addGalleryModal .modal-body .work__upload--file {
  padding-bottom: 0;
  cursor: pointer;
  margin-bottom: 45px;
  position: relative;
}

#addGalleryModal .modal-body .work__upload--file .upload {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  cursor: pointer;
}

#addGalleryModal .modal-body .work__upload--file .box__drop {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  padding: 20px 0;
  border: 1px dashed #D9D9D9;
  box-sizing: border-box;
  border-radius: 2px;
}

#addGalleryModal .modal-body .work__upload--file .box__drop .box__drop--des {
  font-size: 16px;
  line-height: 25px;
  font-weight: normal;
  color: #fff;
  text-align: center;
}

#addGalleryModal .modal-body .work__upload--file .box__drop .box__drop--subdes {
  font-size: 14px;
  line-height: 22px;
  font-weight: normal;
  color: rgba(255, 255, 255, 0.45);
  margin-bottom: 0;
  text-align: center;
}

#addGalleryModal .modal-body #gallery_list_error {
  padding-top: 20px;
}

#addGalleryModal .modal-body .box__drag {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #eeeeee;
  padding: 5px;
  margin-bottom: 10px;
  height: 100%;
}

#addGalleryModal .modal-body .box__drag .img__name {
  margin-bottom: 0;
  overflow: hidden;
  padding-left: 5px;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  max-height: 28px;
  font-size: 14px;
  line-height: 11px;
  font-weight: normal;
  color: #fff;
}

#addGalleryModal .modal-body .box__drag .gallery-item__image {
  height: 100%;
  min-width: 50px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

#addGalleryModal .modal-body .box__drag .img-upload {
  width: 40px;
  height: 40px;
}

#addGalleryModal .modal-body .box__drag .work__delete--img {
  height: unset;
  border: none;
  outline: none;
  background-color: transparent;
  color: white;
  font-size: 12px;
  cursor: pointer;
}

#addGalleryModal .modal-body .box__drag .work__delete--img:focus {
  box-shadow: none;
}

#addGalleryModal .modal-footer {
  padding: 45px 0;
}

#contactModal .col-12 .modal__body--item:last-child {
  min-height: 262px;
}

/*============Modal Project=================*/

@media screen and (max-width: 574.98px) {
  #projectModal {
    padding-left: 0 !important;
  }
}

#projectModal .modal-dialog {
  max-width: 943px;
}

#projectModal .modal-dialog .modal-body {
  width: 92%;
}

#projectModal .modal-dialog .modal-body .optio-input__currentdate {
  display: flex;
}

#projectModal .modal-dialog .modal-body .optio-input__currentdate .optio-input__currentdate--label {
  display: flex;
  cursor: pointer;
}

#projectModal .modal-dialog .modal-body .optio-input__currentdate .optio-input__currentdate--label .optio-input__currentdate--labelinput {
  border: 1px solid #3DEAA4;
  width: 20px;
  height: 20px;
  font-size: 12px;
  border-radius: 2px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  transition: all 0.1s;
  cursor: pointer;
}

#projectModal .modal-dialog .modal-body .optio-input__currentdate .modal__title--input {
  margin: 2px 0 0 8px;
}

#projectModal .modal-dialog .modal-body .optio-input__currentdate .optio-input__currentdate--input:checked ~ .optio-input__currentdate--labelinput {
  background-color: #3DEAA4;
}

#projectModal .modal-dialog .modal-body .time__from-to {
  display: flex;
}

#projectModal .modal-dialog .modal-body .time__from-to .optio-input__labeldate {
  margin: 0 15px;
}

#projectModal .modal-dialog .modal-body .time__from-to input {
  width: 144px;
  text-align: center;
}

@media screen and (max-width: 991.98px) {
  #projectModal .modal-dialog .modal-body .time__from-to input {
    width: 100%;
  }
}

#projectModal .modal-dialog .modal-body .time-from,
#projectModal .modal-dialog .modal-body .time-to {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 574px) {
  #projectModal .modal-dialog .modal-body .time-from .optio-input__labeldate,
  #projectModal .modal-dialog .modal-body .time-to .optio-input__labeldate {
    margin: 0 22px;
  }
}

#projectModal .modal-dialog .modal-body .modal__body--item-time .modal__body--item-time_top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

#projectModal .modal-dialog .modal-body textarea {
  min-height: 150px;
}

#projectModal .modal-dialog .modal-body .modal__body--item-textarea {
  height: unset;
  margin-top: unset;
  min-height: 209px;
}

#projectModal .modal-dialog .modal-body #project_job_position {
  margin-top: 17px;
}

#projectModal .modal-dialog .modal-body .select2 {
  width: 100% !important;
}

#projectModal .modal-dialog .modal-body .select2 .select2-selection {
  background-color: transparent;
  border: 1px solid #838383;
  border-radius: 0;
  min-height: 43px;
  margin-top: 12px;
}

@media screen and (max-width: 574.98px) {
  #projectModal .modal-dialog .modal-body .select2 .select2-selection {
    border: none;
    border-bottom: 1px solid #838383;
  }
}

#projectModal .modal-dialog .modal-body .select2 .select2-selection .select2-selection__rendered {
  display: flex;
  flex-wrap: wrap;
}

#projectModal .modal-dialog .modal-body .select2 .select2-selection .select2-selection__rendered .select2-selection__choice {
  font-size: 14px;
  line-height: 22px;
  font-weight: normal;
  color: #464646;
  display: flex;
  align-items: center;
  height: 30px;
  background-color: #EEEEEE;
  padding: 0 10px;
}

#projectModal .modal-dialog .modal-body .select2 .select2-selection .select2-selection__rendered .select2-selection__choice span {
  color: #464646;
}

#projectModal .modal-dialog .modal-body .select2 .select2-selection .select2-search__field {
  color: #fff;
}

.select2-results__option {
  color: #464646;
}

.select2-results__option--highlighted[aria-selected] {
  background-color: #3DEAA4 !important;
}

#project .project__item .name {
  width: 81%;
}

#project .project__item .item-option {
  right: 25px;
}

#project .project__item:hover .item-option {
  opacity: 1;
  visibility: unset;
  z-index: 1;
}

#project .project__item .stack {
  display: flex;
  flex-wrap: wrap;
}

#project .project__item .stack .stack-item {
  display: flex;
  flex-wrap: wrap;
}

/*===========Modal Bootbox==============*/

.bootbox .modal-dialog {
  height: 100%;
  display: flex;
  align-items: center;
  margin-top: 0;
}

@media screen and (max-width: 574px) {
  .bootbox .modal-dialog {
    max-width: 672px;
    margin: 0.5rem;
  }

  .bootbox .modal-dialog .modal-content {
    height: unset;
    min-height: unset;
  }
}

.bootbox .modal-dialog .bootbox-cancel {
  width: 100px;
}

.bootbox .modal-dialog .bootbox-accept {
  width: 130px;
}

.bootbox .modal-dialog .modal-content .bootbox-close-button {
  color: #fff;
}

@media screen and (max-width: 574px) {
  .bootbox .modal-dialog .modal-content .modal-footer {
    position: unset;
    padding-bottom: 20px;
  }
}

