p, h1, h2, h3, h4, h5, label {
  margin-bottom: 0;
}

button {
  border: none;
  background-color: transparent;
}

.sort {
  path {
    fill: #555555;
  }
}

.date-ranger {
  margin-left: 6px;

  .calender {
    background: $badge_s_b_gray;
    border-radius: 4px;
    padding: 5px 19px 4px 15px;
    cursor: pointer;
    width: 215px;
    @include setTextStyleColor(14px, 30px, 500, $color_blue);
    border: none;

    &:hover {
      background-color: #E7E7E7;
    }

    &:focus {
      box-shadow: none;
    }

    &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
      @include setTextStyleColor(14px, 30px, 500, $color_blue);
      opacity: 1; /* Firefox */
    }

    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
      @include setTextStyleColor(14px, 30px, 500, $color_blue);
    }

    &::-ms-input-placeholder { /* Microsoft Edge */
      @include setTextStyleColor(14px, 30px, 500, $color_blue);
    }
  }

  svg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 4%;
    cursor: pointer;
    width: 11px;
  }
}

.input-hidden {
  position: absolute;
  opacity: 0;
  visibility: hidden;
}

.action__content--download {
  background: #EFEFEF;
  border-radius: 4px;
  width: 152px;
  height: 33px;
}

.content {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  animation: coming-up-short 0.3s both;

  &__title {
    padding: 15px 20px 17px 20px;
    border-bottom: 1px solid #EBEBEB;

    h4 {
      @include setTextStyleColor(18px, 21px, 600, $color_black_bold);
    }

    .total-list {
      @include setTextStyleColor(18px, 21px, 600, $color_black_bold);
      padding-left: 5px;
      overflow: hidden;
      display: -webkit-box;
      word-break: break-word;
      text-overflow: ellipsis;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
    }
  }

  &__title--action {
    padding: 12px 20px 16px 20px;
    justify-content: flex-end;
    .search__label {
      margin-right: 6px;
    }
  }

  &__list--title {
    background-color: #FAFAFA;
    border-bottom: 1px solid #EBEBEB;
    border-top: 1px solid #EBEBEB;
    min-height: 68px;

    .checkbox-remove {
      &:after {
        content: "";
        position: absolute;
        height: 3px;
        width: 13px;
        background-color: #fff;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    .checkbox-all {
      &:before {
        content: "";
        position: absolute;
        width: 3px;
        height: 8px;
        background-color: #fff;
        top: 49%;
        left: 49%;
        transform: rotate(-45deg) translateX(-50%) translateY(-50%);
      }
      &:after {
        content: "";
        position: absolute;
        width: 3px;
        height: 12px;
        background-color: #fff;
        top: 49%;
        left: 40%;
        transform: rotate(45deg) translateX(-50%) translateY(-50%);
      }
    }

    .list-title {
      min-height: 33px;
    }
  }
}

.edit__status--label {
  min-width: 130px;
}

.candidate-select2-dropdown {
  border: none;
  animation: show-height 0.2s both;
}

.select2-container--default.select2-container--open {
  .select2-selection--single {
    background-color: $color_blue;

    .select2-selection__arrow {
      b {
        border-color: transparent transparent #fff transparent;
        border-width: 0 6px 7px 6px;
        top: 46%;
        left: unset;
        margin: 0;
      }
    }

    .select2-selection__rendered, .select2-selection__placeholder {
      color: #fff;
    }
  }
}

.daterangepicker {
  animation: show-date .3s both;
  z-index: 1;

  .ranges {
    li.active {
      background-color: $color_blue;
    }
  }

  td.active {
    background-color: $color_blue;

    &:hover {
      background-color: $color_blue;
    }
  }

  .drp-buttons {
    .applyBtn {
      background-color: $color_apply;
      border: none;

      &:focus, &:active {
        box-shadow: none !important;
        border: none;
        background-color: transparent;
      }

      &:hover {
        background-color: $color_apply;
      }
    }
  }
}

.header-shadow {
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.08);
}

.height__list--body {
  counter-reset: rowNumber;

  .numerical-order {
    &:first-child {
      counter-increment: rowNumber;

      &:before {
        content: counter(rowNumber);
        @include setTextStyleColor(16px, 22px, bold, #555555);
      }
    }
  }
}

/*===============================LIST JOB==========================*/
#list-candidate  {
  overflow: hidden;
  margin-top: 43px;

  .export-btn {
    @include setTextStyleColor(14px, 30px, 500, $color_blue);
    background-color: $badge_s_b_gray;
    margin-left: 6px;
    padding: 0 14px;
    height: 39px;
    border-radius: 4px;
    svg {
      margin-right: 8px;
    }

    &:hover {
      background-color: #E7E7E7;
    }

    &:active {
      transform: scale(0.95);
    }
  }

  .search__form {
    .search__label {
      width: 283px;
      .search__input {
        background: $badge_s_b_gray;
        border-radius: 4px;
        border: none;
        padding: 4px 12px;
        height: 40px;
        width: 100%;
        @include setTextStyleColor(14px, 30px, 500, $color_blue);

        &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
          @include setTextStyleColor(14px, 30px, 500, $color_blue);
          opacity: 1; /* Firefox */
        }

        &:-ms-input-placeholder { /* Internet Explorer 10-11 */
          @include setTextStyleColor(14px, 30px, 500, $color_blue);
        }

        &::-ms-input-placeholder { /* Microsoft Edge */
          @include setTextStyleColor(14px, 30px, 500, $color_blue);
        }

        &:focus {
          &::placeholder {
            color: transparent;
          }
        }
      }
    }
  }

  .content__title--action-right {

    .user-upload__label {
      margin-right: 6px;
    }

    .search__label {
      width: 270px;
    }
  }

  .select2-container {
    .select2-search--inline {
      .select2-search__field {
        height: 100%;
        margin: 0 0 0 12px;

        &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
          @include setTextStyleColor(14px, 30px, 500, $color_blue);
          opacity: 1; /* Firefox */
        }

        &:-ms-input-placeholder { /* Internet Explorer 10-11 */
          @include setTextStyleColor(14px, 30px, 500, $color_blue);
        }

        &::-ms-input-placeholder { /* Microsoft Edge */
          @include setTextStyleColor(14px, 30px, 500, $color_blue);
        }

        &:focus {
          &::placeholder {
            color: transparent;
          }
        }
      }
    }
  }

  .content__list--title {
    background-color: #FAFAFA;
    min-height: 48px;
    .application-date {
      cursor: pointer;
    }
    .candidate-select2-selection {
      height: 33px;
      .select2-selection__rendered {
        line-height: 34px;
      }
    }
    .select2-container--default {
      .candidate-select2-selection {
        .select2-selection__arrow {
          b {
            top: 38%;
          }
        }
      }
    }
  }

  .numerical-order {
    min-width: 100px;
  }

  .name-candidate {
    width: 334px;
    padding-right: 40px;
    .name-avt {
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      height: 44px;
      width: 44px;
      margin-right: 15px;
      min-width: 44px;
      border-radius: 50%;
    }
    .text-default {
      margin-bottom: 0;
    }
  }

  .vacancies {
    width: 370px;
    padding-right: 100px;
  }

  .application-date {
    width: 202px;
    padding-right: 30px;
  }

  .status {
    width: 193px;
  }

  .list__title--item {
    .text-list-title {
      display: flex;
      align-items: center;
      .arrow-sort {
        height: 15px;
        justify-content: space-around;
        display: flex;
        flex-direction: column;
        margin-left: 5px;
      }
    }
  }

  .candidate__list--body {
    max-height: 859px;
    overflow: auto;
    width: 100%;
    min-height: 444px;

    .lazy-loading {
      display: flex;
      align-items: center;
      justify-content: center;
      @include setTextStyleColor(16px, 22px, normal, #454545);
      height: 86px;
    }

    &::-webkit-scrollbar {
      padding-right: 0;
      width: 5px;
      background-color: transparent;
      border-radius: 5px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #C4C4C4;
      border-radius: 5px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background-color: #C4C4C4;
    }

    .list__content--item {
      height: 86px;
      position: relative;

      &:after {
        content: "";
        position: absolute;
        bottom: 0;
        height: 1px;
        width: 97%;
        background-color: #F0F0F0;
        left: 50%;
        transform: translateX(-50%);
      }

      .status {
        span {
          font-size: 14px;
          line-height: 21px;
          font-weight: normal;
          border-radius: 30px;
          padding: 1px 11px;
        }
      }
    }
  }

  @-moz-document url-prefix() {
    .candidate__list--body.scroller {
      scrollbar-color:#C4C4C4 transparent ;
      scrollbar-width: thin;
    }
  }

  .name-candidate {
    display: inline-block;
    .job-title {
      @include setTextStyleColor(14px, 22px, normal, #848484);
      @extend %default-text;
    }
    .text-default {
      color: #454545;
      @extend %default-text;
      -webkit-line-clamp: 2;
    }
  }
  .vacancies {
    .basic-info__job {
      @extend %default-text;
      -webkit-line-clamp: 2;
    }
  }
  .application-date {
    @extend %default-text;
    .basic-info__job {
      margin-left: 12px;
    }
  }

  .status {
    @extend %default-text;
    display: flex;
    justify-content: center;
    margin-right: 55px;
  }

  .action {
    margin-left: 13px;
  }

  .dropdown {
    background: #F4F4F4;
    border-radius: 4px;
  }

  .list-action {
    .list-action--button {
      width: 111px;
      height: 35px;
      @include setTextStyleColor(14px, 16px, 500, $color_text_select);
      padding: 0;

      svg {
        margin-left: 6px;
      }

      &:focus {
        box-shadow: none;
      }
    }

    .button-active {
      background-color: $color_text_select;
      color: #fff;
      svg {
        path {
          fill: #fff;
        }
      }
    }

    .dropdown-menu {
      animation: show-date 0.2s both;
      left: unset !important;
      right: 0 !important;
      top: 34px !important;
      box-shadow: 0 3px 5px rgba(9, 30, 66, 0.2), 0 0 1px rgba(9, 30, 66, 0.31);
      border-radius: 3px;
      border: none;
      .dropdown-item {
        @include setTextStyleColor(14px, 20px, normal, #172B4D);
        padding: 6px 16px;
        &:hover {
          background-color: $color_button;
          color: #fff;
        }
      }
    }
  }

  .background-shadow {
    background: #FFFFFF;
    box-shadow: 0px -3px 4px rgba(0, 0, 0, 0.08);
    height: 50px;
  }

  .list__action--item {
    margin-right: 40px;
  }
}


.select2-container--default {
  .select2-selection--single {
    background: $badge_s_b_gray;
    border-radius: 4px;
    border: none;
    @include setTextStyleColor(14px, 20px, normal, $color_blue);
    box-shadow: none;
    height: 40px;
    padding-bottom: 0;

    .select2-selection__placeholder {
      @include setTextStyleColor(14px, 20px, 500, $color_blue);
    }

    .select2-selection__rendered {
      @include setTextStyleColor(14px, 40px, 500, $color_blue);
      padding: 0 30px 0 15px;
    }

    &:focus {
      outline: none;
    }

    .select2-selection__arrow {
      height: 33px;
      b {
        border-color: #164256 transparent transparent transparent;
        border-width: 7px 6px 0 6px;
        top: 46%;
        margin: 0;
        left: unset;
      }
    }
  }
  .select2-results {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    .select2-results__options {
      &::-webkit-scrollbar {
        padding-right: 0;
        width: 5px;
        background-color: transparent;
        border-radius: 5px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: #C4C4C4;
        border-radius: 5px;
      }

      &::-webkit-scrollbar-thumb:hover {
        background-color: #C4C4C4;
      }
    }
  }
  .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: $color_button;
  }
}

.select2-results__option {
  overflow: hidden;
  height: 33px;
  @include setTextStyleColor(14px, 23px, 500, $color_blue);
}

.select2-container--default.select2-container--focus {
  .select2-selection--multiple {
    border: none;
  }
}

/*===============================MODAL==========================*/
#edit_status_candidate_modal {
  .modal-dialog {
    max-width: 543px;
    .modal-header {
      @include setTextStyleColor(18px, 21px, 500, #555555);
      padding: 22px 38px;
    }
    .modal-body {
      padding: 42px 42px 52px;
      .text-default {
        margin-bottom: 10px;
      }
    }
    .modal-footer {
      background: #F3F3F3;
      border-radius: 0 0 4px 4px;
      .btn-cancel {
        background: #D9D9D9;
        box-shadow: 0 2px 0 rgba(0, 0, 0, 0.043);
        border-radius: 4px;
        @include setTextStyleColor(16px, 19px, 500, #4D4D4D);
      }
      .btn-save {
        background: linear-gradient(90.19deg, #D63A1C 0.17%, #EA5B40 99.87%);
        box-shadow: 0 2px 0 rgba(0, 0, 0, 0.043);
        border-radius: 4px;
        @include setTextStyleColor(16px, 19px, 500, #fff);
      }
      .btn-cancel, .btn-save {
        width: 170px;
        height: 39px;
      }
    }
  }
}

#candidate_note_modal {
  .modal-dialog {
    max-width: 536px;

    .modal-header {
      padding: 22px 38px;
      h5 {
        @include setTextStyleColor(18px, 21px, 500, #555555);
      }
    }

    .modal-body {
      padding: 44px 40px;

      &--label {
        width: 100%;
      }

      &--note {
        background: #F8F8F8;
        border: 1px solid #CECCCC;
        box-sizing: border-box;
        border-radius: 2px;
        @include setTextStyleColor(16px, 19px, normal, #353535);
        width: 100%;
        min-height: 169px;
        padding: 12px 17px;

        &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
          @include setTextStyleColor(16px, 19px, normal, #999999);
          opacity: 1; /* Firefox */
        }

        &:-ms-input-placeholder { /* Internet Explorer 10-11 */
          @include setTextStyleColor(16px, 19px, normal, #999999);
        }

        &::-ms-input-placeholder { /* Microsoft Edge */
          @include setTextStyleColor(16px, 19px, normal, #999999);
        }

        &:focus {
          &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: transparent;
          }

          &:-ms-input-placeholder { /* Internet Explorer 10-11 */
            color: transparent;
          }

          &::-ms-input-placeholder { /* Microsoft Edge */
            color: transparent;
          }
        }

      }
    }

    .modal-footer {
      background: #F3F3F3;
      border-radius: 0 0 4px 4px;
      border-top: none;

      .btn-cancel, .btn-save {
        width: 170px;
        height: 39px;
        padding: 0;
        box-shadow: 0 2px 0 rgba(0, 0, 0, 0.043);
        border-radius: 4px;
      }

      .btn-cancel {
        background: #D9D9D9;
        @include setTextStyleColor(16px, 19px, 500, #4D4D4D);
      }

      .btn-save {
        background: linear-gradient(90.19deg, #D63A1C 0.17%, #EA5B40 99.87%);
        @include setTextStyleColor(16px, 19px, 500, #fff);
      }
    }
  }
}