@media screen and (max-width: 1499.98px) {
  #list-candidate {
    .content {
      .content__title--action {
      }
    }

    .content__title--action-right {
      .search__label {
        width: 260px;
      }
    }

    .numerical-order {
      min-width: 75px;
    }

    .name-candidate {
      width: 260px;
      padding-right: 20px;
    }

    .vacancies {
      width: 310px;
      padding-right: 30px;
    }

    .application-date {
      width: 140px;
      padding-right: 0;
    }

    .status {
      width: 160px;
      margin-right: 18px;
    }
  }
}

@media screen and (max-width: 1199.98px) {
  #list-candidate {
    .list-action {
      .list-action--button {
        width: 75px;
        @include setTextStyle(12px, 14px, 500);
        svg {
          margin-left: 2px;
          margin-bottom: 1px;
          width: 7px;
        }
      }

      .dropdown-menu {
        .dropdown-item {
          @include setTextStyle(12px, 20px, normal);
        }
      }
    }

    .candidate__list--body {
      .list__content--item {
        .status {
          span {
            font-size: 11px;
            padding: 0 7px;
            display: inline-flex;
          }
        }
      }
    }

    .search__form {
      .search__label {
        width: 210px;
        .search__input {
          @include setTextStyle(12px, 30px, 500);

          &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            @include setTextStyleColor(12px, 30px, 500, $color_blue);
            opacity: 1; /* Firefox */
          }

          &:-ms-input-placeholder { /* Internet Explorer 10-11 */
            @include setTextStyleColor(12px, 30px, 500, $color_blue);
          }

          &::-ms-input-placeholder { /* Microsoft Edge */
            @include setTextStyleColor(12px, 30px, 500, $color_blue);
          }
        }
      }
    }

    .content__title--action-right {
      .search__label {
        width: 200px;
      }
    }

    .export-btn {
      padding: 0 10px;
      @include setTextStyle(12px, 30px, 500);
    }

    .calender {
      padding: 6px 10px 4px;
      width: 175px;
    }

    .numerical-order {
      min-width: 50px;
    }

    .name-candidate {
      width: 210px;
      padding-right: 20px;

      .job-title {
        @include setTextStyle(12px, 18px, normal);
      }

      .name-avt {
        height: 37px;
        width: 37px;
        min-width: 37px;
      }
    }

    .vacancies {
      width: 275px;
      padding-right: 30px;
    }

    .application-date {
      width: 130px;
    }

    .status {
      width: 140px;
    }

    .action {
      margin-left: 0;
    }

    .list-action {
      .list-action--button {
        height: 30px;
      }
    }
  }

  .date-ranger {
    .calender {
      @include setTextStyle(12px, 30px, 500);

      &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        @include setTextStyle(12px, 30px, 500);
        opacity: 1; /* Firefox */
      }

      &:-ms-input-placeholder { /* Internet Explorer 10-11 */
        @include setTextStyle(12px, 30px, 500);
      }

      &::-ms-input-placeholder { /* Microsoft Edge */
        @include setTextStyle(12px, 30px, 500);
      }
    }

    svg {
      width: 10px;
    }
  }

  .select2-container--default {
    .select2-selection--single {

      .select2-selection__rendered {
        @include setTextStyle(12px, 40px, 500);
      }

      .select2-selection__placeholder {
        @include setTextStyle(12px, 40px, 500);
      }

      .select2-selection__arrow b {
        border-width: 6px 5px 0 5px;
      }
    }
  }

  .select2-container--default.select2-container--open {
    .select2-selection--single {
      .select2-selection__arrow b {
        border-width: 0 5px 6px 5px;
      }
    }
  }

  .select2-results__option {
    @include setTextStyle(12px, 23px, 500);
  }
}

@media screen and (min-width: 992px) {
  .w-lg-unset {
    width: unset !important;
  }
}

@media screen and (max-width: 991.98px) {
  .pagination {
    justify-content: center;
    align-items: center;
    margin: 30px 0;
    .page-item {
      margin: 0 4px;
      padding: 0;
      .page-link {
        padding: 0;
        width: 66px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .active {
        &:focus {
          border: 1px solid #1C4355;
        }
      }
      .page-item--lable {
        span {
          @include setTextStyleColor(14px, 21px, normal, #1C4355);
          margin-left: 11px;
          margin-right: 4px;
        }
        .go-to__input {
          width: 50px;
          text-align: center;
          border: 1px solid #D9D9D9;
          border-radius: 2px;
          @include setTextStyleColor(14px, 21px, normal, #1C4355);
          height: 32px;
        }
      }
    }
    .page {
      border: 1px solid #D9D9D9;
      height: 32px;
      width: 66px;
      display: flex;
      align-items: center;
      justify-content: center;
      @include setTextStyleColor(14px, 21px, normal, #1C4355);
    }
    .prev, .next {
      height: 32px;
      width: 32px;
      border: 1px solid #D9D9D9;
      border-radius: 2px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      &:active {
        border: 1px solid #1C4355;
      }
    }
    .disabled {
      svg {
        path {
          fill: #D9D9D9;
        }
      }
    }
    .page-link {
      @include setTextStyleColor(14px, 21px, normal, #1C4355);
      &:focus {
        box-shadow: none;
      }
      &:hover {
        background-color: transparent;
      }
    }
  }

  #list-candidate {
    .content {
      .content__title--action {
        flex-direction: column;
      }
    }

    .list-action {
      .list-action--button {
        @include setTextStyle(12px, 14px, 500);
      }
    }

    .content__title--action {
      width: 100%;
      .search__form {
        width: 100%;
        .search__label {
          margin-right: 0;
          width: 100%;
          .search-icon {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 3%;
          }
        }
      }
    }

    .content__title--action-right {
      flex-direction: column;
      .search__label {
        width: 100%;
        margin-right: 0;
      }
    }

    .candidate__list--body {
      max-height: unset;
      .list__content--item {
        border: 0.5px solid #BBBBBB;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
        border-radius: 4px;
        margin: 17px 15px;
        height: unset;
        position: relative;
        .status {
          span {
            padding: 2px 8px;
            @include setTextStyle(11px, 14px, normal)
          }
        }
      }

      .lazy-loading {
        height: 0;
      }
    }

    .name-candidate {
      width: 100%;
      background: #F4F4F4;
      border-radius: 4px 4px 0 0;
      padding: 15px 130px 15px 15px;
      .text-default {
        @include setTextStyleColor(14px, 22px, 500, $color_title_mobile);
      }
      .job-title {
        @include setTextStyleColor(12px, 22px, normal, #454545);
      }
    }

    .vacancies {
      width: 100%;
      padding-right: 15px;
      display: flex;
      margin-bottom: 10px;
    }

    .application-date {
      width: 100%;
      display: flex;
      .basic-info__job {
        margin-left: 0;
      }
    }

    .status {
      position: absolute;
      right: 15px;
      top: 14px;
      width: unset;
      margin-right: 0;
    }
    .basic-info {
      width: 100%;
      flex-direction: column;
      padding: 16px 15px;
      .basic-info--content {
        .basic-info__title {
          @include setTextStyleColor(12px, 14px, 500, #555555);
          min-width: 100px;
          display: inline-block;
        }
        .basic-info__job {
          @include setTextStyleColor(12px, 14px, normal, #454545);
        }
      }
    }
    .list-action {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      border-top: 1px solid #E8E8E8;
      padding: 13px 0;
      .action-item {
        justify-content: center;
        background-color: #F4F4F4;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        margin: 0 3px;
      }
      .action-edit--status {
        svg {
          width: 9px;
        }
      }
      .action-delete {
        svg {
          width: 13px;
        }
      }
      .action-download {
        svg {
          width: 18px;
        }
      }
    }
  }

  #edit_status_candidate_modal {
    .modal-dialog {
      .modal-header {
        h5 {
          @include setTextStyleColor(16px, 19px, 500, #555555);
        }
      }

      .modal-footer {

        .btn-cancel, .btn-save {
          width: 155px;
        }

        .btn-cancel {
          @include setTextStyleColor(14px, 16px, 500, #4D4D4D);
        }

        .btn-save {
          @include setTextStyleColor(14px, 16px, 500, #fff);
        }
      }
    }
  }

  #candidate_note_modal {
    .modal-dialog {
      .modal-header {
        h5 {
          @include setTextStyleColor(16px, 19px, 500, #555555);
        }
      }

      .modal-body {
        padding: 20px;

        &--note {
          @include setTextStyleColor(14px, 16px, normal, #353535);
          min-height: 169px;
          padding: 12px 17px;

          &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            @include setTextStyleColor(14px, 16px, normal, #999999);
            opacity: 1; /* Firefox */
          }

          &:-ms-input-placeholder { /* Internet Explorer 10-11 */
            @include setTextStyleColor(14px, 16px, normal, #999999);
          }

          &::-ms-input-placeholder { /* Microsoft Edge */
            @include setTextStyleColor(14px, 16px, normal, #999999);
          }
        }
      }

      .modal-footer {

        .btn-cancel {
          @include setTextStyleColor(14px, 16px, 500, #4D4D4D);
          width: 40%;
        }

        .btn-save {
          @include setTextStyleColor(14px, 16px, 500, #fff);
          width: 50%;
        }
      }
    }
  }
}

@media screen and (max-width: 767.98px) {
  .edit__status--label {
    width: 100%;
    min-width: unset;
    width: 140px;
  }

  #list-candidate {
    .search__form {
      .search__label {
        .search__input {
          @include setTextStyleColor(12px, 30px, 500, $color_blue);
          &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            @include setTextStyleColor(12px, 30px, 500, $color_blue);
          }

          &:-ms-input-placeholder { /* Internet Explorer 10-11 */
            @include setTextStyleColor(12px, 30px, 500, $color_blue);
          }

          &::-ms-input-placeholder { /* Microsoft Edge */
            @include setTextStyleColor(12px, 30px, 500, $color_blue);
          }
        }
      }
    }
  }

  .select2-results__option--selectable {
    @include setTextStyle(12px, 23px, 500);
  }

  .date-ranger {
    svg {
      width: 10px;
    }
    .calender {
      width: 100%;
      padding: 5px 10px 4px 5px;
      @include setTextStyleColor(12px, 30px, 500, $color_blue);

      &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        @include setTextStyleColor(12px, 30px, 500, $color_blue);
      }

      &:-ms-input-placeholder { /* Internet Explorer 10-11 */
        @include setTextStyleColor(12px, 30px, 500, $color_blue);
      }

      &::-ms-input-placeholder { /* Microsoft Edge */
        @include setTextStyleColor(12px, 30px, 500, $color_blue);
      }
    }

  }


  .select2-container--default {
    .candidate-select2-selection {
      .select2-selection__rendered {
        @include setTextStyleColor(12px, 40px, 500, $color_blue);
        padding-right: 15px;
      }
      .select2-selection__arrow {
        height: 33px;
        right: -3px;

        b {
          border-width: 6px 5px 0 5px;
          top: 48%;
          margin-top: 0;
        }
      }
    }
  }
}