/*=============== Search CV ===============*/

/*=============== End Search CV ===============*/

/*=============== Post Job ===============*/

/*=============== End Post Job ===============*/

/*=============== Company Information ===============*/

/*=============== End Company Information ===============*/

/*=============== Buy Points ===============*/

/*=============== End Buy Points ===============*/

/*=============== DASHBOARD ===============*/

/*=============== End DASHBOARD ===============*/

/*=============================KEYFRAMES================================*/

@-webkit-keyframes flyLeftToRight {
  0% {
    left: 0;
    opacity: 1;
  }

  49% {
    left: 100%;
    opacity: 0;
  }

  50% {
    left: -20%;
    opacity: 0;
  }

  100% {
    left: 0;
    opacity: 1;
  }
}

@keyframes flyLeftToRight {
  0% {
    left: 0;
    opacity: 1;
  }

  49% {
    left: 100%;
    opacity: 0;
  }

  50% {
    left: -20%;
    opacity: 0;
  }

  100% {
    left: 0;
    opacity: 1;
  }
}

@-webkit-keyframes searchScale {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(2);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes searchScale {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(2);
  }

  100% {
    transform: scale(1);
  }
}

@-webkit-keyframes show-height {
  0% {
    opacity: 0;
    transform: translateY(-50%) scaleY(0);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scaleY(1);
  }
}

@keyframes show-height {
  0% {
    opacity: 0;
    transform: translateY(-50%) scaleY(0);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scaleY(1);
  }
}

@-webkit-keyframes glass-normal {
  0% {
    left: -10px;
  }

  40% {
    left: 140px;
  }

  100% {
    left: 140px;
  }
}

@keyframes glass-normal {
  0% {
    left: -10px;
  }

  40% {
    left: 140px;
  }

  100% {
    left: 140px;
  }
}

@-webkit-keyframes show-date {
  0% {
    opacity: 0;
    transform: translate(50%, -50%) scale(0);
  }

  100% {
    opacity: 1;
    transform: translate(0, 0) scale(1);
  }
}

@keyframes show-date {
  0% {
    opacity: 0;
    transform: translate(50%, -50%) scale(0);
  }

  100% {
    opacity: 1;
    transform: translate(0, 0) scale(1);
  }
}

@-webkit-keyframes show-date-modal {
  0% {
    opacity: 0;
    transform: translate(50%, 50%) scale(0);
  }

  100% {
    opacity: 1;
    transform: translate(0, 0) scale(1);
  }
}

@keyframes show-date-modal {
  0% {
    opacity: 0;
    transform: translate(50%, 50%) scale(0);
  }

  100% {
    opacity: 1;
    transform: translate(0, 0) scale(1);
  }
}

@-webkit-keyframes coming-up {
  0% {
    opacity: 0;
    transform: translateY(50px) scale(0.9);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes coming-up {
  0% {
    opacity: 0;
    transform: translateY(50px) scale(0.9);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@-webkit-keyframes coming-down {
  0% {
    opacity: 0;
    transform: translateY(-50px) scale(0.9);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes coming-down {
  0% {
    opacity: 0;
    transform: translateY(-50px) scale(0.9);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@-webkit-keyframes coming-up-short {
  0% {
    opacity: 0;
    transform: translateY(20px) scale(1);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes coming-up-short {
  0% {
    opacity: 0;
    transform: translateY(20px) scale(1);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@-webkit-keyframes coming-down-short {
  0% {
    opacity: 0;
    transform: translateY(-20px) scale(1);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes coming-down-short {
  0% {
    opacity: 0;
    transform: translateY(-20px) scale(1);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@-webkit-keyframes coming-left-short {
  0% {
    opacity: 0;
    transform: translateX(-20px) scale(1);
  }

  100% {
    opacity: 1;
    transform: translateX(0) scale(1);
  }
}

@keyframes coming-left-short {
  0% {
    opacity: 0;
    transform: translateX(-20px) scale(1);
  }

  100% {
    opacity: 1;
    transform: translateX(0) scale(1);
  }
}

@-webkit-keyframes show-height-50 {
  0% {
    opacity: 0;
    transform: translateY(-50%) scaleY(0);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scaleY(1);
  }
}

@keyframes show-height-50 {
  0% {
    opacity: 0;
    transform: translateY(-50%) scaleY(0);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scaleY(1);
  }
}

@-webkit-keyframes coming-up-near {
  0% {
    opacity: 0;
    transform: translateY(40px) scale(0.95);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes coming-up-near {
  0% {
    opacity: 0;
    transform: translateY(40px) scale(0.95);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@-webkit-keyframes show-height-50-50 {
  0% {
    opacity: 0;
    transform: translateY(-25%) scaleY(0.5);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scaleY(1);
  }
}

@keyframes show-height-50-50 {
  0% {
    opacity: 0;
    transform: translateY(-25%) scaleY(0.5);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scaleY(1);
  }
}

@-webkit-keyframes un-show-notify {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes un-show-notify {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

@-webkit-keyframes zoom-in-fast {
  0% {
    transform: scale(0.95);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes zoom-in-fast {
  0% {
    transform: scale(0.95);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

/*=============== @include ===============*/

/*=============== End @include ===============*/

/*=============== @extend ===============*/

.text-default,
.text-list-default {
  overflow: hidden;
  display: -webkit-box;
  word-break: break-word;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

/*=============== End @extend ===============*/

/*=============== Fixed Stylesheet ===============*/

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  padding-top: 61px;
  background-color: #E5E5E5;
  overflow-x: hidden;
}

button,
button:hover,
button:focus,
select,
select:hover,
select:focus,
input,
textarea {
  outline: none;
}

a:hover {
  text-decoration: none;
}

[type=button],
[type=reset],
[type=submit],
button,
input {
  -webkit-appearance: unset;
  -moz-appearance: unset;
}

input[type=number] {
  -moz-appearance: textfield;
}

/*=============== End Fixed Stylesheet ===============*/

/*=============== Common Class ===============*/

.element-hidden {
  display: none !important;
}

.text-list-title {
  font-size: 16px;
  line-height: 22px;
  font-weight: bold;
  color: #555555;
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
}

.text-list-default {
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
  color: #454545;
  word-break: break-word;
}

.text-default {
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
  color: #4A4A4A;
  -webkit-line-clamp: 2;
}

@media screen and (max-width: 1199.98px) {
  .text-list-title {
    font-size: 14px;
    line-height: 16px;
    font-weight: bold;
    color: #555555;
  }

  .text-list-default {
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
    color: #454545;
  }

  .text-default {
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
    color: #4A4A4A;
  }
}

.text-default--modal {
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
}

.error-text {
  font-size: 12px;
  line-height: 14px;
  font-weight: normal;
  color: #FD1616;
  word-break: break-word;
}

.pointer {
  cursor: pointer;
}

.no-scroll {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

/* ====================== COMMON STATUS ======================== */

.candidate__status--offer_accepted {
  background-color: #E6FEDB;
  color: #147C18;
}

.candidate__status--pass_interview {
  background: #F9F9FF;
  color: #434EB1;
}

.candidate__status--fail_interview {
  background: #F9F9F9;
  color: #3D3C3C;
}

.candidate__status--offer_refused {
  background: #FEF7FF;
  color: #71007B;
}

.candidate__status--pending_review {
  background-color: #FFF8E7;
  color: #886407;
}

.candidate__status--cv_qualified {
  background-color: #F0FCFD;
  color: #175155;
}

.candidate__status--cancel_interview {
  background-color: #949494;
  color: #FFFFFF;
}

.candidate__status--cv_not_qualified {
  background-color: #FFF3F3;
  color: #A90A0A;
}

.candidate__status--went_to_work {
  background-color: #147C18;
  color: #fff;
}

.job__status--active {
  background-color: #E6FEDB;
  color: #147C18;
}

.job__status--approved {
  background: #F9F9FF;
  color: #434EB1;
}

.job__status--inactive {
  background: #F9F9F9;
  color: #3D3C3C;
}

.job__status--pending-review {
  background-color: #FFF8E7;
  color: #886407;
}

.job__status--draft {
  background-color: #F0FCFD;
  color: #175155;
}

.job__status--reject {
  background-color: #FFF3F3;
  color: #A90A0A;
}

.job__status--expired {
  background-color: #949494;
  color: #FFFFFF;
}

/* =================== END COMMON STATUS ======================== */

@media screen and (min-width: 1500px) {
  .container,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl {
    min-width: 1450px;
  }
}

@media screen and (min-width: 992px) {
  .app-mobile {
    display: none !important;
  }

  .w-lg-unset {
    width: unset !important;
  }
}

@media screen and (min-width: 768px) {
  .w-md-unset {
    width: unset !important;
  }
}

@media screen and (max-width: 991.98px) {
  .app-desktop {
    display: none !important;
  }
}

/* Badge */

.tiny-badge {
  font-size: 12px;
  line-height: 16px;
  font-weight: normal;
  border-radius: 30px;
  white-space: nowrap;
  display: inline-block;
  padding: 0 0.4em;
  position: relative;
  top: -1px;
}

.tiny-badge__green {
  color: #147C18;
  background-color: #F8FFF5;
}

.tiny-badge__red {
  color: #A90A0A;
  background-color: #FFF3F3;
}

.tiny-badge__yellow {
  color: #886407;
  background-color: #FFF8E7;
}

.tiny-badge__gray {
  color: #3D3C3C;
  background-color: #F9F9F9;
}

.tiny-badge__skyblue {
  color: #175155;
  background-color: #F0FCFD;
}

.tiny-badge__purple {
  color: #434EB1;
  background-color: #F9F9FF;
}

.tiny-badge__black {
  color: #fff;
  background-color: #949494;
}

/* End Badge */

/*=============== End Common Class ===============*/

