.app-navigation-portfolio {
    position: fixed;
    z-index: 9;
    top: 0;
    left: 0;
    width: 100%;
    height: 64px;
    background-color: #163442;

    @media screen and (max-width: 1199.98px) {
        height: 55px;
    }

    @media screen and (max-width: 767.98px) {
        height: 45px;
    }

    .container-md {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media screen and (min-width: 1400px) {
            max-width: 1400px;
        }
    }

    @media screen and (min-width: 992px) {

        .n-logo {
            min-width: 96px;
            max-width: 96px;
            height: 42px;
            display: flex;
            align-items: center;
            transition: all 0.2s;

            .n-logo-image {
                height: 30px;
                position: relative;
                transition: all 0.2s;

                img {
                    height: 30px;
                }
            }

            .n-name-image {
                height: 28px;
                overflow: hidden;
                position: relative;
                transition: all 0.2s;
                width: 62px;

                img {
                    height: 25px;
                }
            }
        }

        .n-navi {
            display: flex;
            align-items: center;
            padding: 0 50px;

            &__item {
                padding: 0 15px;
            }

            &__link {
                @include setTextStyleColor(12px, 14px, 500, $color-white);
                text-transform: uppercase;
                white-space: nowrap;
                transition: all 0.1s;

                &:hover {
                    text-shadow: 3px 3px 3px $color-white;
                }

                &.active {
                    text-decoration: underline;

                    &:hover {
                        text-shadow: none;
                    }
                }
            }

            &__list {
                display: flex;
                align-items: center;
                margin: 0;
                padding: 0;
                position: relative;

                .n-navi__item {
                    list-style: none;
                    padding-left: 10px;
                    overflow: hidden;
                    transition: all 0.3s;
                    opacity: 1;
                    .img-new {
                        position: absolute;
                        right: 8px;
                        top: -6px;
                    }
                }

                .n-navi__hideitem {
                    display: none;

                    &--button {
                        background-color: transparent;
                        border: none;
                        color: $color-white;

                        i {
                            position: relative;
                            top: 2px;
                        }
                    }
                }

                &.n-navi__list--hide {
                    .n-navi__item {
                        width: 0;
                        padding: 0;
                        opacity: 0;
                    }

                    .n-navi__hideitem {
                        display: block;
                    }
                }
            }

            @media screen and (max-width: 1199.98px) {
                padding: 0 20px;
            }
        }

        .n-search {
            width: 100%;
            height: 35px;

            &__form {
                width: 100%;
                height: 100%;
                display: flex;

                label {
                    margin-bottom: 0;
                }
            }

            &__name {
                position: relative;
                width: 100%;
                height: 100%;

                &--label {
                    position: absolute;
                    top: 5px;
                    left: 16px;
                }

                &--input {
                    width: 100%;
                    height: 100%;
                    background-color: #fff;
                    border: none;
                    border-radius: 2px;
                    padding: 0 18px 0 41px;
                    @include setTextStyleColor(12px, 14px, normal, $color-black);
                    cursor: pointer;
                }
            }

            &__location {
                overflow: hidden;
                height: 100%;
                min-width: 190px;
                max-width: 190px;
                padding-left: 10px;
                opacity: 1;
                transition: all 0.2s;

                &--select {
                    width: 100%;
                    height: 100%;
                    border: none;
                    border-radius: 2px;
                    background-color: $color-white;
                    @include setTextStyleColor(12px, 14px, normal, $color-black);
                    cursor: pointer;
                }

                .select2-container--default {
                    height: 100% !important;
                    width: 100% !important;

                    .selection {
                        .select2-selection {
                            height: 100%;
                            border-radius: 2px;
                            border: none;

                            &:focus {
                                outline: none;
                            }

                            .select2-selection__rendered {
                                height: 100%;
                                line-height: 35px !important;
                                @include setTextStyleColor(12px, 14px, normal, $color-black);

                            }

                            .select2-selection__arrow {
                                height: 100%;
                            }
                        }
                    }

                    .select2-container--open.select2-container--below .select2-selection--single {
                        height: 100%;
                    }

                }
            }

            &__submit {
                overflow: hidden;
                min-width: 145px;
                max-width: 145px;
                height: 100%;
                padding-left: 10px;
                opacity: 1;
                transition: all 0.2s;

                &--button {
                    width: 100%;
                    height: 100%;
                    background-color: $color-red;
                    @include setTextStyleColor(14px, 16px, 600, $color-white);
                    border-radius: 2px;
                    border: none;
                }
            }

            &.n-search__hideitem {

                .n-search__name {
                    &--label {
                        left: unset;
                        right: 15px;
                    }

                    &--input {
                        padding-left: 18px;
                    }
                }

                .n-search__location, .n-search__submit {
                    min-width: 0;
                    max-width: 0;
                    padding: 0;
                    opacity: 0;
                }
            }

            @media screen and (max-width: 1199.98px) {
                height: 30px;

                &__name {
                    &--label {
                        top: 3px;
                        left: 10px;

                        img {
                            position: relative;
                            transform: scale(0.8);
                        }
                    }

                    &--input {
                        padding: 0 12px 0 35px;
                    }
                }

                &__location {
                    min-width: 140px;
                    max-width: 140px;

                    .select2-container--default {
                        height: 100% !important;
                        width: 100% !important;

                        .selection {
                            .select2-selection {
                                .select2-selection__rendered {
                                    line-height: 30px !important;
                                }
                            }
                        }
                    }
                }

                &__submit {
                    min-width: 110px;
                    max-width: 110px;

                    &--button {
                        @include setTextStyle(12px, 14px, 600);
                    }
                }

                &.n-search__hideitem {

                    .n-search__name {
                        &--label {
                            left: unset;
                            right: 10px;
                        }

                        &--input {
                            padding-left: 12px;
                        }
                    }
                }
            }
        }

        .n-auth {
            min-width: 170px;
            margin-left: 60px;
            display: flex;
            justify-content: flex-end;

            .dropdown {
                .dropdown-menu {
                    border: none;
                    background-color: #163442;
                    border-radius: 0;
                    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
                    padding: 10px 0;

                    .dropdown-item {
                        @include setTextStyleColor(12px, 14px, 600, $color-white);
                        text-transform: uppercase;
                        padding: 10px 20px;

                        i {
                            width: 10px;
                            margin-right: 10px;
                        }

                        &:hover {
                            background-color: $color-red;
                        }
                    }
                }
            }

            .n-auth__unlogin {

                &--button {
                    background-color: transparent;
                    border: none;
                    height: 60px;

                    @media screen and (max-width: 1199.98px) {
                        height: 40px;
                    }
                }

                .dropdown-menu {
                    width: 100px;
                }
            }

            .n-auth__logined {

                &--button {
                    background-color: transparent;
                    border: none;
                    height: 60px;
                    padding: 0;
                    display: flex;
                    align-items: center;
                    color: $color-white;

                    @media screen and (max-width: 1199.98px) {
                        height: 40px;
                    }

                    .logined__image {
                        background-repeat: no-repeat;
                        background-position: center center;
                        background-size: cover;
                        display: flex;
                        min-width: 20px;
                        max-width: 20px;
                        height: 20px;
                        border-radius: 50%;
                        margin-right: 12px;
                    }

                    .logined__name {
                        overflow: hidden;
                        display: -webkit-box;
                        word-break: break-word;
                        text-overflow: ellipsis;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 2;
                        max-width: 150px;
                        @include setTextStyle(14px, 16px, normal);
                        margin-right: 8px;
                    }
                }

                .dropdown-menu {
                    width: 213px;

                    .dropdown-item {
                        text-transform: unset;
                        padding: 15px 20px;
                        font-weight: 500;
                    }
                }
            }

            @media screen and (max-width: 1199.98px) {
                margin-left: 30px;
            }
        }

        .n-employer {
            padding-left: 17px;

            &__button {
                min-width: 142px;
                max-width: 142px;
                height: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 8px;
                @include setTextStyleColor(12px, 14px, bold, $color-black);
                background-color: #fff;
                text-transform: uppercase;
                transition: all 0.1s;

                i {
                    margin-left: 5px;
                }

                &:hover {
                    transform: scale(1.1);
                }
            }
        }

        &.scroll {
            .n-logo {
                min-width: 42px;
                max-width: 42px;

                .n-logo-image {
                    transform: scale(1.4);
                    transition-delay: 0.2s;
                }

                .n-name-image {
                    transition: all 0.2s;
                    width: 0;
                }

                &:hover {
                    min-width: 96px;
                    max-width: 96px;

                    .n-logo-image {
                        transition-delay: 0s;
                        transform: scale(1);
                    }

                    .n-name-image {
                        width: 62px;
                        transition-delay: 0.1s;
                    }
                }
            }
        }
    }

    @media screen and (max-width: 991.98px) {
        .n-logo {
            min-width: 85px;
            max-width: 85px;
            height: 20px;
            display: flex;
            align-items: center;

            .n-logo-image {
                height: 20px;
                display: flex;

                img {
                    height: 20px;
                }
            }

            .n-name-image {
                height: 20px;
                overflow: inherit;
                width: auto;
                display: flex;

                img {
                    height: 20px;
                    width: auto;
                }
            }
        }

        .n-search {
            width: 100%;
            height: 25px;
            transition: all 0.3s;

            &__form {
                width: 100%;
                height: 100%;
                display: flex;

                label {
                    margin-bottom: 0;
                }
            }

            &__name {
                position: relative;
                display: flex;
                width: 100%;
                height: 100%;

                &--label {
                    position: absolute;
                    top: 0;
                    left: 8px;
                    transform: scale(0.7);
                }

                &--input {
                    width: 100%;
                    height: 100%;
                    background-color: #fff;
                    border: none;
                    border-radius: 2px;
                    padding: 0 10px 0 30px;
                    @include setTextStyleColor(10px, 12px, normal, $color-black);
                    cursor: pointer;
                }
            }

            &__location {
                display: none;
            }

            &__submit {
                display: none;
            }

            &__mobile--close {
                display: none;
            }

            &__popular {
                display: none;
            }

            &.mobile-show {
                position: fixed;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background-color: #e5e5e5;
                padding: 17px 16px;
                overflow: auto;

                .n-search__mobile--close {
                    display: flex;

                    button {
                        width: 46px;
                        height: 46px;
                        border-radius: 50%;
                        border: 1px solid #ADADAD;
                        background-color: transparent;

                        img {
                            position: relative;
                            right: 2px;
                        }
                    }
                }

                .n-search__form {
                    width: 100%;
                    height: unset;
                    display: inherit;
                    padding: 18px 0;
                }

                .n-search__name {
                    position: relative;
                    display: flex;
                    width: 100%;
                    height: unset;
                    margin-bottom: 8px;

                    &--label {
                        display: none;
                    }

                    &--input {
                        width: 100%;
                        height: 45px;
                        border-radius: 4px;
                        padding: 0 20px;
                        @include setTextStyle(12px, 14px, normal);
                    }
                }

                .n-search__location {
                    display: block;
                    height: 45px;
                    margin-bottom: 8px;

                        &--select {
                            width: 100%;
                            height: 45px;
                            border: none;
                            border-radius: 4px;
                            background-color: $color-white;
                            @include setTextStyleColor(12px, 14px, normal, $color-black);
                            cursor: pointer;
                        }

                        .select2-container--default {
                            height: 100% !important;
                            width: 100% !important;

                            .selection {
                                .select2-selection {
                                    height: 100%;
                                    border-radius: 4px;
                                    border: none;

                                    &:focus {
                                        outline: none;
                                    }

                                    .select2-selection__rendered {
                                        height: 100%;
                                        padding: 0 20px;
                                        line-height: 45px !important;
                                        @include setTextStyleColor(12px, 14px, normal, $color-black);

                                    }

                                    .select2-selection__arrow {
                                        height: 100%;
                                        right: 10px;
                                    }
                                }
                            }

                            .select2-container--open.select2-container--below .select2-selection--single {
                                height: 100%;
                            }

                    }
                }

                .n-search__submit {
                    display: flex;

                    &--button {
                        width: 100%;
                        height: 45px;
                        background-color: $color-red;
                        @include setTextStyleColor(14px, 16px, 600, $color-white);
                        border-radius: 4px;
                        border: none;
                    }
                }

                .n-search__popular {
                    display: inherit;
                    background-color: $color-white;
                    padding: 19px 18px;

                    &--header {
                        @include setTextStyleColor(14px, 16px, 600, #8d8d8d);
                    }

                    &--list {
                        padding-top: 5px;
                        padding-left: 0;
                        display: flex;
                        flex-wrap: wrap;
                        margin-bottom: 0;

                        .list-item {
                            width: 49.98%;
                            padding-top: 15px;
                            padding-right: 15px;
                            list-style: none;

                            .list-link {
                                text-decoration: underline;
                                @include setTextStyleColor(14px, 16px, normal, $color-gray);
                            }
                        }
                    }
                }
            }
        }

        .n-mobile__toggle {
            padding-left: 20px;

            &--button {
                background-color: transparent;
                border: none;
            }
        }

        .n-mobile__menu {
            position: fixed;
            top: 55px;
            right: -100%;
            width: 234px;
            height: auto;
            background-color: $color-white;
            transition: all 0.4s;
            padding-bottom: 10px;
            box-shadow: 0px 2px 15px rgba(0,0,0,0.15);

            @media screen and (max-width: 767.98px) {
                top: 45px;
            }

            &.show {
                right: 0;
            }

            .n-navi__mobile {
                margin-bottom: 0;
                padding-left: 0;
                padding-top: 15px;
                padding-bottom: 7px;
                border-bottom: 1px solid #e7e7e7;
                position: relative;

                &:last-child {
                    border-bottom: none;
                }

                &--item {
                    padding: 7px 23px;
                    list-style: none;
                    display: flex;
                }

                .mobile__new--img {
                    position: absolute;
                    bottom: 20px;
                    left: 75px;
                    list-style: none;
                }

                &--link {
                    @include setTextStyleColor(12px, 14px, 500, $color-gray);
                    text-transform: uppercase;

                    i {
                        width: 15px;
                        text-align: center;
                        margin-right: 7px;
                    }
                }
            }

            .n-logined__mobile {
                padding: 15px 20px 13px 23px;
                background-color: #f4f4f4;
                display: flex;

                &--image {
                    min-width: 28px;
                    max-width: 28px;
                    height: 28px;
                    border-radius: 50%;
                }

                &--info {
                    padding-left: 12px;
                }

                &--name {
                    overflow: hidden;
                    display: -webkit-box;
                    word-break: break-word;
                    text-overflow: ellipsis;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    @include setTextStyleColor(12px, 14px, 500, #737373);
                }

                &--email {
                    overflow: hidden;
                    display: -webkit-box;
                    word-break: break-word;
                    text-overflow: ellipsis;
                    -webkit-line-clamp: 1;
                    -webkit-box-orient: vertical;
                    @include setTextStyleColor(10px, 12px, normal, #737373);
                    margin-top: 3px;
                }
            }

            .n-employer__mobile {
                padding: 20px 30px;

                .n-employer__button {
                    width: 145px;
                    height: 36px;
                    background-color: $color-red;
                    border-radius: 7px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    @include setTextStyleColor(10px, 12px, 600, $color-white);
                    font-family: "Montserrat", "Roboto", Arial, Helvetica, sans-serif;

                    i {
                        margin-left: 10px;
                    }
                }
            }
        }
    }
}

.ct-head__form {
    position: fixed;
    width: 100%;
    bottom: 65px;
    display: flex;
    z-index: 99;
    .ct-main__search--dropdown {
        width: 100%;
        .dropdown-input {
            background-color: #26414E;
            margin-right: 0;
            border: none;
            width: 100%;
            height: 37px;
            @include setTextStyle (10px, 12px, 500);
            color: #969696;
            padding: 0 15px;
            cursor: pointer;
        }
    }
    .ct-head__form--button {
        background-color: #26414E;
        border: none;
        width: 50px;
        position: absolute;
        right: 0;
        height: 100%;
    }
}

body {
    padding-top: 64px;

    @media screen and (max-width: 1199.98px) {
        padding-top: 55px;
    }

    @media screen and (max-width: 767.98px) {
        padding-top: 45px;
    }
}

.navi-location-select2 {
    border-radius: 0;
    border: 1px solid $color-light-gray;
    border-top: 0;

    .select2-results__options {
        .select2-results__option {
            @include setTextStyleColor(12px, 14px, normal, $color-black);

            &.select2-results__option--selected {
                font-weight: 500;
            }

            &.select2-results__option--highlighted {
                background-color: $color-red;
                color: $color-white;
                font-weight: 500;
            }

            @media screen and (max-width: 991.98px) {
                padding-left: 20px;
                padding-right: 20px;
            }
        }
    }
}

.portfolio-tab {
    height: 65px;
    background-color: $color-white;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
    @media screen and (max-width: 991.98px) {
        position: fixed;
        bottom: 0;
        width: 100%;
        z-index: 99;
        box-shadow: 0px 2px 15px rgba(0,0,0,0.15);
    }

    .container {
        height: 100%;
        display: flex;
        font-family: "Montserrat", "Roboto", Arial, Helvetica, sans-serif;
        justify-content: center;

        @media screen and (max-width: 991.98px) {
            justify-content: space-around;
            height: 60px;
        }
    }

    .tab-item {
        list-style: none;
        height: 100%;
        margin: 0 10px;
        @media screen and (max-width: 991.98px) {
            margin: 0;
        }
    }

    .tab-link {
        padding: 0 15px;
        display: flex;
        align-items: center;
        height: 100%;
        color: #807F7F;
        position: relative;
        white-space: nowrap;
        @include setTextStyle(14px, 17px, 600);
        transition: all 0.2s;

        @media screen and (max-width: 991.98px) {
            padding: 20px 5px 10px 5px;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            @include setTextStyle(8px, 10px, 600);
        }

        .tab-link__image {
            margin-right: 8px;

            path {
                transition: all 0.2s;
            }

            @media screen and (max-width: 991.98px) {
                margin-right: 0;
                margin-bottom: 8px;
                position: relative;
                transform: scale(1.2);
            }
        }

        &::after {
            content: "";
            position: absolute;
            z-index: 3;
            top: 100%;
            left: 0;
            width: 100%;
            height: 4px;
            background-color: transparent;
            transform: translateY(-50%);

            @media screen and (max-width: 991.98px) {
                top: 0;
                transform: unset;
            }
        }

        &:hover {
            color: $color-blue;

            .tab-link__image {

                path {
                    fill: $color-blue;
                }
            }
        }

        &.active {
            color: $color-blue;

            .tab-link__image {

                path {
                    fill: $color-blue;
                }
            }

            &::after {
                background-color: $color-red;
            }
        }
    }
}