//variable
$color-blue: #163442;
$color-red: #F05348;
$color-white: #fff;
$color-gray: #707070;
$color-light-gray: #a9a9a9;
$color-black: #464646;
$color-vti-blue: #083791;

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

a:hover {
    text-decoration: none ;
}

body {
    background-color: #f9f9f9;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    overflow: hidden;
}

button:hover,
input,
textarea {
    outline: none;
}

//class variable
%default-background-image {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}


%default-text {
    overflow: hidden;
    display: -webkit-box;
    word-break: break-word;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

@mixin setTextStyle($font-size, $line-height, $font-weight) {
    font-size: $font-size;
    line-height: $line-height;
    font-weight: $font-weight;
}

@mixin setTextStyleColor($font-size, $line-height, $font-weight, $font-color) {
    font-size: $font-size;
    line-height: $line-height;
    font-weight: $font-weight;
    color: $font-color;
}

@media screen and (min-width: 992px) {
    .app-mobile {
        display: none !important;
    }
}

@media screen and (max-width: 991.98px) {
    .app-desktop {
        display: none !important;
    }
}


.hidden {
    display: none !important;
}

@import "portfolio-home";
@import "header";
@import "footer";
