body {
    padding-right: 0 !important;
}

body::-webkit-scrollbar {
    padding-right: 0;
    width: 3px;
    background-color: transparent;
    border-radius: 5px;
    overflow: auto;
}

body::-webkit-scrollbar-thumb {
    background-color: #525252;
    border-radius: 5px;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #525252;
}

@-moz-document url-prefix() {
    body.scroller {
        scrollbar-color:#525252 transparent ;
        scrollbar-width: thin;
    }
}
.portfolio__bg {
    position: relative;
    &--img {
        position: relative;
        max-width: 1920px;
        transform: translateX(-50%);
        left: 50%;
        width: 100%;
        @media screen and (max-width: 991px) and (min-width: 768px) {
            max-height: 900px;
        }
    }
    @media screen and (max-width: 991px) {
        .bg-circle-img {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
        }
        .bg-icon {
            position: absolute;
        }
        .bg-plane {
            top: 9%;
            right: 8%;
        }
        .bg-plane-icon {
            top: 59%;
            left: 0;
        }
        .bg-icon-2 {
            top: 50%;
            right: 0;
        }
        .bg-icon-1 {
            top: 15%;
            left: 0;
        }
    }
    @media screen and (min-width: 576px) and (max-width: 992px) {
        .bg-circle-img {
            width: 40%;
        }
        .bg-plane {
            top: 13%;
            width: 25%;
        }
    }
    &--content {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        padding: 0 315px;
        @media screen and (max-width: 991px) {
            padding: 0 15px;
            top: 45%;
        }
        @media screen and (min-width: 992px) and (max-width: 1024px) {
            padding: 0 250px;
        }
        @media screen and (min-width: 1024px) and (max-width: 1300px) {
            top: 48%;
            padding: 0 220px;
        }
        @media screen and (max-height: 950px) and (min-width: 1280px)  {
            top: 44%;
        }
        &-title {
            @include setTextStyleColor(48px, 52px, bold, #141414);
            @media screen and (max-width: 991px) {
                @include setTextStyleColor(32px, 37px, bold, #262626);
            }
        }
        &-des {
            @include setTextStyleColor(22px, 28px, normal, #414141);
            padding: 12px 0;
            @media screen and (max-width: 991px) {
                @include setTextStyleColor(14px, 16px, normal, #414141);
            }
        }
        &-button {
            width: 100%;
            display: flex;
            justify-content: center;
            .btn:link, .btn:visited {
                text-decoration: none;
                transition: all .2s;
            }

            .btn:hover {
                transform: translateY(-3px);
                box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
            }

            .btn:active {
                transform: translateY(-1px);
                box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
            }

            .btn::after {
                content: "";
                display: inline-block;
                height: 100%;
                width: 100%;
                border-radius: 100px;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                transition: all .4s;
            }

            .btn-try::after {
                background-color: #FF9338;
                border-radius: 5px !important;
            }

            .btn-demo::after {
                background-color: #EDEDED;
                border-radius: 5px !important;
            }

            .btn:hover::after {
                transform: scaleX(1.4) scaleY(1.6);
                opacity: 0;
            }

            .btn-animated {
                animation: moveInBottom 5s ease-out;
                animation-fill-mode: backwards;
            }
            .portfolio__content--try {
                display: flex;
                width: 274px;
                height: 61px;
                box-shadow: 0 2px 4px rgba(185, 8, 9, 0.6);
                background: #fe831c;
                position: relative;
                transition: all 0.2s;
                padding: 0;

                .portfolio__try--text {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    box-sizing: border-box;
                    height: 100%;
                    width: 100%;
                    @include setTextStyleColor(20px, 23px, bold, #fff);
                }
                @media screen and (max-width: 575px) {
                    width: 220px;
                    height: 48px;
                    .portfolio__try--text {
                        @include setTextStyleColor(14px, 16px, bold, #fff);
                    }
                }
                @media screen and (max-width: 374px) {
                    width: 190px;
                    height: 48px;
                }
                .portfolio__try--icon {
                    background: #FE9D4B;
                    height: 100%;
                    min-width: 52px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transition: all 0.2s;
                }
            }
            .portfolio__view-demo {
                background: #FFFFFF;
                border: 1px solid #E9E9E9;
                box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
                border-radius: 2px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-left: 10px;
                padding: 17px 31px 17px 28px;
                transition: all 0.2s;
                position: relative;
                span {
                    @include setTextStyleColor(20px, 23px, 500, #626262);
                }
                @media screen and (max-width: 575px) {
                    padding: 13px 15px 14px;
                    span {
                        @include setTextStyleColor(14px, 16px, 500, #626262);
                    }
                }
                @media screen and (max-width: 374px) {
                    padding: 13px 8px 14px;
                }
                @media screen and (max-width: 320px) {
                    padding: 13px 2px 14px;
                }
            }

        }
    }
    .bg-img-bottom {
        position: absolute;
        top: 64%;
        left: 50%;
        transform: translate(-50%, 50%);
        @media screen and (max-width: 991px) {
            top: 78%;
            width: 60%;
            bottom: unset;
        }
        @media screen and (min-width: 768px) and (max-width: 991px) {
            top: 64%;
        }
        @media screen and (max-width: 1024px) and (min-width: 992px) {
            top: 40%;
        }
        @media screen and (max-width: 1200px) and (min-width: 1024px) {
            top: 57%;
            width: 40%;
        }
        @media screen and (max-width: 1500px) and (min-width: 1200px) {
            top: 50%;
            width: 40%;
        }
        @media screen and (min-width: 1200px) and (max-height: 800px) {
            top: 50%;
        }
    }
}

.portfolio__templates {

    margin-top: 70px;
    padding-top: 70px;
    text-align: center;
    @media screen and (max-width: 1199px) and (min-width: 1024px) {
        padding-top: 240px;
    }
    &--title {
        h4 {
            @include setTextStyleColor (28px, 33px, bold, #333333);
            letter-spacing: 0.05em;
            @media screen and (max-width: 991px) {
                @include setTextStyleColor (18px, 21px, bold, #333333);
            }
        }
        h5 {
            @include setTextStyleColor (24px, 28px, normal, #333333);
            @media screen and (max-width: 991px) {
                @include setTextStyleColor (16px, 19px, normal, #333333);
            }
        }
    }
    &--top {
        display: flex;
        justify-content: flex-end;
        @media screen and (max-width: 991px){
            width: 100%;
            margin: auto;
        }
        padding: 50px 0 20px;
        .dropdown {
            margin: 0 4px;
            border: 1px solid #DCDCDC;
            box-sizing: border-box;
            border-radius: 5px;
            display: flex;
            align-items: center;
            background-color: #fff;
            height: 35px;
            .dropdown-input {
                border: none;
                width: 100%;
                background-color: transparent;
                cursor: pointer;
                outline: none;
                padding: 10px;
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                background: url(../image/portfolio-home/arrow.png) right / 20px no-repeat;
                padding-right: 20px;
            }
            select::-ms-expand {
                display: none;
            }
        }
    }
    &--body {
        .templates-item {
            margin: 15px 0;
            .templates-item--box {
                filter: drop-shadow(0px 2px 20px rgba(0, 0, 0, 0.15));
                position: relative;
                overflow: hidden;
                .teamplates-item--img {
                    width: 100%;
                    border-radius: 5px 5px 0 0;
                }
                .overlay-item {
                    background: rgba(0,0,0,0.6);
                    border-radius: 5px 5px 0 0;
                    position: absolute;
                    width: 100%;
                    z-index: 1;
                    height: calc(100% - 70px);
                    bottom: 100%;
                    right: 0;
                    left: 0;
                    display: flex;
                    flex-direction: column;
                    transition: ease-in 250ms;
                    opacity: 0;
                    align-items: center;
                    justify-content: center;

                    .overlay-item--icon {
                        display: flex;
                        transform: translateY(-85%);
                        opacity: 0;
                        margin-top: 25px;
                        visibility: hidden;
                        overflow: hidden;
                        .overlay-item--active, .overlay-item--view {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            transition: all 0.2s;
                            justify-content: center;
                            width: 100px;
                            height: 95px;
                            overflow: hidden;
                            position: relative;
                            cursor: context-menu;
                            h6 {
                                @include setTextStyleColor (16px, 19px, 500, #fff);
                                z-index: 1
                            ;
                            }
                            &:after {
                                content: "";
                                position: absolute;
                                background-color: #858282;
                                border-radius: 50%;
                                width: 100px;
                                height: 95px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                opacity: 0;
                                cursor: pointer;
                                transition: all ease-in-out 0.2s;
                            }
                            &:hover {
                                &:after {
                                    opacity: 1;
                                }
                            }
                        }
                        .overlay-item--active {
                            .active-icon {
                                margin-left: 5px;
                                z-index: 1;
                                cursor: pointer;
                            }
                            h6 {
                                padding-top: 10px;
                                cursor: pointer;
                            }
                        }
                        .overlay-item--view {
                            .view-icon {
                                margin-top: 5px;
                                z-index: 1;
                                cursor: pointer;
                            }
                            h6 {
                                padding-top: 16.5px;
                                cursor: pointer;
                            }
                        }
                    }

                    &:hover {
                        bottom: 70px;
                    }

                    .overlay-item--icon__preminum {
                        margin-top: 74px;
                        @media screen and (min-width: 992px) and (max-width: 1200px) {
                            margin-top: 43px;
                        }
                    }

                    .overlay-item--text {
                        @include setTextStyleColor (16px, 24px, 500, #FE831C);
                        margin-bottom: 5px;
                        transition: all 0.8s;
                        opacity: 0;
                        transform: translateY(50%);
                        visibility: hidden;
                        width: 225px;
                        span {
                            @include setTextStyleColor (16px, 24px, 500, #fff);
                        }
                        @media screen and (max-width: 992px) {
                            margin: 8px 40px 20px;
                        }
                    }
                }

                &:hover {
                    .overlay-item--icon {
                        transform: translateY(0%);
                        opacity: 1;
                        transition: 0.4s;
                        visibility: unset;
                    }
                    .overlay-item {
                        opacity: 1;
                        bottom: 70px;
                    }
                    .overlay-item--text {
                        opacity: 1;
                        transform: translateY(0%);
                        visibility: unset;
                    }
                }
            }

            .templates-item--bottom {
                background-color: #fff;
                bottom: 9px;
                border-radius: 0 0 5px 5px;
                text-align: left;
                height: 70px;
                border-top: 1px solid #EAEAEA;
                .templates-item--bottom__link {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    height: 100%;
                    .templates-item--text {
                        padding: 20px 25px;
                        h5 {
                            @include setTextStyleColor (16px, 19px, normal, #333333);
                            margin-bottom: 5px;
                            display: -webkit-box;
                            word-break: break-word;
                            text-overflow: ellipsis;
                            -webkit-line-clamp: 2;
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                        }
                        .text-free {
                            @include setTextStyleColor (16px, 19px, normal, #949494);
                            margin-bottom: 0;
                        }
                        .text-premium {
                            @include setTextStyleColor (16px, 19px, normal, #FE831C);
                            margin-bottom: 0;
                        }
                        @media screen and (max-width: 991px) {
                            h5 {
                                @include setTextStyleColor (12px, 14px, normal, #333333);
                            }
                            .text-free {
                                @include setTextStyleColor (12px, 14px, normal, #949494);
                            }
                            .text-premium {
                                @include setTextStyleColor (12px, 14px, normal, #FE831C);
                            }
                        }
                    }
                    .premium-icon {
                        width: unset;
                        height: 100%;
                    }
                }

            }
        }

        &:nth-child(2) {
            padding: 15px 0;
        }
    }
}

.pagination {
    align-items: center;
    justify-content: center;
    padding: 20px 0 50px;
    .page-item {
        margin: 0 3px;
        .page-link {
            border: none;
            outline: none;
            background-color: transparent;
            cursor: pointer;
            @media screen and (max-width: 575px) {
                padding: 5px 8px;
            }
            @include setTextStyleColor (20px, 20px, 500, #6D6D6D);
            &:hover {
                background: #FE831C;
                border-radius: 5px;
                @include setTextStyleColor (20px, 20px, 500, #fff);
                .prep-left, .prep-right {
                    fill: white;
                }
            }

            &:focus {
                box-shadow: none;
            }
        }

        .active {
            background: #FE831C;
            border-radius: 5px;
            @include setTextStyleColor (20px, 20px, 500, #fff);
            @media screen and (max-width: 575px) {
                padding: 5px 8px;
            }
            .prep-left, .prep-right {
                fill: white;
            }
        }

        .page-link-next {
            padding: 5px 4px;
            margin: 0 10px;
        }
        .no-drop {
            cursor: no-drop;
            &:hover {
                background-color: transparent;
                .prep-left, .prep-right {
                    fill: #8B8B8B;
                }
            }
        }
    }
}

.portfolio__list {
    max-width: 1170px;
    background: #FFFFFF;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    margin: 37px auto 78px;
    &--title {
        border-bottom: 1px solid rgba(196, 196, 196, 0.7);
        margin: 0 55px;
        @media screen and (max-width: 991px) {
            margin: 0 25px;
        }
        h5 {
            @include setTextStyleColor (24px, 28px, 500, #333333);
            letter-spacing: 0.03em;
            padding: 38px 0 10px;
            @media screen and (max-width: 991px) {
                @include setTextStyleColor (16px, 19px, 500, #333333);
            }
        }
    }
    &--body {
        padding: 35px 65px;
        @media screen and (max-width: 991px) {
            margin-top: 40px;
            padding: 0;
        }
        .portfolio__list--content {
            padding-bottom: 40px;
            img {
                cursor: pointer;
                width: 100%;
            }
            .portfolio__img {
                transition: all 0.2s;
                position: relative;
                box-shadow: 0 2px 20px rgba(0, 0, 0, 0.15);
                @media screen and (max-width: 991px) {
                    width: 90%;
                    margin: auto;
                    img {
                        width: 100%;
                    }
                }
                @media screen and (min-width: 1024px) and (max-width: 1199px) {
                    img {
                        width: 100%;
                    }
                }
                .portfolio__list--action {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    position: relative;
                    align-items: center;
                    bottom: 0;
                    background-color: #fff;
                    height: 69px;
                    border-radius: 0 0 5px 5px;
                    padding: 17px 20px 11px;
                    transition: all 0.2s;
                    @media screen and (max-width: 991px) {
                        height: 62px;
                    }
                    .portfolio__list--action-item {
                        flex-direction: column;
                        display: flex;
                        align-items: center;
                        border: none;
                        outline: none;
                        background-color: transparent;
                        justify-content: space-between;
                        height: 100%;
                        white-space: nowrap;
                        @include setTextStyleColor (12px, 14px, bold, #848484);
                        letter-spacing: 0.03em;
                        .portfolio__list--icon {
                            margin-bottom: 5px;
                        }
                        &:first-child {
                            margin-right: 8px;
                        }
                        &:nth-child(2) {
                            margin-right: 6px;
                        }

                    }
                    .option-btn {
                        box-shadow: none;
                    }
                }
                &:hover {
                    transform: translateY(-2px);
                }
                .share__list {
                    position: absolute;
                    bottom: 24%;
                    width: 110%;
                    background: #FFFFFF;
                    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
                    border-radius: 5px;
                    height: 76px;
                    left: 50%;
                    transform: translateX(-50%);
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    @media screen and (max-width: 1199px) {
                        left: 50%;
                        width: 110%;
                        bottom: 22%;
                        height: 65px;
                    }
                    .share__list--item {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        @include setTextStyleColor (12px, 14px, bold, #848484);
                        letter-spacing: 0.03em;
                        border: none;
                        background-color: transparent;
                        outline: none;
                        box-shadow: none;
                        svg {
                            margin-bottom: 10px;
                            @media screen and (max-width: 991.98px) {
                                width: 20px;
                                margin-bottom: 5px;
                            }
                        }
                        .copylink__input {
                            opacity: 0;
                            position: absolute;
                            bottom: 1px;
                            right: 1px;
                            z-index: -1;
                        }
                    }
                }
            }

            .porfolio__list--info {
                margin-left: 10px;
                padding-top: 30px;
                @media screen and (max-width: 991px) {
                    margin-left: 6%;
                }
                .porfolio__list--info-name {
                    word-break: break-word;
                    letter-spacing: 0.03em;
                    @include setTextStyleColor (16px, 19px, 500, #333333);
                    @media screen and (max-width: 991.98px) {
                        @include setTextStyleColor (14px, 16px, 500, #333333);
                    }
                }
                .portfolio__list--info-text {
                    span {
                        letter-spacing: 0.03em;
                        @include setTextStyleColor (16px, 19px, 500, #858585);
                        @media screen and (max-width: 991.98px) {
                            @include setTextStyleColor (14px, 16px, 500, #858585);
                        }
                    }
                    &:nth-child(3) {
                        margin-left: 1px;
                        .portfolio__list--info-icon {
                            margin-right: 13px;
                        }
                    }
                    &:nth-child(4) {
                        margin-left: 2px;
                        .portfolio__list--info-icon {
                            margin-right: 15px;
                        }
                    }
                    .portfolio__list--info-icon {
                        margin-bottom: 3px;
                        margin-right: 10px;
                    }
                }
            }
        }

        .portfolio__list--last {
            display: flex;
            padding-bottom: 40px;
            .portfolio__last--item {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 100%;
                border: 1px dashed #585858;
                background-color: #f9f9f9;
                outline: none;
                @media screen and (max-width: 575px) {
                    width: 90%;
                    margin: auto;
                    height: 200px;
                }
                .portfolio__last--btn {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    @include setTextStyleColor (20px, 23px, bold, #FE831C);
                    @media screen and (max-width: 575px) {
                        @include setTextStyleColor (18px, 20px, bold, #FE831C);
                        svg {
                            width: 18px;
                            height: 40px;
                        }
                    }
                }
                .portfolio__last--btn-text {
                    width: 234px;
                    @include setTextStyleColor (16px, 24px, 500, #FE831C);
                    letter-spacing: 0.03em;
                    text-align: center;
                    margin-top: 20px;
                    span {
                        @include setTextStyleColor (16px, 24px, 500, #333333);
                    }
                }
            }
        }
    }
}

/*Modal*/

.checkbox-warning {
    @include setTextStyleColor (11px, 13px, 500, #fc0000);
    letter-spacing: 0.03em;
    margin-bottom: 0;
    margin-top: 4px;
    width: 100%;
    min-height: 13px;
    word-break: break-word;
}

.modal {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding-right: 0 !important;
    .modal-dialog {
        max-width: 629px;
        .modal-content {
            padding: 15px;
            @media screen and (max-width: 375px) {
                padding: 0;
            }
            .modal-header {
                border-bottom: none !important;
                padding-bottom: 0;
                padding-top: 25px;
                .modal-title {
                    letter-spacing: 0.03em;
                    @include setTextStyleColor (18px, 21px, bold, #333333);
                }
            }
            .modal-body {
                h5 {
                    margin-bottom: 0;
                }
                .modal__body--title {
                    @include setTextStyleColor(16px, 19px, 500, #333333);
                    letter-spacing: 0.03em;
                    height: 100%;
                    display: flex;
                    cursor: auto;
                    margin-top: 7px;
                    .text-warning {
                        color: red !important;
                    }
                    @media screen and (max-width: 991px) {
                        margin-bottom: 10px;
                    }
                    .text-warning {
                        color: red !important;
                    }
                }
                .modal__body--name {
                    .modal__body--name-input {
                        border: none;
                        border-radius: 5px;
                        @include  setTextStyleColor(16px, 19px, 500, #595959);
                        padding: 5px 5px 5px 10px;
                        letter-spacing: 0.03em;
                        height: 30px;
                        background-color: transparent;
                        width: 100%;
                        &:focus {
                            box-shadow: none;
                        }
                    }
                    ::placeholder {
                        color: #b1b1b1;
                    }
                    :focus::placeholder {
                        color: transparent;
                    }
                    .modal__input--warning-border {
                        border: 1px solid #fc0000 !important;
                    }
                }
                @media screen and (max-width: 350px) {
                    .modal__body--col-checkbox {
                        padding: 0;
                    }
                }
                .modal__body--edit  {
                    @include setTextStyleColor(16px, 19px, normal, #0F3A47);
                    letter-spacing: 0.03em;
                    border: none;
                    outline: none;
                    box-shadow: none;
                    background-color: transparent;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: flex-end;
                    cursor: revert;
                    margin-top: 2px;
                    align-items: flex-start;
                    .edit__confirm--icon {
                        border: none;
                        background-color: transparent;
                        outline: none;
                        box-shadow: none;
                        padding: 0;
                        margin: 0 5px;
                    }
                    svg {
                        cursor: pointer;
                    }
                    svg {
                        cursor: pointer;
                    }
                }
                .modal__body--info {
                    border-top: 1px solid #C4C4C4;
                }
                .modal__body--info, .modal__body--link {
                    border-bottom: 1px solid #ECECEC;
                    padding: 15px 0 3px;
                }
                .modal__body--checkbox {
                    display: flex;
                    justify-content: space-between;
                    border-bottom: 1px solid #ECECEC;
                    padding: 18px 0;
                    @media screen and (max-width: 575px) {
                        flex-direction: column;
                    }
                    .checkbox-icon {
                        width: 13%;
                        cursor: pointer;
                        @media screen and (max-width: 575px) {
                            margin-top: 15px;
                        }
                        .toggle{
                            width: 34px;
                            height: 14px;
                            border-radius:40px;
                            position: relative;
                            -webkit-appearance: none;
                            cursor: pointer;
                            box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.4);
                            background: -webkit-linear-gradient(#c6c6c6,#e3e3e3);
                            -webkit-tap-highlight-color: transparent;
                            transform: translate3d(0,0,0);
                        }
                        .toggle:checked{
                            background: #8398A1;
                            box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.4);
                        }
                        .toggle:before {
                            content:"";
                            top: -3px;
                            left: 0;
                            width: 20px;
                            height: 20px;
                            position:absolute;
                            border-radius:40px;
                            background: white;
                            box-shadow: 0 3px 8px rgba(#9A9999,.5);
                            transition: all .2s ease;

                        }
                        .toggle:checked:before {
                            transform: translateX(15px);
                            background:#163442;
                            transition: all .2s cubic-bezier(.8,.4,.3,1.25), background .15s ease;
                            box-shadow: 0 3px 8px rgba(#4F2EDC,.2);
                            &:before {
                                content: "";
                                position: absolute;
                                display: block;
                                margin: -18px;
                                width: 56px;
                                height: 56px;
                                background: rgba(#4F2EDC,.5);
                                border-radius: 50%;
                                transform: scale(0);
                                opacity: 1;
                                pointer-events: none;
                            }
                        }
                        .toggle:after {
                            content:"Tắt";
                            width:14px;
                            height:14px;
                            top: 0;
                            right:-30px;
                            position:absolute;
                            @include setTextStyleColor(14px, 16px, 500, #626262);
                        }
                        .toggle:checked:after {
                            content: "Bật";
                            @include setTextStyleColor(14px, 16px, 500, #626262);
                        }
                    }
                }
                .modal__body--delete {
                    .modal__body--delete-unshow {
                        display: flex;
                        justify-content: space-between;
                        width: 100%;
                        margin: 18px auto;
                        .delete__btn {
                            cursor: pointer;
                            width: 80%;
                            display: flex;
                            justify-content: flex-end;
                            margin-bottom: 10px;
                            @media screen and (max-width: 575px) {
                                width: 67%;
                            }
                            @media screen and (max-width: 375px) {
                                width: 50%;
                            }
                            .delete__btn--icon {
                                border: none;
                                box-shadow: none;
                                outline: none;
                                background-color: transparent;
                            }
                        }
                    }
                    .delete__show--text {
                        width: 100%;
                        margin: auto;
                        .delete__show--checkbox {
                            padding: 10px;
                            display: flex;
                            align-items: center;
                            background: #FFF1F0;
                            border: 1px solid #FFCCC7;
                            box-sizing: border-box;
                            border-radius: 2px;
                            label {
                                display: inline-block;
                                padding: 15px;
                                @include setTextStyleColor(14px, 20px, 500, rgba(0, 0, 0, 0.65));
                                letter-spacing: 0.03em;
                                margin: 0;
                            }
                        }
                        .modal__bottom {
                            margin: 30px 0 10px;
                            .confirm-delete {
                                background: #FC4444;
                                box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
                                border-radius: 2px;
                                @include setTextStyleColor(14px, 22px, normal, #fff);
                                border: none;
                                padding: 5px 15px;
                                float: right;
                                outline: none;
                            }
                        }
                    }
                }
            }
            .bottom-error {
                @include setTextStyleColor (11px, 13px, 500, #fc0000);
            }
            .modal__note {
                @include setTextStyleColor (14px, 16px, 500, gray);
                word-break: break-word;
                min-height: 13px;
                span {
                    color: red;
                }
            }
        }
    }
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
