/*=============== @include ===============*/

/*=============== End @include ===============*/

/*=============== @extend ===============*/

/*=============== End @extend ===============*/

#header {
  background: linear-gradient(180deg, #1C4355 0%, #1E1E42 100%);
  height: 60px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
}

#header .header {
  height: 100%;
}

#header .header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

#header .header__logo {
  margin-right: 17px;
}

#header .header__search--lable {
  position: relative;
  width: 580px;
  height: 37px;
  margin-bottom: 0;
}

#header .header__search--lable img {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

#header .header__search--input {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  border: none;
  padding-left: 33px;
  font-size: 16px;
  line-height: 19px;
  font-weight: normal;
  color: #1C4355;
}

#header .header__search--input::-moz-placeholder {
  font-size: 16px;
  line-height: 19px;
  font-weight: normal;
  color: #1C4355;
}

#header .header__search--input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 19px;
  font-weight: normal;
  color: #1C4355;
}

#header .header__search--input::placeholder {
  font-size: 16px;
  line-height: 19px;
  font-weight: normal;
  color: #1C4355;
}

#header .header__search--input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 19px;
  font-weight: normal;
  color: #1C4355;
}

#header .header__search--input:focus::-moz-placeholder {
  color: transparent;
}

#header .header__search--input:focus:-ms-input-placeholder {
  color: transparent;
}

#header .header__search--input:focus::placeholder {
  color: transparent;
}

#header .header__search--input:focus:-ms-input-placeholder {
  color: transparent;
}

#header .header__search--input:focus::-ms-input-placeholder {
  /* Microsoft Edge */
  color: transparent;
}

#header .header__info--btn {
  background-color: transparent;
  border: none;
  font-size: 16px;
  line-height: 19px;
  font-weight: normal;
  color: #fff;
}

