@media screen and (min-width: 992px) {
    .navbar {
        .dropdown {
            &-desktop {
                &__menu {
                    background-color: #fff;
                    top: 52px;
                    min-width: 322px;
                    border: 1px solid #DDD6;
                    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
                    border-radius: 2px;
                    animation: coming-down-short .2s both;
                    margin: 0;
                    padding: 0;

                    &:before {
                        content: '';
                        border: 12px solid transparent;
                        border-bottom-color: #fff;
                        position: absolute;
                        top: -24px;
                        right: 30px;
                    }
                }
            }

            &-mobile {
                width: 100%;

                &__button {
                    display: none;
                }

                &__menu {
                    position: static;
                    display: flex;
                    width: 100%;
                    border: none;
                    background-color: transparent;
                }
            }
        }
    }
}

@media screen and (max-width: 991.98px) {
    .navbar {
        &-nav {
            margin-top: 90px;
            padding: 10px 22px 15px 25px;
            flex-direction: column;
            border-top: 1px solid #D7D7D7;
            border-bottom: none;

            .nav {
                &-item {
                    padding: 6px 0;
                    width: 100%;
                }

                &-link {
                    @include setTextStyleColor(16px, 22px, 500, #181818);
                    border-radius: 6px;
                    border: 1px solid #E3DEDE;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    width: 100%;
                    height: 70px;
                    padding: 0 0 0 20px;

                    &__sub {
                        margin-top: 2px;
                        @include setTextStyleColor(14px, 16px, 300, #181818);
                    }

                    &:before {
                        display: none;
                    }

                    &:hover {
                        color: #181818;
                    }

                    &.active {
                        color: #181818;
                    }
                }
            }
        }

        .company {
            &-info {
                position: absolute;
                top: 0;
                width: 100%;
                height: 90px;
                padding: 0 22px 0 25px;

                &__logo {
                    width: 40px;
                    height: 40px;
                    min-width: 40px;
                }

                &__contact {
                    padding-left: 14px;

                    &--gmail {
                        padding-bottom: 4px;
                    }

                    &--phone {
                        @include setTextStyle(14px, 16px, normal);
                    }
                }
            }

            &-list {
                margin-bottom: 99px;

                &__item {
                    display: flex;

                    &--icon {
                        width: 20px;
                    }

                    &--logout {
                        position: absolute;
                        top: 51px;
                        right: 22px;
                        margin: 0;

                        .company-list {
                            &__item {
                                &--icon {
                                    display: none;
                                }
                            }

                            &__link {
                                @include setTextStyleColor(14px, 16px, normal, #5B5B5B);
                                text-decoration: underline;
                            }
                        }
                    }

                    &--buy-points {
                        position: absolute;
                        width: 100%;
                        left: 0;
                        bottom: 0;
                        padding: 21px 25px;
                        margin: 0;

                        &-text {
                            margin-bottom: 5px;
                        }

                        .company-list {
                            &__item {
                                &--icon {
                                    display: none;
                                }

                                &--sub {
                                    @include setTextStyle(14px, 16px, normal);
                                }
                            }

                            &__link {
                                width: 100%;
                                height: 67px;
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: flex-start;
                                background: linear-gradient(180deg, #BB9A37 0%, #A36718 100%);
                                @include setTextStyleColor(16px, 19px, 500, $color_white);
                                padding: 0 22px;
                                border-radius: 4px;
                                
                                &:before {
                                    display: none;
                                }
                            }
                        }
                    }
                }

                &__link {

                    &:before {
                        width: calc(100% + 20px);
                        height: calc(100% + 11px);
                    }
                }

                &__hr {
                    margin-left: 0;
                    margin-right: 0;
                }
            }
        }

        .dropdown {
            &-desktop {
                width: 100%;
                position: static;

                &__button {
                    display: none;
                }

                &__menu {
                    width: 100%;
                    display: block;
                    position: static;
                    border: none;
                    padding: 0;
                    margin: 0;
                }
            }

            &-mobile {
                &__menu {
                    background-color: #fff;
                    top: 39px;
                    min-width: 404px;
                    border: 1px solid #DDD6;
                    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
                    border-radius: 2px;
                    animation: coming-down-short .2s both;
                    margin: 0;
                    padding: 0;
                }
            }
        }
    }
}

@media screen and (max-width: 767.98px) {
    .navbar {
        &-nav {
            margin-top: 70px;
            padding: 6px 22px 6px 25px;

            .nav {
                &-item {
                    padding: 4px 0;
                }

                &-link {
                    @include setTextStyle(14px, 18px, 500);
                    height: 60px;

                    &__sub {
                        @include setTextStyle(12px, 18px, 300);
                    }
                }
            }
        }

        .company {
            &-info {
                height: 70px;

                &__logo {
                    width: 31px;
                    height: 31px;
                    min-width: 31px;
                }

                &__contact {

                    &--gmail {
                        @include setTextStyle(14px, 16px, 500);
                    }

                    &--phone {
                        @include setTextStyle(12px, 14px, normal);
                    }
                }
            }

            &-list {
                margin-bottom: 73px;

                &__item {
                    margin-top: 8px;
                    margin-bottom: 8px;
                    display: flex;

                    &--icon {
                        img {
                            transform: scale(.8);
                        }
                    }

                    &--logout {
                        top: 37px;
                        margin: 0;

                        .company-list {
                            &__link {
                                @include setTextStyle(12px, 14px, normal);
                            }
                        }
                    }

                    &--buy-points {
                        margin-top: 0;
                        margin-bottom: 0;
                        padding: 12px 25px;

                        &-text {
                            margin-bottom: 4px;
                        }

                        .company-list {
                            &__item {
                                &--sub {
                                    @include setTextStyle(12px, 14px, normal);
                                }
                            }

                            &__link {
                                height: 57px;
                                @include setTextStyle(14px, 16px, 500);
                            }
                        }
                    }
                }

                &__link {
                    @include setTextStyle(14px, 16px, normal);
                }

                &__language {
                    &--title {
                        display: none;
                    }

                    &--list {
                        margin-top: 1px;
                        padding-left: 0;
                        flex-direction: row;
                    }

                    &--item {
                        margin-bottom: 0;
                        font-weight: 300;
                        margin-right: 10px;

                        &.active {
                            font-weight: 500;
                        }
                    }
                }
            }
        }

        .dropdown {
            &-mobile {
                &__menu {
                    min-width: 322px;
                }
            }
        }
    }
}

@media screen and (max-width: 575.98px) {
    .navbar {
        .dropdown {
            &-mobile {
                &__button {
                    padding: 0;

                    &:after {
                        left: 0;
                    }
                }

                &__menu {
                    right: -16px;
                }
            }
        }
    }
}