.employer-navbar {
    height: 61px;
    padding: 0;
    background-color: $color_navbar_background;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
}

.navbar {
    &-brand {
        display: flex;
        padding: 0;
    }

    &-nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-top: 2px;

        .nav {

            &-item {
                padding: 0 10px;
            }

            &-link {
                @include setTextStyleColor(16px, 19px, 500, $color_navbar_link_gray);
                display: flex;
                padding: 8px 10px;
                position: relative;
                transition: all .2s;
                white-space: nowrap;
                z-index: 1;

                &:before {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%) scale(0.8);
                    width: 100%;
                    height: 100%;
                    background-color: $color_white;
                    border-radius: 5px;
                    transition: all .2s;
                    opacity: 0;
                    z-index: -1;
                }

                &:hover {
                    color: $color_white;
                    &:before {
                        opacity: .2;
                        transform: translate(-50%, -50%) scale(1);
                    }
                }

                &:active {
                    transition: .1s;
                    transform: scale(0.95);
                }

                &.active {
                    color: $color_white;
                    cursor: default;

                    &:before {
                        display: none;
                    }

                    &:active {
                        transform: scale(1);
                    }
                }
            }
        }
    }

    &-right {
        display: flex;
        align-items: center;
    }

    .company {
        &-info {
            display: flex;
            align-items: center;
            padding: 33px 26px 30px;

            &__logo {
                width: 50px;
                height: 50px;
                min-width: 50px;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                border-radius: 50%;
            }

            &__contact {
                display: flex;
                flex-direction: column;
                padding-left: 15px;

                &--gmail {
                    @include setTextStyleColor(16px, 22px, 500, #181818);
                    word-break: break-word;
                }

                &--phone {
                    @include setTextStyleColor(16px, 22px, normal, #707070);
                    word-break: break-word;
                }
            }
        }

        &-list {
            padding: 0;
            margin-bottom: 14px;
            display: flex;
            flex-direction: column;

            &__item {
                list-style: none;
                margin: 14px auto 14px 35px;
                display: flex;
                align-items: center;

                &--icon {
                    width: 25px;
                    display: inline-flex;
                    justify-content: center;
                    margin-right: 10px;
                }
            }

            &__link {
                @include setTextStyleColor(16px, 19px, normal, #5B5B5B);
                display: flex;
                align-items: center;
                position: relative;
                z-index: 1;

                &:before {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-49%, -50%) scale(.9);
                    width: calc(100% + 25px);
                    height: calc(100% + 15px);
                    opacity: 0;
                    border-radius: 5px;
                    transition: all .2s;
                    background-color: $color_black;
                    z-index: 2;
                }

                &:hover {
                    &:before {
                        transform: translate(-49%, -50%) scale(1);
                        opacity: .1;
                    }
                }
            }

            &__hr {
                margin-left: 0;
                margin-right: 0;
                height: 1px;
                background-color: #D7D7D7;
            }

            &__language {
                display: flex;
                align-items: flex-start;

                &--title {
                    @include setTextStyleColor(16px, 19px, normal, #5B5B5B);
                }

                &--list {
                    padding-left: 15px;
                    display: flex;
                    flex-direction: column;
                }

                &--item {
                    margin-bottom: 10px;
                    font-weight: 300;
                    color: $color_gray;

                    &.active {
                        font-weight: 500;
                        color: $color_big_title;
                        cursor: default;
                        text-decoration: underline;

                        &:before {
                            display: none;
                        }
                    }

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }

    .dropdown {
        &-desktop {
            &__button {
                background-color: transparent;
                display: flex;
                align-items: center;
                border: none;

                &--name {
                    @include setTextStyleColor(16px, 19px, normal, #fff);
                    @extend %default-text;
                    padding: 0 10px;
                }

                &--logo {
                    @extend %default-background-image;
                    background-size: contain;
                    width: 25px;
                    height: 25px;
                    min-width: 25px;
                    border-radius: 50%;
                }

                i {
                    color: $color_white;
                    font-size: 14px;
                }
            }
        }

        &-mobile {
            &__button {
                background-color: transparent;
                display: flex;
                align-items: center;
                border: none;
                position: relative;

                &:after {
                    content: '';
                    border: 12px solid transparent;
                    border-bottom: 12px solid #fff;
                    border-top: none;
                    width: 24px;
                    height: 12px;
                    position: absolute;
                    top: 30px;
                    left: 15%;
                    transform: translateX(-50%);
                    opacity: 0;
                    transition: all .2s;
                    z-index: 1001;
                }
            }
        }

        &.show .dropdown {
            &-mobile {
                &__button {
                    &:after {
                        opacity: 1;
                        animation: coming-down-short .2s both;
                    }
                }
            }
        }
    }
}