

@media screen and (min-width: 992.98px) {
    .pr-md-60 {
        padding-right: 60px !important;
    }
}

@media screen and (max-width: 1499.98px) {
    .bp-body {
        padding-left: 70px;
        padding-right: 70px;
    }
}

@media screen and (max-width: 1199.98px) {
    .bp-body {
        padding-left: 25px;
        padding-right: 25px;
    }
}

@media screen and (max-width: 991.98px) {
    .bp-header {
        height: 80px;
        border-bottom: none;
    }

    .bp-step {
        flex-direction: column;

        &__item {
            flex: 1;

            &:last-child {
                flex: 1;

                .bp-step__description {
                    padding-right: 10px;
                }
            }
        }

        &__right {
            padding-bottom: 20px;
        }

        &__description {
            padding-right: 10px;
        }
    }

    .bp-help {
        animation-delay: 1.5s;
    }

    .bp-form {
        animation-delay: 1.2s;
    }
}

@media screen and (max-width: 767.98px) {

    .px-mobile-0 {
        padding-right: 0!important;
        padding-left: 0!important;
    }

    .emp-box {
        margin-top: 25px;
    }

    .bp-title {
        height: 70px;

        &__image {
            transform: scale(.85);
            margin-right: 8px;
        }

        &__text {
            @include setTextStyle(16px, 19px, 500);
        }
    }

    .bp-logo {
        padding-top: 30px;
        padding-bottom: 30px;
        position: relative;
        transform: scale(.8);
    }

    .bp-step {
        padding-bottom: 15px;

        &__title {
            @include setTextStyle(14px, 16px, 500);
        }

        &__description {
            padding-top: 0;
        }
    }

    .bp-form {

        &__label {
            margin-bottom: 3px;
            @include setTextStyle(14px, 16px, normal);
        }

        &__input {
            height: 40px;
            @include setTextStyle(12px, 14px, normal);
        }

        &__submit {
            @include setTextStyle(14px, 26px, normal);
            height: 40px;
        }
    }

    .bp-help {
        border-radius: 0;
        padding: 24px 20px;

        &__title {
            @include setTextStyle(14px, 16px, 500);
            margin: 0;
            padding-bottom: 8px;
        }

        &__text {
            @include setTextStyle(14px, 22px, normal);
        }

        i {
            font-size: 16px;
            margin-right: 5px;
            width: 20px;
        }


    }

    .select2-container--default {

        .bp-service-select2-selection {
            height: 40px;

            .select2-selection {

                &__rendered {
                    font-size: 12px;
                    line-height: 38px;
                }

                &__arrow {
                    height: 16px;
                }
            }
        }

        .bp-service-select2-dropdown {

            .select2-results {
                &__option {
                    font-size: 12px;
                }
            }
        }
    }
}