%dropdown_style_1 {
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 0;
    background-color: $color_white;
    box-shadow: $searchcv_dropdown_boxshadow;
}

%dropdown_style_2 {
    margin: 0;
    padding: 0;
    border: none;
    border-top-left-radius: 3px !important;
    border-top-right-radius: 3px !important;
    overflow: hidden;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: $color_white;
    box-shadow: 0 3px 5px rgba(9, 30, 66, 0.2), 0 0 1px rgba(9, 30, 66, 0.31);
}

%bookmark_style {
    padding: 0;
    border: none;
    background-color: transparent;
    display: flex;

    .fill {
        display: none;
    }

    &.bookmarked {
        .empty {
            display: none;
        }

        .fill {
            display: initial;
        }
    }
}

.emp-box {
    margin-top: 43px;
    background-color: $color_white;
    border: 0.5px solid $searchcv_border_1;
}

.bp-header {
    height: 80px;
    border-bottom: 1px solid $searchcv_border_2;
}

.bp-title {
    padding: 0 5px;

    &__image {
        margin-right: 13px;
        position: relative;
        top: -1px;
    }

    &__text {
        @include setTextStyleColor(18px, 21px, 500, $color_big_title);
    }
}

.bp-body {
    padding-left: 200px;
    padding-right: 200px;
}

.bp-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 83px;
    padding-bottom: 70px;

    &__inner {
        position: relative;
        width: 83px;
        height: 83px;
        z-index: 1;
    }

    &__main {
        @extend %default-background-image;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        animation: flipInY 1s .5s both;
    }

    &__icon {
        position: absolute;
        right: 4px;
        bottom: 0;
        animation: bounceIn .8s 2.5s both;
    }

    &__circle1, &__circle2 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
    }

    &__circle1 {
        animation: zoomIn .5s .7s both;
    }

    &__circle2 {
        animation: zoomIn .5s .9s both;
    }

    &__star1 {
        position: absolute;
        top: 37%;
        left: 50%;
        width: 190px;
        transform: translate(-50%, -50%);
        z-index: -1;
        animation: zoomIn .5s 1.5s both;
    }

    &__star2 {
        position: absolute;
        top: 37%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
        animation: zoomIn .5s 1.2s both;
    }
}

.bp-step {
    display: flex;
    padding-bottom: 30px;

    &__item {
        flex: 5;
        display: flex;
        position: relative;

        &:last-child {
            flex: 4;
        }

        &.success {
            .bp-step__icon {
                border: 1px solid $color_big_title;
                transition-delay: .5s;

                &:before {
                    top: -100%;
                }

                &:after {
                    top: 150%;
                }
            }
        }
    }

    &__left {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__right {
        padding-left: 10px;
    }

    &__top {
        height: 32px;
        display: flex;
        align-items: center;
    }

    &__icon {
        position: relative;
        width: 32px;
        min-width: 32px;
        height: 32px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        transition: all .3s;
        border: 1px solid transparent;

        &:before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background-color: $bp_step_green;
            z-index: 2;
            transition: all .5s;
            transition-delay: .1s;
        }

        &:after {
            position: absolute;
            top: 50%;
            left: 50%;
            border-radius: 50%;
            transform: translateX(-50%) translateY(-50%);
            @include setTextStyleColor(16px, 19px, normal, $color_white);
            z-index: 3;
            transition: all .5s;
        }
    }

    &__title {
        @include setTextStyleColor(16px, 19px, 500, $color_black);
        white-space: nowrap;
    }

    &__description {
        @include setTextStyleColor(14px, 22px, normal, $color_gray);
        padding-right: 50px;
        padding-top: 3px;
        text-align: justify;
        position: relative;
    }

    &__line {
        &--horizontal {
            flex: 1;
            height: 2px;
            padding: 0 20px;
        }

        &--vertical {
            flex: 1;
            width: 2px;
            padding: 10px 0;
        }

        &--horizontal, &--vertical {
            & > div {
                content: '';
                height: 100%;
                width: 100%;
                background-color: $color_big_title;
            }
        }
    }

    &__item--1 {
        animation: coming-left-short .5s .5s both;

        .bp-step__icon {
            &:after {
                content: '1';
            }
        }

        .bp-step__description {
            animation: coming-down-short .3s .9s both;
        }
    }

    &__item--2 {
        animation: coming-left-short .5s .7s both;

        .bp-step__icon {
            &:after {
                content: '2';
            }
        }

        .bp-step__description {
            animation: coming-down-short .3s 1.1s both;
        }
    }

    &__item--3 {
        animation: coming-left-short .5s .9s both;

        .bp-step__icon {
            &:after {
                content: '3';
            }
        }

        .bp-step__description {
            animation: coming-down-short .3s 1.3s both;
        }
    }
}

.bp-form {
    position: relative;
    animation: coming-down-short .5s 1.5s both;

    &__label {
        margin-bottom: 8px;
        @include setTextStyleColor(16px, 19px, normal, $color_black);

        &--inline {
            white-space: nowrap;
            padding-right: 15px;
            font-size: 14px;
        }
    }

    &__input {
        width: 100%;
        height: 48px;
        border: 1px solid $searchcv_border_input;
        border-radius: 2px;
        padding: 0 12px;
        transition: all .2s;
        @include setTextStyleColor(14px, 16px, normal, $color_black);

        &::placeholder {
            color: $pj_placeholder_color;
            transition: all .2s;
        }

        &:focus {
            border: 1px solid $pj_nav_border_right_active;

            &::placeholder {
                color: $color_white;
            }
        }

        &:disabled {
            background-color: $pj_inputtags_background;
            cursor: not-allowed;
        }
    }

    &__submit {
        @include setTextStyleColor(18px, 23px, normal, $color_white);
        width: 100%;
        height: 48px;
        border: none;
        border-radius: 8px;
        transition: all .1s;
        position: relative;
        background-color: $bp_step_green;

        &:active {
            transform: scale(.95);
        }
    }
}

.bp-help {
    background-color: $bp_help_background;
    border: 1px solid $bp_help_border;
    border-radius: 4px;
    padding: 30px;
    margin-top: 29px;
    position: relative;
    animation: coming-down-short .5s 1.2s both;

    &__title {
        @include setTextStyleColor(18px, 22px, 500, $bp_help_text);
        margin: 0;
        padding-bottom: 12px;
    }

    &__text {
        @include setTextStyleColor(16px, 22px, normal, $bp_help_text);
        margin: 0;
    }

    &__link {
        color: $bp_help_link;
        text-decoration: underline;
    }

    i {
        font-size: 20px;
        color: $bp_help_text;
        margin-right: 8px;
        width: 30px;
        text-align: center;
        position: relative;
        top: 2px;
    }


}

.bp_form_select2:focus + .select2-container--default {
    .bp_form_select2-selection {
        border: 1px solid $color_big_title;
    }
}

.select2-container--default {
    .select2-selection {
        &:focus {
            outline: none;
        }
    }

    .bp-service-select2-selection {
        height: 48px;
        border: 1px solid $searchcv_border_input;
        border-radius: 2px;
        transition: .2s;

        .select2-selection {

            &__rendered {
                font-size: 14px;
                line-height: 46px;
                padding-left: 12px;
                color: $color_big_title;
            }

            &__placeholder {
                color: $pj_placeholder_color;
            }

            &__arrow {
                height: 24px;
                right: 8px;

                b {
                    border: none;
                    padding: 0;

                    &:before {
                        content: '\f0d7';
                        font-family: "Font Awesome 5 Free", "Roboto", Arial, Helvetica, sans-serif;
                        font-weight: 900;
                        font-size: 12px;
                    }
                }
            }
        }
    }

    .bp-service-select2-dropdown {
        @extend %dropdown_style_1;
        animation: show-height-50-50 .15s ease-out both;

        .select2-results {
            &__option {
                font-size: 14px;
                padding-left: 12px;
                color: $color_big_title;
                transition: all .1s;

                &--disabled {
                    color: $color_gray;
                }

                &--highlighted {
                    background-color: $color_navbar_background;
                    color: $color_white;
                }

            }
        }
    }

    &.select2-container--open {
        .bp_form_select2-selection {
            background-color: $searchcv_gray_input_focus;
        }
    }

    &.select2-container--focus {
        .bp_form_select2-selection, .bp_form_select2-multiple-selection {
            border: 1px solid $pj_nav_border_right_active;
        }

    }

    &.select2-container--disabled {
        .bp_form_select2-selection {
            cursor: not-allowed;
        }
        &.select2-container--focus {
            .bp_form_select2-selection {
                border: 1px solid $searchcv_border_input;
            }
        }
    }

    .dichvu {
        width: 250px !important;
    }
}

.error-text {
    @include setTextStyleColor(12px, 14px, normal, $color_red);
    min-height: 14px;
    margin-bottom: 8px;
}

.invalid-input {
    border: 1px solid $color_red !important;
}

.form-error .select2-selection,
.form-error .bootstrap-tagsinput,
.form-error .tox-tinymce
{
    border: 1px solid $color_red !important;
}
