/*=============== Header ===============*/

/*=============== End Header ===============*/

/*=============== Search Job ===============*/

/*=============== End Search Job ===============*/

/*=============== @include ===============*/

/*=============== End @include ===============*/

/*=============== @extend ===============*/

/*=============== End @extend ===============*/

.itnavi-header {
  width: 100vw;
  height: 64px;
  background-color: #163442;
  padding-left: 0;
  padding-right: 8px;
}

@media (max-width: 991.98px) {
  .itnavi-header {
    height: 55px;
  }
}

.itnavi-header .header-desktop {
  width: 100%;
}

.itnavi-header .header-desktop .container-md {
  flex-wrap: nowrap;
}

.itnavi-header .header-desktop .navbar-brand {
  margin-right: 40px;
}

.itnavi-header .header-desktop .navbar-brand img {
  height: 25px;
}

.itnavi-header .header-desktop .navbar-nav {
  flex-direction: row;
}

.itnavi-header .header-desktop .navbar-nav .nav-item {
  padding: 0 10px;
  transition: all 0.2s;
  position: relative;
  overflow: hidden;
  border-radius: 4px;
}

.itnavi-header .header-desktop .navbar-nav .nav-item:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 50%;
  transform: translateY(-50%) translateX(-50%);
  width: 0;
  height: 0;
  background-color: transparent;
  transition: all 0.4s;
  z-index: -1;
}

.itnavi-header .header-desktop .navbar-nav .nav-item .nav-link {
  font-size: 12px;
  line-height: 14px;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
  transition: all 0.2s;
  white-space: nowrap;
}

.itnavi-header .header-desktop .navbar-nav .nav-item:hover:before {
  width: 150%;
  height: 150%;
  background-color: #fff;
}

.itnavi-header .header-desktop .navbar-nav .nav-item:hover .nav-link {
  color: #464545;
}

.itnavi-header .header-desktop .navbar-nav .nav-item.active .nav-link {
  text-decoration: underline;
}

.itnavi-header .header-desktop .navbar-nav .nav-item.active .nav-link:hover {
  text-shadow: none;
}

.itnavi-header .header-desktop .navbar-nav .nav-item.nav-item__clicktoshow {
  display: none;
  padding: 0;
  align-items: center;
}

.itnavi-header .header-desktop .navbar-nav .nav-item.nav-item__clicktoshow button {
  border: none;
  background-color: transparent;
  color: white;
  border-radius: 4px;
  transition: all 0.2s;
}

.itnavi-header .header-desktop .navbar-nav .nav-item.nav-item__clicktoshow button:hover {
  color: #464545;
}

.itnavi-header .header-desktop .navbar-nav.hide .nav-item.nav-item__autohide {
  width: 0;
  padding: 0;
}

.itnavi-header .header-desktop .navbar-nav.hide .nav-item.nav-item__clicktoshow {
  display: flex;
}

.itnavi-header .header-desktop .n-search {
  width: 100%;
  height: 35px;
  padding-left: 30px;
  display: flex;
}

.itnavi-header .header-desktop .n-search label {
  margin-bottom: 0;
}

.itnavi-header .header-desktop .n-search__name {
  position: relative;
  width: 100%;
  height: 100%;
}

.itnavi-header .header-desktop .n-search__name--label {
  position: absolute;
  top: 5px;
  left: 16px;
}

.itnavi-header .header-desktop .n-search__name--input {
  width: 100%;
  height: 100%;
  background-color: #fff;
  border: none;
  border-radius: 2px;
  padding: 0 18px 0 41px;
  font-size: 12px;
  line-height: 14px;
  font-weight: normal;
  color: #464545;
  cursor: pointer;
}

.itnavi-header .header-desktop .n-search__location {
  overflow: hidden;
  height: 100%;
  min-width: 190px;
  max-width: 190px;
  padding-left: 10px;
  opacity: 1;
  transition: all 0.2s;
}

.itnavi-header .header-desktop .n-search__location--select {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 2px;
  background-color: #fff;
  font-size: 12px;
  line-height: 14px;
  font-weight: normal;
  color: #464545;
  cursor: pointer;
}

.itnavi-header .header-desktop .n-search__location .select2-container--default {
  height: 100% !important;
  width: 100% !important;
}

.itnavi-header .header-desktop .n-search__location .select2-container--default .selection .select2-selection {
  height: 100%;
  border-radius: 2px;
  border: none;
}

.itnavi-header .header-desktop .n-search__location .select2-container--default .selection .select2-selection:focus {
  outline: none;
}

.itnavi-header .header-desktop .n-search__location .select2-container--default .selection .select2-selection .select2-selection__rendered {
  height: 100%;
  line-height: 35px !important;
  font-size: 12px;
  line-height: 14px;
  font-weight: normal;
  color: #464545;
}

.itnavi-header .header-desktop .n-search__location .select2-container--default .selection .select2-selection .select2-selection__arrow {
  height: 100%;
}

.itnavi-header .header-desktop .n-search__location .select2-container--default .select2-container--open.select2-container--below .select2-selection--single {
  height: 100%;
}

.itnavi-header .header-desktop .n-search__submit {
  overflow: hidden;
  min-width: 145px;
  max-width: 145px;
  height: 100%;
  padding-left: 10px;
  opacity: 1;
  transition: all 0.2s;
}

.itnavi-header .header-desktop .n-search__submit--button {
  width: 100%;
  height: 100%;
  background-color: #E74243;
  font-size: 14px;
  line-height: 16px;
  font-weight: 600;
  color: #fff;
  border-radius: 2px;
  border: none;
}

.itnavi-header .header-desktop .n-search.hide .n-search__name--label {
  left: unset;
  right: 15px;
}

.itnavi-header .header-desktop .n-search.hide .n-search__name--input {
  padding-left: 18px;
}

.itnavi-header .header-desktop .n-search.hide .n-search__location,
.itnavi-header .header-desktop .n-search.hide .n-search__submit {
  min-width: 0;
  max-width: 0;
  padding: 0;
  opacity: 0;
}

@media screen and (max-width: 1199.98px) {
  .itnavi-header .header-desktop .n-search__name--label {
    top: 3px;
    left: 10px;
  }

  .itnavi-header .header-desktop .n-search__name--label img {
    position: relative;
    transform: scale(0.8);
  }

  .itnavi-header .header-desktop .n-search__name--input {
    padding: 0 5px 0 35px;
  }

  .itnavi-header .header-desktop .n-search__location {
    min-width: 140px;
    max-width: 140px;
  }

  .itnavi-header .header-desktop .n-search__location .select2-container--default {
    height: 100% !important;
    width: 100% !important;
  }

  .itnavi-header .header-desktop .n-search__submit {
    min-width: 110px;
    max-width: 110px;
  }

  .itnavi-header .header-desktop .n-search__submit--button {
    font-size: 12px;
    line-height: 14px;
    font-weight: 600;
  }

  .itnavi-header .header-desktop .n-search.n-search__hideitem .n-search__name--label {
    left: unset;
    right: 10px;
  }

  .itnavi-header .header-desktop .n-search.n-search__hideitem .n-search__name--input {
    padding-left: 12px;
  }
}

.itnavi-header .header-desktop .n-wallet {
  display: flex;
  align-items: center;
}

.itnavi-header .header-desktop .n-wallet:before {
  display: none;
}

.itnavi-header .header-desktop .n-wallet__coin {
  font-size: 12px;
  line-height: 14px;
  font-weight: 600;
  color: #fff;
  white-space: nowrap;
  padding-right: 5px;
}

.itnavi-header .header-desktop .n-wallet__coin i {
  color: #feda42;
}

.itnavi-header .header-desktop .n-wallet__pay {
  padding: 0 7px;
  border: none;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  white-space: nowrap;
  font-size: 12px;
  line-height: 14px;
  font-weight: bold;
  color: #464545;
  background-color: #fff;
  text-transform: uppercase;
  transition: all 0.1s;
}

.itnavi-header .header-desktop .n-lang {
  margin-left: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}

.itnavi-header .header-desktop .n-lang .dropdown .n-lang--button {
  background-color: transparent;
  border: none;
  white-space: nowrap;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
}

@media screen and (max-width: 1199.98px) {
  .itnavi-header .header-desktop .n-lang .dropdown .n-lang--button {
    height: 40px;
  }
}

.itnavi-header .header-desktop .n-lang .dropdown .dropdown-menu {
  top: calc(100% + 15px);
  border: none;
  background-color: #163442;
  border-radius: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  padding: 10px 0;
}

.itnavi-header .header-desktop .n-lang .dropdown .dropdown-menu .dropdown-item {
  font-size: 12px;
  line-height: 14px;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
  padding: 10px 20px;
}

.itnavi-header .header-desktop .n-lang .dropdown .dropdown-menu .dropdown-item i {
  width: 10px;
  margin-right: 10px;
}

.itnavi-header .header-desktop .n-lang .dropdown .dropdown-menu .dropdown-item:hover {
  background-color: #E74243;
}

.itnavi-header .header-desktop .n-auth {
  min-width: 180px;
  margin-left: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}

.itnavi-header .header-desktop .n-auth .dropdown .dropdown-menu {
  top: calc(100% + 15px);
  border: none;
  background-color: #163442;
  border-radius: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  padding: 10px 0;
}

.itnavi-header .header-desktop .n-auth .dropdown .dropdown-menu .dropdown-item {
  font-size: 12px;
  line-height: 14px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  padding: 10px 20px;
}

.itnavi-header .header-desktop .n-auth .dropdown .dropdown-menu .dropdown-item i {
  width: 10px;
  margin-right: 10px;
}

.itnavi-header .header-desktop .n-auth .dropdown .dropdown-menu .dropdown-item:hover {
  background-color: #E74243;
}

.itnavi-header .header-desktop .n-auth .n-auth__unlogin {
  display: flex;
  align-items: center;
}

.itnavi-header .header-desktop .n-auth .n-auth__unlogin--button {
  background-color: transparent;
  border: none;
}

@media screen and (max-width: 1199.98px) {
  .itnavi-header .header-desktop .n-auth .n-auth__unlogin--button {
    height: 40px;
  }
}

.itnavi-header .header-desktop .n-auth .n-auth__unlogin .dropdown-menu {
  width: 100px;
  top: calc(100% + 5px);
}

.itnavi-header .header-desktop .n-auth .n-auth__unlogin .n-employer {
  padding-left: 17px;
}

.itnavi-header .header-desktop .n-auth .n-auth__unlogin .n-employer__button {
  min-width: 142px;
  max-width: 142px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  font-size: 12px;
  line-height: 14px;
  font-weight: bold;
  color: #464545;
  background-color: #fff;
  text-transform: uppercase;
  transition: all 0.1s;
}

.itnavi-header .header-desktop .n-auth .n-auth__unlogin .n-employer__button i {
  margin-left: 5px;
}

.itnavi-header .header-desktop .n-auth .n-auth__unlogin .n-employer__button:hover {
  transform: scale(1.1);
}

.itnavi-header .header-desktop .n-auth .n-auth__logged {
  width: 100%;
}

.itnavi-header .header-desktop .n-auth .n-auth__logged--button {
  background-color: transparent;
  border: none;
  padding: 0;
  display: flex;
  align-items: center;
  color: #fff;
  width: 100%;
}

.itnavi-header .header-desktop .n-auth .n-auth__logged--button .logged__image {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  min-width: 20px;
  max-width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 7px;
}

.itnavi-header .header-desktop .n-auth .n-auth__logged--button .logged__name {
  overflow: hidden;
  display: -webkit-box;
  word-break: break-word;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  max-width: 150px;
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  margin-right: 8px;
}

.itnavi-header .header-desktop .n-auth .n-auth__logged .dropdown-menu {
  width: 213px;
}

.itnavi-header .header-desktop .n-auth .n-auth__logged .dropdown-menu .dropdown-item {
  text-transform: unset;
  padding: 15px 20px;
  font-weight: 500;
  transition: all 0.2s;
}

@media screen and (max-width: 1199.98px) {
  .itnavi-header .header-desktop .n-auth {
    margin-left: 30px;
  }
}

.itnavi-header .header-mobile {
  width: 100%;
}

.itnavi-header .header-mobile .container-md {
  flex-wrap: nowrap;
}

.itnavi-header .header-mobile .navbar-brand {
  margin-right: 20px;
  display: flex;
  align-items: center;
}

.itnavi-header .header-mobile .navbar-brand img {
  height: 22px;
}

.itnavi-header .header-mobile .n-search {
  width: 100%;
  height: 35px;
  padding-left: 10px;
  display: flex;
}

.itnavi-header .header-mobile .n-search label {
  margin-bottom: 0;
}

.itnavi-header .header-mobile .n-search__name {
  position: relative;
  width: 100%;
  height: 100%;
}

.itnavi-header .header-mobile .n-search__name--label {
  position: absolute;
  top: 5px;
  left: 16px;
}

.itnavi-header .header-mobile .n-search__name--input {
  width: 100%;
  height: 100%;
  background-color: #fff;
  border: none;
  border-radius: 2px;
  padding: 0 18px 0 41px;
  font-size: 12px;
  line-height: 14px;
  font-weight: normal;
  color: #464545;
  cursor: pointer;
}

.itnavi-header .header-mobile .n-search__location {
  overflow: hidden;
  height: 100%;
  opacity: 1;
  transition: all 0.2s;
}

.itnavi-header .header-mobile .n-search__location--select {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 2px;
  background-color: #fff;
  font-size: 12px;
  line-height: 14px;
  font-weight: normal;
  color: #464545;
  cursor: pointer;
}

.itnavi-header .header-mobile .n-search__location .select2-container--default {
  height: 100% !important;
  width: 100% !important;
}

.itnavi-header .header-mobile .n-search__location .select2-container--default .selection .select2-selection {
  height: 100%;
  border-radius: 2px;
  border: none;
}

.itnavi-header .header-mobile .n-search__location .select2-container--default .selection .select2-selection:focus {
  outline: none;
}

.itnavi-header .header-mobile .n-search__location .select2-container--default .selection .select2-selection .select2-selection__rendered {
  height: 100%;
  line-height: 35px !important;
  font-size: 12px;
  line-height: 14px;
  font-weight: normal;
  color: #464545;
}

.itnavi-header .header-mobile .n-search__location .select2-container--default .selection .select2-selection .select2-selection__arrow {
  height: 100%;
}

.itnavi-header .header-mobile .n-search__location .select2-container--default .select2-container--open.select2-container--below .select2-selection--single {
  height: 100%;
}

.itnavi-header .header-mobile .n-search__submit {
  overflow: hidden;
  min-width: 145px;
  max-width: 145px;
  height: 100%;
  opacity: 1;
  transition: all 0.2s;
}

.itnavi-header .header-mobile .n-search__submit--button {
  width: 100%;
  height: 100%;
  background-color: #E74243;
  font-size: 14px;
  line-height: 16px;
  font-weight: 600;
  color: #fff;
  border-radius: 2px;
  border: none;
}

.itnavi-header .header-mobile .n-search.hide .n-search__name--label {
  left: unset;
  right: 15px;
}

.itnavi-header .header-mobile .n-search.hide .n-search__name--input {
  padding-left: 18px;
}

.itnavi-header .header-mobile .n-search.hide .n-search__location,
.itnavi-header .header-mobile .n-search.hide .n-search__submit {
  min-width: 0;
  max-width: 0;
  padding: 0;
  opacity: 0;
}

@media screen and (max-width: 1199.98px) {
  .itnavi-header .header-mobile .n-search__name--label {
    top: 3px;
    left: 10px;
  }

  .itnavi-header .header-mobile .n-search__name--label img {
    position: relative;
    transform: scale(0.8);
  }

  .itnavi-header .header-mobile .n-search__name--input {
    padding: 0 12px 0 35px;
  }

  .itnavi-header .header-mobile .n-search__location .select2-container--default {
    height: 100% !important;
    width: 100% !important;
  }

  .itnavi-header .header-mobile .n-search__submit {
    min-width: 110px;
    max-width: 110px;
  }

  .itnavi-header .header-mobile .n-search__submit--button {
    font-size: 12px;
    line-height: 14px;
    font-weight: 600;
  }

  .itnavi-header .header-mobile .n-search.n-search__hideitem .n-search__name--label {
    left: unset;
    right: 10px;
  }

  .itnavi-header .header-mobile .n-search.n-search__hideitem .n-search__name--input {
    padding-left: 12px;
  }
}

.itnavi-header .header-mobile .n-wallet {
  display: flex;
  align-items: center;
  padding-top: 2px;
}

.itnavi-header .header-mobile .n-wallet__coin {
  font-size: 12px;
  line-height: 14px;
  font-weight: 600;
  color: #fff;
  white-space: nowrap;
  padding-right: 5px;
}

.itnavi-header .header-mobile .n-wallet__coin i {
  color: #feda42;
}

.itnavi-header .header-mobile .n-wallet__pay {
  padding: 0 7px;
  border: none;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  white-space: nowrap;
  font-size: 12px;
  line-height: 14px;
  font-weight: bold;
  color: #464545;
  background-color: #fff;
  text-transform: uppercase;
  transition: all 0.1s;
}

.itnavi-header .header-mobile .n-mobile__toggle {
  padding-left: 20px;
  margin-top: 1px;
}

.itnavi-header .header-mobile .n-mobile__toggle--button {
  background-color: transparent;
  border: none;
}

.itnavi-header .header-mobile .n-mobile__menu {
  display: block;
  position: fixed;
  top: 55px;
  left: unset;
  right: -100%;
  width: 234px;
  height: auto;
  background-color: #fff;
  transition: all 0.4s;
  padding-bottom: 10px;
  padding-top: 0;
  margin-top: 0;
  border: none;
  border-radius: 0;
}

.itnavi-header .header-mobile .n-mobile__menu.show {
  right: 0;
}

.itnavi-header .header-mobile .n-mobile__menu .n-navi__mobile {
  margin-bottom: 0;
  padding-left: 0;
  padding-top: 15px;
  padding-bottom: 7px;
  border-bottom: 1px solid #e7e7e7;
}

.itnavi-header .header-mobile .n-mobile__menu .n-navi__mobile:last-child {
  border-bottom: none;
}

.itnavi-header .header-mobile .n-mobile__menu .n-navi__mobile--item {
  padding: 7px 23px;
  list-style: none;
  display: flex;
}

.itnavi-header .header-mobile .n-mobile__menu .n-navi__mobile--link {
  font-size: 12px;
  line-height: 14px;
  font-weight: 500;
  color: #838383;
  text-transform: uppercase;
}

.itnavi-header .header-mobile .n-mobile__menu .n-navi__mobile--link i {
  width: 15px;
  text-align: center;
  margin-right: 7px;
}

.itnavi-header .header-mobile .n-mobile__menu .n-navi__mobile .n-lang {
  padding: 7px 23px;
  list-style: none;
  display: flex;
}

.itnavi-header .header-mobile .n-mobile__menu .n-navi__mobile .n-lang .dropdown {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.itnavi-header .header-mobile .n-mobile__menu .n-navi__mobile .n-lang .dropdown .n-lang--button {
  padding: 0;
  background-color: transparent;
  border: none;
  font-size: 12px;
  line-height: 14px;
  font-weight: 500;
  color: #838383;
  text-transform: uppercase;
}

.itnavi-header .header-mobile .n-mobile__menu .n-navi__mobile .n-lang .dropdown .dropdown-menu {
  top: unset;
  position: relative !important;
  display: block !important;
  border: none;
  background-color: transparent;
  border-radius: 0;
  box-shadow: none;
  padding: 7px 10px 0 15px;
}

.itnavi-header .header-mobile .n-mobile__menu .n-navi__mobile .n-lang .dropdown .dropdown-menu .dropdown-item {
  font-size: 12px;
  line-height: 14px;
  font-weight: 500;
  color: #838383;
  padding: 7px 0;
}

.itnavi-header .header-mobile .n-mobile__menu .n-navi__mobile .n-lang .dropdown .dropdown-menu .dropdown-item i {
  width: 10px;
  margin-right: 10px;
}

.itnavi-header .header-mobile .n-mobile__menu .n-navi__mobile .n-lang .dropdown .dropdown-menu .dropdown-item.active {
  color: #E74243;
  background-color: transparent;
}

.itnavi-header .header-mobile .n-mobile__menu .n-logined__mobile {
  padding: 15px 20px 13px 23px;
  background-color: #f4f4f4;
  display: flex;
}

.itnavi-header .header-mobile .n-mobile__menu .n-logined__mobile--image {
  min-width: 28px;
  max-width: 28px;
  height: 28px;
  border-radius: 50%;
}

.itnavi-header .header-mobile .n-mobile__menu .n-logined__mobile--info {
  padding-left: 12px;
}

.itnavi-header .header-mobile .n-mobile__menu .n-logined__mobile--name {
  overflow: hidden;
  display: -webkit-box;
  word-break: break-word;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: 12px;
  line-height: 14px;
  font-weight: 500;
  color: #737373;
}

.itnavi-header .header-mobile .n-mobile__menu .n-logined__mobile--email {
  overflow: hidden;
  display: -webkit-box;
  word-break: break-word;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  font-size: 10px;
  line-height: 12px;
  font-weight: normal;
  color: #737373;
  margin-top: 3px;
}

.itnavi-header .header-mobile .n-mobile__menu .n-employer__mobile {
  padding: 20px 30px;
}

.itnavi-header .header-mobile .n-mobile__menu .n-employer__mobile .n-employer__button {
  width: 145px;
  height: 36px;
  background-color: #E74243;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  line-height: 12px;
  font-weight: 600;
  color: #fff;
  font-family: "Montserrat", "Roboto", Arial, Helvetica, sans-serif;
}

.itnavi-header .header-mobile .n-mobile__menu .n-employer__mobile .n-employer__button i {
  margin-left: 10px;
}

.itnavi-header .header-mobile .n-search--mobile {
  width: 100%;
  height: 25px;
  position: relative;
  transition: all 0.2s;
  top: 2px;
}

.itnavi-header .header-mobile .n-search--mobile .n-search__form {
  width: 100%;
  height: 100%;
  display: flex;
}

.itnavi-header .header-mobile .n-search--mobile .n-search__form label {
  margin-bottom: 0;
}

.itnavi-header .header-mobile .n-search--mobile .n-search__name {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
}

.itnavi-header .header-mobile .n-search--mobile .n-search__name--label {
  position: absolute;
  top: 0;
  left: 8px;
  transform: scale(0.7);
}

.itnavi-header .header-mobile .n-search--mobile .n-search__name--input {
  width: 100%;
  height: 25px;
  background-color: #fff;
  border: none;
  border-radius: 2px;
  padding: 0 10px 0 30px;
  font-size: 10px;
  line-height: 12px;
  font-weight: normal;
  color: #464545;
  cursor: pointer;
}

.itnavi-header .header-mobile .n-search--mobile .n-search__location {
  display: none;
}

.itnavi-header .header-mobile .n-search--mobile .n-search__submit {
  display: none;
}

.itnavi-header .header-mobile .n-search--mobile .n-search__mobile--close {
  display: none;
}

.itnavi-header .header-mobile .n-search--mobile .n-search__popular {
  display: none;
}

.itnavi-header .header-mobile .n-search--mobile.show {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #e5e5e5;
  padding: 17px 16px;
  overflow: auto;
  z-index: 1000;
}

.itnavi-header .header-mobile .n-search--mobile.show .n-search__mobile--close {
  display: flex;
}

.itnavi-header .header-mobile .n-search--mobile.show .n-search__mobile--close button {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  border: 1px solid #ADADAD;
  background-color: transparent;
}

.itnavi-header .header-mobile .n-search--mobile.show .n-search__mobile--close button img {
  position: relative;
  right: 2px;
}

.itnavi-header .header-mobile .n-search--mobile.show .n-search__form {
  width: 100%;
  height: unset;
  display: inherit;
  padding: 18px 0;
}

.itnavi-header .header-mobile .n-search--mobile.show .n-search__name {
  position: relative;
  display: flex;
  width: 100%;
  height: unset;
  margin-bottom: 8px;
}

.itnavi-header .header-mobile .n-search--mobile.show .n-search__name--label {
  display: none;
}

.itnavi-header .header-mobile .n-search--mobile.show .n-search__name--input {
  width: 100%;
  height: 45px;
  border-radius: 4px;
  padding: 0 20px;
  font-size: 12px;
  line-height: 14px;
  font-weight: normal;
}

.itnavi-header .header-mobile .n-search--mobile.show .n-search__location {
  display: block;
  height: 45px;
  margin-bottom: 8px;
}

.itnavi-header .header-mobile .n-search--mobile.show .n-search__location--select {
  width: 100%;
  height: 45px;
  border: none;
  border-radius: 4px;
  background-color: #fff;
  font-size: 12px;
  line-height: 14px;
  font-weight: normal;
  color: #464545;
  cursor: pointer;
}

.itnavi-header .header-mobile .n-search--mobile.show .n-search__location .select2-container--default {
  height: 100% !important;
  width: 100% !important;
}

.itnavi-header .header-mobile .n-search--mobile.show .n-search__location .select2-container--default .selection .select2-selection {
  height: 100%;
  border-radius: 4px;
  border: none;
}

.itnavi-header .header-mobile .n-search--mobile.show .n-search__location .select2-container--default .selection .select2-selection:focus {
  outline: none;
}

.itnavi-header .header-mobile .n-search--mobile.show .n-search__location .select2-container--default .selection .select2-selection .select2-selection__rendered {
  height: 100%;
  padding: 0 20px;
  line-height: 45px !important;
  font-size: 12px;
  line-height: 14px;
  font-weight: normal;
  color: #464545;
}

.itnavi-header .header-mobile .n-search--mobile.show .n-search__location .select2-container--default .selection .select2-selection .select2-selection__arrow {
  height: 100%;
  right: 10px;
}

.itnavi-header .header-mobile .n-search--mobile.show .n-search__location .select2-container--default .select2-container--open.select2-container--below .select2-selection--single {
  height: 100%;
}

.itnavi-header .header-mobile .n-search--mobile.show .n-search__submit {
  display: flex;
}

.itnavi-header .header-mobile .n-search--mobile.show .n-search__submit--button {
  width: 100%;
  height: 45px;
  background-color: #E74243;
  font-size: 14px;
  line-height: 16px;
  font-weight: 600;
  color: #fff;
  border-radius: 4px;
  border: none;
}

.itnavi-header .header-mobile .n-search--mobile.show .n-search__popular {
  display: inherit;
  background-color: #fff;
  padding: 19px 18px;
}

.itnavi-header .header-mobile .n-search--mobile.show .n-search__popular--header {
  font-size: 14px;
  line-height: 16px;
  font-weight: 600;
  color: #8d8d8d;
}

.itnavi-header .header-mobile .n-search--mobile.show .n-search__popular--list {
  padding-top: 5px;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0;
}

.itnavi-header .header-mobile .n-search--mobile.show .n-search__popular--list .list-item {
  width: 49.98%;
  padding-top: 15px;
  padding-right: 15px;
  list-style: none;
}

.itnavi-header .header-mobile .n-search--mobile.show .n-search__popular--list .list-item .list-link {
  text-decoration: underline;
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  color: #838383;
}

body {
  padding-top: 64px;
}

@media screen and (max-width: 991.98px) {
  body {
    padding-top: 55px;
  }
}

.navi-location-select2 {
  border-radius: 0;
  border: 1px solid #a9a9a9;
  border-top: 0;
}

.navi-location-select2 .select2-results__options .select2-results__option {
  font-size: 12px;
  line-height: 14px;
  font-weight: normal;
  color: #464545;
}

.navi-location-select2 .select2-results__options .select2-results__option.select2-results__option--selected {
  font-weight: 500;
}

.navi-location-select2 .select2-results__options .select2-results__option.select2-results__option--highlighted {
  background-color: #E74243;
  color: #fff;
  font-weight: 500;
}

@media screen and (max-width: 991.98px) {
  .navi-location-select2 .select2-results__options .select2-results__option {
    padding-left: 20px;
    padding-right: 20px;
  }
}

