/*-------------------------------------------------------------------------------
TABLE OF CONTENT
-------------------------------------------------------------------------------*/
/*!------------------------------------------------------------------
[MAIN STYLESHEET]

PROJECT :	FLATRICA | MATERIAL CV
VERSION :	2.0
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
[TABLE OF CONTENTS]

1. BODY

    2.PRE-LOADER / #loading
         2.1 NAME & STATUS / .text-holder
          2.1.1 NAME / h2
          2.1.2 STATUS / h6

 	3. HEADER / #home
	     3.1 NAVIGATION / #themenu
		    3.1.1 MENU / #menu-options
		      3.1.1.1 PERSONAL LOGO / .logo-flat
		      3.1.1.2 OPTIONS / a
		    3.1.2 MENU BUTTON / #menuToggle

    4. V-CARD / #v-card-holder #v-card
       4.1 PROFILE PICTURE / #profile
       4.2 PROFILE DETAILS / .card-content
         4.2.1 NAME & STATUS / .info-headings
         4.2.2 CONTACT INFO / .infos
         4.2.3 LINKS / .links

	5. ABOUT / #about
	     5.1 DETAILS/ #about-card
		   5.1.1 ABOUT PARAGRAPH / .card-content p
		   5.1.1 BUTTONS / #about-btn

    6. EDUCATION / #education
         6.1 SECTION TITLE/ .section-title
	     6.2 TIMELINE/ #timeline-education
		   6.2.1 TIMELINE BLOCK / .timeline-block
		     6.2.1 TIMELINE DOT / .timeline-dot
		     6.2.2 TIMELINE CONTENT / .timeline-content
		       6.2.2.1 TIMELINE TITLE / .timeline-title
		       6.2.2.2 TIMELINE TITLE INFO / .timeline-info
		       6.2.2.3 TIMELINE PARAGRAPH / p

    7. SKILLS / #skills
         7.1 SECTION TITLE/ .section-title
		 7.2 SKILL SECTION TITLE/ .skills-title
		 7.3.1 SKILL BAR / .skillbar
		   7.3.1 BAR TITLE / .skillbar-title
		   7.3.1 BAR / .skillbar-title
		   7.3.1 PARENTAGE / .skill-bar-percent

    8. EXPERIENCE / #experience
         8.1 SECTION TITLE/ .section-title
		 8.2 TIMELINE / #timeline-experience
		   8.2.1 TIMELINE BLOCK / .timeline-block
		     8.2.1 TIMELINE DOT / .timeline-dot
		     8.2.2 TIMELINE CONTENT / .timeline-content
		       8.2.2.1 TIMELINE TITLE / .timeline-title
		       8.2.2.2 TIMELINE TITLE INFO / .timeline-info
		       8.2.2.3 TIMELINE PARAGRAPH / p

    9. MODALS /
	     9.1 MODAL HEADER/ .modal-header
		 9.2 MODAL BODY / .modal-body
		 9.3 MODAL FOOTER / .modal-footer


	10. PORTFOLIOS / #galleries
	     10.1 SECTION TITLE/ .section-title
		 10.2 OPTIONS / .nav .nav-tabs
		 10.3 CATEGORIES CONTENT / .tab-content
		   10.3.1 All CATEGORIES / #all
		   10.3.2 CATEGORY 1 / #a
		     10.3.2.1 FIGURE / figure .port-effect
		       10.3.2.1.1 IMAGE / img
		       10.3.2.1.2 CAPTION / figcaption
		         10.3.2.1.2.1 HEADER / h2 span
		         10.3.2.1.2.1 DETAIL / p
		         10.3.2.1.2.1 LINK / a

    11. INTEREST / #interest
		 11.1 SECTION TITLE/ .section-title
		 11.2 INTEREST / #interest-card
		   11.2.1 INTEREST TEXT / .card-content p
		   11.2.2 INTEREST ICONS / #interest-icon
		     11.2.2.1 ICONS / .interest-icon i
		     11.2.2.2 TITLE / .interest-icon span

    12. TESTIMONIALS AND CLIENTS / #testimonials
         12.1 SECTION TITLE/ .section-title
         12.2 TESTIMONIALS / #testimonials-card
           12.2.1 CLIENT IMAGE / .client-img img
           12.2.2 CLIENT QUOTE / .card blockquote
         12.3 CLIENT LOGOS / #clients
           12.3.1 LOGOS/ #clients-list img

     13. PRICING TABLE / #pricing-table
         13.1 SECTION TITLE/ .section-title
         13.2 PRICING TABLES / #pricing-card
           13.2.1 TOP / .pricing-top
           13.2.2 DETAILS / .pricing-bottom
           13.2.3 BUTTON / a

     14. BLOG / #blog
         14.1 SECTION TITLE/ .section-title
         14.2 BLOG'S / #blog-card
           14.2.1 BLOG ODD/ .blog .odd
             14.2.1.1 IMAGE/ .image img
             14.2.1.2 DETAILS .content
           14.2.2 BLOG EVEN / .blog .odd
             14.2.2.1 IMAGE/ .image img
             14.2.2.2 DETAILS .content

    15. CONTACT / #contact
         15.1 SECTION TITLE/ .section-title
         15.2 CONTACT FORM / #contact-form
         15.2. MAP / #myMap

    16. SCROLL TO TOP / #scroll-top
         16.1 BUTTON / #scrollup

    17. FOOTER / footer
         17.1 DETAILS / p
         17.2 LINK / a

    18. SINGLE PAGE / .single-page

-------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------
1. HTML, TYPOGRAPHY , COMPONENTS & UTILITY CLASSES
-------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------
#BODY & HTML
-------------------------------------------------------------------------------*/
html, body {
  margin: 0;
  padding: 0;
  outline: 0;
  display: block;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  background-color: #f5f5f5;
  color: #616161;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-text-stroke: 1px transparent;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-overflow-scrolling: touch; }

/*-------------------------------------------------------------------------------
#SECTION
-------------------------------------------------------------------------------*/
.section {
  /*section properties*/
  position: relative;
  padding-top: 15px;
  padding-bottom: 30px; }
  .section .section-title {
    /*section title*/
    margin-bottom: 18px; }
    .section .section-title .title-icon {
      /*icon*/
      margin-right: 20px;
      color: #06A763; }
    .section .section-title img {
      width: 66px;
      padding: 10px;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
      margin: -2px 12px 12px 12px; }

/*-------------------------------------------------------------------------------
#CONTAINER
-------------------------------------------------------------------------------*/
.container {
  /*container properties*/
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  -webkit-backface-visibility: hidden; }

@media (min-width: 768px) {
  .container {
    /*container at min width 768px*/
    width: 750px; } }
@media (min-width: 992px) {
  .container {
    /*container at min width 992px*/
    width: 970px; } }
@media (min-width: 1200px) {
  .container {
    /*container at min width 1200px*/
    width: 1000px; } }
/*-------------------------------------------------------------------------------
 #FONT & TYPOGRAPHY
-------------------------------------------------------------------------------*/
h1, h2, h3, h4, h5, h6, span {
  font-family: 'Raleway', sans-serif; }

h4 {
  font-size: 2.18rem;
  line-height: 110%;
  margin: 1.14rem 0 0.912rem 0; }

p, a, li, label, input, blockquote, cite, div {
  font-family: 'Muli', sans-serif; }

p {
  color: #757575; }

a {
  color: #1976D2; }
  a:hover {
    color: #2988e6;
    text-decoration: none; }
  a:focus {
    color: #12579b;
    text-decoration: none; }

h1 {
  font-weight: 700; }

h2, h3, h4 {
  font-weight: 600; }

h5, h6 {
  font-weight: 500; }

p, a, li {
  font-weight: 400; }

h6 {
  font-size: 1.4em; }

/*-------------------------------------------------------------------------------
#UTILITY CLASSES
-------------------------------------------------------------------------------*/
.is-hidden {
  visibility: hidden; }

.btn {
  padding-top: 8px; }

.social {
  z-index: 0 !important; }

video {
  border: 3px solid black; }

.black {
  /*bg color change to black*/
  background-color: black !important; }

.hide-overflow {
  /*hides overflow*/
  overflow: hidden !important; }

.toast {
  background-color: #1976D2; }

/*-------------------------------------------------------------------------------
#CARD
-------------------------------------------------------------------------------*/
.card {
  /*card layout*/
  position: relative;
  background-color: #fff;
  transition: box-shadow .25s;
  -webkit-transition: box-shadow .25s;
  border-radius: 0 !important;
  margin: 8px 0; }
  .card .card-content {
    /*card content*/
    padding: 40px;
    border-radius: 0 0 2px 2px; }
    .card .card-content p {
      /*paragraph style inside card content*/
      margin: 0;
      color: inherit;
      text-align: center; }

/*-------------------------------------------------------------------------------
#MODAL
-------------------------------------------------------------------------------*/
.modal {
  padding-right: 0 !important;
  padding-left: 0 !important; }
  .modal .modal-content {
    border-radius: 0 !important;
    background-color: #fff;
    color: #616161; }
    .modal .modal-content .modal-body {
      position: relative;
      padding: 0 40px;
      text-align: justify; }
      .modal .modal-content .modal-body img {
        padding-top: 10px;
        padding-bottom: 10px; }
    .modal .modal-content .modal-header {
      padding: 15px;
      border-bottom: 0; }
      .modal .modal-content .modal-header .close:focus, .modal .modal-content .modal-header .close:hover {
        color: #1976D2;
        opacity: 1; }
    .modal .modal-content .modal-footer {
      border: 0 !important; }
    .modal .modal-content .btn-default {
      border-radius: 0;
      background-color: #1976D2;
      color: #fff;
      border-color: #1976D2; }
      .modal .modal-content .btn-default:hover, .modal .modal-content .btn-default:focus {
        color: #fff;
        background-color: #1976D2;
        border-color: #1976D2;
        border-radius: 0; }

/*-------------------------------------------------------------------------------
#VIDEO PLAY PROPERTIES
-------------------------------------------------------------------------------*/
body.scale-effect {
  /*ripple effect*/
  opacity: 1;
  transform: none;
  -webkit-transform: none;
  pointer-events: all; }
  body.scale-effect .icon-close {
    /*visible close icon on ripple*/
    opacity: 1;
    transform: none;
    -webkit-transform: none;
    pointer-events: all; }
  body.scale-effect .btn-holder #icon-play {
    opacity: 0; }
  body.scale-effect .btn-holder .btn-play {
    /*scale effect for button*/
    transform: scale(28);
    -webkit-transform: scale(28); }

.btn-holder {
  /*play button holder*/
  position: absolute;
  top: 75px;
  right: 346px;
  cursor: pointer;
  z-index: 3;
  transition: all .5s; }

.btn-holder .icon-close {
  /*close icon transition*/
  transition: 0.2s ease-in-out; }

.btn-holder:hover .btn-play {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }

.btn-play {
  /*play button properties*/
  box-sizing: border-box;
  transform-origin: 50%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: all 0.7s cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #1976D2;
  overflow: hidden; }
  .btn-play:hover {
    /*hover effect*/
    background-color: #1976D2; }
  .btn-play i {
    /*icon*/
    font-size: 35px;
    color: #fff; }

.icon-close {
  /*close button icon*/
  position: absolute;
  top: 15px;
  right: 15px;
  color: #fff;
  opacity: 0;
  -webkit-transform: translate(10px, 0) rotate(90deg);
  transform: translate(10px, 0) rotate(90deg);
  transition: all 0.3s ease-in-out;
  z-index: 5;
  background: rgba(41, 40, 40, 0.36) !important; }

.height-change {
  /*adds v-card height*/
  height: 548px !important;
  margin: -76px 3px 0 0px !important; }

.middle {
  /*takes play button to middle*/
  top: 170px !important;
  right: 430px !important; }

.video {
  /*centres the video*/
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  width: 100%;
  height: auto;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

@media screen and (max-width: 767px) {
  .btn-holder {
    /*play button holder*/
    top: 102px;
    right: 0; }
    .btn-holder .btn-large {
      width: 36.5px;
      height: 36.5px; }
      .btn-holder .btn-large i {
        line-height: 1 !important;
        font-size: 26px !important; }

  .middle {
    /*takes play button to middle*/
    top: 250px !important;
    right: 50px !important; } }
@media screen and (max-width: 660px) {
  .height-change {
    /*adds v-card height*/
    height: 440px !important;
    margin: -76px 3px 0 0px !important; } }
@media screen and (max-width: 500px) {
  .height-change {
    /*adds v-card height*/
    height: 300px !important;
    margin: -21px 3px 0 0px !important; } }
@media screen and (min-width: 769px) and (max-width: 991px) {
  .middle {
    /*takes play button to middle*/
    top: 170px !important;
    right: 340px !important; } }
/*-------------------------------------------------------------------------------
 PRE-LOADER
-------------------------------------------------------------------------------*/
#loading {
  /*pre-loader*/
  background-color: #06A763;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 5001;
  margin-top: 0;
  top: 0; }
  #loading #loading-center {
    /*pre-loader positioning*/
    width: 100%;
    height: 100%;
    position: relative; }
  #loading #loading-center-absolute {
    /*pre-loader positioning*/
    position: absolute;
    left: 50%;
    top: 50%;
    height: 200px;
    width: 271px;
    margin-top: -123px;
    margin-left: -136px; }
  #loading .text-holder {
    /*pre-loader text*/
    width: 100%;
    position: absolute;
    color: #fff;
    top: 62%; }
    #loading .text-holder h2 {
      /*name*/
      padding: 0;
      margin: 0;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.29); }
    #loading .text-holder h6 {
      /*detail*/
      font-size: 16px;
      padding: 0;
      margin: 0;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.29); }
  #loading .box-holder {
    /*pre-loader box*/
    position: absolute;
    top: 42%;
    left: 45%; }
    #loading .box-holder .load-box {
      /*outer box*/
      display: inline-block;
      width: 30px;
      height: 30px;
      position: relative;
      border: 4px solid #fff;
      top: 50%;
      animation: loader 2s infinite ease;
      -webkit-animation: loader 2s infinite ease;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }
      #loading .box-holder .load-box .box-inner {
        /*inner box*/
        vertical-align: top;
        display: inline-block;
        width: 100%;
        background-color: #1976D2;
        animation: loader-inner 2s infinite ease-in;
        -webkit-animation: loader-inner 2s infinite ease-in; }
@-webkit-keyframes loader {
  /*loader animation*/
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  25% {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg); }
  50% {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg); }
  75% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg); }
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg); } }
@keyframes loader {
  /*loader animation*/
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg); }
  25% {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg); }
  50% {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg); }
  75% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg); }
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg); } }
@-webkit-keyframes loader-inner {
  /*loader-inner animation*/
  0% {
    height: 0; }
  25% {
    height: 0; }
  50% {
    height: 100%; }
  75% {
    height: 100%; }
  100% {
    height: 0; } }
@keyframes loader-inner {
  /*loader-inner animation*/
  0% {
    height: 0; }
  25% {
    height: 0; }
  50% {
    height: 100%; }
  75% {
    height: 100%; }
  100% {
    height: 0; } }
/*-------------------------------------------------------------------------------
 HEADER
-------------------------------------------------------------------------------*/
/*home section*/
#home .menu {
  /*side menu*/
  position: fixed;
  left: -225px;
  width: 225px;
  height: 100%;
  top: 0;
  z-index: 10;
  text-align: left;
  background: #06A763; }
  #home .menu a {
    /*menu links*/
    margin-left: 30px;
    margin-right: 30px;
    color: #616161;
    display: block;
    font-size: 12px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: .1em;
    text-transform: uppercase; }
    #home .menu a:hover {
      /*link option hover color*/
      color: #1976D2; }
    #home .menu a:active {
      /*option active color*/
      color: #1976D2; }
  #home .menu i {
    /*menu icon*/
    padding: 7px; }
  #home .menu .menu-wrap {
    /*menu warp class*/
    position: absolute;
    top: 0;
    left: 0;
    background: #f5f5f5;
    width: 225px;
    height: 100%;
    overflow-y: auto;
    padding-top: 14px; }
  #home .menu .logo-flat {
    /*menu logo*/
    height: 200px;
    margin-top: -14px;
    background: #06A763; }
    #home .menu .logo-flat img {
      /*logo image*/
      width: 100%;
      padding: 30px 44px 44px 44px; }
#home .menu-open {
  /*set left 0 to open menu*/
  left: 0; }
#home .body-push {
  overflow-x: hidden;
  position: relative;
  right: 0; }
#home .body-push-toright {
  /*push to right*/
  right: 225px; }
#home .body-push-toleft {
  /*push to left on click*/
  right: 225px; }
#home .menu, #home .body-push {
  /*menu easing effect*/
  transition: all .3s ease; }
#home #menuToggle {
  /*menu toggle style*/
  position: absolute;
  top: 20px;
  right: -65px;
  z-index: 11;
  display: block;
  text-align: center;
  font-size: 14px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  cursor: pointer;
  border: 1px solid rgba(93, 92, 92, 0.52);
  background: rgba(0, 0, 0, 0.06);
  transition: all .5s ease-in-out; }
  #home #menuToggle:hover {
    /*toggle hover style*/
    background: rgba(0, 0, 0, 0.3);
    transition: all .5s ease-in-out; }
  #home #menuToggle .toggle-normal {
    font-size: 31px; }
    #home #menuToggle .toggle-normal i {
      font-size: 31px;
      padding: 4px;
      color: #1976D2; }
    #home #menuToggle .toggle-normal .top-bar {
      position: absolute;
      right: 0;
      top: -6px;
      transition: .8s; }
    #home #menuToggle .toggle-normal .middle-bar {
      position: absolute;
      right: 0;
      top: 0;
      opacity: 1;
      transition: .8s; }
    #home #menuToggle .toggle-normal .bottom-bar {
      position: absolute;
      right: 0;
      top: 6px;
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
      transition: .8s; }
  #home #menuToggle .top-transform {
    -webkit-transform: rotate(45deg) !important;
    transform: rotate(45deg) !important;
    -webkit-transform-origin: 34% 56%;
    transform-origin: 34% 56%; }
  #home #menuToggle .middle-transform {
    opacity: 0 !important; }
  #home #menuToggle .bottom-transform {
    -webkit-transform: rotate(-45deg) !important;
    transform: rotate(-45deg) !important;
    -webkit-transform-origin: 28% 43%;
    transform-origin: 28% 43%; }
#home .header-background {
  /*home background*/
  position: relative;
  display: block;
  width: 100%;
  height: 370px;
  background: url(../images/backgrounds/background.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed; }

/*-------------------------------------------------------------------------------
 V-CARD
-------------------------------------------------------------------------------*/
#v-card-holder {
  /*card holder*/
  overflow: visible;
  width: 100%;
  height: auto;
  margin-top: -194px; }
  #v-card-holder #v-card {
    /*v-card with fixed 400px height*/
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
    transition: height 1s, color 1s, margin 1s;
    z-index: 1;
    background: #06A763;
    margin: -33px 3px 0 0; }
    #v-card-holder #v-card .info-headings {
      /*basic infos*/
      max-width: 514px; }
      #v-card-holder #v-card .info-headings h4 {
        /*name*/
        display: block;
        width: 100%;
        font-weight: 900;
        color: #fff;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.29); }
      #v-card-holder #v-card .info-headings h6 {
        /*details*/
        display: block;
        width: 100%;
        font-weight: 300;
        margin-top: -10px;
        margin-bottom: 30px;
        font-size: 1.2em;
        color: #fff;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.29); }
    #v-card-holder #v-card .infos {
      /*detailed infos*/
      max-width: 515px;
      margin-top: 99px; }
      #v-card-holder #v-card .infos .profile-list {
        /*list*/ }
        #v-card-holder #v-card .infos .profile-list .title {
          /*info title*/
          display: block;
          float: left;
          color: #fff;
          line-height: 26px; }
          #v-card-holder #v-card .infos .profile-list .title i {
            /*matching icon*/
            font-size: 23px; }
          #v-card-holder #v-card .infos .profile-list .title .fa {
            /*for font awesome*/
            padding-left: 2px; }
        #v-card-holder #v-card .infos .profile-list .content {
          /*infos content*/
          display: block;
          margin-left: 30px;
          font-size: 15px;
          font-weight: 400;
          line-height: 20px;
          color: #fff; }
    #v-card-holder #v-card .links {
      /*social links*/
      max-width: 500px;
      margin-left: -12px;
      margin-top: 12px;
      height: 100%; }
      #v-card-holder #v-card .links .social {
        /*class*/
        margin-left: 12px;
        margin-bottom: 4px; }
        #v-card-holder #v-card .links .social i {
          /*icon*/
          font-size: 15px;
          vertical-align: middle;
          padding-bottom: 15px; }
      @media screen and (max-width: 400px) {
        #v-card-holder #v-card .links .social {
          /*making links responsive*/
          margin: 4px; } }
      @media screen and (max-width: 295px) {
        #v-card-holder #v-card .links .social {
          /*making links responsive*/
          margin: 1px; } }
    @media screen and (max-width: 990px) {
      #v-card-holder #v-card .infos {
        /*max width for infos*/
        max-width: 278px; }
      #v-card-holder #v-card .links {
        /*max width for links*/
        max-width: 325px; }
      #v-card-holder #v-card .info-headings {
        /*max width for headings*/
        max-width: 270px; } }
    #v-card-holder #v-card #profile {
      /*profile area*/
      position: absolute;
      right: 0;
      z-index: 1; }
      #v-card-holder #v-card #profile img {
        /*user image for 400x400px image*/
        width: 400px;
        height: auto; }
      #v-card-holder #v-card #profile .slant {
        /*slant*/
        top: 0;
        z-index: 1;
        position: absolute;
        border-style: solid;
        border-width: 400px 0 0 100px;
        border-color: rgba(223, 50, 50, 0) transparent transparent #06A763; }
      #v-card-holder #v-card #profile .add-btn {
        /*plus button*/
        position: absolute;
        background-color: #1976D2;
        top: 20%;
        right: 86%;
        overflow: hidden; }
        #v-card-holder #v-card #profile .add-btn i {
          /*icon*/
          font-size: 35px;
          color: #fff; }

@media screen and (max-width: 767px) {
  /*at max width 767*/
  #v-card-holder #v-card {
    /*v-card at max width 767*/
    position: relative;
    width: 100%;
    overflow: visible;
    z-index: 1;
    top: 34px; }
    #v-card-holder #v-card #profile {
      /*profile v-card at max width 767*/
      position: absolute;
      bottom: 85%;
      left: 0;
      width: 150px;
      height: auto;
      margin-right: auto;
      margin-left: auto;
      z-index: 1;
      background-color: transparent; }
      #v-card-holder #v-card #profile img {
        /*image at max width 767*/
        width: 150px;
        height: 150px;
        border-radius: 50%;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }
      #v-card-holder #v-card #profile .slant {
        /*hide slant*/
        display: none;
        opacity: 0;
        overflow: hidden; }
      #v-card-holder #v-card #profile .add-btn {
        /*hide add button*/
        display: none; }
    #v-card-holder #v-card .social {
      /*links styles at max width 767*/
      top: 0;
      margin-left: 5px;
      margin-bottom: 4px; }

  #v-card-holder #v-card .infos {
    /*infos at max width 767*/
    display: table;
    margin: 0 auto;
    max-width: 100%;
    padding: 0; }
  #v-card-holder #v-card .links {
    /*links at max width 767*/
    display: table;
    max-width: 100%;
    padding: 0;
    margin: 0 auto 9px; }
    #v-card-holder #v-card .links #first_one {
      /*first link at max width 767*/
      margin-left: 0; }
  #v-card-holder #v-card .info-headings {
    /*heading at max width 767*/
    max-width: 100%;
    text-align: center;
    margin-top: 38px; }
    #v-card-holder #v-card .info-headings h6 {
      margin-bottom: 20px; }
  #v-card-holder #v-card .card-content {
    /*content padding*/
    padding: 10px; } }
/*-------------------------------------------------------------------------------
 ABOUT
-------------------------------------------------------------------------------*/
/*about section*/
#about {
  /*profile about*/
  /* margin-top: 222px;*/
  transition: all 1s; }
  #about .about-btn {
    /*about buttons*/
    height: auto;
    margin-right: auto;
    margin-left: auto;
    animation-delay: 1s;
    text-align: center; }
    #about .about-btn .btn {
      /*button style*/
      margin: 7px 7px;
      background: #06A763;
      color: #fff;
      width: 180px;
      border-radius: 2px; }
      #about .about-btn .btn:hover {
        /*hover effect*/
        background: #05985a; }

/*-------------------------------------------------------------------------------
 TIMELINE SECTION BOTH 5.EDUCATION AND 7.EXPERIENCE EXTENDS FROM IT
-------------------------------------------------------------------------------*/
#timeline-education {
  /*education section*/
  position: relative; }
  #timeline-education:before {
    /*straight line*/
    content: '';
    position: absolute;
    top: 0;
    bottom: 23px;
    left: 50%;
    height: 99.5%;
    width: 4px;
    opacity: 0.3;
    background: #06A763; }

#timeline-experience {
  /*experience section*/
  position: relative; }
  #timeline-experience::before {
    /*straight line*/
    content: '';
    position: absolute;
    top: 0;
    bottom: 23px;
    left: 50%;
    height: 99.5%;
    width: 4px;
    opacity: 0.3;
    background: #06A763; }

.timeline-block {
  /*timeline block*/
  position: relative; }
  .timeline-block::after {
    /*timeline block after*/
    clear: both;
    content: "";
    display: table; }
  .timeline-block:first-child {
    margin-top: 0; }
  .timeline-block:last-child {
    margin-bottom: 0; }
  .timeline-block .card-content {
    /*content*/
    padding: 20px; }
    .timeline-block .card-content p {
      /*paragraph*/
      margin-top: 13px;
      text-align: left; }
    .timeline-block .card-content .modal-dot {
      outline: 0;
      font-size: 20px; }
      .timeline-block .card-content .modal-dot:hover, .timeline-block .card-content .modal-dot:focus {
        color: #12579b; }
  .timeline-block .timeline-dot {
    /*timeline dot*/
    background: #06A763;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    z-index: 2;
    color: #fff;
    text-align: center;
    position: absolute;
    top: 5px;
    right: 2%; }
    .timeline-block .timeline-dot i {
      /*dot icon*/
      text-align: center;
      font-size: 24px;
      margin-top: 26%;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.29); }
    .timeline-block .timeline-dot h6 {
      /*dot text*/
      padding: 0;
      font-size: 30px;
      font-weight: bold;
      margin-top: 8px;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.29); }
  .timeline-block .timeline-content {
    /*each timeline content*/
    position: relative;
    background: #fff;
    margin-right: 0;
    z-index: 1;
    margin-bottom: 5px;
    border-left: 5px solid #1976D2; }
    .timeline-block .timeline-content::before {
      /*horizontal line*/
      content: '';
      width: 58px;
      height: 4px;
      position: absolute;
      top: 26px;
      left: 100%;
      z-index: -2;
      opacity: 0.4;
      background: #06A763; }
    .timeline-block .timeline-content::after {
      /*horizontal line*/
      clear: both;
      content: "";
      display: table; }
    .timeline-block .timeline-content .timeline-title {
      /*timeline blocks title*/
      max-width: 84%;
      font-weight: normal; }
    .timeline-block .timeline-content .timeline-info {
      /*more details*/ }
      .timeline-block .timeline-content .timeline-info h6 {
        /*subject or institution*/
        line-height: 12px; }
        .timeline-block .timeline-content .timeline-info h6 small {
          /*time*/
          color: inherit; }
  @media screen and (max-width: 768px) {
    .timeline-block .timeline-content:before {
      /*horizontal line hide at screen size*/
      display: none; } }

@media only screen and (min-width: 768px) {
  /*properties for min width 768*/
  #timeline-education::before {
    /*vertical line for education in in min width 768 */
    left: 50%;
    margin-left: -2px;
    height: 77.1%;
    opacity: 0.4;
    background: #06A763; }

  #timeline-experience::before {
    /*vertical line for experience in min width 768 */
    left: 50%;
    margin-left: -2px;
    height: 69.1%;
    opacity: 0.4;
    background: #06A763; }

  .timeline-block {
    /*timeline block in min width 768*/
    margin: -5em 0; }
    .timeline-block .card {
      margin: 0; }
    .timeline-block .timeline-dot {
      /*timeline dot in min width 768*/
      width: 50px;
      height: 50px;
      left: 50%;
      top: 0;
      z-index: 2;
      margin-left: -24px;
      -webkit-transform: translateZ(0);
      -webkit-backface-visibility: hidden; }
    .timeline-block .timeline-content {
      /*timeline content in min width 768*/
      width: 44%; }
      .timeline-block .timeline-content .timeline-title {
        /*timeline title min width 768*/
        max-width: 100%; }
    .timeline-block:nth-child(even) .timeline-content {
      /*content to right*/
      float: right; }
    .timeline-block:nth-child(even) .timeline-content::before {
      /*horizontal line*/
      top: 25px;
      left: auto;
      right: 101.2%;
      z-index: -2; } }
/*-------------------------------------------------------------------------------
 SKILLS SECTION
-------------------------------------------------------------------------------*/
/*skills section*/
#skills .card {
  background: #06A763;
  /*skills title*/ }
  #skills .card .skills-title {
    /*skills title*/
    margin: 15px 0; }
    #skills .card .skills-title h6 {
      /*title style*/
      color: #fff;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.29); }
  #skills .card .skillbar {
    /*whole bar*/
    position: relative;
    display: block;
    margin-bottom: 17px;
    margin-top: 63px;
    width: 100%;
    padding: 0 0;
    background: #05985a;
    height: 4px;
    -webkit-transition: 0.4s linear;
    transition: 0.4s linear;
    -webkit-transition-property: width, background-color;
    transition-property: width, background-color; }
    #skills .card .skillbar .skillbar-title {
      /*skill bar title*/
      position: absolute;
      top: 0;
      left: 0;
      font-size: 1em; }
      #skills .card .skillbar .skillbar-title span {
        /*title*/
        display: block;
        padding: 3px 0;
        margin-top: -37px;
        line-height: 15px;
        width: 90%;
        color: #fff; }
    #skills .card .skillbar .skillbar-bar {
      /*skill bar*/
      height: 4px;
      width: 0;
      background: #fff; }
    #skills .card .skillbar .skill-bar-percent {
      /*skill percentage text*/
      position: absolute;
      right: 1px;
      top: -33px;
      font-size: .8em;
      line-height: 15px;
      color: #fff; }

/*-------------------------------------------------------------------------------
 PORTFOLIOS SECTION
-------------------------------------------------------------------------------*/
/*galleries section*/
#galleries #galleries-card {
  /*portfolio card*/
  overflow: hidden; }
  #galleries #galleries-card .nav-tabs {
    /*galleries tabs*/
    border-bottom: 0;
    text-align: center;
    margin-bottom: 10px; }
    #galleries #galleries-card .nav-tabs li {
      /*option list*/
      float: none;
      margin: 0;
      position: relative;
      display: inline-block; }
      #galleries #galleries-card .nav-tabs li a {
        /*links for options*/
        margin-right: 0;
        border: 0;
        color: #555555; }
  #galleries #galleries-card .nav-tabs > li.active > a, #galleries #galleries-card .nav-tabs > li.active > a:hover, #galleries #galleries-card .nav-tabs > li.active > a:focus {
    /*tabs style bootstrap*/
    border: 0;
    border-bottom: 5px solid #1976D2;
    background-color: transparent;
    /* outline: 0;*/ }
  #galleries #galleries-card .tab-content {
    /*galleries content*/
    margin: 0 10px; }
    #galleries #galleries-card .tab-content .grid figure figcaption, #galleries #galleries-card .tab-content .grid figure figcaption > a {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
    #galleries #galleries-card .tab-content figure.port-effect-up:hover figcaption::before, #galleries #galleries-card .tab-content figure.port-effect-up:hover p {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0); }
    @media screen and (max-width: 747px) {
      #galleries #galleries-card .tab-content .big {
        /*big tile width*/ } }
    @media (min-width: 992px) {
      #galleries #galleries-card .tab-content .big {
        width: 66.6%; } }
    #galleries #galleries-card .tab-content .grid {
      /*image girds*/
      position: relative;
      margin: 0 auto;
      padding: 5px 7px 7px 5px;
      list-style: none;
      text-align: center; }
      #galleries #galleries-card .tab-content .grid figure {
        /*portfolio overlay*/
        position: relative;
        float: left;
        margin: 0;
        width: 100%;
        background: transparent;
        text-align: center;
        cursor: pointer;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
        overflow: hidden !important;
        padding: 2px !important; }
        #galleries #galleries-card .tab-content .grid figure img {
          /*portfolio image*/
          position: relative;
          display: block;
          width: 100%;
          opacity: 0.8; }
        #galleries #galleries-card .tab-content .grid figure figcaption {
          /*image caption*/
          padding: 2em;
          color: #fff;
          text-transform: uppercase;
          font-size: 1.25em;
          -webkit-backface-visibility: hidden;
          backface-visibility: hidden; }
          #galleries #galleries-card .tab-content .grid figure figcaption > a {
            z-index: 1000;
            text-indent: 200%;
            white-space: nowrap;
            font-size: 0;
            opacity: 0; }
        #galleries #galleries-card .tab-content .grid figure figcaption::before {
          pointer-events: none; }
        #galleries #galleries-card .tab-content .grid figure figcaption::after {
          pointer-events: none; }
        #galleries #galleries-card .tab-content .grid figure h2 {
          /*portfolio caption header*/
          word-spacing: -0.15em;
          font-weight: 300;
          font-size: 18px;
          margin: 0; }
          #galleries #galleries-card .tab-content .grid figure h2 span {
            /*span tag inside  h2*/
            font-weight: 800; }
          #galleries #galleries-card .tab-content .grid figure h2 i {
            display: block;
            padding: 9px;
            margin-top: 24px;
            font-size: 48px; }
        #galleries #galleries-card .tab-content .grid figure p {
          /*portfolio paragraph small description*/
          margin: 0;
          letter-spacing: 1px;
          font-size: 56.5%; }
    @media screen and (min-width: 540px) and (max-width: 766px) {
      #galleries #galleries-card .tab-content .grid {
        /*max grid size in screen range*/
        max-width: 50%; } }
    #galleries #galleries-card .tab-content figure.port-effect-up {
      /*portfolio effect up*/ }
      #galleries #galleries-card .tab-content figure.port-effect-up figcaption::before {
        /*caption before*/
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.7);
        content: '';
        opacity: 0;
        -webkit-transform: translate3d(0, 50%, 0);
        transform: translate3d(0, 50%, 0);
        -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
        transition: opacity 0.35s, transform 0.35s; }
      #galleries #galleries-card .tab-content figure.port-effect-up h2 {
        /*portfolio caption header*/
        position: absolute;
        top: 55%;
        left: 0;
        width: 100%;
        color: rgba(72, 76, 97, 0.22);
        -webkit-transition: -webkit-transform 0.35s, color 0.35s;
        transition: transform 0.35s, color 0.35s;
        -webkit-transform: translate3d(0, -50%, 0);
        transform: translate3d(0, -50%, 0); }
      #galleries #galleries-card .tab-content figure.port-effect-up p {
        /*portfolio paragraph small description*/
        -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
        transition: opacity 0.35s, transform 0.35s;
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 2em;
        width: 100%;
        opacity: 0;
        -webkit-transform: translate3d(0, 10px, 0);
        transform: translate3d(0, 10px, 0);
        color: #fff; }
      #galleries #galleries-card .tab-content figure.port-effect-up:hover {
        /*hover effect*/ }
        #galleries #galleries-card .tab-content figure.port-effect-up:hover h2 {
          /*hover effect for portfolio header*/
          color: #1976D2;
          -webkit-transform: translate3d(0, -50%, 0) translate3d(0, -40px, 0);
          transform: translate3d(0, -50%, 0) translate3d(0, -40px, 0); }
    #galleries #galleries-card .tab-content figure.port-effect-scale {
      /*portfolio effect scale*/ }
      #galleries #galleries-card .tab-content figure.port-effect-scale img {
        -webkit-transition: opacity 0.60s, -webkit-transform 0.60s;
        transition: opacity 0.60s, transform 0.60s; }
      #galleries #galleries-card .tab-content figure.port-effect-scale figcaption {
        /*caption*/
        -webkit-transition: background-color 0.60s;
        transition: background-color 0.60s; }
        #galleries #galleries-card .tab-content figure.port-effect-scale figcaption::before {
          /*caption before*/
          background: rgba(0, 0, 0, 0.7);
          position: absolute;
          top: -1px;
          right: -1px;
          background: rgba(0, 0, 0, 0.7);
          bottom: -1px;
          left: -1px;
          content: '';
          opacity: 0;
          -webkit-transition: opacity 0.60s, -webkit-transform 0.60s;
          transition: opacity 0.60s, transform 0.60s; }
      #galleries #galleries-card .tab-content figure.port-effect-scale h2 {
        /*portfolio caption header*/
        position: absolute;
        top: 55%;
        left: 0;
        width: 100%;
        color: rgba(72, 76, 97, 0.22);
        -webkit-transition: -webkit-transform 0.35s, color 0.35s;
        transition: transform 0.35s, color 0.35s;
        -webkit-transform: translate3d(0, -50%, 0);
        transform: translate3d(0, -50%, 0); }
      #galleries #galleries-card .tab-content figure.port-effect-scale p {
        /*caption paragraph*/
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 2em;
        width: 100%;
        opacity: 0;
        color: #fff;
        -webkit-transition: opacity 0.60s, -webkit-transform 0.60s;
        transition: opacity 0.60s, transform 0.60s;
        -webkit-transform: scale(0);
        transform: scale(0); }
      #galleries #galleries-card .tab-content figure.port-effect-scale:hover {
        /*hover effect*/ }
        #galleries #galleries-card .tab-content figure.port-effect-scale:hover h2 {
          color: #1976D2;
          -webkit-transform: translate3d(0, -50%, 0) translate3d(0, -40px, 0);
          transform: translate3d(0, -50%, 0) translate3d(0, -40px, 0);
          opacity: 1; }
        #galleries #galleries-card .tab-content figure.port-effect-scale:hover figcaption::before {
          opacity: 1;
          background: rgba(0, 0, 0, 0.7); }
        #galleries #galleries-card .tab-content figure.port-effect-scale:hover p {
          opacity: 1;
          -webkit-transform: scale(1);
          transform: scale(1); }
        #galleries #galleries-card .tab-content figure.port-effect-scale:hover img {
          -webkit-transform: scale(1.2);
          transform: scale(1.2); }
#galleries .btn-large {
  color: #1976D2 !important;
  background: #f5f5f5 !important;
  margin-bottom: 10px !important; }
@keyframes InLeft {
  /*keyframe for slide in left*/
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible; }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
@-webkit-keyframes InLeft {
  /*keyframe for slide in left*/
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible; }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
#galleries .InLeft {
  /*animation slide in left*/
  -webkit-animation-name: InLeft;
  animation-name: InLeft;
  -webkit-animation-duration: .8s;
  animation-duration: .8s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }
@-webkit-keyframes InRight {
  /*keyframe for slide in right*/
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible; }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
@keyframes InRight {
  /*keyframe for slide in left*/
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible; }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
#galleries .InRight {
  /*animation slide in right*/
  -webkit-animation-name: InRight;
  animation-name: InRight;
  -webkit-animation-duration: .8s;
  animation-duration: .8s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

/*
-------------------------------------------------------------------------------
POPUP ANIMATIONS
-------------------------------------------------------------------------------
*/
/*====== Zoom effect ======*/
.mfp-zoom-in {
  /* start state */
  /* animate in */
  /* animate out */ }
  .mfp-zoom-in .mfp-with-anim {
    opacity: 0;
    transition: all 0.2s ease-in-out;
    transform: scale(0.8); }
  .mfp-zoom-in.mfp-bg {
    opacity: 0;
    transition: all 0.3s ease-out; }
  .mfp-zoom-in.mfp-ready .mfp-with-anim {
    opacity: 1;
    transform: scale(1); }
  .mfp-zoom-in.mfp-ready.mfp-bg {
    opacity: 0.8; }
  .mfp-zoom-in.mfp-removing .mfp-with-anim {
    transform: scale(0.8);
    opacity: 0; }
  .mfp-zoom-in.mfp-removing.mfp-bg {
    opacity: 0; }

/*====== Newspaper effect ======*/
.mfp-newspaper {
  /* start state */
  /* animate in */
  /* animate out */ }
  .mfp-newspaper .mfp-with-anim {
    opacity: 0;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.5s;
    transform: scale(0) rotate(500deg); }
  .mfp-newspaper.mfp-bg {
    opacity: 0;
    transition: all 0.5s; }
  .mfp-newspaper.mfp-ready .mfp-with-anim {
    opacity: 1;
    transform: scale(1) rotate(0deg); }
  .mfp-newspaper.mfp-ready.mfp-bg {
    opacity: 0.8; }
  .mfp-newspaper.mfp-removing .mfp-with-anim {
    transform: scale(0) rotate(500deg);
    opacity: 0; }
  .mfp-newspaper.mfp-removing.mfp-bg {
    opacity: 0; }

/*====== Move-horizontal effect ======*/
.mfp-move-horizontal {
  /* start state */
  /* animate in */
  /* animate out */ }
  .mfp-move-horizontal .mfp-with-anim {
    opacity: 0;
    transition: all 0.3s;
    transform: translateX(-50px); }
  .mfp-move-horizontal.mfp-bg {
    opacity: 0;
    transition: all 0.3s; }
  .mfp-move-horizontal.mfp-ready .mfp-with-anim {
    opacity: 1;
    transform: translateX(0); }
  .mfp-move-horizontal.mfp-ready.mfp-bg {
    opacity: 0.8; }
  .mfp-move-horizontal.mfp-removing .mfp-with-anim {
    transform: translateX(50px);
    opacity: 0; }
  .mfp-move-horizontal.mfp-removing.mfp-bg {
    opacity: 0; }

/*====== Move-from-top effect ======*/
.mfp-move-from-top {
  /* start state */
  /* animate in */
  /* animate out */ }
  .mfp-move-from-top .mfp-content {
    vertical-align: top; }
  .mfp-move-from-top .mfp-with-anim {
    opacity: 0;
    transition: all 0.2s;
    transform: translateY(-100px); }
  .mfp-move-from-top.mfp-bg {
    opacity: 0;
    transition: all 0.2s; }
  .mfp-move-from-top.mfp-ready .mfp-with-anim {
    opacity: 1;
    transform: translateY(0); }
  .mfp-move-from-top.mfp-ready.mfp-bg {
    opacity: 0.8; }
  .mfp-move-from-top.mfp-removing .mfp-with-anim {
    transform: translateY(-50px);
    opacity: 0; }
  .mfp-move-from-top.mfp-removing.mfp-bg {
    opacity: 0; }

/*====== 3d unfold ======*/
.mfp-3d-unfold {
  /* start state */
  /* animate in */
  /* animate out */ }
  .mfp-3d-unfold .mfp-content {
    perspective: 2000px; }
  .mfp-3d-unfold .mfp-with-anim {
    opacity: 0;
    transition: all 0.3s ease-in-out;
    transform-style: preserve-3d;
    transform: rotateY(-60deg); }
  .mfp-3d-unfold.mfp-bg {
    opacity: 0;
    transition: all 0.5s; }
  .mfp-3d-unfold.mfp-ready .mfp-with-anim {
    opacity: 1;
    transform: rotateY(0deg); }
  .mfp-3d-unfold.mfp-ready.mfp-bg {
    opacity: 0.8; }
  .mfp-3d-unfold.mfp-removing .mfp-with-anim {
    transform: rotateY(60deg);
    opacity: 0; }
  .mfp-3d-unfold.mfp-removing.mfp-bg {
    opacity: 0; }

/*====== Zoom-out effect ======*/
.mfp-zoom-out {
  /* start state */
  /* animate in */
  /* animate out */ }
  .mfp-zoom-out .mfp-with-anim {
    opacity: 0;
    transition: all 0.3s ease-in-out;
    transform: scale(1.3); }
  .mfp-zoom-out.mfp-bg {
    opacity: 0;
    transition: all 0.3s ease-out; }
  .mfp-zoom-out.mfp-ready .mfp-with-anim {
    opacity: 1;
    transform: scale(1); }
  .mfp-zoom-out.mfp-ready.mfp-bg {
    opacity: 0.8; }
  .mfp-zoom-out.mfp-removing .mfp-with-anim {
    transform: scale(1.3);
    opacity: 0; }
  .mfp-zoom-out.mfp-removing.mfp-bg {
    opacity: 0; }

/*====== "Hinge" close effect =====*/
@keyframes hinge {
  0% {
    transform: rotate(0deg);
    transform-origin: top left;
    animation-timing-function: ease-in-out; }
  20%, 60% {
    transform: rotate(80deg);
    transform-origin: top left;
    animation-timing-function: ease-in-out; }
  40% {
    transform: rotate(60deg);
    transform-origin: top left;
    animation-timing-function: ease-in-out; }
  80% {
    transform: rotate(60deg) translateY(0);
    opacity: 1;
    transform-origin: top left;
    animation-timing-function: ease-in-out; }
  100% {
    transform: translateY(700px);
    opacity: 0; } }
.hinge {
  animation-duration: 1s;
  animation-name: hinge; }

.mfp-with-fade .mfp-content, .mfp-with-fade.mfp-bg {
  opacity: 0;
  transition: opacity .5s ease-out; }
.mfp-with-fade.mfp-ready .mfp-content {
  opacity: 1; }
.mfp-with-fade.mfp-ready.mfp-bg {
  opacity: 0.8; }
.mfp-with-fade.mfp-removing.mfp-bg {
  opacity: 0; }

/* overlay at start */
.mfp-fade.mfp-bg {
  opacity: 0;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out; }

/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8; }

/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0; }

/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out; }

/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1; }

/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0; }

/*-------------------------------------------------------------------------------
 INTEREST SECTION
-------------------------------------------------------------------------------*/
/*interest section*/
#interest .card {
  /*interest card class*/
  padding: 0; }
  #interest .card .card-content {
    /*interest cards content*/
    border-bottom: 1px solid rgba(160, 160, 160, 0.2); }
  #interest .card .row.no-gutters {
    /*row gutter remove*/
    margin-right: 0;
    margin-left: 0; }
    #interest .card .row.no-gutters > [class^="col-"], #interest .card .row.no-gutters > [class*=" col-"] {
      padding-right: 0;
      padding-left: 0; }
  #interest .card .box {
    /*fixing the height for icons*/
    height: 105px; }
    #interest .card .box .interest-icon {
      /*interest icon*/
      display: block;
      color: #fff;
      background: #06A763;
      height: 105px; }
      #interest .card .box .interest-icon i {
        /*icon*/
        font-size: 2.2em;
        margin-top: 29px; }
      #interest .card .box .interest-icon span {
        /*icon name*/
        display: block; }
    #interest .card .box .interest-icon-even {
      /*interest icon even*/
      display: block;
      color: #06A763;
      height: 105px;
      margin-right: -1px; }
      #interest .card .box .interest-icon-even i {
        /*icon*/
        font-size: 2.2em;
        margin-top: 29px; }
      #interest .card .box .interest-icon-even span {
        /*icon name*/
        display: block; }
  @media screen and (min-width: 540px) and (max-width: 766px) {
    #interest .card .box {
      /*setting max width to screen range*/
      max-width: 33.33333333%; } }

/*-------------------------------------------------------------------------------
 TESTIMONIALS SECTION
-------------------------------------------------------------------------------*/
/*testimonials section*/
#testimonials #testimonials-card {
  background: #06A763; }
  #testimonials #testimonials-card .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    border-radius: 0;
    border: 2px solid #1976D2; }
  #testimonials #testimonials-card .swiper-pagination .swiper-pagination-bullet-active {
    background: #1976D2;
    opacity: 1; }
  #testimonials #testimonials-card .client-img {
    /*image class*/
    margin-bottom: -45px;
    margin-top: 10px;
    position: inherit;
    z-index: 2; }
    #testimonials #testimonials-card .client-img img {
      /*clint image*/
      height: 130px;
      width: 130px;
      border-radius: 50%;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }
  #testimonials #testimonials-card blockquote {
    /*quote*/
    padding-top: 66px;
    text-align: center;
    padding-bottom: 20px;
    font-size: 15px;
    color: #fff;
    border-left: none; }
    #testimonials #testimonials-card blockquote::before {
      /*quote sign*/
      content: "\201C";
      font-family: Georgia, serif;
      font-weight: bold;
      color: #1976D2;
      font-size: 2em;
      line-height: .1em;
      margin-right: 0;
      vertical-align: -0.3em; }
  #testimonials #testimonials-card blockquote cite {
    display: block;
    margin: 15px 0 0 0;
    font-style: normal; }
#testimonials #clients {
  /*clients logo slider*/
  margin-top: 20px;
  display: block; }
  #testimonials #clients .clients-wrap {
    /*warp class*/
    display: block;
    overflow: hidden;
    padding: 10px 0 0;
    margin-top: -12px; }
    #testimonials #clients .clients-wrap ul {
      display: block;
      list-style: none;
      position: relative; }
      #testimonials #clients .clients-wrap ul li {
        /*logo list*/
        display: block;
        float: left;
        position: relative;
        width: 140px;
        height: 55px;
        line-height: 55px;
        text-align: center; }
        #testimonials #clients .clients-wrap ul li img {
          /*client logos*/
          vertical-align: middle;
          max-width: 100%;
          max-height: 100%;
          -webkit-transition: all 0.3s linear;
          transition: all 0.3s linear;
          -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";
          filter: alpha(opacity=65);
          opacity: 0.65; }
        #testimonials #clients .clients-wrap ul li img:hover {
          /*logo hover effect*/
          -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
          filter: alpha(opacity=100);
          opacity: 1.0; }

/*-------------------------------------------------------------------------------
 PRICING SECTION
-------------------------------------------------------------------------------*/
/*pricing section*/
#pricing-table .card {
  /*pricing card class*/
  padding: 0;
  transition: 0.5s;
  margin-bottom: 8px; }
  #pricing-table .card:hover {
    /*hover effect*/
    transform: scale(1.03);
    -webkit-transform: scale(1.03);
    box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.16), 0 10px 15px 0 rgba(0, 0, 0, 0.12); }
  #pricing-table .card .pricing-top {
    /*pricing details*/
    width: 100%;
    background: #06A763;
    color: #fff;
    padding: 30px 0 40px 0;
    text-align: center; }
    #pricing-table .card .pricing-top p {
      /*pricing headings*/
      margin-bottom: 40px;
      font-size: 20px;
      color: #fff; }
      #pricing-table .card .pricing-top p em {
        font-size: 54px;
        font-style: normal; }
      #pricing-table .card .pricing-top p sup {
        font-size: 30px; }
    #pricing-table .card .pricing-top span {
      font-size: 14px;
      text-transform: uppercase;
      border: 2px solid #fff;
      padding: 5px 10px; }
  #pricing-table .card .pricing-bottom {
    /*pricing bottom*/
    margin: 15px 0; }
    #pricing-table .card .pricing-bottom ul li {
      /*pricing package details*/
      list-style: none;
      padding: 0 15px;
      margin: 0 auto;
      line-height: 1.7; }
  #pricing-table .card .btn {
    /*purchase button*/
    background: #06A763;
    margin-bottom: 5px;
    color: #fff;
    border-radius: 2px; }
    #pricing-table .card .btn:hover {
      /*button hover effect*/
      background: #05985a; }

/*-------------------------------------------------------------------------------
 BLOG SECTION
-------------------------------------------------------------------------------*/
/*blog section*/
#blog .blog {
  /*blog class*/
  position: relative;
  height: 21em; }
  #blog .blog:after {
    clear: both;
    content: '';
    display: block; }
  #blog .blog:before {
    background: blue;
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle; }
  #blog .blog .content {
    /*blog content*/
    display: inline-block;
    padding: 40px;
    vertical-align: middle;
    width: 49.3%; }
    #blog .blog .content:last-child {
      margin: 0 2px 0 -2px; }
    #blog .blog .content h6 {
      /*blog header*/
      margin-bottom: 0.5em;
      margin-top: 1em;
      text-transform: uppercase; }
    #blog .blog .content .breadcrumb {
      padding: 0;
      background: none;
      font-size: 15px; }
    #blog .blog .content a {
      /*read more link*/
      border-bottom: 1px solid gainsboro; }
  #blog .blog .image {
    /*blog image*/
    display: inline-block;
    height: 100%;
    width: 50%;
    overflow: hidden;
    position: relative; }
    #blog .blog .image:hover .image-overlay {
      /*overlay effect*/
      opacity: 1;
      z-index: 22; }
    #blog .blog .image:hover img {
      /*image hover*/
      transform: scale(1.05);
      -webkit-transform: scale(1.05); }
    #blog .blog .image:hover .comments {
      /*image hover*/
      bottom: 0; }
    #blog .blog .image img {
      /*blog image*/
      display: block;
      height: 100%;
      width: 100%;
      position: absolute;
      z-index: 1;
      transition: .5s;
      -webkit-transition: 0.5s; }
  #blog .blog .image-overlay {
    /*blog image overlay*/
    position: absolute;
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: .5s; }
    #blog .blog .image-overlay .comments {
      font-size: 13px;
      padding: 0 12px 8px 14px;
      position: absolute;
      right: 0;
      bottom: -20%;
      z-index: 3;
      color: #fff;
      transition: .5s; }
      #blog .blog .image-overlay .comments i {
        margin-left: 6px; }
#blog .odd {
  /*blog odd property*/
  text-align: left; }
  #blog .odd .image {
    float: left; }
    #blog .odd .image img {
      right: 0;
      top: 0; }
#blog .even {
  /*blog even property*/
  text-align: right; }
  #blog .even .image {
    float: right; }
    #blog .even .image img {
      left: 0;
      top: 0; }
@media screen and (max-width: 768px) {
  #blog .blog {
    /*blog class*/
    display: block;
    height: auto; }
    #blog .blog:last-child {
      margin-bottom: 0; }
    #blog .blog .image {
      /*image*/
      height: 20em;
      width: 100%; }
    #blog .blog .content {
      /*blog content*/
      text-align: center;
      width: 100%; } }

/*-------------------------------------------------------------------------------
 CONTACT SECTION
-------------------------------------------------------------------------------*/
/*contact section*/
#contact .card .card-content {
  /*form content*/ }
  #contact .card .card-content .input-field {
    /*input field*/
    position: relative;
    margin-top: 1rem;
    margin-bottom: 12px; }
    #contact .card .card-content .input-field label {
      /*input label*/
      left: 0;
      font-weight: normal;
      top: 0.5rem; }
  #contact .card .card-content .btn {
    /*send button*/
    background-color: #06A763;
    width: 115px;
    color: #fff;
    border-radius: 2px;
    margin-top: 7px; }
    #contact .card .card-content .btn:hover {
      /*hover effect*/
      background: #05985a; }
  #contact .card .card-content .thankyou {
    text-align: center; }
#contact .card .progress {
  /*progress bar*/
  position: relative;
  height: 4px;
  display: block;
  width: 100%;
  background-color: #1976D2;
  border-radius: 0;
  margin: -4px 0 0; }
#contact .card .indeterminate {
  background-color: #fff; }
#contact #myMap {
  /*google map*/
  width: 100%;
  height: 417px; }
  #contact #myMap .map-label {
    /*map label*/
    width: 36px;
    height: 36px;
    border-radius: 50% 50% 50% 0;
    background: #1976D2;
    position: absolute;
    -webkit-transform: rotate(-45deg) !important;
    transform: rotate(-45deg) !important;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15); }
@-moz-document url-prefix() {
  #contact {
    /*for firefox*/ }
    #contact #myMap {
      /*google map*/
      height: 412px; } }
@media screen and (max-width: 480px) {
  #contact #myMap {
    /*map*/
    height: 300px; } }
#contact input:not([type]):focus:not([readonly]) + label, #contact input[type=text]:focus:not([readonly]) + label, #contact input[type=password]:focus:not([readonly]) + label, #contact input[type=email]:focus:not([readonly]) + label, #contact input[type=url]:focus:not([readonly]) + label, #contact input[type=time]:focus:not([readonly]) + label, #contact input[type=date]:focus:not([readonly]) + label, #contact input[type=datetime-local]:focus:not([readonly]) + label, #contact input[type=tel]:focus:not([readonly]) + label, #contact input[type=number]:focus:not([readonly]) + label, #contact input[type=search]:focus:not([readonly]) + label, #contact textarea.materialize-textarea:focus:not([readonly]) + label {
  /*materialize form*/
  color: #1976D2; }
#contact input:not([type]):focus:not([readonly]), #contact input[type=text]:focus:not([readonly]), #contact input[type=password]:focus:not([readonly]), #contact input[type=email]:focus:not([readonly]), #contact input[type=url]:focus:not([readonly]), #contact input[type=time]:focus:not([readonly]), #contact input[type=date]:focus:not([readonly]), #contact input[type=datetime-local]:focus:not([readonly]), #contact input[type=tel]:focus:not([readonly]), #contact input[type=number]:focus:not([readonly]), #contact input[type=search]:focus:not([readonly]), #contact textarea.materialize-textarea:focus:not([readonly]) {
  /*materialize form*/
  border-bottom: 1px solid #1976D2;
  box-shadow: 0 1px 0 0 #1976D2; }
#contact input:not([type]), #contact input[type=text], #contact input[type=password], #contact input[type=email], #contact input[type=url], #contact input[type=time], #contact input[type=date], #contact input[type=datetime-local], #contact input[type=tel], #contact input[type=number], #contact input[type=search], #contact textarea.materialize-textarea {
  /*materialize form*/
  background-color: transparent;
  border: none;
  border-bottom: 1px solid gainsboro;
  border-radius: 0;
  outline: none;
  height: 2rem;
  width: 100%;
  font-size: 1rem;
  margin: 6px 0 6px 0;
  padding: 0;
  box-shadow: none;
  box-sizing: content-box;
  transition: all .5s; }
#contact textarea.materialize-textarea {
  /*message field*/
  overflow-y: hidden;
  resize: none;
  min-height: 5rem; }

/*-------------------------------------------------------------------------------
 SCROLL TO TOP SECTION
-------------------------------------------------------------------------------*/
/*scroll to top button*/
#scrollup {
  color: #fff;
  height: 45px;
  width: 45px;
  cursor: pointer;
  font-size: 28px;
  background: #1976D2;
  border: 1px solid #1976D2;
  text-align: center;
  position: fixed;
  bottom: 21px;
  right: 18px;
  z-index: 5;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  display: none;
  transition: .3s; }

/*-------------------------------------------------------------------------------
 FOOTER SECTION
-------------------------------------------------------------------------------*/
/*footer section*/
footer {
  width: 100%;
  height: auto;
  color: #fff;
  margin-top: -18px;
  margin-bottom: 9px; }

/*-------------------------------------------------------------------------------
 SINGLE PAGE
-------------------------------------------------------------------------------*/
/*back to home button*/
.back-button {
  height: 45px;
  width: 45px;
  cursor: pointer;
  font-size: 28px;
  background: #1976D2;
  border: 1px solid #1976D2;
  text-align: center;
  position: fixed;
  top: 21px;
  left: 18px;
  z-index: 8;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  transition: .3s; }
  .back-button i {
    color: #fff;
    padding-right: 3px;
    padding-top: 8px; }

.single-background {
  /*single background*/
  position: relative;
  display: block;
  width: 100%;
  height: 370px;
  background: url(../images/backgrounds/background.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed; }

/*single page content*/
.single-page {
  margin-top: -320px; }
  .single-page .section-title {
    /*section title*/
    position: relative;
    color: #fff; }
    .single-page .section-title i {
      color: #06A763;
      padding: 12px; }
    .single-page .section-title img {
      width: 66px;
      padding: 10px;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
      margin: -2px 12px 12px 12px; }
  .single-page aside {
    /*side widget*/
    margin-top: -9px; }
  .single-page .post {
    /*post*/
    position: relative;
    background: #fff; }
    .single-page .post .post-image {
      /*post image*/
      height: auto; }
      .single-page .post .post-image img {
        max-width: 100%; }
      .single-page .post .post-image .swiper-container {
        background: black; }
        .single-page .post .post-image .swiper-container .swiper-pagination {
          /*swiper pagination properties*/ }
          .single-page .post .post-image .swiper-container .swiper-pagination .swiper-pagination-bullet {
            width: 12px;
            height: 12px;
            border-radius: 0;
            border: 2px solid #1976D2; }
          .single-page .post .post-image .swiper-container .swiper-pagination .swiper-pagination-bullet-active {
            background: #1976D2;
            opacity: 1; }
    .single-page .post header {
      /*headings*/
      padding: 20px;
      background: #06A763;
      color: #fff; }
      .single-page .post header h3 {
        margin: 0 0 15px;
        padding: 0 0 15px; }
      .single-page .post header time {
        font-size: 14px;
        float: right;
        margin-top: 10px; }
      .single-page .post header h1 {
        margin: 0 0 15px;
        font-size: 24px; }
      .single-page .post header hr {
        border-top: 3px solid #fff; }
      .single-page .post header .post-details {
        /*post related details*/
        font-size: 12px;
        width: 90%; }
    .single-page .post .post-body {
      /*post body*/
      padding: 20px; }
      .single-page .post .post-body .client-info {
        border-left: 4px solid #1976D2;
        padding: 0 0 0 6px; }
        .single-page .post .post-body .client-info p {
          margin: 0; }
  .single-page .disqus-comment {
    /*disqus comment*/
    padding: 20px; }
  .single-page .widget-holder {
    /*side widget stuffs*/ }
    .single-page .widget-holder h4 {
      background: #06A763;
      color: #fff;
      font-size: 24px;
      padding: 15px; }
    .single-page .widget-holder .widget {
      padding: 20px; }
      .single-page .widget-holder .widget .Media {
        /*media object for recent post*/
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;
        margin-bottom: 1em;
        padding: 5px;
        transition: box-shadow .5s;
        box-shadow: none;
        cursor: pointer; }
        .single-page .widget-holder .widget .Media .Media-figure {
          margin-right: 1em;
          width: 75px;
          border-radius: 50%; }
        .single-page .widget-holder .widget .Media .Media-body {
          -webkit-box-flex: 1;
          -webkit-flex: 1;
          -ms-flex: 1;
          flex: 1; }
          .single-page .widget-holder .widget .Media .Media-body .Media-title {
            margin: 0 0 .5em;
            font-size: 18px; }
          .single-page .widget-holder .widget .Media .Media-body:last-child {
            margin-bottom: 0; }
        .single-page .widget-holder .widget .Media:hover {
          box-shadow: inset -3px -3px 0px 1px #1976D2; }
      .single-page .widget-holder .widget .categories li {
        display: inline; }
      .single-page .widget-holder .widget hr {
        margin-top: 0;
        margin-bottom: 18px; }
      .single-page .widget-holder .widget .chip {
        /*chip for tags*/
        margin: 5px;
        background-color: #1976D2;
        color: #fff; }
  .single-page .chip {
    /*chip for tags*/
    margin: 5px;
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff; }
  .single-page .chip:first-child {
    margin-left: 0; }
  .single-page .project-detail p {
    color: #fff; }
    .single-page .project-detail p strong {
      padding: 12px; }
  .single-page a {
    color: #fff; }

hr {
  border-top: 1px solid #fff; }

.single-footer {
  margin: 0; }

/*# sourceMappingURL=style.css.map */
#knowledge_15 .skillbar-title span {
   display: block;
   padding: 3px 0;
   margin-top: 10px;
   line-height: 15px;
   color: #fff;
 }
#knowledge_15 .skillbar-title i {
  margin-right: 9px;
}
