@media screen and (min-width: 768px) {
    .w-md-auto {
        width: auto !important;
    }
}

@media screen and (max-width: 1499.98px) {
    .sc-search {

        &__submit {
            width: 150px;
            @include setTextStyle(16px, 19px, 500);

            &:hover {
                width: 170px;


                &:before {
                    font-size: 16px;
                }
            }
        }
    }

    .sc-filter {
        padding-left: 10px;
    }

    .sc-cv {

        &__list {
            overflow-y: auto;
        }

        &__item {
            padding: 15px 10px 8px 20px;

            .item {

                &-left {
                    padding-right: 20px;
                    padding-top: 8px;
                }

                &-job {
                    @include setTextStyle(14px, 16px, normal);
                    margin-bottom: 8px;
                }

                &-moreinfo {
                    @extend %default-text;
                    @include setTextStyle(14px, 16px, normal);
                    margin-bottom: 4px;
                }

                &-exyear {
                    @include setTextStyle(14px, 16px, 500);
                    margin-left: 0;
                }

                &-location {
                    @include setTextStyle(14px, 16px, normal);
                    margin-left: 0;
                }

                &-bookmark {
                    left: 10px;
                }
            }
        }
    }

    .sc-detail {

        &__ava {
            margin-right: 30px;
            margin-left: 30px;
        }

        &__moreinfo {
            @include setTextStyle(14px, 16px, normal);
        }

        &__exyear {
            @include setTextStyle(14px, 16px, 500);
        }

        &__location {
            @include setTextStyle(14px, 16px, normal);
        }

        &__option {
            padding-right: 0;

            &--short, &--long {
                @include setTextStyle(14px, 16px, normal);
                margin: 4px 5px;

                img {
                    position: relative;
                    transform: scale(.8);
                    margin-right: 4px;
                }
            }

            &--short {
                width: 110px;
            }

            &--long {
                width: 130px;
            }
        }

        &__view {
            padding-top: 25px;
        }

        &__viewhideinfo, &__opennewtab {
            @include setTextStyle(14px, 16px, normal);
            height: 32px;

            img {
                position: relative;
                transform: scale(.8);
                margin-right: 4px;
            }
        }

        &__opennewtab {
            @include setTextStyle(14px, 16px, normal);
        }

        &__lastupdate {
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            .lastupdate-date {
                color: $color_black;
                margin-right: 2px;
            }
        }
    }

    .sc-cvopen {
        padding: 15px 30px;

        &__title {
            @include setTextStyle(14px, 16px, 500);
            margin-bottom: 15px;

            i {
                font-size: 18px;
                margin-right: 8px;
            }
        }

        &__item {
            @include setTextStyle(14px, 16px, normal);
            margin-bottom: 5px;
            padding-left: 29px;

            i {
                width: 18px;
            }
        }
    }
}

@media screen and (max-width: 1199.98px) {
    .sc-search {

        &__submit {
            width: 120px;
            @include setTextStyle(16px, 19px, 500);

            &:hover {
                width: 130px;


                &:before {
                    font-size: 16px;
                }
            }
        }

        &__dropdown {

            .sc-search__input {
                line-height: 16px;
                white-space: normal;
                word-break: break-word;
                width: 100px;

                i {
                    margin-left: 1px;
                }
            }
        }
    }

    .sc-cv {

        &__list {
            overflow-y: auto;
        }
    }

    .sc-detail {

        &__info {
            padding: 15px 10px 15px 5px;
        }

        &__ava {

            width: 80px;
            min-width: 80px;
            height: 80px;
            margin-right: 15px;
            margin-left: 15px;
        }

        &__name {
            @include setTextStyle(16px, 19px, 500);
            margin-bottom: 3px;
        }

        &__job {
            @include setTextStyle(14px, 16px, normal);
            margin-bottom: 10px;
        }

        &__moreinfo {
            @include setTextStyle(14px, 16px, normal);
        }

        &__option {
            &--short {
                width: 90px;
            }

            &--long {
                width: 120px;
            }
        }

        &__view {
            padding-top: 15px;
        }

        &__viewhideinfo, &__opennewtab {

            img {
                margin-right: 3px;
            }
        }

        &__opennewtab {
            @include setTextStyle(14px, 16px, normal);
        }

        &__lastupdate {
            flex-direction: row;
            margin-top: 7px;
            text-align: right;
            padding-right: 0;
        }
    }
}

@media screen and (max-width: 991.98px) {

    .mobile-hidden {
        display: none!important;
    }

    .emp-box {
        margin-top: 25px;
    }

    .sc-header {

        &__right {
            min-height: 48px;
        }
    }

    .sc-search {

        &__label {
            padding-right: 15px;
        }

        &__input {
            width: 100%;
            height: 48px;
            border: none;
            box-shadow: none;
            background: $searchcv_border_4;
            border-radius: 4px;
            @include setTextStyleColor(14px, 22px, normal, $color_big_title);

            &:focus {
                &::placeholder {
                    color: $searchcv_border_4;
                }
            }
        }

        &__icon {
            position: absolute;
            top: 50%;
            right: 25px;
            transform: translateY(-50%);
            color: $searchcv_dropdown_text;
        }

        .search-mobile {
            &__hidden {
                display: none;
            }
        }

        &.mobile-show {

            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: auto;
            min-height: 100%;
            z-index: 10;
            background-color: $color_white;
            overflow: auto;
            animation: zoom-in-fast .3s both;

            .search-mobile {
                &__hidden {
                    display: unset;
                }

                &__close {
                    width: 40px;
                    height: 40px;
                    padding: 0;
                    font-size: 18px;
                    border: none;
                    background-color: transparent;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-bottom: 10px;
                }

                &__row {
                    margin-bottom: 15px;
                }
            }

            .sc-search {

                &__form {
                    padding-top: 70px;
                    padding-bottom: 70px;
                    padding-left: 15px;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                }

                &__submit {
                    position: absolute;
                    bottom: 10px;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 95vw;
                    transition: .2s;
                }
            }
        }
    }

    .sc-body {
        height: auto;

        &__left {
            border-right: none;
        }
    }

    .sc-cv {
        min-height: 100vh;
    }

    .sc-backlist {
        border-bottom: 1px solid $searchcv_border_5;
        &__button {
            background: none;
            border: none;
            color: $color_gray;
            height: 55px;
            width: 100%;
            padding: 0;
            display: flex;
            align-items: center;

            i {
                width: 55px;
                text-align: center;
            }
        }


        &__searchtext {
            @include setTextStyleColor(14px, 16px, normal, $color_gray);
            padding-top: 2px;
        }
    }

    .select2-container--default {
        .searchcv-select2 {
            &-selection {
                height: 48px;
                border-radius: 4px;
                transition: .2s;
                border: none;
                background: $searchcv_border_4;
            }
        }
    }

    .view-detail-cv {
        &__padding {
            padding: 0 10px;
        }
    }

    .module-mobile {
        &__list {

        }

        &__detail {

        }

        &__hidden {
            display: none!important;
        }
    }
}

@media screen and (max-width: 767.98px) {

    .px-mobile-0 {
        padding-right: 0!important;
        padding-left: 0!important;
    }

    .m-mobile-0 {
        margin: 0 !important;
    }

    .sc-header {
        &__right {
            padding-left: 15px;
        }
    }

    .sc-search {

        &__input {
            width: 100%;
            height: 48px;
            border: none;
            box-shadow: none;
            background: $searchcv_border_4;
            border-radius: 4px;
            @include setTextStyleColor(14px, 22px, normal, $color_big_title);

            &:focus {
                &::placeholder {
                    color: $searchcv_border_4;
                }
            }
        }

        &__icon {
            position: absolute;
            top: 50%;
            right: 25px;
            transform: translateY(-50%);
            color: $searchcv_dropdown_text;
        }

        .search-mobile {
            &__hidden {
                display: none;
            }
        }

        &.mobile-show {

            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: auto;
            min-height: 100%;
            z-index: 10;
            background-color: $color_white;
            transition: all .3s;
            overflow: auto;

            .search-mobile {
            }

            .sc-search {

                &__form {
                    padding-top: 70px;
                    padding-bottom: 70px;
                    padding-left: 15px;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                }

                &__label {
                    margin-bottom: 10px;
                }

                &__submit {
                    position: absolute;
                    bottom: 10px;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 95vw;
                    transition: .2s;
                }
            }
        }
    }

    .sc-detail {
        &__viewhideinfo, &__opennewtab {
            flex: 1;
        }
    }

    .select2-container--default {
        .searchcv-select2-selection {
            width: calc(100vw - 30px);
        }

        .diadiem {
            width: calc(100vw - 30px) !important;
        }
    }
}

@media screen and (max-width: 575.98px) {
    .emp-box {
        border-left: none;
        border-right: none;
    }
}