%dropdown_style_1 {
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 0;
    background-color: $color_white;
    box-shadow: $searchcv_dropdown_boxshadow;
}

%dropdown_style_2 {
    margin: 0;
    padding: 0;
    border: none;
    border-top-left-radius: 3px !important;
    border-top-right-radius: 3px !important;
    overflow: hidden;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: $color_white;
    box-shadow: 0 3px 5px rgba(9, 30, 66, 0.2), 0 0 1px rgba(9, 30, 66, 0.31);
}

%bookmark_style {
    padding: 0;
    border: none;
    background-color: transparent;
    display: flex;

    .fill {
        display: none;
    }

    &.bookmarked {
        .empty {
            display: none;
        }

        .fill {
            display: initial;
        }
    }
}

html, body {
    overflow-y: auto;
}

.emp-box {
    margin-top: 43px;
    background-color: $color_white;
    border: 0.5px solid $searchcv_border_1;
}

.sc-header {
    border-bottom: 1px solid $searchcv_border_2;

    &__left {
    }

    &__right {
        margin: 12px 0 8px 0;
    }
}

.sc-title {
    padding: 0 5px;
    display: flex;
    align-items: center;
    width: 100%;

    &__image {
        margin-right: 13px;
        position: relative;
        top: -1px;
    }

    &__text {
        @include setTextStyleColor(18px, 21px, 500, $color_big_title);
    }
}

.sc-search {

    &__form {
    }

    &__label {
        margin-bottom: 0;
        padding-right: 11px;
    }

    &__input, &__submit {
        width: 100%;
        height: 48px;
        padding: 0 12px;
        border: 1px solid $searchcv_border_input;
        border-radius: 0;
        white-space: nowrap;
        box-shadow: none;
        background-color: $color_white;
        @include setTextStyleColor(14px, 22px, normal, $color_big_title);

        &::placeholder {
            color: $searchcv_input_placeholder;
            transition: all .2s;
        }

        &:focus {

            &::placeholder {
                color: $color_white;
            }
        }
    }

    &__submit {
        position: relative;
        width: 220px;
        border: none;
        background-color: transparent;
        background-image: $searchcv_search_button;
        @include setTextStyleColor(18px, 24px, 500, $color_white);
        overflow: hidden;
        transition: all .3s;
        display: flex;
        align-items: center;
        justify-content: center;

        &:before {
            content: '\f002';
            font-family: "Font Awesome 5 Free", Roboto, Arial, Helvetica, sans-serif;
            font-weight: 900;
            position: relative;
            right: 100%;
            transition: all .3s;
            font-size: 0;
            padding-right: 0;
        }

        &:hover {
            width: 250px;


            &:before {
                right: 0;
                font-size: 18px;
                padding-right: 10px;
            }
        }

        &:active {
            transition: .1s;
            transform: scale(0.95);
        }
    }

    &__gray-input {
        height: 34px;
        border: none;
        background-color: #F6F6F6;
        border-radius: 4px;
        transition: 0.2s;
        @include setTextStyleColor(14px, 16px, normal, $color_big_title);
        padding: 0 35px 0 12px;

        &:hover {
            background-color: $searchcv_border_5;
        }

        i {
            margin-left: 5px;
            font-size: 16px;
        }

        &:before {
            position: absolute;
            right: 12px;
            content: '\f0d7';
            font-family: "Font Awesome 5 Free", "Roboto", Arial, Helvetica, sans-serif;
            font-weight: 900;
            font-size: 16px;
            transition: all .1s;
        }
    }

    &__dropdown {

        .sc-search__input {
            transition: all .2s;
            padding: 0 10px;
            text-align: center;

            i {
                font-size: 12px;
                margin-left: 10px;
            }
        }

        .dropdown-menu {
            @extend %dropdown_style_1;
            width: 211px;
            padding: 23px 20px;
        }

        &.show {
            .sc-search__gray-input {
                background-color: $color_big_title;
                color: $color_white;

                &:before {
                    transform: rotateX(180deg);
                }
            }
        }
    }

    &__time {
        @include setTextStyleColor(14px, 16px, normal, $searchcv_dropdown_text);

        &-input {
            position: relative;
            width: 72px;
            height: 32px;
            border: 1px solid #D9D9D9;
            border-radius: 2px;
            padding: 0 5px;
            @include setTextStyleColor(14px, 16px, normal, $color_big_title);
            transition: all .2s;

            &:focus {
                transform: scale(1.05);
            }
        }

        &-submit, &-reset {
            position: relative;
            height: 32px;
            padding: 0 12px;
            background-color: $searchcv_button_red;
            border-radius: 4px;
            border: none;
            @include setTextStyleColor(14px, 16px, normal, $color_white);
            transition: all .1s;

            &:focus {
                transform: scale(0.95);
            }
        }

        &-reset {
            background-color: $searchcv_gray_input_focus;
            color: $color_big_title;
        }
    }
}

.sc-body {

    &__left {
        border-right: 1px solid $searchcv_border_3;
        position: relative;
        overflow: auto;
    }

    &__right {
    }
}

.sc-filter {
    padding: 8px 10px 5px 25px;

    &__left {
        @include setTextStyleColor(14px, 16px, normal, $color_black);
        white-space: nowrap;
        padding-top: 10px;
        padding-bottom: 10px;
        display: flex;
        align-items: center;

        &-count {
            @include setTextStyle(16px, 19px, 500);
            margin-left: 4px;
        }
    }

    &__right {
    }
}

.sc-cv {

    &__list {
        overflow-y: auto;
    }

    &__item {
        padding: 20px 20px 15px 35px;
        border-top: 1px solid $searchcv_border_5;
        transition: all .3s;
        cursor: pointer;

        .item {

            &-left {
                padding-right: 35px;
                padding-top: 8px;
            }

            &-right {
                flex: 1;
            }

            &-image {
                @extend %default-background-image;
                width: 73px;
                min-width: 73px;
                max-width: 73px;
                height: 73px;
            }

            &-name {
                word-break: break-word;
                @include setTextStyleColor(16px, 19px, 500, $color_black);
                margin-bottom: 5px;
            }

            &-job {
                @extend %default-text;
                @include setTextStyleColor(16px, 19px, normal, $color_black);
                margin-bottom: 9px;
            }

            &-moreinfo {
                @extend %default-text;
                @include setTextStyleColor(16px, 19px, normal, $color_gray);
                margin-bottom: 5px;
            }

            &-exyear {
                @include setTextStyleColor(16px, 19px, 500, $color_black);
                margin-left: 3px;
            }

            &-location {
                @include setTextStyleColor(16px, 19px, normal, $color_black);
                margin-left: 3px;
            }

            &-bookmark {
                position: absolute;
                top: -1px;
                left: 15px;
                @extend %bookmark_style;
            }
        }

        &:hover {
            background-color: $searchcv_list_item_background;
        }
    }
}

.sc-detail {
    overflow: hidden;
    animation: coming-up-short .3s both;

    &__info {
        padding: 20px 32px 20px 5px;
        border-bottom: 1px solid $searchcv_border_3;
    }

    &__ava {
        @extend %default-background-image;

        width: 93px;
        min-width: 93px;
        height: 93px;
        border-radius: 50%;
        margin-right: 40px;
        margin-left: 40px;
    }

    &__introduction {

    }

    &__name {
        word-break: break-word;
        @include setTextStyleColor(18px, 21px, 500, $color_big_title);
        margin-bottom: 5px;
    }

    &__job {
        @extend %default-text;
        @include setTextStyleColor(16px, 19px, normal, $color_black);
        margin-bottom: 12px;
    }

    &__moreinfo {
        @extend %default-text;
        @include setTextStyleColor(16px, 19px, normal, $color_gray);
        margin-bottom: 5px;
    }

    &__exyear {
        @include setTextStyleColor(16px, 19px, 500, $color_black);
        margin-left: 3px;
    }

    &__location {
        @include setTextStyleColor(16px, 19px, normal, $color_black);
        margin-left: 3px;
    }

    &__option {
        padding-right: 50px;

        &--short, &--long {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 32px;
            background-color: $searchcv_list_item_background;
            border: none;
            border-radius: 4px;
            padding: 0;
            @include setTextStyleColor(16px, 19px, normal, $color_big_title);
            margin: 7px 5px;
            transition: all .1s;

            img {
                margin-right: 8px;
            }

            &:hover {
                background-color: $searchcv_border_5;
            }

            &:active {
                transform: scale(.95);
            }
        }

        &--short {
            width: 123px;
        }

        &--long {
            width: 150px;
        }
    }

    &__view {
        padding-top: 44px;
    }

    &__viewhideinfo, &__opennewtab {
        @include setTextStyleColor(16px, 19px, normal, $color_white);
        height: 36px;
        border: none;
        border-radius: 4px;
        background-color: $searchcv_color_blue;
        padding: 0 15px;
        transition: all .1s;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            margin-right: 8px;
            top: -1px;
        }

        &:active {
            transform: scale(.95);
        }

        &.viewed {
            background-color: $searchcv_color_green;
        }
    }

    &__lastupdate {
        @include setTextStyleColor(14px, 16px, normal, $color_gray);
        padding-right: 10px;

        .lastupdate-date {
            color: $color_black;
            margin-left: 3px;
        }
    }

    &__opennewtab {
        @include setTextStyleColor(16px, 19px, normal, $color_big_title);
        background-color: $searchcv_list_item_background;
        cursor: pointer;

        &:hover {
            color: $color_big_title;
            background-color: $searchcv_border_5;
        }
    }

    &__iframe {
        width: 100%;
        height: 100vh;
    }
}

.th-pagination {
    border-top: 1px solid $searchcv_border_5;

    &__element {
        height: 32px;
        margin: 0 4px;
        border-radius: 2px;
        border: 1px solid $searchcv_border_input;
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all .2s;
        @include setTextStyleColor(14px, 16px, normal, $color_big_title);
    }

    &__button {
        width: 32px;

        &:hover {
            border: 1px solid $color_big_title;
        }

        &:active {
            transition: .1s;
            transform: scale(.95);
        }

        &:disabled {
            color: $searchcv_border_input;
            cursor: not-allowed;

            &:hover {
                border: 1px solid $searchcv_border_input;
            }
        }
    }

    &__input {
        width: 70px;
        text-align: center;

        &:focus {
            border-color: $color_big_title;
        }
    }

    &__text {
        border: none;
    }
}

.sc-cvopen {
    background: $pj_tips_background;
    border: 1px solid $pj_tips_border;
    border-radius: 2px;
    padding: 15px 40px;

    &__title {
        @include setTextStyleColor(16px, 19px, 500, $color_black);
        display: flex;
        align-items: center;
        margin-bottom: 19px;

        i {
            color: $pj_tips_check;
            font-size: 20px;
            margin-right: 10px;
        }
    }

    &__item {
        @include setTextStyleColor(16px, 19px, normal, $color_black);
        display: flex;
        align-items: center;
        margin-bottom: 7px;
        padding-left: 32px;

        i {
            width: 20px;
            margin-right: 3px;
            font-size: 14px;
        }
    }

    &__bold {
        font-weight: 500;
    }
}

.view-detail-cv {
    &__padding {
        padding: 0 100px;
    }
}

.sc-unlock {
    .modal {
        &-content {
            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
            border-radius: 0 0 4px 4px;
            border: none;
        }

        &-header {
            padding-top: 22px;
            padding-bottom: 21px;
            padding-left: 35px;

            &__close {
                display: flex;
                opacity: 1;
                padding-right: 30px;
            }
        }

        &-text {
            @include setTextStyleColor(16px, 19px, normal, $color_black);
            padding-bottom: 6px;
        }

        &-title {
            @include setTextStyleColor(18px, 21px, 500, $color_black);
        }

        &-button {
            width: 170px;
            height: 39px;
            @include setTextStyleColor(16px, 19px, 500, $color_white);
            border-radius: 4px;
            border: none;
            background-image: $searchcv_search_button;
            position: relative;
            transition: all .1s;

            &:active {
                transform: scale(.95);
            }

            &:disabled {
                cursor: not-allowed;
                opacity: .6;
            }
        }

        &-not_enough {
            @include setTextStyleColor(16px, 19px, normal, $color_red);

            &--link {
                color: $color_big_title;
                text-decoration: underline;
            }
        }
    }
}

.select2-container--default {
    .select2-selection {
        &:focus {
            outline: none;
        }
    }

    .searchcv-select2-selection {
        height: 48px;
        border: 1px solid $searchcv_border_input;
        border-radius: 0;
        transition: .2s;

        .select2-selection {

            &__rendered {
                font-size: 14px;
                line-height: 46px;
                padding-left: 12px;
                padding-right: 35px;
                color: $color_big_title;
            }

            &__placeholder {
                color: $color_big_title;
            }

            &__arrow {
                height: 24px;
                right: 8px;

                b {
                    border: none;
                    padding: 0;

                    &:before {
                        content: '\f078';
                        font-family: "Font Awesome 5 Free", "Roboto", Arial, Helvetica, sans-serif;
                        font-weight: 900;
                        font-size: 12px;
                    }
                }
            }

            &__clear {
                position: absolute;
                height: 45px;
                right: 8px;
                margin-right: 0;
                padding: 0 6px;
                background-color: $color_white;
                z-index: 2;
                transition: .2s;
            }
        }
    }

    .searchcv-select2-dropdown {
        @extend %dropdown_style_1;
        animation: show-height-50 .2s ease-out both;

        .select2-results {
            &__option {
                font-size: 14px;
                padding-left: 12px;
                color: $color_big_title;
                transition: all .1s;

                &--disabled {
                    color: $color_gray;
                }

                &--highlighted {
                    background-color: $color_navbar_background;
                    color: $color_white;
                }

            }
        }
    }

    .filtercv-select2-selection {
        height: 34px;
        border: none;
        background-color: $searchcv_border_4;
        border-radius: 4px;
        transition: .2s;

        .select2-selection {
            &__rendered {
                font-size: 14px;
                line-height: 34px;
                padding-left: 12px;
                padding-right: 35px;
                color: $color_big_title;
                transition: .2s;
            }

            &__placeholder {
                color: $color_big_title;
                transition: .2s;
            }

            &__arrow {
                height: 12px;
                right: 8px;
                color: $color_big_title;
                transition: .2s;

                b {
                    border: none;
                    padding: 0;

                    &:before {
                        position: absolute;
                        content: '\f0d7';
                        font-family: "Font Awesome 5 Free", "Roboto", Arial, Helvetica, sans-serif;
                        font-weight: 900;
                        font-size: 16px;
                        transition: all .1s;
                    }
                }
            }

            &__clear {
                position: absolute;
                height: 34px;
                right: 8px;
                margin-right: 0;
                padding: 0 6px;
                background-color: $searchcv_border_4;
                z-index: 2;
                transition: .2s;

                span {
                    transition: all .2s;
                }
            }
        }

        &:hover {
            background-color: $searchcv_border_5;

            .select2-selection {
                &__clear {
                    background-color: $searchcv_border_5;
                }
            }
        }
    }

    .filtercv-select2-dropdown {
        @extend %dropdown_style_2;
        animation: show-height-50 .2s both;

        .select2-results {
            &__option {
                font-size: 14px;
                padding-left: 12px;
                color: $color_big_title;
                transition: all .1s;

                &--disabled {
                    color: $color_gray;
                }

                &--highlighted {
                    background-color: $searchcv_button_red;
                    color: $color_white;
                }

            }
        }
    }

    .diadiem {
        width: 110px !important;
    }

    .ngonngu {
        width: 120px !important;
    }

    .trinhdo {
        width: 210px !important;
    }

    .phanloai {
        width: 130px !important;
    }

    .sapxep {
        width: 210px !important;
    }

    .loaicv {
        width: 150px !important;
    }

    &.select2-container--open {
        .searchcv-select2-selection {
            background-color: $searchcv_gray_input_focus;

            .select2-selection {
                &__clear {
                    background-color: $searchcv_gray_input_focus;
                }
            }
        }

        .filtercv-select2-selection {
            background-color: $color_big_title;
            border-radius: 4px !important;

            .select2-selection {

                &__rendered {
                    color: $color_white;
                }

                &__arrow {
                    color: $color_white;

                    b {
                        &:before {
                            transform: rotateX(180deg);
                        }
                    }
                }

                &__placeholder {
                    color: $color_white;
                }

                &__clear {
                    background-color: $color_big_title;
                    span {
                        color: $color_white;
                    }
                }
            }
        }
    }
}
