p, h1, h2, h3, h4, h5, label {
  margin-bottom: 0;
}

button {
  border: none;
  background-color: transparent;
}

.sort {
  path {
    fill: #555555;
  }
}

.pagination {
  justify-content: center;
  align-items: center;
  margin: 30px 0;

  .page-item {
    margin: 0 4px;
    padding: 0;

    .page-link {
      padding: 0;
      width: 66px;
      height: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .active {
      &:focus {
        border: 1px solid $color_text_select;
      }
    }

    .page-item--lable {
      span {
        @include setTextStyleColor(14px, 21px, normal, $color_text_select);
        margin-left: 11px;
        margin-right: 4px;
      }

      .go-to__input {
        width: 50px;
        text-align: center;
        border: 1px solid #D9D9D9;
        border-radius: 2px;
        @include setTextStyleColor(14px, 21px, normal, $color_text_select);
        height: 32px;
      }
    }
  }

  .page {
    border: 1px solid #D9D9D9;
    height: 32px;
    width: 66px;
    display: flex;
    align-items: center;
    justify-content: center;
    @include setTextStyleColor(14px, 21px, normal, $color_text_select);
  }

  .prev, .next {
    height: 32px;
    width: 32px;
    border: 1px solid #D9D9D9;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:active {
      border: 1px solid $color_text_select;
    }
  }

  .disabled {
    svg {
      path {
        fill: #D9D9D9;
      }
    }
  }

  .page-link {
    @include setTextStyleColor(14px, 21px, normal, $color_text_select);

    &:focus {
      box-shadow: none;
    }

    &:hover {
      background-color: transparent;
    }
  }
}

.date-ranger {

  .calender {
    background: $badge_s_b_gray;
    border-radius: 2px;
    padding: 5px 19px 4px 15px;
    cursor: pointer;
    width: 215px;
    @include setTextStyleColor(14px, 30px, 500, $color_blue);
    border: none;

    &:focus {
      box-shadow: none;
    }

    &:hover {
      background-color: #E7E7E7;
    }

    &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
      @include setTextStyleColor(14px, 30px, 500, $color_blue);
      opacity: 1; /* Firefox */
    }

    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
      @include setTextStyleColor(14px, 30px, 500, $color_blue);
    }

    &::-ms-input-placeholder { /* Microsoft Edge */
      @include setTextStyleColor(14px, 30px, 500, $color_blue);
    }
  }

  svg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 4%;
    cursor: pointer;
    width: 11px;
  }
}

.checkbox-label {
  height: 100%;

  .list--checkbox {
    border: 2px solid #949494;
    border-radius: 2px;
    width: 20px;
    height: 20px;
    cursor: pointer;

    i {
      font-size: 14px;
      color: #fff;
    }
  }

  input:checked ~ .list--checkbox {
    background-color: $color_black_bold;
    border: none;
  }
}

.premium-commitments, .premium, .amazing-commitments,
.amazing, .hot-commitments, .hot, .basic-commitments, .basic {
  display: flex;
  span {
    margin-right: 3px;
  }
}

.premium-commitments {
  @include setTextStyleColor(12px, 14px, 500, #996e15);
  &:before {
    content: '\f005';
    font-family: 'Font Awesome 5 Free', serif;
    @include setTextStyle(10px, 12px, 900);
    margin-right: 5px;
  }

  svg {
    margin-right: 5px;
  }
}

.premium {
  @include setTextStyleColor(12px, 14px, 500, #996e15);
}

.amazing-commitments {
  @include setTextStyleColor(12px, 14px, 500, #352ab5);
  &:before {
    content: '\f005';
    font-family: 'Font Awesome 5 Free', serif;
    @include setTextStyle(10px, 12px, 900);
    margin-right: 5px;
  }

  svg {
    margin-right: 5px;
  }
}

.amazing {
  @include setTextStyleColor(12px, 14px, 500, #352ab5);
}

.hot-commitments {
  @include setTextStyleColor(12px, 14px, 500, #e74243);
  &:before {
    content: '\f005';
    font-family: 'Font Awesome 5 Free', serif;
    @include setTextStyle(10px, 12px, 900);
    margin-right: 5px;
  }

  svg {
    margin-right: 5px;
  }
}

.hot {
  @include setTextStyleColor(12px, 14px, 500, #e74243);
}

.basic-commitments {
  @include setTextStyleColor(12px, 14px, 500, #626262);
  &:before {
    content: '\f005';
    font-family: 'Font Awesome 5 Free', serif;
    @include setTextStyle(10px, 12px, 900);
    margin-right: 5px;
  }

  svg {
    margin-right: 5px;
  }
}

.basic {
  @include setTextStyleColor(12px, 14px, 500, #626262);
}

.input-hidden {
  position: absolute;
  opacity: 0;
  visibility: hidden;
}

.action__content--download {
  background-color: transparent;
}

.content__list--action {
  .action__content--amount {
    @include setTextStyleColor(16px, 19px, normal, #555555);
  }

  .action__content {
    margin: 0 3px;
    @include setTextStyleColor(14px, 19px, 600, #595959);
  }

  .action__content--status {
    padding: 7px 10px;

    svg {
      margin-left: 5px;
    }
  }

  .action__content--delete {
    background: #134D6A;
    border-radius: 4px;
    padding: 5px 10px;
    color: #fff;

    &:active {
      transform: scale(0.95);
    }

    svg {
      margin: 0 11px 2px 3px;
    }
  }
}

.content {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  animation: coming-up-short 0.3s both;

  .content__title {
    padding: 16px 26px 16px 20px;
    border-bottom: 1px solid #EBEBEB;

    h4 {
      @include setTextStyleColor(18px, 21px, 600, $color_black_bold);
    }

    .total-list {
      @include setTextStyleColor(18px, 21px, 600, $color_black_bold);
      padding-left: 5px;
      overflow: hidden;
      display: -webkit-box;
      word-break: break-word;
      text-overflow: ellipsis;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
    }
  }

  .content__title--action {
    padding: 12px 26px 16px 40px;
    .edit__label {
      margin-right: 6px;
    }
  }


  .content__list--title {
    background-color: #FAFAFA;
    border-bottom: 1px solid #EBEBEB;
    border-top: 1px solid #EBEBEB;
    min-height: 68px;

    .checkbox-remove {
      &:after {
        content: "";
        position: absolute;
        height: 3px;
        width: 13px;
        background-color: #fff;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    .checkbox-all {
      &:before {
        content: "";
        position: absolute;
        width: 3px;
        height: 8px;
        background-color: #fff;
        top: 44%;
        left: 43%;
        transform: rotate(-45deg) translateX(-50%) translateY(-50%);
      }

      &:after {
        content: "";
        position: absolute;
        width: 3px;
        height: 12px;
        background-color: #fff;
        top: 44%;
        left: 38%;
        transform: rotate(45deg) translateX(-50%) translateY(-50%);
      }
    }

    .list-title {
      min-height: 33px;
    }
  }
}

.select2-container--default {
  .job_management-select2-selection {
    height: 39px;
    border-radius: 4px;
    background: #F9F9F9;
    border: none;

    &:hover {
      background-color: #E7E7E7;
    }

    .select2-selection__rendered {
      padding-left: 15px;
      @include setTextStyleColor(14px, 40px, 500, $color_blue);
      padding-right: 33px;
    }

    .select2-selection__arrow {
      height: 33px;
      right: 7px;

      b {
        border-color: rgb(22, 66, 86) transparent transparent transparent;
        border-width: 7px 6px 0 6px;
        top: 48%;
      }
    }

    &:focus {
      outline: none;
    }
  }

  .select2-results>.select2-results__options {
    &::-webkit-scrollbar {
      padding-right: 0;
      width: 5px;
      background-color: transparent;
      border-radius: 5px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #C4C4C4;
      border-radius: 5px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background-color: #C4C4C4;
    }
  }

  @-moz-document url-prefix() {
    .select2-results__options {
      scrollbar-color:#C4C4C4 transparent ;
      scrollbar-width: thin;
    }
  }

  .select2-selection--single {
    .select2-selection__placeholder {
      color: $color_blue;
    }
  }

  .job_management-select2-dropdown {
    border: none;
    border-radius: 0;
    background-color: #FFFFFF;
    box-shadow: $searchcv_dropdown_boxshadow;
    animation: show-height 0.2s both;

    .select2-results {
      &__option {
        padding: 6px 14px;

        &--highlighted {
          background-color: $color_button;
        }
      }
    }
  }

  .job_status-select2-dropdown {
    width: 140px !important;
  }
}

.select2-results__option {
  overflow: hidden;
  height: 33px;
  @include setTextStyleColor(14px, 23px, 500, $color_blue);
}

.select2-container--default.select2-container--open {
  .select2-selection--single {
    background-color: $color_blue;

    .select2-selection__arrow {
      b {
        border-color: transparent transparent #fff transparent;
        border-width: 0 6px 7px 6px;
      }
    }

    .select2-selection__rendered, .select2-selection__placeholder {
      color: #fff;
    }
  }
}

.daterangepicker {
  animation: show-date .3s both;

  .ranges {
    li.active {
      background-color: $color_blue;
    }
  }

  td.active {
    background-color: $color_blue;

    &:hover {
      background-color: $color_blue;
    }
  }

  .drp-buttons {
    .applyBtn {
      background-color: $color_apply;
      border: none;

      &:focus, &:active {
        outline: none;
        box-shadow: none !important;
      }

      &:hover {
        background-color: $color_apply;
      }
    }

    .cancelBtn {
      &:focus {
        box-shadow: none;
      }

      &:hover {
        background-color: $color_gray;
        color: #fff;
      }
    }
  }
}

.daterangepicker.single {
  animation: show-date-modal .3s both;
}

.header-shadow {
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.08);
}

/*===============================JOB SERVICE==========================*/

.job-card {
  margin-top: 43px;
  margin-bottom: 28px;

  &__item {
    background-color: $color-white;
    padding: 25px 70px 30px 35px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    min-height: 117px;

    .job-line {
      width: 1px;
      height: 60px;
      background-color: #C4C4C4;
    }

    .name-service {
      @include setTextStyleColor(16px, 22px, normal, #4A4A4A);
    }

    .count {
      margin-top: 3px;
      @include setTextStyle(28px, 28px, 300);
    }
  }

  &--title {
    @include setTextStyleColor(16px, 19px, 500, #4A4A4A);
    height: 100%;
    width: 20%;
  }

  &--content {
    width: 75%;

  }

  &--content_fix {
    .job-card--content-item {
      display: none;
      &:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4) {
        display: flex;
      }
    }
  }

  .job-service__item {
    margin-right: 10px;

    .job-line {
      margin: 0 30px;
    }

    .show-details {
      @include setTextStyleColor(14px, 16px, normal, #06202D);
      text-decoration-line: underline;
      margin-top: 7px;
      svg {
        margin-bottom: 3px;
        margin-left: 3px;
      }
    }

    .count {
      color: #6C6201;
    }
  }

  .job-status__item {
    margin-left: 10px;

    .job-line {
      margin: 0 43px;
    }

    .job-card--title {
      width: 13%;
    }

    .count {
      color: $color_text_select;
    }
  }
}

/*===============================UPLOAD JOB==========================*/
.upload-job__btn {
  background: linear-gradient(90.19deg, #D63A1C 0.17%, #EA5B40 99.87%);
  box-shadow: 5px 5px 10px #f5b5b5;
  border-radius: 4px;
  padding: 11px 24px;
  @include setTextStyleColor(16px, 19px, normal, #fff);
  position: relative;
  transition: all 0.3s;
  overflow: hidden;

  svg {
    margin-right: 10px;
  }

  span {
    z-index: 20;
  }

  &:after {
    background: #fff;
    content: "";
    height: 155px;
    left: -75px;
    opacity: .2;
    position: absolute;
    top: -50px;
    transform: rotate(35deg);
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    width: 50px;
  }

  &:active {
    transform: scale(0.95);
  }
}

.upload-job__btn:hover:after {
  left: 120%;
  transition: all 1000ms cubic-bezier(0.19, 1, 0.22, 1);
}

/*===============================LIST JOB==========================*/
#list-job {
  overflow: hidden;

  .export-btn {
    @include setTextStyleColor(14px, 30px, 500, $color_blue);
    background-color: $badge_s_b_gray;
    margin-left: 6px;
    padding: 0 14px;
    height: 39px;
    border-radius: 2px;
    transition: all .1s;

    &:hover {
      background-color: #E7E7E7;
    }

    &:active {
      transform: scale(0.95);
    }

    svg {
      margin-right: 8px;
    }
  }

  .search__form {
    width: 306px;

    .search__label {
      margin-right: 6px;
      position: relative;

      .search__input {
        background: $badge_s_b_gray;
        border-radius: 4px;
        border: none;
        padding: 4px 15px;
        @include setTextStyleColor(14px, 30px, normal, $color-blue);
        position: relative;

        &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
          @include setTextStyleColor(14px, 30px, 500, $color-blue);
          opacity: 1; /* Firefox */
        }

        &:-ms-input-placeholder { /* Internet Explorer 10-11 */
          @include setTextStyleColor(14px, 30px, 500, $color-blue);
        }

        &::-ms-input-placeholder { /* Microsoft Edge */
          @include setTextStyleColor(14px, 30px, 500, $color-blue);
        }

        &:focus {
          &::placeholder {
            color: transparent;
          }
        }
      }

      .search-icon {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 3%;
      }
    }
  }

  .checkbox-label {
    min-width: 90px;
  }

  .content__list--title {
    background-color: #FAFAFA;
    min-height: 48px;

    .job_management-select2-selection {
      height: 33px;

      .select2-selection__rendered {
        line-height: 34px;
      }
    }

    .select2-container--default {
      .job_management-select2-selection {
        .select2-selection__arrow {
          b {
            top: 38%;
          }
        }
      }
    }

    .text-list-title {
      display: block;
      align-items: center;

      .arrow-sort {
        height: 15px;
        justify-content: space-around;
        display: flex;
        flex-direction: column;
        margin-left: 5px;
      }
    }
  }

  .job__list--body {
    max-height: 859px;
    min-height: 444px;
    overflow: auto;
    width: 100%;

    &::-webkit-scrollbar {
      padding-right: 0;
      width: 5px;
      background-color: transparent;
      border-radius: 5px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #C4C4C4;
      border-radius: 5px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background-color: #C4C4C4;
    }

    .list__content--item {
      height: 86px;
      position: relative;

      &:after {
        content: "";
        position: absolute;
        bottom: 0;
        height: 1px;
        width: 97%;
        background-color: #F0F0F0;
        left: 50%;
        transform: translateX(-50%);
      }

      .job-title {
        display: inline-block;

        .text-default {
          span {
            &:hover {
              text-decoration: underline;
              color: #4A4A4A;
              cursor: pointer;
            }
          }
          &:hover {
            color: #454545;
            cursor: context-menu;
          }
        }
      }

      .recruitment {
        .text-list-default {
          span {
            &:hover {
              text-decoration: underline;
              color: #454545;
              cursor: pointer;
            }
          }
          &:hover {
            color: #454545;
            cursor: context-menu;
          }
        }
      }

      .status {
        span {
          font-size: 14px;
          line-height: 22px;
          font-weight: normal;
          border-radius: 30px;
          padding: 1px 11px;
        }
      }

      .basic-info {
        flex-direction: unset;

        .basic-info--left, .basic-info--right {
          display: flex;
        }
      }

      .date-upload, .date-expired, .view, .recruitment, .status {
        @extend %default-text;
        display: flex;
        justify-content: center;
      }

      .date-upload, .date-expired, .view, .recruitment {
        padding-right: 5px;
      }

      .dropdown {
        background: #F4F4F4;
        border-radius: 4px;
      }

      .list-action {
        .list-action--button {
          width: 111px;
          height: 35px;
          @include setTextStyleColor(14px, 16px, 500, $color_text_select);
          padding: 0;

          svg {
            margin-left: 6px;
          }

          &:focus {
            box-shadow: none;
          }
        }

        .button-active {
          background-color: $color_text_select;
          color: #fff;
          svg {
            path {
              fill: #fff;
            }
          }
        }

        .dropdown-menu {
          animation: show-date 0.2s both;
          left: unset !important;
          right: 0 !important;
          top: 34px !important;
          box-shadow: 0 3px 5px rgba(9, 30, 66, 0.2), 0 0 1px rgba(9, 30, 66, 0.31);
          border-radius: 3px;
          border: none;
          .dropdown-item {
            @include setTextStyleColor(14px, 20px, normal, #172B4D);
            padding: 6px 16px;
            &:hover {
              background-color: $color_button;
              color: #fff;
            }
          }
        }
      }
    }

    .lazy-loading {
      display: flex;
      align-items: center;
      justify-content: center;
      @include setTextStyleColor(16px, 22px, normal, #454545);
      height: 86px;
    }
  }

  @-moz-document url-prefix() {
    .job__list--body.scroller {
      scrollbar-color:#C4C4C4 transparent ;
      scrollbar-width: thin;
    }
  }

  .job-title {
    min-width: 404px;
    width: 404px;
    padding-right: 25px;
  }

  .date-upload, .date-expired, .view, .recruitment {
    width: 135px;
  }

  .date-expired {
    margin-right: 10px;
  }

  .date-upload {
    margin-right: 25px;
  }

  .status {
    width: 163px;
    justify-content: center;
    display: flex;
    margin-right: 30px;
  }

  .text-list-title.date-upload, .text-list-title.date-expired, .text-list-title.view, .text-list-title.recruitment {
    cursor: pointer;
    justify-content: center;
  }

  .action {
    justify-content: center;
    display: flex;
    width: 105px;
  }

  .text-list-title.view, .text-list-title.recruitment {
    padding-right: 0;
  }

  .view, .recruitment {
    padding-right: 20px;
  }

  .background-shadow {
    background: #FFFFFF;
    box-shadow: 0px -3px 4px rgba(0, 0, 0, 0.08);
    height: 50px;
  }

  .list__action--item {
    margin-right: 40px;
  }
}
/*===============================MODAL==========================*/
#service_detail_modal {
  .modal-dialog {
    max-width: 795px;

    .modal-header {
      padding: 22px 27px;
      h5 {
        @include setTextStyleColor(18px, 21px, 500, #555555);
      }
    }

    .modal-body {
      padding: 0 16px 10px 16px;

      &--content {
        display: flex;
        position: relative;
      }

      &--item {
        min-width: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 55px;

        &:first-child {
          min-width: 130px;
          align-items: flex-start;
          padding-left: 30px;
          padding-right: 25px;
        }

        &:nth-child(2), &:nth-child(4) {
          background: rgba(245, 245, 245, 0.5);
        }

        .count {
          @include setTextStyleColor(32px, 28px, 300, #262626);
          min-height: 75px;
        }

        .text-default--modal {
          &:first-child {
            padding-right: 10px;
          }
        }
      }

      .job-name--modal {
        @include setTextStyleColor(14px, 15px, 500, #fff);
        border-radius: 30px;
        width: 126px;
        height: 27px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 48px;
        svg {
          margin-right: 4px;
        }
      }

      .name-service--modal {
        display: block;
        @include setTextStyleColor(14px, 16px, 500, #303030);
        padding-top: 6px;
        min-height: 75px;
        position: relative;

        &:after {
          content: "";
          position: absolute;
          height: 1px;
          width: 730px;
          background: #E3E1E1;
          border-radius: 0 0 4px 4px;
          left: -10px;
          bottom: 19px;
        }
        
        &:first-child {
          &:after {
            display: none;
          }
        }

        &:nth-child(2) {
          width: 88%;
          padding-top: 2px;
        }

        &:last-child {
          width: 92%;
          padding-top: 2px;

          &:after {
            display: none;
          }
        }
      }

      .text-default--modal {
        display: inline-block;
      }

      .amazing-job--modal {
        background: linear-gradient(90deg, #4884F3 -6.36%, #5727C4 110.91%);
        position: relative;
        overflow: hidden;

        &:before {
          content: '';
          position: absolute;
          width: 8px;
          height: 40px;
          top: 50%;
          left: -10%;
          transform: translate(-50%, -50%) rotate(35deg);
          background-color: #fff;
          opacity: .5;
          box-shadow: 0 0 10px #fff;
          animation: glass-normal 1.5s both infinite ease-in-out;
          z-index: 3;
        }

      }

      .premium-job--modal {
        background: linear-gradient(90deg, #D4BF57 -6.36%, #BF861E 110.91%);
      }

      .hot-job--modal {
        background: linear-gradient(90deg, #F85A5B 0%, #DA2B2C 100%);
      }

      .basic-job--modal {
        background: #A5A5A5;
      }
    }

    .modal-footer {
      border-top: none;

      .research-service {
        text-decoration: underline;
        color: #06202D;
        margin-right: 15px;
        @include setTextStyleColor(14px, 16px, normal, #06202D);
        svg {
          margin-left: 3px;
        }
      }

      .btn-cancel {
        background: #B9B9B9;
        box-shadow: 0 2px 0 rgba(0, 0, 0, 0.043);
        border-radius: 4px;
        @include setTextStyleColor(16px, 19px, 500, #fff);

      }

      .btn-save {
        background: #D67F1E;
        box-shadow: 0 2px 0 rgba(0, 0, 0, 0.043);
        border-radius: 4px;
        @include setTextStyleColor(16px, 19px, 500, #fff);
      }

      .btn-cancel, .btn-save {
        width: 170px;
        height: 39px;
        transition: all .2s;
        padding: 0;

        &:active {
          transform: scale(0.9);
        }
      }
    }
  }
}

#select_service_modal {
  .modal-dialog {
    max-width: 795px;

    .modal-header {
      padding: 22px 38px;
      h5 {
        @include setTextStyleColor(18px, 21px, 500, #555555);
      }
    }

    .modal-body {
      display: flex;
      justify-content: center;

      &--list {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        width: 100%;
      }

      &--item {
        width: 100%;
        background: #F9F9F9;
        border-radius: 4px;
        margin: 7px 0;
        padding: 20px 22px 20px 30px;
        cursor: pointer;
        border: 2px solid transparent;
        -webkit-user-select: none;
        user-select: none;
        position: relative;
        align-items: flex-end;

        &-label {
          position: absolute;
          height: 100%;
          width: 100%;
          top: 0;
          cursor: pointer;
        }

        .text-default {
          color: #535353;
          span {
            font-weight: 500;
            margin-right: 3px;
          }
        }

        .check-icon {
          position: absolute;
          top: 9px;
          right: 11px;
          transition: all .2s;
          opacity: 0;
        }
      }

      &--item-active {
        border: 2px solid #1F7E07;

        .check-icon {
          opacity: 1;
          animation: bounceIn 0.8s both;
        }
      }

      .job-disabled {
        background: #E7E7E7;
        cursor: no-drop;
        -webkit-user-select: none;
        user-select: none;

        .modal-body--item-label {
          cursor: no-drop;
        }

        .job-text {
          color: #C4C4C4;
        }

        .text-default {
          color: #CACACA;
        }

        .remain {
          width: 100%;
          span {
            color: #C7C7C7;
          }
        }
      }

      .remain {
        align-items: flex-end;
        width: 100%;
        .text-default {
          font-weight: normal;
          color: #535353;
          margin-bottom: 0;
        }
      }

      .text-default {
        display: flex;
        align-items: flex-end;
        margin-top: 3px;
        margin-bottom: 0;
      }

      .count {
        @include setTextStyleColor(24px, 28px, normal, #535353);
        margin-left: 6px;
      }

      .amazing-job--modal {
        @include setTextStyleColor(16px, 19px ,500, $color_text_amazing-job);
      }

      .premium-job--modal {
        @include setTextStyleColor(16px, 19px ,500, $color_text_premium-job);
      }

      .hot-job--modal {
        @include setTextStyleColor(16px, 19px ,500, $color_text_hot-job);
      }

      .basic-job--modal {
        @include setTextStyleColor(16px, 19px ,500, $color_text_basic-job);
      }



      &--overlay {
        background: rgba(0, 0, 0, 0.6);
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &_sub {
          @include setTextStyleColor(18px, 21px, 500, #fff);
        }

        &_button {
          background: #D67F1E;
          box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
          border-radius: 8px;
          width: 205px;
          height: 54px;
          margin-top: 23px;
          transition: all .2s;

          span {
            overflow: hidden;
            @include setTextStyleColor(18px, 21px, 500, #fff);
          }

          &:hover {
            transform: scale(1.1);
          }
        }
      }

      .job-disabled {
        background-color: #E7E7E7;
        .job-text, .text-default, .count, .remain span {
          color: #9a9a9a;
        }
      }
    }

    .modal-footer {

      .research-service {
        text-decoration: underline;
        color: #06202D;
        margin-right: 15px;
        svg {
          margin-left: 3px;
        }
      }

      .timed-posting {
        background: #F9F9F9;
        box-shadow: 0 2px 0 rgba(0, 0, 0, 0.043);
        @include setTextStyleColor(14px, 50px, 500, #616161);
        margin-right: 8px;
        border-radius: 4px;
        position: relative;
        svg {
          position: absolute;
          transform: translateY(-50%);
          top: 50%;
          left: 27px;
        }
      }

      .pj-form__settime {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        padding-left: 35px;
        padding-right: 0;

        input {
          border: none;
          background-color: transparent;
          cursor: pointer;
          padding-left: 78px;
          color: $color_black;
          font-weight: 500;
          margin-top: 1px;

          &.disabled {
            visibility: hidden;
            width: 0;
            height: 0;
            margin: 0;
            padding: 0;
            right: -20px;
            position: absolute;
            top: 0;

            & + .pj-form__settime-text {
              display: unset;
            }
          }
        }

        &-text {
          display: none;
          margin-left: 48px;
          margin-right: 17px;
        }

        &-text-show {
          display: unset;
        }
      }

      .btn-save {
        background: #D93E21;
        box-shadow: 0 2px 0 rgba(0, 0, 0, 0.043);
        border-radius: 4px;
        @include setTextStyleColor(14px, 19px, 500, #fff);
      }

      .timed-posting, .btn-save {
        width: 189px;
        height: 48px;
        padding: 0;
        margin-bottom: 0;
        transition: all .2s;

        &:active {
          transform: scale(0.9);
        }
      }

      .button-disabled {
        background: #C8C8C8;
        color: #AFAEAE;
        cursor: no-drop;

        .pj-form__settime-text {
          color: #AFAEAE;
        }

        .btn:disabled {
          opacity: 1;
        }

        svg {
          path, rect {
            fill: #AFAEAE;
          }
        }
      }
    }
  }
}

#time_countdown-inactive_modal, #time_countdown-approved_modal {
  .modal-dialog {
    max-width: 536px;

    .modal-header {
      padding: 22px 38px;
      h5 {
        @include setTextStyleColor(18px, 21px, 500, #555555);
      }
    }

    .modal-body {
      padding: 40px 0 60px;
      &--content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &-sub {
          @include setTextStyleColor(16px, 19px, normal, #555555);
        }

        &-time {
          @include setTextStyleColor(24px, 28px, normal, #285F15);
          margin-top: 10px;
        }

        &-subdes {
          @include setTextStyleColor(16px, 19px, 500, #555555);
        }
      }
    }

    .modal-footer {
      background: #F3F3F3;
      border-radius: 0 0 4px 4px;
      border-top: none !important;

      .btn-save {
        background: linear-gradient(90.19deg, #D63A1C 0.17%, #EA5B40 99.87%);
        border-radius: 4px;
        @include setTextStyleColor(14px, 19px, 500, #fff);
        width: 170px;
      }

      .change-service {
        background: #D9D9D9;
        border-radius: 4px;
        @include setTextStyleColor(14px, 19px, 500, #4D4D4D);
        width: 204px;
      }

      .btn-save, .change-service {
        transition: all .2s;
        box-shadow: 0 2px 0 rgba(0, 0, 0, 0.043);
        height: 39px;
        padding: 0;

        &:active {
          transform: scale(0.9);
        }
      }
    }
  }
}