/*==============================Max-width: 1500px==============================*/
@media screen and  (max-width: 1499.98px) {

  .job-card {

    &__item {
      padding: 25px 20px 30px 20px;
    }

    &--content {
      width: 72%;
    }

    .job-service__item {
      .job-line {
        margin: 0 20px;
      }
    }

    .job-status__item {

      .job-line {
        margin: 0 35px;
      }

      .job-card--title {
        width: 15%;
      }
    }
  }

  .content {
    .content__title {
      padding: 23px 15px;
    }

    .content__title--action {
      padding: 12px 30px 16px 30px;
    }
  }

  #list-job {
    .checkbox-label {
      min-width: 50px;
    }

    .content__list {
      .content__list--title {
        .list-action {
          width: 70px;
        }
      }
    }

    .job-title {
      min-width: 330px;
      width: 330px;
    }

    .date-upload, .date-expired {
      margin-right: 0;
    }

    .date-upload, .recruitment {
      width: 115px;
    }

    .view {
      width: 100px;
    }

    .date-expired {
      width: 130px;
    }

    .status {
      width: 145px;
      margin-right: 0;
    }

    .job__list--body {
      .list__content--item {
        .list-action {
          .action-item {
            width: 25px;
            height: 25px;
          }
        }
        .date-upload, .date-expired, .status {
          padding-right: 0;
        }
      }
    }
    .search__form {
      width: 310px;
    }
  }
}
/*==============================Max-width: 1199.98px============================*/
@media screen and (max-width: 1199.98px) {
  .premium-commitment,
  .premium,
  .amazing-commitment,
  .amazing,
  .hot-commitment,
  .hot,
  .basic-commitment,
  .basic {
    @include setTextStyle(11px, 12px, 500);
    &:before {
      font-size: 9px;
    }
  }

  .job-card {

    &--title {
      @include setTextStyleColor(14px, 16px, 500, #4A4A4A);
    }

    &__item {
      padding: 25px 10px 30px 15px;

      .name-service {
        @include setTextStyleColor(14px, 18px, normal, #4A4A4A);
      }

      .count {
        @include setTextStyle(24px, 24px, 300);
      }
    }

    .job-service__item {

      .job-line {
        margin: 0 15px;
      }

      .show-details {
        @include setTextStyleColor(12px, 14px, normal, #06202D);

        svg {
          width: 11px;
        }
      }
    }

    .job-status__item {

      .job-line {
        margin: 0 15px;
      }
    }
  }

  .upload-job__btn {
    padding: 10px 14px;
    @include setTextStyle(14px, 16px, normal);
    svg {
      width: 12px;
      height: 12px;
    }
  }

  #list-job {
    .content {
      .content__title--action {
        padding: 12px 20px 16px 20px;
      }
    }

    .export-btn {
      @include setTextStyle(12px, 30px, 500);
      svg {
        margin-right: 4px;
      }
    }

    .checkbox-label {
      min-width: 40px;
    }

    .job-title {
      min-width: 250px;
      width: 250px;
    }

    .export-btn {
      padding: 0 6px;
    }

    .date-upload, .date-expired, .view, .recruitment {
      width: 115px;
    }

    .status {
      width: 134px;
    }

    .action {
      width: unset;
    }

    .view, .recruitment {
      width: 90px;
    }



    .job__list--body {
      .list__content--item {
        .list-action {
          .action-item {
            width: 30px;
            height: 30px;
          }

          .list-action--button {
            @include setTextStyle(12px, 14px, 500);
            width: unset;
            padding: 0 5px;
            height: 30px;
            svg {
              width: 7px;
              margin-bottom: 2px;
              margin-left: 3px;
            }
          }

          .dropdown-menu {
            .dropdown-item {
              @include setTextStyle(12px, 20px, normal);
            }
          }
        }

        .date-upload, .date-expired, .status {
          padding-right: 0;
        }

        .status {
          span {
            @include setTextStyle(11px, 17px, normal);
          }
        }
      }
    }

    .search__form {
      width: 200px;

      .search__label {
        .search__input {
          @include setTextStyleColor(12px, 30px, normal, $color-blue);

          &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            @include setTextStyleColor(12px, 30px, 600, $color-blue);
            opacity: 1; /* Firefox */
          }

          &:-ms-input-placeholder { /* Internet Explorer 10-11 */
            @include setTextStyleColor(12px, 30px, 600, $color-blue);
          }

          &::-ms-input-placeholder { /* Microsoft Edge */
            @include setTextStyleColor(12px, 30px, 600, $color-blue);
          }

          &:focus {
            &::placeholder {
              color: transparent;
            }
          }
        }

        .search-icon {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 3%;
        }
      }
    }
  }

  .select2-container--default {
    .job_management-select2-selection {
      .select2-selection__rendered {
        @include setTextStyle(12px, 40px, 600);
      }
      .select2-selection__arrow b {
        border-width: 6px 5px 0 5px;
        top: 54%;
      }
    }

    .job_management-select2-dropdown {
      .select2-results__option {
        font-size: 12px;
      }
    }
  }

  .select2-container--default.select2-container--open {
    .select2-selection--single {
      .select2-selection__arrow b {
        border-width: 0 5px 6px 5px;
      }
    }
  }

  .date-ranger {
    .calender {
      @include setTextStyle(12px, 30px, 600);

      &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        @include setTextStyle(12px, 30px, 600);
        opacity: 1; /* Firefox */
      }

      &:-ms-input-placeholder { /* Internet Explorer 10-11 */
        @include setTextStyle(12px, 30px, 600);
      }

      &::-ms-input-placeholder { /* Microsoft Edge */
        @include setTextStyle(12px, 30px, 600);
      }
    }

    svg {
      width: 10px;
    }
  }
}

/*==============================Max-width: 991.98px=============================*/
@media screen and (max-width: 991.98px) {

  .job-card {

    &--title {
      flex-direction: unset;
      display: flex;
      justify-content: space-between;
      margin-bottom: 5px;
      width: unset;
    }

    &__item {
      padding: 10px 15px 15px 15px;
      min-height: unset;

      .show-details {
        text-align: right;
        margin-top: 0;
      }
    }

    .job-status__item {
      margin-left: 0;
      .job-card--title {
        width: unset;
      }
    }

    .job-service__item {
      margin-right: 0;
      .show-details {
        margin-top: 0;
      }
    }

    &--content {
      width: 90%;
      margin-left: auto;

      &-item {
       &:last-child {
         margin-right: 0;
       }
      }
    }
  }

  .premium-job {
    @include setTextStyleColor(11px, 13px, normal, #6C6201);
  }

  .hot-job {
    @include setTextStyleColor(11px, 13px, normal, #BF2600);
  }

  .content {
    .content__title--action {
      .edit__label {
        margin-bottom: 8px;
      }
    }
  }

  #job-status {
    .job-status__list {
      .job-status__item {
        margin-bottom: 15px;
        .text-default {
          @include setTextStyle(12px, 13px, normal);
        }
        .count {
          @include setTextStyle(20px, 24px, normal);
        }
      }
    }
  }

  #upload-job {
    .upload-job__btn {
      @include setTextStyleColor(14px, 16px, normal, #fff);
    }
  }

  #list-job {
    overflow: unset;
    .search__form {
      width: 100%;
      margin-top: 20px;
      .search__label {
        margin-right: 0;
      }
    }
    .content {
      position: relative;
      .content__title {
        background-color: #fff;
        z-index: 1;
        width: 100%;
        padding: 19px 0 22px 8px;
        .content__title--left-text {
          flex-direction: unset;
          width: 100%;
          flex-wrap: wrap;
          .total-list {
            padding-left: 10px;
          }
        }
        .content__title--action {
          width: 100%;
          .search__form {
            width: 100%;
          }
        }
      }
    }
    .job__list--body {
      max-height: unset;
      .list__content--item {
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
        border-radius: 4px;
        margin: 0 auto 20px auto;
        width: 95%;
        align-items: unset;
        border: 0.5px solid #BBBBBB;
        height: unset;
        position: relative;
        .job-title {
          width: 100%;
          padding: 15px 150px 15px 15px;
          background-color: #F4F4F4;
          border-top-left-radius: 4px;
          border-top-right-radius: 4px;
          .text-default {
            @include setTextStyleColor(14px, 16px, bold, #4A4A4A);
            margin-bottom: 5px;
          }
        }
        .basic-info {
          width: 100%;
          padding: 15px 15px 10px;
          border-bottom: 1px solid #E8E8E8;
          .basic-info--left, .basic-info--right {
            flex-direction: column;
          }

          .basic-info--left {
            margin-right: 60px;
          }
          .basic-info--content {
            display: flex;
            align-items: center;
            margin: 5px 0;
            width: unset;
            justify-content: unset;
            padding-right: 0;
            .title--mobile {
              min-width: 80px;
              @include setTextStyleColor(12px, 14px, 500, #555555);
            }
            .text-list-default {
              @include setTextStyleColor(12px, 14px, normal, #454545);
              justify-content: unset;
            }
          }
        }
        .status {
          position: absolute;
          top: 12px;
          right: 15px;
          width: unset;
          span {
            padding: 2px 8px;
            font-size: 11px;
            line-height: 14px;
          }
        }
        .list-action {
          width: 100%;
          padding: 10px 0;
          display: flex;
          justify-content: center;

          .list-action--button {
            font-size: 12px;
            svg {
              width: 7px;
              margin-left: 3px;
            }
          }

          .action-item {
            background-color: #F4F4F4;
            border-radius: 50%;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            margin: 0 5px;
            padding: 0;
            svg {
              width: 13px;
            }
          }

          .dropdown-menu {
            .dropdown-item {
              font-size: 12px;
            }
          }
        }
      }

      .lazy-loading {
        height: 0;
      }
    }
  }

  .select2-container--default {
    .job_management-select2-dropdown {
      .select2-results__option {
        font-size: 12px;
      }
    }
  }
}
/*==============================Max-width: 767.98px=============================*/
@media screen and (min-width: 767px) {
  .col-md-unset {
    max-width: unset !important;
    flex: 0 !important;
  }
}
@media screen and (max-width: 767.98px) {
  #list-job {

    .content {
      .content__title--action {
        padding: 12px 10px 16px 10px;
      }
    }

    .upload-job__btn {
      @include setTextStyle(14px, 11px, 500);
      padding: 12px 17px;
      box-shadow: 3px 3px 5px #f5b5b5;
      svg {
        width: 12px;
        height: 12px;
      }
    }

    .search__form {
      .search__label {
        .search__input {
          @include setTextStyleColor(12px, 30px, 600, $color_blue);
          &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            @include setTextStyleColor(12px, 30px, 600, $color_blue);
          }

          &:-ms-input-placeholder { /* Internet Explorer 10-11 */
            @include setTextStyleColor(12px, 30px, 600, $color_blue);
          }

          &::-ms-input-placeholder { /* Microsoft Edge */
            @include setTextStyleColor(12px, 30px, 600, $color_blue);
          }
        }
      }
    }

    .date-ranger {
      .calender {
        @include setTextStyleColor(12px, 30px, 600, $color_blue);
        padding: 5px 11px 4px;

        &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
          @include setTextStyleColor(12px, 30px, 600, $color_blue);
          opacity: 1; /* Firefox */
        }

        &:-ms-input-placeholder { /* Internet Explorer 10-11 */
          @include setTextStyleColor(12px, 30px, 600, $color_blue);
        }

        &::-ms-input-placeholder { /* Microsoft Edge */
          @include setTextStyleColor(12px, 30px, 600, $color_blue);
        }
      }

      svg {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 4%;
        cursor: pointer;
        width: 9px;
      }
    }

    .basic-info {
      flex-direction: column;
    }

    .job-title {
      padding: 15px 110px 15px 15px;
    }

    .job__list--body {
      .list__content--item {
        .basic-info {
          justify-content: space-between;
          .basic-info--left {
            margin-right: unset;
          }
        }
        .list-action {
          .list-action--button {
            font-size: 12px;
            padding: 0 10px;
            svg {
              width: 7px;
              margin-left: 5px;
            }
          }
        }
      }
    }
  }

  .edit__status--label {
    width: 100%;
  }

  .select2-container--default {
    .workflow-select2-selection {
      .select2-selection__arrow {
        b {
          border-width: 6px 5px 0 5px !important;
        }
      }
    }
  }

  .select2-container--default {
    .job_management-select2-selection {
      .select2-selection__rendered {
        @include setTextStyleColor(12px, 40px, 600, $color_blue);
        padding-right: 25px;
      }
      .select2-selection__arrow {
        height: 33px;
        right: 0;

        b {
          border-width: 6px 5px 0 5px;
          top: 48%;
          margin-left: -7px;
          margin-top: 0;
        }
      }
    }
  }

  /*===============================MODAL==========================*/
  #service_detail_modal {
    .modal-dialog {
      max-width: unset;

      .modal-header {
        padding: 16px 22px;
        h5 {
          @include setTextStyleColor(16px, 19px, 500, #555555);
        }
      }

      .modal-body {
        padding: 0 16px 10px 16px;

        &--content {
          display: unset;
        }

        &--item {
          min-width: unset;
          padding: 15px 0;
          flex-direction: unset;
          justify-content: space-around;

          &:first-child {
            min-width: unset;
            align-items: center;
            padding-right: 0;
            padding-left: 0;
          }

          .count {
            @include setTextStyleColor(20px, 28px, 300, #262626);
            min-height: unset;
          }

          .text-default--modal {
            min-height: 40px;
            &:first-child {
              padding-right: 10px;
            }
          }
        }

        .job-name--modal {
          @include setTextStyleColor(9px, 12px, 500, #fff);
          width: unset;
          height: unset;
          margin-bottom: 0;
          padding: 2px 7px;
          svg {
            margin-right: 2px;
            width: 7px;
          }
        }

        .name-service--modal {
          @include setTextStyleColor(12px, 14px, 500, #303030);
          text-align: center;
          min-height: unset;
          &:after {
            display: none;
          }
        }

        .text-default--modal {
          display: inline-block;
          @include setTextStyle(12px, 14px, normal);
        }
      }

      .modal-footer {
        .research-service {
          @include setTextStyle(12px, 16px, normal);
          width: 100%;
          svg {
            margin-left: 3px;
            width: 11px;
          }
        }

        .btn-cancel, .btn-save {
          @include setTextStyleColor(14px, 16px, 500, #fff);
        }

        .btn-cancel {
          width: 35%;
          height: 39px;
        }

        .btn-save {
          width: 59%;
          height: 39px;
        }
      }
    }
  }

  #select_service_modal {
    .modal-dialog {
      max-width: unset;

      .modal-header {
        padding: 16px 22px;
        h5 {
          @include setTextStyleColor(16px, 19px, 500, #555555);
        }
      }

      .modal-body {
        display: flex;
        justify-content: center;

        &--item {
          padding: 12px;
          flex-direction: column;

          .text-default {
            @include setTextStyle(14px, 19px, normal);
            span {
              @include setTextStyle(14px, 19px, 500);
            }
          }
        }

        &--overlay {
          &_sub {
            @include setTextStyleColor(16px, 18px, 500, #fff);
          }
          &_button {
            span {
              @include setTextStyleColor(14px, 16px, 500, #fff);
            }
          }
        }

        .count {
          @include setTextStyleColor(18px, 21px, normal, #535353);
          margin-left: 6px;
        }

        .amazing-job--modal {
          @include setTextStyleColor(14px, 16px ,500, $color_text_amazing-job);
        }

        .premium-job--modal {
          @include setTextStyleColor(14px, 16px ,500, $color_text_premium-job);
        }

        .hot-job--modal {
          @include setTextStyleColor(14px, 16px ,500, $color_text_hot-job);
        }

        .basic-job--modal {
          @include setTextStyleColor(14px, 16px ,500, $color_text_basic-job);
        }
      }

      .modal-footer {
        padding: 10px 20px;
        justify-content: flex-start;
        border-top: none;

        .research-service {
          margin-bottom: 15px;
        }

        .btn-save {
          @include setTextStyle(12px, 19px, 500);
        }

        .timed-posting {
          @include setTextStyle(12px, 19px, 500);
          svg {
            width: 12px;
            left: 12px;
          }
          .pj-form__settime-text {
            margin-left: 10px;
          }
          .post_job_settime {
            padding-left: 22px;
          }
        }

        .pj-form__settime-text {
          margin-right: 0;
        }

        .timed-posting, .btn-save {
          width: 100%;
        }


        .button-disabled {
          background: #C8C8C8;
          color: #AFAEAE;
          cursor: no-drop;
          .pj-form__settime-text {
            color: #AFAEAE;
          }
          svg {
            path, rect {
              fill: #AFAEAE;
            }
          }
        }
        .btn:disabled {
          opacity: 1;
        }
      }
    }
  }

  #time_countdown-inactive_modal {
    .modal-dialog {
      .modal-header {
        padding: 16px 22px;
        h5 {
          @include setTextStyleColor(16px, 19px, 500, #555555);
        }
      }

      .modal-body {
        padding: 30px 0 50px;
        &--content {
          &-sub {
            @include setTextStyleColor(14px, 19px, normal, #555555);
          }

          &-time {
            @include setTextStyleColor(20px, 24px, normal, #285F15);
            margin: 10px 0 28px;
          }

          &-subdes {
            @include setTextStyleColor(14px, 19px, 500, #555555);
          }
        }
      }

      .modal-footer {
        .btn-save {
          @include setTextStyleColor(12px, 14px, 500, #fff);
          width: 45%;
        }
        .change-service {
          @include setTextStyleColor(12px, 14px, 500, #4D4D4D);
          width: 45%;
        }
      }
    }
  }

  .select2-container--default.select2-container--open {
    .select2-selection--single {
      .select2-selection__arrow {
        b {
          border-color: transparent transparent #fff transparent;
          border-width: 0 5px 6px 5px;
        }
      }
    }
  }
}
/*==============================Max-width: 575.98px==============================*/
@media screen and (max-width: 575.98px) {
  .job-card {
    .job-card--content {
      width: 100%;
    }

    &--title {
      @include setTextStyleColor(14px, 16px, 500, #4A4A4A);
      display: flex;
      span {
        width: unset;
      }
    }

    &__item {
      padding: 10px 15px 15px 15px;

      .name-service {
        @include setTextStyleColor(12px, 18px, normal, #4A4A4A);
      }

      .count {
        @include setTextStyle(20px, 28px, 300);
      }

      .show-details {
        text-align: right;
        margin-top: 0;
      }
    }
  }

  .content {
    .content__title--action {
      .edit__label {
        &:first-child {
          .select2 {
            width: 105px !important;
          }
        }

        &:last-child {
          .select2 {
            width: 145px !important;
          }
        }
      }
    }
  }

  #list-job  {
    .date-upload, .date-expired, .view, .recruitment {
      width: unset;
    }

    .job__list--body {
      .list__content--item {
        .view, .recruitment {
          padding-right: 0;
        }
      }
    }
  }
}

/*==============================Max-width: 375.98px==============================*/
@media screen and (max-width: 375.98px) {
  #job-status {
    .job-status__list {
      .job-status__item {
        padding: 13px 5px;
        min-height: 83px;
        justify-content: space-between;
        display: flex;
        flex-direction: column;
      }
    }
  }
  #list-job {
    .job__list--body {
      .list__content--item {
        .job-title {
          padding: 15px 120px 15px 15px;
        }
      }
    }
  }
  .edit__status--label {
    width: 77%;
  }
}