/*=============================COMMON SCSS DASHBOARD ==========================*/

button {
  border: none;
}

p, label, h1, h2, h3, h4, h5 {
  margin-bottom: 0;
}

.header-shadow {
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.08);
}

.height__list--body {
  counter-reset: rowNumber;

  .numberical-order {
    &:first-child {
      counter-increment: rowNumber;

      &:before {
        content: counter(rowNumber);
        @include setTextStyleColor(16px, 22px, bold, #555555);
      }
    }
  }
}

.input-hidden {
  position: absolute;
  opacity: 0;
  visibility: hidden;
}

.content__list--body {
  &::-webkit-scrollbar {
    padding-right: 0;
    width: 5px;
    background-color: transparent;
    border-radius: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #C4C4C4;
    border-radius: 5px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #C4C4C4;
  }



  .list__content--item {
    min-height: 86px;
    align-items: center;

    .card-mobile {
      align-items: center;
    }

    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      height: 1px;
      width: 97%;
      background-color: #F0F0F0;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

@-moz-document url-prefix() {
  .content__list--body.scroller {
    scrollbar-color:#C4C4C4 transparent ;
    scrollbar-width: thin;
  }
}

.content__list--action {
  .list__action--item {
    margin-right: 15px;
  }
  .action__content--amount {
    @include setTextStyleColor(16px, 19px, normal, #555555);
  }

  .action__content {
    margin: 0 3px;
    @include setTextStyleColor(14px, 19px, 600, #595959);
  }

  .action__content--delete {
    background: #134D6A;
    border-radius: 4px;
    padding: 5px 10px;
    color: #fff;

    svg {
      margin: 0 3px 2px 0;
    }
  }
}

.content {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 2px;

  .content__title {
    padding: 17px;

    h4 {
      @include setTextStyleColor(18px, 21px, 600, $color_black_bold);

      svg {
        margin-right: 8px;
      }
    }

    .content__title--right {
      a {
        @include setTextStyleColor(16px, 19px, normal, $color_black_bold);
        text-decoration: underline;
      }
    }
  }

  .content__list {
    .content__list--title {
      background-color: #FAFAFA;
      border-bottom: 1px solid #EBEBEB;
      border-top: 1px solid #EBEBEB;
      min-height: 48px;

      .list-title {
        min-height: 33px;
        .status {
          width: 150px;
          justify-content: center;
        }
      }
    }
    .content__list--bottom {
      background-color: #fff;
      height: 60px;
      box-shadow: 0px -3px 4px rgba(0, 0, 0, 0.08);
    }
  }
}

.select2-container--default {
  .dashboard-select2-selection {
    height: 33px;
    border-radius: 0;
    background: #F4F4F4;
    border: none;

    .select2-selection__rendered {
      padding-left: 12px;
      @include setTextStyleColor(14px, 36px, 600, $color_blue);
      padding-right: 33px;
    }

    .select2-selection__arrow {
      height: 33px;
      right: 7px;

      b {
        border-color: rgb(22, 66, 86) transparent transparent transparent;
        border-width: 8px 7px 0 7px;
      }
    }

    &:focus {
      outline: none;
    }
  }

  .dashboard-select2-dropdown {
    border: none;
    border-radius: 0;
    background-color: #FFFFFF;
    box-shadow: $searchcv_dropdown_boxshadow;
    animation: show-height 0.2s both;

    .select2-results {
      &__option {
        font-size: 14px;

        &--highlighted {
          background-color: $color_button;
        }
      }
    }
  }
}

.select2-container--default.select2-container--open {
  .select2-selection--single {
    background-color: $color_blue;

    .select2-selection__arrow {
      b {
        border-color: transparent transparent #fff transparent;
        border-width: 0 7px 8px 7px;
      }
    }

    .select2-selection__rendered, .select2-selection__placeholder {
      color: #fff;
    }
  }
}

.daterangepicker {
  animation: show-date .3s both;

  .ranges {
    li.active {
      background-color: $color_navbar_background;
    }
  }

  td.active {
    background-color: $color_navbar_background;

    &:hover {
      background-color: $color_navbar_background;
    }
  }

  .drp-buttons {
    .applyBtn {
      background-color: $color_navbar_background;
      border: none;

      &:hover {
        background-color: $color_navbar_background;
      }
    }
  }
}

.pagination {
  justify-content: center;
  align-items: center;
  margin: 30px 0;
  .page-item {
    margin: 0 4px;
    padding: 0;
    .page-link {
      padding: 0;
      width: 66px;
      height: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .active {
      &:focus {
        border: 1px solid #1C4355;
      }
    }
    .page-item--lable {
      span {
        @include setTextStyleColor(14px, 21px, normal, #1C4355);
        margin-left: 11px;
        margin-right: 4px;
      }
      .go-to__input {
        width: 50px;
        text-align: center;
        border: 1px solid #D9D9D9;
        border-radius: 2px;
        @include setTextStyleColor(14px, 21px, normal, #1C4355);
        height: 32px;
      }
    }
  }
  .page {
    border: 1px solid #D9D9D9;
    height: 32px;
    width: 66px;
    display: flex;
    align-items: center;
    justify-content: center;
    @include setTextStyleColor(14px, 21px, normal, #1C4355);
  }
  .prev, .next {
    height: 32px;
    width: 32px;
    border: 1px solid #D9D9D9;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:active {
      border: 1px solid #1C4355;
    }
  }
  .disabled {
    svg {
      path {
        fill: #D9D9D9;
      }
    }
  }
  .page-link {
    @include setTextStyleColor(14px, 21px, normal, #1C4355);
    &:focus {
      box-shadow: none;
    }
    &:hover {
      background-color: transparent;
    }
  }
}

#dashboard {
  margin-top: 43px;
}

.see-all-link {
  @include setTextStyleColor(14px, 16px, 500, #1C4355);
  padding: 20px 0;
  text-decoration: underline;
  &:hover {
    color: #1C4355;
    text-decoration: underline;
  }
}

/*=============================INFO=================================*/
#info {
  margin: 12px 0 32px;

  .info__content {
    background-color: #fff;
    padding: 41px 96px 41px 37px;
    overflow: hidden;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    .info__line {
      width: 1px;
      height: 40px;
      background-color: #DBDBDB;
    }

    .info__left {
      width: 44%;
      .info__left--text {
        padding-left: 24px;

        .info__line {
          height: 20px;
        }

        .db_count {
          @include setTextStyleColor(18px, 28px, normal, rgba(0, 0, 0, 0.75));
        }

        h3 {
          @include setTextStyleColor(24px, 28px, bold, $color_black_bold);
          margin-bottom: 5px;

          .premium-account {
            background: linear-gradient(90deg, #D9CD65 -6.36%, #B8730B 110.91%);
            border-radius: 4px;
            @include setTextStyleColor(12px, 14px, 500, #fff);
            padding: 2px 8px;
            margin-left: 11px;
            position: relative;
            top: -5px;
          }
        }

        .account-info {
          display: flex;
          align-items: center;
          margin-top: 4px;
        }

        .account-level {
          @include setTextStyleColor(16px, 19px, normal, rgba(0, 0, 0, 0.75));
          display: inline-flex;
          align-items: center;
        }

        .gmail-account {
          @include setTextStyleColor(16px, 19px, normal, $color_light_gray);
          display: block;
          word-break: break-word;
        }
      }
    }

    .info__right {
      width: 56%;
      background-color: #fff;
      justify-content: flex-end;
      .info__right--content {
        display: flex;
        justify-content: center;
      }

      .total__item {
        padding:0 20px;
        border-right: 1px solid #F0F0F0;

        &:last-child {
          border-right: none;
        }

        p {
          @include setTextStyleColor(16px, 22px, normal, $color_gray);
          margin-bottom: 5px;
        }

        .total__item--index {
          display: flex;
          align-items: center;

          .db_count {
            @include setTextStyleColor(32px, 28px, normal, #595959);
          }
        }
      }

      .unused-jobs {
        align-items: flex-end;
        .unused-jobs__list {
          list-style: none;
          padding-left: 0;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 0;
          margin-top: 4px;
          .unused-jobs__item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 0 10px;
            .db_count {
              @include setTextStyleColor(24px, 20px, normal, #515151);
              display: block;
              margin-bottom: 3px;
            }
            .premium-job, .hot-job, .basic-job {
              display: block;
              @include setTextStyle(11px, 13px, 500);
            }
            .premium-job {
              color: $color_premium-job;
            }
            .hot-job {
              color: $color_hot-job;
            }
            .basic-job {
              color: $color_basic-job;
              padding-left: 5px;
            }
          }
        }
      }
    }

    &--avt {
      img {
        width: 78px;
        height: auto;
      }
    }
  }
}

/*=============================LIST SERVICE=================================*/
.service {
  background-color: #fff;
  margin-bottom: 20px;
  margin-right: 10px;

  &__content {
    padding: 30px 86px 21px 17px;

    &--title {
      &-text {
        @include setTextStyleColor(18px, 21px, 500, #06202D);
        margin-bottom: 6px;
      }
      &-link {
        @include setTextStyleColor(14px, 16px, normal, #06202D);
        text-decoration: underline;
        cursor: pointer;
      }
    }

    &--item {
      margin-left: 80px;

      p {
        @include setTextStyleColor(16px, 22px, normal, #000);
      }

      &-total {
        .db_count {
          @include setTextStyleColor(28px, 28px, 300, #6C6201);
        }
      }
    }
  }
}

/*=============================LIST CANDIDATE=================================*/
#db_list-candidate {
  margin-right: 10px;
  margin-bottom: 43px;

  .list__content--item {
    .status {
      justify-content: center;
      display: flex;
      width: 150px;
      span {
        font-size: 14px;
        line-height: 22px;
        font-weight: normal;
        border-radius: 30px;
        padding: 1px 11px;
      }
    }
  }

  .content__list {
    .title__card--mobile {
      width: 240px;
      padding-right: 20px;
    }

    .job-title {
      width: 270px;
      padding-right: 35px;
    }

    .date-apply {
      width: 150px;
      margin-right: 25px;
      justify-content: center;
      display: flex;
    }

    .numberical-order {
      width: 62px;
    }

    &--body {
      max-height: 516px;
      overflow: auto;
    }
  }
}

/*=============================LIST JOB=================================*/
#db_list-job {
  margin-right: 10px;

  .content__list {
    &--body {
      .list__content--item {
        .status {
          width: 150px;
          justify-content: center;
          display: flex;
          span {
            font-size: 14px;
            line-height: 22px;
            font-weight: normal;
            border-radius: 30px;
            padding: 1px 11px;
          }
        }
      }
    }

    .title__card--mobile {
      width: 490px;
      padding-right: 50px;
    }

    .date-upload {
      width: 210px;
    }

    .numberical-order {
      width: 62px;
    }
  }

  .numberical-order {
    width: 62px;
  }

  .content__list--body {
    max-height: 516px;
    overflow: auto;
    .list__content--item {
      margin-right: 0;
      margin-left: 0;
    }
  }
}

/*=============================COMPLETE===============================*/
.body__right {
  margin-left: 10px;

  .upload-recruitment, .candidate-search {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    .upload-recruitment--btn, .candidate-search--btn {
      height: 83px;
      margin-bottom: 3px;

      .btn-text--des {
        @include setTextStyleColor(18px, 16px, 500, #fff);
        margin-bottom: 5px;
      }

      .btn-text--subdes {
        @include setTextStyleColor(16px, 16px, normal, #fff);
      }

      svg {
        margin-right: 17px;
      }
    }
  }

  .upload-recruitment {
    .upload-recruitment--btn {
      background: linear-gradient(90.19deg, #D63A1C 0.17%, #EA5B40 99.87%);
      box-shadow: 0 2px 0 rgba(0, 0, 0, 0.05);
      border-radius: 2px;
      width: 100%;

      svg {
        position: relative;
      }

      &:hover {
        svg {
          animation: searchScale 1.5s both;
        }
      }
    }
  }

  .candidate-search {
    .candidate-search--btn {
      background: linear-gradient(90deg, #022537 0%, #02344D 100%);
      border: 1px solid #D9D9D9;
      box-shadow: 0 2px 0 rgba(0, 0, 0, 0.016);
      border-radius: 2px;
      width: 100%;

      svg {
        position: relative;
      }

      &:hover {
        svg {
          animation: searchScale 1.5s both;
        }
      }
    }
  }

  .box-support {
    background: #FFFFFF;
    border-radius: 2px;
    margin-top: 19px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    &--item, &--title {
      border-bottom: 1px solid #EEEEEE;
      padding: 25px 0;
    }

    &--title {
      padding-left: 38px;

      h4 {
        @include setTextStyleColor(18px, 21px, 500, #06202D);
      }
    }

    &--item {
      padding-left: 53px;

      &_text {
        padding-left: 25px;

        h4, .support-link {
          @include setTextStyleColor(16px, 19px, 600, #525252);
        }

        p {
          @include setTextStyleColor(16px, 19px, normal, #484848);
        }
      }

      &_link {
        white-space: nowrap;
        margin-right: 5px;
        margin-bottom: 4px;
        display: inline-block;
        @include setTextStyleColor(16px, 19px, normal, #484848);
      }
    }

    .coins-support {
      h4 {
        padding-bottom: 8px;
      }
    }

    .customer-support {
      h4 {
        padding-bottom: 4px;
      }
    }
  }
}


/*===============================MODAL==========================*/

.select2-container--default {
  .dashboard-select2-selection {
    height: 33px;
    border-radius: 0;
    background: #EFEFEF;
    border: none;

    .select2-selection__rendered {
      padding-left: 12px;
      @include setTextStyleColor(14px, 36px, 600, $color_blue);
      padding-right: 33px;
    }

    .select2-selection__arrow {
      height: 33px;
      right: 7px;

      b {
        border-color: rgb(22, 66, 86) transparent transparent transparent;
        border-width: 8px 7px 0 7px;
        top: 45%;
      }
    }

    &:focus {
      outline: none;
    }
  }

  .select2-selection--single {
    .select2-selection__placeholder {
      color: $color_blue;
    }
  }

  .dashboard-select2-dropdown {
    border: none;
    border-radius: 0;
    background-color: #FFFFFF;
    box-shadow: $searchcv_dropdown_boxshadow;
    animation: show-height 0.2s both;

    .select2-results {
      &__option {
        font-size: 14px;

        &--highlighted {
          background-color: $color_button;
        }
      }
    }
  }
}

#error_report_modal {
  .modal-dialog {
    max-width: 536px;
    .modal-content {
      .modal-header {
        padding: 23px 40px;
        .modal-title {
          @include setTextStyleColor(18px, 21px, 500, $color_gray_bold);
          display: flex;
          align-items: center;
          svg {
            margin-bottom: 3px;
            margin-right: 13px;
          }
        }

      }
      .modal-body {
        padding: 38px 43px;
        &--des {
          @include setTextStyleColor(16px, 19px, normal, $color_gray_bold);
          display: block;
        }
        &--label {
          .box_error-report {
            @include setTextStyleColor(16px, 19px, normal, #999999);
            background: #F8F8F8;
            border: 1px solid #CECCCC;
            border-radius: 2px;
            width: 455px;
            height: 169px;
            padding: 12px 17px;
            margin: 19px 0;

            &:focus {
              &::-webkit-input-placeholder {
                color: transparent;
              }

              &:-ms-input-placeholder {
                color: transparent;
              }

              &::placeholder {
                color: transparent;
              }
            }
          }
          .modal__upload-file--input {
            position: absolute;
          }
          .modal__upload-file {
            @include setTextStyleColor(14px, 16px, normal, #525252);
            background: #F7F7F7;
            border-radius: 4px;
            padding: 9px 15px;
            cursor: pointer;
            svg {
              margin-right: 5px;
            }
          }
        }

        &--list-file {
          margin-top: 25px;
          .gallery-item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border: 1px solid #eeeeee;
            padding: 5px;
            margin-bottom: 10px;
            height: 100%;
            .gallery-item__image {
              min-width: 40px;
              height: 40px;
              background-size: cover;
              background-position: center;
            }
            .gallery-item__title {
              margin-bottom: 0;
              overflow: hidden;
              padding-left: 5px;
              display: -webkit-box;
              word-break: break-word;
              text-overflow: ellipsis;
              -webkit-line-clamp: 1;
              -webkit-box-orient: vertical;
              max-height: 28px;
              @include setTextStyleColor(14px, 23px, normal, #1890FF);
            }
            .gallery-item__delete {
              background-color: transparent;
              &:hover {
                i {
                  color: red;
                }
              }
            }
          }
        }
      }
      .modal-footer {
        .btn-save {
          background: linear-gradient(90.19deg, #D63A1C 0.17%, #EA5B40 99.87%);
          box-shadow: 0 2px 0 rgba(0, 0, 0, 0.043);
          border-radius: 4px;
          color: #fff;
          width: 170px;
          height: 39px;
        }
      }
    }
  }
}

#service_detail_modal {
  .modal-dialog {
    max-width: 795px;

    .modal-header {
      padding: 22px 27px;
      h5 {
        @include setTextStyleColor(18px, 21px, 500, #555555);
      }
    }

    .modal-body {
      padding: 0 16px 10px 16px;

      &--content {
        display: flex;
        position: relative;
      }

      &--item {
        min-width: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 55px;

        &:first-child {
          min-width: 130px;
          align-items: flex-start;
          padding-left: 30px;
          padding-right: 25px;
        }

        &:nth-child(2), &:nth-child(4) {
          background: rgba(245, 245, 245, 0.5);
        }

        .count {
          @include setTextStyleColor(32px, 28px, 300, #262626);
          min-height: 75px;
        }

        .text-default--modal {
          &:first-child {
            padding-right: 10px;
          }
        }
      }

      .job-name--modal {
        @include setTextStyleColor(14px, 15px, 500, #fff);
        border-radius: 30px;
        width: 126px;
        height: 27px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 48px;
        svg {
          margin-right: 4px;
        }
      }

      .name-service--modal {
        display: block;
        @include setTextStyleColor(14px, 16px, 500, #303030);
        padding-top: 6px;
        min-height: 75px;
        position: relative;

        &:after {
          content: "";
          position: absolute;
          height: 1px;
          width: 730px;
          background: #E3E1E1;
          border-radius: 0 0 4px 4px;
          left: -10px;
          bottom: 19px;
        }

        &:first-child {
          &:after {
            display: none;
          }
        }

        &:nth-child(2) {
          width: 88%;
          padding-top: 2px;
        }

        &:last-child {
          width: 92%;
          padding-top: 2px;

          &:after {
            display: none;
          }
        }
      }

      .text-default--modal {
        display: inline-block;
      }

      .amazing-job--modal {
        background: linear-gradient(90deg, #4884F3 -6.36%, #5727C4 110.91%);
        position: relative;
        overflow: hidden;

        &:before {
          content: '';
          position: absolute;
          width: 8px;
          height: 40px;
          top: 50%;
          left: -10%;
          transform: translate(-50%, -50%) rotate(35deg);
          background-color: #fff;
          opacity: .5;
          box-shadow: 0 0 10px #fff;
          animation: glass-normal 1.5s both infinite ease-in-out;
          z-index: 3;
        }

      }

      .premium-job--modal {
        background: linear-gradient(90deg, #D4BF57 -6.36%, #BF861E 110.91%);
      }

      .hot-job--modal {
        background: linear-gradient(90deg, #F85A5B 0%, #DA2B2C 100%);
      }

      .basic-job--modal {
        background: #A5A5A5;
      }
    }

    .modal-footer {
      border-top: none;

      .research-service {
        text-decoration: underline;
        color: #06202D;
        margin-right: 15px;
        @include setTextStyleColor(14px, 16px, normal, #06202D);
        svg {
          margin-left: 3px;
        }
      }

      .btn-cancel {
        background: #B9B9B9;
        box-shadow: 0 2px 0 rgba(0, 0, 0, 0.043);
        border-radius: 4px;
        @include setTextStyleColor(16px, 19px, 500, #fff);

      }

      .btn-save {
        background: #D67F1E;
        box-shadow: 0 2px 0 rgba(0, 0, 0, 0.043);
        border-radius: 4px;
        @include setTextStyleColor(16px, 19px, 500, #fff);
      }

      .btn-cancel, .btn-save {
        width: 170px;
        height: 39px;
        transition: all .2s;
        padding: 0;

        &:active {
          transform: scale(0.9);
        }
      }
    }
  }
}