@media screen and (max-width: 1499.98px) {
  #body-content {
    .body__right {
      .box-support {
        .box-support--item {
          padding-left: 27px;
        }
      }
    }
  }

  #info {
    .info__content {
      padding: 41px 25px;
      .info__right {
        .total__item {
          padding: 5px 7px;
        }
      }
    }
  }

  .service {
    &__content {
      padding: 30px 25px 21px 17px;
      &--item {
        margin-left: 46px;
      }
    }
  }

  #db_list-candidate {
    .list__content--item {
      .status {
        span {
          @include setTextStyle(11px, 14px, normal);
        }
      }
    }
    .content__list {
      .title__card--mobile {
        width: 180px;
      }
      .job-title {
        width: 230px;
        padding-right: 20px;
      }
      .date-apply {
        width: 115px;
        margin-right: 0;
      }
      .numberical-order {
        width: 50px;
      }
    }
  }

  #db_list-job {
    .content__list {
      &--body {
        .list__content--item {
          .status {
            span {
              @include setTextStyle(11px, 14px, normal);
            }
          }
        }
      }
      .title__card--mobile {
        width: 390px;
        padding-right: 50px;
      }

      .date-upload {
        width: 135px;
      }

      .numberical-order {
        width: 50px;
      }
    }
  }
}

@media screen and (max-width: 1199.98px) {

  #info {
    .info__content {
      .info__left, .info__right {
        justify-content: left;
      }
      .info__left {
        width: 100%;
        .info__left--text {
          h3 {
            font-size: 22px;
          }
        }
      }
      .info__right {
        width: 100%;
        .info__right--content {
          justify-content: space-between;
          width: 100%;
        }
        .total__item {
          p {
            @include setTextStyleColor(14px, 16px, normal, $color_gray);
          }
          .total__item--index {
            .db_count {
              @include setTextStyle(28px, 28px, normal);
            }
          }
        }
      }
    }
  }

  .service {
    &__content {
      padding: 20px 17px 21px 17px;
      &--item {
        margin-left: 19px;
      }

      &--title {
        &-text {
          @include setTextStyleColor(16px, 21px, 500, #06202D);
        }
        &-link {
          @include setTextStyleColor(14px, 16px, normal, #06202D);
        }
      }

      &--item {
        p {
          @include setTextStyleColor(14px, 22px, normal, #000);
        }

        &-total {
          .db_count {
            @include setTextStyleColor(24px, 28px, 300, #6C6201);
          }
        }
      }
    }
  }

  .body__right {
    .upload-recruitment, .candidate-search {
      .upload-recruitment--btn, .candidate-search--btn {
        height: 70px;
        .btn-text--des {
          @include setTextStyle(16px, 14px, 500);
        }
        .btn-text--subdes {
          @include setTextStyle(14px, 14px, normal);
        }
        svg {
          width: 24px;
        }
      }
    }

    .box-support {
      &--title {
        padding-left: 25px;
        h4 {
          @include setTextStyle(16px, 18px, 500);
        }
      }

      &--item {
        &_text {
          padding-left: 20px;
          h4, .support-link {
            @include setTextStyle(14px, 16px, 600);
          }

          p {
            @include setTextStyle(14px, 16px, normal);
          }
        }

        &_link {
          @include setTextStyle(14px, 16px, normal);
        }

        svg {
          width: 25px;
        }
      }
    }
  }

  .content {
    .content__list {
      .content__list--title {
        .list-title {
          .status {
            width: 105px;
          }
        }
      }
    }
  }

  #db_list-candidate {
    .list__content--item {
      .status {
        width: 105px;
        span {
          padding: 3px 7px;
        }
      }
    }

    .content__list {
      .title__card--mobile {
        width: 150px;
      }
      .job-title {
        width: 165px;
        padding-right: 20px;
      }
      .date-apply {
        width: 120px;
        margin-right: 15px;
      }
      .numberical-order {
        width: 40px;
      }
    }
  }

  #db_list-job {
    .list__content--item {
      .status {
        width: 106px;
        span {
          padding: 3px 7px;
        }
      }
    }

    .content__list {
      .title__card--mobile {
        width: 325px;
        padding-right: 30px;
      }

      .date-upload {
        width: 90px;
        margin-right: 35px;
      }

      .list__content--item {
        .status {
          width: 106px;
          justify-content: center;
          display: flex;
        }
      }

      .numberical-order {
        width: 40px;
      }
    }
  }
}

@media screen and (max-width: 991.98px) {
  #dashboard {
    margin-top: 57px;
  }

  #info {
    margin: 12px 0 10px;
    .info__content {
      .info__right {
        margin-top: 17px;
      }
    }
  }

  .service {
    margin-right: 0;
    margin-bottom: 115px;
    min-height: 110px;
    &__content {
      padding: 12px 20px 14px 20px;

      &--title {
        display: flex;
        width: 100%;
        justify-content: space-between;
        &-text {
          @include setTextStyleColor(14px, 21px, 500, #06202D);
        }
        &-link {
          @include setTextStyleColor(12px, 16px, normal, #06202D);
        }
      }

      &--right {
        justify-content: space-between;
        margin-top: 7px;
      }

      &--item {
        margin-left: 0;

        p {
          @include setTextStyleColor(12px, 22px, normal, #000);
        }

        &-total {
          .db_count {
            @include setTextStyleColor(20px, 28px, 300, #6C6201);
          }
        }
      }
    }
  }

  .body__right {
    margin-bottom: 36px;
    position: absolute;
    width: 100%;
    top: 140px;

    .candidate-search, .upload-recruitment {
      width: 100%;

      .upload-recruitment--btn, .candidate-search--btn {
        height: 55px;
        .btn-text--des {
          @include setTextStyleColor(12px, 16px, 500, #fff);
          margin-bottom: 0;
        }
        .btn-text--subdes {
          @include setTextStyleColor(16px, 16px, normal, #fff);
        }
        svg {
          width: 20px;
        }
      }
    }

    .upload-recruitment {
      margin-right: 3px;
    }

    .candidate-search {
      margin-left: 3px;
    }
  }

  .text-list-title {
    @include setTextStyleColor(14px, 16px, bold, #555555);
  }

  .text-list-default {
    @include setTextStyleColor(14px, 16px, normal, #454545);
  }

  .content {
    .content__title {

      h4 {
        @include setTextStyleColor(16px, 19px, 600, $color_black_bold);
      }

      .content__title--right {
        position: absolute;
        bottom: 32px;
        left: 50%;
        transform: translateX(-50%);

        a {
          @include setTextStyleColor(14px, 16px, normal, $color_black_bold);
          text-decoration: underline;
        }
      }
    }
  }

  #info {
    .info__content {
      flex-direction: column;
      padding: 21px 15px;

      &--avt {
        img {
          width: 42px;
          height: auto;
        }
      }

      .info__left {
        padding-left: 9px;
        .info__left--text {
          h3 {
            @include setTextStyleColor(16px, 18px, bold, $color_black_bold);

            .premium-account {
              @include setTextStyleColor(8px, 9px, normal, #fff);
            }
          }

          .gmail-account {
            @include setTextStyleColor(14px, 16px, normal, rgba(0, 0, 0, 0.65));
          }
        }
      }

      .info__right {
        .total__item {
          border-right: none;

          p {
            margin-bottom: 5px;
            @include setTextStyleColor(12px, 14px, normal, $color_gray);
          }

          .total__item--index {
            .db_count {
              @include setTextStyleColor(18px, 24px, normal, #595959);
            }
          }
        }
        .unused-jobs {
          .unused-jobs__list {
            margin-top: 10px;

            .unused-jobs__item {
              .db_count {
                @include setTextStyleColor(16px, 20px, normal, #515151);
              }
            }
          }
        }
      }
    }
  }

  #profile {
    .profile__company--complete {
      .profile__company--complete-left {
        .profile__complete--text {
          h4 {
            @include setTextStyleColor(14px, 18px, normal, rgba(0, 0, 0, 0.85));
          }

          p {
            @include setTextStyleColor(14px, 18px, normal, $color-light-gray);
          }
        }
      }

      .profile__company--complete-right {
        .profile__complete--btn {
          @include setTextStyleColor(12px, 14px, normal, #06202D);
        }
      }
    }
  }

  .body__right {
    margin-left: 0;
    display: flex;
  }

  #db_list-candidate, #db_list-job {
    margin-right: 0;
    .content__list {

      .date-apply {
        justify-content: unset;
      }

      .content__list--body {
        max-height: unset;

        .list__content--item {
          box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
          border-radius: 4px;
          margin: 0 auto 20px auto;
          width: 95%;
          align-items: unset;

          &:after {
            display: none;
          }

          .body__list--item-text {
            flex-direction: column;
            width: 100%;
            position: relative;
          }

          .card-mobile {
            align-items: unset;
            border-radius: 4px;
          }
        }
      }

      .content__list--bottom {
        box-shadow: none;
      }

      .card-mobile {
        border: 0.5px solid #BBBBBB;
      }

      .title__card--mobile {
        width: 100%;
        padding: 12px 120px 12px 16px;
        background-color: #F4F4F4;

        .text-list-default {
          @include setTextStyleColor(14px, 16px, bold, #4A4A4A);
        }
      }

      .basic-info {
        width: 100%;
        flex-direction: column;
        padding: 15px 15px 10px;
        border-bottom: 1px solid #E8E8E8;

        .status {
          position: absolute;
          top: 12px;
          right: 15px;
          font-size: 11px;
          line-height: 14px;
        }

        .basic-info--content {
          width: 100%;
          display: flex;
          align-items: flex-start;
          margin: 5px 0;

          .title--mobile {
            display: flex;
            align-items: center;
            @include setTextStyleColor(12px, 14px, 500, #555555);
            width: auto;
            margin-right: 20px;
          }

          .text-list-default {
            @include setTextStyleColor(12px, 14px, normal, #454545);
            padding-right: 0;
            width: auto;
            margin-right: 20px;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 767px) {
  .col-md-unset {
    max-width: unset !important;
    flex: 0 !important;
  }
}

@media screen and (max-width: 767.98px) {

  .content {
    position: relative;
    .content__title {
      padding: 15px 19px 15px 12px;
      h4 {
        svg {
          width: 30px;
        }
      }
    }
  }

  .info__right--content {
    width: 100%;
  }

  #info {
    .info__content {
      align-items: flex-start;

      .info__left {
        justify-content: flex-start;
      }

      .info__right {
        justify-content: space-between;
      }
    }
  }

  #service_detail_modal {
    .modal-dialog {
      max-width: unset;

      .modal-header {
        padding: 16px 22px;
        h5 {
          @include setTextStyleColor(16px, 19px, 500, #555555);
        }
      }

      .modal-body {
        padding: 0 16px 10px 16px;

        &--content {
          display: unset;
        }

        &--item {
          min-width: unset;
          padding: 15px 0;
          flex-direction: unset;
          justify-content: space-around;

          &:first-child {
            min-width: unset;
            align-items: center;
            padding-right: 0;
            padding-left: 0;
          }

          .count {
            @include setTextStyleColor(20px, 28px, 300, #262626);
            min-height: unset;
          }

          .text-default--modal {
            min-height: 40px;
            &:first-child {
              padding-right: 10px;
            }
          }
        }

        .job-name--modal {
          @include setTextStyleColor(9px, 12px, 500, #fff);
          width: unset;
          height: unset;
          margin-bottom: 0;
          padding: 2px 7px;
          svg {
            margin-right: 2px;
            width: 7px;
          }
        }

        .name-service--modal {
          @include setTextStyleColor(12px, 14px, 500, #303030);
          text-align: center;
          min-height: unset;
          &:after {
            display: none;
          }
        }

        .text-default--modal {
          display: inline-block;
          @include setTextStyle(12px, 14px, normal);
        }
      }

      .modal-footer {
        .research-service {
          @include setTextStyle(12px, 16px, normal);
          width: 100%;
          svg {
            margin-left: 3px;
            width: 11px;
          }
        }

        .btn-cancel, .btn-save {
          @include setTextStyleColor(14px, 16px, 500, #fff);
        }

        .btn-cancel {
          width: 35%;
          height: 39px;
        }

        .btn-save {
          width: 59%;
          height: 39px;
        }
      }
    }
  }

  #error_report_modal {
    .modal-dialog {
      .modal-content {
        .modal-body--label {
          width: 100%;
          .box_error-report, .modal__upload-file {
            width: 100%;
            @include setTextStyle(14px, 16px, normal);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 575.98px) {
  .select2-container--default {
    .dashboard-select2-selection {
      .select2-selection__rendered {
        @include setTextStyleColor(12px, 36px, 600, $color_blue);
      }
    }
  }
}

@media screen and (max-width: 374.98px) {
  #info {
    .info__content {
      .info__left {
        .info__left--text {
          .account-info {
            display: unset;
          }
        }
      }

      .info__right {
        .info__right--content {
          justify-content: flex-end;
          flex-wrap: wrap;
        }

        .unused-jobs {
          align-items: flex-start;
          margin-top: 5px;
          .unused-jobs__list {
            justify-content: flex-start;
            .unused-jobs__item {
              &:first-child {
                margin-left: 0;
              }
            }
          }
        }
      }
    }
  }

  .body__right {
    .upload-recruitment, .candidate-search {
      .upload-recruitment--btn, .candidate-search--btn {
        svg {
          margin-right: 5px;
        }
      }
    }
  }
}

