.color-text {
    color: #0bceaf !important;
}

.color-text-hover:hover {
    color: #0bceaf !important;
}

.color-background {
    background-color: #0bceaf !important;
}

.color-background-hover:hover {
    background-color: #0bceaf !important;
}

.color-border {
    border-color: #0bceaf !important;
}

.color-border-hover:hover {
    border-color: #0bceaf;
}

.color-border-focus:focus {
    border-color: #0bceaf;
}