/*=============== Search CV ===============*/

/*=============== End Search CV ===============*/

/*=============== Post Job ===============*/

/*=============== End Post Job ===============*/

/*=============== Company Information ===============*/

/*=============== End Company Information ===============*/

/*=============== DASHBOARD ===============*/

/*=============== End DASHBOARD ===============*/

/*=============== @include ===============*/

/*=============== End @include ===============*/

/*=============== @extend ===============*/

.text-default,
.text-list-default {
  overflow: hidden;
  display: -webkit-box;
  word-break: break-word;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

/*=============== End @extend ===============*/

/*=============== Fixed Stylesheet ===============*/

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  padding-top: 61px;
  background-color: #E5E5E5;
  overflow-x: hidden;
}

button,
button:hover,
button:focus,
select,
select:hover,
select:focus,
input,
textarea {
  outline: none;
}

a:hover {
  text-decoration: none;
}

[type=button],
[type=reset],
[type=submit],
button,
input {
  -webkit-appearance: unset;
  -moz-appearance: unset;
}

input[type=number] {
  -moz-appearance: textfield;
}

/*=============== End Fixed Stylesheet ===============*/

/*=============== Common Class ===============*/

.element-hidden {
  display: none !important;
}

.text-list-title {
  font-size: 16px;
  line-height: 19px;
  font-weight: bold;
  color: #555555;
}

.text-list-default {
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
  color: #454545;
  word-break: break-word;
  -webkit-line-clamp: 2;
}

.text-default {
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
  color: #4A4A4A;
  margin-bottom: 5px;
  -webkit-line-clamp: 2;
}

.error-text {
  font-size: 12px;
  line-height: 14px;
  font-weight: normal;
  color: #FD1616;
  word-break: break-word;
}

.pointer {
  cursor: pointer;
}

.no-scroll {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

@media screen and (min-width: 1500px) {
  .container,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl {
    min-width: 1450px;
  }
}

@media screen and (min-width: 992px) {
  .app-mobile {
    display: none !important;
  }
}

@media screen and (max-width: 991.98px) and (min-width: 768px) {
  .app-tablet {
    display: none !important;
  }
}

@media screen and (max-width: 767.98px) {
  .app-desktop {
    display: none !important;
  }
}

/* Badge */

.tiny-badge {
  font-size: 12px;
  line-height: 16px;
  font-weight: normal;
  border-radius: 30px;
  white-space: nowrap;
  display: inline-block;
  padding: 0 0.4em;
  position: relative;
  top: -1px;
}

.tiny-badge.green {
  color: #147C18;
  background-color: #E6FEDB;
}

.tiny-badge.red {
  color: #A90A0A;
  background-color: #FFF3F3;
}

.tiny-badge.yellow {
  color: #886407;
  background-color: #FFF1CE;
}

.tiny-badge.gray {
  color: #5F5F5F;
  background-color: #F4F4F4;
}

.tiny-badge.skyblue {
  color: #245D70;
  background-color: #F4F9FE;
}

/* End Badge */

/*=============== End Common Class ===============*/

/*=============================KEYFRAMES================================*/

@-webkit-keyframes flyLeftToRight {
  0% {
    left: 0;
    opacity: 1;
  }

  49% {
    left: 100%;
    opacity: 0;
  }

  50% {
    left: -20%;
    opacity: 0;
  }

  100% {
    left: 0;
    opacity: 1;
  }
}

@keyframes flyLeftToRight {
  0% {
    left: 0;
    opacity: 1;
  }

  49% {
    left: 100%;
    opacity: 0;
  }

  50% {
    left: -20%;
    opacity: 0;
  }

  100% {
    left: 0;
    opacity: 1;
  }
}

@-webkit-keyframes searchScale {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(2);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes searchScale {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(2);
  }

  100% {
    transform: scale(1);
  }
}

@-webkit-keyframes show-height {
  0% {
    opacity: 0;
    transform: translateY(-60%) scaleY(0);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scaleY(1);
  }
}

@keyframes show-height {
  0% {
    opacity: 0;
    transform: translateY(-60%) scaleY(0);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scaleY(1);
  }
}

@-webkit-keyframes show-date {
  0% {
    opacity: 0;
    transform: translate(50%, -50%) scale(0);
  }

  100% {
    opacity: 1;
    transform: translate(0, 0) scale(1);
  }
}

@keyframes show-date {
  0% {
    opacity: 0;
    transform: translate(50%, -50%) scale(0);
  }

  100% {
    opacity: 1;
    transform: translate(0, 0) scale(1);
  }
}

@-webkit-keyframes coming-up {
  0% {
    opacity: 0;
    transform: translateY(50px) scale(0.9);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes coming-up {
  0% {
    opacity: 0;
    transform: translateY(50px) scale(0.9);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@-webkit-keyframes coming-down {
  0% {
    opacity: 0;
    transform: translateY(-50px) scale(0.9);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes coming-down {
  0% {
    opacity: 0;
    transform: translateY(-50px) scale(0.9);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@-webkit-keyframes coming-down-short {
  0% {
    opacity: 0;
    transform: translateY(-20px) scale(1);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes coming-down-short {
  0% {
    opacity: 0;
    transform: translateY(-20px) scale(1);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@-webkit-keyframes show-height-50 {
  0% {
    opacity: 0;
    transform: translateY(-50%) scaleY(0);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scaleY(1);
  }
}

@keyframes show-height-50 {
  0% {
    opacity: 0;
    transform: translateY(-50%) scaleY(0);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scaleY(1);
  }
}

@-webkit-keyframes coming-up-near {
  0% {
    opacity: 0;
    transform: translateY(40px) scale(0.95);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes coming-up-near {
  0% {
    opacity: 0;
    transform: translateY(40px) scale(0.95);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@-webkit-keyframes show-height-50-50 {
  0% {
    opacity: 0;
    transform: translateY(-25%) scaleY(0.5);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scaleY(1);
  }
}

@keyframes show-height-50-50 {
  0% {
    opacity: 0;
    transform: translateY(-25%) scaleY(0.5);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scaleY(1);
  }
}

@-webkit-keyframes un-show-notify {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes un-show-notify {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

button {
  border: none;
}

html {
  scroll-behavior: smooth;
}

h3 {
  margin-bottom: 0;
}

#questions {
  margin-top: 43px;
}

#questions .questions__title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-top: 0.5px solid #B8B8B8;
  border-left: 0.5px solid #B8B8B8;
  border-right: 0.5px solid #B8B8B8;
}

#questions .questions__title img {
  width: 100%;
}

#questions .questions__title .questions__title--content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

#questions .questions__title .questions__title--content h3 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  color: #3A3A3A;
  padding-bottom: 30px;
}

#questions .questions__title .questions__title--content .questions__title--label {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

#questions .questions__title .questions__title--content .questions__title--label svg {
  position: absolute;
  left: 3%;
}

#questions .questions__title .questions__title--content .questions__title--label .questions__title--input {
  width: 542px;
  height: 50px;
  background: #FFFFFF;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.02);
  border-radius: 2px;
  border: none;
  padding: 0 50px;
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  color: #848484;
  margin: 0 5px;
}

#questions .questions__title .questions__title--content .questions__title--label .questions__btn {
  background: linear-gradient(90.19deg, #D63A1C 0.17%, #EA5B40 99.87%);
  border-radius: 2px;
  width: 173px;
  height: 50px;
  border: none;
  margin: 0 5px;
  font-size: 18px;
  line-height: 16px;
  font-weight: 500;
  color: #fff;
}

#questions .questions__content--box {
  margin-bottom: 100px;
  background-color: #fff;
  border: 0.5px solid #B8B8B8;
}

#questions .qs-header {
  height: 80px;
  border-bottom: 1px solid #EBEBEB;
}

#questions .qs-title {
  padding: 0 5px;
}

#questions .qs-title__image {
  margin-right: 13px;
  position: relative;
  top: -1px;
}

#questions .qs-title__text {
  font-size: 18px;
  line-height: 21px;
  font-weight: 500;
  color: #06202D;
}

#questions .qs-body {
  position: relative;
}

#questions .qs-body .sticky-top {
  width: 300px;
}

#questions .qs-body .qs_switch {
  padding: 0 33px 33px;
  width: 1000px;
}

#questions .qs-body .qs_switch .qs_switch-title {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #232323;
  padding: 32px 0 13px;
}

#questions .qs-body .qs_switch p {
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
  color: rgba(35, 35, 35, 0.85);
}

#questions .qs-nav {
  padding-left: 28px;
  flex-direction: column;
  position: -webkit-sticky;
  position: sticky;
  top: 80px;
}

#questions .qs-nav__item {
  list-style-type: none;
  height: 43px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 20px;
  cursor: pointer;
  transition: all 0.3s;
  position: relative;
  z-index: 1;
  text-align: right;
  font-size: 16px;
  line-height: 19px;
  font-weight: normal;
  color: #838383;
}

#questions .qs-nav__item:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  width: 0;
  height: 100%;
  transition: all 0.4s ease-in-out;
  background-color: #F5F5F5;
}

#questions .qs-nav__item--success {
  position: relative;
  top: -1px;
  right: -35px;
  opacity: 0;
  transition: all 0.5s;
}

#questions .qs-nav__item:hover:before,
#questions .qs-nav__item.active:before,
#questions .qs-nav__item--success:before {
  width: 100%;
}

#questions .qs-nav__item.active,
#questions .qs-nav__item.successfully {
  color: #06202D;
}

#questions .qs-nav__item.successfully .qs-nav__item--success {
  right: 15px;
  opacity: 1;
}

#questions .qs-nav:before {
  content: "";
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  width: 3px;
  height: 100%;
  background-color: #D8D7D7;
}

#questions .qs-nav__border {
  content: "";
  position: absolute;
  z-index: 3;
  top: 0;
  right: 0;
  width: 3px;
  height: 43px;
  background-color: #1C4355;
  transition: all 0.3s;
}

#questions .qs-nav:hover .list-group-item:before {
  width: 0;
}

#questions .qs-nav:hover .list-group-item:hover:before {
  width: 100%;
}

#questions .mx-n12 {
  margin-right: -12px;
  margin-left: -12px;
}

#questions .px-12 {
  padding-right: 12px;
  padding-left: 12px;
}

#questions .pt-20 {
  padding-top: 20px;
}

#questions .mb-100 {
  margin-bottom: 100px;
}

#questions .error-text {
  font-size: 12px;
  line-height: 14px;
  font-weight: normal;
  color: #D93E21;
  min-height: 14px;
}

#questions .no-min-height {
  min-height: 0 !important;
}

@media screen and (max-width: 1500px) {
  #questions .qs-body .sticky-top {
    width: 240px;
  }

  #questions .qs-body .qs_switch {
    width: 820px;
  }
}

@media screen and (max-width: 1199.98px) {
  #questions .qs-body .sticky-top {
    width: 225px;
  }

  #questions .qs-body .qs_switch {
    width: 700px;
  }
}

@media screen and (max-width: 991.98px) {
  #questions .questions__title img {
    height: 150px;
  }

  #questions .questions__title .questions__title--content {
    width: 100%;
  }

  #questions .questions__title .questions__title--content .questions__form {
    width: 90%;
  }

  #questions .questions__title .questions__title--content .questions__form .questions__title--label .questions__title--input {
    width: 100%;
    height: 45px;
    padding: 0 25px 0 30px;
  }

  #questions .questions__title .questions__title--content .questions__form .questions__title--label .questions__btn {
    width: 55%;
    height: 45px;
    font-size: 16px;
  }

  #questions .qs-body {
    flex-direction: column;
  }

  #questions .qs-body .sticky-top {
    width: 100%;
  }

  #questions .qs-body .sticky-top .qs-nav {
    flex-direction: unset;
    width: 100%;
  }

  #questions .qs-body .sticky-top .qs-nav:before {
    display: none;
  }

  #questions .qs-body .sticky-top .qs-nav .qs-nav__item {
    padding-right: 0;
    margin-right: 20px;
    text-align: center;
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
    color: #838383;
  }

  #questions .qs-body .sticky-top .qs-nav .qs-nav__item.active {
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
    color: #06202D;
  }

  #questions .qs-body .qs_switch {
    width: 100%;
  }

  #questions .qs-body .qs_switch .qs_switch-title {
    font-size: 14px;
    line-height: 19px;
    font-weight: 500;
    color: #232323;
  }

  #questions .qs-body .qs_switch p {
    font-size: 14px;
    line-height: 20px;
    font-weight: normal;
    color: rgba(35, 35, 35, 0.85);
  }
}

@media screen and (max-width: 575.98px) {
  #questions .questions__title .questions__title--content .questions__form .questions__title--label .questions__btn {
    font-size: 12px;
  }
}

