//===========================================================================//
// SCROLL TO TOP
//===========================================================================//
@import "../_abstracts/_variables";
/*scroll to top button*/
#scrollup {
  color: $white;
  height: 45px;
  width: 45px;
  cursor: pointer;
  font-size: 28px;
  background: $accent-color;
  border: 1px solid $accent-color;
  text-align: center;
  position: fixed;
  bottom: 80px;
  right: 18px;
  z-index: 5;
  box-shadow: $box-shadow-light;
  display: none;
  transition: .3s;
}
