@font-face {
    font-family: Lato;
    src: url(../../../../fonts/lato/Lato-400.ttf) format('truetype');
    font-weight: 400 normal;
    font-style: normal;
}

@font-face {
    font-family: Lato;
    src: url(../../../../fonts/lato/Lato-700.ttf) format('truetype');
    font-weight: 600 700;
    font-style: normal;
}