html, body {
    font-family: "Lato", "Roboto", Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    padding-top: 0;
}

.auth {
    &-navbar {
        position: absolute;
        height: 105px;
        display: flex;
        align-items: center;

        .navbar {

            &-body {
                animation: fadeIn .5s both;
                flex-wrap: nowrap;
            }

            &-brand {
                margin-right: 9px;
                display: flex;

                img {
                    height: 32px;
                }

                &__description {
                    @include setTextStyleColor(14px, 12px, 500, #1F4353);
                    border-left: 1px solid #1C4355;
                    padding-left: 7px;
                    display: flex;
                    position: relative;
                    top: 6px;

                    span {
                        position: relative;
                    }
                }
            }
        }

        &.scroll {
            position: fixed;
            background-color: $color_white;
            height: 80px;
            animation: fadeIn .4s both;
            box-shadow: 0 0 8px #00000022;

            .navbar {
                &-body {
                    position: relative;
                    animation: fadeInDown .4s both;
                }
            }
        }
    }

    &-body {
        min-height: 100vh;
        width: 100%;
        padding-top: 200px;
        background: $color_white;
        z-index: 1;
    }

    &-right {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-top: 45px;
    }

    &-title {
        @include setTextStyleColor(36px, 1.5, 400, #1D293F);
        padding-bottom: 30px;

        &__bold {
            font-weight: 600;
        }

        &__spacing-n1 {
            letter-spacing: -1px;
        }

        &__icon {
            margin-left: 5px;
            position: relative;
            top: -2px;
        }
    }

    &-description {
        @include setTextStyleColor(20px, 1.5, 400, #1D293F);
        padding-bottom: 35px;
    }

    &-form {
        width: 100%;
        max-width: 485px;
        padding-bottom: 50px;

        &__item {

        }

        &__label {
            margin-bottom: 0;
            width: 100%;
            position: relative;
        }

        &__input {
            @include setTextStyleColor(16px, 19px, 400, #3E3E3E);
            width: 100%;
            height: 60px;
            background: #F1F1F1;
            border-radius: 6px;
            border: 1px solid #F1F1F1;
            padding-left: 65px;
            padding-right: 50px;
            transition: all .2s;

            &::placeholder {
                transition: all .2s;
            }

            &:focus {
                &::placeholder {
                    opacity: 0;
                }
            }
        }

        &__icon {
            display: block;
            position: absolute;
            top: 50%;
            left: 20px;
            width: 25px;
            text-align: center;
            transform: translateY(-50%);
            cursor: text;
        }

        &__showpass {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 28px;
            height: 26px;
            padding: 0;
            position: absolute;
            top: 50%;
            right: 15px;
            transform: translateY(-50%);
            cursor: text;
            border: none;
            transition: all .2s;

            &:before {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                width: 100%;
                height: 100%;
                border-radius: 5px;
                opacity: 0;
                transform: translate(-50%, -50%) scale(1);
                transition: all .2s;
                background-color: $color_gray;
            }

            &:hover {

                &:before {
                    opacity: .2;
                    transform: translate(-50%, -50%) scale(1.2);
                }
            }

            &:active {
                transform: translateY(-50%) scale(.95);
            }

            &[data-show='1'] {
                color: #E74243;
            }
        }

        &__link {
            @include setTextStyleColor(16px, 19px, 400, #1C4355);
            transition: all .2s;
            position: relative;
            text-decoration: underline;

            &:before {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                width: 100%;
                height: 100%;
                border-radius: 5px;
                opacity: 0;
                transform: translate(-50%, -50%) scale(1);
                transition: all .2s;
                background-color: $color_gray;
            }

            &:hover {
                color: #1C4355;
                text-decoration: underline;

                &:before {
                    opacity: .2;
                    transform: translate(-50%, -50%) scale(1.2);
                }
            }
        }

        &__button {
            width: 100%;
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0;
            background: $color_white;
            border: 1px solid #E74243;
            border-radius: 5px;
            @include setTextStyleColor(20px, 24px, 400, #E74243);
            transition: all .1s;

            &:hover {
                color: #E74243;
            }

            &:active {
                transform: scale(.97);
            }

            &--submit {
                background: #E74243;
                color: $color_white;

                &:hover {
                    color: $color_white;
                }
            }
        }
        
        &__or {
            margin: 24px 0 16px 0;
            display: flex;
            justify-content: center;
            position: relative;

            &--text {
                @include setTextStyleColor(18px, 21px, 400, #1D293F);
                display: block;
                padding: 0 35px;
                position: relative;
                background: $color_white;
            }
            
            &:before {
                content: '';
                position: absolute;
                top: 60%;
                left: 0;
                transform: translateY(-50%);
                width: 100%;
                height: 1px;
                background: #DDDDDD;
                z-index: -1;
            }
        }

        &__line {
            width: 100%;
            height: 1px;
            margin-bottom: 24px;
            background: #DDDDDD;
        }

        &__checkbox {
            display: flex;
            align-items: center;
            cursor: pointer;
            margin-bottom: 0;

            &--icon {
                width: 20px;
                height: 20px;
                border-radius: 2px;
                background: #DFDFDF;
                display: flex;
                align-items: center;
                justify-content: center;

                i {
                    transform: scale(0);
                    transition: all .2s;
                }
            }

            &--text {
                display: block;
                padding-left: 12px;
            }
        }

        input[type="checkbox"]:checked + &__checkbox {

            &--icon {
                i {
                    transform: scale(1);
                    animation: bounceIn .8s both;
                }
            }
        }
    }

    &-image {
        &__login {
            position: relative;
            left: -50px;
        }

        &__register {
            position: relative;
            width: 335px;
            height: 332px;
            left: -20px;

            img {
                width: 100%;
                height: 100%;
            }
        }

        &__register-success {
            margin-top: 40px;
        }

        &__send-mail-success {
            width: 191px;
            height: 187px;
        }
    }

    &-background {
        position: absolute;
        z-index: -1;

        &--1 {
            top: 0;
            left: 0;
        }

        &--2 {
            bottom: 92px;
            right: 55px;
            width: 290px;
            height: 306px;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }

    &-link {
        @include setTextStyleColor(16px, 19px, 400, #1C4355);
        transition: all .2s;
        position: relative;
        text-decoration: underline;

        &:before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            height: 100%;
            border-radius: 5px;
            opacity: 0;
            transform: translate(-50%, -50%) scale(1);
            transition: all .2s;
            background-color: $color_gray;
        }

        &:hover {
            color: #1C4355;
            text-decoration: underline;

            &:before {
                opacity: .2;
                transform: translate(-50%, -50%) scale(1.2);
            }
        }

        &__big {
            @include setTextStyle(18px, 22px, 500);
            padding-left: 0;
            margin-top: 18px;
            letter-spacing: -1px;

            &:before {
                width: 115%;
                height: 140%;
            }

            i {
                font-size: 15px;
                padding-right: 7px;
            }
        }
    }
}

.mt-25 {
    margin-top: 25px;
}

.error-text {
    @include setTextStyleColor(12px, 14px, normal, $color_red);
    min-height: 14px;
    margin-bottom: 8px;
    margin-top: 2px;
}

.error-input {
    border: 1px solid $color_red !important;
}