@media screen and (min-width: 1500px) {
    .container-origin {
        min-width: 1140px;
    }
}

@media screen and (min-width: 992px) {
    .hp {
        &-navbar {
            .dropdown-mobile {
                width: 100%;

                &__menu {
                    position: static;
                    display: flex;
                    align-items: center;
                    float: none;
                    width: 100%;
                    border: none;
                    box-shadow: none;
                    background-color: transparent;
                    padding: 0;
                    margin: 0;
                }
            }

            &.scroll {
                padding-top: 10px;
                padding-bottom: 14px;
                background-color: $color_white;
                box-shadow: 0 0 7px #a9a9a9;

                &:before {
                    height: 0;
                    opacity: 0;
                }

                .navbar {
                    &-brand {
                        &__image {
                            display: none;

                            &--scroll {
                                display: block;
                            }
                        }
                    }
                }

                .nav {
                    &-item {
                        color: $color_black;

                        &:before {
                            background-color: $color_gray;
                        }

                        &__employer {
                            background-color: $color_black;

                            .nav-link {
                                color: $color_white;
                            }

                            &:hover {
                                background-color: #E74243;

                                .nav-link {
                                    color: $color_white;
                                }
                            }
                        }

                        &__user {
                        }
                    }

                    &-link {
                        color: $color_black;
                    }
                }

                .dropdown-desktop {
                    .dropdown {
                        &-menu {

                            &__user {
                                background-color: $color_white;

                                .dropdown-item {
                                    color: $color_black;

                                    &:hover {
                                        background-color: #E74243;
                                        color: $color_white;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        &s2 {


            &-list {
                .slick {
                    &-list {
                        height: auto !important;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1199.98px) {
    .hp {
        &s5 {
            &-right {

                &__img {
                    width: 100%;

                    img {
                        width: 100%;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 991.98px) {
    .hp {
        &-navbar {
            height: 60px;
            padding: 0;
            background-color: #0F1A1F;

            &:before {
                display: none;
            }

            .navbar {
                &-nav {
                    flex-direction: column;
                    align-items: flex-start;
                    border-bottom: 1px solid #424242;
                    padding-top: 0;
                    padding-left: 0;

                    &:last-child {
                        border-bottom: none;
                    }

                    .nav {
                        &-item {
                            margin-bottom: 10px;
                            padding-left: 20px;

                            &:before {
                                display: none;
                            }

                            &.active {
                                text-decoration: none;

                                .nav-link {
                                    color: #E74243;
                                }
                            }

                            &__employer {
                                margin: 12px auto;
                                padding: 5px 25px;
                            }
                        }
                    }
                }
            }

            .dropdown-desktop {
                position: static;
                width: 100%;

                .nav-item {
                    padding: 5px 0;
                    margin-bottom: 10px;

                    &[aria-expanded="true"] + .dropdown-menu {
                        animation: none;
                    }
                }

                .dropdown {
                    width: 100%;

                    &-menu {
                        background-color: transparent;
                        position: static;
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        float: unset;
                        box-shadow: none;
                        border-bottom: 1px solid #424242;
                        padding-left: 20px;

                        &__user {
                            padding-top: 5px;
                            padding-bottom: 5px;

                            .dropdown-item {
                                padding: 5px 8px;
                                margin-bottom: 10px;

                                i {
                                    width: 20px;
                                    text-align: center;
                                    margin-right: 15px;
                                }

                                &:hover {
                                    background-color: transparent;
                                }
                            }
                        }
                    }

                    &-item {
                        padding: 5px 8px;
                        margin-top: 5px;
                        margin-bottom: 5px;
                        text-align: center;
                        transition: all .2s;
                        color: $color_white;
                        font-weight: 500;

                        &:hover {
                            background-color: transparent;
                            color: #E74243;
                        }
                    }
                }
            }

            .dropdown-mobile {
                &__button {
                    width: 50px;
                    height: 40px;
                    border: 1px solid $color_white;
                    border-radius: 5px;
                    background-color: transparent;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 0;
                    color: $color_white;
                    font-size: 22px;
                }

                &__menu {
                    position: fixed;
                    top: 60px;
                    right: -100%;
                    margin: 0;
                    width: 300px;
                    display: block;
                    background-color: #0F1A1F;
                    border-radius: 0;
                    border: none;
                    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
                    padding-top: 80px;
                    padding-bottom: 0;
                    transition: all .3s;

                    &.show {
                        right: 0;
                    }
                }

                &__language {
                    .dropdown {
                        &-menu {
                            flex-direction: row;
                        }

                        &-item {
                            width: auto;

                            &:hover, &.active {
                                background-color: transparent;
                                text-decoration: underline;
                            }
                        }
                    }
                }

                &__user {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    max-width: 100%;
                    height: 80px;
                    margin-left: 0 !important;
                    padding-left: 25px !important;
                    padding-top: 10px !important;
                    justify-content: flex-start;

                    .nav-item__user {
                        &--background {
                            width: 40px;
                            min-width: 40px;
                            height: 40px;
                        }
                    }

                    i {
                        display: none;
                    }
                }
            }
        }

        &s1 {
            display: flex;
            flex-direction: column-reverse;
            height: 75vh;
            padding-bottom: 30px;

            &-search {
                padding-top: 0;

                &__label {
                    display: none;
                }

                &__field {
                    background: transparent;
                    border: none;
                    box-shadow: none;
                    border-radius: 0;
                    height: auto;

                    &--item {
                        height: 48px;
                        width: 100%;
                        font-family: "Montserrat", "Roboto", Arial, Helvetica, sans-serif;
                        margin: 8px 0;
                    }

                    &--input {
                        background-color: $color_white;
                        padding-left: 30px;
                        border-radius: 4px;

                        &::placeholder {
                            transition: all .2s;
                            font-weight: normal;
                        }

                        &:focus {
                            &::placeholder {
                                color: $color_white;
                            }
                        }
                    }

                    &--submit {
                        height: 48px;
                    }

                    &--icon {
                        display: none;
                    }
                }

                &__popular {
                    display: none;
                    @include setTextStyleColor(16px, 22px, normal, $color_white);
                    margin-top: 20px;

                    &--title {
                        margin-right: 10px;
                        font-weight: 500;
                        white-space: nowrap;
                    }

                    &--list {
                        display: flex;
                        flex-wrap: wrap;

                        a {
                            color: $color_white;
                            display: flex;
                            padding: 0 6px;
                            position: relative;
                            text-decoration: underline;

                            &:before {
                                content: '';
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%) scale(.9);
                                width: 100%;
                                height: 100%;
                                background-color: $color_white;
                                opacity: 0;
                                z-index: -1;
                                transition: all .2s;
                                border-radius: 5px;
                            }

                            &:active {
                                transform: scale(.95);
                            }

                            &:hover {
                                &:before {
                                    transform: translate(-50%, -50%) scale(1);
                                    opacity: .3;
                                }
                            }
                        }
                    }
                }
            }

            &-more {
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateY(50%) translateX(-50%);

                &__button {
                    width: 88px;
                    height: 88px;
                    border-radius: 50%;
                    background-color: $color_white;
                    border: none;
                    text-align: left;
                    padding-left: 15px;
                    position: relative;
                    transform: rotate(90deg);

                    i:first-child {
                        color: $color_gray;
                    }
                }
            }
        }

        &s2 {

            &-list {
                .slick {

                    &-item {
                        width: 97% !important;
                    }
                }
            }
        }

        &s4 {

            &-item {
                width: 140px;
                height: 155px;
            }
        }
    }

    .select2-container--default {
        .hps1-select2-selection {
            .select2-selection {
                &__rendered {
                    padding-left: 30px;
                }
            }
        }

        .hps1-select2-dropdown {
            margin: 0;
            padding: 0;
            border: none;
            border-radius: 0;
            overflow: hidden;
            background-color: $color_white;
            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
            animation: coming-up-short .2s both;

            .select2-results {
                &__option {
                    font-size: 16px;
                    padding-left: 20px;
                    color: $color_black;
                    transition: all .1s;
                    font-family: "Montserrat", "Roboto", Arial, Helvetica, sans-serif;

                    &--disabled {
                        color: $color_gray;
                    }

                    &--selected, &--highlighted {
                        color: #E74243;
                        background-color: transparent;
                    }

                }
            }
        }
    }
}

@media screen and (max-width: 767.98px) {
    .hp {
        &s1 {
            &-search {
                &__field {
                    &--input {
                        @include setTextStyle(12px, 14px, normal);
                        padding-left: 20px;
                    }

                    &--submit {
                        @include setTextStyle(14px, 16px, 500);
                    }
                }
            }
        }

        &s2 {
            padding-top: 40px;
            padding-bottom: 30px;
            justify-content: center;

            &-body {
                padding-top: 20px;
            }

            &-nav {
                .nav {
                    &-item {
                        padding-right: 15px;
                    }

                    &-link {
                        @include setTextStyle(12px, 34px, bold);
                        border-radius: 4px;
                        padding: 0 15px;
                    }
                }
            }

            &-item {
                padding: 12px 5px;

                &__image {
                    img {
                        width: 70px;
                    }
                }

                &__name {
                    @include setTextStyle(14px, 16px, 500);
                    margin-bottom: 6px;
                }

                &__company {
                    @include setTextStyle(12px, 14px, 500);
                    margin-bottom: 5px;
                }

                &__salary {
                    @include setTextStyle(12px, 14px, normal);
                    margin-bottom: 5px;
                }

                &__more {
                    @include setTextStyle(10px, 12px, normal);
                }

                &:hover {
                    border-color: #E9E9E9;
                    border-radius: 5px;
                    box-shadow: 3px 3px 8px #C9C9C9;
                }

                &.amazing .hps2-item {
                    &__name {
                        padding-right: 67px;
                    }
                }

                &.premium .hps2-item {
                    &__name {
                        padding-right: 52px;
                    }
                }

                &.hot .hps2-item {
                    &__name {
                        padding-right: 29px;
                    }
                }
            }

            &-paging {
                transform: scale(.8);
            }
        }

        &s3 {
            padding-top: 30px;
            padding-bottom: 35px;

            &-list {
                &__item {
                    &--image {
                        height: 100px;
                    }

                    &--title {
                        @include setTextStyle(10px, 14px, 500);
                    }
                }

                .slick {
                    &-slide {
                        padding: 0 5px;
                    }
                }
            }

            &-image {
                height: 250px;
            }

            &-content {
                padding-top: 20px;

                &__title {
                    @include setTextStyle(14px, 18px, 600);
                }

                &__description {
                    @include setTextStyle(12px, 1.5, normal);
                    padding-top: 12px;
                }

                &__action {
                    padding-top: 20px;
                    padding-bottom: 20px;

                    &--more {
                        @include setTextStyle(12px, 14px, 600);
                        width: 200px;
                        height: 44px;
                    }
                }
            }
        }

        &s4 {
            padding-top: 30px;
            padding-bottom: 30px;

            &-item {
                margin: 10px;
                width: 100px;

                &__name {
                    @include setTextStyle(10px, 14px, normal);
                }

                &__button {
                    height: 20px;
                    min-height: 20px;
                    @include setTextStyle(12px, 14px, 600);
                }
            }
        }

        &s5 {
            padding-top: 30px;

            &-blog {
                &__item {
                    flex-direction: column;
                }

                &__right {
                    padding-left: 0;
                }

                &__image {
                    width: 100%;
                    min-width: 100%;

                    img {
                        height: 100%;
                    }
                }

                &__name {
                    @include setTextStyle(16px, 19px, 500);
                    margin-top: 10px;
                    margin-bottom: 17px;
                }

                &__info {
                    @include setTextStyle(12px, 14px, 500);
                    margin-bottom: 0;
                }

                &__tag {
                    a {
                        @include setTextStyle(12px, 20px, 500);
                    }
                }

                &__redirect {
                    display: flex;
                    justify-content: center;

                    &--link {
                        @include setTextStyle(14px, 16px, 500);
                    }
                }
            }

            &-right {
                @include setTextStyleColor(30px, 1.4, normal, #1C4355);
            }
        }

        &-title {
            @include setTextStyle(16px, 19px, bold);
            width: 100%;
            margin: 0 auto;

            &__red {
                color: #FF6C5C;
            }
        }
    }

    .tag-hot, .tag-premium, .tag-amazing {
        top: 10px;
        right: 7px;
        padding: 0 5px;
        font-size: 10px;
        line-height: 16px;

        i {
            display: flex;
            font-size: 9px;
            top: 0;
        }
    }

    .select2-container--default {
        .hps1-select2-selection {
            .select2-selection {
                &__rendered {
                    font-size: 12px;
                    padding-left: 20px;
                    padding-right: 20px;
                }
            }
        }

        .hps1-select2-dropdown {
            .select2-results {
                &__option {
                    font-size: 12px;
                }
            }
        }
    }
}