body {
    background-color: $color-white;
}

.hp {
    &-navbar {
        padding-top: 18px;
        padding-bottom: 18px;
        transition: all .3s;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 185px;
            z-index: -1;
            transition: all .3s;
            background-image: linear-gradient(180deg, rgba(16, 16, 16, 0.97) 34.38%, rgba(16, 16, 16, 0) 100%);
        }

        .navbar {
            &-brand {
                &__image {
                    height: 27px;

                    &--scroll {
                        display: none;
                    }
                }
            }

            &-nav {
                padding-left: 25px;
                padding-top: 10px;
                display: flex;
                flex-direction: row;
                align-items: center;
            }
        }

        .nav {
            &-item {
                list-style-type: none;
                margin-right: 10px;
                position: relative;
                z-index: 1;
                border: none;
                background-color: transparent;
                transition: all .1s;
                text-transform: uppercase;
                border-radius: 5px;
                @include setTextStyleColor(14px, 16px, 700, $color_white);

                &:before {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%) scale(.9);
                    width: 100%;
                    height: 100%;
                    background-color: $color_white;
                    opacity: 0;
                    z-index: -1;
                    transition: all .2s;
                    border-radius: 5px;
                }

                &:active {
                    transform: scale(.95);
                }

                &.active {
                    text-decoration: underline;

                    &:before {
                        display: none;
                    }

                    &:active {
                        transform: scale(1);
                    }
                }

                &:hover {
                    &:before {
                        transform: translate(-50%, -50%) scale(1);
                        opacity: .3;
                    }
                }

                &__big {
                    @include setTextStyle(18px, 22px, normal);
                }

                &__employer {
                    background-color: $color_white;
                    margin-left: 5px;

                    &:before {
                        display: none;
                    }

                    .nav-link {
                        color: $color_big_title;
                        padding: 5px 12px;
                    }

                    &:hover {
                        background-color: #E74243;

                        .nav-link {
                            color: $color_white;
                        }
                    }
                }

                &__user {
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    font-weight: normal;
                    text-transform: unset;
                    max-width: 165px;

                    &--background {
                        @extend %default-background-image;
                        width: 22px;
                        min-width: 22px;
                        height: 22px;
                        border-radius: 50%;
                        margin-right: 10px;
                    }

                    &--text {
                        @extend %default-text;
                    }

                    i {
                        margin-left: 5px;
                        position: relative;
                        top: 1px;
                    }
                }
            }

            &-link {
                @include setTextStyleColor(14px, 16px, 700, $color_white);
                transition: all .2s;
                padding: 5px 8px;
            }
        }

        .dropdown-desktop {

            .nav-item {
                padding: 5px 8px;
                margin-right: 0;
                margin-left: 10px;

                &[aria-expanded="true"] + .dropdown-menu {
                    animation: coming-up-short .2s both;
                    display: block;
                    z-index: 1;
                }
            }

            .dropdown {
                &-menu {
                    float: right;
                    position: absolute;
                    border: none;
                    border-radius: 0;
                    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
                    padding: 0;
                    min-width: unset;

                    &__user {
                        background-color: #0F1A1F;
                        padding-top: 8px;
                        padding-bottom: 8px;

                        .dropdown-item {
                            padding-left: 20px;
                            padding-right: 30px;
                            color: $color_white;
                            text-align: left;

                            i {
                                width: 20px;
                                text-align: center;
                                margin-right: 15px;
                            }

                            &:hover {
                                background-color: #E74243;
                            }
                        }
                    }
                }

                &-item {
                    @include setTextStyleColor(14px, 16px, normal, $color_gray);
                    padding: 12px 15px;
                    text-align: center;
                    transition: all .2s;

                    &:hover, &.active {
                        background-color: $color_gray;
                        color: $color_white;
                    }
                }
            }
        }
    }

    &s1 {
        width: 100%;
        height: 100vh;
        position: relative;
        overflow: hidden;

        &-background {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: -10;
            background-color: #002a46;

            video, img {
                position: absolute;
                object-fit: cover;
                top: 50%;
                left: 50%;
                width: 100vw;
                height: 100vh;
                transform: translateY(-50%) translateX(-50%);
            }
        }

        &-search {
            padding-top: 57vh;

            &__label {
                padding-bottom: 12px;

                &--item {
                    @include setTextStyleColor(14px, 27px, 500, $color_white);
                    font-family: "Montserrat", "Roboto", Arial, Helvetica, sans-serif;
                    background-color: #E74243;
                    border-radius: 4px;
                    margin-bottom: 0;
                    padding: 0 17px;
                }
            }

            &__field {
                background: $color_white;
                border: 1px solid #1C4355;
                box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
                border-radius: 9px;
                height: 83px;

                &--item {
                    height: 48px;
                    width: 100%;
                    font-family: "Montserrat", "Roboto", Arial, Helvetica, sans-serif;
                }

                &--input {
                    border: none;
                    background-color: transparent;
                    @include setTextStyleColor(16px, 19px, normal, $color_black);
                    padding-left: 75px;
                    border-right: 1px solid #A7A7A7;
                    font-weight: 500;

                    &::placeholder {
                        transition: all .2s;
                        font-weight: normal;
                    }

                    &:focus {
                        &::placeholder {
                            color: $color_white;
                        }
                    }
                }

                &--submit {
                    @include setTextStyleColor(16px, 19px, 500, $color_white);
                    background-color: #E74243;
                    height: 55px;
                    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
                    border-radius: 9px;
                    border: none;
                    transition: all .2s;

                    &:hover {
                        background-color: #FB595A;
                    }

                    &:active {
                        transform: scale(.95);
                    }
                }

                &--icon {
                    position: absolute;
                    top: 50%;
                    left: 25px;
                    transform: translateY(-50%);

                    &.location {
                        left: 14px;
                    }
                }
            }

            &__popular {
                @include setTextStyleColor(16px, 22px, normal, $color_white);
                margin-top: 20px;

                &--title {
                    margin-right: 10px;
                    font-weight: 500;
                    white-space: nowrap;
                }

                &--list {
                    display: flex;
                    flex-wrap: wrap;

                    a {
                        color: $color_white;
                        display: flex;
                        padding: 0 6px;
                        position: relative;
                        text-decoration: underline;

                        &:before {
                            content: '';
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%) scale(.9);
                            width: 100%;
                            height: 100%;
                            background-color: $color_white;
                            opacity: 0;
                            z-index: -1;
                            transition: all .2s;
                            border-radius: 5px;
                        }

                        &:active {
                            transform: scale(.95);
                        }

                        &:hover {
                            &:before {
                                transform: translate(-50%, -50%) scale(1);
                                opacity: .3;
                            }
                        }
                    }
                }
            }
        }

        &-more {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateY(50%) translateX(-50%);

            &__button {
                width: 88px;
                height: 88px;
                border-radius: 50%;
                background-color: $color_white;
                border: none;
                text-align: left;
                padding-left: 15px;
                position: relative;
                transform: rotate(90deg);

                i:first-child {
                    color: $color_gray;
                }
            }
        }
    }

    &s2 {
        padding-top: 70px;
        padding-bottom: 50px;

        &-body {
            padding-top: 30px;
        }

        &-nav {
            display: flex;
            padding-left: 0;

            .nav {
                &-item {
                    padding-right: 35px;
                    list-style-type: none;
                }

                &-link {
                    @include setTextStyleColor(16px, 33px, bold, $color_gray);
                    font-family: "Montserrat", "Roboto", Arial, Helvetica, sans-serif;
                    display: flex;
                    border-radius: 6px;
                    padding: 0 25px;

                    &.active {
                        color: $color_white;
                        background-color: #F05348;
                    }
                }
            }
        }

        &-list {
            .slick {
                &-list {
                    padding: 10px 0;
                }

                &-slide {
                    &:focus {
                        outline: none;
                    }

                    & > div {
                        display: flex;
                        justify-content: space-around;
                    }
                }

                &-item {
                    width: 46% !important;
                }
            }
        }

        &-row {
            display: flex;
            justify-content: space-between;
        }

        &-item {
            display: flex;
            align-items: center;
            padding: 20px 5px;
            border: 1px solid transparent;
            border-bottom-color: #E9E9E9;
            position: relative;
            cursor: pointer;
            transition: all .2s;

            &__image {
                padding-right: 10px;

                img {
                    width: 90px;
                    height: auto;
                }
            }

            &__name {
                @extend %default-text;
                word-break: break-all;
                @include setTextStyleColor(18px, 22px, 500, $color_black);
                margin-bottom: 8px;
            }

            &__company {
                @extend %default-text;
                @include setTextStyleColor(16px, 19px, 500, #808080);
                font-family: "Montserrat", "Roboto", Arial, Helvetica, sans-serif;
                margin-bottom: 8px;
            }

            &__salary {
                @extend %default-text;
                @include setTextStyleColor(16px, 19px, normal, #666666);
                margin-bottom: 8px;
            }

            &__more {
                @extend %default-text;
                @include setTextStyleColor(14px, 16px, 300, #808080);
                margin-bottom: 0;
            }

            &:hover {
                border-color: #E9E9E9;
                border-radius: 5px;
                box-shadow: 3px 3px 8px #C9C9C9;
            }

            &.amazing .hps2-item {
                &__name {
                    color: #5725C3;
                    padding-right: 85px;
                }
            }

            &.premium .hps2-item {
                &__name {
                    padding-right: 65px;
                }
            }

            &.hot .hps2-item {
                &__name {
                    padding-right: 38px;
                }
            }
        }

        &-pager {
            display: flex;
            justify-content: space-around;
            padding-top: 30px;

            &__prev, &__next {
                padding-top: 5px;

                &--button {
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    border: 2px solid #eb5b40;
                    color: #eb5b40;
                    background-color: #fff;
                    font-size: 14px;
                    transition: all .3s;
                    padding: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    &:hover {
                        border: 2px solid #184153;
                        color: #184153;
                    }
                }
            }
        }

        &-paging {
            text-align: center;
            margin: 15px 0 10px 0;

            &__animation {
                display: inline-block;
                position: relative;
                height: 15px;

                &.turntoright {
                    animation: turnright .2s;

                    .item {
                        .one {
                            animation: nonetonormal .2s;
                        }

                        .three {
                            animation: normaltolarge .2s;
                        }

                        .four {
                            animation: largetonormal .2s;
                        }

                        .six {
                            animation: normaltonone .2s;
                        }
                    }
                }

                &.turntoleft {
                    animation: turnleft .2s;

                    .item {
                        .two {
                            animation: normaltonone .2s;
                        }

                        .four {
                            animation: largetonormal .2s;
                        }

                        .five {
                            animation: normaltolarge .2s;
                        }

                        .seven {
                            animation: nonetonormal .2s;
                        }
                    }
                }
            }

            .item {
                float: left;
                position: relative;
                margin: 0 8px;
                width: 14px;
                height: 14px;
                text-align: center;

                div {
                    border-radius: 50%;
                    display: inline-block;
                }

                .one {
                    width: 0;
                    height: 0;
                    background-color: rgba(0, 0, 0, .16);
                }

                .seven {
                    width: 0;
                    height: 0;
                    background-color: rgba(0, 0, 0, .16);
                }

                .two {
                    width: 10px;
                    height: 10px;
                    background-color: rgba(0, 0, 0, .16);
                }

                .six {
                    width: 10px;
                    height: 10px;
                    background-color: rgba(0, 0, 0, .16);
                }

                .three {
                    width: 10px;
                    height: 10px;
                    background-color: rgba(0, 0, 0, .16);
                }

                .five {
                    width: 10px;
                    height: 10px;
                    background-color: rgba(0, 0, 0, .16);
                }

                .four {
                    background-color: #eb5b40;
                    width: 14px;
                    height: 14px;
                }
            }
        }
    }

    &s3 {
        background-color: #112C38;
        padding-top: 50px;
        padding-bottom: 65px;
        position: relative;
        overflow: hidden;

        &-background {
            position: absolute;
            top: 50%;
            left: 50px;
            transform: translateY(-50%);
        }

        &-list {

            &__item {

                &--image {
                    @extend %default-background-image;
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    height: 125px;

                    &:after {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background-color: #00000099;
                        transition: all .5s;
                        opacity: 1;
                        z-index: 1;
                    }
                }

                &--title {
                    @include setTextStyleColor(12px, 16px, 500, $color_white);
                    font-family: "Montserrat", "Roboto", Arial, Helvetica, sans-serif;
                    margin-bottom: 0;
                    text-align: center;
                    position: relative;
                    width: 90%;
                    z-index: 2;
                    top: 0;
                    transition: all .5s;
                }
            }

            .slick {
                &-slide {
                    padding: 0 8px;

                    &:focus {
                        outline: none;
                    }
                }

                &-center {
                    .hps3-list__item {
                        cursor: default;

                        &--image {

                            &:after {
                                opacity: 0;
                            }
                        }

                        &--title {
                            top: 100%;
                        }
                    }
                }
            }
        }

        &-image {
            width: 100%;
            height: 350px;
            margin-bottom: 20px;
            position: relative;

            &__body {
                position: relative;
                width: 100%;
                height: 100%;
            }

            &__item {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                overflow: hidden;
            }

            &__image {
                position: absolute;
                object-fit: cover;
                width: 100%;
                height: 100%;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }

        &-content {
            padding-top: 25px;

            &__item {
                transition: all .5s;
            }

            &__title {
                @include setTextStyleColor(24px, 29px, 600, $color_white);
                font-family: "Montserrat", "Roboto", Arial, Helvetica, sans-serif;
            }

            &__description {
                @extend %default-text;
                @include setTextStyleColor(16px, 1.5, normal, $color_white);
                font-family: "Montserrat", "Roboto", Arial, Helvetica, sans-serif;
                -webkit-line-clamp: 15;
                text-align: justify;
                padding-top: 15px;
            }

            &__action {
                width: 100%;
                display: flex;
                justify-content: center;
                padding-top: 25px;
                padding-bottom: 25px;

                &--more {
                    @include setTextStyleColor(16px, 19px, 600, $color_white);
                    font-family: "Montserrat", "Roboto", Arial, Helvetica, sans-serif;
                    width: 200px;
                    height: 55px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: #eb5b40;
                    border-radius: 7px;
                    padding: 0;
                    transition: all .2s;

                    &:hover {
                        background-color: #E74243;
                        color: $color_white;
                    }

                    &:active {
                        transform: scale(.96);
                    }
                }
            }
        }
    }

    &s4 {
        padding-top: 50px;
        padding-bottom: 60px;
        background-color: #F6F6F6;

        &-body {
            padding-top: 30px;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }

        &-item {
            margin: 12px;
            display: flex;
            flex-direction: column;
            width: 160px;
            height: 175px;
            cursor: pointer;
            transition: all .1s;

            &__top {
                display: flex;
                flex-direction: column;
                height: 100%;
                width: 100%;
            }

            &__logo {
                display: flex;
                height: 100%;
                width: 100%;
                align-items: center;
                padding: 6px;
                position: relative;

                &--image {
                    object-fit: contain;
                    position: absolute;
                    filter: grayscale(100%);
                    opacity: .7;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    height: 100%;
                    width: 100%;
                    transition: all .3s;
                }
            }

            &__name {
                display: flex;
                text-align: center;
                justify-content: center;
                padding: 5px 0;
                @include setTextStyleColor(12px, 14px, normal, #1C4355);
                font-family: "Montserrat", "Roboto", Arial, Helvetica, sans-serif;
            }

            &__button {
                position: relative;
                top: -10px;
                opacity: 0;
                height: 28px;
                min-height: 28px;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #E74243;
                padding: 0;
                border-radius: 3px;
                @include setTextStyleColor(16px, 19px, 600, $color_white);
                font-family: "Montserrat", "Roboto", Arial, Helvetica, sans-serif;
                transition: all .2s;
            }

            &:hover .hps4-item,
            &.active .hps4-item {
                &__logo {
                    &--image {
                        filter: grayscale(0);
                        opacity: 1;
                    }
                }

                &__button {
                    top: 0;
                    opacity: 1;
                }
            }

            &:active {
                transform: scale(.97);
            }
        }
    }

    &s5 {
        padding-top: 60px;
        padding-bottom: 30px;
        font-family: "Montserrat", "Roboto", Arial, Helvetica, sans-serif;

        &-blog {
            &__item {
                display: flex;
                padding: 20px 0;
                border-bottom: 1px solid #E9E9E9;

                &:last-child {
                    border-bottom: none;
                }
            }

            &__left {

            }

            &__right {
                padding-left: 30px;
            }

            &__image {
                display: flex;
                width: 170px;
                min-width: 170px;
                border-radius: 9px;
                overflow: hidden;
                transition: all .2s;

                &:active {
                    transform: scale(.97);
                }

                img {
                    width: 100%;
                }
            }

            &__name {
                @include setTextStyleColor(18px, 22px, 500, #222);
                display: block;
                margin-bottom: 15px;
                transition: all .2s;

                &:hover {
                    color: #E74243;
                }
            }

            &__info {
                @include setTextStyleColor(14px, 17px, 500, $color_gray);
            }

            &__tag {
                display: flex;
                flex-wrap: wrap;

                a {
                    @include setTextStyleColor(14px, 24px, 500, #163442);
                    display: flex;
                    padding: 0 15px;
                    background: #ECECEC;
                    border-radius: 3px;
                    margin-right: 15px;
                    transition: all .2s;

                    &:hover {
                        background: #DDD;
                    }

                    &:active {
                        transform: scale(.97);
                    }
                }
            }

            &__redirect {
                padding-top: 10px;

                &--link {
                    @include setTextStyleColor(16px, 19px, 500, #eb5b40);
                }
            }
        }

        &-right {
            @include setTextStyleColor(30px, 1.4, normal, #1C4355);
        }
    }

    &-title {
        font-family: "Montserrat", "Roboto", Arial, Helvetica, sans-serif;
        @include setTextStyleColor(24px, 29px, bold, #1c4355);
        display: inline;
        color: #1c4355;
        border-bottom: 1px solid #c4c4c4;
        padding-bottom: 5px;

        &__red {
            color: #FF6C5C;
        }
    }
}

.tag-hot, .tag-premium, .tag-amazing {
    position: absolute;
    top: 15px;
    right: 10px;
    padding: 0 5px;
    font-size: 12px;
    line-height: 18px;
    color: #fff;
    display: flex;
    align-items: center;
    border-radius: 4px;
    overflow: hidden;
}

.tag-amazing {
    padding: 3px 8px;
    background-image: linear-gradient(90deg, #4884F3 -6.36%, #5727C4 110.91%);

    i {
        margin-right: 3px;
        font-size: 10px;
        position: relative;
        top: -1px;
    }

    &:before {
        content: '';
        position: absolute;
        width: 8px;
        height: 40px;
        top: 50%;
        left: -10%;
        transform: translate(-50%, -50%) rotate(35deg);
        background-color: #fff;
        opacity: .5;
        box-shadow: 0 0 10px #fff;
        animation: glass-normal 1.5s both infinite ease-in-out;
        z-index: 3;
    }
}

.tag-premium {
    background-image: linear-gradient(90deg, #D9CD65 -6.36%, #B8730B 110.91%);
}

.tag-hot {
    color: #BF2600;
    background-color: #FFEBE6;
}

@keyframes glass-normal {
    0% {
        left: -10px;
    }

    40% {
        left: 110px;
    }

    100% {
        left: 110px;
    }
}

.select2-container--default {
    .select2-selection {
        &:focus {
            outline: none;
        }
    }

    .hps1-select2-selection {
        height: 48px;
        border: none;
        background-color: $color_white;
        border-radius: 4px;
        transition: .2s;
        font-family: "Montserrat", "Roboto", Arial, Helvetica, sans-serif;

        .select2-selection {
            &__rendered {
                font-size: 16px;
                line-height: 48px;
                padding-left: 45px;
                padding-right: 35px;
                color: $color_black;
                transition: .2s;
                font-weight: 500;
            }

            &__placeholder {
                color: $color_gray;
                transition: .2s;
                font-weight: normal;
            }

            &__arrow {
                display: none;
            }

            &__clear {
                position: absolute;
                height: 48px;
                font-size: 25px;
                right: 8px;
                margin-right: 0;
                padding: 0 6px;
                background-color: $color_white;
                color: $color_gray;
                z-index: 2;
                transition: .2s;

                span {
                    transition: all .2s;
                }
            }
        }

        &:hover {
            background-color: $color_white;

            .select2-selection {
                &__clear {
                    background-color: $color_white;
                }
            }
        }
    }

    .hps1-select2-dropdown {
        margin: 0;
        padding: 0;
        border: none;
        border-radius: 0;
        overflow: hidden;
        background-color: $color_white;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        animation: coming-up-short .2s both;

        .select2-results {
            &__option {
                font-size: 16px;
                padding-left: 20px;
                color: $color_black;
                transition: all .1s;
                font-family: "Montserrat", "Roboto", Arial, Helvetica, sans-serif;

                &--disabled {
                    color: $color_gray;
                }

                &--selected, &--highlighted {
                    color: #E74243;
                    background-color: transparent;
                }

            }
        }
    }
}

.required-form {
    &:after {
        content: '*';
        color: $color_red;
    }
}

.error-text {
    @include setTextStyleColor(12px, 14px, normal, $color_red);
    min-height: 14px;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 3px;
}

.error-input {
    border: 1px solid $color_red !important;
}

.error-form .select2-selection,
.error-form .bootstrap-tagsinput,
.error-form .tox-tinymce {
    border: 1px solid $color_red !important;
}

@keyframes turnright {
    0% {
        left: 0;
    }
    100% {
        left: 30px;
    }
}

@keyframes turnleft {
    0% {
        right: 0;
    }
    100% {
        right: 30px;
    }
}

@keyframes nonetonormal {
    0% {
        width: 0;
        height: 0;
    }
    100% {
        width: 10px;
        height: 10px;
    }
}

@keyframes normaltonone {
    0% {
        width: 10px;
        height: 10px;
    }
    100% {
        width: 0;
        height: 0;
    }
}

@keyframes normaltolarge {
    0% {
        width: 10px;
        height: 10px;
        background-color: rgba(0, 0, 0, .16);
    }
    100% {
        width: 14px;
        height: 14px;
        background-color: #eb5b40;
    }
}

@keyframes largetonormal {
    0% {
        width: 14px;
        height: 14px;
        background-color: #eb5b40;
    }
    100% {
        width: 10px;
        height: 10px;
        background-color: rgba(0, 0, 0, .16);
    }
}