.app-footer {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  overflow: hidden;
  background: #fff;
}

@media screen and (min-width: 992px) {
  .app-footer .hpf-mobile {
    display: none;
  }
}

@media screen and (max-width: 991.98px) {
  .app-footer {
    padding-bottom: 100px;
  }

  .app-footer .hpf-desktop {
    display: none;
  }
}

.app-footer .font-montserrat {
  font-family: "Montserrat", "Roboto", Arial, Helvetica, sans-serif;
}

.app-footer .hpf-top {
  background: linear-gradient(79.33deg, #112C38 -4.59%, #0B3866 50.2%, #E74243 99.55%);
}

.app-footer .hpf-top .container {
  height: 86px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app-footer .hpf-top .container:after,
.app-footer .hpf-top .container:before {
  display: none;
}

@media screen and (max-width: 991.98px) {
  .app-footer .hpf-top .container {
    display: block;
    height: auto;
    padding: 30px 0 10px 0;
  }
}

.app-footer .hpf-top .container .hpf-logo {
  height: 35px;
}

.app-footer .hpf-top .container .hpf-top-right {
  display: flex;
  align-items: center;
}

.app-footer .hpf-top .container .hpf-top-right .chart-info {
  padding-left: 10px;
}

.app-footer .hpf-top .container .hpf-top-right .chart-info .chart-count {
  font-size: 24px;
  color: #fff;
  font-weight: bold;
}

@media screen and (max-width: 991.98px) {
  .app-footer .hpf-top .container .hpf-top-right .chart-info .chart-count {
    font-size: 16px;
  }
}

.app-footer .hpf-top .container .hpf-top-right .chart-info .chart-text {
  color: #fff;
  font-size: 16px;
}

@media screen and (max-width: 991.98px) {
  .app-footer .hpf-top .container .hpf-top-right .chart-info .chart-text {
    font-size: 12px;
  }
}

@media screen and (max-width: 991.98px) {
  .app-footer .hpf-top .container .hpf-top-right {
    flex-wrap: wrap;
  }
}

.app-footer .hpf-top .container .hpf-top-right .hpf-chart-item {
  display: flex;
  align-items: center;
  padding: 0 30px;
}

@media screen and (max-width: 991.98px) {
  .app-footer .hpf-top .container .hpf-top-right .hpf-chart-item {
    width: 49.8%;
    padding: 0 10px 25px 10px;
  }
}

.app-footer .hpf-top .container .hpf-top-right .hpf-chart-line {
  width: 1px;
  height: 36px;
  background-color: #fff;
}

.app-footer .hpf-body {
  background-color: #fff;
}

.app-footer .hpf-body .container {
  display: flex;
  justify-content: space-between;
}

.app-footer .hpf-body .container::before {
  display: none;
}

@media screen and (max-width: 991.98px) {
  .app-footer .hpf-body .container {
    display: block;
  }
}

.app-footer .hpf-body .container .hpf-body-left {
  padding-top: 30px;
}

.app-footer .hpf-body .container .hpf-body-right {
  padding-top: 41px;
  font-size: 18px;
  line-height: 21px;
  padding-bottom: 30px;
  display: flex;
  flex-wrap: nowrap;
  padding-top: 61px;
}

@media screen and (max-width: 991.98px) {
  .app-footer .hpf-body .container .hpf-body-right {
    padding-top: 25px;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.app-footer .hpf-body .container .hpf-body-right .hpf-icon {
  display: flex;
  justify-content: space-between;
  padding: 0 5px;
}

.app-footer .hpf-body .container .hpf-body-right .hpf-icon a {
  font-size: 22px;
  color: #eb5b40;
}

@media screen and (max-width: 991.98px) {
  .app-footer .hpf-body .container .hpf-body-right {
    padding-top: 25px;
    padding-bottom: 5px;
  }
}

.app-footer .hpf-body .container .hpf-body-left .hpf-title,
.app-footer .hpf-body .container .hpf-body-right .hpf-title {
  font-size: 18px;
  color: #184153;
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 0;
  white-space: nowrap;
}

@media screen and (max-width: 1199.98px) {
  .app-footer .hpf-body .container .hpf-body-left .hpf-title,
  .app-footer .hpf-body .container .hpf-body-right .hpf-title {
    font-size: 16px;
  }
}

.app-footer .hpf-body .container .hpf-body-left .hpf-text,
.app-footer .hpf-body .container .hpf-body-right .hpf-text {
  color: #7f7f7f;
  margin-bottom: 5px;
  font-size: 16px;
  display: block;
  overflow-wrap: break-word;
  white-space: unset;
}

@media screen and (max-width: 991.98px) {
  .app-footer .hpf-body .container .hpf-body-left .hpf-text,
  .app-footer .hpf-body .container .hpf-body-right .hpf-text {
    white-space: unset;
  }
}

@media screen and (max-width: 1199.98px) {
  .app-footer .hpf-body .container .hpf-body-left .hpf-text,
  .app-footer .hpf-body .container .hpf-body-right .hpf-text {
    font-size: 14px;
  }
}

.app-footer .hpf-body .container .hpf-body-left .hpf-text i,
.app-footer .hpf-body .container .hpf-body-right .hpf-text i {
  font-size: 14px;
  width: 15px;
  text-align: center;
  margin-right: 7px;
  color: #eb5b40;
}

.app-footer .hpf-body .container .hpf-item {
  max-width: 280px;
  padding-right: 24px;
}

@media screen and (max-width: 991.98px) {
  .app-footer .hpf-body .container .hpf-item {
    padding-right: 10px;
    width: 49.8%;
    padding-bottom: 25px;
  }
}

@media screen and (max-width: 1199.98px) {
  .app-footer .hpf-body .container .hpf-item {
    padding-right: 20px;
  }
}

.app-footer .hpf-body .container .hpf-item:last-child {
  margin-right: 0;
}

.app-footer .hpf-bottom {
  background-color: #fff;
}

.app-footer .hpf-bottom .run-line {
  width: 100%;
  height: 2px;
  position: relative;
  overflow: hidden;
}

.app-footer .hpf-bottom .run-line::after {
  content: "";
  width: 200%;
  height: 2px;
  position: absolute;
  background-image: linear-gradient(to right, #004eff, #ffa439, #00d341);
  top: 0;
  left: 0;
  -webkit-animation: run-line-run 4s ease alternate infinite;
          animation: run-line-run 4s ease alternate infinite;
}

.app-footer .hpf-bottom .bottom-inner {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 991.98px) {
  .app-footer .hpf-bottom .bottom-inner {
    display: block;
    text-align: center;
    height: auto;
    padding: 15px 0;
  }
}

.app-footer .hpf-bottom .bottom-inner .copy-right {
  font-size: 12px;
  color: #7f7f7f;
}

.app-footer .hpf-bottom .bottom-inner .copy-right .copy-right-highlight {
  color: #eb5b40;
}

@media screen and (max-width: 991.98px) {
  .app-footer .hpf-bottom .bottom-inner .bottom-dmca {
    margin-top: 10px;
  }
}

.app-footer .hpf-bottom .bottom-inner .bottom-dmca img {
  width: 63px;
}

@-webkit-keyframes run-line-run {
  0% {
    left: 0;
  }

  50% {
    left: -100%;
  }

  to {
    left: 0;
  }
}

@keyframes run-line-run {
  0% {
    left: 0;
  }

  50% {
    left: -100%;
  }

  to {
    left: 0;
  }
}

.hp-footer {
  margin-top: 68px;
}

.hp-footer .hpf-body .container .hpf-body-right .hpf-text {
  overflow-wrap: break-word;
  white-space: unset;
}

.hp-footer .hpf-body .container .hpf-item {
  max-width: 280px;
}

@media screen and (max-width: 991.98px) {
  .hp-footer {
    margin-top: 48px;
  }

  .hp-footer .hpf-top .container .hpf-top-right .hpf-chart-item.hpf-chart-item-mobile-right {
    justify-content: flex-end;
  }

  .hp-footer .hpf-top .container .hpf-top-right .hpf-chart-line {
    position: relative;
    bottom: 10px;
  }
}

@media screen and (max-width: 767.98px) {
  .itnavi-new-homepage .hp-blog .blog-item {
    padding-top: 20px;
  }
}

