@charset "UTF-8";

/*=============== Search CV ===============*/

/*=============== End Search CV ===============*/

/*=============== Post Job ===============*/

/*=============== End Post Job ===============*/

/*=============== Company Information ===============*/

/*=============== End Company Information ===============*/

/*=============== DASHBOARD ===============*/

/*=============== End DASHBOARD ===============*/

/*=============== @include ===============*/

/*=============== End @include ===============*/

/*=============== @extend ===============*/

.pj-card__logo {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.text-default,
.text-list-default {
  overflow: hidden;
  display: -webkit-box;
  word-break: break-word;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

/*=============== End @extend ===============*/

/*=============== Fixed Stylesheet ===============*/

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  padding-top: 61px;
  background-color: #E5E5E5;
  overflow-x: hidden;
}

button,
button:hover,
button:focus,
select,
select:hover,
select:focus,
input,
textarea {
  outline: none;
}

a:hover {
  text-decoration: none;
}

[type=button],
[type=reset],
[type=submit],
button,
input {
  -webkit-appearance: unset;
  -moz-appearance: unset;
}

input[type=number] {
  -moz-appearance: textfield;
}

/*=============== End Fixed Stylesheet ===============*/

/*=============== Common Class ===============*/

.element-hidden {
  display: none !important;
}

.text-list-title {
  font-size: 16px;
  line-height: 19px;
  font-weight: bold;
  color: #555555;
}

.text-list-default {
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
  color: #454545;
  word-break: break-word;
  -webkit-line-clamp: 2;
}

.text-default {
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
  color: #4A4A4A;
  margin-bottom: 5px;
  -webkit-line-clamp: 2;
}

.error-text {
  font-size: 12px;
  line-height: 14px;
  font-weight: normal;
  color: #FD1616;
  word-break: break-word;
}

.pointer {
  cursor: pointer;
}

.no-scroll {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

@media screen and (min-width: 1500px) {
  .container,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl {
    min-width: 1450px;
  }
}

@media screen and (min-width: 992px) {
  .app-mobile {
    display: none !important;
  }
}

@media screen and (max-width: 991.98px) and (min-width: 768px) {
  .app-tablet {
    display: none !important;
  }
}

@media screen and (max-width: 767.98px) {
  .app-desktop {
    display: none !important;
  }
}

/* Badge */

.tiny-badge {
  font-size: 12px;
  line-height: 16px;
  font-weight: normal;
  border-radius: 30px;
  white-space: nowrap;
  display: inline-block;
  padding: 0 0.4em;
  position: relative;
  top: -1px;
}

.tiny-badge.green {
  color: #147C18;
  background-color: #E6FEDB;
}

.tiny-badge.red {
  color: #A90A0A;
  background-color: #FFF3F3;
}

.tiny-badge.yellow {
  color: #886407;
  background-color: #FFF1CE;
}

.tiny-badge.gray {
  color: #5F5F5F;
  background-color: #F4F4F4;
}

.tiny-badge.skyblue {
  color: #245D70;
  background-color: #F4F9FE;
}

/* End Badge */

/*=============== End Common Class ===============*/

.select2-container--default .pj_form_select2-multiple-dropdown,
.select2-container--default .pj_form_select2-dropdown {
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

html,
body {
  overflow-y: auto;
}

.emp-box {
  margin-top: 43px;
  margin-bottom: 100px;
  background-color: #fff;
  border: 0.5px solid #B8B8B8;
}

.pj-header {
  height: 80px;
  border-bottom: 1px solid #EBEBEB;
}

.pj-title {
  padding: 0 5px;
}

.pj-title__image {
  margin-right: 13px;
  position: relative;
  top: -1px;
}

.pj-title__text {
  font-size: 18px;
  line-height: 21px;
  font-weight: 500;
  color: #06202D;
}

.pj-body {
  position: relative;
}

.pj-nav {
  padding-left: 28px;
  position: -webkit-sticky;
  position: sticky;
  margin-top: 20px;
  top: 20px;
}

.pj-nav__item {
  list-style-type: none;
  height: 43px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 20px;
  cursor: pointer;
  transition: all 0.3s;
  position: relative;
  z-index: 1;
  text-align: right;
  font-size: 16px;
  line-height: 19px;
  font-weight: normal;
  color: #838383;
}

.pj-nav__item:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  width: 0;
  height: 100%;
  transition: all 0.4s ease-in-out;
  background-color: #F5F5F5;
}

.pj-nav__item--success {
  position: relative;
  top: -1px;
  right: -35px;
  opacity: 0;
  transition: all 0.5s;
}

.pj-nav__item:hover:before,
.pj-nav__item.active:before,
.pj-nav__item--success:before {
  width: 100%;
}

.pj-nav__item.active,
.pj-nav__item.successfully {
  color: #06202D;
}

.pj-nav__item.successfully .pj-nav__item--success {
  right: 15px;
  opacity: 1;
}

.pj-nav:before {
  content: "";
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  width: 3px;
  height: 100%;
  background-color: #D8D7D7;
}

.pj-nav__border {
  content: "";
  position: absolute;
  z-index: 3;
  top: 0;
  right: 0;
  width: 3px;
  height: 43px;
  background-color: #1C4355;
  transition: all 0.3s;
}

.pj-nav:hover .pj-nav__item:before {
  width: 0;
}

.pj-nav:hover .pj-nav__item:hover:before {
  width: 100%;
}

.pj-form {
  padding: 25px 90px 20px 90px;
}

.pj-form__label {
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 19px;
  font-weight: normal;
  color: #464545;
}

.pj-form__label--inline {
  white-space: nowrap;
  padding-right: 15px;
  font-size: 14px;
}

.pj-form__input {
  width: 100%;
  height: 48px;
  border: 1px solid #D9D9D9;
  border-radius: 2px;
  padding: 0 12px;
  transition: all 0.2s;
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  color: #464545;
}

.pj-form__input::-moz-placeholder {
  color: #BEBEBE;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

.pj-form__input:-ms-input-placeholder {
  color: #BEBEBE;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}

.pj-form__input::placeholder {
  color: #BEBEBE;
  transition: all 0.2s;
}

.pj-form__input:active {
  border: 1px solid #1C4355;
}

.pj-form__input:active::-moz-placeholder {
  color: #fff;
}

.pj-form__input:active:-ms-input-placeholder {
  color: #fff;
}

.pj-form__input:active::placeholder {
  color: #fff;
}

.pj-form__input:disabled {
  background-color: #EEEEEE;
  cursor: not-allowed;
}

.pj-form__cancel,
.pj-form__submit {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  height: 48px;
  padding: 0 30px;
  border: none;
  border-radius: 4px;
  transition: all 0.1s;
  position: relative;
}

.pj-form__cancel:active,
.pj-form__submit:active {
  transform: scale(0.95);
}

.pj-form__cancel {
  color: #616161;
  background-color: #EFEFEF;
}

.pj-form__submit {
  color: #fff;
  background-color: #D93E21;
}

.pj-form__submit:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.pj-form__toggle--title {
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  color: #838383;
}

.pj-form__toggle--icon {
  display: flex;
  position: relative;
  width: 42px;
  min-width: 42px;
  height: 24px;
  border-radius: 24px;
  border: 2px solid #fff;
  background-color: #6B778C;
  transition: all 0.3s;
  cursor: pointer;
  box-shadow: 0 0 0 2px transparent;
}

.pj-form__toggle--icon:hover {
  box-shadow: 0 0 0 2px #4C9AFF;
}

.pj-form__toggle--icon:before,
.pj-form__toggle--icon:after {
  font-family: "Font Awesome 5 Free", "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 10px;
  color: #fff;
  z-index: 1;
  top: 50%;
}

.pj-form__toggle--icon:before {
  content: "\F00C";
  position: absolute;
  left: 28%;
  transform: translate(-50%, -50%);
}

.pj-form__toggle--icon:after {
  content: "\F00D";
  position: absolute;
  right: 28%;
  transform: translate(50%, -50%);
}

.pj-form__toggle--icon > span {
  position: absolute;
  display: flex;
  top: 2px;
  left: 2px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #fff;
  transition: all 0.3s;
}

.pj-form__toggle--input[type=checkbox] {
  opacity: 0;
  width: 0;
}

.pj-form__toggle--input[type=checkbox]:active + .pj-form__toggle--icon {
  box-shadow: 0 0 0 2px #4C9AFF;
}

.pj-form__toggle--input[type=checkbox]:checked + .pj-form__toggle--icon {
  background-color: #00875A;
}

.pj-form__toggle--input[type=checkbox]:checked + .pj-form__toggle--icon > span {
  left: 20px;
}

.pj-form__toggle--input[type=checkbox]:disabled + .pj-form__toggle--icon {
  background-color: #F4F5F7;
  cursor: unset;
  box-shadow: 0 0 0 2px transparent !important;
}

.pj-form__toggle--input[type=checkbox]:disabled + .pj-form__toggle--icon:before,
.pj-form__toggle--input[type=checkbox]:disabled + .pj-form__toggle--icon:after {
  color: #A5ADBA;
}

.pj-form__toggle--input[type=checkbox]:disabled + .pj-form__toggle--icon > span {
  left: 2px !important;
  background-color: #A5ADBA !important;
}

.list-item .pj-list-remove {
  position: absolute;
  top: -5px;
  right: 4px;
  width: auto;
  height: auto;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
}

.list-item .pj-list-remove__button {
  position: relative;
  height: auto;
  width: auto;
  top: 0;
  border: none;
  padding: 0;
  box-shadow: 0 0 0 2px #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #838383;
  background-color: #fff;
  font-size: 18px;
  transition: all 0.2s;
}

.list-item .pj-list-remove__button:hover {
  box-shadow: 0 0 0 5px #838383;
  background-color: #838383;
  color: #fff;
}

.list-item .pj-list-remove__button:disabled {
  visibility: hidden;
  opacity: 0;
  top: 30px;
}

.pj-card {
  border: 1px solid #E7E7E7;
  border-radius: 6px;
}

.pj-card__body {
  padding: 30px 20px 25px 35px;
}

.pj-card__logo {
  background-size: contain;
  width: 48px;
  min-width: 48px;
  height: 48px;
}

.pj-card__header {
  padding-left: 20px;
  padding-right: 15px;
}

.pj-card__name {
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
  color: #000;
  word-break: break-word;
  margin-bottom: 8px;
}

.pj-card__location {
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  color: #838383;
  word-break: break-word;
}

.pj-card__edit {
  height: 32px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 19px;
  font-weight: normal;
  color: #464545 !important;
  border: none;
  background: #F6F6F6;
  border-radius: 4px;
  transition: all 0.2s;
  white-space: nowrap;
}

.pj-card__edit img {
  margin-right: 8px;
}

.pj-card__edit:hover {
  background-color: #E7E7E7;
}

.pj-card__edit:active {
  transition: 0.1s;
  transform: scale(0.95);
}

.pj-card__description {
  padding-top: 20px;
  font-size: 14px;
  line-height: 22px;
  font-weight: normal;
  color: #464545;
}

.pj-card__footer {
  border-top: 1px solid #E7E7E7;
  padding: 11px 20px 14px 35px;
}

.pj-card__updated {
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  color: #838383;
}

.pj-tips__body {
  padding: 18px 24px;
  border: 1px solid #D0EBBB;
  border-radius: 2px;
  background-color: #F7FDF0;
}

.pj-tips__title {
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
  color: #000;
  padding-bottom: 20px;
}

.pj-tips__title i {
  font-size: 18px;
  color: #52C41A;
  margin-right: 5px;
}

.pj-tips__description {
  font-size: 14px;
  line-height: 22px;
  font-weight: normal;
  color: #464545;
  padding-bottom: 20px;
}

.pj-tips__step {
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  color: #838383;
}

.pj-form__settime {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding-left: 35px;
  padding-right: 0;
}

.pj-form__settime input {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding-left: 10px;
  color: #464545;
  font-weight: 500;
}

.pj-form__settime input.disabled {
  visibility: hidden;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
}

.pj-form__settime input.disabled + .pj-form__settime-text {
  display: unset;
}

.pj-form__settime-text {
  display: none;
  margin-left: 10px;
  margin-right: 35px;
}

.button-nude {
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  color: #06202D;
  border: 1px solid transparent;
  background-color: transparent;
  padding: 5px 10px;
  border-radius: 3px;
  transition: all 0.2s;
  opacity: 1;
  position: relative;
}

.button-nude:hover {
  border: 1px solid #06202D;
  background-color: #06202D;
  color: #fff;
}

.button-nude:active {
  transform: scale(0.95);
  border: 1px solid #06202D;
  transition: 0.1s;
}

.button-nude:disabled {
  padding-top: 0;
  padding-bottom: 0;
  height: 0;
  opacity: 0;
}

.pj_form_select2:focus + .select2-container--default .pj_form_select2-selection {
  border: 1px solid #06202D;
}

.select2-container--default .select2-selection:focus {
  outline: none;
}

.select2-container--default .pj_form_select2-selection {
  height: 48px;
  border: 1px solid #D9D9D9;
  border-radius: 2px;
  transition: 0.2s;
}

.select2-container--default .pj_form_select2-selection .select2-selection__rendered {
  font-size: 14px;
  line-height: 46px;
  padding-left: 12px;
  color: #06202D;
}

.select2-container--default .pj_form_select2-selection .select2-selection__placeholder {
  color: #BEBEBE;
}

.select2-container--default .pj_form_select2-selection .select2-selection__clear {
  height: 45px;
  margin-right: 35px;
}

.select2-container--default .pj_form_select2-selection .select2-selection__arrow {
  height: 24px;
  right: 8px;
}

.select2-container--default .pj_form_select2-selection .select2-selection__arrow b {
  border: none;
  padding: 0;
}

.select2-container--default .pj_form_select2-selection .select2-selection__arrow b:before {
  content: "\F0D7";
  font-family: "Font Awesome 5 Free", "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 12px;
}

.select2-container--default .pj_form_select2-dropdown {
  -webkit-animation: show-height-50-50 0.15s ease-out both;
          animation: show-height-50-50 0.15s ease-out both;
}

.select2-container--default .pj_form_select2-dropdown .select2-results__option {
  font-size: 14px;
  padding-left: 12px;
  color: #06202D;
  transition: all 0.1s;
}

.select2-container--default .pj_form_select2-dropdown .select2-results__option--disabled {
  color: #838383;
}

.select2-container--default .pj_form_select2-dropdown .select2-results__option--highlighted {
  background-color: #06202D;
  color: #fff;
}

.select2-container--default .pj_form_select2-multiple-selection {
  min-height: 48px;
  border: 1px solid #D9D9D9 !important;
  border-radius: 2px;
  padding-right: 3px;
  padding-bottom: 3px;
  transition: 0.2s;
}

.select2-container--default .pj_form_select2-multiple-selection .select2-selection__rendered {
  font-size: 14px;
  line-height: 38px;
  color: #06202D;
}

.select2-container--default .pj_form_select2-multiple-selection .select2-selection__placeholder {
  color: #BEBEBE;
}

.select2-container--default .pj_form_select2-multiple-selection .select2-selection__clear {
  height: 45px;
  margin-right: 35px;
}

.select2-container--default .pj_form_select2-multiple-selection .select2-selection__arrow {
  height: 24px;
  right: 8px;
}

.select2-container--default .pj_form_select2-multiple-selection .select2-selection__arrow b {
  border: none;
  padding: 0;
}

.select2-container--default .pj_form_select2-multiple-selection .select2-selection__arrow b:before {
  content: "\F0D7";
  font-family: "Font Awesome 5 Free", "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 12px;
}

.select2-container--default .pj_form_select2-multiple-selection .select2-selection__choice {
  margin-left: 3px;
  margin-right: 3px;
  margin-top: 3px;
  background-color: #EEEEEE;
  border: 1px solid #E9E9E9;
}

.select2-container--default .pj_form_select2-multiple-selection .select2-selection__choice__remove {
  border-right: none;
  float: right;
  padding-right: 10px;
  padding-left: 6px;
}

.select2-container--default .pj_form_select2-multiple-selection .select2-selection__choice__display {
  padding-left: 10px;
}

.select2-container--default .pj_form_select2-multiple-selection .select2-search__field {
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  color: #464545;
  margin-top: 3px;
  margin-left: 12px;
  height: 40px;
}

.select2-container--default .pj_form_select2-multiple-selection .select2-search__field::-moz-placeholder {
  color: #BEBEBE;
}

.select2-container--default .pj_form_select2-multiple-selection .select2-search__field:-ms-input-placeholder {
  color: #BEBEBE;
}

.select2-container--default .pj_form_select2-multiple-selection .select2-search__field::placeholder {
  color: #BEBEBE;
}

.select2-container--default .pj_form_select2-multiple-dropdown {
  -webkit-animation: show-height-50-50 0.15s ease-out both;
          animation: show-height-50-50 0.15s ease-out both;
}

.select2-container--default .pj_form_select2-multiple-dropdown .select2-results__option {
  font-size: 14px;
  padding-left: 12px;
  color: #06202D;
  transition: all 0.1s;
}

.select2-container--default .pj_form_select2-multiple-dropdown .select2-results__option--disabled {
  color: #838383;
}

.select2-container--default .pj_form_select2-multiple-dropdown .select2-results__option--highlighted {
  background-color: #06202D;
  color: #fff;
}

.select2-container--default.select2-container--open .pj_form_select2-selection {
  background-color: #E9E8E8;
}

.select2-container--default.select2-container--focus .pj_form_select2-selection,
.select2-container--default.select2-container--focus .pj_form_select2-multiple-selection {
  border: 1px solid #1C4355;
}

.select2-container--default.select2-container--disabled .pj_form_select2-selection {
  cursor: not-allowed;
}

.select2-container--default.select2-container--disabled.select2-container--focus .pj_form_select2-selection {
  border: 1px solid #D9D9D9;
}

.tox-tinymce {
  border: 1px solid #D9D9D9 !important;
  border-radius: 2px !important;
}

.zindex-1 {
  z-index: 1;
}

.no-min-height {
  min-height: 0 !important;
}

.mx-n12 {
  margin-right: -12px;
  margin-left: -12px;
}

.px-12 {
  padding-right: 12px;
  padding-left: 12px;
}

.pt-20 {
  padding-top: 20px;
}

.mb-100 {
  margin-bottom: 100px;
}

.error-text {
  font-size: 12px;
  line-height: 14px;
  font-weight: normal;
  color: #D93E21;
  min-height: 14px;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 3px;
}

.required-form:after {
  content: "*";
  color: #D93E21;
}

.error-input {
  border: 1px solid #D93E21 !important;
}

.error-form .select2-selection,
.error-form .bootstrap-tagsinput,
.error-form .tox-tinymce {
  border: 1px solid #D93E21 !important;
}

@media screen and (min-width: 1500px) {
  .col-xxl-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .col-xxl-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
}

@media screen and (max-width: 1499.98px) {
  .pj-nav {
    padding-left: 15px;
  }

  .pj-nav__item {
    padding-right: 15px;
  }

  .pj-nav__item.successfully .pj-nav__item--success {
    right: 10px;
  }

  .pj-form {
    padding: 20px 35px 20px 35px;
  }
}

@media screen and (max-width: 991.98px) {
  .pj-header {
    height: auto;
    border-bottom: none;
    padding-top: 20px;
  }

  .pj-nav {
    justify-content: space-around;
    padding: 0 10px;
    margin-top: 50px;
    border-bottom: 1px solid #E7E7E7;
  }

  .pj-nav:before {
    display: none;
  }

  .pj-nav__item {
    position: relative;
    padding: 0 10px 14px 10px;
    max-width: 95px;
    text-align: center;
    height: auto;
  }

  .pj-nav__item:before {
    display: none;
  }

  .pj-nav__item:after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 50%;
    transform: translateX(-50%);
    height: 3px;
    width: 0;
    background-color: #06202D;
    transition: all 0.3s;
    opacity: 0;
  }

  .pj-nav__item--success {
    position: absolute;
    top: 0;
    right: unset;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: all 0.5s;
  }

  .pj-nav__item.active:after {
    width: 100%;
    opacity: 1;
  }

  .pj-nav__item.active,
  .pj-nav__item.successfully {
    color: #06202D;
  }

  .pj-nav__item.successfully .pj-nav__item--success {
    right: unset;
    opacity: 1;
    top: -25px;
  }

  .pj-nav:before {
    content: "";
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    width: 3px;
    height: 100%;
    background-color: #D8D7D7;
  }

  .pj-nav__border {
    display: none;
  }

  .pj-nav:hover .pj-nav__item:before {
    width: 0;
  }

  .pj-nav:hover .pj-nav__item:hover:before {
    width: 100%;
  }
}

@media screen and (max-width: 767.98px) {
  .px-mobile-0 {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }

  .emp-box {
    margin-top: 25px;
  }

  .pj-title {
    padding: 0 3px;
  }

  .pj-title__image {
    width: 21px;
    margin-right: 8px;
  }

  .pj-title__text {
    font-size: 16px;
    line-height: 19px;
  }

  .pj-nav {
    margin-top: 40px;
  }

  .pj-nav:before {
    display: none;
  }

  .pj-nav__item {
    padding: 0 5px 12px 5px;
    max-width: 70px;
    font-size: 14px;
    line-height: 16px;
  }

  .pj-nav__item--success {
    width: 14px;
  }

  .pj-nav__item.active:after {
    width: 100%;
    opacity: 1;
  }

  .pj-nav__item.active,
  .pj-nav__item.successfully {
    color: #06202D;
  }

  .pj-nav__item.successfully .pj-nav__item--success {
    right: unset;
    opacity: 1;
    top: -20px;
  }

  .pj-nav:before {
    content: "";
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    width: 3px;
    height: 100%;
    background-color: #D8D7D7;
  }

  .pj-nav__border {
    display: none;
  }

  .pj-nav:hover .pj-nav__item:before {
    width: 0;
  }

  .pj-nav:hover .pj-nav__item:hover:before {
    width: 100%;
  }

  .pj-form {
    padding: 0 20px 20px 20px;
  }

  .pj-form__label {
    margin-bottom: 5px;
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
  }

  .pj-form__label--inline {
    display: none;
  }

  .pj-form__input,
  .pj-form__submit,
  .pj-form__cancel {
    height: 40px;
    font-size: 12px;
    line-height: 14px;
    font-weight: normal;
  }

  .pj-form__submit,
  .pj-form__cancel {
    padding: 0 15px;
  }

  .pj-form__toggle--title {
    font-size: 12px;
    line-height: 14px;
    font-weight: normal;
  }

  .pj-form__toggle--icon {
    transform: scale(0.8);
  }

  .error-text {
    font-size: 10px;
    line-height: 12px;
    font-weight: normal;
    min-height: 12px;
    padding-top: 2px;
  }

  .button-nude {
    font-size: 12px;
    line-height: 14px;
    font-weight: normal;
    padding: 5px;
  }

  .pj-card {
    border: 1px solid #E7E7E7;
    border-radius: 6px;
  }

  .pj-card__body {
    padding: 25px 17px;
  }

  .pj-card__logo {
    width: 43px;
    min-width: 43px;
    height: 43px;
  }

  .pj-card__header {
    padding-left: 15px;
    padding-right: 10px;
  }

  .pj-card__name {
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    margin-bottom: 5px;
  }

  .pj-card__location {
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
  }

  .pj-card__edit {
    height: 30px;
    padding: 0 10px;
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
  }

  .pj-card__footer {
    border-top: 1px solid #E7E7E7;
    padding: 11px 15px;
  }

  .pj-card__updated {
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
  }

  .select2-container--default .pj_form_select2-selection {
    height: 40px;
  }

  .select2-container--default .pj_form_select2-selection .select2-selection__rendered {
    font-size: 12px;
    line-height: 38px;
  }

  .select2-container--default .pj_form_select2-selection .select2-selection__placeholder {
    color: #BEBEBE;
  }

  .select2-container--default .pj_form_select2-selection .select2-selection__clear {
    height: 37px;
  }

  .select2-container--default .pj_form_select2-selection .select2-selection__arrow {
    height: 16px;
  }

  .select2-container--default .pj_form_select2-dropdown .select2-results__option {
    font-size: 12px;
  }

  .select2-container--default .pj_form_select2-multiple-selection {
    min-height: 40px;
  }

  .select2-container--default .pj_form_select2-multiple-selection .select2-selection__rendered {
    font-size: 12px;
    line-height: 30px;
  }

  .select2-container--default .pj_form_select2-multiple-selection .select2-selection__clear {
    height: 35px;
    margin-right: 27px;
  }

  .select2-container--default .pj_form_select2-multiple-selection .select2-selection__arrow {
    height: 16px;
  }

  .select2-container--default .pj_form_select2-multiple-selection .select2-search__field {
    font-size: 12px;
    line-height: 14px;
    font-weight: normal;
    height: 32px;
  }

  .select2-container--default .pj_form_select2-multiple-dropdown .select2-results__option {
    font-size: 12px;
  }
}

/*=============================KEYFRAMES================================*/

@-webkit-keyframes flyLeftToRight {
  0% {
    left: 0;
    opacity: 1;
  }

  49% {
    left: 100%;
    opacity: 0;
  }

  50% {
    left: -20%;
    opacity: 0;
  }

  100% {
    left: 0;
    opacity: 1;
  }
}

@keyframes flyLeftToRight {
  0% {
    left: 0;
    opacity: 1;
  }

  49% {
    left: 100%;
    opacity: 0;
  }

  50% {
    left: -20%;
    opacity: 0;
  }

  100% {
    left: 0;
    opacity: 1;
  }
}

@-webkit-keyframes searchScale {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(2);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes searchScale {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(2);
  }

  100% {
    transform: scale(1);
  }
}

@-webkit-keyframes show-height {
  0% {
    opacity: 0;
    transform: translateY(-60%) scaleY(0);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scaleY(1);
  }
}

@keyframes show-height {
  0% {
    opacity: 0;
    transform: translateY(-60%) scaleY(0);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scaleY(1);
  }
}

@-webkit-keyframes show-date {
  0% {
    opacity: 0;
    transform: translate(50%, -50%) scale(0);
  }

  100% {
    opacity: 1;
    transform: translate(0, 0) scale(1);
  }
}

@keyframes show-date {
  0% {
    opacity: 0;
    transform: translate(50%, -50%) scale(0);
  }

  100% {
    opacity: 1;
    transform: translate(0, 0) scale(1);
  }
}

@-webkit-keyframes coming-up {
  0% {
    opacity: 0;
    transform: translateY(50px) scale(0.9);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes coming-up {
  0% {
    opacity: 0;
    transform: translateY(50px) scale(0.9);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@-webkit-keyframes coming-down {
  0% {
    opacity: 0;
    transform: translateY(-50px) scale(0.9);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes coming-down {
  0% {
    opacity: 0;
    transform: translateY(-50px) scale(0.9);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@-webkit-keyframes coming-down-short {
  0% {
    opacity: 0;
    transform: translateY(-20px) scale(1);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes coming-down-short {
  0% {
    opacity: 0;
    transform: translateY(-20px) scale(1);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@-webkit-keyframes show-height-50 {
  0% {
    opacity: 0;
    transform: translateY(-50%) scaleY(0);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scaleY(1);
  }
}

@keyframes show-height-50 {
  0% {
    opacity: 0;
    transform: translateY(-50%) scaleY(0);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scaleY(1);
  }
}

@-webkit-keyframes coming-up-near {
  0% {
    opacity: 0;
    transform: translateY(40px) scale(0.95);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes coming-up-near {
  0% {
    opacity: 0;
    transform: translateY(40px) scale(0.95);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@-webkit-keyframes show-height-50-50 {
  0% {
    opacity: 0;
    transform: translateY(-25%) scaleY(0.5);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scaleY(1);
  }
}

@keyframes show-height-50-50 {
  0% {
    opacity: 0;
    transform: translateY(-25%) scaleY(0.5);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scaleY(1);
  }
}

@-webkit-keyframes un-show-notify {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes un-show-notify {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

