@media screen and (min-width: 992px) {
    .lp {
        &-navbar {
            .navbar {
                &-dropdown {
                    &__toggle {
                        display: none;
                    }

                    &__menu {
                        padding: 0;
                        position: static;
                        border: none;
                        background: transparent;
                        display: block;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1499.98px) {
    .lp {
        &s2 {
            padding-top: 70px;
            padding-bottom: 75px;

            .lp-title {
                margin-bottom: 30px;
                width: 380px;
            }

            &-left {
                padding-top: 70px;
            }

            &-image {
                img {
                    width: 611px;
                    height: 100%;
                }
            }

            &-navi {
                right: 55px;

                img {
                    width: 300px;
                }
            }
        }

        &s3 {
            .lp-title {
                margin-bottom: 35px;
                width: 390px;
            }

            &-left {
                padding-top: 60px;
            }

            &-image {
                img {
                    width: 599px;
                    height: 100%;
                }
            }
        }

        &s5 {
            padding-top: 80px;
            padding-bottom: 100px;

            .lp-title {
                @include setTextStyle(34px, 52px, 600);
                margin-bottom: 80px;
                width: 530px;
            }

            &-navi {
                position: absolute;
                top: 40px;
                right: 48px;
                z-index: -1;

                img {
                    width: 310px;
                }
            }
        }

        &s6 {
            padding-top: 100px;
            padding-bottom: 120px;

            .lp-title {
                @include setTextStyle(34px, 52px, 600);
                margin-top: 25px;
            }

            &-image {
                img {
                    width: 610px;
                    height: 100%;
                }
            }

            &-right {
                padding-top: 20px;
            }

            &-contact {
                margin-bottom: 35px;

                &__item {
                    @include setTextStyle(16px, 30px, normal);
                }
            }

            &-form {

                &__submit {
                    @include setTextStyle(18px, 26px, normal);
                    height: 55px;
                }
            }
        }

        &-title {
            @include setTextStyle(29px, 38px, 600);
        }

        &-list {
            &__item {
                @include setTextStyle(18px, 24px, 400);
                padding-bottom: 18px;
            }

            &__tag {
                @include setTextStyle(10px, 20px, 700);
                padding: 0 8px;
                top: -3px;

                &--1st {
                    padding-right: 20px;

                    img {
                        width: 33px;
                        right: -18px;
                    }
                }
            }
        }

        &-link {
            &__big {
                @include setTextStyle(18px, 24px, 500);
                margin-top: 14px;

                i {
                    font-size: 14px;
                    padding-left: 7px;
                }
            }
        }

        &-navi {
            &__red {
                @include setTextStyle(18px, 24px, normal);

                img {
                    top: 4px;
                    margin-right: 7px;
                }
            }
        }
    }
}

@media screen and (max-width: 1199.98px) {
    .lp {
        &-navbar {
            height: 85px;

            .navbar {
                &-nav {
                    .nav {
                        &-item {
                            padding: 0 5px;
                        }

                        &-link {
                            @include setTextStyle(16px, 24px, 500);
                            padding: 6px 8px;

                            &:hover {
                                &:before {
                                    filter: blur(5px);
                                }
                            }

                            &__big {
                                padding-left: 15px;
                                padding-right: 15px;
                            }
                        }
                    }
                }
            }
        }

        &s3 {
            &-image {
                display: flex;
                justify-content: flex-end;

                img {
                    width: 599px;
                    height: 100%;
                }
            }
        }

        &s4 {
            &-item {
                width: 290px;

                &__top {
                    height: 80px;
                }
            }

            &-navi {
                bottom: -110px;
                right: -90px;
            }
        }

        &s5 {
            padding-top: 50px;
            padding-bottom: 70px;

            .lp-title {
                margin-bottom: 60px;
            }

            &-navi {
                position: absolute;
                right: 55px;
                top: 50px;
                z-index: -1;

                img {
                    width: 250px;
                }
            }

            &-modal {
                .modal {

                    &-content {
                        min-height: unset;
                    }

                    &-left {
                        padding: 35px 25px;
                    }

                    &-sub {
                        @include setTextStyle(16px, 20px, 500);
                        margin-bottom: 6px;
                    }

                    &-name {
                        @include setTextStyle(24px, 30px, 600);
                    }

                    &-list {
                        padding-top: 30px;

                        &__name {
                            @include setTextStyle(16px, 20px, normal);
                            min-width: 150px;
                        }

                        &__value {
                            @include setTextStyle(16px, 20px, normal);
                        }
                    }
                }
            }
        }

        &s6 {

            &-image {
                display: flex;
                justify-content: flex-end;

                img {
                    width: 550px;
                    height: 100%;
                }
            }

            &-contact {
                width: 100%;
                margin-bottom: 20px;
            }
        }

        &-footer {
            background: #10192B;
            padding-top: 45px;

            &__top {
                display: flex;
                align-items: center;
            }

            &__body {
                padding-top: 50px;
            }

            &__bottom {
                padding: 35px 0;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            &__copy-right {
                @include setTextStyleColor(14px, 16px, 400, $color_white);
            }

            &__dmca {
                width: 65px;
                border: 1px solid $color_white;

                img {
                    width: 100%;
                }
            }

            .footer {

                &-grid {
                    grid-template-columns: unset;
                    grid-template-areas: 'nav-1 nav-2 nav-3' 'nav-1 nav-2 nav-4';
                }
            }
        }
    }
}

@media screen and (max-width: 991.98px) {
    .lp {
        &-navbar {
            .navbar {

                &-nav {
                    padding-top: 0;
                    flex-direction: column;
                    align-items: flex-start;

                    .nav {

                        &-item {
                            padding: 0 20px;
                        }

                        &-link {
                            padding: 12px 10px;

                            &:before {
                                display: none;
                            }

                            &__big {
                                color: #E74243;
                                text-transform: uppercase;
                                font-weight: 600;

                                &:before {
                                    display: none;
                                }
                            }
                        }
                    }
                }

                &-dropdown {
                    &__toggle {
                        border: none;
                        height: 40px;
                        background: transparent;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: 0;
                    }

                    &__menu {
                        border: none;
                        border-radius: 0;
                        box-shadow: 3px 3px 5px #00000011;
                        padding: 10px 0;

                        &.show {
                            animation: coming-down-short .3s both;
                        }

                        .nav {
                            &-link {
                                &__blue {
                                    animation: coming-down-short .2s both;
                                }

                                &__pink {
                                    animation: coming-down-short .2s .05s both;
                                }

                                &__yellow {
                                    animation: coming-down-short .2s .1s both;
                                }

                                &__big {
                                    animation: coming-down-short .2s .15s both;
                                }
                            }
                        }
                    }
                }
            }
        }

        &s1 {
            &-image {
                left: 0;
                height: 100%;
            }

            &-step {
                position: static;
                display: flex;
                flex-direction: column;
                width: 100%;
                padding-bottom: 40px;

                &__item {
                    width: 100%;
                    display: flex;
                    position: static;
                    margin-bottom: 15px;
                }
            }
        }

        &s2 {
            &-left {
                padding-top: 0;
            }

            &-image {
                display: flex;
                justify-content: center;

                img {
                    width: 100%;
                    max-width: 500px;
                    height: 100%;
                }
            }
        }

        &s3 {
            &-left {
                padding-top: 0;
            }

            &-image {
                display: flex;
                justify-content: center;

                img {
                    width: 100%;
                    max-width: 500px;
                    height: 100%;
                }
            }
        }

        &s4 {
            &-item {
                width: 100%;
                margin-bottom: 20px;

                &__top {
                    display: flex;
                    align-items: center;
                }

                &__title {
                    padding-left: 20px;
                }

                &__description {
                    padding-top: 10px;
                }
            }
        }

        &s5 {
            &-modal {
                .modal {
                    &-body {
                        position: relative;
                        z-index: 1;
                    }

                    &-right {
                        position: absolute;
                        flex: unset;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        z-index: -1;
                        opacity: .1;
                    }

                    &-list {
                        &__name {
                            min-width: unset;
                        }
                    }
                }
            }
        }

        &s6 {
            padding-top: 20px;

            &-image {
                justify-content: flex-start;

                img {
                    width: 100%;
                    max-width: 500px;
                    height: 100%;
                    position: relative;
                    left: -30px;
                }
            }

            &-contact {
                width: 100%;
                margin-bottom: 20px;
            }
        }

        &-footer {
            background: #10192B;
            padding-top: 55px;

            &__top {
                display: flex;
                align-items: center;
            }

            &__body {
                padding-top: 40px;
            }

            &__bottom {
                padding-top: 40px;
                flex-direction: column;
            }

            &__copy-right {
                margin-bottom: 15px;
            }

            .footer {
                &-nav {
                    padding-top: 20px;

                    &__title {
                        border-bottom: none;
                    }
                }

                &-grid {
                    grid-template-columns: unset;
                    grid-template-areas: 'nav-1 nav-2' 'nav-3 nav-4';
                }
            }
        }
    }
}

@media screen and (max-width: 767.98px) {
    .lp {
        &-navbar {
            height: 70px;

            .navbar {
                &-brand {
                    margin-right: 5px;

                    img {
                        height: 25px;
                    }

                    &__description {
                        @include setTextStyle(12px, 10px, 500);
                        padding-left: 5px;
                        top: 5px;
                    }
                }

                &-nav {
                    padding-top: 0;

                    .nav {
                        padding-top: 0;

                        &-item {
                            padding: 0 15px;
                        }

                        &-link {
                            @include setTextStyle(16px, 30px, 500);
                            padding: 8px 10px;
                        }
                    }
                }
            }

            &.scroll {
                height: 60px;
            }
        }

        &s1 {
            padding-top: 105px;

            &-head {
                @include setTextStyle(24px, 30px, normal);
                margin-bottom: 26px;
            }

            &-description {
                @include setTextStyle(16px, 24px, normal);
                margin-bottom: 26px;
                width: 285px;

                .lp-link {
                    display: block;
                    padding-top: 7px;
                }
            }

            &-action {
                display: flex;

                &__button {
                    @include setTextStyle(16px, 20px, 400);
                    width: 150px;
                    height: 46px;
                    margin: 0 6px;
                }
            }

            &-image {
                width: 100%;
                padding-top: 44px;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            &-step {
                padding-top: 10px;
                align-items: center;
            }
        }

        &s2 {
            .lp-title {
                width: 100%;
            }
        }

        &s3 {
            .lp-title {
                width: 100%;
            }
        }

        &s4 {
            padding-top: 60px;
            padding-bottom: 80px;

            .lp-title {
                letter-spacing: 0;
            }

            &-description {
                @include setTextStyle(16px, 24px, normal);
                margin-bottom: 10px;
                width: 100%;
                max-width: 285px;
            }

            &-body {
                padding-top: 30px;
            }

            &-item {
                padding: 18px 23px 38px 28px;

                &__top {
                    height: auto;
                }

                &__image {
                    width: 54px;
                    min-width: 54px;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }

                &__title {
                    @include setTextStyle(18px, 26px, 600);
                }

                &__description {
                    @include setTextStyleColor(16px, 24px, normal, #505050);
                    padding-top: 25px;
                }
            }

            &-navi {
                bottom: -70px;
                right: -70px;

                img {
                    width: 150px;
                }
            }
        }

        &s5 {
            padding-top: 26px;
            padding-bottom: 80px;

            .lp-title {
                @include setTextStyle(24px, 32px, 600);
                margin-top: 26px;
                margin-bottom: 34px;
                width: 100%;
                letter-spacing: 0;
            }

            &-top {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
            }

            &-image {
                width: 64px;
                height: 64px;
            }

            &-list {
                width: 85%;
            }

            &-item {
                min-height: 290px;
                border-radius: 10px;
                padding: 23px 22px 25px 20px;

                &__top {
                    min-height: 50px;
                    max-height: 50px;
                    margin-bottom: 30px;
                }
            }

            &-modal {
                .modal {
                    &-sub {
                        @include setTextStyle(14px, 18px, 600);
                    }

                    &-name {
                        @include setTextStyle(20px, 30px, 600);
                    }
                }
            }

            .slick {
                &-item {
                    padding: 0 5px;
                }
            }
        }

        &s6 {
            padding-top: 36px;
            padding-bottom: 81px;

            .lp-title {
                @include setTextStyle(24px, 32px, 600);
                margin-top: 18px;
                margin-bottom: 15px;
            }

            &-image {
                img {
                    position: static;
                    left: unset;
                }
            }

            &-right {
                padding-top: 35px;
            }

            &-contact {
                padding: 10px 16px 10px 20px;
            }

            &-form {

                &__submit {
                    @include setTextStyle(16px, 26px, normal);
                    height: 50px;
                }
            }
        }

        &-footer {
            padding-top: 32px;

            &__body {
                padding-top: 15px;
            }

            .footer {
                &-nav {
                    padding-top: 20px;

                    &__title {
                        @include setTextStyle(14px, 20px, 600);
                        padding-bottom: 5px;
                    }

                    &__item {
                        @include setTextStyle(12px, 25px, 400);
                    }
                }

                &-grid {
                    grid-template-columns: unset;
                    grid-template-areas: 'nav-1 nav-2' 'nav-3 nav-4';

                    .footer {
                        &-nav {
                            &__title {
                                padding-top: 10px;
                            }
                        }
                    }
                }
            }

            &__copy-right {
                @include setTextStyle(12px, 14px, 400);
            }
        }

        &-title {
            @include setTextStyle(24px, 32px, 600);
            width: 100%;
            padding-top: 5px;
        }

        &-list {
            &__item {
                @include setTextStyle(16px, 22px, 400);
                padding-bottom: 15px;
            }

            &__tag {
                @include setTextStyle(8px, 20px, 700);
                padding: 0 8px;
                top: -3px;

                &--1st {
                    padding-right: 8px;

                    img {
                        display: none;
                    }
                }
            }
        }

        &-link {

            &:before {
                display: none;
            }

            &__big {
                @include setTextStyle(16px, 22px, 500);
                padding-left: 0;
                margin-top: 5px;

                i {
                    font-size: 11px;
                }
            }
        }

        &-navi {
            &__red {
                margin-bottom: 5px;
                @include setTextStyle(16px, 19px, normal);

                img {
                    width: 12px;
                    height: 100%;
                    top: 3px;
                }
            }
        }
    }
}
