html, body {
    font-family: "Lato", "Roboto", Arial, Helvetica, sans-serif;
    background-color: transparent;
    padding-top: 0;
    overflow-x: hidden;
}

.lp {
    &-navbar {
        position: absolute;
        height: 105px;
        display: flex;
        align-items: center;

        .navbar {

            &-body {
                animation: fadeIn .5s both;
                flex-wrap: nowrap;
            }

            &-brand {
                margin-right: 9px;
                display: flex;

                img {
                    height: 32px;
                }

                &__description {
                    @include setTextStyleColor(14px, 12px, 500, #1F4353);
                    border-left: 1px solid #1C4355;
                    padding-left: 7px;
                    display: flex;
                    position: relative;
                    top: 6px;

                    span {
                        position: relative;
                    }
                }
            }

            &-nav {
                padding-top: 5px;
                display: flex;
                flex-direction: row;
                align-items: center;

                .nav {
                    padding-top: 0;

                    &-item {
                        padding: 0 10px;
                    }

                    &-link {
                        @include setTextStyleColor(18px, 28px, 500, #1D293F);
                        display: flex;
                        padding: 8px 10px;
                        position: relative;
                        transition: all .2s;
                        white-space: nowrap;
                        z-index: 1;

                        &:before {
                            content: '';
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%) scale(0.8);
                            width: 100%;
                            height: 100%;
                            background-color: $color_white;
                            border-radius: 5px;
                            transition: all .2s;
                            opacity: 0;
                            z-index: -1;
                        }

                        &:hover {
                            &:before {
                                opacity: .8;
                                filter: blur(10px);
                                transform: translate(-50%, -50%) scale(1);
                            }
                        }

                        &__blue {
                            &:before {
                                background-image: linear-gradient(134.39deg, #E0F4FE 42.84%, #BBE8FF 68.09%);
                            }
                        }

                        &__pink {
                            &:before {
                                background-image: linear-gradient(127.56deg, #FFDBDB 41.4%, #FFEFEF 59.77%);
                            }
                        }

                        &__yellow {
                            &:before {
                                background-image: linear-gradient(100deg, #BBE8FF 0%, #FFDBDB 100%)
                            }
                        }

                        &__big {
                            color: $color_white;
                            padding-left: 30px;
                            padding-right: 30px;

                            &:before {
                                background-color: #E74243;
                                top: 0;
                                left: 0;
                                transform: scale(1);
                                opacity: 1;
                                border-radius: 5px;
                            }

                            &:hover {
                                &:before {
                                    opacity: 5;
                                    top: 0;
                                    left: 0;
                                    filter: blur(2px);
                                    transform: scale(1);
                                }
                            }
                        }
                    }
                }
            }
        }

        &.scroll {
            position: fixed;
            background-color: $color_white;
            height: 80px;
            animation: fadeIn .4s both;
            box-shadow: 0 0 8px #00000022;

            .navbar {
                &-body {
                    position: relative;
                    animation: fadeInDown .4s both;
                }
            }
        }
    }

    &s1 {
        padding-top: 175px;
        position: relative;

        &-background {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: -1;
            background-image: url(../../../../images/image-lp-background-1.svg);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }

        &-body {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }

        &-head {
            @include setTextStyleColor(48px, 54px, normal, #1D293F);
            margin-bottom: 29px;
            letter-spacing: -1px;

            &__bold {
                font-weight: 600;
            }
        }

        &-description {
            @include setTextStyleColor(18px, 24px, normal, #6B6B6B);
            margin-bottom: 40px;
            width: 465px;
        }

        &-action {
            display: flex;

            &__button {
                @extend %button-flex;
                @include setTextStyleColor(20px, 24px, 500, #E74243);
                width: 200px;
                height: 60px;
                border: none;
                border-radius: 5px;
                background-color: transparent;
                margin: 0 10px;
                position: relative;
                transition: all .2s;

                &--fill {
                    border: none;
                    background-image: linear-gradient(180deg, #EF5B5C 0%, #EF3637 100%);
                    color: $color_white;
                }

                &:before {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: 100%;
                    height: 100%;
                    transform: translate(-50%, -50%);
                    border-radius: 5px;
                    border: 1px solid #E74243;
                    transition: all .2s;
                    z-index: -1;
                }

                &:hover {
                    color: #E74243;
                }

                &:active {

                    &:before {
                        transform: translate(-50%, -50%) scale(.97);
                    }
                }

                &--fill {
                    border: none;
                    color: $color_white;

                    &:before {
                        background-image: linear-gradient(180deg, #EF5B5C 0%, #EF3637 100%);
                    }

                    &:hover {
                        color: $color_white;
                    }
                }
            }
        }

        &-image {
            position: relative;
            left: 180px;
        }

        &-step {
            position: relative;
            
            &__item {
                width: 364px;
                background: #FDFDFD;
                box-shadow: 0 1px 12px rgba(0, 0, 0, 0.25);
                display: flex;
                position: absolute;

                &--1 {
                    bottom: 305px;
                    right: 120px;
                }

                &--2 {
                    bottom: 177px;
                    right: 90px;
                }
            }

            &__content {
                padding: 0 10px 0 25px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                text-align: left;
            }

            &__number {
                @include setTextStyleColor(14px, 18px, 500, #BCBCBC);
                letter-spacing: 0;
                margin-bottom: 6px;
            }

            &__description {
                @include setTextStyleColor(14px, 18px, 500, #1D293F);
                letter-spacing: 0;
            }
        }
    }

    &s2 {
        padding-top: 115px;
        padding-bottom: 85px;

        .lp-title {
            margin-bottom: 50px;
        }

        &-navi {
            position: absolute;
            bottom: 0;
            right: 125px;
            z-index: 2;
        }
    }

    &s3 {
        .lp-title {
            margin-bottom: 50px;
            width: 495px;
            letter-spacing: -1px;
        }

        &-left {
            padding-top: 60px;
        }
    }

    &s4 {
        padding-top: 100px;
        padding-bottom: 140px;

        .lp-title {
            margin-bottom: 14px;
            color: #E74243;
            letter-spacing: -1px;
        }

        &-description {
            @include setTextStyleColor(18px, 24px, normal, #434343);
            margin-bottom: 10px;
            width: 437px;
        }

        &-top {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }

        &-body {
            max-width: 1182px;
            margin: 0 auto;
            padding-top: 60px;
        }

        &-left {
            padding-top: 60px;
        }

        &-item {
            width: 350px;
            background: #E6F6FF;
            border-radius: 10px;
            padding: 18px 23px 38px 28px;

            &__top {
                display: flex;
                align-items: center;
            }

            &__image {
                width: 65px;
                min-width: 65px;
            }

            &__title {
                @include setTextStyleColor(21px, 26px, 600, #1D293F);
                padding-left: 20px;
            }

            &__description {
                @include setTextStyleColor(16px, 24px, normal, #505050);
                padding-top: 30px;
            }
        }

        &-navi {
            position: absolute;
            right: -169px;
            bottom: -48px;
            z-index: 2;
        }
    }

    &s5 {
        position: relative;
        z-index: 1;
        padding-top: 93px;
        padding-bottom: 160px;
        background: linear-gradient(180deg, #FFE9E9 40.63%, #FFF6E0 100%);

        .lp-title {
            @include setTextStyle(42px, 64px, 600);
            margin-top: 34px;
            margin-bottom: 100px;
            width: 710px;
            letter-spacing: -1px;
        }

        &-top {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        &-body {
            margin: 0 auto;
        }

        &-list {

        }

        &-item {
            min-height: 340px;
            background: #FFFFFF;
            border: 1px solid #E2E4E8;
            border-radius: 10px;
            padding: 28px 30px 26px 20px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            &__top {
                min-height: 70px;
                max-height: 70px;
                width: 100%;
                margin-bottom: 30px;
                position: relative;
            }

            &__image {
                object-fit: contain;
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                max-height: 100%;
                max-width: 100%;
            }

            &__description {
                @include setTextStyleColor(16px, 24px, normal, #1D293F);
                margin-top: auto;
                margin-bottom: 20px;
                text-align: justify;
            }
        }

        &-navi {
            position: absolute;
            right: 138px;
            top: 10px;
            z-index: -1;
        }

        &-modal {
            .modal {
                &-dialog {

                }

                &-content {
                    border: none;
                    border-radius: 0;
                    background: linear-gradient(90.42deg, #FFF2F2 0.35%, #F8FFF3 100.68%);
                    min-height: 708px;
                }

                &-body {
                    display: flex;
                    padding: 0;
                }

                &-left {
                    flex: 4;
                    padding: 59px 79px;
                    display: flex;
                    flex-direction: column;
                }

                &-right {
                    flex: 3;
                }

                &-image {
                    @extend %default-background-image;

                    width: 100%;
                    height: 100%;
                }

                &-sub {
                    @include setTextStyleColor(18px, 22px, 500px, #E74243);
                    margin-bottom: 6px;
                }

                &-name {
                    @include setTextStyleColor(32px, 46px, 600, #1D293F);
                }

                &-list {
                    padding-top: 50px;
                    margin: auto;

                    &__item {
                        margin-bottom: 20px;
                        display: flex;
                    }

                    &__name {
                        @include setTextStyleColor(20px, 32px, normal, #6A6A6A);
                        padding-right: 12px;
                        min-width: 175px;
                        white-space: nowrap;
                    }

                    &__value {
                        @include setTextStyleColor(20px, 32px, normal, #1D293F);
                        padding-right: 12px;
                        word-break: break-word;

                        &--break {
                            white-space: pre-line;
                        }
                    }
                }
            }
        }

        .slick {

            &-list {
                overflow: inherit;
            }

            &-item {
                padding: 0 15px;
                position: relative;
                transition: all .3s;
                opacity: .4;
                overflow: hidden;
                
                &:before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    z-index: 2;
                }

                &:focus {
                    outline: none;
                }
            }

            &-active {
                opacity: 1;
                overflow: inherit;

                &:before {
                    display: none;
                }
            }
        }
    }

    &s6 {
        position: relative;
        z-index: 1;
        padding-top: 110px;
        padding-bottom: 160px;

        .lp-title {
            @include setTextStyle(42px, 64px, 600);
            margin-top: 34px;
            margin-bottom: 12px;
            letter-spacing: -1px;
        }

        &-left {

        }

        &-right {
            padding-top: 35px;
        }

        &-contact {
            padding: 13px 24px 13px 27px;
            background: #F3F3F3;
            width: 451px;
            margin-bottom: 40px;

            &__item {
                @include setTextStyleColor(18px, 30px, normal, #0D2C3A);
                margin-bottom: 0;
            }
        }

        &-form {
            display: block;

            &__item {
                position: relative;
            }

            &__label {
                @include setTextStyleColor(18px, 24px, normal, #8C97AC);
                position: absolute;
                width: 65px;
                text-align: center;
                margin-bottom: 0;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                transition: all .2s;
            }

            &__input {
                @include setTextStyleColor(16px, 19px, normal, $color_black);
                width: 100%;
                height: 50px;
                background: #FDFDFD;
                border: 0.5px solid #656565;
                border-radius: 6px;
                padding: 0 10px 0 65px;
                transition: all .2s;

                &::placeholder {
                    color: #8C97AC;
                    transition: all .2s;
                }

                &:focus {
                    &::placeholder {
                        color: transparent;
                    }

                    & + .lps6-form__label {
                        color: $color_black;
                        transform: translateY(-50%) scale(1.4);
                    }
                }
            }

            &__submit {
                @include setTextStyleColor(20px, 26px, normal, $color_white);
                width: 100%;
                height: 60px;
                background: #E74243;
                border: none;
                border-radius: 5px;
                padding: 0;
                transition: all .2s;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }

    &-footer {
        background: #10192B;
        padding-top: 45px;

        &__top {
            display: flex;
            align-items: center;
        }

        &__body {
            padding-top: 50px;
        }

        &__bottom {
            padding: 35px 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &__copy-right {
            @include setTextStyleColor(14px, 16px, 400, $color_white);
        }

        &__dmca {
            width: 65px;
            border: 1px solid $color_white;

            img {
                width: 100%;
            }
        }

        .footer {
            &-brand {
                margin-right: 9px;

                img {
                    height: 27px;
                }

                &__description {
                    @include setTextStyleColor(14px, 12px, 500, $color_white);
                    border-left: 1px solid $color_white;
                    padding-left: 7px;
                    display: flex;
                    position: relative;
                    top: 4px;

                    span {
                        position: relative;
                    }
                }
            }

            &-total {
                display: flex;

                &__item {
                    margin-left: 50px;
                    display: flex;
                    align-items: flex-end;
                }

                &__number {
                    @include setTextStyleColor(24px, 29px, 600, $color_white);
                }

                &__name {
                    @include setTextStyleColor(16px, 22px, normal, $color_white);
                    padding-left: 10px;
                }
            }

            &-nav {
                &__title {
                    @include setTextStyleColor(18px, 25px, 600, $color_white);
                    padding-bottom: 15px;
                    border-bottom: 1px solid rgba(83, 83, 83, 0.5);
                }

                &__list {
                    padding: 10px 0;
                    margin-bottom: 0;
                }

                &__item {
                    @include setTextStyleColor(16px, 32px, 400, $color_white);
                    list-style: none;
                }

                &__contact {
                    &--link {
                        color: #FFA724;

                        &:hover {
                            color: #FFA724;
                            text-decoration: underline;
                        }
                    }
                }

                &__link {
                    color: #A0A0A0;
                    transition: all .2s;

                    &:hover {
                        color: $color_white;
                    }

                    &--icon {
                        font-size: 22px;
                        margin-right: 15px;

                        &:last-child {
                            margin-right: 0;
                        }
                    }
                }

                &--1 {
                    grid-area: nav-1;
                }

                &--2 {
                    grid-area: nav-2;
                }

                &--3 {
                    grid-area: nav-3;
                }

                &--4 {
                    grid-area: nav-4;
                }
            }

            &-grid {
                display: grid;
                grid-template-columns: auto auto auto 100px;
                grid-template-areas: 'nav-1 nav-2 nav-3 nav-4';

                .footer-nav {
                    &__title {
                        padding-top: 25px;
                    }
                }
            }
        }
    }

    &-title {
        @include setTextStyleColor(36px, 46px, 600, #1D293F);
        width: 480px;
    }

    &-list {
        padding-left: 0;
        margin: 0;

        &__item {
            @include setTextStyleColor(24px, 30px, 400, #1D293F);
            list-style: none;
            padding-bottom: 25px;
            align-items: flex-start;
        }

        &__tag {
            @include setTextStyleColor(12px, 24px, 700, $color_white);
            text-transform: uppercase;
            border-radius: 4px;
            display: inline-block;
            position: relative;
            padding: 0 10px;
            margin-left: 5px;
            top: -4px;

            &--1st {
                background-color: #143343;
                padding-right: 25px;

                img {
                    position: absolute;
                    right: -23px;
                    top: -7px;
                }
            }

            &--premium {
                background-color: #BE780E;
            }
        }
    }

    &-link {
        @include setTextStyleColor(16px, 24px, 400, #1C4355);
        text-decoration: underline;
        display: inline-block;
        padding-left: 5px;
        position: relative;
        width: auto;
        border: none;
        background-color: transparent;

        &:before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            width: 110%;
            height: 125%;
            border-radius: 5px;
            opacity: 0;
            transform: translate(-49%, -47%) scale(.9);
            transition: all .2s;
            background-color: $color_gray;
        }

        i {
            font-size: 11px;
            padding-left: 5px;
            position: relative
        }

        &:hover {
            text-decoration: underline;
            color: #1C4355;

            &:before {
                opacity: .2;
                filter: blur(3px);
                transform: translate(-49%, -47%) scale(1);
            }

            i {
                animation: fadeInLeft .4s;
            }
        }

        &__big {
            @include setTextStyle(24px, 30px, 500);
            padding-left: 0;
            margin-top: 18px;
            letter-spacing: -1px;

            &:before {
                width: 115%;
                height: 140%;
            }

            i {
                font-size: 18px;
                padding-left: 7px;
            }
        }
    }

    &-navi {
        &__red {
            @include setTextStyleColor(24px, 30px, normal, #E74243);
            margin-bottom: 10px;
            display: flex;
            align-items: flex-start;

            img {
                position: relative;
                top: 6px;
                margin-right: 10px;
            }
        }
    }
}

.error-text {
    @include setTextStyleColor(12px, 14px, normal, $color_red);
    min-height: 14px;
    margin-bottom: 8px;
    margin-top: 2px;
}

.error-input {
    border: 1px solid $color_red !important;
}