.btn__popup {
  background-color: transparent;
  border: none;
  outline: none;
  height: 35px;
  display: flex;
  width: 35px;
  align-items: center;
  justify-content: center;
  margin-left: 30px;
  position: relative;
  z-index: 1;
  background-color: transparent;
  cursor: pointer;
  overflow: hidden;
  border-radius: 1px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
  color: #fff;
  i {
    font-size: 16px;
  }
  &:focus {
    outline: none;
    box-shadow: none;
  }
  &:before, &:after {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background: #3deaa4;
    opacity: .4;
    left: 0;
    top: 40px;
    z-index: -2;
    transition: all .3s cubic-bezier(0.9, 0, 0.2, 1), -webkit-transform .3s cubic-bezier(0.9, 0, 0.2, 1);
    -webkit-transition: all .3s cubic-bezier(0.9, 0, 0.2, 1), -webkit-transform .3s cubic-bezier(0.9, 0, 0.2, 1);
    -moz-transition: all .3s cubic-bezier(0.9, 0, 0.2, 1), -webkit-transform .3s cubic-bezier(0.9, 0, 0.2, 1);
    -ms-transition: all .3s cubic-bezier(0.9, 0, 0.2, 1), -webkit-transform .3s cubic-bezier(0.9, 0, 0.2, 1);
    -o-transition: all .3s cubic-bezier(0.9, 0, 0.2, 1), -webkit-transform .3s cubic-bezier(0.9, 0, 0.2, 1);
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
  }
  &:before {
    background: #3deaa4;
    opacity: 1;
    top: 50px;
    z-index: -1;
  }
  &:hover {
    color: #000;
    &:before, &:after {
      top: 0;
      border-radius: 0;
    }
    &:before {
      transition-delay: .2s;
    }
  }
}
.btn-active {
  background-color: #3deaa4;
  i {
    color: #000;
  }
}

.item-option--active {
  opacity: 1 !important;
  visibility: unset !important;
}

/*==========Button delete, edit=============*/

.item-option {
  position: absolute;
  display: flex;
  opacity: 0;
  visibility: hidden;
  transform: translate(5px, -5px);
  transition: all .3s;

  @media screen and (max-width: 991.98px) {
    opacity: 1;
    visibility: unset;
  }

  .item-option__edit, .item-option__delete {
    margin-left: 5px;
  }
}

/*==========Service=============*/

#services {
  .service-item {
    .item-option {
      right: 5px;
      top: 5px;
    }
    &:hover {
      .item-option {
        opacity: 1;
        visibility: unset;
        transform: translate(0, 0);
      }
    }
  }
}

/*==========Skill=============*/

#skills {
  .skill-item {
    position: relative;
    .item-option {
      right: 5px;
      bottom: 10px;
      transform: translateX(5px);
    }
    &:hover {
      .item-option {
        opacity: 1;
        visibility: unset;
        transform: translateX(0);
      }
    }
  }
}

/*==========Education=============*/

#education {
  .education-single {
    position: relative;
    .item-option {
      right: 5px;
      top: 5px;
      transform: translateY(-5px);
      flex-direction: column;
      z-index: 1;
      @media screen and (max-width: 1199px) and (min-width: 768px) {
        left: -15px;
        top: 50%;
      }
    }
    &:hover {
      .item-option {
        opacity: 1;
        visibility: unset;
        transform: translateY(0);
      }
    }
  }
}

/*==========Experience=============*/
#experience {
  .experience-single {
    position: relative;
    .item-option {
      right: 10px;
      top: 10px;
      transition: all .2s;
      z-index: 1;
      @media screen and (max-width: 1199px) and (min-width: 768px) {
        flex-direction: column;
      }
    }
    &:hover {
      .item-option {
        opacity: 1;
        visibility: unset;
      }
    }
  }
}

/*===========Gallery==================*/
#works {
  .work-single-item {
    .item-option {
      position: absolute;
      right: 10px;
      top: 10px;
      opacity: 0;
      visibility: hidden;
      transition: all .2s;
      @media screen and (max-width: 1199px) {
        opacity: 1;
        visibility: unset;
        background-color: #3deaa4;
        i {
          color: #000;
        }
        &:before, &:after {
          background-color: #000;
        }
        &:before {
          background-color: #000;
        }
        &:hover {
          i {
            color: #fff;
          }
        }
      }
    }
    &:hover {
      .item-option {
        opacity: 1;
        visibility: unset;
        z-index: 1;
      }
    }
  }
  .btn-edit--img {
    margin-left: 5px;
  }
}