body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

@mixin setTextStyleColor($font-size, $line-height, $font-weight, $font-color) {
  font-size: $font-size;
  line-height: $line-height;
  font-weight: $font-weight;
  color: $font-color;
}

button,
button:hover,
button:focus,
select,
select:hover,
select:focus,
input,
textarea {
  outline: none !important;
  box-shadow: none !important;
}

///* Chrome, Safari, Edge, Opera */
//input::-webkit-outer-spin-button,
//input::-webkit-inner-spin-button {
//  -webkit-appearance: none;
//  margin: 0;
//}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

label {
  width: 100%;
}

.banned-scroll {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.obligatory {
  @include setTextStyleColor(20px, 14px, normal, $color-warning);
}

.modal__note {
  margin: 10px;
  @include setTextStyleColor (14px, 16px, 500, #717171);
  span {
    color: $color-warning;
  }
  @media screen and (max-width: 574px) {
    position: relative;
    bottom: 41px;
  }
}

.tooltip-inner {
  max-width: 300px;
}

[type=button], [type=reset], [type=submit], button {
  -webkit-appearance: unset;
}

@media screen and (min-width: 575px) {
  .app-mobile {
    display: none !important;
  }
}

@media screen and (max-width: 574.98px) {
  .app-desktop {
    display: none !important;
  }
}

.hidden {
  display: none !important;
}
