#body {
  padding-right: 0 !important;
}

body::-webkit-scrollbar {
  padding-right: 0;
  width: 3px;
  background-color: transparent;
  border-radius: 5px;
}

body::-webkit-scrollbar-thumb {
  background-color: #525252;
  border-radius: 5px;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #525252;
}

@-moz-document url-prefix() {
  html{
    scrollbar-width: thin;
    scrollbar-color:#525252 transparent ;
  }
}

.body {
  padding-right: 0 !important;
}

.wrapper-heading {
  margin-top: 6px;
}

.modal-backdrop {
  background-color: rgba(112, 112, 112, 0.5);
}

.fade {
  transition: opacity .15s linear !important;
}

.modal {
  padding-right: 0 !important;
}

.modal__input--warning {
  @include setTextStyleColor(12px, 14px, normal, $color-warning);
}

.header-action-btn {
  margin-right: 47px;
}

.modal-dialog {
  max-width: 672px;
  @media screen and (max-width: 574px) {
    margin: 0;
    max-width: unset;
  }
  .modal-content {
    background-color: $color-bg;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    @media screen and (max-width: 574px) {
      height: 100%;
      min-height: 100vh;
    }

    .modal-header {
      align-items: center;
      border-bottom: none;
      padding: 36px 40px 0 55px;
      @media screen and (max-width: 574px) {
        padding: 36px 0 0;
        justify-content: center;
        border-bottom: 1px solid #EBEBEB;
      }
      .modal-title {
        @include setTextStyleColor(18px, 21px, 500, $color-header-popup);
        @media screen and (max-width: 574px) {
          border-bottom: 3px solid #177F85;
          padding-bottom: 17px;
        }
      }
      .close {
        font-size: 35px;
        font-weight: normal;
        color: white;
        @media screen and (max-width: 574px) {
          position: absolute;
          left: 5px;
          top: 17px;
        }
      }
    }

    input:focus::placeholder, textarea:focus::placeholder {
      color: transparent;
    }

    .modal-body {
      padding: 35px 0 0;
      width: 87%;
      margin: auto;
      @media screen and (max-width: 574px) {
        padding: 50px 0 40px;
      }
      .modal__title--input {
        @include setTextStyleColor(14px, 16px, 500, #fff);
      }
      .modal__body--item {
        display: flex;
        flex-direction: column;
        margin: auto;
        min-height: 105px;
        @media screen and (max-width: 574px) {
          width: 100%;
        }
        .modal__body--input {
          background-color: transparent;
          border: 1px solid #838383;
          box-sizing: border-box;
          width: 100%;
          padding: 11px 8px;
          margin-top: 12px;
          @include setTextStyleColor(16px, 19px, normal, $color-text);
          &:focus {
            border: 1px solid $color_input-focus;
          }
          @media screen and (max-width: 574px) {
            border: none;
            border-bottom: 1px solid #8C8C8C;
            @include setTextStyleColor(14px, 16px, normal, $color-text);
            &:focus {
              border: none;
              border-bottom: 1px solid #177F85;
            }
          }
        }
        .modal__body--input.error {
          border: 1px solid $color-warning;
          @include setTextStyleColor(16px, 19px, normal, #fff);
        }

        .border-error {
          border: 1px solid $color-warning !important;
        }

        .error {
          width: 100%;
          @include setTextStyleColor(12px, 14px, normal, $color-warning);
          min-height: 19px;
          word-break: break-word;
          margin-bottom: 5px;
        }
      }

      .modal__body--item-textarea {
        height: 50%;
        margin-top: 12px;
      }
    }

    .modal-footer {
      justify-content: center;
      border-top: none;
      padding-bottom: 20px;
      width: 87%;
      margin: auto;
      @media screen and (max-width: 574px) {
        padding: 0;
        position: fixed;
        width: 100%;
        bottom: 0;
        z-index: 1;
      }
      .modal__btn--cancel, .modal__btn--save {
        width: 157px;
        cursor: pointer;
      }
      .modal__btn--save {
        background-color: $color-save-bg;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
        @include setTextStyleColor(16px, 19px, 500, #000);
        border: none;
        padding: 11px 0;
        @media screen and (max-width: 574px) {
          width: 100%;
          border-radius: 0;
          margin-right: 0;
        }
      }
      .modal__btn--cancel {
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
        @include setTextStyleColor(16px, 19px, 500, #fff);
        background-color: transparent;
        border: 1px solid #3DEAA4;
        padding: 10px 0;
      }
    }
  }
}

.title__top {
  display: flex;
}

.modal-footer {
  button {
    transition: all 0.3s;
    &:hover {
      transform: scale(1.1);
    }
  }
}

/*======Home-wrapper======*/
#aboutModal {
  .modal-dialog {
    max-width: 945px;
  }
}

.home-wrapper {
  overflow: hidden;
  .hero-img {
    .item-option {
      right: 7%;
      top: 3%;
      transform: translateY(-22px);
      transition: all 0.3s;
    }
    &:hover {
      .item-option {
        opacity: 1;
        visibility: unset;
        transform: translateY(0);
      }
    }
  }

  .intro-name {
    span {
      &:first-child {
        display: flex;
        align-items: center;
      }
    }
    .btn__popup {
      margin-top: 17px;
    }
  }
}

/*========About============*/

.about-date {
  margin: 20px 0;
}

.about-freelance, .about-date {
  img {
    margin-bottom: 5px;
    margin-right: 10px;
  }
}

.about-title {
  min-width: 110px;
  display: inline-block;
}

#infoModal {
  .modal-dialog {
    max-width: 945px;
    .modal__body--textarea {
      height: 220px;
      @media screen and (max-width: 574px) {
        height: 129px;
      }
    }

    .modal__about--contact {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: unset;
      margin: 19px;
      .modal__title--input {
        font-size: 18px;
      }
      .line {
        background-color: #3DEAA4;
        height: 1px;
        width: 40%;
        &:first-child {
          margin-right: auto;
        }
        &:last-child {
          margin-left: auto;
        }
      }
    }
    .modal__about--note {
      background-color: #2A2A35;
      border: 1px solid #31313A;
      box-sizing: border-box;
      border-radius: 2px;
      padding: 20px;
      @media screen and (max-width: 574.98px) {
        margin: 10px 0 25px;
      }
      .modal__about--note-title {
        img {
          margin-right: 10px;
        }
        span {
          @include setTextStyleColor (16px, 22px, normal, #fff);
        }
      }
      p {
        padding: 10px 0;
        @include setTextStyleColor(14px, 22px, normal, #fff);
      }
    }

    input[type="date"] {
      position: relative;
    }

    input[type="date"]::-webkit-calendar-picker-indicator {
      color: transparent;
      background: none;
      z-index: 1;
      position: absolute;
      right: 0;
    }

    input[type="date"]::-webkit-calendar-picker-indicator:focus {
      outline: none !important;
      border: none !important;
      cursor: pointer;
    }

    input[type="date"]:before {
      font-family: 'Font Awesome 5 Free', serif;
      content: '\f073';
      position: absolute;
      color: #999;
      right: 6px;
    }

    .dropdown-menu {
      width: 100%;
      li {
        @include setTextStyleColor(16px, 19px, normal, #000);
        padding: 10px;
        cursor: pointer;
        &:hover {
          background-color: #3DEAA4;
          color: #fff;
        }
      }
    }
    #info_freelance {
      cursor: pointer;
    }
  }
}

/*===========Service===========*/

.optio-dropdown {
  .dropdown-menu {
    width: 100%;
    max-height: 200px;
    overflow: auto;
    .dropdown-item {
      cursor: pointer;
      &:hover {
        background-color: $color-input-focus;
        color: $color-text;
      }
    }
  }
  #skill_name {
    cursor: pointer;
  }
}

.service-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  h4 {
    z-index: -1;
  }
}

#serviceModal {
  .modal__body--item-textarea {
    min-height: 186px;
  }
  .modal__body--item-search_icon {
    min-height: 90px;
  }

  .modal__body--textarea {
    height: 100px;
  }

  .modal__body--list-icon {
    min-height: 230px;
    display: unset;
    .optio-input__service {
      max-height: 205px;
      min-height: 205px;
      overflow: auto;
      margin-bottom: 9px;
      border: 1px solid #cccccc29;
      .optio-input__service--list {
        display: flex;
        flex-wrap: wrap;
        i {
          width: 39px;
          height: 39px;
          cursor: pointer;
          color: #fff;
          font-size: 20px;
          transition: all .2s;
          display: flex;
          align-items: center;
          justify-content: center;
          &.selected {
            background-color: #3DEAA4;
            border-radius: 50%;
          }
        }
      }
      .service-more {
        background-color: transparent;
        border: none;
        cursor: pointer;
        color: #fff;
        display: flex;
        margin: auto;
        &:hover, &:active {
          color: #3DEAA4;
        }
      }
    }
    ::-webkit-scrollbar {
      padding-right: 0;
      width: 3px;
      background-color: transparent;
      border-radius: 5px;
    }

    ::-webkit-scrollbar-thumb {
      background-color: #525252;
      border-radius: 5px;
    }

    ::-webkit-scrollbar-thumb:hover {
      background-color: #525252;
    }
    @-moz-document url-prefix() {
      .scroller {
        scrollbar-color:#525252 transparent ;
        scrollbar-width: thin;
      }
    }
  }
}

/*========Skill===============*/
::-webkit-scrollbar {
  padding-right: 0;
  width: 5px;
  background-color: transparent;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #525252;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #525252;
}
@-moz-document url-prefix() {
  .scroller {
    scrollbar-color:#525252 transparent ;
    scrollbar-width: thin;
  }
}

.slider {
  align-items: center;
  display: flex;
  .range-field {
    .slider-input {
      background-color: #8F8F8F;
      height: 1px;
      -webkit-appearance: none;
      width: 100%;
      opacity: 0.7;
      -webkit-transition: .2s;
      transition: opacity .2s;
      padding: 0;
    }
    .slider-input::-webkit-slider-thumb {
      -webkit-appearance: none; /* Override default look */
      appearance: none;
      width: 18px; /* Set a specific slider handle width */
      height: 18px; /* Slider handle height */
      background: #2ECA7F; /* Green background */
      cursor: pointer; /* Cursor on hover */
      border-radius: 50%;
    }
    .slider-input::-moz-range-thumb {
      width: 18px; /* Set a specific slider handle width */
      height: 18px; /* Slider handle height */
      background: #2ECA7F; /* Green background */
      cursor: pointer; /* Cursor on hover */
      border-radius: 50%;
    }
  }
  .skill-value-span {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    color: #fff;
  }
}

/*=============Knowledge=============================*/
.skills-info {
  .knowledge__item--icon {

    i {
      margin-right: 20px;
      color: $color-header-popup;
    }
  }
  .knowledge__list {
    margin-top: 7px;
    .item-option {
      position: unset;
      transform: translateX(10px);
      transition: all .3s;
      .btn__popup {
        margin-left: 10px;
      }
    }
    li {
      margin-bottom: 18px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      &:hover {
        .item-option {
          opacity: 1;
          visibility: unset;
          transform: translateX(0);
        }
      }
    }
  }
}

#newKnowledgeModal {
  .modal__body--item {
    min-height: 70px;
  }
  .knowledge-item {
    .form-knowledge .addnew-button {
      visibility: hidden;
      opacity: 0;
      transition: 0s;
    }

    &:last-child {
      .form-knowledge .addnew-button {
        visibility: inherit;
        opacity: 1;
        transition: 0.2s;
      }
    }

    &:nth-child(10) {
      .form-knowledge .addnew-button {
        visibility: hidden;
        opacity: 0;
        transition: 0s;
      }
    }
  }
  .optio-form-control {
    display: flex;
    align-items: center;
    .delete-button, .addnew-button {
      margin-top: 12px;
      padding: 0 17px;
    }
    .addnew-button {
      margin-left: 15px;
    }
  }
}

/*=============Education, Experience=============*/

#educationModal, #experienceModal {
  .time__from-to {
    margin-top: 10px;
    display: flex;
    @media screen and (max-width: 574px) {
      flex-direction: column;
      margin-top: 0;
    }
    .time-from, .time-to {
      display: flex;
      align-items: center;
      @media screen and (max-width: 574px) {
        align-items: flex-end;
      }
      .modal__body--input {
        margin: 0 5px;
        width: 76px;
        height: 40px;
        text-align: center;
      }
    }

    .modal__title--input {
      margin: 0 15px .5rem 0;
    }

    .time-to {
      .modal__title--input {
        margin-left: 15px;
      }
    }

    @media screen and (max-width: 574px) {
      .time-from {
        .modal__title--input {
          margin: 0 23px 0 0;
        }
      }
      .time-to {
        .modal__title--input {
          margin: 0 15px 0 0;
        }
      }
    }
  }
}

/*=============Experience=============*/
#experienceModal {
  .optio-input__currentdate {
    display: flex;
    margin: 10px 0;
    @media screen and (max-width: 574.98px) {
      margin: 10px 0 0;
    }
    .optio-input__currentdate--label {
      display: flex;
      cursor: pointer;
      .optio-input__currentdate--labelinput {
        border: 1px solid $color-header-popup;
        width: 20px;
        height: 20px;
        font-size: 12px;
        border-radius: 2px;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        transition: all .1s;
        cursor: pointer;
      }
    }
    .modal__title--input {
      margin: 2px 0 0 8px;
    }
    .optio-input__currentdate--input:checked~.optio-input__currentdate--labelinput {
      background-color: $color-header-popup;
    }
  }
  .time__from-to {
    .optio-input__labeldate {
      margin: 0 15px;
    }
  }
  label {
    width: unset;
  }
  .time-from {
    .optio-input__labeldate {
      margin-left: 0;
      @media screen and (max-width: 574px) {
        margin-right: 23px;
      }
    }
  }
  .time-to {
    .optio-input__labeldate {
      @media screen and (max-width: 574px) {
        margin-left: 0;
      }
    }
  }
}

/*========Gallery============*/

#addGalleryModal {
  .modal-body {
    .work__upload--file {
      padding-bottom: 0;
      cursor: pointer;
      margin-bottom: 45px;
      position: relative;
      .upload {
        position: absolute;
        height: 100%;
        width: 100%;
        opacity: 0;
        cursor: pointer;
      }
      .box__drop {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: transparent;
        padding: 20px 0;
        border: 1px dashed #D9D9D9;
        box-sizing: border-box;
        border-radius: 2px;
        .box__drop--des {
          @include setTextStyleColor (16px, 25px, normal, #fff);
          text-align: center;
        }
        .box__drop--subdes {
          @include setTextStyleColor (14px, 22px, normal, rgba(255, 255, 255, 0.45));
          margin-bottom: 0;
          text-align: center;
        }
      }
    }

    #gallery_list_error {
      padding-top: 20px;
    }

    .box__drag {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border: 1px solid #eeeeee;
      padding: 5px;
      margin-bottom: 10px;
      height: 100%;
      .img__name {
        margin-bottom: 0;
        overflow: hidden;
        padding-left: 5px;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        max-height: 28px;
        @include setTextStyleColor (14px, 11px, normal, #fff);
      }
      .gallery-item__image {
        height: 100%;
        min-width: 50px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
      }
      .img-upload {
        width: 40px;
        height: 40px;
      }
      .work__delete--img {
        height: unset;
        border: none;
        outline: none;
        background-color: transparent;
        color: white;
        font-size: 12px;
        cursor: pointer;
        &:focus {
          box-shadow: none;
        }
      }
    }
  }
    .modal-footer {
    padding: 45px 0;
  }
}

#contactModal {
  .col-12 {
    .modal__body--item {
      &:last-child {
        min-height: 262px;
      }
    }
  }
}

/*============Modal Project=================*/
#projectModal {
  @media screen and (max-width: 574.98px) {
    padding-left: 0 !important;
  }
  .modal-dialog {
    max-width: 943px;

    .modal-body {
      width: 92%;
      .optio-input__currentdate {
        display: flex;
        .optio-input__currentdate--label {
          display: flex;
          cursor: pointer;
          .optio-input__currentdate--labelinput {
            border: 1px solid $color-header-popup;
            width: 20px;
            height: 20px;
            font-size: 12px;
            border-radius: 2px;
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #fff;
            transition: all .1s;
            cursor: pointer;
          }
        }
        .modal__title--input {
          margin: 2px 0 0 8px;
        }
        .optio-input__currentdate--input:checked~.optio-input__currentdate--labelinput {
          background-color: $color-header-popup;
        }
      }
      .time__from-to {
        display: flex;
        .optio-input__labeldate {
          margin: 0 15px;
        }

        input {
          width: 144px;
          text-align: center;
          @media screen and (max-width: 991.98px) {
            width: 100%;
          }
        }
      }
      .time-from, .time-to {
        display: flex;
        align-items: center;
        .optio-input__labeldate {
          @media screen and (max-width: 574px) {
            margin: 0 22px;
          }
        }
      }

      .modal__body--item-time {
        .modal__body--item-time_top {
          display: flex;
          justify-content: space-between;
          align-items: flex-start;
        }
      }

      textarea {
        min-height: 150px;
      }

      .modal__body--item-textarea {
        height: unset;
        margin-top: unset;
        min-height: 209px;
      }

      #project_job_position {
        margin-top: 17px;
      }

      .select2 {
        width: 100% !important;

        .select2-selection {
          background-color: transparent;
          border: 1px solid #838383;
          border-radius: 0;
          min-height: 43px;
          margin-top: 12px;
          @media screen and (max-width: 574.98px) {
            border: none;
            border-bottom: 1px solid #838383;
          }

          .select2-selection__rendered {
            display: flex;
            flex-wrap: wrap;
            .select2-selection__choice {
              @include setTextStyleColor(14px, 22px, normal, #464646);
              display: flex;
              align-items: center;
              height: 30px;
              background-color: #EEEEEE;
              padding: 0 10px;
              span {
                color: #464646;
              }
            }
          }
          .select2-search__field {
            color: #fff;
          }
        }
      }




    }
  }
}

.select2-results__option {
  color: #464646 ;
}

.select2-results__option--highlighted[aria-selected] {
  background-color: #3DEAA4 !important;
}

#project {
  .project__item {
    .name {
      width: 81%;
    }

    .item-option {
      right: 25px;
    }
    &:hover {
      .item-option {
        opacity: 1;
        visibility: unset;
        z-index: 1;
      }
    }
    .stack {
      display: flex;
      flex-wrap: wrap;
      .stack-item {
        display: flex;
        flex-wrap: wrap;
      }
    }
  }
}



/*===========Modal Bootbox==============*/
.bootbox {
  .modal-dialog {
    height: 100%;
    display: flex;
    align-items: center;
    margin-top: 0;
    @media screen and (max-width: 574px) {
      max-width: 672px;
      margin: .5rem;
      .modal-content {
        height: unset;
        min-height: unset;
      }
    }
    .bootbox-cancel {
      width: 100px;
    }
    .bootbox-accept {
      width: 130px;
    }
    .modal-content {
      .bootbox-close-button {
        color: #fff;
      }
      .modal-footer {
        @media screen and (max-width: 574px) {
          position: unset;
          padding-bottom: 20px;
        }
      }
    }
  }
}







