// @import "css-tree";
@import "variable";
@import "functions";
// @import "default-css";


@media only screen and (min-width: 1600px) {
    .home-video .mh-home .mh-header-info {
        padding: 100px 0;
    }
    .home-slider .mh-home .mh-header-info {
        padding: 100px 0;
    }

}
@media only screen and (min-width: 1400px) {
    .home-video .mh-service {
        padding-bottom: 80px;
    }
}
@media only screen and (max-width: 1400px) {
    .mh-single-project-slide-by-side .owl-prev {
        top: 40%;
        left: 0;
    }
    .mh-single-project-slide-by-side .owl-next {
        top: 44%;
        right: 0;
    }
}
@media only screen and (max-width: 991px) {
    .section-separator {
        padding: 40px 0;
    }
    .mh-home-2 .mh-header-info p {
        padding: 0 0px;
        font-weight: 300;
    }
    .home-section-separator {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .mh-footer-address .mh-address-footer-item .each-icon .fa {
        width: 60px;
        height: 60px;
        line-height: 60px;
    }
    .mh-home-2 .mh-header-info .mh-about-tag {
        width: 80%;
    }
    .mh-xs-mobile-nav {
        z-index: 99;
        .nav-btn {
            .navbar-toggler {

                &.active {
                    display: none;
                }
            }
        }
        .navbar-nav {
            padding-top: 50px;
        }
        .navbar-collapse {
            position: fixed;
            top: 0;
            bottom: 0;
            width: 320px;
            left: 0;
            z-index: 990;
            margin-top: 0px;
            padding: 0;
            background-color: $main-color;
            transform: translateX(-100%) translateY(0) translateZ(0) rotate(0deg) scale(1);
            -o-transform: translateX(-100%) translateY(0) translateZ(0) rotate(0deg) scale(1);
            -ms-transform: translateX(-100%) translateY(0) translateZ(0) rotate(0deg) scale(1);
            -moz-transform: translateX(-100%) translateY(0) translateZ(0) rotate(0deg) scale(1);
            -webkit-transform: translateX(-100%) translateY(0) translateZ(0) rotate(0deg) scale(1);
            -webkit-transition: all 0.4s ease-out;
            -moz-transition: all 0.4s ease-out;
            -o-transition: all 0.4s ease-out;
            -ms-transition: all 0.4s ease-out;
            transition: all 0.4s ease-out;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            overflow-y: none;
        }
        .navbar-collapse.active {
            transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1);
            -o-transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1);
            -ms-transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1);
            -moz-transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1);
            -webkit-transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1);
        }

        .collapse {
            display: block;
        }
        .navbar-fixed-bottom .navbar-collapse,
        .navbar-fixed-top .navbar-collapse {
            max-height: inherit;
        }
        .navbar-header {
            position: fixed;
            z-index: 999;
            width: 100%;
            margin-top: 0px;
            left: 0;
        }
        .navbar-toggler .icon {
            transform: translateX(-50%) translateY(-50%) translateZ(0) rotate(0deg) scale(1);
            -o-transform: translateX(-50%) translateY(-50%) translateZ(0) rotate(0deg) scale(1);
            -ms-transform: translateX(-50%) translateY(-50%) translateZ(0) rotate(0deg) scale(1);
            -moz-transform: translateX(-50%) translateY(-50%) translateZ(0) rotate(0deg) scale(1);
            -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) rotate(0deg) scale(1);
        }
      .navbar-toggler .icon,
      .navbar-toggler .icon::after,
      .navbar-toggler .icon::before {
        width: 22px;
        height: 2px;
        position: absolute;
        border-radius: 2px;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
      }
      .navbar-toggler .icon::after,
      .navbar-toggler .icon::before {
        content: '';
        top: 0;
        right: 0;
        -webkit-transition: all 0.6s ease-out;
        -moz-transition: all 0.6s ease-out;
        -o-transition: all 0.6s ease-out;
        -ms-transition: all 0.6s ease-out;
        transition: all 0.6s ease-out;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
      .navbar-toggler .icon::after {
        transform: translateX(0) translateY(6px) translateZ(0) rotate(0deg) scale(1);
        -o-transform: translateX(0) translateY(6px) translateZ(0) rotate(0deg) scale(1);
        -ms-transform: translateX(0) translateY(6px) translateZ(0) rotate(0deg) scale(1);
        -moz-transform: translateX(0) translateY(6px) translateZ(0) rotate(0deg) scale(1);
        -webkit-transform: translateX(0) translateY(6px) translateZ(0) rotate(0deg) scale(1);
      }
      .navbar-toggler .icon::before {
        transform: translateX(0) translateY(-6px) translateZ(0) rotate(0deg) scale(1);
        -o-transform: translateX(0) translateY(-6px) translateZ(0) rotate(0deg) scale(1);
        -ms-transform: translateX(0) translateY(-6px) translateZ(0) rotate(0deg) scale(1);
        -moz-transform: translateX(0) translateY(-6px) translateZ(0) rotate(0deg) scale(1);
        -webkit-transform: translateX(0) translateY(-6px) translateZ(0) rotate(0deg) scale(1);
      }
      .navbar-toggler.active .icon::after {
        transform: translateX(0) translateY(0) translateZ(0) rotate(138deg) scale(1);
        -o-transform: translateX(0) translateY(0) translateZ(0) rotate(138deg) scale(1);
        -ms-transform: translateX(0) translateY(0) translateZ(0) rotate(138deg) scale(1);
        -moz-transform: translateX(0) translateY(0) translateZ(0) rotate(138deg) scale(1);
        -webkit-transform: translateX(0) translateY(0) translateZ(0) rotate(138deg) scale(1);
      }
      .navbar-toggler.active .icon::before {
        transform: translateX(0) translateY(0) translateZ(0) rotate(-135deg) scale(1);
        -o-transform: translateX(0) translateY(0) translateZ(0) rotate(-135deg) scale(1);
        -ms-transform: translateX(0) translateY(0) translateZ(0) rotate(-135deg) scale(1);
        -moz-transform: translateX(0) translateY(0) translateZ(0) rotate(-135deg) scale(1);
        -webkit-transform: translateX(0) translateY(0) translateZ(0) rotate(-135deg) scale(1);
      }
      .navbar-toggler.active .icon::after,
      .navbar-toggler.active .icon::before {
        background-color: $white;
      }
      .navbar-toggler.active .icon {
        background-color: transparent;
      }
      .navbar-toggler:focus {
        outline: 0 !important;
      }
      .strict {
        background-color: rgba(0, 0, 0, 0.9);
        padding-bottom: 65px;
      }
      .navbar-toggler {
        padding: 15px;
        margin-right: 15px;
        margin-left: 15px;
        margin-top: 30px;
        z-index: 1000;
        -webkit-transition: all 0.4s ease-out;
        -moz-transition: all 0.4s ease-out;
        -o-transition: all 0.4s ease-out;
        -ms-transition: all 0.4s ease-out;
        transition: all 0.4s ease-out;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        display: block;
      }
       .navbar-header .navbar-toggler .icon-bar {
        background-color: $main-color;
        -webkit-transition: all 0.4s ease-out;
        -moz-transition: all 0.4s ease-out;
        -o-transition: all 0.4s ease-out;
        -ms-transition: all 0.4s ease-out;
        transition: all 0.4s ease-out;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
       .navbar-header .navbar-toggler.active .icon-bar {
        background-color: $white;
      }
      /*-------------------------------*/
      /*            Overlay            */
      /*-------------------------------*/
      .overlay {
        position: fixed;
        display: none;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.8);
        z-index: 3;
      }
      .overlay.active {
        display: block;
      }
      /*  Navigation Menu */
      .navbar-collapse {
        position: fixed;
        top: 0;
        bottom: 0;
        width: 320px;
        left: 0;
        z-index: 990;
        margin-top: 0px;
        padding: 0;
        background-color: $main-color;
        transform: translateX(-100%) translateY(0) translateZ(0) rotate(0deg) scale(1);
        -o-transform: translateX(-100%) translateY(0) translateZ(0) rotate(0deg) scale(1);
        -ms-transform: translateX(-100%) translateY(0) translateZ(0) rotate(0deg) scale(1);
        -moz-transform: translateX(-100%) translateY(0) translateZ(0) rotate(0deg) scale(1);
        -webkit-transform: translateX(-100%) translateY(0) translateZ(0) rotate(0deg) scale(1);
        -webkit-transition: all 0.4s ease-out;
        -moz-transition: all 0.4s ease-out;
        -o-transition: all 0.4s ease-out;
        -ms-transition: all 0.4s ease-out;
        transition: all 0.4s ease-out;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        overflow-y: none;
      }
      .navbar-collapse .nav {
        margin-top: 75px;
        border-top: 1px solid;
        border-top-color: rgba(255, 255, 255, 0.1);
        padding: 20px;
      }
      .navbar-collapse .nav li {
        text-align: center;
        margin-bottom: 0px;
        width: 100%;
        display: block;
        -webkit-transition: all 0.4s ease-out;
        -moz-transition: all 0.4s ease-out;
        -o-transition: all 0.4s ease-out;
        -ms-transition: all 0.4s ease-out;
        transition: all 0.4s ease-out;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        transform: translate3d(-20px, -10px, 0);
      }
      .navbar-collapse .nav li a {
        background-color: transparent;
        text-transform: uppercase;
        font-size: 17px;
        line-height: 26px;
      }
      .navbar-collapse .nav li a:hover {
        color: white !important;
        background: transparent;
      }
      .navbar-collapse .nav li a.active {
        color: $white;
      }
      .navbar-collapse .nav li.active {
        color: $white;
      }
      .navbar-collapse.active {
        transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1);
        -o-transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1);
        -ms-transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1);
        -moz-transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1);
        -webkit-transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1);
      }
      .collapse.in {
        background-color: rgba(0, 0, 0, 0.9);
      }
        .navbar-dark .navbar-toggler {
          border-color: transparent;
        }
        .navbar-dark .navbar-toggler-icon {
            background-image: inherit;
        }
    }
    .mh-home .mh-header-info {
        padding: 0;
    }
    .mh-header {
        padding: 10px 0;
    }
    .home-padding {
        padding: 100px 0;
    }
    .mh-about .mh-about-inner {
        padding-left: 5px;
    }

    .mh-home .mh-header-info {
        h2 {
            font-size: 42px;
            font-weight: 600;
            line-height: 54px;
        }
        h4 {
            font-size: 20px;
            line-height: 24px;
        }
    }
    .mh-nav {
        padding: 0;
    }
    .mh-professional-skills {
        padding-left: 0;
    }
    .mh-skills .mh-professional-skill {
        padding-right: 0;
    }
    .mh-home .mh-header-info .mh-promo {
        margin-bottom: 20px;
    }
    .nav-strict {
        .navbar-toggler {
            margin-top: 0px;
        }
    }
    .mh-footer-3 .mh-footer-address .mh-address-footer-item .each-info {
        padding-left: 20px;
    }
    .mh-blog-sidebar {
        .social-icon li {
            margin-right: 2px;
        }
    }

    .mh-xs-mobile-nav .navbar-nav {
        padding-top: 50px;
        padding-right: 20px;
    }
}
@media only screen and (max-width: 768px) {
    .mh-blog .mh-blog-item {
        text-align: center;
    }
    .blog-form-inner {
        padding: 10px;
    }
    .mh-blog .mh-blog-item .blog-inner {
        padding: 0px;
    }
    .mh-blog-next-prev-post {
        text-align: center !important;
            margin: 10px 0;
    }
    .mh-blog .mh-blog-item img {
        margin-bottom: 30px;
        margin: 0 auto;
        float: none;
        text-align: center;
        margin-bottom: 20px;
        width: 100%;
    }
    .mh-blog .mh-blog-item h2 {
        margin-bottom: 14px;
        font-weight: bold;
        font-size: 18px;
        line-height: 30px;
    }
    .mh-experince h3 {
        margin-bottom: 30px;
    }
    .mh-work h3 {
        margin-bottom: 30px;
        margin-top: 30px;
    }
    .mh-work {
        padding-left: 0;
    }
    .mh-education {
        padding-right: 0;
    }
    .mh-skills .mh-professional-skill h3 {
        margin-bottom: 30px;
    }
    .mh-professional-skills h3 {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .mh-about .mh-about-inner {
        margin-top: 40px;
    }
    .mh-footer-address .mh-address-footer-item .each-icon .fa {
        width: 70px;
        height: 70px;
        line-height: 70px
    }
    .mh-home-2 .mh-header-info ul.mh-home-contact li {
        display: inline-block;
        margin: 10px 15px;
        width: 40%;
        text-align: left;
    }
    .mh-testimonial .mh-client-item {
        padding: 30px 10px;
    }
    .mh-home-2 .mh-header-info .mh-about-tag {
        width: 100%;
    }
    .mh-blog .mh-blog-item .blog-inner {
        text-align: left;
    }
    .single-comment {
        margin: 0 auto;
        text-align: center;
        display: block;
        margin-top: 30px;
        img {
            margin-bottom: 20px;
        }
    }

    .mh-blog .mh-blog-item .blog-inner {
        text-align: center;
        padding: 0 12px;
        padding-bottom: 15px;
    }

    .mh-single-project-slide-by-side .owl-prev {
        top: 98%;
        left: 20%;
    }
    .mh-single-project-slide-by-side .owl-next {
        top: 98%;
        right: 20%;
    }
    .mh-single-project-slide-by-side {
        padding-bottom: 30px;
    }

}

@media only screen and (max-width: 575px) {
      .xs-column-reverse {
          display: flex;
          flex-direction: column-reverse;
      }
      .mh-header {
          padding: 0;
      }

      .home-padding {
          padding: 100px 0;
      }
    .mh-home .hero-img {
        margin-bottom: 30px;
    }
    .mh-home .mh-header-info {
        padding: 0;
        text-align: center;
        margin-top: 40px;
    }
    .mh-about .mh-about-inner {
        padding-left: 5px;
        text-align: center;
        margin: 30px 15px;
    }
    .mh-skills .mh-professional-skill {
        padding-right: 0;
        padding: 0 15px;
    }
    .mh-experince h3 {
        margin-bottom: 30px;
        text-align: center;
    }
    .mh-education {
        margin-bottom: 30px;
        padding-right: 0;
    }
    .mh-work {
        padding-left: 0;
        margin-bottom: 30px;
    }
    .portfolio-nav ul li {
        margin-bottom: 20px;
    }
    .mh-skills .mh-professional-skill {
        margin-bottom: 50px;
    }
    .section-separator {
        padding: 30px 0;
    }
    .mh-home .mh-header-info .mh-promo {
        margin-bottom: 20px;
    }
    .mh-featured-project-content {
        margin-top: 40px;
        text-align: center;
    }
    .mh-featured-project .mh-featured-item .mh-featured-project-content p {
        text-align: center;
    }
    .mh-quates .each-quates {
        padding: 30px;
    }
    .mh-map {
        padding: 0px;
        margin-top: 40px;
    }

    .mh-home-2 .mh-header-info ul.mh-home-contact li {
        width: 100%;
        margin: 6px 10px;
    }

    .mh-footer-3 .mh-footer-address .mh-address-footer-item {
        display: block;
        padding: 20px 0px;
    }

    .mh-footer-3 .mh-footer-address .mh-address-footer-item .each-info {
        padding-left: 20px;
        text-align: center;
    }
    .mh-footer-3 .mh-footer-address .mh-address-footer-item .each-info {
        padding-left: 0;
        text-align: center;
    }
    .xs-no-padding {
        padding: 0;
    }
    .mh-home-2 .mh-header-info {
        text-align: center;
        padding-top: 50px;
    }
    .mh-gallery-modal-inner {
        margin-right: 0;
    }
    .mh-gallery-modal {
        padding: 10px;
    }
    .mh-gallery-modal-img {
            margin-top: 50px;
    }

    .mh-service .mh-service-item {
        margin-bottom: 20px;
        text-align: center;
    }
    .social-icon {
        display: block;
        margin: 0 auto;
        float: none;
        text-align: center;
    }

    .social-icon li {
        list-style: none;
        float: none;
        text-align: center;
        display: inline-block;
        margin-bottom: 0px;
        margin-right: 4px;
        margin-left: 4px;
    }

    .text-left.text-xs-center{
        text-align: center !important;
    }

}

@media only screen and (max-width: 420px) {
    .mh-home .img-border {
        height: 280px;
        width: 280px;
    }
    .home-padding {
        padding: 60px 0;
    }
}
